.label.tag
  width: 60px
  height: 27px
  display: block
  margin: 0 auto 0 auto
  padding-top: 8px
  font-size: 11px

.tag-black
  background-color: black !important
  color: white
.tag-brown
  background-color: #ebc0a2 !important
  color: #656565
.tag-grey
  background-color: #e6e6e6 !important
  color: #656565
.tag-red
  background-color: #f2d9e1 !important
  color: #656565
.tag-orange
  background-color: #f2e8d9 !important
  color: #656565
.tag-yellow
  background-color: #eaf2d9 !important
  color: #656565
.tag-green
  background-color: #d9f2d9 !important
  color: #656565
.tag-cyan
  background-color: #d9f2ec !important
  color: #656565
.tag-blue
  background-color: #d9e8f2 !important
  color: #656565
.tag-purple
  background-color: #dad9f2 !important
  color: #656565
.tag-pink
  background-color: #efd9f2 !important
  color: #656565
.tag-white
  background-color: white !important
  color: #656565
.tag-unselected
  background-color: unset !important
  color: #656565