<!-- Main content -->
<div class="content body tds-kendo-grid provider-list-component">
	<section>
		<div *ngIf="providerColumnModel">
			<div class="box-body box-with-empty-header">
				<kendo-grid
					*ngIf="dataGridOperationsHelper"
					[data]="dataGridOperationsHelper.gridData"
					[filter]="dataGridOperationsHelper.state.filter"
					[filterable]="true"
					(filterChange)="dataGridOperationsHelper.filterChange($event)"
					[sort]="dataGridOperationsHelper.state.sort"
					[sortable]="{mode:'single', allowUnsort: false}"
					[resizable]="true"
					(sortChange)="dataGridOperationsHelper.sortChange($event)"
					[pageSize]="dataGridOperationsHelper.state.take"
					[skip]="dataGridOperationsHelper.state.skip"
					[pageable]="{pageSizes: dataGridOperationsHelper.defaultPageOptions, info: true}"
					[selectable]="selectableSettings"
					[ngClass]="{ 'hide-filter': !showFilters }"
					class="page-height row-actions-2-children fixed-context-menu"
				>
					<ng-template kendoGridToolbarTemplate [position]="'top'">
						<div class="clr-row">
							<div class="clr-col-12">
								<div class="pull-right">
									<tds-grid-header-action-buttons
											[actionButtons]="headerActionButtons"
											(clearFilters)="clearAllFilters()"
											[disableClearFilters]="disabledClearFilters"
											(refresh)="reloadData()">
									</tds-grid-header-action-buttons>
								</div>
							</div>
						</div>
					</ng-template>

					<!-- Show Filters / Actions column -->
					<kendo-grid-column
						[width]="60"
						[class]="{ 'k-custom-command-column': true }"
						[minResizableWidth]="60"
					>
						<ng-template
							kendoGridHeaderTemplate
							let-column
							let-columnIndex="columnIndex"
						>
							<tds-button [flat]="true" (click)="toggleFilter()">
								<clr-icon
									shape="filter"
									class="grid-filter-button is-solid"
								>
									<span
										*ngIf="filterCount(); let filterCounter"
										class="badge badge-warning"
									>
										{{ filterCounter }}
									</span>
								</clr-icon>
							</tds-button>
						</ng-template>

						<ng-template
							kendoGridCellTemplate
							let-dataItem
							let-rowIndex="rowIndex"
						>
							<div class="action-button btn-link">
								<clr-dropdown>
									<tds-button
										icon="ellipsis-vertical"
										clrDropdownTrigger
									></tds-button>

									<clr-dropdown-menu
										*clrIfOpen
										clrPosition="bottom-left"
									>
										<a
											clrDropdownItem
											(click)="onEdit(dataItem)"
											[disabled]="!isUpdateAvailable()"
										>
											Edit
										</a>
										<a
											clrDropdownItem
											(click)="onDelete(dataItem)"
											[disabled]="!isDeleteAvailable()"
										>
											Delete
										</a>
									</clr-dropdown-menu>
								</clr-dropdown>
							</div>
						</ng-template>
					</kendo-grid-column>

					<!-- Configured View Columns (*ngFor) -->
					<kendo-grid-column
						*ngFor="let column of gridColumns"
						field="{{ column.property }}"
						format="{{ column.format }}"
						[locked]="column.locked"
						[width]="
							!column.width ? COLUMN_MIN_WIDTH : column.width
						"
					>
						<ng-template kendoGridHeaderTemplate>
							<div
								class="sortable-column">
								<label> {{ column.label }}</label>
							</div>
						</ng-template>

						<ng-template kendoGridCellTemplate *ngIf="column.isActionable" let-dataItem>
								<span class="is-grid-link" (click)="cellClick(dataItem)">
									{{dataItem[column.property]}}
								</span>
						</ng-template>

						<ng-template kendoGridFilterCellTemplate let-filter>
							<div
								class="filter-input"
								*ngIf="column.property && column.type !== 'action'"
								style="margin-bottom:0px;"
							>
								<tds-filter-input
										name="{{column.property}}"
										[value]="column.filter || ''"
                                        [columnType]="column.type"
										placeholder="{{'GLOBAL.FILTER' | translate}}"
										(filter)="dataGridOperationsHelper.onFilterWithValue($event, column)">
								</tds-filter-input>
							</div>
						</ng-template>
					</kendo-grid-column>

					<!-- PAGER COMPONENT -->
					<ng-template
						kendoPagerTemplate
						let-total="total"
						let-totalPages="totalPages"
						let-currentPage="currentPage"
					>
						<div class="clr-col-12">
							<tds-grid-pager
								[total]="total"
								[totalPages]="totalPages"
								[currentPage]="currentPage"
								[pageSize]="pageSize"
								[pageSizes]="defaultPageOptions"
								(pageChange)="dataGridOperationsHelper.pageChange($event)"
							>
							</tds-grid-pager>
						</div>
					</ng-template>
				</kendo-grid>
			</div>
			<!-- /.box-body -->
		</div>
	</section>
</div>
