<div class="dependents-component dialog-inner-tables">
	<div tdsScrollSection class="clr-row">
		<div class="clr-col-12 table-data-section">
			<div class="tds-table">
				<div class="clr-row tool-bar-wrapper">
					<div class="grid-label clr-col-4">
						<strong>Supports</strong>
					</div>
				</div>
				<div class="view-dependencies">
					<kendo-grid
						*ngIf="gridSupportsData"
						class="tds-table narrow-rows clickable-rows"
						[ngClass]="{ 'hide-filter': !showFilterSup, 'hide-paginator': dependencies.supports.length <= 25}"
						[data]="gridSupportsData.gridData"
						[filterable]="true"
						[sort]="gridSupportsData.state.sort"
						[sortable]="{mode:'single'}"
						(sortChange)="gridSupportsData.sortChange($event)"
						[skip]="gridSupportsData.state.skip"
						[pageable]="{buttonCount: 5, info: true, pageSizes: [25, 50, 100]}"
						[pageSize]="gridSupportsData.state.take"
						[resizable]="true"
					>
						<!-- Show Filters / Actions column -->
						<kendo-grid-column
								[field]="'_showFilters'"
								[headerClass]="'text-center'"
								[sortable]="false"
								[class]="{ 'k-custom-command-column': true, 'actions-column': true }"
								[width]="80"
								[minResizableWidth]="80">
							<!-- Toggle Filters button -->
							<ng-template kendoGridHeaderTemplate>
								<tds-grid-show-hide-filters-button
										[filterCount]="gridSupportsData.getFilterCounter()" (toggleFilters)="showFilterSupports()">
								</tds-grid-show-hide-filters-button>
							</ng-template>
							<!-- Clear all Filters button -->
							<ng-template kendoGridFilterCellTemplate let-filter>
								<tds-grid-clear-all-filters-button
										[show]="gridSupportsData.getFilterCounter()" (clearFilters)="onClearSupportFilters()">
								</tds-grid-clear-all-filters-button>
							</ng-template>
							<ng-template
									kendoGridCellTemplate
									let-dataItem
									let-rowIndex="rowIndex"
							>
								<div class="action-button btn-link">
									<clr-dropdown #dropdown>
										<tds-button icon="ellipsis-vertical"
													clrDropdownTrigger
													tdsGridContextMenuFixedPosition [clrDropdown]="dropdown"></tds-button>
										<clr-dropdown-menu *clrIfOpen>
											<a clrDropdownItem
											   (click)="showAssetDetailView(dataItem.assetClass.toUpperCase(), dataItem.assetId)"
											>Show Asset</a>
											<a clrDropdownItem
											   (click)="showDependencyView(dependentType.SUPPORT, dataItem.assetId, dependencies.asset.id)"
											>Show Dependency</a>
										</clr-dropdown-menu>
									</clr-dropdown>
								</div>
							</ng-template>
						</kendo-grid-column>
						<!-- All Columns -->
						<kendo-grid-column *ngFor="let column of supportOnColumnModel.columns"
										   field="{{column.property}}"
										   [headerClass]="column.headerClass ? column.headerClass : ''"
										   [headerStyle]="column.headerStyle ? column.headerStyle : ''"
										   [class]="column.cellClass ? column.cellClass : ''"
										   [style]="column.cellStyle ? column.cellStyle : ''"
										   [width]="!column.width ? COLUMN_MIN_WIDTH : column.width">
							<!-- Header Template -->
							<ng-template kendoGridHeaderTemplate>
								<div class="sortable-column component-action-sort">
									<div>
										<label>
											{{column.label}}
										</label>
									</div>
								</div>
							</ng-template>

							<!-- Filter Template -->
							<ng-template kendoGridFilterCellTemplate let-filter>
								<div class="filter-input"
									 *ngIf="column.property && (column.type !== 'action' && column.type !== 'number' )">
									<tds-grid-filter-input
											[name]="column.property"
											[value]="column.filter || ''"
											[filterType]="column.type"
											[dateFormat]="column.format"
											[placeholder]="'GLOBAL.FILTER' | translate"
											(filter)="gridSupportsData.onFilterWithValue($event, column)">
									</tds-grid-filter-input>
								</div>
							</ng-template>

							<ng-template kendoGridCellTemplate *ngIf="column.property === 'assetType'" let-dataItem let-rowIndex="rowIndex">
								<div class="cell-template dep-{{dataItem.status}}" (click)="showAssetDetailView(dataItem.assetClass.toUpperCase(), dataItem.assetId)">
									{{dataItem.assetType}}
								</div>
							</ng-template>

							<ng-template kendoGridCellTemplate *ngIf="column.property === 'name'" let-dataItem let-rowIndex="rowIndex">
								<div class="cell-template dep-{{dataItem.status}}" (click)="showAssetDetailView(dataItem.assetClass.toUpperCase(), dataItem.assetId)">
									{{dataItem.name}}
								</div>
							</ng-template>

							<ng-template kendoGridCellTemplate *ngIf="column.property === 'moveBundle.name'" let-dataItem let-rowIndex="rowIndex">
								<div *ngIf="dataItem?.moveBundle.id != dependencies.asset?.moveBundleId; else normalBundleNameSupport"
									 [ngClass]="getMoveBundleClass(dataItem)"
									 class="cell-template bundle"
									 (click)="showAssetDetailView(dataItem.assetClass.toUpperCase(), dataItem.assetId)">
									<div class="dependent-show">
										<!--  bundle conflict and the status is valid -->
										<div class="lbl-information text left">
											<strong><span>{{dataItem.moveBundle.name}} </span></strong>
										</div>
										<div class="lbl-information icon right">
											<span class="status status-Warning" title="The linked assets have conflicting bundles.">
												<clr-icon shape="exclamation-triangle" class="is-solid"></clr-icon>
											</span>
										</div>
									</div>
								</div>
								<ng-template #normalBundleNameSupport>
									<div class="cell-template dep-{{dataItem.status}} bundle"
										 (click)="showAssetDetailView(dataItem.assetClass.toUpperCase(), dataItem.assetId)">
										{{dataItem.moveBundle.name}}
									</div>
								</ng-template>
							</ng-template>

							<ng-template kendoGridCellTemplate *ngIf="column.property === 'type'" let-dataItem let-rowIndex="rowIndex">
								<div class="cell-template dep-{{dataItem.status}}" (click)="showDependencyView(dependentType.SUPPORT, dataItem.assetId, dependencies.asset.id)">
									{{dataItem.type}}
									<img *ngIf="dataItem.comment.length > 0" src="/tdstm/assets/icons/comment.png" border="0" title="{{dataItem.comment}}">
								</div>
							</ng-template>

							<ng-template kendoGridCellTemplate *ngIf="column.property === 'status'" let-dataItem let-rowIndex="rowIndex">
								<div class="cell-template dep-{{dataItem.status}}" (click)="showDependencyView(dependentType.SUPPORT, dataItem.assetId, dependencies.asset.id)">
									<span class="status-icon status-Ready" *ngIf="dataItem.status === 'Validated' || dataItem.status === 'Ready'">
										<fa-icon [icon]="['fas', 'thumbs-up']"></fa-icon>
									</span>
									<span class="status-icon status-Started" *ngIf="dataItem.status === 'Started'">
										<fa-icon [icon]="['fas', 'circle-notch']"></fa-icon>
									</span>
									<span class="status-icon status-Hold" *ngIf="dataItem.status === 'Hold'">
										<fa-icon [icon]="['fas', 'pause']"></fa-icon>
									</span>
									<span class="status-icon status-Completed" *ngIf="dataItem.status === 'Completed'">
										<fa-icon [icon]="['fas', 'check']"></fa-icon>
									</span>
									<span class="status-icon status-Pending" *ngIf="dataItem.status === 'Pending'">
										<fa-icon [icon]="['fas', 'hourglass-start']"></fa-icon>
									</span>
									<span class="status-icon status-Unknown" *ngIf="dataItem.status === 'Unknown'">
										<fa-icon [icon]="['fas', 'question-circle']"></fa-icon>
									</span>
									<span class="status-icon status-Archived" *ngIf="dataItem.status === 'Archived'">
										<fa-icon [icon]="['fas', 'archive']"></fa-icon>
									</span>
									<span class="status-icon status-Future" *ngIf="dataItem.status === 'Future'">
										<fa-icon [icon]="['far', 'share-square']"></fa-icon>
									</span>
									<span class="status-icon status-Validated-NA" *ngIf="dataItem.status === 'Validated_NA'">
										<fa-icon [icon]="['fas', 'square']"></fa-icon>
									</span>
									<span class="status-icon status-Not-Applicable" *ngIf="dataItem.status === 'Not Applicable'">
										<fa-icon [icon]="['fas', 'ban']"></fa-icon>
									</span>
									<span class="status-icon status-Questioned" *ngIf="dataItem.status === 'Questioned'">
										<fa-icon [icon]="['fas', 'exclamation-triangle']"></fa-icon>
									</span>
									{{dataItem.status}}
								</div>
							</ng-template>
						</kendo-grid-column>
						<!-- Pagination Footer -->
						<ng-template kendoPagerTemplate let-total="total" let-totalPages="totalPages" let-currentPage="currentPage">
							<div class="clr-col-4"></div>
							<div class="clr-col-8">
								<tds-grid-pager
										[total]="total"
										[totalPages]="totalPages"
										[currentPage]="currentPage"
										[pageSize]="gridSupportsData.state.take"
										[pageSizes]="gridSupportsData.defaultPageOptions"
										(pageChange)="gridSupportsData.pageChange($event)">
								</tds-grid-pager>
							</div>
						</ng-template>
						<kendo-grid-messages noRecords="There are no records to display."></kendo-grid-messages>
					</kendo-grid>
				</div>
			</div>
		</div>
	</div>
	<div tdsScrollSection class="clr-row">
		<div class="clr-col-12 table-data-section">
			<div class="tds-table">
				<div class="clr-row tool-bar-wrapper">
					<div class="grid-label clr-col-4">
						<strong>Depends On</strong>
					</div>
				</div>
				<div class="view-dependencies">
					<kendo-grid
						*ngIf="gridDependenciesData"
						class="tds-table narrow-rows clickable-rows"
						[ngClass]="{ 'hide-filter': !showFilterDep, 'hide-paginator': dependencies.dependents.length <= 25}"
						[data]="gridDependenciesData.gridData"
						[filterable]="true"
						[sort]="gridDependenciesData.state.sort"
						[sortable]="{mode:'single'}"
						(sortChange)="gridDependenciesData.sortChange($event)"
						[skip]="gridDependenciesData.state.skip"
						[pageable]="{buttonCount: 5, info: true, pageSizes: [25, 50, 100]}"
						[pageSize]="gridDependenciesData.state.take"
						[resizable]="true"
					>
						<!-- Show Filters / Actions column -->
						<kendo-grid-column
								[field]="'_showFilters'"
								[headerClass]="'text-center'"
								[sortable]="false"
								[class]="{ 'k-custom-command-column': true, 'actions-column': true }"
								[width]="80"
								[minResizableWidth]="80">
							<!-- Toggle Filters button -->
							<ng-template kendoGridHeaderTemplate>
								<tds-grid-show-hide-filters-button
										[filterCount]="gridDependenciesData.getFilterCounter()" (toggleFilters)="showFilterDependents()">
								</tds-grid-show-hide-filters-button>
							</ng-template>
							<!-- Clear all Filters button -->
							<ng-template kendoGridFilterCellTemplate let-filter>
								<tds-grid-clear-all-filters-button
										[show]="gridDependenciesData.getFilterCounter()" (clearFilters)="onClearDependentFilters()">
								</tds-grid-clear-all-filters-button>
							</ng-template>
							<ng-template
									kendoGridCellTemplate
									let-dataItem
									let-rowIndex="rowIndex"
							>
								<div class="action-button btn-link">
									<clr-dropdown #dropdown>
										<tds-button icon="ellipsis-vertical"
													clrDropdownTrigger
													tdsGridContextMenuFixedPosition [clrDropdown]="dropdown"></tds-button>
										<clr-dropdown-menu *clrIfOpen>
											<a clrDropdownItem
											   (click)="showAssetDetailView(dataItem.assetClass.toUpperCase(), dataItem.assetId)"
											>Show Asset</a>
											<a clrDropdownItem
											   (click)="showDependencyView(dependentType.DEPENDENT, dependencies.asset.id, dataItem.assetId)"
											>Show Dependency</a>
										</clr-dropdown-menu>
									</clr-dropdown>
								</div>
							</ng-template>
						</kendo-grid-column>
						<!-- All Columns -->
						<kendo-grid-column *ngFor="let column of dependentOnColumnModel.columns"
										   field="{{column.property}}"
										   [headerClass]="column.headerClass ? column.headerClass : ''"
										   [headerStyle]="column.headerStyle ? column.headerStyle : ''"
										   [class]="column.cellClass ? column.cellClass : ''"
										   [style]="column.cellStyle ? column.cellStyle : ''"
										   [width]="!column.width ? COLUMN_MIN_WIDTH : column.width">
							<!-- Header Template -->
							<ng-template kendoGridHeaderTemplate>
								<div class="sortable-column component-action-sort">
									<div>
										<label>
											{{column.label}}
										</label>
									</div>
								</div>
							</ng-template>

							<!-- Filter Template -->
							<ng-template kendoGridFilterCellTemplate let-filter>
								<div class="filter-input"
									 *ngIf="column.property && (column.type !== 'action' && column.type !== 'number' )">
									<tds-grid-filter-input
											[name]="column.property"
											[value]="column.filter || ''"
											[filterType]="column.type"
											[dateFormat]="column.format"
											[placeholder]="'GLOBAL.FILTER' | translate"
											(filter)="gridDependenciesData.onFilterWithValue($event, column)">
									</tds-grid-filter-input>
								</div>
							</ng-template>

							<ng-template kendoGridCellTemplate *ngIf="column.property === 'assetType'" let-dataItem let-rowIndex="rowIndex">
								<div class="cell-template dep-{{dataItem.status}}" (click)="showAssetDetailView(dataItem.assetClass.toUpperCase(), dataItem.assetId)">
									{{dataItem.assetType}}
								</div>
							</ng-template>

							<ng-template kendoGridCellTemplate *ngIf="column.property === 'name'" let-dataItem let-rowIndex="rowIndex">
								<div class="cell-template dep-{{dataItem.status}}" (click)="showAssetDetailView(dataItem.assetClass.toUpperCase(), dataItem.assetId)">
									{{dataItem.name}}
								</div>
							</ng-template>

							<ng-template kendoGridCellTemplate *ngIf="column.property === 'moveBundle.name'" let-dataItem let-rowIndex="rowIndex">
								<div [ngClass]="getMoveBundleClass(dataItem)" *ngIf="dataItem?.moveBundle.id != dependencies.asset?.moveBundleId; else normalBundleNameDependent"
									 class="cell-template bundle"
									 (click)="showAssetDetailView(dataItem.assetClass.toUpperCase(), dataItem.assetId)">
									<div class="dependent-show">
										<!--  bundle conflict and the status is valid -->
										<div class="lbl-information text left">
											<strong><span>{{dataItem.moveBundle.name}} </span></strong>
										</div>
										<div class="lbl-information icon right">
											<span class="status status-Warning" title="The linked assets have conflicting bundles.">
												<clr-icon shape="exclamation-triangle" class="is-solid"></clr-icon>
											</span>
										</div>
									</div>
								</div>
								<ng-template #normalBundleNameDependent>
									<div class="cell-template dep-{{dataItem.status}} bundle" (click)="showAssetDetailView(dataItem.assetClass.toUpperCase(), dataItem.assetId)">
										{{dataItem.moveBundle.name}}
									</div>
								</ng-template>
							</ng-template>

							<ng-template kendoGridCellTemplate *ngIf="column.property === 'type'" let-dataItem let-rowIndex="rowIndex">
								<div class="cell-template dep-{{dataItem.status}}" (click)="showDependencyView(dependentType.DEPENDENT, dependencies.asset.id, dataItem.assetId)">
									{{dataItem.type}}
									<img *ngIf="dataItem.comment.length > 0" src="/tdstm/assets/icons/comment.png" border="0" title="{{dataItem.comment}}">
								</div>
							</ng-template>

							<ng-template kendoGridCellTemplate *ngIf="column.property === 'status'" let-dataItem let-rowIndex="rowIndex">
								<div class="cell-template dep-{{dataItem.status}}" (click)="showDependencyView(dependentType.DEPENDENT, dependencies.asset.id, dataItem.assetId)">
									<span class="status-icon status-Ready" *ngIf="dataItem.status === 'Validated' || dataItem.status === 'Ready'">
										<fa-icon [icon]="['fas', 'thumbs-up']"></fa-icon>
									</span>
									<span class="status-icon status-Started" *ngIf="dataItem.status === 'Started'">
										<fa-icon [icon]="['fas', 'circle-notch']"></fa-icon>
									</span>
									<span class="status-icon status-Hold" *ngIf="dataItem.status === 'Hold'">
										<fa-icon [icon]="['fas', 'pause']"></fa-icon>
									</span>
									<span class="status-icon status-Completed" *ngIf="dataItem.status === 'Completed'">
										<fa-icon [icon]="['fas', 'check']"></fa-icon>
									</span>
									<span class="status-icon status-Pending" *ngIf="dataItem.status === 'Pending'">
										<fa-icon [icon]="['fas', 'hourglass-start']"></fa-icon>
									</span>
									<span class="status-icon status-Unknown" *ngIf="dataItem.status === 'Unknown'">
										<fa-icon [icon]="['fas', 'question-circle']"></fa-icon>
									</span>
									<span class="status-icon status-Archived" *ngIf="dataItem.status === 'Archived'">
										<fa-icon [icon]="['fas', 'archive']"></fa-icon>
									</span>
									<span class="status-icon status-Future" *ngIf="dataItem.status === 'Future'">
										<fa-icon [icon]="['far', 'share-square']"></fa-icon>
									</span>
									<span class="status-icon status-Validated-NA" *ngIf="dataItem.status === 'Validated_NA'">
										<fa-icon [icon]="['fas', 'square']"></fa-icon>
									</span>
									<span class="status-icon status-Not-Applicable" *ngIf="dataItem.status === 'Not Applicable'">
										<fa-icon [icon]="['fas', 'ban']"></fa-icon>
									</span>
									<span class="status-icon status-Questioned" *ngIf="dataItem.status === 'Questioned'">
										<fa-icon [icon]="['fas', 'exclamation-triangle']"></fa-icon>
									</span>
									{{dataItem.status}}
								</div>
							</ng-template>

						</kendo-grid-column>
						<!-- Pagination Footer -->
						<ng-template kendoPagerTemplate let-total="total" let-totalPages="totalPages" let-currentPage="currentPage">
							<div class="clr-col-4"></div>
							<div class="clr-col-8">
								<tds-grid-pager
										[total]="total"
										[totalPages]="totalPages"
										[currentPage]="currentPage"
										[pageSize]="gridDependenciesData.state.take"
										[pageSizes]="gridDependenciesData.defaultPageOptions"
										(pageChange)="gridDependenciesData.pageChange($event)">
								</tds-grid-pager>
							</div>
						</ng-template>
						<kendo-grid-messages noRecords="There are no records to display."></kendo-grid-messages>
					</kendo-grid>
				</div>
			</div>
		</div>
	</div>
</div>
