.aka-component
  .aka-items
    max-height: 200px
    overflow: auto
    .aka-item
      margin-bottom: 8px
      display: flex
      justify-content: space-between
      align-items: center
  input
    width: 90%
  button
    font-weight: bold
  .aka-items .delete-aka
    cursor: pointer
