.date-range-selector-component
  $start-color: #29a36f
  $end-color: #5f9fcf
  .modal-dialog
    width: 630px
    .modal-content
      kendo-multiviewcalendar
        width: 100%
      width: 630px
      .times-container
        display: flex
      .times-section
        flex: 50%
        kendo-dateinput
          width: 100%
          input
            text-align: center
      .duration-controls
        display: flex
        align-items: center
        justify-content: center
        .duration-value
          margin-right: 15px
          margin-top: 10px
          cursor: pointer
          input
            width: 40px
            text-align: center
          .label-part
            font-weight: normal
    .k-calendar.k-calendar-range
      .k-calendar-view
        .k-range-start
          .k-link
            background-color: $start-color
        .k-range-end
          .k-link
            background-color: $end-color
    .k-calendar.k-calendar-range
      .k-calendar-view
        td.k-range-start.k-range-end
          .k-link
            background: linear-gradient(to right, $start-color 0%,$start-color 50%,$start-color 50%,$end-color 50%,$end-color 100%)


  .k-calendar.k-calendar-range table > tbody + tbody
    margin-left: 1px !important