.layered-digraph-layout-container {
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
}

.overview-container {
  position: absolute;
  width: 200px;
  height: 100px;
  top: 10px;
  left: 15px;
  background-color: aliceblue;
  z-index: 300; /* make sure its in front */
  border: solid 1px blue;
}

.reset-overview-index {
  z-index: 2;
}
