
.diagram-layout-container {
  position: relative;
  //padding-left: 15px;
  //padding-right: 15px;
  height: 100%;
}

#diagram-layout {
  width: 100% !important;
}

.overview-container {
  position: absolute;
  width: 200px;
  height: 100px;
  bottom: 20px;
  right: 15px;
  background-color: aliceblue;
  z-index: 300; /* make sure its in front */
  border: solid 1px blue;
}

.reset-overview-index {
  z-index: 2;
}

#graph-control-btn-group {
  position: absolute;
  bottom: 40px;
  left: 40px;
  z-index: 999;
}

#graph-control-btn-group > .btn {
  background-color: #dddddd;
}
