.tds-filter-input
	display: flex
	justify-content: space-between
	align-items: center
	input
		height: 24px
		padding: 2px
	.icon-container
		display: flex
		justify-content: flex-end
		margin-left: 5px
	.clear-filter
		width: 16px
		cursor: pointer
		pointer-events: all
		color: #3C8DBC
