.power-component
	padding-right: 5px
	display: flex
	justify-content: space-between
	.arrows
	  display: flex
	  flex-basis: 5%
	  justify-content: center
	  align-items: center
	  cursor: pointer
	.unit
		flex-basis: 15%
		flex-grow: 0
	.k-dropdown
		max-width: 80px

.power-component .arrows,
.power-component input
	max-width: 100%
	width: 100%

.power-component .max,
.power-component .design,
.power-component .average
	flex-basis: 20%
	flex-grow: 0
