tds-supports-depends
  .tds-button-custom
    display: flex
    align-items: baseline
    div
      padding-right: 2px
  .hide-filter
    .k-filter-row
      display: none
  .btn-filter-dependencies
    float: right
    margin-right: 11px
    margin-top: 3px
    cursor: pointer
