tds-supports-depends
  .tds-button-custom
    display: flex
    align-items: baseline
    div
      padding-right: 2px
  .hide-filter
    .k-filter-row
      display: none
  kendo-pager
    .pager-default
      flex: 1
    .pager-default-height
      height: 25px
      padding-top: 5px
      flex: 1
      kendo-pager-info
        float: right
        padding-right: 15px
  .btn-filter-dependencies
    float: right
    margin-right: 11px
    margin-top: 3px
    cursor: pointer
