tds-supports-depends
  kendo-grid.k-grid
    kendo-dropdownlist.k-dropdown
      .k-dropdown-wrap
        padding-top: 3px
        border-bottom-width: 0

  .tds-table
    .grid-label
      line-height: 55px !important

  .tds-button-custom
    display: flex
    align-items: baseline
    div
      padding-right: 2px
  clr-dropdown
    .ellipsis-button
      &:focus-within
        clr-icon
          box-shadow: 0 0 10px #9ecaed
