<div tds-autofocus tds-handle-escape (escPressed)="cancelCloseDialog()" class="modal-content user-edit-person-component">
    <div class="modal-header">
        <button (click)="cancelCloseDialog()" type="button" class="close" aria-label="Close"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title">Edit Person</h4>
    </div>
    <div class="modal-body old-legacy-content">
        <form (ngSubmit)="submitPreferences($event)">
            <div id="personDialog" title="Edit Person" class="static-dialog">
                <div class="dialog">
                    <table>
                        <tbody>
                            <tr>
                                <td colspan="2"><div class="required"> Fields marked ( * ) are mandatory </div> </td>
                            </tr>

                            <tr class="prop">
                                <td valign="top" class="name">
                                    <label for="firstNameId"><b>First Name:&nbsp;<span style="color: red">*</span></b></label>
                                </td>
                                <td valign="top" class="value">
                                    <input type="text" maxlength="64" id="firstNameId" name="firstName" [(ngModel)]="personModel.firstName"/>
                                </td>
                            </tr>

                            <tr class="prop" style="display:none;">
                                <td valign="top" class="name">
                                    <label for="prefUsernameId"><b>User Name:&nbsp;<span style="color: red">*</span></b></label>
                                </td>
                                <td valign="top" class="value">
                                    <input type="text" maxlength="64" id="prefUsernameId" name="username"/>
                                </td>
                            </tr>

                            <tr class="prop">
                                <td valign="top" class="name">
                                    <label for="middleNameId">Middle Name:</label>
                                </td>
                                <td valign="top" class="value">
                                    <input type="text" maxlength="64" id="middleNameId" name="middleName" [(ngModel)]="personModel.middleName"/>
                                </td>
                            </tr>

                            <tr class="prop">
                                <td valign="top" class="name">
                                    <label for="lastNameId">Last Name:</label>
                                </td>
                                <td valign="top" class="value">
                                    <input type="text" maxlength="64" id="lastNameId" name="lastName" [(ngModel)]="personModel.lastName"/>
                                </td>
                            </tr>

                            <tr class="prop">
                                <td valign="top" class="name">
                                    <label for="nickNameId">Nick Name:</label>
                                </td>
                                <td valign="top" class="value">
                                    <input type="text" maxlength="64" id="nickNameId" name="nickName" [(ngModel)]="personModel.nickName"/>
                                </td>
                            </tr>
                            <tr class="prop">
                                <td valign="top" class="name">
                                    <label for="titleId">Title:</label>
                                </td>
                                <td valign="top" class="value">
                                    <input type="text" maxlength="34" id="titleId" name="title" [(ngModel)]="personModel.title"/>
                                </td>
                            </tr>
                            <tr class="prop">
                                <td valign="top" class="name">
                                    <label for="emailId">Email:</label>
                                </td>
                                <td valign="top" class="value">
                                    <input type="text" maxlength="64" id="emailId" name="email" [(ngModel)]="personModel.email"/>
                                </td>
                            </tr>
                            <tr class="prop">
                                <td valign="top" class="name">
                                    <label>Start Page:</label>
                                </td>
                                <td valign="top" class="value">
                                    <kendo-dropdownlist
                                            name="startPage"
                                            [(ngModel)]="editableUserPreferences.START_PAGE"
                                            [data]="startPageOptions">
                                    </kendo-dropdownlist>
                                </td>
                            </tr>

                            <tr class="prop">
                                <td valign="top" class="name">
                                    <label for="powerTypeId">Power In:</label>
                                </td>
                                <td valign="top" class="value">
                                    <kendo-dropdownlist
                                        name="powerType"
                                        id="powerTypeId"
                                        [(ngModel)]="editableUserPreferences.CURR_POWER_TYPE"
                                        [data]="['Watts','Amps']">
                                    </kendo-dropdownlist>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <tds-password-change [passwordChangeModel]="passwordChangeModel"></tds-password-change>
                </div>
            </div>
            <div class="buttons">
                <span class="button"><input type="submit" class="edit" value="Update"/></span>
                <span class="button"><input type="button" class="cancel" (click)="cancelCloseDialog()" value="Cancel" /></span>
            </div>
        </form>
    </div>
</div>