<div class="modal fade in asset-dependency-component" id="assetDependency" data-backdrop="static" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button (click)="cancelCloseDialog()" type="button" class="close" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">{{'ASSET_EXPLORER.DEPENDENCY_DETAIL'|translate}}</h4>
            </div>
            <div class="modal-body comment-dialog-content">
                <table class="table table-striped" style="border: 0px; margin-bottom: 0px;">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Class</th>
                            <th>Environment</th>
                            <th>Bundle</th>
                            <th>Plan Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{assetDependency?.assetA?.name}}</td>
                            <td>{{assetDependency?.assetA?.assetClass}}</td>
                            <td>{{assetDependency?.assetA?.environment}}</td>
                            <td>{{assetDependency?.assetA?.bundle}}</td>
                            <td>{{assetDependency?.assetA?.planStatus}}</td>
                        </tr>
                        <tr>
                            <td colspan="5" class="lbl-asset-dependency-direction">
                                <span *ngIf="assetDependency?.assetA?.dependency?.id && !assetDependency?.assetB?.dependency?.id">
                                    <i class="fa fa-fw fa-long-arrow-down"></i> Depends On</span>
                                <span *ngIf="assetDependency?.assetA?.dependency?.id && assetDependency?.assetB?.dependency?.id">
                                    <i class="fa fa-fw fa-arrows-v"></i> Bi-Directional Dependencies</span>
                                <span *ngIf="!assetDependency?.assetA?.dependency?.id && !assetDependency?.assetB?.dependency?.id" style="color: darkred;">
                                    <span class="glyphicon glyphicon-remove"></span> Dependency was not found.</span>
                            </td>
                        </tr>
                        <tr>
                            <td>{{assetDependency?.assetB?.name}}</td>
                            <td>{{assetDependency?.assetB?.assetClass}}</td>
                            <td>{{assetDependency?.assetB?.environment}}</td>
                            <td>{{assetDependency?.assetB?.bundle}}</td>
                            <td>{{assetDependency?.assetB?.planStatus}}</td>
                        </tr>
                    </tbody>
                </table>

                <div class="dependencies" 
                     *ngIf="assetDependency?.assetA?.dependency?.id || assetDependency?.assetB?.dependency?.id">
                    <div class="dependency-row has-both-dependencies" 
                        *ngIf="assetDependency?.assetA?.dependency?.id && assetDependency?.assetB?.dependency?.id">

                        <div class="dependency-row-legend"></div>

                        <div>
                            {{assetDependency.assetA.name}} <br />
                            <i class="fa fa-fw fa-long-arrow-down"></i> <span class="depends-on">Depends On</span><br />
                            {{assetDependency.assetB.name}}
                        </div>
                        <div>
                            {{assetDependency.assetB.name}} <br />
                            <i class="fa fa-fw fa-long-arrow-down"></i> <span class="depends-on">Depends On</span><br />
                            {{assetDependency.assetA.name}}
                        </div>

                    </div>

                    <div class="dependency-row">
                        <div class="dependency-row-legend">Frequency</div>
                        <div><label class="dependency-label">{{assetDependency?.assetA?.dependency?.dataFlowFreq}}</label></div>
                        <div><label class="dependency-label">{{assetDependency?.assetB?.dependency?.dataFlowFreq}}</label></div>
                    </div>

                    <div class="dependency-row">
                            <div class="dependency-row-legend">Type</div>
                            <div><label class="dependency-label">{{assetDependency?.assetA?.dependency?.type}}</label></div>
                            <div><label class="dependency-label">{{assetDependency?.assetB?.dependency?.type}}</label></div>
                    </div>

                    <div class="dependency-row">
                            <div class="dependency-row-legend">Status</div>
                            <div><label class="dependency-label">{{assetDependency?.assetA?.dependency?.status}}</label></div>
                            <div><label class="dependency-label">{{assetDependency?.assetB?.dependency?.status}}</label></div>
                    </div>

                    <div class="dependency-row">
                            <div class="dependency-row-legend">Direction</div>
                            <div><label class="dependency-label">{{assetDependency?.assetA?.dependency?.dataFlowDirection}}</label></div>
                            <div><label class="dependency-label">{{assetDependency?.assetB?.dependency?.dataFlowDirection}}</label></div>
                    </div>

                    <div class="dependency-row">
                            <div class="dependency-row-legend">C1</div>
                            <div><label class="dependency-label">{{assetDependency?.assetA?.dependency?.c1}}</label></div>
                            <div><label class="dependency-label">{{assetDependency?.assetB?.dependency?.c1}}</label></div>
                    </div>

                    <div class="dependency-row">
                            <div class="dependency-row-legend">C2</div>
                            <div><label class="dependency-label">{{assetDependency?.assetA?.dependency?.c2}}</label></div>
                            <div><label class="dependency-label">{{assetDependency?.assetB?.dependency?.c2}}</label></div>
                    </div>

                    <div class="dependency-row">
                            <div class="dependency-row-legend">C3</div>
                            <div><label class="dependency-label">{{assetDependency?.assetA?.dependency?.c3}}</label></div>
                            <div><label class="dependency-label">{{assetDependency?.assetB?.dependency?.c3}}</label></div>
                    </div>

                    <div class="dependency-row">
                            <div class="dependency-row-legend">C4</div>
                            <div><label class="dependency-label">{{assetDependency?.assetA?.dependency?.c4}}</label></div>
                            <div><label class="dependency-label">{{assetDependency?.assetB?.dependency?.c4}}</label></div>
                    </div>

                    <div class="dependency-row">
                            <div class="dependency-row-legend">Comment</div>
                            <div><label class="dependency-label dependency-comment">{{assetDependency?.assetA?.dependency?.comment}}</label></div>
                            <div><label class="dependency-label dependency-comment">{{assetDependency?.assetB?.dependency?.comment}}</label></div>
                    </div>

                    <div class="dependency-row">
                            <div class="dependency-row-legend">Date created</div>
                            <div><label class="dependency-label">{{assetDependency?.assetA?.dateCreated}}</label></div>
                            <div><label class="dependency-label">{{assetDependency?.assetB?.dateCreated}}</label></div>
                    </div>

                    <div class="dependency-row">
                            <div class="dependency-row-legend">Last updated</div>
                            <div><label class="dependency-label">{{assetDependency?.assetA?.lastUpdated}}</label></div>
                            <div><label class="dependency-label">{{assetDependency?.assetB?.lastUpdated}}</label></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer form-group-center">
                <button (click)="cancelCloseDialog()" type="button" class="btn btn-default text-center">
                    <span class="glyphicon glyphicon-ban-circle"></span> {{'GLOBAL.CLOSE' | translate }}</button>
            </div>
        </div>
    </div>
</div>