<div class="modal fade in asset-dependency-component" id="assetDependency" data-backdrop="static" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button (click)="cancelCloseDialog()" type="button" class="close" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">{{'ASSET_EXPLORER.DEPENDENCY_DETAIL'|translate}}</h4>
            </div>
            <div class="modal-body comment-dialog-content">
                <table class="table table-striped" style="border: 0px; margin-bottom: 0px;">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Class</th>
                            <th>Environment</th>
                            <th>Bundle</th>
                            <th>Plan Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{assetDependency?.assetA?.name}}</td>
                            <td>{{assetDependency?.assetA?.assetClass}}</td>
                            <td>{{assetDependency?.assetA?.environment}}</td>
                            <td>{{assetDependency?.assetA?.bundle}}</td>
                            <td>{{assetDependency?.assetA?.planStatus}}</td>
                        </tr>
                        <tr>
                            <td colspan="5" class="lbl-asset-dependency-direction">
                                <span *ngIf="dependencyA?.id && !dependencyB?.id">
                                    <i class="fa fa-fw fa-long-arrow-down"></i> Depends On</span>
                                <span *ngIf="dependencyA?.id && dependencyB?.id">
                                    <i class="fa fa-fw fa-arrows-v"></i> Bi-Directional Dependencies</span>
                                <span *ngIf="!dependencyA?.id && !dependencyB?.id" class="error">
                                    <span class="glyphicon glyphicon-remove"></span> Dependency was not found.</span>
                            </td>
                        </tr>
                        <tr>
                            <td>{{assetDependency?.assetB?.name}}</td>
                            <td>{{assetDependency?.assetB?.assetClass}}</td>
                            <td>{{assetDependency?.assetB?.environment}}</td>
                            <td>{{assetDependency?.assetB?.bundle}}</td>
                            <td>{{assetDependency?.assetB?.planStatus}}</td>
                        </tr>
                    </tbody>
                </table>

                <div class="dependencies"
                     [ngClass]="{'has-dependency-a': dependencyA, 'has-dependency-b': dependencyB}"
                     *ngIf="dependencyA?.id || dependencyB?.id">
                    <div class="dependency-row has-both-dependencies" 
                        *ngIf="dependencyA?.id && dependencyB?.id">

                        <div class="dependency-row-legend"></div>

                        <div>
                            {{assetDependency.assetA.name}} <br />
                            <i class="fa fa-fw fa-long-arrow-down"></i> <span class="depends-on">Depends On</span><br />
                            {{assetDependency.assetB.name}}
                        </div>
                        <div>
                            {{assetDependency.assetB.name}} <br />
                            <i class="fa fa-fw fa-long-arrow-down"></i> <span class="depends-on">Depends On</span><br />
                            {{assetDependency.assetA.name}}
                        </div>
                    </div>

	                <asset-dependency-show
			                *ngIf="!isEditing; else editDependenciesTemplate"
                            [dependencyA]="dependencyA"
                            [dependencyB]="dependencyB">
                    </asset-dependency-show>

                    <ng-template #editDependenciesTemplate>
                        <asset-dependency-edit
                                [dependencyA]="dependencyA"
                                [dependencyB]="dependencyB"
                                [frequencyList]="frequencyList"
                                [statusList]="statusList"
                                [typeList]="typeList"
                                [directionList]="directionList"
                                (change)="onChangeDependencies($event)"
                        ></asset-dependency-edit>
                    </ng-template>

                </div>

	            <div class="dependencies"
                     [ngClass]="{'has-dependency-a': dependencyA, 'has-dependency-b': dependencyB}">

                    <div class="dependency-row">
                        <div class="dependency-row-legend">Date created</div>
                        <div class="dependency-a"><label class="dependency-label">{{dependencyA?.dateCreated}}</label></div>
                        <div class="dependency-b"><label class="dependency-label">{{dependencyB?.dateCreated}}</label></div>
                    </div>

                    <div class="dependency-row">
                        <div class="dependency-row-legend">Last updated</div>
                        <div class="dependency-a"><label class="dependency-label">{{dependencyA?.lastUpdated}}</label></div>
                        <div class="dependency-b"><label class="dependency-label">{{dependencyB?.lastUpdated}}</label></div>
                    </div>

                </div>

            </div>
            <div class="modal-footer form-group-center">
                <div *ngIf="!isEditing; else buttonsEditModeTemplate">
                    <tds-button
                            [action]="ButtonActions.AssetEdit"
                            class="btn-primary pull-left"
                            tooltip="Edit dependencies"
                            (click)="setEditMode(true)">
                    </tds-button>

                    <tds-button
                            [action]="ButtonActions.AssetClose"
                            tooltip="Close"
                            class="pull-right"
                            (click)="cancelCloseDialog()">
                    </tds-button>
                </div>

	            <ng-template #buttonsEditModeTemplate>
                    <tds-button
                            [action]="ButtonActions.AssetUpdate"
                            [disabled]="!editedDependencies.dependencies"
                            class="btn-primary pull-left"
                            tooltip="Save changes"
                            (click)="saveChanges()">
                    </tds-button>

                    <tds-button
                            [action]="ButtonActions.AssetCancel"
                            tooltip="Cancel editing"
                            class="pull-right"
                            (click)="cancelEdit(false)">
                    </tds-button>

                </ng-template>
            </div>
        </div>
    </div>
</div>