<div tds-autofocus tds-handle-escape (escPressed)="cancelCloseDialog()" tds-autocenter class="task-detail-component modal fade in tds-ui-modal-decorator"
     id="task-component" data-backdrop="static" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content resizable tds-angular-component-content"
             tds-ui-modal-decorator=""
             [options]="modalOptions"
             [style.width.px]="860"
             [style.height.px]="706">
            <div class="modal-header">
                <button (click)="cancelCloseDialog()" type="button" class="close" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">Task Edit</h4>
            </div>
            <div class="modal-body">
                <form #taskEditCreateForm="ngForm" class="full-height">
                    <table style="border: 0;" class="full-height"
                           [ngClass]="{'has-duplicated-predecessors': modelHelper.hasDuplicatedPredecessors(),
                                       'has-duplicated-successors': modelHelper.hasDuplicatedSuccessors(),
                                       'has-double-assignment': modelHelper.hasDoubleAssignment()}">
                        <tbody class="full-height task-layout">
                            <tr class="no-grow-container">
                                <td class="task-details" colspan="2">
                                    <div class="dialog">
                                        <table>
                                            <tbody>
                                                <tr class="prop">
                                                    <td class="label N edge-cell" nowrap="nowrap">
                                                        <label><span class="required-field">Task # {{model.taskNumber}}</span></label>
                                                    </td>
                                                    <td class="valueNW description-container" colspan="5">
	                                                    <div class="validated-field">
                                                            <input type="text" name="comment" [(ngModel)]="model.comment" required>
                                                            <button class="btn btn-default" (click)="onCollapseTaskDetail()" type="button">
                                                                <i class="fa" [ngClass]="{'fa-angle-double-down': !collapsedTaskDetail, 'fa-angle-double-right': collapsedTaskDetail}"></i>
                                                            </button>
                                                            <div class="error-message">{{'TASK_MANAGER.EDIT.REQUIRED_FIELD' | translate}}</div>
                                                        </div>
                                                    </td>
                                                </tr>

                                                <tr *ngIf="!collapsedTaskDetail" class="prop">
                                                    <td class="label N edge-cell" nowrap="nowrap">
                                                        <label><span>Person</span></label>
                                                    </td>
                                                    <td class="valueNW">
                                                        <kendo-dropdownlist
                                                                name="assignedTo"
                                                                class="form-control"
                                                                [data]="model.personList"
                                                                [textField]="'text'"
                                                                [valueField]="'id'"
                                                                [popupSettings]="{width: 300}"
                                                                [(ngModel)]="model.assignedTo">
                                                        </kendo-dropdownlist>
                                                    </td>
                                                    <td class="label N edge-cell" nowrap="nowrap">
                                                        <label><span>Team</span></label>
                                                    </td>
                                                    <td class="valueNW">
                                                        <kendo-dropdownlist
                                                                name="team"
                                                                class="form-control"
                                                                [data]="model.teamList"
                                                                [textField]="'text'"
                                                                [valueField]="'id'"
                                                                [(ngModel)]="model.assignedTeam">
                                                        </kendo-dropdownlist>
                                                    </td>
                                                    <td class="label N edge-cell" nowrap="nowrap">
                                                        <label><span>Event</span></label>
                                                    </td>
                                                    <td class="valueNW">
                                                        <kendo-dropdownlist
                                                                name="event"
                                                                class="form-control"
                                                                [data]="model.eventList"
                                                                [textField]="'text'"
                                                                [valueField]="'id'"
                                                                [(ngModel)]="model.event">
                                                        </kendo-dropdownlist>
                                                    </td>
                                                </tr>

                                                <tr *ngIf="!collapsedTaskDetail" class="prop">
                                                    <td class="label url N edge-cell" nowrap="nowrap">
                                                        <label><span>Fixed Assignment</span></label>
                                                    </td>
                                                    <td class="valueNW">
                                                        <kendo-dropdownlist
                                                                name="hardAssignment"
                                                                [(ngModel)]="model.hardAssigned"
                                                                [data]="yesNoList">
                                                        </kendo-dropdownlist>
                                                    </td>
                                                    <td class="label url N edge-cell" nowrap="nowrap">
                                                        <label><span>Send Notification</span></label>
                                                    </td>
                                                    <td  class="valueNW">
                                                        <kendo-dropdownlist
                                                                name="sendNotification"
                                                                [(ngModel)]="model.sendNotification"
                                                                [data]="yesNoList">
                                                        </kendo-dropdownlist>
                                                    </td>
                                                    <td class="label N edge-cell" nowrap="nowrap">
                                                        <label><span>Action</span></label>
                                                    </td>
                                                    <td class="valueNW">
                                                        <kendo-dropdownlist
                                                                name="apiActionList"
                                                                [data]="model.apiActionList"
                                                                [textField]="'text'"
                                                                [valueField]="'id'"
                                                                [(ngModel)]="model.apiAction">
                                                        </kendo-dropdownlist>
                                                    </td>
                                                </tr>

                                                <tr *ngIf="!collapsedTaskDetail" class="prop">
                                                    <td class="label N edge-cell" nowrap="nowrap">
                                                        <label><span class="required-field">Category</span></label>
                                                    </td>
                                                    <td class="valueNW">
                                                        <div class="validated-field">
                                                            <kendo-dropdownlist
                                                                    class="category-list"
                                                                    name="category"
                                                                    [data]="model.categoriesList"
                                                                    [(ngModel)]="model.category" required>
                                                            </kendo-dropdownlist>
                                                            <div class="error-message">{{'TASK_MANAGER.EDIT.REQUIRED_FIELD' | translate}}</div>
                                                        </div>
                                                    </td>
                                                    <td class="label url N edge-cell" nowrap="nowrap">
                                                        <label><span>Asset Class</span></label>
                                                    </td>
                                                    <td class="valueNW">
                                                        <kendo-dropdownlist
                                                                name="assetClass"
                                                                class="form-control"
                                                                [data]="model.assetClasses"
                                                                [textField]="'text'"
                                                                [valueField]="'id'"
                                                                (selectionChange)="onAssetClassChange($event)"
                                                                [(ngModel)]="model.assetClass">
                                                        </kendo-dropdownlist>
                                                    </td>
                                                    <td class="label N edge-cell" nowrap="nowrap">
                                                        <label><span>Asset</span></label>
                                                    </td>
                                                    <td class="valueNW asset-entity">
                                                            <tds-combobox
                                                                    name="asset"
                                                                    [(model)]="model.asset"
                                                                    [(metaParam)]="model.assetClass.id"
                                                                    (valueChange)="onAssetEntityChange($event)"
                                                                    [required]="false"
                                                                    [serviceRequest]="getAssetList">
                                                            </tds-combobox>
                                                    </td>
                                                </tr>
                                                <tr *ngIf="!collapsedTaskDetail" class="prop">
                                                    <td class="label N edge-cell" nowrap="nowrap">
                                                        <label><span>Instruction Link</span></label>
                                                    </td>
                                                    <td class="valueNW instructions-link">
                                                        <div class="validated-field">
                                                            <input type="text" name="instructionLink"
                                                                   #instructionLink="ngModel"
                                                                   (change)="validateLabelURL($event.target.value)"
                                                                   placeholder="Enter URL or Label|URL"
                                                                   [(ngModel)]="model.instructionLink" />
                                                            <div class="error-message">Invalid URL</div>
                                                        </div>

                                                    </td>
                                                    <td class="label N edge-cell" nowrap="nowrap">
                                                        <label><span>Priority</span></label>
                                                    </td>
                                                    <td class="valueNW">
                                                        <kendo-dropdownlist
                                                                name="priority"
                                                                class="form-control"
                                                                [data]="model.priorityList"
                                                                [(ngModel)]="model.priority">
                                                        </kendo-dropdownlist>
                                                    </td>
                                                    <td class="label N edge-cell" nowrap="nowrap">
                                                        <label><span>Due Date</span></label>
                                                    </td>

                                                    <td class="valueNW">
                                                        <kendo-datepicker
                                                                name="dueDate"
                                                                [format]="getDateTimeFormat()"
                                                                [(ngModel)]="model.dueDate">
                                                        </kendo-datepicker>
                                                    </td>
                                                </tr>

                                                <tr *ngIf="!collapsedTaskDetail" class="prop">
                                                    <td class="label N edge-cell" nowrap="nowrap">
                                                        <label><span>Estimated Duration</span></label>
                                                    </td>
                                                    <td class="valueNW duration-container">
                                                        <div class="duration-controls">
                                                            <div class="duration-value">
                                                                <input type="number"
                                                                       min="0"
                                                                       (change)="updateEstimatedFinish($event.target.value,'days')"
                                                                       [(ngModel)]="model.durationParts.days" name="durationDays" id="durationDays">
                                                                <label for="durationDays">Days</label>
                                                            </div>
                                                            <div  class="duration-value">
                                                                <input type="number"
                                                                       min="0"
                                                                       (change)="updateEstimatedFinish($event.target.value, 'hours')"
                                                                       [(ngModel)]="model.durationParts.hours" name="durationHours" id="durationHours">
                                                                <label for="durationHours">Hours</label>
                                                            </div>
                                                            <div  class="duration-value">
                                                                <input type="number"
                                                                       min="0"
                                                                       (change)="updateEstimatedFinish($event.target.value, 'minutes')"
                                                                       [(ngModel)]="model.durationParts.minutes" name="durationMinutes" id="durationMinutes">
                                                                <label for="durationMinutes">Minutes</label>
                                                            </div>
                                                            <label data-toggle="popover"
                                                                   data-trigger="hover"
                                                                   data-content="Click to toggle the lock. When locked, changes to the Estimated Start/Finish will preserve the Duration">
                                                                <i class="fa fa-fw  lock-state"
                                                                   [ngClass]="model.locked ? 'fa-lock' : 'fa-unlock'"
                                                                   (click)="toggleLocked()">
                                                                </i>
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td class="label N edge-cell" nowrap="nowrap">
                                                        <label><span>Estimated Start</span></label>
                                                    </td>
                                                    <td class="valueNW">
                                                        <kendo-dateinput
                                                                name="estimatedStart"
                                                                class="clickable"
                                                                (click)="openRangeDatesSelector()"
                                                                [format]="getDateTimeFormat(model.estimatedStart)"
                                                                [(ngModel)]="model.estimatedStart">
                                                        </kendo-dateinput>
                                                    </td>

                                                    <td class="label N edge-cell" nowrap="nowrap">
                                                        <label><span>Estimated Finish</span></label>
                                                    </td>

                                                    <td class="valueNW estimated-finish">
                                                        <div class="estimated-date-container">
                                                            <kendo-dateinput
                                                                    name="estimatedFinish"
                                                                    class="clickable"
                                                                    [format]="getDateTimeFormat(model.estimatedFinish)"
                                                                    (click)="openRangeDatesSelector()"
                                                                    [(ngModel)]="model.estimatedFinish">
                                                            </kendo-dateinput>
                                                        </div>
                                                        <span (click)="cleanEstimatedDates()"
                                                              [ngClass]="{'disabled-delete-estimated': !model.estimatedFinish && !model.estimatedStart}"
                                                              class="glyphicon glyphicon-remove delete-command" title="Delete estimation dates"></span>
                                                    </td>

                                                </tr>

                                                <tr *ngIf="!collapsedTaskDetail" class="prop">
                                                    <td class="label N edge-cell" nowrap="nowrap">
                                                        <label><span>Actual Start</span></label>
                                                    </td>

                                                    <td class="valueNW">
                                                        <span class="read-only-dates">{{model.actualStart}}</span>
                                                    </td>

                                                    <td class="label N edge-cell" nowrap="nowrap">
                                                        <label><span>Actual Finish</span></label>
                                                    </td>

                                                    <td class="valueNW">
                                                        <span class="read-only-dates">{{model.actualFinish}}</span>
                                                    </td>

                                                    <td class="label N edge-cell" nowrap="nowrap">
                                                        <label><span>TaskSpec ID</span></label>
                                                    </td>

                                                    <td class="valueNW">
                                                        <span class="read-only-dates">{{model.taskSpec}}</span>
                                                    </td>
                                                </tr>
                                                <tr *ngIf="!collapsedTaskDetail" class="prop">
                                                    <td class="label N status-cell" nowrap="nowrap">
                                                        <label><span>Status</span></label>
                                                    </td>
                                                    <td class="valueNW task-status vertical-note-status">
                                                        <kendo-dropdownlist
                                                                name="statusList"
                                                                [class]="'form-control status task-' + model.status.toLowerCase()"
                                                                [data]="model.statusList"
                                                                [(ngModel)]="model.status">
                                                        </kendo-dropdownlist>
                                                    </td>



                                                    <td class="label N edge-cell vertical-note-status" nowrap="nowrap">
                                                        <label><span>Note</span></label>
                                                    </td>
                                                    <td class="valueNW.note" colspan="4">
                                                        <textarea name="note"
                                                                  class="note"
                                                                  placeholder="Enter a new note"
                                                                  id="note" rows="4" [(ngModel)]="model.note"></textarea>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                            <tr class="no-grow-container"  *ngIf="!collapsedTaskDetail">
                                <td class="dates-info-container" colspan="2">
                                    <table class="dates-info">
                                        <tbody>
                                            <tr>
                                                <td class="date-created">Created by {{model.personCreateObj}} at {{model.dateCreated | date:dateFormatTime}}
                                                    {{(model.taskSpecId)? ' with spec id ' + model.taskSpecId: ''}}
                                                    <span *ngIf="model.recipe && hasCookbookPermission"> in recipe <a href="./../cookbook/index#/recipes/{{model.recipe?.id}}/gentasks/start"> {{model.recipe?.name}}</a></span>
                                                <td class="last-updated">Last updated: {{model.lastUpdated | date:dateFormatTime}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr class="deps no-grow-container">
                                <table>
                                    <tr>
                                        <td valign="top">
                                            <kendo-grid
                                                    *ngIf="dataGridTaskPredecessorsHelper && modelHelper"
                                                    class="successor-predecessor-table has-duplicated-predecessors dependency-tasks"
                                                    [data]="dataGridTaskPredecessorsHelper.gridData"
                                                    [sort]="dataGridTaskPredecessorsHelper.state.sort"
                                                    [sortable]="{mode:'single'}"
                                                    [resizable]="false"
                                                    [rowClass]="modelHelper.rowStatusColor"
                                                    (sortChange)="dataGridTaskPredecessorsHelper.sortChange($event)">
                                                    <!-- Toolbar Template -->
                                                    <ng-template kendoGridToolbarTemplate [position]="'top'">
                                                        <label class="pad-top-2 pad-left-10 mar-bottom-0">Predecessor ({{dataGridTaskPredecessorsHelper.gridData.data.length}})</label>
                                                        <button (click)="onAddTaskDependency(model.predecessorList, dataGridTaskPredecessorsHelper)"
                                                                class="btn btn-add-new-dependency btn-default float-right mar-right-15 pad-top-2" type="button">
                                                            <i class="fa fa-med fa-fw fa-plus-circle"></i> <span>Add</span>
                                                        </button>
                                                    </ng-template>
                                                    <!-- Columns -->
                                                    <kendo-grid-column *ngFor="let column of predecessorSuccessorColumns"
                                                                       field="{{column.property}}"
                                                                       [width]="!column.width ? COLUMN_MIN_WIDTH : column.width">
                                                        <!-- Header Template -->
                                                        <ng-template kendoGridHeaderTemplate>
                                                            <label>{{column.label}}</label>
                                                        </ng-template>

                                                        <ng-template kendoGridCellTemplate *ngIf="column.property === 'taskNumber'" let-dataItem let-rowIndex="rowIndex">
                                                            <div>{{dataItem.taskNumber}}</div>
                                                        </ng-template>

                                                        <ng-template kendoGridCellTemplate *ngIf="column.property === 'desc'" let-dataItem let-rowIndex="rowIndex">
                                                            <tds-combobox
                                                                    class="status"
                                                                    [(model)]="dataItem.model"
                                                                    [(metaParam)]="model.id"
                                                                    (valueChange)="onModelChange($event)"
                                                                    [serviceRequest]="getTasksForComboBox"
                                                                    (selectionChange)="onDependencyTaskChange($event, 'predecessor', dataGridTaskPredecessorsHelper,  rowIndex)">
                                                            </tds-combobox>
                                                        </ng-template>

                                                    </kendo-grid-column>
                                                <kendo-grid-messages noRecords="There are no records to display."> </kendo-grid-messages>
                                            </kendo-grid>

                                        </td>
                                        <td valign="top">
                                            <kendo-grid
                                                    *ngIf="dataGridTaskSuccessorsHelper && modelHelper"
                                                    class="successor-predecessor-table has-duplicated-successors dependency-tasks"
                                                    [data]="dataGridTaskSuccessorsHelper.gridData"
                                                    [sort]="dataGridTaskSuccessorsHelper.state.sort"
                                                    [sortable]="{mode:'single'}"
                                                    [resizable]="false"
                                                    [rowClass]="modelHelper.rowStatusColor"
                                                    (sortChange)="dataGridTaskSuccessorsHelper.sortChange($event)">
                                                <!-- Toolbar Template -->
                                                <ng-template kendoGridToolbarTemplate [position]="'top'">
                                                    <label class="pad-top-2 pad-left-10 mar-bottom-0">Successors ({{dataGridTaskSuccessorsHelper.gridData.data.length}})</label>
                                                    <button (click)="onAddTaskDependency(model.successorList, dataGridTaskSuccessorsHelper)" class="btn btn-add-new-dependency btn-default float-right mar-right-15 pad-top-2" type="button">
                                                        <i class="fa fa-med fa-fw fa-plus-circle"></i> <span>Add</span>
                                                    </button>
                                                </ng-template>
                                                <!-- Columns -->
                                                <kendo-grid-column *ngFor="let column of predecessorSuccessorColumns"
                                                                   field="{{column.property}}"
                                                                   [width]="!column.width ? COLUMN_MIN_WIDTH : column.width">
                                                    <!-- Header Template -->
                                                    <ng-template kendoGridHeaderTemplate>
                                                        <label>{{column.label}}</label>
                                                    </ng-template>

                                                    <ng-template kendoGridCellTemplate *ngIf="column.property === 'desc'" let-dataItem let-rowIndex="rowIndex">
                                                        <tds-combobox
                                                                class="status"
                                                                [(model)]="dataItem.model"
                                                                [(metaParam)]="model.id"
                                                                (valueChange)="onModelChange($event)"
                                                                [serviceRequest]="getTasksForComboBox"
                                                                (selectionChange)="onDependencyTaskChange($event, 'successor', dataGridTaskSuccessorsHelper,  rowIndex)">
                                                        </tds-combobox>
                                                    </ng-template>
                                                </kendo-grid-column>
                                                <kendo-grid-messages noRecords="There are no records to display."> </kendo-grid-messages>
                                            </kendo-grid>
                                         </td>
                                    </tr>

                                </table>
                            </tr>
                            <tr class="dependency-error-section has-duplicated">
	                            <table>
		                            <tr>
										<td>
											<label class="has-duplicated-predecessors duplicate-error">{{'TASK_MANAGER.EDIT.ERROR_DUPLICATE_ENTRIES' | translate}}</label>
										</td>
										<td>
											<label class="has-duplicated-successors duplicate-error">{{'TASK_MANAGER.EDIT.ERROR_DUPLICATE_ENTRIES' | translate}}</label>
										</td>
                                    </tr>

								</table>
                            </tr>
                            <tr class="dependency-error-section has-double-assignment">
	                            <table>
		                            <tr>
                                        <td colspan="2">
                                            <label class="has-double-assignment">{{'TASK_MANAGER.EDIT.ERROR_DOUBLE_ASSIGNMENT' | translate}}</label>
                                        </td>
                                    </tr>
                                </table>
                            </tr>
                            <tr class="deps grow-container">
                                <td colspan="5">
                                    <kendo-grid
                                        *ngIf="dataGridTaskNotesHelper"
                                        class="successor-predecessor-table has-double-assignment"
                                        [data]="dataGridTaskNotesHelper.gridData"
                                        [sort]="dataGridTaskNotesHelper.state.sort"
                                        [sortable]="{mode:'single'}"
                                        [resizable]="false"
                                        (sortChange)="dataGridTaskNotesHelper.sortChange($event)">
                                    <!-- Toolbar Template -->
                                    <ng-template kendoGridToolbarTemplate [position]="'top'">
                                        <label class="pad-top-2 pad-left-10 mar-bottom-0">Task Notes ({{dataGridTaskNotesHelper.gridData.data.length}})</label>
                                    </ng-template>
                                    <!-- Columns -->
                                    <kendo-grid-column *ngFor="let column of taskNotesColumnsModel.columns"
                                                       field="{{column.property}}"
                                                       [width]="!column.width ? COLUMN_MIN_WIDTH : column.width">
                                        <!-- Header Template -->
                                        <ng-template kendoGridHeaderTemplate>
                                            <label>{{column.label}}</label>
                                        </ng-template>

                                        <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex" >
                                            <div class="pad-left-7 pad-bot-6">{{dataItem[column.property]}}</div>
                                        </ng-template>

                                    </kendo-grid-column>
                                    <kendo-grid-messages noRecords="There are no records to display."> </kendo-grid-messages>
                                </kendo-grid>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
            <div class="modal-footer form-group-center">
	            <button class="btn btn-primary pull-left"
                        [disabled]="isFormInvalid() || !hasEditTaskPermission" (click)="onSave()" type="button">
		            <i  class="fa fa-fw fa-floppy-o"></i>
		            <span>Update</span>
	            </button>
                <button (click)="cancelCloseDialog()" type="button" class="btn btn-default component-action-cancel pull-right">
                    <i class="glyphicon glyphicon-ban-circle action-button"></i>
                    <span>Cancel</span>
                </button>
                <button (click)="deleteTask()" type="button" class="btn btn-danger component-action-delete" [disabled]="!hasDeleteTaskPermission">
                    <i  class="glyphicon glyphicon-trash action-button"></i>
                    <span>Delete</span>
                </button>
            </div>
        </div>
    </div>
</div>
