<tds-ui-floating-header-k-grid></tds-ui-floating-header-k-grid>

<div class="dependencies-view-grid-component">
	<kendo-grid
		#grid
		[data]="state.gridData"
		[filterable]="true"
		[sortable]="{ allowUnsort: false, mode: 'single' }"
		[resizable]="true"
		[skip]="grid.skip"
		[pageSize]="grid.take"
		[pageable]="{
			pageSizes: GRID_PAGE_SIZES,
			pageSize: grid.pageSize,
			info: true
		}"
		(dataStateChange)="dataStateChange($event)"
		(cellClick)="onClickActionableColumn($event)"
		[ngClass]="{ 'hide-filter': !showFilters }"
		class="page-height"
	>
		<ng-template kendoGridToolbarTemplate [position]="'top'">
			<div class="clr-row">
				<div class="clr-col-12">
					<div class="pull-right">
						<tds-bulk-change-button
								#tdsBulkChangeButton
								[enabled]="bulkCheckboxService.hasSelectedItems()"
								[showDelete]="true"
								[showEdit]="false"
								[bulkChangeType]="bulkChangeType"
								(clickBulk)="onClickBulkButton()"
								(operationResult)="onBulkOperationResult($event)">
						</tds-bulk-change-button>
						<tds-grid-header-action-buttons
								(refresh)="reloadData()"
								[actionButtons]="headerActionButtons"
								(clearFilters)="onClearFilters()"
								[disableClearFilters]="disableClearFilters">
						</tds-grid-header-action-buttons>
					</div>

				</div>
			</div>
		</ng-template>

		<!-- Select All column -->
		<kendo-grid-column
			class="grid-selectall-checkbox-column"
			[width]="SELECT_ALL_COLUMN_WIDTH"
			[locked]="true"
			[filterable]="false"
		>
			<ng-template kendoGridHeaderTemplate>
				<div class="row text-center">
                    <tds-indeterminate-checkbox checkbox name="assetsSelector"
								  [hasThirdState]="true"
								  [disabled]="!isBulkSelectAvailable()"
                                  (changeState)="bulkCheckboxService.changeState(($event))"
                                  id="assetSelector"
                                  [setStateSubject]="bulkCheckboxService.setStateSubject">
					</tds-indeterminate-checkbox>
				</div>
			</ng-template>

			<ng-template kendoGridCellTemplate let-dataItem>
				<div class="check-row">
					<input
						clrCheckbox
						type="checkbox"
						id="checkbox_{{ dataItem.id }}"
						[ngStyle]="{
							cursor: isBulkSelectAvailable() ? 'pointer' : 'text'
						}"
						[disabled]="!isBulkSelectAvailable()"
						[checked]="
							bulkCheckboxService.getValueBulkItem(dataItem.id)
						"
						(change)="
							bulkCheckboxService.checkItem(
								dataItem.id,
								$event.target.checked
							)
						"
						name="checkbox_{{ dataItem.id }}"
					/>
				</div>
			</ng-template>
		</kendo-grid-column>

		<!-- Show Filters / Actions column -->
		<kendo-grid-column
				[locked]="true"
				[width]="50"
				[class]="{ 'k-custom-command-column': true }"
				[minResizableWidth]="50"
		>
			<ng-template
					kendoGridHeaderTemplate
					let-column
					let-columnIndex="columnIndex"
			>
				<tds-button [flat]="true" (click)="toggleFilter()">
					<clr-icon
							shape="filter"
							class="grid-filter-button is-solid"
					>
						<span
								*ngIf="hasFilterApplied()"
								class="badge badge-warning"
						>
							{{ filterCount() }}
						</span>
					</clr-icon>
				</tds-button>
			</ng-template>
		</kendo-grid-column>

		<!-- Configured View Columns (*ngFor) -->
		<kendo-grid-column
			*ngFor="let column of dependenciesColumnModel.columns"
			field="{{ column.property }}"
			format="{{ column.format }}"
			[locked]="column.locked"
			[width]="!column.width ? COLUMN_MIN_WIDTH : column.width"
		>
			<!-- Default Generic Filter Template -->
			<ng-template kendoGridHeaderTemplate>
				<div class="sortable-column">
					<label
						[ngClass]="{
							'action-header': column.type === 'action'
						}"
						>{{ column.label }}</label
					>
				</div>
			</ng-template>

			<!-- Default Generic Filter Template -->
			<!-- Asset Tags Filter Template -->
			<ng-template kendoGridFilterCellTemplate let-filter>
				<div class="has-feedback" style="margin-bottom:0px;">
					<tds-asset-tag-selector
						*ngIf="column.property === 'tagsAsset' || column.property === 'tagsDependent'"
						[tagList]="state.tagList"
						(valueChange)="
							onTagFilterChange(column.property, $event)
						"
						[placeholder]="'Filter ' + column.label"
					>
					</tds-asset-tag-selector>
					<div
						*ngIf="column.property !== 'tagsAsset' && column.property !== 'tagsDependent'"
						class="filter-input"
					>
						<input
							clrInput
							type="text"
							(keyup)="onFilter(column)"
							name="{{ column.property }}"
							[(ngModel)]="column.filter"
							placeholder="Filter {{ column.label }}"
							value=""
						/>
						<tds-button
							*ngIf="column.filter"
							(click)="onClearValue(column)"
							[title]="'Clear Filter'"
							icon="times-circle"
							[small]="true"
							[flat]="true"
						>
						</tds-button>
					</div>
				</div>
			</ng-template>

			<!-- Asset and Dependency Tags Cell Template -->
			<ng-template
				kendoGridCellTemplate
				let-dataItem
				*ngIf="tagsFieldNames.includes(column.property)"
			>
				<div>
					<span
						*ngFor="let tag of dataItem[column.property]"
						class="label tag dependency-tag"
						[ngClass]="tag.css"
					>
						{{ tag.name }}
					</span>
				</div>
			</ng-template>

			<!-- Actionable assets Cell Template -->
			<ng-template
				kendoGridCellTemplate
				let-dataItem
				*ngIf="actionableAssets.includes(column.property)"
			>
				<span class="actionable-column">
					{{ dataItem[column.property] }}
				</span>
			</ng-template>
		</kendo-grid-column>

		<!-- PAGER COMPONENT -->
		<ng-template
			kendoPagerTemplate
			let-total="total"
			let-totalPages="totalPages"
			let-currentPage="currentPage"
		>
			<div class="clr-col-4 selected-assets-counter">
				<clr-icon class="icon" shape="check"> </clr-icon>
				<h6 class="inline">{{ getSelectedItemsCount() }}</h6>
			</div>
			<div class="clr-col-8">
				<tds-grid-pager
					[total]="total"
					[totalPages]="totalPages"
					[currentPage]="currentPage"
					[pageSize]="state.gridState.take"
					[pageSizes]="GRID_PAGE_SIZES"
					(pageChange)="dataStateChange($event)"
				>
				</tds-grid-pager>
			</div>
		</ng-template>
	</kendo-grid>
</div>
