
<tds-button (click)="toggleControlPanel()">Control Panel</tds-button>
<tds-button>Legend</tds-button>
<tds-button>Fullscreen</tds-button>
<div class="graphContainer">
	<div class="graph-control-panel" *ngIf="showControlPanel">
		<p>Select an Asset</p>
		<kendo-dropdownlist
			[defaultItem]="'Select an Asset...'"
			[data]="dataForSelect"
			[textField]="'value'"
			[valueField]="'id'"
			(selectionChange)="onAssetSelected($event)">
		</kendo-dropdownlist>
		<p>Filter: All classes</p>
		<kendo-dropdownlist
			[defaultItem]="'Filter: All Classes'"
			[data]="dataForSelect2"
			[textField]="'text'"
			[valueField]="'id'"
		>
		</kendo-dropdownlist>
		<div class="tiers-above">
			<tds-button icon="minus" (click)="extractLevelsUp()"></tds-button>
			<label>{{levelsUp}}</label>
			<tds-button icon="plus" (click)="addLevelsUp()"></tds-button>
			<label>Tiers Above</label>
		</div>
		<div class="tiers-below">
			<tds-button icon="minus" (click)="extractLevelsDown()"></tds-button>
			<label>{{levelsDown}}</label>
			<tds-button icon="plus" (click)="addLevelsDown()"></tds-button>
			<label>Tiers Below</label>
		</div>
		<div class="graph-checkbox">
			<input type="checkbox" class="k-checkbox" checked="{{showCycles}}">
			<label class="k-checkbox-label" for="auth-2fa">Show Cyclical References</label>
		</div>
		<div class="graph-checkbox">
			<input type="checkbox" class="k-checkbox" checked="checked">
			<label class="k-checkbox-label" for="auth-2fa">Black Background</label>
		</div>
		<div class="labels">
			<label>Show Labels: </label> <tds-button icon="plus"></tds-button>
			<div class="label-items">
<!--				Add all options here via ng for and add icon-->
				<div class="graph-checkbox">
					<input type="checkbox" class="k-checkbox" checked="checked">
					<label class="k-checkbox-label" for="auth-2fa">Black Background</label>
				</div>
			</div>
		</div>
		<div class="graph-spacing">
			<tds-button icon="arrow_in"></tds-button>
			<tds-button icon="arrow_out"></tds-button>
			<label>Spacing</label>
		</div>
		<div class="graph-commands">
			<div class="graph-command">
				<tds-button>Regenerate Graph</tds-button>
			</div>
			<div class="graph-command">
				<tds-button>Save Preferences</tds-button>
			</div>
			<div class="graph-command">
				<tds-button>Reset Defaults</tds-button>
			</div>
		</div>
	</div>

	<div class="container architecture-graph-container">
		<tds-lib-diagram-layout
			[data]="data$ | async"
			[layout]="diagramLayout$ | async"
			[contextMenuOptions]="ctxOpts"
			[hideExpand]="true"
		></tds-lib-diagram-layout>
<!--			[data]="dataForGraph"-->


<!--		<tds-diagram-layout-->
<!--			[layout]="diagramLayout$ | async"-->
<!--			[contextMenuOptions]="ctxOpts"-->
<!--			[hideExpand]="true"-->
<!--		></tds-diagram-layout>-->
	</div>
</div>
