<div class="selectlist-configuration-popup">
    <div class="row input-form-part">
        <div class="col-sm-6 col-sm-offset-2 input-list">
            <input class="form-control" id="newItem" type="text" [(ngModel)]="newItem" (keyup.enter)="onAdd()"
                   placeholder="Enter value to add to list">
        </div>
        <div class="col-sm-5" style="margin-top: 5px; padding-left: 0px;">
            <tds-button
                    [title]="'Add'"
                    [disabled]="!newItemValid"
                    class="action-button"
                    [icon]="'plus'"
                    (click)="onAdd()"
            >
                {{'GLOBAL.ADD' | translate}}
            </tds-button>

            <button name="sortButton" class="btn btn-default btn-xs sort-button" [disabled]="items.length === 0"
                    (click)="toggleSort()">
                <i class="fa"
                   [ngClass]="{'fa-sort': !sortType, 'fa-sort-alpha-asc': sortType === ASCENDING_ORDER, 'fa-sort-alpha-desc': sortType === DESCENDING_ORDER}">
                </i>{{'GLOBAL.SORT' | translate}}
            </button>
        </div>
    </div>

    <div class="modal-list-header">
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-1 default-input-column-header">{{ 'GLOBAL.DEFAULT' | translate }}</div>
            <div class="col-sm-4"></div>
        </div>
    </div>
    <div class="modal-list">
        <kendo-sortable #kendoSortableInstance="kendoSortable" [navigatable]="false" [animation]="false"
                        [kendoSortableBinding]="items" [emptyItemStyle]="{'cursor': 'default'}"
                        [activeItemStyle]="{'opacity': '.7'}" [itemStyle]="{'cursor': 'move', 'margin-bottom': '5px'}"
                        emptyText="">
            <ng-template let-item="item" let-index="index">
                <div [ngStyle]="getStyle(index)" class="row">
                    <div class="col-sm-1">
                        <i class="pointer fa fa-fw" [ngClass]="{'fa-trash':item.deletable,'fa-ban':!item.deletable}"
                           (click)="onRemove(item)"></i>
                    </div>
                    <div class="col-sm-1 default-input-column">
                        <input class="default-input" type="radio" value="{{item.value}}" name="defaultValue"
                               [(ngModel)]="defaultValue">
                    </div>
                    <div class="col-sm-4 value-column">
                        <span>{{item.value}}</span>
                    </div>
                </div>
            </ng-template>
        </kendo-sortable>
    </div>
    <br />
    <label class="info-label">
        <i class="fa fa-fw fa-ban"></i> are values that are in use therefore can not be deleted.
    </label>
</div>
