<span style="cursor:pointer;" #fieldsLegend (click)="onToggle()"><i class="fa  fa-question"></i></span>
<kendo-popup [anchor]="fieldsLegend" [popupClass]="'content popup'" *ngIf="show">
    <table class="legendTable field-importance-table" style="width:300px">
        <tbody>
            <tr>
                <td>Y)ellow</td>
                <td [style.background-color]="colors['Y'].color">Name</td>
                <td [style.background-color]="colors['Y'].color">svoradb01</td>
            </tr>
            <tr>
                <td>G)reen</td>
                <td [style.background-color]="colors['G'].color">Type</td>
                <td [style.background-color]="colors['G'].color">Server</td>
            </tr>
            <tr>
                <td>B)lue</td>
                <td [style.background-color]="colors['B'].color">Vendor</td>
                <td [style.background-color]="colors['B'].color">Microsoft</td>
            </tr>
            <tr>
                <td>P)ink</td>
                <td [style.background-color]="colors['P'].color">Environment</td>
                <td [style.background-color]="colors['P'].color">Production</td>
            </tr>
            <tr>
                <td>O)range</td>
                <td [style.background-color]="colors['O'].color">User locations</td>
                <td [style.background-color]="colors['O'].color">St Louis</td>
            </tr>
            <tr>
                <td>N)o color</td>
                <td [style.background-color]="colors['N'].color">Manufacturer</td>
                <td [style.background-color]="colors['N'].color">Partner</td>
            </tr>
            <tr>
                <td>*Standard ONLY*</td>
                <td [style.background-color]="colors['U'].color">U)nimportant</td>
                <td [style.background-color]="colors['U'].color">&nbsp;</td>
            </tr>
        </tbody>
    </table>
</kendo-popup>