<div class="modal fade in model-device-show-component" id="model-device-show-component" data-backdrop="static"
     tabindex="-1" role="dialog">
	<form id="editModelForm" action="/tdstm/model/edit" method="post" target="_blank">
		<div class="modal-dialog modal-sm" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button (click)="cancelCloseDialog()" type="button" class="close" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
					<h4 class="modal-title">Show Model</h4>
				</div>
				<div class="modal-body">
					<div class="modal-body-container">
						<div class="box-body">
							<div class="row">
								<div class="form-group">
									<div class="col-md-8">Manufacturer:</div>
									<div class="col-md-4">{{deviceModel.manufacturer}}</div>
								</div>
							</div>
							<div class="row">
								<div class="form-group">
									<div class="col-md-8">Model Name:</div>
									<div class="col-md-4">{{deviceModel.modelName}}</div>
								</div>
							</div>
							<div class="row">
								<div class="form-group">
									<div class="col-md-8">AKA:</div>
									<div class="col-md-4">{{deviceModel.aka}}</div>
								</div>
							</div>
							<div class="row">
								<div class="form-group">
									<div class="col-md-8">Asset Type:</div>
									<div class="col-md-4">{{deviceModel.assetType}}</div>
								</div>
							</div>
							<div class="row">
								<div class="form-group">
									<div class="col-md-8">Usize:</div>
									<div class="col-md-4">{{deviceModel.usize}}</div>
								</div>
							</div>
							<div class="row">
								<div class="form-group">
									<div class="col-md-8">Power(max/design/avg):</div>
									<div class="col-md-4">
										{{deviceModel.powerNameplate}}/{{deviceModel.powerUse}}/{{deviceModel.powerDesign}}
									</div>
								</div>
							</div>
							<div class="row">
								<div class="form-group">
									<div class="col-md-8">Source TDS:</div>
									<div class="col-md-4">
										<input type="checkbox" name="sourceTDS" disabled="disabled"/>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="form-group">
									<div class="col-md-8">Notes:</div>
									<div class="col-md-4"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer form-group-center">
					<input name="id" type="hidden" id="show_modelId" value="{{deviceModel.id}}">
					<button type="submit" class="btn btn-primary pull-left" (click)="onEditModel()">
						<span class="glyphicon glyphicon-pencil"></span> Edit</button>
					<button type="button" class="btn btn-default pull-right" (click)="cancelCloseDialog()">
						<span class="glyphicon glyphicon-ban-circle"></span> Cancel</button>
				</div>
			</div>
		</div>
	</form>
</div>
