<div class="modal fade in" id="model-device-show-component" data-backdrop="static" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content resizable" [style.width.px]="500">
            <div class="modal-header">
                <button (click)="cancelCloseDialog()" type="button" class="close" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">Show Model</h4>
            </div>
            <div class="modal-body">
                <div class="modal-body-container">
                    <form name="modelDeviceShowForm" role="form" data-toggle="validator"
                          #modelDeviceShowForm='ngForm' class="form-horizontal left-alignment">
                        <div class="box-body">
                            <div class="form-group">
                                <div class="col-md-6">Manufacturer:</div>
                                <div class="col-md-6">{{deviceModel.manufacturer}}</div>
                            </div>
	                        <div class="form-group">
		                        <div class="col-md-6">Model Name:</div>
		                        <div class="col-md-6">{{deviceModel.modelName}}</div>
	                        </div>
	                        <div class="form-group">
		                        <div class="col-md-6">AKA:</div>
		                        <div class="col-md-6">{{deviceModel.aka}}</div>
	                        </div>
	                        <div class="form-group">
		                        <div class="col-md-6">Asset Type:</div>
		                        <div class="col-md-6">{{deviceModel.assetType}}</div>
	                        </div>
	                        <div class="form-group">
		                        <div class="col-md-6">Usize:</div>
		                        <div class="col-md-6">{{deviceModel.usize}}</div>
	                        </div>
	                        <div class="form-group">
		                        <div class="col-md-6">Power(max/design/avg):</div>
		                        <div class="col-md-6">{{deviceModel.powerNameplate}}/{{deviceModel.powerUse}}/{{deviceModel.powerDesign}}</div>
	                        </div>
	                        <div class="form-group">
		                        <div class="col-md-6">Source TDS:</div>
		                        <div class="col-md-6">
			                        <input type="checkbox" name="sourceTDS" disabled="disabled"/>
		                        </div>
	                        </div>
	                        <div class="form-group">
		                        <div class="col-md-6">Notes:</div>
		                        <div class="col-md-6"></div>
	                        </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer form-group-center">
                <button type="button" class="btn btn-default pull-right" (click)="cancelCloseDialog()">
                    <span class="glyphicon glyphicon-ban-circle"></span>
                    <span>Cancel</span>
                </button>
            </div>
        </div>
    </div>
</div>
