.layout-top-nav {
  .main-header > .navbar {
    margin: 0;
    width: 100%;
  }
}
.dropdown-menu > .active {
  > a,
  > a:focus,
  > a:hover {
    position: relative;
    color: $color-text;
    background-color: transparent;
  }
  a:after {
    content: "";
    background-color: $color-active;
    display: block;
    position: absolute;
    bottom: 0px;
    left: 10px;
    right: 10px;
    height: 3px;
  }
}
