.unselectable {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.mini text {
	font: 9px sans-serif;
}

.main text {
	font: 12px sans-serif;
}

.month text {
	text-anchor: start;
}

.todayLine {
	stroke: blue;
	stroke-width: 1.5;
}

.axis line, .axis path {
	stroke: black;
}

polygon.miniItem {
	stroke-width: 1.1;
	stroke: black;
	fill: lightgreen;
}
polygon.miniItem.selected {
	fill: #00B0C0 !important;
	stroke: #000044 !important;
}


polygon.miniItem.siblings.selected {
	fill: red !important;
}

polygon.miniItem.selectionParent {
	fill: blue !important;
}
polygon.miniItem.critical {
	fill: green;
	stroke: orange;
	stroke-width:1.5;
}



polygon.mainItem {
	stroke-width: 2;
	fill: #FFFF00;
	stroke: #FFFF00;
	cursor: default;
}
polygon.mainItem.selected {
	stroke: blue !important;
	fill: lightblue !important;
}

polygon.mainItem.Completed {
	fill: #5478BA;
}
polygon.mainItem.Started {
	fill: darkturquoise;
}
polygon.mainItem.Ready {
	fill: lightgreen;
}
polygon.mainItem.Pending {
	fill: lightgrey;
}

polygon.mainItem.overdue {
	stroke: darkred;
}
polygon.mainItem.ontime {
	stroke: black;
}
polygon.mainItem.ahead {
	stroke: darkgreen;
}

polygon.mainItem:hover {
	-webkit-filter: url(#hoverFilterId) !important;
	opacity: 0.8;
}

polygon.mainItem.critical {
	stroke-width: 4 !important;
	-webkit-filter: url(#criticalFilterId);
	stroke: #ff9900;
}
polygon.mainItem.milestone {
	stroke-width: 1px;
}

polygon.mainItem.siblings {
	fill: purple !important;
}

polygon.mainItem.siblings.selected {
	fill: red !important;
}
polygon.mainItem.egg {
	fill: yellow !important;
}

polygon.mainItem.selectionParent {
	fill: blue !important;
}


.brush .extent {
	stroke: gray;
	fill: blue;
	fill-opacity: .165;
}
.tempBrush {
	fill: red;
	fill-opacity: .2;
	stroke: orange;
	stroke-opacity: .6;
}

.dependency {
	pointer-events: none !important;
	stroke: darkgrey;
	stroke-width: 1.5;
	marker-end: url(#arrowhead);
	stroke-opacity: 0.8;
}

path {
	pointer-events: none !important;
}

#arrowhead path {
	fill: darkgrey;
	fill-opacity: 0.8;
	stroke-opacity: 0.8;
}
#arrowheadCritical {
	fill: #333333;
	fill-opacity: 0.8;
	stroke-opacity: 0.8;
}

#arrowheadSelected path {
	fill: red;
	fill-opacity: 1;
	stroke-opacity: 1;
}

#arrowheadRedundant path {
	fill: orange;
	fill-opacity: 0.6;
	stroke-opacity: 0.6;
}

#arrowheadCyclical path {
	fill: #44AA00;
	fill-opacity: 1;
	stroke-opacity: 1;
}

.dependency.selected {
	stroke: red;
	stroke-width: 2;
	marker-end: url(#arrowheadSelected);
	stroke-opacity: 1;
}
.dependency.redundant {
	stroke: orange;
	stroke-opacity: 0.5;
	marker-end: url(#arrowheadRedundant);
}
.dependency.redundant.hidden {
	display: none !important;
}
.dependency.cyclical {
	stroke: #44AA00;
	stroke-opacity: 1;
	stroke-width: 3;
	marker-end: url(#arrowheadCyclical);
}

.unfocussed {
	fill-opacity: 0.4 !important;
	stroke-opacity: 0.4 !important;
}
.unfocussed .itemLabel {
	color: rgba(0, 0, 0, 0.4) !important;
}

.background {
	fill-opacity: 0;
	cursor: -webkit-grab;
}
.itemLabel {
	background-color: transparent !important;
	cursor: default !important;
	pointer-events: none !important;
	font: 10px sans-serif !important;
	vertical-align: middle !important;
}
.itemLabel.selected {
	fill: #AA33AA;
	font-weight: bold !important;	
}
body.itemLabel {
	display: table !important;
	margin-left: auto !important;
	margin-right: auto !important;
	table-layout: fixed !important;
}
div.itemLabel {
	display: table-cell;
	text-align: center;
	vertical-align: middle;	
}
.root {
	display: none !important;
}

div.body {
	width: 100%;
}
polygon.highlighted.mainItem {
	stroke-width: 6px !important;
	stroke: #ff0000 !important;
}
polygon.highlighted.miniItem {
	stroke: #ff0000 !important;
}

/* for the task search box */
form#highlightFormId {
	display: inline-block !important;
}
span#filterClearId {
	position: absolute !important;
	display: inline !important;
	margin-top: 4px !important;
	cursor: pointer !important;
	opacity: 1 !important;
	margin-left: -18px;
}
span#filterClearId.disabled {
	opacity: 0.1 !important;
	cursor: auto !important;
	pointer-events: none !important;
}

.chart {
	border-top: 1px solid #008000;
}

.brushing {
	cursor: col-resize !important;
}
.brushing g.brush * {
	pointer-events: none !important;
}
.dragging, .dragging * {
	cursor: -webkit-grabbing !important;
}
.resizing, .resizing * {
	cursor: col-resize !important;
}

.critical * {
	font-weight: 700 !important;
}
line.critical {
	stroke: #333333;
	marker-end: url(#arrowheadCritical);
}

.axis {
	pointer-events: none !important;
}
g.itemLabel {
	-webkit-clip-path: inset(0px -10px 0px 0px);
	clip-path: inset(0px -10px 0px 0px);
	clip: inset(0px -10px 0px 0px);
}
