<div class="login-component clr-row" *ngIf="!redirectUser">
	<div class="clr-col-5 login-component-form__wrapper">
		<div class="clr-row clr-justify-content-center">
			<section class="login-component-form__section clr-col-8 clr-align-self-center">
				<h1>
					<a href="https://spencerbrewery.com/">
						<img src="/tdstm/tds/web-app/assets/images/transitionLargeLogo.svg" alt="Transition Manager Logo" />
					</a>
				</h1>
				<form clrForm action="signIn" name="loginForm" class="login-form is-fullwidth" #loginForm="ngForm" clrLayout="vertical" (keyup.enter)="onLogin()">
					<clr-select-container class="clr-col-12" *ngIf="loginInfo.config?.authorityPrompt === authorityOptions.SELECT">
						<select clrSelect
								name="authority"
								[(ngModel)]="loginModel.authority"
								(keydown.enter)="$event.stopImmediatePropagation(); $event.preventDefault(); onLogin();"
								required>
							<option value="Select {{ loginInfo.config?.authorityLabel }}" disabled>Select {{ loginInfo.config?.authorityLabel }}</option>
							<option *ngFor=" let authority of loginInfo.config.authorityList"
                                    [value]="authority"
								    [attr.selected]="authority === defaultAuthorityItem">
                                {{ authority }}</option>
						</select>
						<clr-control-error>{{ loginInfo.config?.authorityLabel }} Required</clr-control-error>
					</clr-select-container>
					<clr-input-container class="clr-col-12" *ngIf="loginInfo.config?.authorityPrompt === authorityOptions.PROMPT" >
						<input clrInput type="text" name="authority"
							[ngClass]="{'ng-invalid-not-touched': !loginForm.form.touched}"
							[(ngModel)]="loginModel.authority"
							placeholder="Enter {{loginInfo.config?.authorityLabel}}"
							required />
						<clr-control-error>{{ loginInfo.config?.authorityLabel }} Required</clr-control-error>
					</clr-input-container>
					<clr-input-container class="clr-col-12">
						<input clrInput type="text"
							[ngClass]="{ 'ng-invalid-not-touched': !loginForm.form.touched}"
							name="username"
							id="usernameid"
							[(ngModel)]="loginModel.username"
							placeholder="Username"
							required />
						<clr-control-error>Incorrect Login Information</clr-control-error>
					</clr-input-container>
					<clr-password-container class="clr-col-12 login-password__clr-container">
						<input clrPassword placeholder="Password" name="password" id="password" [(ngModel)]="loginModel.password" required autocomplete="off" />
						<clr-control-error>Incorrect Login Information</clr-control-error>
					</clr-password-container>
					<div class="clr-col-12">
						<a [routerLink]="['/auth', 'forgot']" id="forgot-your-password">{{ 'LOGIN.FORGOT_PASSWORD' | translate }}</a>
					</div>
					<div class="clr-col-12" *ngIf="errMessage">
						<div class="alert alert-danger" role="alert">
							<div class="alert-items">
								<div class="alert-item static">
									<div class="alert-icon-wrapper">
										<clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
									</div>
									<span class="alert-text">{{errMessage}}</span>
								</div>
							</div>
						</div>
					</div>
					<div class="clr-col-12 login-notice__wrapper" *ngIf="loginInfo.notices.length > 0">
						<div class="alert alert-info" role="alert" *ngFor="let notice of loginInfo.notices">
							<div class="alert-items">
								<div class="alert-item static">
									<div class="alert-icon-wrapper">
										<clr-icon
											class="alert-icon"
											shape="info-circle"
										></clr-icon>
									</div>
									<span class="alert-text" [innerHTML]="notice['htmlText'] | safeHtml"></span>
								</div>
							</div>
						</div>
					</div>
					<div class="clr-col-12 login-button__wrapper">
						<tds-button
								id="loginBtn"
								class="login-button"
								theme="primary"
								state="{{onLoginProgress? 'loading' : 'default'}}"
								title="Click here to login"
								(click)="onLogin()">
							Log In
						</tds-button>
					</div>
					<div class="build-info">{{loginInfo.buildVersion}} Patent Pending</div>
				</form>
			</section>
		</div>
	</div>
</div>
