<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" (click)="activeDialog.dismiss('Something wrong X Button')" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Show Game: {{ game.Name}}</h4>
    </div>
    <div class="modal-body">
        <p>Something Here</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="activeDialog.dismiss('Something wrong Close Button')">Close</button>
        <button type="button" class="btn btn-primary" (click)="activeDialog.close('Everything Ok')">Save changes</button>
    </div>
</div>

