<div class="data-script-etl-builder-component">
	<!-- Action buttons bar -->
	<div class="row">
		<div class="col-md-12">
			<tds-check-action
				[disabled]="isTestDisabled()"
				[name]="'Test'"
				(onClick)="onTestScript()"
				[(model)]="operationStatus.test">
			</tds-check-action>
			<tds-check-action
				[disabled]="isCheckSyntaxDisabled()"
				[name]="'Check Syntax'"
				(onClick)="onCheckScriptSyntax()"
				[(model)]="operationStatus.syntax">
			</tds-check-action>
			<button
				type="button"
				(click)="onLoadSampleData()"
				[disabled]="!canLoadSampleData()"
				class="btn btn-default">
				{{'DATA_INGESTION.DATASCRIPT.DESIGNER.LOAD_SAMPLE_DATA'| translate}}
			</button>
			<button
				type="button"
				[disabled]="!scriptTestResult.consoleLog"
				(click)="onViewConsole()"
				class="btn btn-default">
				{{'DATA_INGESTION.DATASCRIPT.DESIGNER.VIEW_CONSOLE'| translate}}
			</button>
			<button class="pull-right btn btn-default" (click)="toggleSection('code')">
				<i class="fa " [ngClass]="{ 'fa-angle-double-down': !collapsed.code, 'fa-angle-double-right': collapsed.code }"
					 style="padding-right:0px"></i>
			</button>
		</div>
	</div>
	<!-- Progress bar-->
	<div class="row progressBar-row">
		<div class="col-md-12 progressBar-container">
			<div
				*ngIf="
					operationStatus.test.state ===
					CHECK_ACTION.IN_PROGRESS
				"
				class="progress"
			>
				<div
					class="progress-bar progress-bar-striped active"
					[style.width.%]="
						testScriptProgress.currentProgress
					"
				></div>
			</div>
		</div>
	</div>
	<!-- Textarea code -->
	<div class="row" *ngIf="!collapsed.code">
		<div class="col-md-12">
			<code-mirror
				#codeMirror
				[mode]="'groovy'"
				[(model)]="script"
				(change)="onScriptChange($event)"
			></code-mirror>
		</div>
	</div>

	<!-- Errors Panel -->
	<div
		*ngIf="
			(sampleDataHasErrors() ||
				testHasErrors() ||
				syntaxHasErrors()) &&
			!closeErrorsSection
		"
		class="row"
		style="margin-top: 10px;"
	>
		<div class="col-md-12">
			<span class="pull-left" style="color: #a94442;"
			><b>{{
				'DATA_INGESTION.DATASCRIPT.DESIGNER.SYNTAX_ERRORS'
					| translate
				}}</b></span
			>
			<span
				class="pull-right"
				style="cursor: pointer;"
				(click)="closeErrors()"
			>
				<button
					aria-label="Close"
					class="close"
					type="button"
					style="margin-right: 5px; opacity: unset;"
				>
					<clr-icon
						aria-hidden="true"
						shape="close"
					></clr-icon>
				</button>
			</span>
			<textarea
				*ngIf="testHasErrors()"
				class="form-control console"
				[(ngModel)]="scriptTestResult.error"
				cols="30"
				rows="3"
				readonly
				style="cursor: default; resize: vertical;"
			></textarea>
			<textarea
				*ngIf="syntaxHasErrors()"
				class="form-control console"
				cols="30"
				rows="3"
				readonly
				style="cursor: default; resize: vertical;"
			>{{ getSyntaxErrors() }}</textarea
			>
			<textarea
				*ngIf="sampleDataHasErrors()"
				[(ngModel)]="sampleDataModel.errors"
				class="form-control console"
				cols="30"
				rows="3"
				readonly
				style="cursor: default; resize: vertical;"
			></textarea>
		</div>
	</div>
	<hr/>
	<!-- Sample Preview Panels -->
	<div class="data-preview">
		<!-- Sample Data -->
		<div class="row">
			<div class="col-md-12 sample-preview">
				<h4 class="pull-left">
					{{
					'DATA_INGESTION.DATASCRIPT.DESIGNER.SAMPLE_DATA_PREVIEW'
						| translate
					}}
				</h4>
				<span
					*ngIf="showSampleDataRefresh()"
					class="glyphicon glyphicon-refresh"
					style="margin-left: 5px; margin-top: 3px; cursor: pointer; color: #5e9fcf; font-weight: bold;"
					(click)="reloadSampleData()"
				></span>
				<button
					class="pull-right btn btn-default"
					(click)="toggleSection('sample')"
				>
					<i
						class="fa"
						[ngClass]="
							collapsed.sample
								? 'fa-angle-double-right'
								: 'fa-angle-double-down'
						"
					></i>
				</button>
			</div>
			<div
				class="col-md-12"
				*ngIf="!collapsed.sample && sampleDataModel && sampleDataModel.data"
			>
				<div class="dialog-inner-tables">
					<kendo-grid
							*ngIf="sampleDataGridHelper"
							class="tds-table narrow-rows"
							[ngClass]="{ 'hide-filter': !showSampleData, 'hide-paginator': sampleDataGridHelper.gridData.total <= 25}"
							[data]="sampleDataGridHelper.gridData"
							[filterable]="true"
							[sort]="sampleDataGridHelper.state.sort"
							[sortable]="{mode:'single'}"
							(sortChange)="sampleDataGridHelper.sortChange($event)"
							[skip]="sampleDataGridHelper.state.skip"
							[pageable]="{buttonCount: 5, info: true, pageSizes: [25, 50, 100]}"
							[pageSize]="sampleDataGridHelper.state.take"
							[resizable]="true"
							[height]="sampleDataModel.gridHeight"
							(pageChange)="sampleDataGridHelper.pageChange($event)"
						>
						<!-- Show Filters / Actions column -->
						<kendo-grid-column
								[field]="'_showFilters'"
								[headerClass]="'text-center'"
								[sortable]="false"
								[class]="{ 'k-custom-command-column': true, 'actions-column': true }"
								[width]="80"
								[minResizableWidth]="80">
							<!-- Toggle Filters button -->
							<ng-template kendoGridHeaderTemplate>
								<tds-grid-show-hide-filters-button
										[filterCount]="sampleDataGridHelper.getFilterCounter()" (toggleFilters)="showFilterSampleData()">
								</tds-grid-show-hide-filters-button>
							</ng-template>
							<!-- Clear all Filters button -->
							<ng-template kendoGridFilterCellTemplate let-filter>
								<tds-grid-clear-all-filters-button
										[show]="sampleDataGridHelper.getFilterCounter()" (clearFilters)="sampleDataGridHelper.clearAllFilters(sampleDataModel.columns)">
								</tds-grid-clear-all-filters-button>
							</ng-template>
						</kendo-grid-column>
						<kendo-grid-column
							*ngFor="let column of sampleDataModel.columns"
							field="{{ column.property }}"
							title="{{ column.label }}">

							<!-- Header Template -->
							<ng-template kendoGridHeaderTemplate>
								<div class="sortable-column component-action-sort">
									<div>
										<label>
											{{column.label}}
										</label>
									</div>
								</div>
							</ng-template>

							<!-- Filter Template -->
							<ng-template kendoGridFilterCellTemplate let-filter>
								<div class="filter-input"
									 *ngIf="column.property && (column.type !== 'action' && column.type !== 'number' )">
									<tds-grid-filter-input
											[name]="column.property"
											[value]="column.filter || ''"
											[filterType]="column.type"
											[dateFormat]="column.format"
											[placeholder]="'GLOBAL.FILTER' | translate"
											(filter)="sampleDataGridHelper.onFilterWithValue($event, column)">
									</tds-grid-filter-input>
								</div>
							</ng-template>

							<ng-template kendoGridCellTemplate let-dataItem>
								<div
									class="cell-template"
									title="{{dataItem[column.property]| utils: OBJECT_OR_LIST_PIPE}}">
									{{dataItem[column.property]| utils: OBJECT_OR_LIST_PIPE}}
								</div>
							</ng-template>
						</kendo-grid-column>
						<!-- Pagination Footer -->
						<ng-template kendoPagerTemplate let-total="total" let-totalPages="totalPages" let-currentPage="currentPage">
							<div class="clr-col-4"></div>
							<div class="clr-col-8">
								<tds-grid-pager
										[total]="total"
										[totalPages]="totalPages"
										[currentPage]="currentPage"
										[pageSize]="sampleDataGridHelper.state.take"
										[pageSizes]="sampleDataGridHelper.defaultPageOptions"
										(pageChange)="sampleDataGridHelper.pageChange($event)">
								</tds-grid-pager>
							</div>
						</ng-template>
						<kendo-grid-messages noRecords="There are no records to display."></kendo-grid-messages>
					</kendo-grid>
				</div>
			</div>
		</div>
		<hr/>
		<!-- Transformed Test Data -->
		<div class="row" *ngIf="scriptTestResult.domains && scriptTestResult.domains.length > 0">
			<label class="col-md-12">
				<h4 class="pull-left">
					{{
					'DATA_INGESTION.DATASCRIPT.DESIGNER.TRANSFORMED_DATA_PREVIEW'
						| translate
					}}
				</h4>
				<button
					data-toggle="collapse"
					data-target=".collapsible"
					(click)="toggleSection('transform')"
					class="btn btn-default pull-right"
				>
					<i
						[ngClass]="
							collapsed.transform
								? 'fa-angle-double-right'
								: 'fa-angle-double-down'
						"
						class="fa"
					></i>
				</button>
			</label>
			<div class="col-md-12 collapse in collapsible">
				<kendo-tabstrip (tabSelect)="onDomainTabSelected($event)">
					<kendo-tabstrip-tab [title]="getDomainTabTitle(domain)"
															[selected]="i === 0"
															*ngFor="let domain of scriptTestResult.domains;let i = index">
						<ng-template kendoTabContent>
							<div
								*ngIf="
									scriptTestResult.domains &&
									(!testHasErrors() ||
										!syntaxHasErrors())
								"
							>
								<!-- Fields Info Popup -->
								<field-reference-popup
									*ngIf="
										fieldReferencePopupHelper
											.popup.show
									"
									[mouseEvent]="
										fieldReferencePopupHelper
											.popup.mouseEvent
									"
									[type]="
										fieldReferencePopupHelper
											.popup.type
									"
									[domain]="
										fieldReferencePopupHelper
											.popup.domain
									"
									[results]="
										fieldReferencePopupHelper
											.popup.results
									"
									[gridData]="
										fieldReferencePopupHelper
											.popup.gridData
									"
									[gridGroups]="
										fieldReferencePopupHelper
											.popup.gridGroups
									"
									[offset]="
										fieldReferencePopupHelper
											.popup.offset
									"
									(onClose)="
										fieldReferencePopupHelper.closePopup(
											$event
										)
									"
								>
								</field-reference-popup>
								<div class="dialog-inner-tables">
									<kendo-grid
										*ngIf="transformedDataGrids[i]"
										class="tds-table narrow-rows"
										[ngClass]="{ 'hide-filter': !showTransformedData[i], 'hide-paginator': transformedDataGrids[i].gridData.total <= 25}"
										[data]="transformedDataGrids[i].gridData"
										[filterable]="true"
										[sort]="transformedDataGrids[i].state.sort"
										[sortable]="{mode:'single'}"
										(sortChange)="transformedDataGrids[i].sortChange($event)"
										[skip]="transformedDataGrids[i].state.skip"
										[pageable]="{buttonCount: 5, info: true, pageSizes: [25, 50, 100]}"
										[pageSize]="transformedDataGrids[i].state.take"
										[resizable]="true"
										[height]="'300'"
										(pageChange)="transformedDataGrids[i].pageChange($event)"
									>
										<!-- Show Filters / Actions column -->
										<kendo-grid-column
												[field]="'_showFilters'"
												[headerClass]="'text-center'"
												[sortable]="false"
												[class]="{ 'k-custom-command-column': true, 'actions-column': true }"
												[width]="80"
												[minResizableWidth]="80">
											<!-- Toggle Filters button -->
											<ng-template kendoGridHeaderTemplate>
												<tds-grid-show-hide-filters-button
														[filterCount]="transformedDataGrids[i].getFilterCounter()" (toggleFilters)="showFiltersTransformedData(i, domain.fieldNames)">
												</tds-grid-show-hide-filters-button>
											</ng-template>
											<!-- Clear all Filters button -->
											<ng-template kendoGridFilterCellTemplate let-filter>
												<tds-grid-clear-all-filters-button
														[show]="transformedDataGrids[i].getFilterCounter()" (clearFilters)="transformedDataGrids[i].clearAllFilters(transformedDataColumns[i])">
												</tds-grid-clear-all-filters-button>
											</ng-template>
										</kendo-grid-column>
										<!-- Field Columns -->
										<kendo-grid-column
											class="test-results-row"
											*ngFor="let column of transformedDataColumns[i]"
											field="{{ column.property }}"
											title="{{column.label}}"
										>
											<!-- Header Template -->
											<ng-template kendoGridHeaderTemplate>
												<div class="sortable-column component-action-sort">
													<div>
														<label>
															{{column.label}}
														</label>
													</div>
												</div>
											</ng-template>

											<!-- Filter Template -->
											<ng-template kendoGridFilterCellTemplate let-filter>
												<div class="filter-input">
													<tds-grid-filter-input
															[name]="column.property"
															[value]="column.filter || ''"
															[filterType]="column.type"
															[placeholder]="'GLOBAL.FILTER' | translate"
															(filter)="transformedDataGrids[i].onFilterWithValue($event, column)">
													</tds-grid-filter-input>
												</div>
											</ng-template>

											<ng-template
												kendoGridCellTemplate
												let-dataItem
											>
												<div *ngIf="dataItem.fields && dataItem.fields[column.property]"
													 [ngClass]="{'has-init':!dataItem.fields[column.property].value && dataItem.fields[column.property].init}">
													<div class="" style="width: 100%;">
														{{ dataItem[column.property] }}
														<i
																*ngIf="!dataItem.fields[column.property].value && dataItem.fields[column.property].init"
																[title]="MESSAGE_FIELD_WILL_BE_INITIALIZED"
																class="fa fa-w fa-info"
														></i>
													</div>

													<!-- Popup Reference Icons -->
													<div class="" style="width: 100%;">
														<i
																*ngIf="dataItem.fields[column.property].create"
																(click)="fieldReferencePopupHelper.onShowPopup($event,FieldInfoType.CREATE,dataItem.fields[column.property],domain.fieldLabelMap)"
																title="View Create Reference Detail"
																class="field-info-icon fa fa-plus-square"
														></i>
														<i
																*ngIf="dataItem.fields[column.property].update"
																(click)="fieldReferencePopupHelper.onShowPopup($event,FieldInfoType.UPDATE,dataItem.fields[column.property], domain.fieldLabelMap)"
																title="View Update Reference Detail"
																class="field-info-icon fa fa-pencil-square"></i>
														<i
																*ngIf="dataItem.fields[column.property].find && dataItem.fields[column.property].find.query.length > 0"
																(click)="fieldReferencePopupHelper.onShowPopup($event, FieldInfoType.FIND, dataItem.fields[column.property],domain.fieldLabelMap) "
																title="View Find Results"
																class="field-info-icon fa fa-search"
														></i>
													</div>
												</div>
											</ng-template>
										</kendo-grid-column>
										<!-- Pagination Footer -->
										<ng-template kendoPagerTemplate let-total="total" let-totalPages="totalPages" let-currentPage="currentPage">
											<div class="clr-col-4"></div>
											<div class="clr-col-8">
												<tds-grid-pager
														[total]="total"
														[totalPages]="totalPages"
														[currentPage]="currentPage"
														[pageSize]="transformedDataGrids[i].state.take"
														[pageSizes]="transformedDataGrids[i].defaultPageOptions"
														(pageChange)="transformedDataGrids[i].pageChange($event)">
												</tds-grid-pager>
											</div>
										</ng-template>
										<kendo-grid-messages noRecords="There are no records to display."></kendo-grid-messages>
									</kendo-grid>
								</div>
							</div>
						</ng-template>
					</kendo-tabstrip-tab>
				</kendo-tabstrip>
			</div>
		</div>
	</div>
</div>

