<div class="event-resume-component" *ngIf="event">
    <div class="event-description">{{event.description}}</div>
    <div class="event-start-date">{{event.startDate | tdsDateTime: userTimeZone: dateTimeFormat}}</div>
    <div class="event-daytime">{{event.dayTime}}</div>
    <div class="after-results">
        <div class="event-units">
            <div>Days</div>
            <div>Hours</div>
            <div>Mins</div>
        </div>
    </div>
    <div class="event-title after-results">{{event.eventTitle}}</div>
    <div class="event-status after-results">Runbook Status: <span>{{event.status}}</span></div>
</div>