<div class="modal fade in" id="add-person-component" data-backdrop="static" tabindex="0" role="dialog">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content resizable" [style.width.px]="500">
            <div class="modal-header">
                <button (click)="cancelCloseDialog()" type="button" class="close" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">Information</h4>
            </div>
            <div class="modal-body">
                <div class="modal-body-container">
                    <form name="addPersonForm" role="form" data-toggle="validator" #addPersonForm='ngForm' class="form-horizontal left-alignment">
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <textarea rows="15" class="form-control"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer form-group-center">
                <button type="button" class="btn btn-primary pull-left"><span
                        class="fa fa-fw fa-floppy-o"></span> Save
                </button>
                <button type="button" class="btn btn-default pull-right">
                    <span class="glyphicon glyphicon-ban-circle"></span>
                    <span>Cancel</span>
                </button>
            </div>
        </div>
    </div>
</div>
