<div class="fields-container row" *ngIf="fieldsInfo">

    <kendo-popup #infoPopup *ngIf="popup.show"
                 [margin]="popup.margin"
                 [popupClass]="'content popup'"
                 [offset]="popup.offset"
                 [positionMode]="popup.position">
        <div style="border: 1px solid #656565; min-width: 400px;">
            <div style="padding-top: 5px;padding-right: 3px;background-color: #5f9fcf;display:  inline-block;padding-left: 10px;width:  100%;">
                <label style="float: left;display: inline;padding-right: 0;color: #ffffff;">
                    {{popup.title}}
                </label>
                <i style="float: right;cursor: pointer;font-size: smaller;color: #ffffff;display: inline;margin-top: 5px;margin-right:  5px;"
                   class="glyphicon glyphicon-remove" (click)="popup.show=false"></i>
            </div>
            <div style="padding: 15px 15px 15px 15px;">
            </div>
        </div>
    </kendo-popup>

    <kendo-grid
            [data]="gridData"
            [pageSize]="25">
        <ng-template kendoGridToolbarTemplate [position]="'top'">
            <label class="fieldsFilterLabel col-sm-1 text-left">Fields</label>
            <div class="fieldsFilter col-sm-2">
                <kendo-dropdownlist id="fieldsFilter" name="fieldsFilter"
                                    [data]="fieldsFilter.options"
                                    [textField]="'text'"
                                    [valueField]="'value'"
                                    [(ngModel)]="fieldsFilter.selected"
                                    (valueChange)="onFieldsFilter($event)"
                                    placeholder="Filter"
                                    class="form-control input-sm"></kendo-dropdownlist>
            </div>
            <div class="fieldsFilterText col-sm-3">
                <input [(ngModel)]="fieldsFilter.nameFilter.value"
                       type="text" class="form-control"
                       name="fieldsFilterText" placeholder="Filter on field name"
                       (keyup)="onTextFilter()">
                <span *ngIf="fieldsFilter.nameFilter.value"
                      class="fa fa-times form-control-feedback"
                      (click)="clearTextFilter()"></span>
            </div>
        </ng-template>
        <kendo-grid-column title="Name" field="name" [width]="100"></kendo-grid-column>
        <kendo-grid-column *ngIf="batchRecord.operation === BATCH_RECORD_OPERATION.INSERT && batchRecord.status.code === BatchStatus.PENDING"
                           title="Current Value" [class]="'gray-background'" [width]="150">
        </kendo-grid-column>
        <kendo-grid-column *ngIf="batchRecord.operation === BATCH_RECORD_OPERATION.UPDATE && batchRecord.status.code === BatchStatus.PENDING"
                           title="Current Value" field="currentValue" [width]="200">
        </kendo-grid-column>
        <kendo-grid-column *ngIf="batchRecord.status.code === BatchStatus.COMPLETED"
                           title="Imported Value" [class]="'import-value'" [width]="200">
	        <ng-template kendoGridCellTemplate let-dataItem>
		        <div class="import-item-container">
			        <input *ngIf="dataItem.importValue" type="text" class="import-value-input form-control" [(ngModel)]="dataItem.importValue" readonly/>
			        <input *ngIf="!dataItem.importValue && dataItem.initValue" type="text" class="import-value-input form-control" [(ngModel)]="dataItem.initValue" readonly/>
			        <i [ngClass]="{'has-init-value': !dataItem.importValue && dataItem.initValue}" *ngIf="dataItem.initValue" [title]="MESSAGE_FIELD_WILL_BE_INITIALIZED" class="fa fa-w fa-info"></i>
		        </div>
	        </ng-template>
        </kendo-grid-column>
        <kendo-grid-column title="Import Value" *ngIf="showActionButtons()" [width]="200" [class]="'import-value'">
            <ng-template kendoGridCellTemplate let-dataItem>
                <div class="import-item-container">
                    <input *ngIf="(dataItem.importValue || dataItem.importValue === '' ) && !dataItem.initValue" type="text" class="import-value-input form-control" [(ngModel)]="dataItem.importValue" />
	                <input *ngIf="!dataItem.importValue && dataItem.initValue" type="text"
	                       class="import-value-input form-control has-init-value" [(ngModel)]="dataItem.initValue"/>
	                <i [ngClass]="{'has-init-value': !dataItem.importValue && dataItem.initValue}"
                       *ngIf="!dataItem.importValue && dataItem.initValue" [title]="MESSAGE_FIELD_WILL_BE_INITIALIZED" class="fa fa-w fa-info"></i>
                </div>
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column title="Reference" [width]="80">
            <ng-template kendoGridCellTemplate let-dataItem>
                <i *ngIf="true" (click)="onShowPopup($event, 'create', dataItem)" title="View Create Reference Detail" class="fa fa-plus-square" style="cursor: pointer; font-size: 17px; margin-right: 5px;"></i>
                <i *ngIf="true" (click)="onShowPopup($event, 'update', dataItem)" title="View Update Reference Detail" class="fa fa-pencil-square" style="cursor: pointer; font-size: 17px; margin-right: 5px;"></i>
                <i *ngIf="true" (click)="onShowPopup($event, 'find', dataItem)" title="View Find Results" class="fa fa-search" style="cursor: pointer; font-size: 17px; margin-right: 5px;"></i>
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column title="Error(s)">
            <ng-template kendoGridCellTemplate let-dataItem >
                <div *ngFor="let error of dataItem.errors" class="error">
                    * {{error}}
                </div>
            </ng-template>
        </kendo-grid-column>
    </kendo-grid>

    <div class="row footer">
        <tds-check-action
                *ngIf="showActionButtons()"
                [disabled]="!areOverrideValuesDirty()"
                [name]="'Save'"
                (onClick)="onUpdate()"
                [noneStateIcon]="'glyphicon glyphicon-floppy-disk'"
                [class]="'btn-sm col-sm-1'"
                [(model)]="saveStatus">
        </tds-check-action>
        <tds-check-action
                *ngIf="showActionButtons()"
                [disabled]="areOverrideValuesDirty()"
                [name]="'Process'"
                (onClick)="onProcess()"
                [noneStateIcon]="'glyphicon glyphicon-retweet'"
                [class]="'btn-sm col-sm-1'"
                [(model)]="processStatus">
        </tds-check-action>
        <button *ngIf="showIncludeButton()"
                (click)="onInclude()"
                class="btn btn-default btn-sm col-sm-1" type="button">
            <i class="glyphicon glyphicon-plus"></i>
            Include
        </button>
        <button *ngIf="showIgnoreButton()"
                (click)="onIgnore()"
                class="btn btn-default btn-sm col-sm-1" type="button">
            <i class="glyphicon glyphicon-eye-close"></i>
            Ignore
        </button>
        <button (click)="onCancel()"
                class="btn btn-default btn-sm col-sm-1 pull-right" type="button">
            <i class="glyphicon glyphicon-remove-circle"></i>
            <span>{{showActionButtons() ? 'Cancel' : 'Close'}}</span>
        </button>
    </div>
</div>