<style>
    .tool-box {
        float: right;
    }
    .modal-title {
        float: left;
    }
    .modal-body {
        overflow: auto;
    }
    .modal-dialog {
        top: 200px !important;
    }
</style>
<div class="modal fade in" id="import-batch-record-fields-info" data-backdrop="static" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Create Reference</h4>
                <div class="tool-box">
                    <button id="btnCloseDialog" (click)="onCancelCloseDialog()" type="button" class="close-screen" aria-label="Close" title="Close">
                        <span class="glyphicon glyphicon-remove" title="Close"></span>
                    </button>
                </div>
            </div>
            <div class="modal-body" >
                <div class="modal-body-container">
                    <section>
                        body here ..
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
