<div>
	<section class="content page-asset-explorer-index">
		<div class="row">
			<div class="col-md-2 asset-explorer-index-left-menu">
				<div class="box box-primary">
					<div class="box-header with-border">
						<span class="glyphicon glyphicon-th-list"></span>
						<h3 class="box-title box-title-folder-list">{{'ASSET_EXPLORER.INDEX.SAVED_VIEWS' | translate}}</h3>
					</div>
					<div class="box-body">
						<ul class="nav nav-pills nav-stacked">
							<li *ngFor="let folder of reportGroupModels" [ngClass]="folder.open? 'active': ''">
								<a (click)="selectFolder(folder, $event)">
									<i class="fa"
										 [ngClass]="(folder.type !== viewType.FAVORITES)? 'fa-folder' : 'fa-star text-yellow'"></i> {{folder?.name}}
									<span class="label label-primary pull-right">{{folder.views.length}}</span>
								</a>
							</li>
						</ul>
					</div>
					<!-- /.box-body -->
				</div>
				<!-- /. box -->
			</div>
			<!-- /.col -->
			<div class="col-md-10 asset-explorer-index-container">
				<div class="box box-primary">
					<!-- /.box-header -->
					<div class="box-body">
						<div class="table-responsive">
							<!-- Grid -->
							<kendo-grid
								*ngIf="gridHelper"
								class="page-height narrow-rows"
								[ngClass]="{ 'hide-filter': !showFilters }"
								[data]="gridHelper.gridData"
								[filterable]="true"
								[sort]="gridHelper.state.sort"
								[sortable]="{mode:'single'}"
								(sortChange)="changeSort($event)"
								[skip]="gridHelper.state.skip"
								[resizable]="true"
								[pageable]="{pageSizes: gridHelper.defaultPageOptions, info: true}"
								[pageSize]="gridHelper.state.take">

								<!-- Toolbar Template -->
								<ng-template kendoGridToolbarTemplate [position]="'top'">
									<div class="clr-row">
										<div class="clr-col-2">
											<h3 class="box-title box-title-grid-list">{{selectedFolder?.name}}</h3>
										</div>
										<div class="clr-col-10">
											<div class="pull-right">
												<tds-grid-header-action-buttons
													(refresh)="reloadData()"
													[actionButtons]="headerActionButtons">
												</tds-grid-header-action-buttons>
											</div>
										</div>
									</div>
								</ng-template>

								<!-- Show Filters / Actions column -->
								<kendo-grid-column [field]="'_showFilters'"
																	 [headerClass]="'text-center'"
																	 [sortable]="false"
																	 [class]="{ 'k-custom-command-column': true, 'actions-column': true }"
																	 [width]="60"
																	 [minResizableWidth]="60">
									<!-- Toggle Filters button -->
									<ng-template kendoGridHeaderTemplate>
										<tds-grid-show-hide-filters-button [filterCount]="gridHelper.getFilterCounter()"
																											 (toggleFilters)="toggleFilter()">
										</tds-grid-show-hide-filters-button>
									</ng-template>
									<!-- Clear all Filters button -->
									<ng-template kendoGridFilterCellTemplate let-filter>
										<tds-grid-clear-all-filters-button [show]="gridHelper.getFilterCounter()"
																											 (clearFilters)="gridHelper.clearAllFilters(gridColumns)">
										</tds-grid-clear-all-filters-button>
									</ng-template>
									<ng-template kendoGridCellTemplate let-dataItem>
										<div class="action-button btn-link pad-ellipses-center">
											<clr-dropdown #dropdown>
												<tds-button icon="ellipsis-vertical"
																		clrDropdownTrigger
																		tdsGridContextMenuFixedPosition [clrDropdown]="dropdown"></tds-button>
												<clr-dropdown-menu *clrIfOpen clrPosition="bottom-left">
													<a clrDropdownItem *ngIf="isEditAvailable(dataItem)"
														 title="Edit View"
														 (click)="onEditReport(dataItem)">
														Edit
													</a>
													<a clrDropdownItem *ngIf="isDeleteAvailable(dataItem) && !dataItem.isSystem"
														 title="Delete View"
														 (click)="onDeleteReport(dataItem)">
														Delete
													</a>
												</clr-dropdown-menu>
											</clr-dropdown>
										</div>
									</ng-template>
								</kendo-grid-column>

								<!-- Columns -->
								<kendo-grid-column
									*ngFor="let column of gridColumns"
									[resizable]="column.resizable"
									field="{{ column.property }}"
									[locked]="column.locked"
									[format]="dateFormat"
									[headerClass]="column.headerClass ? column.headerClass : ''"
									[headerStyle]="column.headerStyle ? column.headerStyle : ''"
									[class]="column.cellClass ? column.cellClass : ''"
									[style]="column.cellStyle ? column.cellStyle : ''"
									[width]="!column.width ? 100 : column.width"
									[columnMenu]="column.columnMenu">

									<!-- Header Template -->
									<ng-template kendoGridHeaderTemplate>
										<div class="sortable-column">
											<label>{{ column.label | translate }}</label>
										</div>
									</ng-template>

									<!-- Cell Templates -->
									<ng-template kendoGridCellTemplate *ngIf="column.property === 'isFavorite'" let-dataItem>
										<tds-button-custom
											[flat]="true"
											[icon]="'star'"
											[iconClass]="dataItem.isFavorite ? 'is-solid' : ''"
											[tooltip]="dataItem.isFavorite ? 'Remove from Favorites' : 'Add to Favorites'"
											class="favorite-button text-yellow"
											(click)="toggleFavorite(dataItem)">
										</tds-button-custom>
									</ng-template>
									<ng-template kendoGridCellTemplate *ngIf="column.property === 'name'" let-dataItem>
										<a class="link-text" [title]="dataItem.name"
											 [routerLink]="['/asset','views',dataItem.id,'show']" [queryParams]="dataItem.queryParams">
											{{dataItem.name}}
										</a>
									</ng-template>
									<ng-template kendoGridCellTemplate *ngIf="column.property === 'isShared'" let-dataItem>
										<span class="glyphicon glyphicon-ok" *ngIf="dataItem.isShared"></span>
									</ng-template>
									<ng-template kendoGridCellTemplate *ngIf="column.property === 'isGlobal'" let-dataItem>
										<span class="glyphicon glyphicon-ok" *ngIf="dataItem.isGlobal"></span>
									</ng-template>
									<ng-template kendoGridCellTemplate *ngIf="column.property === 'isSystem'" let-dataItem>
										<span class="glyphicon glyphicon-ok" *ngIf="dataItem.isSystem"></span>
									</ng-template>
									<ng-template kendoGridCellTemplate *ngIf="column.property === 'isOverride'" let-dataItem>
										<span class="glyphicon glyphicon-ok" *ngIf="dataItem.isOverride"></span>
									</ng-template>

									<!-- Filter Template -->
									<ng-template kendoGridFilterCellTemplate let-filter>
										<div class="filter-input" *ngIf="column.filterable">
											<tds-grid-filter-input
												[name]="column.property"
												[value]="column.filter || ''"
												[filterType]="column.type"
												[placeholder]="'GLOBAL.FILTER' | translate"
												(filter)="gridHelper.onFilterWithValue($event, column)">
											</tds-grid-filter-input>
										</div>
									</ng-template>
								</kendo-grid-column>

								<!-- Pagination Footer -->
								<ng-template kendoPagerTemplate let-total="total" let-totalPages="totalPages" let-currentPage="currentPage">
									<div class="clr-col-4"></div>
									<div class="clr-col-8">
										<tds-grid-pager
											[total]="total"
											[totalPages]="totalPages"
											[currentPage]="currentPage"
											[pageSize]="gridHelper.state.take"
											[pageSizes]="gridHelper.defaultPageOptions"
											(pageChange)="gridHelper.pageChange($event)">
										</tds-grid-pager>
									</div>
								</ng-template>
							</kendo-grid>
						</div>

						<!-- /.report-grid -->
					</div>
					<!-- /.box-body -->
				</div>
				<!-- /. box -->
			</div>
			<!-- /.col -->
		</div>
		<!-- /.row -->
	</section>
	<!-- /.content -->
</div>
