<div class="content body">
	<section class="content page-asset-explorer-index">
		<div class="row">
			<div class="col-md-2 asset-explorer-index-left-menu">
				<div class="box box-primary">
					<div class="box-header with-border">
						<span class="glyphicon glyphicon-th-list"></span>
						<h3 class="box-title box-title-folder-list">{{'ASSET_EXPLORER.INDEX.SAVED_VIEWS' | translate}}</h3>
					</div>
					<div class="box-body">
						<ul class="nav nav-pills nav-stacked">
							<li *ngFor="let folder of reportGroupModels" [ngClass]="folder.open? 'active': ''">
								<a (click)="selectFolder(folder, $event)">
									<i class="fa"
										 [ngClass]="(folder.type !== viewType.FAVORITES)? 'fa-folder' : 'fa-star text-yellow'"></i> {{folder?.name}}
									<span class="label label-primary pull-right">{{folder.views.length}}</span>
								</a>
							</li>
						</ul>
					</div>
					<!-- /.box-body -->
				</div>
				<!-- /. box -->
			</div>
			<!-- /.col -->
			<div class="col-md-10 asset-explorer-index-container">
				<div class="box box-primary">
					<div class="box-header with-border">
						<h3 class="box-title box-title-grid-list">{{selectedFolder?.name}}</h3>
						<div class="pull-right">
							<tds-grid-header-action-buttons
									(refresh)="loadData()"
									[actionButtons]="headerActionButtons"
									(clearFilters)="onClearAllFilters()"
									[disableClearFilters]="disableClearFilters">
							</tds-grid-header-action-buttons>
						</div>
						<!-- /.box-tools -->
					</div>
					<!-- /.box-header -->
					<div class="box-body">
						<div class="table-responsive">
							<table class="table clarity-table-grid fixed-header row-actions-2-children">
								<thead>
								<tr>
									<th class="asset-explorer-td-actions">
										<tds-button class="filter-trigger" [flat]="true" (click)="toggleFilter()">
											<clr-icon shape="filter" class="grid-filter-button is-solid">
												<span *ngIf="searchText && searchText.length" class="badge badge-warning">1</span>
											</clr-icon>
										</tds-button>
									</th>
									<th
										*ngFor="let column of gridColumns"
										[ngClass]="column.headerClass">
										<div (click)="changeSort(column.property)" class="sortable-column">
											{{ column.label | translate }}
											<span class="k-icon" [ngClass]="{ 'k-i-sort-asc-sm': column?.sort?.isSorting && column.sort.isAscending ,
														'k-i-sort-desc-sm': column?.sort?.isSorting && !column.sort.isAscending}"></span>
										</div>
										<div *ngIf="column.filterable && showAssetsFilter">
											<div class="filter-input">
<!--												(filter)="searchText = $event;"-->
												<tds-filter-input
                                                        [columnType]="column.type"
														[value]="searchText || ''"
														(filter)="onFilter($event, column)"
														placeholder="{{'GLOBAL.FILTER' | translate}}">
												</tds-filter-input>
											</div>
										</div>
									</th>
								</tr>
								</thead>
								<tbody *ngIf="selectedFolder">
								<tr *ngFor="let report of selectedFolder.views | filter:{ name: searchText}">
									<td class="asset-explorer-td-actions">
										<div class="action-button btn-group btn-link">
											<clr-dropdown>
												<tds-button icon="ellipsis-vertical" clrDropdownTrigger></tds-button>
												<clr-dropdown-menu *clrIfOpen clrPosition="bottom-left">
													<a clrDropdownItem *ngIf="isEditAvailable(report)"
														 title="Edit View"
														 (click)="onEditReport(report)">
														Edit
													</a>
													<a clrDropdownItem *ngIf="isDeleteAvailable(report) && !report.isSystem"
														 title="Delete View"
														 (click)="onDeleteReport(report)">
														Delete
													</a>
												</clr-dropdown-menu>
											</clr-dropdown>
										</div>
									</td>
									<td class="asset-explorer-td-favorite">
										<tds-button-custom
											[flat]="true"
											[icon]="'star'"
											[iconClass]="report.isFavorite ? 'is-solid' : ''"
											[tooltip]="report.isFavorite ? 'Remove from Favorites' : 'Add to Favorites'"
											class="favorite-button text-yellow"
											(click)="toggleFavorite(report)">
										</tds-button-custom>
									</td>
									<td class="asset-explorer-column-name">
										<a class="link-text"
											 [routerLink]="['/asset','views',report.id,'show']">
											{{report.name}}
										</a>
									</td>
									<td class="asset-explorer-td-created-by">
										{{report.createdBy}}
									</td>
									<td class="asset-explorer-td-created-on">
										{{report.createdOn}}
									</td>
									<td class="asset-explorer-td-updated-on">
										{{report.updatedOn}}
									</td>
									<td class="asset-explorer-td-is-shared text-center">
										<span class="glyphicon glyphicon-ok" *ngIf="report.isShared"></span>
									</td>
									<td class="asset-explorer-td-is-system text-center">
										<span class="glyphicon glyphicon-ok" *ngIf="report.isSystem"></span>
									</td>
								</tr>
								</tbody>
							</table>
							<!-- /.table -->
						</div>
						<!-- /.report-grid -->
					</div>
					<!-- /.box-body -->
				</div>
				<!-- /. box -->
			</div>
			<!-- /.col -->
		</div>
		<!-- /.row -->
	</section>
	<!-- /.content -->
</div>
