<div class="btn-group">
	<button type="button" class="btn" ng-disabled="!isTaskBatchSelected" ng-click="tasks.publishUnpublishTaskBatch(tasks.selectedTaskBatch)">
		<i class="fas {{((tasks.selectedTaskBatch.isPublished)? 'fa-download' : 'fa-upload')}}"></i> {{((tasks.selectedTaskBatch.isPublished)? 'Unpublish' : 'Publish')}}
	</button>
	<button type="button" class="btn" ng-disabled="!isTaskBatchSelected" ng-click="tasks.resetTaskBatch(tasks.selectedTaskBatch.id)"><i class="fas fa-retweet"></i> Reset</button>
	<button type="button" class="btn" ng-disabled="!isTaskBatchSelected" ng-click="tasks.refreshTaskBatches()"><i class="fas fa-sync-alt"></i> Refresh</button>
	<button type="button" class="btn" ng-disabled="!isTaskBatchSelected" ng-click="tasks.deleteTaskBatch(tasks.selectedTaskBatch.id)"><i class="far fa-trash-alt"></i> Delete</button>
</div>
