<kendo-dropdownlist #kendoDropDown="kendoDropDownList" [defaultItem]="{name:'Saved Reports',default:true}" [data]="data"
 (close)="onClose($event,false)" [valueField]="'name'" [textField]="'name'">
	<ng-template kendoDropDownListHeaderTemplate>
		<div class="has-feedback">
			<input type="text" class="form-control" (ngModelChange)="onSearch()" [(ngModel)]='search' id="search" placeholder="Search"
			 aria-describedby="search">
			<i class="fa fa-search form-control-feedback" aria-hidden="true"></i>
		</div>
		<div *ngIf="createNewLink">
			<a (click)="onCreateNew()" class="btn"><i class="fa fa-plus-square"></i> Create New</a>
		</div>
	</ng-template>
	<ng-template kendoDropDownListItemTemplate let-dataItem>
		<div class="container" *ngIf="!dataItem.default; else default">
			<div class="row" (click)="onFolderClick(dataItem)">
				<i class="fa" [ngClass]="getFolderStyle(dataItem)"></i> {{dataItem.name}}
			</div>
			<div class="row" style="margin-top:5px;" *ngIf="dataItem.open">
				<li>
					<ul style="padding-left:10px;margin-top:5px;" *ngFor="let value of dataItem.items">
						<a href=""><i class="fa fa-file-text-o"></i> {{value.name}}</a>
					</ul>
				</li>
			</div>
		</div>
		<ng-template #default>
			<div class="container">
				<div class="row" (click)="onClose($event,true)">
					<i class="fa fa-times"></i> Close
				</div>
			</div>
		</ng-template>
	</ng-template>
</kendo-dropdownlist>