<div class="provider-associated-content">

    <div class="col-sm-12"
         *ngIf="providerAssociated.credentialCount > 0 || providerAssociated.actionCount > 0 || providerAssociated.etlScriptCount > 0; else defaultMessage">
        Deleting the Provider will also delete the following:
        <span class="associated-total" *ngIf="providerAssociated.credentialCount > 0"><br/><span
                class="associated-count">{{providerAssociated.credentialCount}}</span> Credentials</span>
        <span class="associated-total" *ngIf="providerAssociated.actionCount > 0"><br/><span
                class="associated-count">{{providerAssociated.actionCount}}</span> Actions</span>
        <span class="associated-total" *ngIf="providerAssociated.etlScriptCount > 0"><br/><span
                class="associated-count">{{providerAssociated.etlScriptCount}}</span> ETL Scripts</span>
    </div>

    <ng-template #defaultMessage>
        <div class="col-sm-12">
            <p>Do you want to proceed?</p>
        </div>
    </ng-template>
</div>
