<div class="neighborhood-container">

  <div style="margin-top: 5px;"></div>

  <div class="row task-manager-header">
    <div class="col-md-4 float-left">
      TaskManager
    </div>
    <div class="col-md-3 text-center">
      <button class="btn">
        <fa-icon [icon]="icons.faList" size="lg"></fa-icon>
      </button>
      <button class="btn">
        <fa-icon [icon]="icons.faLayerGroup" size="lg"></fa-icon>
      </button>
      <button class="btn">
        <fa-icon [icon]="icons.faBars" size="lg"></fa-icon>
      </button>
    </div>
    
    <div class="col-md-3">
      <label class="d-inline-block task-chk-container">
        My Task
        <input  type="checkbox" checked="checked" />
        <span class="checkmark"></span>
      </label>
      <div ngbDropdown class="d-inline-block float-right">
        <button class="btn" id="dropdownBasic1" ngbDropdownToggle>Choose Task</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="task-dropdown-items-container">
          <button ngbDropdownItem *ngFor="let task of tasks" (click)="loadFromSelectedTask(task.id)">{{task.comment}}</button>
        </div>
      </div>
    </div>

    <div class="col-md-2 task-options">
      <button class="btn">
        <fa-icon [icon]="icons.faAdjust" size="lg"></fa-icon>
      </button>
      <button class="btn">
        <fa-icon [icon]="icons.faSortAmountDown" size="lg"></fa-icon>
      </button>
      <button class="btn">
        <fa-icon [icon]="icons.faCog" size="lg"></fa-icon>
      </button>
      <button class="btn">
        <fa-icon [icon]="icons.faSyncAlt" size="lg"></fa-icon>
      </button>
    </div>
  </div>
  
  <div style="margin-top: 5px;"></div>

  <div class="row task-manager-sub-header">
    <div class="col-md-9">
      <button class="btn" (click)="highlightAll()">
        All
      </button>
      <!-- Highlight by task category -->
      <button class="btn" (click)="highlightByCategory('physical')">
        <fa-icon [icon]="icons.faLayerGroup" size="lg"></fa-icon>
      </button>
      <button class="btn" (click)="highlightByCategory('server')">
        <fa-icon [icon]="icons.faServer" size="lg"></fa-icon>
      </button>
      <button class="btn" (click)="highlightByCategory('database')">
        <fa-icon [icon]="icons.faDatabase" size="lg"></fa-icon>
      </button>
      <button class="btn" (click)="highlightByCategory('shutdown')">
        <fa-icon [icon]="icons.faBoxOpen" size="lg"></fa-icon>
      </button>
        <button class="btn" (click)="highlightByCategory('shutdown')">
            <fa-icon [icon]="icons.faTruck" size="lg"></fa-icon>
        </button>

      <!-- Highlight by task status -->
      <button class="btn" (click)="highlightByStatus('Pending')">
        <fa-icon [icon]="icons.faCircle" size="sm" style="color: #ddd;"></fa-icon>
      </button>
      <button class="btn" (click)="highlightByStatus('unknown')">
        <fa-icon [icon]="icons.faCircle" size="sm" style="color: red;"></fa-icon>
      </button>
      <button class="btn" (click)="highlightByStatus('Stop')">
        <fa-icon [icon]="icons.faCircle" size="sm" style="color: orange;"></fa-icon>
      </button>
      <button class="btn" (click)="highlightByStatus('pending')">
        <fa-icon [icon]="icons.faCircle" size="sm" style="color: yellow;"></fa-icon>
      </button>
      <button class="btn" (click)="highlightByStatus('pending')">
        <fa-icon [icon]="icons.faCircle" size="sm" style="color: blue;"></fa-icon>
      </button>
      <button class="btn" (click)="highlightByStatus('Started')">
        <fa-icon [icon]="icons.faCircle" size="sm" style="color: green;"></fa-icon>
      </button>
      <button class="btn" (click)="zoomIn()">
        <fa-icon [icon]="icons.faSearchPlus" size="lg" style="color: rgb(122, 122, 122);"></fa-icon>
      </button>
      <button class="btn" (click)="zoomOut()">
        <fa-icon [icon]="icons.faSearchMinus" size="lg" style="color: rgb(122, 122, 122);"></fa-icon>
      </button>
    </div>
    <div class="col-md-3">
      <input type="text" class="form-control" placeholder="Highlight filter" [(ngModel)]="filterText" (ngModelChange)="filterChange()" />
    </div>
  </div>
  <div class="row">
    <tds-layered-digraph-layout
    style="width: 100%"
    [nodeDataArray]="nodeData$ | async"
    [linksPath]="links$ | async"
    [containerWidth]="'100%'"
    [containerHeight]="'800px'"
    (nodeClicked)="loadFromSelectedTask($event)"
    (showTaskDetailsClicked)="showTaskDetails($event)"
    (editClicked)="editTask($event)"
    #graph></tds-layered-digraph-layout>
  </div>
    <kendo-dialog title="Task" *ngIf="opened" (close)="close('cancel')" [minWidth]="250" [width]="450">
      <p style="margin: 30px; text-align: center; color: #7a7a7a;">Show/Edit task details for <span style="font-weight: bold;">{{selectedTask.id}}</span></p>
    </kendo-dialog>
</div>
