<div class="neighborhood-container content body">
  <div class="row task-manager-header">
    <div class="col-md-4 k-align-self-center">
    </div>
    <div class="col-md-4 text-center k-align-self-center">
      <tds-task-view-toggle></tds-task-view-toggle>
    </div>
    
    <div class="col-md-2 k-align-self-center">
    </div>

    <div class="col-md-2 task-options k-align-self-center text-right">
      <button class="refresh-container-btn btn" (click)="refreshDiagram()">
        <fa-icon [icon]="icons.faSyncAlt" size="lg"></fa-icon>
      </button>
      <div class="neighborhood-pie-countdown-container">
        <tds-circle-countdown (timeout)="refreshDiagram()"></tds-circle-countdown>
      </div>
    </div>
  </div>

  <div class="row task-manager-sub-header">
    <div class="col-md-2  k-align-self-center">
      <label class="neighborhood-control-label" for="neighborhood-events-dropdown">Event:</label>
      <kendo-dropdownlist
        id="neighborhood-events-dropdown"
        textField="name"
        valueField="id"
        [ngClass]="'neighborhood-custom-dropdown'"
        [data]="eventList$ | async"
        (selectionChange)="onEventSelect($event)"
        [(ngModel)]="selectedEvent"
        [value]="selectedEvent"
        #eventsDropdown>
      </kendo-dropdownlist>
    </div>
    <div class="col-md-2  k-align-self-center">
      <label class="neighborhood-control-label" for="neighborhood-teams-dropdown">Team:</label>
      <kendo-dropdownlist
        id="neighborhood-teams-dropdown"
        textField="label"
        valueField="label"
        [ngClass]="'neighborhood-custom-dropdown'"
        [value]="selectedTeam"
        [data]="teamHighlights$ | async"
        (selectionChange)="highlightByTeam($event)"
        [(ngModel)]="selectedTeam"
        #teamHighlightDropdown>
      </kendo-dropdownlist>
    </div>
    <div class="col-md-2">
      <task-highlight-filter
              [highlightOptions]="highlightOptions$ | async"
              [eventId]="selectedEvent?.id"
              [viewUnpublished]="viewUnpublished"
              (filteredTasks)="this.highlightTasks($event)"
              (clearFilters)="clearHighlightFilters()"
              #taskHighlightFilter
      ></task-highlight-filter>
    </div>

    <div class="col-md-6 chk-filter-container">
      <label class="task-chk-container">        
        <clr-checkbox-wrapper class="inline">
          <input
              clrCheckbox
              id="minimizeAutoTasks"
              type="checkbox"
              name="minimizeAutoTasks"              
              [(ngModel)]="minimizeAutoTasks"
              (ngModelChange)="onMinimizeAutoTasksFilterChange()"
          />
          <label
              class="clr-control-label clr-control-label-sm inline"
              for="minimizeAutoTasks"
          >
          Minimize Auto Tasks
          </label>
      </clr-checkbox-wrapper>
      </label>

      <label class="task-chk-container">        
        <clr-checkbox-wrapper class="inline">
          <input
              clrCheckbox
              id="myTasks"
              type="checkbox"
              name="myTasks"
              [(ngModel)]="myTasks"
              (ngModelChange)="onMyTasksFilterChange()"
          />
          <label
              class="clr-control-label clr-control-label-sm inline"
              for="myTasks"
          >
          My Tasks
          </label>
      </clr-checkbox-wrapper>
      </label>

      <label class="task-chk-container">
        <clr-checkbox-wrapper class="inline">
          <input
              clrCheckbox
              id="viewUnpublished"
              type="checkbox"
              name="viewUnpublished"
              [(ngModel)]="viewUnpublished"
              (ngModelChange)="onViewUnpublishedFilterChange()"
          />
          <label
              class="clr-control-label clr-control-label-sm inline"
              for="viewUnpublished"
          >
          View Unpublished
          </label>
      </clr-checkbox-wrapper>        
      </label>

      <label class="task-chk-container" [ngClass]="{'disabled': !hasCycles}">
                <clr-checkbox-wrapper class="inline">
                  <input
                      clrCheckbox
                      id="cycles"
                      type="checkbox"
                      name="cycles"
                      class="component-action-just-planning"
                      [(ngModel)]="showCycles"
                      (ngModelChange)="highlightCycles()"
                      [disabled]="!hasCycles"
                  />
                  <label
                      class="clr-control-label clr-control-label-sm inline"
                      for="cycles"
                  >
                  Cycles
                  </label>
              </clr-checkbox-wrapper>                
      </label>
    </div>

  </div>
  <div class="clr-row task-graph-diagram-container">
    <tds-lib-diagram-layout
          [style.width]="'100%'"
          [data]="diagramData$ | async"
          (nodeClicked)="onNeighborhood($event)"
          (backToFullGraph)="viewFullGraphFromCache()"
          (diagramAnimationFinished)="onDiagramAnimationFinished()"
          (nodeMoveDiagramAnimationFinished)="onNodeMoveDiagramAnimationFinished()"
          (ctxMenuActionDispatched)="onActionDispatched($event)"
          (nodeUpdated)="updateGraphCache($event)"
          (diagramClicked)="diagramClicked()"
          (initialAnimationStarting)="showLoader()"
          #graph
    ></tds-lib-diagram-layout>
  </div>

</div>
