<style>
    .teamBreakdown.toprightcontent.smallTable {
        width: 300px;
        overflow-y: hidden;
    }
    .teamBreakdown.toprightcontent {
        width: 630px;
        overflow-y: hidden;
    }
    .teamBreakdown {
        margin-top: 5px;
        margin-left: 50px;
        overflow: auto;
    }
    .toprightcontent {
        float: left;
        text-align: center;
        width: 180px;
        margin-top: 25px;
        font-size: 13px;
        line-height: 21px;
    }
    .teamcol {
        width: 110px;
        padding: 2px;
    }
    .teamcountcolumn {
        width: 30px;
        text-align: right;
    }
    .teambarcolumn {
        width: 70px;
        text-align: center;
    }
    .team_bar_base_small {
        padding: 0px;
        padding-right: 5px;
        width: 85%;
        height: 5px;
        background-color: lightyellow;
        box-shadow: 0px 0px 0px;
        border: 1px solid #24488A;
    }
    .team_bar_graph_small {
        background-color: #24488A;
        z-index: -1;
        height: 5px;
        border-right-width: 3px;
        border-color: lightgray;
        border-right-style: inset;
    }
    .small_text {
        font: 10px helvetica, arial, sans-serif;
    }
</style>

<div style="display: flex; flex-direction: row;">
    <div id="teamTableContent" class="teamBreakdown toprightcontent smallTable">
        <table style="border:none;">
            <tbody>
                <tr>
                    <td class="teamcol" nowrap="">
                        <a href="/tdstm/assetEntity/listTasks?role=ROLE_APP_COORD" style="display:block">App
                            Coordinator</a>
                    </td>
                    <td class="teamcountcolumn">
                        <a href="/tdstm/assetEntity/listTasks?role=ROLE_APP_COORD" style="display:block">1</a>
                    </td>
                    <td class="teambarcolumn" nowrap="">
                        <div class="team_bar_base_small">
                            <div class="team_bar_graph_small" id="team_ROLE_APP_COORD" style="width: 0%;"></div>
                        </div>
                        <span class="small_text"><b>1 to go</b></span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>