<!-- Task Generataion Completed View -->
<div class="completionWrapper">
	<tabset id="taskGenerationTabs">
		<tab heading="Summary" active="activeSubTabs.tasks.summary">
			
			<ul class="summaryList">
				<li>Status: {{getTaskGenerationStatus()}}</li>
				<li>Tasks Created: {{getTaskGenerationTasksCreated()}}</li>
				<li>Number of Exceptions: {{getTaskGenerationExceptions()}}</li>
			</ul>

		</tab>
		<tab heading="Exceptions" active="activeSubTabs.tasks.exceptions">
			<span ng-bind-html="tasks.generation.exceptionLog"></span>
		</tab>
		<tab heading="Info" active="activeSubTabs.tasks.info">
			<span ng-bind-html="tasks.generation.infoLog"></span>
		</tab>
	</tabset>

	<div class="completionButtons">
		<button class="btn btn-default" ng-click="tasks.viewGeneratedResults(this)"><span class="glyphicon glyphicon-tasks"></span> View Results</button>
		<div class="btn-group dropup">
			<button type="button" class="btn btn-default" ng-click="tasks.viewTaskGraph(this)">
				<span class="glyphicon glyphicon-stats"></span> View Task Graph
			</button>
			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<span class="caret"></span>
				<span class="sr-only">Toggle Dropdown</span>
			</button>
			<ul class="dropdown-menu">
				<li>
					<a ng-click="tasks.viewTaskGraph(this, {target:'_blank'})">
						<span class="glyphicon glyphicon-new-window"></span> View in New Tab
					</a>
				</li>				
			</ul>
		</div>
		<button class="btn btn-default" ng-click="tasks.startOver(this)"><span class="glyphicon glyphicon-arrow-left"></span> Start Over</button>
	</div>
</div>