<div tds-autofocus class="event-create-component modal-content" id="event-create-component">
    <div class="modal-header">
        <button (click)="cancelCloseDialog()" type="button" class="close" aria-label="Close">
            <clr-icon aria-hidden="true" shape="close"></clr-icon>
        </button>
        <h4 class="modal-title">Event Create</h4>
    </div>
    <div class="modal-body">
        <div class="modal-body-container">
            <table>
                <tbody>
                    <tr>
                        <td colspan="2"><div class="required" style="color: red"> Fields marked ( * ) are mandatory </div> </td>
                    </tr>
                    <tr class="prop">
                        <td class="name">
                            <label for="name">Name: <span class="requiredProp" style="color: red">*</span> </label>
                        </td>
                        <td class="value">
                            <input type="text" id="name" [(ngModel)]="eventModel.name"/>
                        </td>
                    </tr>

                    <tr class="prop">
                        <td class="name">
                            <label for="description">Description: </label>
                        </td>
                        <td class="value">
                            <input type="text" id="description" [(ngModel)]="eventModel.description"/>
                        </td>
                    </tr>

                    <tr class="prop">
                        <td class="name">
                            <label class="tag-title">Tag:</label>
                        </td>
                        <td class="value">
                            <tds-asset-tag-selector [tagList]="assetTags" (valueChange)="onAssetTagChange($event)"></tds-asset-tag-selector>
                        </td>
                    </tr>

                    <tr class="prop">
                        <td class="name">
                            <label for="moveBundle">Bundle:</label>
                        </td>
                        <td class="value">
                            <kendo-multiselect id="moveBundle" [data]="bundles" [(ngModel)]="eventModel.moveBundle" textField="name" valueField="id"></kendo-multiselect>
                        </td>
                    </tr>
                    <tr class="prop">
                        <td class="name">
                            <label for="runbookStatus">Runbook Status:</label>
                        </td>
                        <td class="value">
                            <select id="runbookStatus" [(ngModel)]="eventModel.runbookStatus">
                                <option value="">Please Select</option>
                                <option *ngFor="let status of runbookStatuses" [value]="status">{{status}}</option>
                            </select>
                        </td>
                    </tr>
                    <tr class="prop">
                        <td class="name">
                            <label for="description">Runbook Bridge1 :</label>
                        </td>
                        <td class="value">
                            <input type="text" id="runbookBridge1" [(ngModel)]="eventModel.runbookBridge1"/>
                        </td>
                    </tr>
                    <tr class="prop">
                        <td class="name">
                            <label for="description">Runbook Bridge2 :</label>
                        </td>
                        <td class="value">
                            <input type="text" id="runbookBridge2" [(ngModel)]="eventModel.runbookBridge2"/>
                        </td>
                    </tr>
                    <tr class="prop">
                        <td class="name">
                            <label for="description">Video Link:</label>
                        </td>
                        <td class="value">
                            <input type="text" id="videolink" [(ngModel)]="eventModel.videolink"/>
                        </td>
                    </tr>
                    <tr class="prop">
                        <td class="name">
                            <label for="estStartTime">Estimated Start:</label>
                        </td>
                        <td valign="top" class="value">
                            <tds-datetime-control id="estStartTime" [(ngModel)]="eventModel.estStartTime"></tds-datetime-control>
                        </td>
                    </tr>
                    <tr class="prop">
                        <td class="name">
                            <label for="estCompletionTime">Estimated Completion:</label>
                        </td>
                        <td valign="top" class="value">
                            <tds-datetime-control id="estCompletionTime" [(ngModel)]="eventModel.estCompletionTime"></tds-datetime-control>
                        </td>
                    </tr>
                    <tr class="prop">
                        <td class="name">
                            <label for="apiActionBypass">By-Pass Actions:</label>
                        </td>
                        <td class="value">
                            <input id="apiActionBypass" type="checkbox" [(ngModel)]="eventModel.apiActionBypass"/>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="buttons modal-footer">
            <tds-button-save [disabled]="!validateRequiredFields(eventModel)" class="btn-primary pull-left" (click)="saveForm()"></tds-button-save>
            <tds-button-cancel class="btn-secondary pull-right" (click)="cancelCloseDialog()"></tds-button-cancel>
        </div>
    </div>
</div>