.asset-summary-list-component {
  kendo-grid {
    thead {
      th:not(:first-child) {
        cursor: pointer;
        label {
          cursor: pointer;
        }
      }
    }
    .k-grid-content {
      tbody {
        tr {
          td {
            a {
              display: inline-block;
              height:100%;
              width:100%;
            }
            padding-left: 5px;
            cursor: pointer;
          }
          td:not(:first-child) {
            text-align: right;
            padding-right: 8px;
            color: $color--black3;
            font-weight: bold;
            font-size: 14px;
          }
        }
      }
    }
    tfoot {
      tr {
        td {
          text-align: right;
          padding-right: 8px;
        }
      }
    }
  }
}