\!
.idea/
*.iml
*.ipr
*.iws
*.log
target/
plugins/
run.sh
.slcache/
node_modules/
specs-dist/
web-app/css/managerStyle.css
web-app/css/style.css
web-app/dist/App.js
web-app/dist/Vendors.js
web-app/tds/web-app/dist/**
web-app/tds/web-app/css/style.css
test/e2e/build
# ignore local config file!
tdstm-config.groovy
