\!
Thumbs.db
.DS_Store
.gradle
build/
out/
.idea
*.iml
*.ipr
*.iws
.project
.settings
.classpath
# from grails 2.5.x
*.log
target/
plugins/
run.sh
.slcache/
node_modules/
specs-dist/
src/main/webapp/css/managerStyle.css
src/main/webapp/css/tds-style.css
src/main/webapp/dist/App.js
src/main/webapp/dist/Vendors.js
src/main/webapp/tds/web-app/dist/**
src/main/webapp/tds/web-app/css/tds-style.css
src/main/webapp/tds/web-app/css/managerStyle.css
test/e2e/build
# ignore local config file!
tdstm-config.groovy
**/.gradle/**
