<plugin name='jasper' version='0.9.5'>
  <author>Marcos Pereira</author>
  <authorEmail>mfpereira@gmail.com</authorEmail>
  <title>Easily launch Jasper reports from a Grails application.</title>
  <description>
	This plugin adds easy support for launching jasper reports from GSP pages.
	After installing this plugin, run your application and request (app-url)/jasper/demo for a demonstration and instructions.
    </description>
  <documentation>http://grails.org/Jasper+plugin</documentation>
  <resources>
    <resource>Config</resource>
    <resource>UrlMappings</resource>
    <resource>DataSource</resource>
    <resource>JasperService</resource>
    <resource>JasperTagLib</resource>
    <resource>JasperController</resource>
  </resources>
</plugin>