<div class="content body tds-kendo-grid">
	<section>
		<div class="box-body box-with-empty-header">
			<div class="row top-filters">
				<div class="col-sm-7">
					<label class="control-label">Event</label>
					<kendo-dropdownlist
						style="width: 200px; padding-right: 20px"
						name="eventList"
						class="form-control event-dropdown"
						[data]="eventList"
						[textField]="'name'"
						[valueField]="'id'"
						[(ngModel)]="selectedEvent"
						(valueChange)="onEventSelect()">
					</kendo-dropdownlist>
					<label for="one">
						<input
							type="checkbox"
							name="one"
							id="one"
							[(ngModel)]="justRemaining"
							(ngModelChange)="onFiltersChange()">
						Just Remaining
					</label>
					<label for="two">
						<input
							type="checkbox"
							name="two"
							id="two"
							[(ngModel)]="justMyTasks"
							(ngModelChange)="onFiltersChange()">
						Just Mine
					</label>
					<label *ngIf="hasViewUnpublishedPermission" for="three">
						<input
							type="checkbox"
							name="three" id="three"
							[(ngModel)]="viewUnpublished"
							(ngModelChange)="onFiltersChange()">
						View Unpublished
					</label>
				</div>
				<div class="col-sm-5 text-right">
					<tds-button-custom class="btn-primary"
							 (click)="onViewTaskGraphHandler()"
							 title="View Task Graph"
							 tooltip="View Task Graph"
							 icon="sitemap">
					</tds-button-custom>
					<tds-button-custom class="btn-primary"
							 (click)="onViewTimelineHandler()"
							 title="View Timeline"
							 tooltip="View Timeline"
							 icon="table">
					</tds-button-custom>
					<div class="refresh-control">
						<tds-pie-countdown
							[refreshPreference]="TASK_MANAGER_REFRESH_TIMER"
							(timeout)="search()"
							[hideRefresh]="true"
							[customOptions]="[{seconds: 0, description: 'Manual'},
									{seconds: 60, description: '1 Min'},
									{seconds: 120, description: '2 Min'},
									{seconds: 180, description: '3 Min'},
									{seconds: 240, description: '4 Min'},
									{seconds: 300, description: '5 Min'}]">
						</tds-pie-countdown>
					</div>
				</div>
			</div>
			<kendo-grid
				#gridComponent
				*ngIf="!hideGrid"
				class="task-grid"
				[data]="grid.gridData"
				[pageSize]="grid.state.take"
				[skip]="grid.state.skip"
				[pageable]="{pageSizes: GRID_DEFAULT_PAGINATION_OPTIONS, info: true}"
				(pageChange)="onPageChangeHandler($event)"
				[filterable]="true"
				[resizable]="true"
				[reorderable]="true"
				[columnMenu]="true"
				[sort]="grid.state.sort"
				[sortable]="{mode:'single'}"
				(sortChange)="onSortChangeHandler($event)"
				(detailExpand)="onRowDetailExpandHandler($event)"
				(detailCollapse)="onRowDetailCollapseHandler($event)"
				(cellClick)="onCellClickHandler($event)">
				<!-- Column Menu -->
				<ng-template kendoGridColumnMenuTemplate let-service="service" let-column="column">
					<div class="k-column-list">
						<label *ngFor="let custom of allAvailableCustomColumns;"
									 [ngClass]="{'invisible': custom.property === currentCustomColumns[column.field]}"
									 class="k-column-list-item ng-star-inserted">
							<input type="radio"
										 value="{{custom.property}}"
										 (ngModelChange)="onCustomColumnChange(column.field, custom, service)"
										 [(ngModel)]="selectedCustomColumn[column.field]">
							<span class="k-checkbox-label"> {{custom.label}} </span>
						</label>
					</div>
				</ng-template>
				<!-- Toolbar -->
				<ng-template kendoGridToolbarTemplate [position]="'top'">
					<div class="button-toolbar">
						<tds-button-create
							(click)="onCreateTaskHandler()"
							[title]="'Create Task'">
						</tds-button-create>
						<tds-button-edit
							(click)="onBulkActionHandler()"
							[title]="'Bulk Action'">
						</tds-button-edit>
						<tds-button-custom
							icon="times"
							[disabled]="!areFiltersDirty()"
							(click)="onClearFiltersHandler()"
							[title]="'Clear Filters'">
						</tds-button-custom>
						<tds-button-custom
							icon="refresh"
							title="Refresh"
							isIconButton="true"
							class="component-action-reload pull-right"
							(click)="onFiltersChange()">
						</tds-button-custom>
					</div>
				</ng-template>
				<!-- Row Detail Template -->
				<div *kendoGridDetailTemplate="let dataItem, let rowIndex = rowIndex" class="task-action-buttons-wrapper">
					<div class="task-action-buttons">
						<tds-task-actions
							*ngIf="dataItem.id && dataItem.status"
							[taskStatus]="dataItem.status"
							[showDelayActions]="true"
							[showDetails]="true"
							[buttonClass]="'btn-primary'"
							[showInstructionsLink]="true"
							[taskActionInfoModel]="getTaskActionInfoModel(dataItem.id)"
							(start)="updateTaskStatus(dataItem.id, TaskStatus.STARTED)"
							(done)="updateTaskStatus(dataItem.id, TaskStatus.COMPLETED)"
							(invoke)="invokeActionHandler(dataItem)"
							(reset)="onResetTaskHandler(dataItem)"
							(assignToMe)="onAssignToMeHandler(dataItem)"
							(neighborhood)="onViewTaskNeighborHandler(dataItem)"
							(delay)="changeTimeEst(dataItem, $event)"
							(details)="onOpenTaskDetailHandler(dataItem)"
							(instructionsLink)="openLinkInNewTab($event)">
						</tds-task-actions>
					</div>
				</div>
				<kendo-grid-column *ngFor="let column of columnsModel"
													 [resizable]="column.resizable"
													 field="{{column.property}}"
													 [locked]="column.locked"
													 format="{{column.format}}"
													 [headerClass]="column.headerClass ? column.headerClass : ''"
													 [headerStyle]="column.headerStyle ? column.headerStyle : ''"
													 [class]="column.cellClass ? column.cellClass : ''"
													 [style]="column.cellStyle ? column.cellStyle : ''"
													 [width]="!column.width ? 100 : column.width"
													 [columnMenu]="column.columnMenu">
					<!-- Header -->
					<ng-template kendoGridHeaderTemplate>
						<div [ngClass]="{'sortable-column' : (column.type !== 'action' && column.sortable !==	false)}">
							<label>{{column.label}}</label>
						</div>
					</ng-template>
					<!-- edit action column -->
					<ng-template kendoGridCellTemplate *ngIf="column.type === 'action'" let-dataItem>
						<div class="is-grid-link tds-action-button-set">
							<tds-button-edit (click)="onOpenTaskEditHandler(dataItem)"></tds-button-edit>
						</div>
					</ng-template>
					<!-- task Number -->
					<ng-template kendoGridCellTemplate *ngIf="column.property === 'taskNumber'" let-dataItem>
						<span class="is-grid-link" (click)="onOpenTaskDetailHandler(dataItem)" [title]="dataItem.taskNumber">{{dataItem.taskNumber}}</span>
					</ng-template>
					<!-- asset name -->
					<ng-template kendoGridCellTemplate *ngIf="currentCustomColumns[column.property] === 'assetName'"
											 let-dataItem>
								<span class="is-grid-link" [title]="dataItem[column.property]"
											(click)="onOpenAssetDetailHandler(dataItem)">{{dataItem[column.property]}}</span>
					</ng-template>
					<!-- updated -->
					<ng-template kendoGridCellTemplate *ngIf="column.property === 'updatedTime'" let-dataItem>
						<span class="task-updated-cell {{dataItem.updatedClass}} overflow-ellipsis" [title]="dataItem.updatedTime">{{dataItem.updatedTime}}</span>
					</ng-template>
					<!-- status -->
					<ng-template kendoGridCellTemplate *ngIf="column.property === 'status'" let-dataItem>
						<span class="task-status-cell {{dataItem.taskStatus}}" [title]="dataItem.status">{{dataItem.status}}</span>
					</ng-template>
					<!-- successors -->
					<ng-template kendoGridCellTemplate *ngIf="column.property === 'successors'" let-dataItem>
						<span *ngIf="dataItem.actionBarInfo">{{dataItem.actionBarInfo.successorsCount}}</span>
					</ng-template>
					<!-- default cell template -->
					<ng-template kendoGridCellTemplate let-dataItem>
						<span [title]="dataItem[column.property]">{{dataItem[column.property]}}</span>
					</ng-template>
					<ng-template kendoGridFilterCellTemplate let-filter>
						<div class="has-feedback" *ngIf="column.filterable" style="margin-bottom: 5px;">
							<div *ngIf="column.type === 'text'; then stringFilter"></div>
							<ng-template #stringFilter>
								<tds-filter-input
									name="{{column.property}}"
									[value]="column.filter || ''"
									placeholder="{{'GLOBAL.FILTER' | translate}}"
									(filter)="onFilterChangeHandler($event, column)">
								</tds-filter-input>
							</ng-template>
						</div>
					</ng-template>
				</kendo-grid-column>
			</kendo-grid>
		</div>
	</section>
</div>
