.k-grid
  // Toolbar
  .k-grid-toolbar
    padding: 5px
    border-color: $material_c_blue1
    background-color: $material_c_blue1
    .kendo-grid-toolbar__add-btn
      height: 27px
      padding-top: 4px
      margin-left: 8px
      font-size: 12px
      color: #2C61AA
      font-weight: bold
    .kendo-grid-toolbar__refresh-btn
      float: right
      cursor: pointer
      font-size: 14px
      margin-top: 5px
      margin-right: 5px

  .k-grid-content
    tr
      background-color: transparent
      td
        border-left-width: 0
        border-bottom-width: 1px
        border-style: solid

  .k-grid-pager
    border-top: transparent