<kendo-popup #infoPopup class="fields-info-popup"
             [margin]="margin"
             [popupClass]="'content popup'"
             [offset]="offset"
             [positionMode]="position">
    <div class="popup-content" tds-handle-escape (escPressed)="onClose()">
        <div class="popup-header">
            <button #focusElement autofocus class="invisible-button"></button>
            <label class="fields-info-popup-label">
                {{getPopupTitle()}}
            </label>
            <i class="glyphicon glyphicon-remove" (click)="onClose()"></i>
        </div>
        <div class="popup-body">
            <!-- Find Type-->
            <div class="find-field-info" *ngIf="type === FieldInfoType.FIND">
                <kendo-grid [data]="gridData"
                            [groupable]="false" [group]="gridGroups">
                    <kendo-grid-column [title]="'Domain'" field="domainIndex" [width]="1">
                        <ng-template kendoGridGroupHeaderTemplate let-field="field" let-value="value" let-group="group">
                            <span class="domain-group-header">Domain: {{group.items[0].domainName}}</span>
                            <span *ngIf="group.items[0].recordsFound">Records Found: {{group.items[0].recordsFound}}</span>
                        </ng-template>
                    </kendo-grid-column>
                    <kendo-grid-column [title]="'Field Name'" field="fieldName"></kendo-grid-column>
                    <kendo-grid-column [title]="'Value'" field="value"></kendo-grid-column>
                </kendo-grid>
                <div class="footer-results">
                    <label>Results:</label>
                    <span *ngIf="results">
                            <span *ngFor="let id of results" class="badge">{{id}}</span>
                        </span>
                    <span *ngIf="!results"><i>No results found</i></span>
                </div>
            </div>

            <!-- Create/Update Type-->
            <div class="create-update-field-info" *ngIf="type === FieldInfoType.CREATE || type === FieldInfoType.UPDATE">
                <div>
                    <label>Domain: {{domain}}</label>
                </div>
                <kendo-grid [data]="gridData">
                    <kendo-grid-column [title]="'Field Name'" field="fieldName"></kendo-grid-column>
                    <kendo-grid-column [title]="'Value'" field="value"></kendo-grid-column>
                </kendo-grid>
            </div>

        </div>
    </div>
</kendo-popup>