<p>Select appropriate context to generate tasks using the {{editor.selectedRecipe.name}} recipe:</p>
<form action="#" class="taskGeneration clearfix" ng-show="tasks.show.start">

	<div class="container-fluid task-generation-container">
		<div class="row">
			<div class="col-sm-6 col-md-3 col-lg-3">
				<div class="form-group">
					<label class="col-title" for="eventSelect">Event:</label>
					<select class="form-control" name="eventSelect" id="eventSelect" ng-model="contexts.selectedEvent" ng-change="contexts.eventSelected()" ng-options="item as item.name for item in contexts.eventsArray">
						<option value="">Please select</option>
					</select>
				</div>
			</div>
			<div class="col-sm-6 col-md-6 col-lg-6 tm-asset-tag-selector-container">
				<label class="col-title">Tag:</label>
				<tm-asset-tag-selector disabled-operator="'true'" pre-selected-operator="'ANY'" asset-selector="contexts.assetSelector" pre-asset-selector="editor.selectedRVersion.context" on-change="contexts.onAssetSelectorChange()"></tm-asset-tag-selector>
			</div>
			<div class="col-sm-6 col-md-2 col-lg-2 settings-container">
				<a id="setDefaultContext" ng-show="!contexts.enableClearDefaultContext" ng-disabled="!contexts.validCurrentSelection" ng-click="contexts.setRecipeDefaultContext()">
					Set as Default
				</a>
				<a id="clearDefaultContext" ng-show="contexts.enableClearDefaultContext" ng-click="contexts.clearRecipeDefaultContext()">
					Clear Default
				</a>
			</div>
		</div>
	</div>

	<div>
		<label for="autoPublishTasks">
			<input type="checkbox" name="autoPublishTasks" id="autoPublishTasks" ng-model="tasks.generateOpts.autoPublish">
			Automatically publish tasks
		</label>
	</div>	
	<div ng-show="currentSelectedRecipe.hasWIP">	
		<label for="generateUsingWIP">
			<input type="checkbox" name="generateUsingWIP" id="generateUsingWIP" ng-model="tasks.generateOpts.useWIP">
			Generate using WIP recipe
		</label>
	</div>	
	<div class="generateWrapper">
		<label for="generateTask">
			<a class="btn btn-default has-spinner" id="generateTask" ng-disabled="!contexts.validCurrentSelection" ng-click="tasks.generateTask(this)">
				<span class="spinner"><i class="icon-spin icon-refresh"></i></span>
				<img ng-src="{{applyRootPath('/icons/table_gear.png')}}" />
				Generate Tasks
			</a>
		</label>
	</div>
</form>
