<p>Select appropriate context to generate tasks using the {{selectedRecipe.name}} recipe:</p>
<form action="#" class="form-inline taskGeneration clearfix" ng-show="tasks.show.start">
	<label class="inline" for="eventSelect">Event:
		<select name="eventSelect" id="eventSelect" ng-model="tasks.selectedEvent" ng-change="tasks.eventSelected()" ng-options="item as item.name for item in tasks.eventsArray" ng-change="tasks.validCurrentSelection = tasks.getGenerateBtnStatus()">
			<option value="">Please select</option>
		</select>
	</label>
	<label class="inline" ng-show="currentSelectedRecipe.context == 'Bundle' || currentSelectedRecipe.context == 'Application' || currentSelectedRecipe.context == 'All'" for="eventSelect">Bundle:
		<select name="bundleSelect" id="bundleSelect" ng-model="tasks.selectedBundle" ng-change="tasks.bundleSelected()" ng-options="item as item.name group by item.group for item in tasks.bundlesArray">
			<option value="">Please select</option>
		</select>
	</label>
	<label class="inline" ng-show="currentSelectedRecipe.context == 'Application' || currentSelectedRecipe.context == 'All'" for="eventSelect">Application:
		<select name="applicationSelect" id="applicationSelect" ng-model="tasks.selectedApplication" ng-change="tasks.checkValidSelection()" ng-options="item as item.name group by item.group for item in tasks.applicationsArray">
			<option value="">Please select</option>
		</select>
	</label>

	<div>
		<label for="autoPublishTasks">
			<input type="checkbox" name="autoPublishTasks" id="autoPublishTasks" ng-model="tasks.generateOpts.autoPublish">
			Automatically publish tasks
		</label>
	</div>	
	<div ng-show="currentSelectedRecipe.hasWIP">	
		<label for="generateUsingWIP">
			<input type="checkbox" name="generateUsingWIP" id="generateUsingWIP" ng-model="tasks.generateOpts.useWIP">
			Generate using WIP recipe
		</label>
	</div>	
	<div ng-show="tasks.showDeletePreviouslyGenerated">	
		<label for="deletePreviouslyGenerated">
			<input type="checkbox" name="deletePreviouslyGenerated" id="deletePreviouslyGenerated" ng-model="tasks.generateOpts.deletePrevious">
			Delete previously generated tasks that were created using this context & recipe
		</label>
	</div>
	<div class="generateWrapper">
		<label for="generateTask">
			<a class="btn btn-default has-spinner" id="generateTask" ng-disabled="!tasks.validCurrentSelection" ng-click="tasks.generateTask(this)">
				<span class="spinner"><i class="icon-spin icon-refresh"></i></span>
				<img ng-src="{{applyRootPath('/icons/table_gear.png')}}" />
				Generate Tasks
			</a>
		</label>
	</div>
</form>
