<p>Select appropriate context to generate tasks using the {{editor.selectedRecipe.name}} recipe:</p>
<form action="#" class="form-inline taskGeneration clearfix" ng-show="tasks.show.start">
	<label class="inline" for="eventSelect">Event:
		<select name="eventSelect" id="eventSelect" ng-model="contexts.selectedEvent" ng-change="contexts.eventSelected()" ng-options="item as item.name for item in contexts.eventsArray">
			<option value="">Please select</option>
		</select>
	</label>
	<label class="inline" ng-show="currentSelectedRecipe.context == 'Bundle' || currentSelectedRecipe.context == 'Application' || currentSelectedRecipe.context == 'All'" for="bundleSelect">Bundle:
		<select name="bundleSelect" id="bundleSelect" ng-model="contexts.selectedBundle" ng-change="contexts.bundleSelected()" ng-options="item as item.name group by item.group for item in contexts.bundlesArray">
			<option value="">Please select</option>
		</select>
	</label>
	<label class="inline" ng-show="currentSelectedRecipe.context == 'Application' || currentSelectedRecipe.context == 'All'" for="applicationSelect">Application:
		<select name="applicationSelect" id="applicationSelect" ng-model="contexts.selectedApplication" ng-change="contexts.checkValidSelection()" ng-options="item as item.name group by item.group for item in contexts.applicationsArray">
			<option value="">Please select</option>
		</select>
	</label>

	<a id="setDefaultContext" ng-show="!contexts.enableClearDefaultContext" ng-disabled="!contexts.validCurrentSelection" ng-click="contexts.setRecipeDefaultContext()">
		Set as Default
	</a>

	<a id="clearDefaultContext" ng-show="contexts.enableClearDefaultContext" ng-click="contexts.clearRecipeDefaultContext()">
		Clear Default
	</a>

	<div>
		<label for="autoPublishTasks">
			<input type="checkbox" name="autoPublishTasks" id="autoPublishTasks" ng-model="tasks.generateOpts.autoPublish">
			Automatically publish tasks
		</label>
	</div>	
	<div ng-show="currentSelectedRecipe.hasWIP">	
		<label for="generateUsingWIP">
			<input type="checkbox" name="generateUsingWIP" id="generateUsingWIP" ng-model="tasks.generateOpts.useWIP">
			Generate using WIP recipe
		</label>
	</div>	
	<div class="generateWrapper">
		<label for="generateTask">
			<a class="btn btn-default has-spinner" id="generateTask" ng-disabled="!contexts.validCurrentSelection" ng-click="tasks.generateTask(this)">
				<span class="spinner"><i class="icon-spin icon-refresh"></i></span>
				<img ng-src="{{applyRootPath('/icons/table_gear.png')}}" />
				Generate Tasks
			</a>
		</label>
	</div>
</form>
