<div class="row clearfix edition">
	<div class="col-xs-6">
		<div class="titleWrapper row">
			<span class="headingTitle col-xs-6">
				<p><label ng-show="editor.selectedRVersion.name">Recipe:</label> {{editor.selectedRecipe.name}}</p>
			</span>
			<div class="versionLinks col-xs-6" style="text-align: right;">
				<label for="releasedVersionRadio" ng-show="editor.selectedRVersion.versionNumber > 0">
					<input type="radio" ng-model="editor.recipeType" value="release" ng-change="switchWipRelease('release')" name="releasedWipVersion" id="releasedVersionRadio"> Version {{editor.selectedRVersion.versionNumber}}
				</label>
				<label for="wipVersionRadio" style="margin-left: 15px;">
					<input type="radio" ng-model="editor.recipeType" value="wip" ng-change="switchWipRelease('wip')" name="releasedWipVersion" id="wipVersionRadio"> WIP
				</label>
			</div>
		</div>
		<section class="codeMirrorWrapper"> 
			<textarea ui-codemirror="codeViewOptions" name="recipeCode" title="Double click to edit" id="recipeCode" ng-model="editor.selectedRecipe.sourceCode"></textarea>
		</section>
	</div>
	<div class="col-xs-6">
		<tabset>
			<tab
				ng-repeat="tab in editorTabs"
				heading="{{tab.heading}}"
				select="go(tab.route)"
				active="tab.active">
			</tab>
		</tabset>
		<div class="tab-container" ui-view="recipeEditorContent"></div>
	</div>
</div>
<div class="row clearfix edition">
	<div class="clearfix btns col-xs-12">
		<div class="btn-group pull-left" style="margin-right:6px;">
			<button type="button" title="Edit the recipe syntax" class="btn btn-default hasTooltip" ng-click="showEditPopup()">Edit</button>

			<button type="button" class="btn btn-primary hasTooltip" ng-disabled="!editor.selectedRecipe || !editor.editingRecipe" ng-click="saveWIP()" title="Save the recipe changes as Work In Progress (WIP)">Save WIP</button>

			<button type="button" class="btn btn-default hasTooltip" ng-disabled="!editor.editingRecipe" ng-click="cancelChanges()" title="Undo all edit changes to the recipe">Undo</button>
		</div>
		<div class="btn-group pull-left" style="margin-right:6px;">
			<button type="button" ng-disabled="!editor.selectedRecipe.hasWIP || !editor.selectedRecipe || editor.selectedRecipe.versionNumber > 0" class="btn btn-default hasTooltip" ng-click="releaseVersion()" title="Create a release or version of the recipe that can not be altered">Release</button>

			<button type="button" class="btn btn-default hasTooltip" ng-disabled="!editor.selectedRecipe.hasWIP || !editor.selectedRecipe || editor.selectedRVersion.versionNumber == 0" ng-click="discardWIP()" title="Delete the Work In Progress of the recipe">Discard WIP</button>
		</div>
		<div class="btn-group pull-left" style="margin-right:6px;">
			<button type="button" class="btn btn-default hasTooltip" ng-disabled="!editor.editingRecipe" ng-click="diff()" title="Compare the differences between the current release and WIP">Diff</button>
		</div>
		<div class="btn-group pull-left">
			<button type="submit" class="btn btn-default hasTooltip pull-right" ng-disabled="editor.selectedRecipe.sourceCode == '' || !editor.selectedRecipe" ng-click="validateSyntax()" title="Validates that the current syntax of the recipe. Any errors are reported in the Syntax Errors tab">Check Syntax</button>
		</div>
	</div>
</div>
