<div class="groups taskGeneration">

	<div class="task-generation-container">
		<div class="row">
			<div class="col-sm-8 col-md-8 col-lg-8">
				<div class="form-group">
					<label class="col-title" for="eventSelect">Event:</label>
					<select class="form-control" name="eventSelect" id="eventSelect" ng-model="contexts.selectedEvent" ng-change="contexts.eventSelected(true)" ng-options="item as item.name for item in contexts.eventsArray">
						<option value="">Please select</option>
					</select>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-8 col-md-8 col-lg-8 tm-asset-tag-selector-container recipe-editor">
				<label class="col-title">Tag:</label>
				<tm-asset-tag-selector disabled-operator="'true'" pre-selected-operator="'ANY'" asset-selector="contexts.assetSelector" pre-asset-selector="editor.selectedRVersion.context" on-change="contexts.onAssetSelectorChange()"></tm-asset-tag-selector>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-8 col-md-8 col-lg-8 settings-container recipe-editor">
				<a id="setDefaultContext" ng-show="!contexts.enableClearDefaultContext" ng-disabled="!contexts.validCurrentSelection" ng-click="contexts.setRecipeDefaultContext()">
					Set as Default
				</a>
				<a id="clearDefaultContext" ng-show="contexts.enableClearDefaultContext" ng-click="contexts.clearRecipeDefaultContext()">
					Clear Default
				</a>
			</div>
		</div>
	</div>

	<div class="selectors in">
		<div class="refreshWrapper">
			<label for="refreshGroups">
				<a class="btn btn-default" ng-disabled="!contexts.validCurrentSelection" id="refreshGroups" ng-click="groups.fetchGroups()">
					Fetch
				</a>
			</label>
		</div>
	</div>

	<a class="selectorsHideShow" data-toggle="collapse" data-target=".selectors">Show/Hide Selectors</a>

	<div class="gridStyleGroups" style="margin-top:15px;" ng-grid="groups.groupsGrid"></div>

	<div class="gridStyleGroups" ng-show="groups.showAssetsGrid" style="margin-top:15px;" ng-grid="assets.assetsGrid"></div>

</div>
