<div class="body">
    <div class="nav" style="border: 1px solid #CCCCCC; width: 300px; margin:9px 14px 0px">
        <span class="menuButton"><a class="list">Bundle List</a></span>
        PERMISSION HERE
        <span class="menuButton"><a class="create">Create Bundle</a></span>
    </div>

    <div class="body" style="width: 330px;">
        <div class="steps_table" style="float: none;">
            <span class="span"><b>Bundle Details</b></span>
            <table>
                <tbody>

                <tr class="prop">
                    <td valign="top" class="name">Name:</td>

                    <td valign="top" class="value">
                        name
                        If is default... (Default)
                    </td>

                </tr>

                <tr class="prop">
                    <td valign="top" class="name">Description:</td>

                    <td valign="top" class="value">description</td>

                </tr>

                <tr class="prop">
                    <td valign="top" class="name">From:</td>

                    <td valign="top" class="value">sourceRoom</td>

                </tr>

                <tr class="prop">
                    <td valign="top" class="name">To:</td>

                    <td valign="top" class="value">targetRoom</td>

                </tr>

                <tr class="prop">
                    <td valign="top" class="name">Start Time:</td>

                    <td valign="top" class="value">startTime</td>

                </tr>

                <tr class="prop">
                    <td valign="top" class="name">Completion Time:</td>

                    <td valign="top" class="value">completionTime</td>

                </tr>

                <tr class="prop">
                    <td valign="top" class="name">Project Manager:</td>

                    <td valign="top" class="value">
                        If project manager... partyIdTo?.lastNameFirstAndTitle
                    </td>

                </tr>

                <tr class="prop">
                    <td valign="top" class="name">Event Manager:</td>

                    <td valign="top" class="value">
                            if moveManager... moveManager?.partyIdTo?.lastNameFirstAndTitle
                    </td>

                </tr>
                <tr class="prop">
                    <td valign="top" class="name">Event:</td>

                    <td valign="top" class="value">
                        <li><a controller="moveEvent" action="show"
                               id="id">for each move event... e?.encodeAsHTML()</a></li>
                    </td>

                </tr>

                <tr class="prop">
                    <td valign="top" class="name">Order:</td>

                    <td valign="top"
                        class="value">operationalOrder</td>

                </tr>

                <tr class="prop">
                    <td valign="top" class="name">WorkFlow Code</td>

                    <td valign="top" class="value">workflowCode</td>

                </tr>

                <tr class="prop">
                    <td valign="top" class="name">Use For Planning:</td>

                    <td valign="top" class="value">
                        If useForPlanning...
                            <input type="checkbox" id="useForPlanning" name="useForPlanning" checked="checked"
                                   disabled="disabled"/>
                        Otherwise...
                            <input type="checkbox" id="useForPlanning" name="useForPlanning" disabled="disabled"/>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="buttons" style="float: left;">
            <input type="hidden" name="id" value="id"/>
            <input type="hidden" name="projectId" value="projectId"/>
                If haspermission BundleEdit...
                    <span class="button">Edit</span>
                    if isDefaultBundle...
                        <span class="button">Delete</span>
                        <span class="button">Delete Bundle</span>
        </div>
    </div>

    <div class="body" style="margin: 0;">
        <div class="steps_table">
            <span class="span"><b>Dashboard Steps</b></span>
            <table id="assetEntityTable">
                <thead>
                <tr>
                    <th>Dashboard Label</th>
                    <th>Start</th>
                    <th>Completion</th>
                    <th>Duration</th>
                    <th>Type
                        <input type="hidden" name="moveBundleId" id="moveBundleId" value="id"/>
                        <input type="hidden" name="projectId" value="projectId"/></th>
                    <th>Be Green</th>
                </tr>
                </thead>
                <tbody id="commetAndNewsBodyId">
                forEach in Dashboard Steps...
                    <tr class="evenodd" id="commentsRowId_id">
                        <td>
                            label
                        </td>
                        <td>planStartTime</td>
                        <td>planCompletionTime</td>
                        <td>planDuration</td>
                        <td>
                            if calcMethod != 'L'
                                Manual
                            else
                                Linear
                        </td>
                        <td>
                            <span id="beGreenDiv_id" style="text-align: center;">
                                if showInGreen
                                    <input type="checkbox" name="beGreen_id"
                                           id="beGreen_id" checked="checked"
                                           disabled="disabled"/>
                                else
                                    <input type="checkbox" name="beGreen_id"
                                           id="beGreen_${dashboardStep.moveBundleStep.id}" disabled="disabled"/>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>