<div class="bundle-show-component">
    <div class="nav" style="border: 1px solid #CCCCCC; width: 300px; margin:9px 14px 0px">
        <span class="menuButton"><a href="bundle/list"><input type="submit" name="_action_List" value="Bundle List" class="list"></a></span>
        <span *ngIf="canCreateBundle" class="menuButton"><input type="submit" name="_action_Create" value="Create Bundle" class="create"></span>
    </div>

    <div class="body" style="width: 330px; float: left">
        <div class="steps_table" style="float: none;">
            <span class="span"><b>Bundle Details</b></span>
            <table>
                <tbody>

                <tr class="prop">
                    <td valign="top" class="name">Name:</td>

                    <td valign="top" class="value">
                        {{moveBundleInstance?.name}}
                        <span *ngIf="isDefaultBundle">(Default)</span>
                    </td>

                </tr>

                <tr class="prop">
                    <td valign="top" class="name">Description:</td>

                    <td valign="top" class="value">{{moveBundleInstance?.description}}</td>

                </tr>

                <tr class="prop">
                    <td valign="top" class="name">From:</td>

                    <td valign="top" class="value">{{moveBundleInstance?.sourceRoom}}</td>

                </tr>

                <tr class="prop">
                    <td valign="top" class="name">To:</td>

                    <td valign="top" class="value">{{moveBundleInstance?.targetRoom}}</td>

                </tr>

                <tr class="prop">
                    <td valign="top" class="name">Start Time:</td>

                    <td valign="top" class="value">{{moveBundleInstance?.startTime | tdsDateTime: userTimeZone}}</td>

                </tr>

                <tr class="prop">
                    <td valign="top" class="name">Completion Time:</td>

                    <td valign="top" class="value">{{moveBundleInstance?.completionTime | tdsDateTime: userTimeZone}}</td>

                </tr>

                <tr class="prop">
                    <td valign="top" class="name">Project Manager:</td>

                    <td valign="top" class="value">
                        <span *ngIf="projectManager">partyIdTo?.lastNameFirstAndTitle</span>
                    </td>

                </tr>

                <tr class="prop">
                    <td valign="top" class="name">Event Manager:</td>

                    <td valign="top" class="value">
                        <span *ngIf="moveManager">moveManager?.partyIdTo?.lastNameFirstAndTitle</span>
                    </td>

                </tr>
                <tr class="prop">
                    <td valign="top" class="name">Event:</td>

                    <td valign="top" class="value">
                        <li><a href="/tdstm/moveEvent/show/{{moveBundleInstance?.moveEvent.id}}">{{moveBundleInstance?.moveEvent.name}}</a></li>
                    </td>

                </tr>

                <tr class="prop">
                    <td valign="top" class="name">Order:</td>

                    <td valign="top" class="value">{{moveBundleInstance?.operationalOrder}}</td>
                </tr>

                <tr class="prop">
                    <td valign="top" class="name">WorkFlow Code</td>

                    <td valign="top" class="value">{{moveBundleInstance?.workflowCode}}</td>

                </tr>

                <tr class="prop">
                    <td valign="top" class="name">Use For Planning:</td>

                    <td valign="top" class="value">
                            <input *ngIf="moveBundleInstance?.useForPlanning" type="checkbox" id="useForPlanning" name="useForPlanning" checked="checked"
                                   disabled="disabled"/>
                            <input *ngIf="!moveBundleInstance?.useForPlanning" type="checkbox" id="useForPlanning" name="useForPlanning" disabled="disabled"/>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="buttons" style="float: left;">
            <input type="hidden" name="id" value="id"/>
            <input type="hidden" name="projectId" value="projectId"/>
            <span class="button"><input type="submit" name="_action_Edit" value="Edit" class="edit"></span>
            <span *ngIf="!isDefaultBundle" class="button"><input type="submit" (click)="deleteBundle()" name="_action_Delete" value="Delete" class="delete"></span>
            <span class="button"><input type="submit" (click)="deleteBundleAndAssets()" name="_action_deleteBundleAndAssets" value="Delete Bundle & Assets" class="delete"></span>
        </div>
    </div>

    <div class="body" style="margin: 0;">
        <div class="steps_table" style="display:inline-block;">
            <span class="span"><b>Dashboard Steps</b></span>
            <table id="assetEntityTable">
                <thead>
                <tr>
                    <th>Dashboard Label</th>
                    <th>Start</th>
                    <th>Completion</th>
                    <th>Duration</th>
                    <th>Type
                        <input type="hidden" name="moveBundleId" id="moveBundleId" value="id"/>
                        <input type="hidden" name="projectId" value="projectId"/></th>
                    <th>Be Green</th>
                </tr>
                </thead>
                <tbody id="commetAndNewsBodyId">
                    <tr *ngFor="let step of dashboardSteps; let i = index" class="{{i % 2 ? 'odd' : 'even'}}" id="commentsRowId_{{step.moveBundleStep.id}}">
                        <td>
                            {{step.moveBundleStep.label}}
                        </td>
                        <td>{{step.moveBundleStep.planStartTime | tdsDateTime: userTimeZone}}</td>
                        <td>{{step.moveBundleStep.planCompletionTime | tdsDateTime: userTimeZone}}</td>
                        <td>{{step.planDuration}}</td>
                        <td *ngIf="step.moveBundleStep.calcMethod != 'L'">
                            Manual
                        </td>
                        <td *ngIf="step.moveBundleStep.calcMethod == 'L'">
                            Linear
                        </td>
                        <td>
                            <span id="beGreenDiv_{{step.moveBundleStep.id}}" style="text-align: center;">
                                    <input *ngIf="step.moveBundleStep.showInGreen" type="checkbox" name="beGreen_{{step.moveBundleStep.id}}"
                                           id="beGreen_{{step.moveBundleStep.id}}" checked="checked"
                                           disabled="disabled"/>
                                    <input *ngIf="!step.moveBundleStep.showInGreen" type="checkbox" name="beGreen_{{step.moveBundleStep.id}}"
                                           id="beGreen_{{step.moveBundleStep.id}}" disabled="disabled"/>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>