<div tds-autofocus class="modal-content data-script-view-edit-component" >
	<div class="modal-header">
		<button (click)="cancelCloseDialog()" type="button" class="close" aria-label="Close"><span aria-hidden="true">×</span></button>
		<h4 class="modal-title">{{ 'LICENSE.LICENSE_DETAIL' | translate }}</h4>
	</div>
	<div class="modal-body">
		<form name="licenseRequestForm" role="form" data-toggle="validator" #licenseEditForm='ngForm' class="form-horizontal left-alignment">
			<div class="box-body">
				<div class="row">
					<div class="col-sm-5">
						<div class="form-group">
							<label class="col-sm-3 control-label">Owner: </label>
							<div class="col-sm-9">
								<label class="control-label " style="text-transform: capitalize;">{{licenseModel.owner?.name}}</label>
							</div>
						</div>
					</div>
					<div class="col-sm-5">
						<div class="form-group">
							<label class="col-sm-4 control-label">Email contact: </label>
							<div class="col-sm-8">
								<input type="text" name="inputTitle" id="inputEmailContact" class="form-control" placeholder="Email contact" [(ngModel)]="licenseModel.email" required [disabled]="!editMode">
							</div>
						</div>
					</div>
				</div>
				<div class="row" ng-if="licenseModel.clientName">
					<div class="col-sm-5">
						<div class="form-group">
							<label class="col-sm-3 control-label">Project: </label>
							<div class="col-sm-9">
								<label class="control-label " style="text-transform: capitalize;">{{licenseModel.project.name | lowercase}}</label>
							</div>
						</div>
					</div>
					<div class="col-sm-5">
						<div class="form-group">
							<label class="col-sm-4 control-label">Status: </label>
							<div class="col-sm-8">
								<label class="control-label " style="text-transform: capitalize;">{{licenseModel.status | lowercase}}</label>
							</div>
						</div>
					</div>
				</div>
				<div class="nav-tabs-custom">
					<ul class="nav nav-tabs">
						<li class="active"><a href="#tab_1" data-toggle="tab">Details</a></li>
						<li><a href="#tab_2" data-toggle="tab">License Key</a></li>
						<li><a href="#tab_3" data-toggle="tab">Activity</a></li>
						<li><a href="#tab_4" data-toggle="tab">Thumbprint</a></li>
					</ul>
					<div class="tab-content">
						<div class="tab-pane active" id="tab_1">
							<div class="row">
								<div class="col-sm-6">
									<div class="form-group">
										<label for="radioGroupMethod" class="col-sm-2 control-label">Method:</label>
										<div class="col-sm-8" id="radioGroupMethod">
											<label class="radio-inline" *ngFor="let methodOption of methodOptions; let i = index">
												<input type="radio" name="inlineRadioOptions{{i}}" [(ngModel)]="licenseModel.method.name" [value]="methodOption.name" [disabled]="!editMode"> {{methodOption.text}}
											</label>
										</div>
									</div>
									<div class="form-group sub-option-50" *ngIf="licenseModel.method.name === 'MAX_SERVERS'">
										<label class="col-sm-4 control-label">Max Server:</label>
										<div class="col-sm-2" >
											<input id="serverCount" type="number" name="methodMaxServer" [(ngModel)]="licenseModel.method.max" min="0" step="1" class="element-width-80" required [disabled]="!editMode" />
										</div>
									</div>
									<div class="form-group sub-option-50" *ngIf="licenseModel.method.name === 'TOKEN'">
										<label for="tokenCount" class="col-sm-4 control-label">Tokens Count:</label>
										<div class="col-sm-2" >
											<input id="tokenCount" type="number" name="methodTokens" [(ngModel)]="licenseModel.method.max" min="0" step="1" class="element-width-80"  required [disabled]="!editMode" />
										</div>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<label for="gracePeriodDays" class="col-sm-4 control-label" style="padding-top: 3px;">Grace Period Days:</label>
										<div class="col-sm-2" >
											<input id="gracePeriodDays" type="number" name="gracePeriod" [(ngModel)]="licenseModel.gracePeriodDays" min="0" max="14" step="1" class="element-width-80" required [disabled]="!editMode" />
										</div>
									</div>
								</div>
							</div>
							<div class="form-group">
                                <label for="licenseEnvironment" class="col-sm-2 control-label">Environment:</label>
								<div class="col-sm-3">
                                    <kendo-dropdownlist
                                        id="licenseEnvironment"
                                        name="licenseEnvironment"
                                        class="form-control"
                                        [data]="environmentList"
                                        [(ngModel)]="licenseModel.environment"
                                        required
                                        [disabled]="!editMode">
                                        <ng-template kendoDropDownListValueTemplate let-dataItem>
                                            <span class="template" style="text-transform: capitalize;">{{ dataItem | lowercase}}</span>
                                        </ng-template>
                                        <ng-template kendoDropDownListItemTemplate let-dataItem>
                                            <span class="template" style="text-transform: capitalize;">{{ dataItem | lowercase}}</span>
                                        </ng-template>
                                    </kendo-dropdownlist>
								</div>
							</div>
							<div class="form-group">
                                <kendo-daterange>
                                    <label class="col-sm-2 control-label">Valid Dates:</label>
                                    <div class="col-sm-2" style="width: 173px;">
                                        <kendo-dateinput kendoDateRangeStartInput [(value)]="licenseModel.start" [disabled]="!editMode"></kendo-dateinput>
                                    </div>
                                    <div class="col-sm-1" style="width: 10px; padding-top: 9px;">
                                        <span><i class="fa fa-fw fa-ellipsis-v"></i></span>
                                    </div>
                                    <div class="col-sm-2">
                                        <kendo-dateinput kendoDateRangeEndInput [(value)]="licenseModel.end" [disabled]="!editMode"></kendo-dateinput>
                                    </div>
                                </kendo-daterange>
							</div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Request Date:</label>
                                <div class="col-sm-10">
                                    <label class="control-label">{{licenseModel.requestDate | date: dateFormat }}</label>
                                </div>
                            </div>
							<div class="form-group">
								<label for="selectSpecialInstructions" class="col-sm-12 control-label">Special Instructions and/or PO# reference:</label>
							</div>
							<div class="form-group">
								<div class="col-sm-12">
									<textarea id="selectSpecialInstructions" name="selectSpecialInstructions" class="form-control" rows="3" placeholder="" [(ngModel)]="licenseModel.requestNote" [disabled]="true"></textarea>
								</div>
							</div>
							<div class="form-group">
								<label for="licenseManagerBanner" class="col-sm-12 control-label">License Banner Message:</label>
							</div>
							<div class="form-group">
								<div class="col-sm-8">
									<input id="licenseManagerBanner" type="text" name="bannerMessage" [(ngModel)]="licenseModel.bannerMessage" style="width: 100%" [disabled]="!editMode">
								</div>
							</div>
						</div><!-- /.tab-pane -->
						<div class="tab-pane" id="tab_2">
							<div class="form-group">
								<label class="col-md-12 control-label">The following text block contains the details of the license information in an encrypted format.</label>
							</div>
							<div class="form-group">
								<div class="col-sm-8">
									<textarea id="detailedKeyText" name="detailedKeyText" class="form-control" rows="8" [(ngModel)]="licenseKey" readonly></textarea>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-8">
									<button [copy-clipboard]="licenseKey" type="submit" class="btn btn-primary"><i class="fa fa-fw fa-cut"></i> Copy to Clipboard</button>
								</div>
							</div>
						</div><!-- /.tab-pane -->
						<div class="tab-pane" id="tab_3">

						</div><!-- /.tab-pane -->
						<div class="tab-pane" id="tab_4">
							<div class="form-group">
								<label class="col-sm-2 control-label text-right">License Id:</label>
								<div class="col-sm-10">
									<label class="control-label">{{licenseModel.id}}</label>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label text-right">Project Name:</label>
								<div class="col-sm-10">
									<label class="control-label" *ngIf="!editMode" style="text-transform: capitalize;">{{licenseModel.project.name | lowercase }}</label>
									<div class="btn-group btn-with-close-icon" *ngIf="editMode">
										<input type="text" name="projectName" [(ngModel)]="licenseModel.project.name" style="width: 300px;" >
										<i class="fa fa-fw fa-close"  (click)="licenseModel.project.name = '';"></i>
									</div>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label text-right">Host Name:</label>
								<div class="col-sm-10">
									<label class="control-label" *ngIf="!editMode">{{licenseModel.hostName}}</label>
									<div class="btn-group btn-with-close-icon" *ngIf="editMode">
										<input  type="text" name="hostName" [(ngModel)]="licenseModel.hostName" style="width: 300px;">
										<i class="fa fa-fw fa-close" (click)="licenseModel.hostName = ''"></i>
									</div>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label text-right">Website Name:</label>
								<div class="col-sm-10">
									<label class="control-label" *ngIf="!editMode">{{licenseModel.websitename}}</label>
									<div class="btn-group btn-with-close-icon" *ngIf="editMode">
										<input  type="text" name="websitename" [(ngModel)]="licenseModel.websitename" style="width: 300px;">
										<i class="fa fa-fw fa-close" (click)="licenseModel.websitename = ''"></i>
									</div>
								</div>
							</div>
						</div><!-- /.tab-pane -->
					</div><!-- /.tab-content -->
				</div>
			</div><!-- /.box-body -->
		</form>
	</div>
	<div class="modal-footer form-group-center">
		<button *ngIf="editMode" [disabled]="licenseEditForm.$invalid" type="submit" class="btn btn-primary pull-left" (click)="saveLicense()"><span class="glyphicon glyphicon-ok"></span> Save Changes</button>
		<button *ngIf="pendingLicense" [disabled]="licenseEditForm.$invalid" type="submit" class="btn btn-primary pull-left" (click)="enterEditMode()"><span class="glyphicon glyphicon-pencil"></span> Edit</button>
        <button type="button" class="btn btn-danger" [ngClass]="{'pull-left': licenseModel.status === licenseStatus.ACTIVE}" (click)="onDelete()"><span class="glyphicon glyphicon-trash"></span> Delete License</button>
		<button (click)="cancelCloseDialog()" type="button" class="btn btn-default pull-right">
			<span class="glyphicon glyphicon-ban-circle"></span>
			<span *ngIf="!editMode">{{'GLOBAL.CLOSE' | translate }}</span>
			<span *ngIf="editMode">{{'GLOBAL.CANCEL' | translate }}</span>
		</button>
	</div>
</div>