<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        {{pageMetaData.title | translate}}
        <small>{{pageMetaData.instruction | translate}}</small>
    </h1>
    <ol class="breadcrumb">
        <li *ngFor="let menu of pageMetaData.menu; let last = last;" [ngClass]="{'active' : last}" >
            <a *ngIf="!last">{{(menu.text || menu) | translate}}</a>
            <ng-container *ngIf="last">
                {{ menu | translate }}
            </ng-container>
        </li>
    </ol>
</section>
<tds-ui-dialog></tds-ui-dialog>
<tds-ui-prompt></tds-ui-prompt>