<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        {{pageMetaData.title}}
        <small>{{pageMetaData.instruction}}</small>
    </h1>
    <ol class="breadcrumb">
        <li *ngFor="let menu of pageMetaData.menu; let last = last;" [ngClass]="{'active' : last}">
            <a *ngIf="!last" href="#">{{menu}}</a>
            <ng-container *ngIf="last">
                {{menu}}
            </ng-container>
        </li>
    </ol>
</section>
<tds-ui-dialog></tds-ui-dialog>