aside.main-sidebar
  padding-top: 0px
  &.left-side
  ul.sidebar-menu
    li.header
      color: $color--white
      font-size: 14px
  section.sidebar
    ul.sidebar-menu
      li.header
        a.go-home
          border: none
          padding: 0
          float: right