div.ui-dialog
  div.ui-widget-header
    button.ui-dialog-titlebar-close
      span.ui-icon
        background-image: url(../../../plugins/jquery-ui-1.8.15/jquery-ui/themes/ui-lightness/images/ui-icons_ffffff_256x240.png)

/* Used to draw an ex*/
span.clear_filter
  font-size: 18px
  color: #B80000
  vertical-align: baseline
  cursor: pointer