/* Exclusive for AngularJS*/
.asset-tag-selector-component
  margin: 0 5% 0 0
  position: relative
  display: inline-block
  label
    position: relative
    top: -12px
    right: 9px
  .k-widget
    max-width: 300px
    display: inline-block
    li
      background-color: unset
      border: unset
      padding-left: 0px
      padding-right: 0px
      .k-icon
        background-image: unset
        padding-top: 10px
      .k-i-close:before
        font-family: FontAwesome
        color: white
        font-size: 14px
        content: "\f00d"
      span
        margin-right: unset
      span:not(.k-select)
        div
          padding-left: 10px
          padding-right: 22px
      .k-select
        position: absolute
/*Move into colors after merge with David Branch*/
.tag-black
  background-color: black !important
  color: white
.tag-brown
  background-color: brown !important
  color: white
.tag-red
  background-color: red !important
  color: white
.tag-orange
  background-color: orange !important
  color: white
.tag-yellow
  background-color: yellow !important
  color: white
.tag-green
  background-color: green !important
  color: white
.tag-cyan
  background-color: cyan !important
  color: white
.tag-blue
  background-color: blue !important
  color: white
.tag-purple
  background-color: purple !important
  color: white
.tag-pink
  background-color: pink !important
  color: white
.tag-unselected
  background-color: unset !important
  color: white