<form id="gridControls" class="row-fluid clearfix form-inline groups">
	<div class="col-md-1 col-xs-1 form-group text-center">
		<a class="btn btn-default" id="generateRecipe" ng-click="createRecipe()">
			<img ng-src="{{applyRootPath('/assets/icons/script_add.png')}}" />
			Create Recipe...
		</a>
	</div>
	<div class="col-md-4 col-xs-4 form-group pull-right archiveCheckWrapper">
			<label class="pull-right">
				<input type="checkbox" name="viewArchived" id="viewArchived" value="n" ng-model="archived" ng-true-value="y" ng-false-value="n" ng-disabled="editor.editingRecipe" ng-change="changeRecipeList()"> View Archived Recipes
			</label>
	</div>
</form>
<div class="row-fluid clearfix">
	<div class="col-md-12">
		<div class="gridStyle" ng-grid="recipesGridOptions"></div>
	</div>
</div>

<div ui-view="recipeDetail"></div>