div.content-wrapper
  background: $white
  .container
    margin-right: 0
    margin-left: 0
    width: 100% !important
    section
      div.box-body
        div.box
          margin-bottom: 10px
          ul.nav
            background: inherit
            border: inherit
            margin-top: inherit
            padding: inherit