div.content-wrapper
  background: $white
  .container
    margin-right: 0
    margin-left: 0
    width: 100% !important
    section.content-header
      padding: 8px 15px 0px 15px
      > .breadcrumb
        padding: 0px 5px
    section
      div.box-body
        div.box
          ul.nav
            background: inherit
            border: inherit
            margin-top: inherit
            padding: inherit