.login-box-body
  border: 1px solid gray
  .instructions
    text-align: justify
  div.pre-login-message
    border: 1px solid $fontDisabledGray
    border-left: 3px solid $warning
    padding: 9px 14px 13px 13px
    div.pre-login-tag
      float: right
      span.glyphicon
        color: $warning
.login-page
  .login-box-msg
    font-size: 15px
    font-weight: bold
  .emailStatus
    padding: 8px 0px
    margin: 0em

form.loginPageFormWrapper
  div.message
    color: $messageError
div.loginIframe
  margin-top: 6px
div.buildInfo
  font-size: 11px
div.loginErrorMsg
  /*text-align: justify*/
  margin: 2px

div#postLoginMessages
  div.modal-footer
    margin-top: 15px