.login-box-body
  border: 1px solid gray
  .instructions
    text-align: justify
  div.pre-login-message
    border: 1px solid $fontDisabledGray
    border-left: 3px solid $warning
    padding: 0px 14px 26px 13px
  h1.message
    color: $messageError !important
.login-page
  .login-box-msg
    font-size: 15px
    font-weight: bold
  .emailStatus
    padding: 8px 0px
    margin: 0em
form.loginPageFormWrapper
  div.message
    color: $messageError
div.loginIframe
  margin-top: 6px
div.buildInfo
  font-size: 11px
div.loginErrorMsg
  /*text-align: justify*/
  margin: 2px

div#postLoginMessages
  div.modal-footer
    margin-top: 15px

@media (min-width: 768px)
  div.login-box.login-notice
    min-width: 540px
