.login-box-body
  border: 1px solid gray
  .instructions
    text-align: justify
.login-page
  .login-box-msg
    font-size: 15px
    font-weight: bold
  .emailStatus
    padding: 8px 0px
    margin: 0em

form.loginPageFormWrapper
  div.message
    color: $messageError
div.loginIframe
  margin-top: 6px
div.buildInfo
  font-size: 11px
div.loginErrorMsg
  text-align: justify
  margin: 2px