<div tds-autofocus tds-handle-escape
     class="tds-modal-content notice-eula-html-content standard-notices">
    <div class="modal-header">
		<button (click)="onCancel()" type="button" class="close" aria-label="Close">
			<clr-icon aria-hidden="true" shape="close"></clr-icon>
		</button>
       <h4 class="modal-title">{{'NOTICE.NOTICES' | translate }}</h4>
    </div>
    <div class="modal-body">
        <form name="form"
              role="form"
              data-toggle="validator"
              class="form-horizontal"
			  #form='ngForm'>
			<div class="notices-container">
				<div *ngFor="let notice of notices; let idx = index;">
					<div class="standard-notice-card">	
							<div class="form-group">
								<div class="col-sm-12">
									<div [innerHTML]="sanitizeHTML(notice.htmlText)"></div>
								</div>
							</div>
					</div>
					<div class="form-group container-dontshow-again">
							<div class="col-sm-12">
								<label for="agreement-{{idx}}" class="pull-left aligned-label dontshow-again"> 
									<input type="checkbox"  class="aligned-checkbox"
										name="agreement-{{idx}}" 
										id="agreement-{{idx}}" 
										[(ngModel)]="notice.notShowAgain"> {{ 'NOTICE.DO_NOT_SHOW_AGAIN' | translate }}
								</label>
							</div>
					</div>
				</div>
			</div>
        </form>
    </div>

    <div class="modal-footer form-group-center">
		<div class="col-sm-12">
			<tds-button-custom  (click)="onAccept()" 
				icon="check" 
				title="Continue" 
				class="btn-primary pull-left">
			</tds-button-custom>
		</div>
	</div>
</div>
