/**
  The purpose of this SASS is to get the support between the old legacy UI and the new.
  We bring the UI that is being used on the Different Asset Views
 */

.tds-angular-component-content
  .prop
    padding: 5px
  .prop .name
    text-align: left
    white-space: nowrap
    vertical-align: top
    width: 15%
  .prop .nameNW
    text-align: left
    white-space: nowrap
    vertical-align: top
  .prop .value
    text-align: left
    vertical-align: top
    width: 85%
  .prop .valueNW
    text-align: left
    vertical-align: top
  .prop .bundle
    text-align: left
    width: 50%
  .prop a
    color: #00E
  table
    border-collapse: separate
    border-spacing: 2px
    border-collapse: separate
    padding: 5px 0
    td .label
      background: none repeat scroll 0% 0% #f3f4f6
      width: 10%
    td .valueNW
      background-color: white !important
    div
      .label
        display: table-cell
        text-align: initial
        vertical-align: inherit
        color: inherit
        font-weight: inherit
        font-size: 12px
        label
          color: #333
          font-size: 12px
          font-style: normal
          font-weight: normal !important