.planning-dashboard-component
  .phase-wrapper
    min-height: 200px
    display: flex
    margin-left: 20px
    .dashboard-div
      margin-top: 10px
      margin-left: 5px
      background-image: url('../../../images/news_bg.jpg')
      background-size: contain
      padding: 15px
    .discovery-phase
      max-width: 285px
    .analysis-phase
      max-width: 285px
    .execution-phase
      width: 63%