<div>
	<form
		name="applyLicenseForm"
		role="form"
		data-toggle="validator"
		#applyLicenseForm="ngForm"
		class="left-alignment"
	>
		<div class="form-group">
			<label class="col-md-12 control-label"
				>Please copy the license key from the email and
				paste into the textbox below, then click the Apply
				button to activate your license.</label
			>
		</div>
		<div class="form-group">
			<div class="col-sm-12">
				<textarea
					id="licenseKeyText"
					name="licenseKeyText"
					class="form-control"
					rows="8"
					[(ngModel)]="licenseKey"
					placeholder="Paste license key text here"
					required
				></textarea>
			</div>
		</div>
	</form>
</div>
