<tds-ui-floating-header-k-grid></tds-ui-floating-header-k-grid>

<div *ngIf="getCurrentStatus(); let currentStatus">
	<kendo-grid
		[filterable]="true"
		[sortable]="{ mode: 'single' }"
		[data]="gridData"
		[skip]="gridState.skip"
		[sort]="gridState.sort"
		[pageSize]="gridState.take"
		[resizable]="true"
		[pageable]="{ pageSizes: maxOptions, info: true }"
		(dataStateChange)="dataStateChange($event)"
		(columnResize)="onWidthChange($event)"
		(cellClick)="cellClick($event)"
		[ngClass]="{ 'hide-filter': !showAssetsFilter }"
		class="">
		<!-- Select all -->
		<kendo-grid-column
			*ngIf="model && model.columns && model.columns.length > 0"
			[locked]="model && model.columns && model.columns.length > 0"
			[width]="SELECT_ALL_COLUMN_WIDTH"
			[filterable]="false"
		>
			<ng-template
				kendoGridHeaderTemplate
				let-column
				let-columnIndex="columnIndex"
			>
				<tds-indeterminate-checkbox
					name="assetsSelector"
					[hasThirdState]="true"
					[disabled]="!isBulkSelectAvailable()"
					(changeState)="onChangeBulkCheckbox($event)"
					id="assetSelector"
					[setStateSubject]="bulkCheckboxService.setStateSubject">
				</tds-indeterminate-checkbox>
			</ng-template>
			<ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
				<label class="selectall-checkbox-column text-center">
					<input
						clrCheckbox
						type="checkbox"
						id="checkbox_{{ dataItem.common_id }}"
						[ngStyle]="{
						cursor: isBulkSelectAvailable() ? 'pointer' : 'text'
					}"
						[disabled]="!isBulkSelectAvailable()"
						[checked]="
						bulkCheckboxService.getValueBulkItem(dataItem.common_id)
					"
						(change)="
						checkItem(dataItem.common_id, $event.target.checked)
					"
						name="checkbox_{{ dataItem.common_id }}"
					/>
				</label>
			</ng-template>
		</kendo-grid-column>

		<!-- Show Filters / Actions column -->
		<kendo-grid-column
			[field]="'_showFilters'"
			[headerClass]="'text-center'"
			[sortable]="false"
			[locked]="true"
			[class]="{ 'k-custom-command-column': true, 'actions-column': true }"
			[width]="80"
			[minResizableWidth]="80">
			<!-- Toggle Filters button -->
			<ng-template kendoGridHeaderTemplate>
				<tds-grid-show-hide-filters-button [filterCount]="currentStatus.filterCounter"
																					 (toggleFilters)="toggleAssetsFilter()">
				</tds-grid-show-hide-filters-button>
			</ng-template>
			<!-- Clear all Filters button -->
			<ng-template kendoGridFilterCellTemplate let-filter>
				<tds-grid-clear-all-filters-button [show]="currentStatus.filterCounter"
																					 (clearFilters)="onClearFilters()">
				</tds-grid-clear-all-filters-button>
			</ng-template>
			<ng-template
				kendoGridCellTemplate
				let-dataItem
				let-rowIndex="rowIndex"
				let-hasComments="dataItem.common_commentCount > 0"
				let-hasTasks="dataItem.common_taskCount > 0"
			>
				<div class="action-button btn-link">
					<clr-dropdown #dropdown>
						<tds-button icon="ellipsis-vertical"
												clrDropdownTrigger
												tdsGridContextMenuFixedPosition [clrDropdown]="dropdown">
						</tds-button>
						<clr-dropdown-menu *clrIfOpen clrPosition="bottom-left">
							<a
								clrDropdownItem
								(click)="showAssetEditView(dataItem, rowIndex)"
								[disabled]="!isEditAvailable()">
								Edit
							</a>
							<a
								clrDropdownItem
								(click)="createTask(dataItem, rowIndex)"
								*ngIf="!hasTasks"
								[disabled]="!isTaskCreateAvailable()"
							>
								Create Task
							</a>
							<a
								clrDropdownItem
								(click)="showTask(dataItem, rowIndex)"
								*ngIf="hasTasks"
							>
								Show Tasks
							</a>
							<a
								clrDropdownItem
								(click)="createComment(dataItem, rowIndex)"
								*ngIf="!hasComments"
								[disabled]="!isCommentCreateAvailable()"
							>
								Create Comment
							</a>
							<a
								clrDropdownItem
								(click)="showComment(dataItem, rowIndex)"
								*ngIf="hasComments"
							>
								Show Comments
							</a>
							<a
								clrDropdownItem
								(click)="showAssetCloneView(dataItem, rowIndex)"
								[disabled]="!isAssetCloneAvailable()"
							>
								Clone
							</a>
						</clr-dropdown-menu>
					</clr-dropdown>
				</div>
			</ng-template>
		</kendo-grid-column>

		<!-- All Columns -->
		<kendo-grid-column
			*ngFor="let column of model.columns; let i = index"
			[locked]="column.locked"
			field="{{ column.domain }}_{{ column.property }}"
			[minResizableWidth]="VIEW_COLUMN_MIN_WIDTH_SHRINK"
			[width]="
			commonShrunkColumns.includes(column.label)
				? commonShrunkColumnWidth
				: column.width
		"
			[class]="column.domain"
		>
			<!-- Header Template -->
			<ng-template kendoGridHeaderTemplate>
				<div
					class="sortable-column component-action-sort"
					(click)="onClickTemplate($event)"
				>
					<div [ngClass]="{ 'field-not-found': column?.notFound }">
						<label [title]="column.tip || column.label">
							{{ getPropertyLabel(column) }}
							<i
								class="fa fa-fw fa-warning"
								style="display: none;"
								attr.data-content="{{
								'FIELD_SETTINGS.FIELD_NO_LONGER_EXISTS_ON_DOMAIN'
									| translate
							}} {{ column.domain }} ({{ column.property }})"
								data-toggle="popover"
								data-trigger="hover"
							></i>
						</label>
					</div>
				</div>
				<i
					*ngIf="column.property === 'tagAssets'"
					class="fa"
					[ngClass]="
					showFullTags
						? 'fa-angle-double-down'
						: 'fa-angle-double-right'
				"
					style="margin-top: 3px; margin-left: 10px"
					(click)="onToggleTagsView($event)"
					title="Toggle Tags View"
				></i>
			</ng-template>

			<!-- Filter Template -->
			<ng-template
				kendoGridFilterCellTemplate *ngIf="currentStatus.showAssetsFilter && column.property !== 'tagAssets'">
				<div class="filter-input">
					<tds-grid-filter-input
						name="{{ column.domain }}.{{ column.property }}"
						[value]="column.filter"
						[filterType]="column.type || 'text'"
						[placeholder]="'GLOBAL.FILTER' | translate"
						(filter)="setFilter($event, column)">
					</tds-grid-filter-input>
				</div>
			</ng-template>
			<!-- Asset Tags Filter Template -->
			<ng-template
				kendoGridFilterCellTemplate *ngIf="currentStatus.showAssetsFilter && column.property === 'tagAssets'">
				<tds-asset-tag-selector
					#tagSelector
					[popupClass]="'assets-view-grid'"
					[tagList]="metadata.tagList"
					placeholder="{{ 'GLOBAL.FILTER' | translate }}"
					[viewFilterModel]="column.filter"
					(valueChange)="onTagFilterChange(column, $event)"
				>
				</tds-asset-tag-selector>
			</ng-template>

			<!-- Default Cell Template -->
			<ng-template
				kendoGridCellTemplate
				let-dataItem
				*ngIf="
				column.property !== 'tagAssets' &&
				!fieldPipeMap.pipe[column.domain + '_' + column.property]
			"
			>
			<span [ngClass]="getCellClass(column)" [title]="dataItem[column.domain + '_' + column.property]">
				{{ fieldPipeMap[column.domain + '_' + column.property] }}
				{{ dataItem[column.domain + '_' + column.property] }}
			</span>
			</ng-template>
			<!-- DateTime Fields Template -->
			<ng-template
				kendoGridCellTemplate
				let-dataItem
				*ngIf="
				fieldPipeMap.pipe[column.domain + '_' + column.property] ===
				'DateTime'
			"
			>
				<div>
					{{
					dataItem[column.domain + '_' + column.property]
						| tdsDateTime: userTimeZone
					}}
				</div>
			</ng-template>
			<!-- Date Fields Template -->
			<ng-template
				kendoGridCellTemplate
				let-dataItem
				*ngIf="
				fieldPipeMap.pipe[column.domain + '_' + column.property] ===
				'Date'
			"
			>
				<div>
					{{
					dataItem[column.domain + '_' + column.property]
						| tdsDate: userDateFormat
					}}
				</div>
			</ng-template>
			<!-- Number Fields Template -->
			<ng-template
				kendoGridCellTemplate
				let-dataItem
				*ngIf="
				fieldPipeMap.pipe[column.domain + '_' + column.property] ===
				'Number'
			"
			>
				<div>
					{{
					dataItem[column.domain + '_' + column.property]
						| tdsNumber
						: fieldPipeMap.metadata[
						column.domain + '_' + column.property
							]
					}}
				</div>
			</ng-template>
			<!-- Asset Tags Cell Template -->
			<ng-template
				kendoGridCellTemplate
				let-dataItem
				*ngIf="column.property === 'tagAssets'"
			>
				<div
					(mouseleave)="refreshTableSize($event)"
					[ngClass]="showFullTags ? 'show-full-tags' : ''"
					class="single-line-tags"
				>
					<ng-template
						ngFor
						let-tag
						[ngForOf]="dataItem[column.domain + '_' + column.property]"
						let-i="index"
					>
					<span class="label tag" [ngClass]="tag.css">{{
						tag.name
						}}</span>
					</ng-template>
				</div>
			</ng-template>
		</kendo-grid-column>

		<ng-template
			kendoPagerTemplate
			let-total="total"
			let-totalPages="totalPages"
			let-currentPage="currentPage"
		>
			<div class="clr-col-4 selected-assets-counter">
				<clr-icon class="icon" shape="check"></clr-icon>
				<h6 class="inline">{{ getSelectedItemsCount() }}</h6>
				<!-- Bulk Change button -->
				<tds-bulk-change-button
					#tdsBulkChangeButton
					[enabled]="hasSelectedItems()"
					[showDelete]="true"
					[showEdit]="true"
					[bulkChangeType]="bulkChangeType"
					(clickBulk)="onClickBulkButton()"
					(operationResult)="onBulkOperationResult($event)">
				</tds-bulk-change-button>
			</div>
			<div class="clr-col-8">
				<tds-grid-pager
					[total]="total"
					[totalPages]="totalPages"
					[currentPage]="currentPage"
					[pageSizes]="maxOptions"
					[pageSize]="currentPageSize"
					(pageChange)="onPageChangeHandler($event)"
				>
				</tds-grid-pager>
			</div>
		</ng-template>
	</kendo-grid>
</div>

