div.content-wrapper
  div.container
    div.body
      position: static
      div#taskGraphId
        div.progress-bar-container div.refresh-button
          margin-top: 5px
        div#graphToolbarId
          font-size: 0px
          div.zoomButton
            margin-bottom: 5px
            vertical-align: bottom
          div#zoomInButtonId
            margin-left: 20px
          span.checkboxContainer
            display: inline-block
            margin-left: 10px
          input#exitNeighborhoodId
            margin-right: 8px
        div#svgContainerDivId
          &:focus
            outline: 0
          border: 1px solid green
          overflow: hidden
          a
            pointer-events: auto !important
          svg        
            g#graph0
              pointer-events: none
              g.node a
                cursor: pointer            
              g.node.unselected g a
                path,polygon
                  stroke-width: 1px !important
                  stroke: #000000 !important
              g.node.selected g a 
                path,polygon
                  stroke-width: 6px !important
                  stroke: #ff0000 !important
