.bundle-create-component
  font-size: 12px
  font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif
  .dialog
    kendo-dropdownlist
      width: 180px
    .required
      float: right
      font-size: 9px
      color: red
    table
      width: 100%
      .name
        white-space: nowrap
        width: 15%
        font-weight: bold
      .value
        width: 85%
        .k-dateinput-wrap input
          font-size: 12px !important
      td
        line-height: 12px
        padding: 4px 5px
        text-align: left
        vertical-align: top
    input [type='checkbox']
      margin: 0 !important