.bundle-list-component
  .form-control
    margin-bottom: 3px
  .k-header
    button
      height: 25px
      margin-left: 8px
      margin-top: 2px
      margin-bottom: 2px
      padding: 4px 12px 12px 8px
      color: #2C61AA
      font-weight: bold
  .k-grid-table
    td
      cursor: default !important
      a
        cursor: pointer !important
  .kendo-grid-toolbar__refresh-btn
    margin-top: 6px !important