.bundle-list-component
  .checkbox-container
    display: flex
    justify-content: center
  .form-control
    margin-bottom: 3px
  .k-grid-table
    td
      cursor: default !important
      a
        cursor: pointer !important
