.bundle-create-component
  font-size: 12px
  font-family: helvetica, arial, sans-serif
  .dialog
    select
      width: 180px
    .required
      float: right
      font-size: 9px
      color: red
    table
      border: 1px solid #63a242
      width: 100%
      .name
        white-space: nowrap
        width: 15%
        font-weight: bold
      .value
        width: 85%
        .k-dateinput-wrap input
          font-size: 12px !important
      td
        line-height: 12px
        padding: 4px 5px
        text-align: left
        vertical-align: top