.bundle-show-component
  font-size: 12px
  font-family: helvetica, arial, sans-serif
  margin-left: 15px
  margin-right: 15px
  margin-bottom: 10px
  .body
    margin-left: 15px
    margin-right: 15px
    margin-bottom: 10px
  td
    line-height: 12px
    padding: 4px 5px
    text-align: left
  .nav
    background: #fff
    .menuButton
      font-size: 13px
      padding: 0 5px
      font-weight: bold
      input
        border: 0
      .list
        background: url(../icons/database_table.png) center left no-repeat
        color: #333
        padding-left: 25px
      .create
        background: url(../icons/database_add.png) center left no-repeat
        color: #333
        padding-left: 25px
  .steps_table
    height: auto
    border: 1px solid #5F9FCF
    margin-top: 20px
    padding: 10px 0px
    background: #fff
    .prop
      .name
        text-align: left
        white-space: nowrap
        vertical-align: top
        width: 15%
      .value
        width: 85%
    .span
      position: absolute
      text-align: center
      width: auto
      margin: -17px 0 0 10px
      padding: 0px 8px
      background: #ffffff
  .buttons
    background: #fff url(../../../images/skin/shadow.jpg) bottom repeat-x
    border: 1px solid #ccc
    color: #666
    font-size: 12px
    margin-top: 5px
    overflow: hidden
    padding: 0
    input
      background: #fff
      border: 0
      color: #333
      cursor: pointer
      font-size: 13px
      font-weight: bold
      margin-left: 3px
      overflow: visible
      padding: 2px 6px
    input.edit
        background: transparent url(../icons/database_edit.png) 5px 50% no-repeat
        padding-left: 28px
    input.delete
        background: transparent url(../icons/database_delete.png) 5px 50% no-repeat
        padding-left: 28px
  #assetEntityTable
    border-spacing: 2px
    th
      background: #CCCCCC
      color: #000
      font-size: 12px
      font-weight: bold
      line-height: 16px
      padding: 2px 6px
    .odd
      background: #e0e0e0
    .even
      background: #fff