<div class="event-dashboard-component">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-1">
                    <span>{{'EVENT.EVENT' | translate}}:</span>
                </div>
                <div class="col-md-2">
                    <kendo-dropdownlist 
                        [data]="eventList" 
                        [(ngModel)]="selectedEvent" 
                        (ngModelChange)="onSelectedEvent($event.id)" 
                        textField="name" 
                        valueField="id">
                    </kendo-dropdownlist>   
                </div>
                <div class="col-md-3 pull-left">
                    <label for="agreement" class="pull-left aligned-label dontshow-again"> 
                            <input type="checkbox"  class="aligned-checkbox"
                                name="agreement" 
                                id="agreement" 
                                [(ngModel)]="includeUnpublished"> {{ 'EVENT.INCLUDE_UNPUBLISHED' | translate }}
                    </label>                
                </div>                
                <div class="col-md-3 pull-right">
                    <tds-pie-countdown></tds-pie-countdown>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-3">
                    <tds-plan-versus-status 
                        (changeProgress)="onChangeStatus($event)"
                        [currentProgress]="eventPlanStatus.dialIndicator">
                    </tds-plan-versus-status>
                </div>
                <div class="col-md-3">
                    <tds-event-resume [event]="eventPlanStatus"></tds-event-resume>
                </div>
                <div class="col-md-6">
                    <tds-news 
                        [news]="newsList" 
                        (create)="onCreate()"
                        (selected)="onSelectedNews($event)"></tds-news>
                </div>
            </div>
        </div>
    </div>

    <div class="panel" *ngIf="eventDetails">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-2">
                    <div>
                        <div>{{eventDetails.remainTaskCount}}</div>
                        <div>Tasks Remaining</div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div style="display: flex;width:100%;">
                        <div style="width:20%;display:flex;justify-content: center;align-items: center;"># or<br/> Tasks</div>
                        <div style="width:80%">
                            <div style="display: flex; border: 1px solid black;width: 100%;">
                                <div class="task-done" style="overflow: hidden;height:34px;" [style.width.%]="eventDetails.percTaskDone">
                                    {{eventDetails.percTaskDone < 5 ? '' : eventDetails.percTaskDone + '%'}}
                                </div>
                                <div class="task-ready" style="overflow: hidden;height: 34px;" [style.width.%]="eventDetails.percTaskReady"></div>
                                <div class="task-started" style="overflow: hidden;height: 34px;" [style.width.%]="eventDetails.percTaskStarted"></div>
                            </div>
                            <div style="height: 5px;"></div>
                            <div style="width: 100%;display:flex;">
                                <div class="task-done" style="width:20%;text-align: center">
                                    <div>Done</div>
                                    <div>{{eventDetails.countDone}}</div>
                                </div>
                                <div class="task-started" style="width:20%;text-align: center">
                                    <div>Started</div>
                                    <div>{{eventDetails.countStarted}}</div>
                                </div>
                                <div class="task-ready" style="width:20%;text-align: center">
                                    <div>Ready</div>
                                    <div>{{eventDetails.countReady}}</div>
                                </div>
                                <div class="task-hold" style="width:20%;text-align: center">
                                    <div>Hold</div>
                                    <div>{{eventDetails.countHold}}</div>
                                </div>
                                <div class="task-pending" style="width:20%;text-align: center">
                                    <div>Pending</div>
                                    <div>{{eventDetails.countPending}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="height: 10px"></div>
                    <div style="display: flex;width:100%;">
                        <div style="width:20%;display:flex;justify-content: center;align-items: center;">Level <br/>of Effort</div>
                        <div style="width:80%">
                            <div style="display: flex; border: 1px solid black;width: 100%;">
                                <div class="task-done" style="overflow: hidden;height:34px;" [style.width.%]="eventDetails.percDurationDone">
                                    {{eventDetails.percDurationDone < 5 ? '' : eventDetails.percDurationDone + '%'}}
                                </div>
                                <div class="task-started" style="overflow: hidden;height: 34px;" [style.width.%]="eventDetails.percDurationStarted"></div>
                                <div class="task-ready" style="overflow: hidden;height: 34px;" [style.width.%]="eventDetails.percDurationReady"></div>
                            </div>
                            <div style="height: 5px;"></div>
                            <div style="width: 100%;display:flex;">
                                <div class="task-done" style="width:20%;text-align: center">
                                    <div>Done</div>
                                    <div>{{eventDetails.effortRemainDone}}</div>
                                </div>
                                <div class="task-started" style="width:20%;text-align: center">
                                    <div>Started</div>
                                    <div>{{eventDetails.effortRemainStarted}}</div>
                                </div>
                                <div class="task-ready" style="width:20%;text-align: center">
                                    <div>Ready</div>
                                    <div>{{eventDetails.effortRemainReady}}</div>
                                </div>
                                <div class="task-hold" style="width:20%;text-align: center">
                                    <div>Hold</div>
                                    <div>{{eventDetails.effortRemainHold}}</div>
                                </div>
                                <div class="task-pending" style="width:20%;text-align: center">
                                    <div>Pending</div>
                                    <div>{{eventDetails.effortRemainPending}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-7">
                    Another
                </div>
            </div>
        </div>
    </div>

</div>