<div class="notice-edit-content" tabflow="vertical">
	<form
		novalidate
		role="form"
		class="form-horizontal left-alignment"
		#form="ngForm"
		name="form"
	>
		<div class="box-body">
			<!-- Title -->
			<div class="clr-row">
				<label for="inputTitle" class="clr-col-3 required-field"
					>Title:</label
				>
				<div class="clr-col-9">
					<input
						*ngIf="
							action !== EnumActionType.View;
							else noticeTitleView
						"
						type="text"
						name="title"
						id="inputTitle"
						class="clr-input form-control"
						title="{{ 'NOTICE.TOOLTIP_TITLE' | translate }}"
						[(ngModel)]="model.title"
						required
						#noticeCreateTitle
					/>
					<ng-template #noticeTitleView>
						<label class=" label-detail">{{
							model.title
						}}</label>
					</ng-template>
				</div>
			</div>
			<!-- Type -->
			<div class="clr-row">
				<label for="selectType" class="clr-col-3 required-field"
					>Type:</label
				>
				<div class="clr-col-9">
					<kendo-dropdownlist
						*ngIf="
							action !== EnumActionType.View;
							else noticeTypeView
						"
						name="noticeType"
						title="{{
							'NOTICE.TOOLTIP_NOTICE_TYPES' | translate
						}}"
						#typeIdField="kendoDropDownList"
						[defaultItem]="defaultItem"
						[data]="typeDataSource"
						[textField]="'name'"
						[valueField]="'typeId'"
						id="selectType"
						class="form-control"
						[(ngModel)]="noticeType"
						(valueChange)="onChangeNoticeType($event)"
						requiredComplexValue
						propertyName="typeId"
						required
					>
					</kendo-dropdownlist>

					<ng-template #noticeTypeView>
						<label class=" label-detail">{{ typeName }}</label>
					</ng-template>
				</div>
			</div>
			<!-- Active -->
			<div class="clr-row">
				<label for="checkActive" class="clr-col-3 ">Active:</label>
				<div class="clr-col-9">
					<label
						*ngIf="
							action !== EnumActionType.View;
							else noticeActiveView
						"
					>
						<input
							clrCheckbox
							class="checkbox"
							title="{{
								'NOTICE.TOOLTIP_ACTIVE' | translate
							}}"
							id="checkActive"
							name="active"
							type="checkbox"
							[(ngModel)]="model.active"
						/>
					</label>

					<ng-template #noticeActiveView>
						<label class=" label-detail">{{
							model.active | tdsUIBoolean
						}}</label>
					</ng-template>
				</div>
			</div>
			<!-- Activation Date -->
			<div class="clr-row">
				<label for="activationDate" class="clr-col-3"
					>Activation Date:</label
				>
				<div class="clr-col-9">
					<div
						*ngIf="
							action !== EnumActionType.View;
							else noticeActivationDateView
						"
					>
						<tds-date-control
							title="{{
								'NOTICE.TOOLTIP_ACTIVATION_DATE' | translate
							}}"
							id="activationDate"
							name="activationDate"
							#activationDate="ngModel"
							[maximum]="maxDate"
							(blur)="setMinDate($event)"
							[value]="model.activationDate"
							[(ngModel)]="model.activationDate"
						>
						</tds-date-control>
						<tds-custom-validation-errors
							*ngIf="
								getFormField(form, 'activationDate');
								let field
							"
							[userDateFormat]="userDateFormat"
							[errors]="field.errors"
							[valid]="field.valid"
							[touched]="field.touched"
							[dirty]="field.dirty"
						>
						</tds-custom-validation-errors>
					</div>
					<ng-template #noticeActivationDateView>
						<label
							class=" label-detail"
							*ngIf="model.activationDate"
							>{{
								model.activationDate
									| tdsDate: userDateFormat
							}}</label
						>
					</ng-template>
				</div>
			</div>
			<!-- Expiration Date -->
			<div class="clr-row">
				<label for="expirationDate" class="clr-col-3"
					>Expiration Date:</label
				>
				<div class="clr-col-9">
					<div
						*ngIf="
							action !== EnumActionType.View;
							else noticeExpirationDateView
						"
					>
						<tds-date-control
							title="{{
								'NOTICE.TOOLTIP_EXPIRATION_DATE' | translate
							}}"
							id="expirationDate"
							name="expirationDate"
							#expirationDate="ngModel"
							[minimum]="minDate"
							(blur)="setMaxDate($event)"
							[value]="model.expirationDate"
							[(ngModel)]="model.expirationDate"
						>
						</tds-date-control>
						<tds-custom-validation-errors
							*ngIf="
								getFormField(form, 'expirationDate');
								let field
							"
							[userDateFormat]="userDateFormat"
							[errors]="field.errors"
							[valid]="field.valid"
							[touched]="field.touched"
							[dirty]="field.dirty"
						>
						</tds-custom-validation-errors>
					</div>

					<ng-template #noticeExpirationDateView>
						<label
							class=" label-detail"
							*ngIf="model.expirationDate"
							>{{
								model.expirationDate
									| tdsDate: userDateFormat
							}}</label
						>
					</ng-template>
				</div>
			</div>
			<!-- Sequence -->
			<div class="clr-row">
				<label for="sequence" class="clr-col-3">Sequence:</label>
				<div class="col-sm-1">
					<kendo-numerictextbox
						*ngIf="
							action !== EnumActionType.View;
							else noticeSequenceView
						"
						title="{{ 'NOTICE.TOOLTIP_SEQUENCE' | translate }}"
						[spinners]="false"
						name="sequence"
						[(ngModel)]="model.sequence"
						[format]="'n0'"
						[min]="0"
						[max]="127"
						[autoCorrect]="true"
					>
					</kendo-numerictextbox>
					<ng-template #noticeSequenceView>
						<label class=" label-detail">{{
							model.sequence
						}}</label>
					</ng-template>
				</div>
				<div class="col-sm-2"></div>
			</div>
			<!-- Locked -->
			<div class="clr-row">
				<label for="locked" class="clr-col-3">Locked:</label>
				<div class="clr-col-9">
					<label
						*ngIf="
							action !== EnumActionType.View;
							else noticeLockedView
						"
					>
						<input
							clrCheckbox
							class="checkbox"
							[disabled]="noticeIsLocked"
							[ngClass]="{ 'is-disabled': noticeIsLocked }"
							title="{{
								'NOTICE.TOOLTIP_LOCKED' | translate
							}}"
							id="locked"
							name="locked"
							type="checkbox"
							[(ngModel)]="model.locked"
						/>
					</label>
					<ng-template #noticeLockedView>
						<label class=" label-detail">{{
							model.locked | tdsUIBoolean
						}}</label>
					</ng-template>
				</div>
			</div>
			<!-- Message -->
			<div class="clr-row">
				<label class="clr-col-12 required-field vertical-label"
					>Message:</label
				>
				<div
					class="clr-col-12"
					[ngClass]="{ 'readonly-control': noticeIsLocked }"
				>
					<kendo-editor
							[value]="htmlText"
							(valueChange)="onValueChange($event)"
							[readonly]="(noticeIsLocked || action === EnumActionType.View)"
					>
						<kendo-toolbar>
							<kendo-toolbar-buttongroup>
								<kendo-toolbar-button kendoEditorUndoButton></kendo-toolbar-button>
								<kendo-toolbar-button kendoEditorRedoButton></kendo-toolbar-button>
							</kendo-toolbar-buttongroup>
							<kendo-toolbar-dropdownlist kendoEditorFormat></kendo-toolbar-dropdownlist>
							<kendo-toolbar-buttongroup>
								<kendo-toolbar-button kendoEditorBoldButton></kendo-toolbar-button>
								<kendo-toolbar-button kendoEditorItalicButton></kendo-toolbar-button>
								<kendo-toolbar-button kendoEditorUnderlineButton></kendo-toolbar-button>
							</kendo-toolbar-buttongroup>
							<kendo-toolbar-buttongroup>
								<kendo-toolbar-button kendoEditorAlignLeftButton></kendo-toolbar-button>
								<kendo-toolbar-button kendoEditorAlignCenterButton></kendo-toolbar-button>
								<kendo-toolbar-button kendoEditorAlignRightButton></kendo-toolbar-button>
								<kendo-toolbar-button kendoEditorAlignJustifyButton></kendo-toolbar-button>
							</kendo-toolbar-buttongroup>
							<kendo-toolbar-buttongroup>
								<kendo-toolbar-button kendoEditorIndentButton></kendo-toolbar-button>
								<kendo-toolbar-button kendoEditorOutdentButton></kendo-toolbar-button>
							</kendo-toolbar-buttongroup>
						</kendo-toolbar>
					</kendo-editor>
				</div>
			</div>
			<!-- Post Message Text -->
			<div
				class="clr-row"
				*ngIf="noticeType && noticeType.typeId === MANDATORY"
			>
				<label
					for="acknowledgeLabel"
					class="clr-col-12  required-field vertical-label"
					>Post Message Text:</label
				>
				<div class="clr-col-12">
					<input
						type="text"
						*ngIf="
							action !== EnumActionType.View;
							else noticeAcknowledgeView
						"
						[readonly]="noticeIsLocked"
						class="form-control"
						name="acknowledgeLabel"
						id="acknowledgeLabel"
						[(ngModel)]="model.acknowledgeLabel"
					/>

					<ng-template #noticeAcknowledgeView>
						<label class=" label-detail">{{
							model.acknowledgeLabel
						}}</label>
					</ng-template>
				</div>
			</div>
		</div>
	</form>
</div>
