$color__base--blue: #3c8dbc

// BLUE
$color__url-element--blue: #2C61AA
$color__material--blue1: #5f9fcf
$color__material--blue2: #3c8dbc
$color__material--blue3: #3f51b5
$color__action-toolbar--blue: #2C61AA
$color__header-text--blue: #1c94c4
$color__info--blue: #5f9fcf

// GRAY
$color--grey: #ddd
$color--grey2: #ebebeb
$color--grey3: #F4F4F4
$color--darkgray : darkgray
$color__font-disabled--gray: #ccc
$color__menuSelected: #e1e3e9

// WHITE
$color--white: #fff
$color--white1: #f7f7f7
$color--white2: #fafafa
$color--white3: #f9f9f9

$color--black: #000
$color--black2: #333
$color--black3: #444

// RED
$color__message-error--red: red
$color--red: red
$color__danger--red: #d9534f

// YELLOW
$color__warning--yellow: #c87f0a
$color__warning-license--yellow: #FFCC00


/*KENDO MATERIAL BASE COLORS */
$white: #fff
$c_white1: #f7f7f7
$c_white2: #fafafa

$black: #000
$c_black2: #333
$c_black3: #444

$red: red

$material_c_blue1: #5f9fcf
$material_c_blue2: #3c8dbc
$material_c_blue3: #3f51b5 /*KENDO DATE */
$material_c_blue1_action_toolbar_btn: #2C61AA
$material_c_blue1_header_text: #1c94c4