$color-base--blue: #3c8dbc;

// BLUE
$color-url-element--blue: #2C61AA;
$color-material--blue1: #5f9fcf;
$color-material--blue2: #3c8dbc;
$color-material--blue3: #3f51b5;
$color-action-toolbar--blue: #2C61AA;
$color-header-text--blue: #1c94c4;
$color-info--blue: #5f9fcf;
$color-success--blue: #00a7d0;

// GRAY
$color--grey: #ddd;
$color--grey2: #ebebeb;
$color--grey3: #F4F4F4;
$color--grey4: #EEE;
$color--darkgray : darkgray;
$color-font-disabled--gray: #ccc;
$color-menuSelected: #e1e3e9;

// GREEN
$color--green: #dff0d8;
$color--green2: #3c763d;
$color--green3: LightGreen;

// WHITE
$color--white: #fff;
$color--white1: #f7f7f7;
$color--white2: #fafafa;
$color--white3: #f9f9f9;

$color--black: #000;
$color--black2: #333;
$color--black3: #444;

// RED
$color-message-error--red: red;
$color--red: red;
$color--red2: #f2dede;
$color--red3: #a94442;
$color-danger--red: #d9534f;

// PINK
$color-lightpink: LightPink;

// YELLOW
$color-warning--yellow: #c87f0a;
$color-warning-license--yellow: #FFCC00;
$color--yellow: #F9FF90;

// FIELD SETTINGS COLORS
$color-critical-field: #F9FF90;
$color-important-field: #D4F8D4;
$color-normal-field: $color--grey;
$color-unimportant-field: $color--grey3;
$color-hidden-field: $color--white;