.field-settings-grid .to-be-deleted
  text-decoration: line-through

// remove (X) clear icon from IE browser
input.searchFilterInput::-ms-clear
  display: none

.field-setting-component
  // CRITICAL
  .C
    background-color: $color-critical-field !important
    background-image: none !important

  // IMPORTANT
  .I
    background-color: $color-important-field !important
    background-image: none !important

  // NORMAL
  .N
    background-color: $color-normal-field !important
    background-image: none !important

  // UNIMPORTANT
  .U
    background-color: $color-unimportant-field !important
    background-image: none !important

  // HIDDEN
  .H
    background-color: $color-hidden-field !important
    background-image: none !important