.task-hold
  background-color: $color-task-hold-bg--yellow !important
  color: $color--black!important
  font-weight: bold

.task-hold_overtime
  background-color: $color-task-hold-bg-overtime--red !important
  color: $color--black!important
  font-weight: bold

.task-planned
  background-color: $color-task-planned-bg--white !important
  color: $color--grey!important
  font-weight: bold

.task-pending
  background-color: $color-task-pending-bg--white !important
  color: $color--black!important
  font-weight: bold

.task-ready
  background-color: $color-task-ready-bg--green !important
  color: $color--white!important
  font-weight: bold

.task-started
  background-color: $color-task-started-bg--darkturquoise !important
  color: $color--white!important
  font-weight: bold

.task-completed2
  background-color: $color-task-completed2-bg--turquoise !important

.task-completed5
  background-color: $color-task-completed5-bg--blue !important

.task-completed
  background-color: $color-task-completed-bg--blue2 !important
  color: $color--white!important
  font-weight: bold

.task-done2
  background-color: $color-task-done2-bg--blue3 !important

.task-done5
  background-color: $color-task-done5-bg--blue4 !important

.task-done
  background-color: $color-task-done-bg--darkblue !important
  color: $color--white!important
  font-weight: bold

.task-na
  background-color: $color-task-na-bg--lightgray  !important

.task-term
  background-color: $color-task-term-bg--black  !important

.task-tardy
  background-color: $color-task-tardy-bg--mustard  !important

.task-late
  background-color: $color-task-late-bg--orange  !important

.task-overdue
  color: $color-task-overdue-bg--red  !important