.aka-component
  .aka-items
    max-height: 200px
    overflow: auto
    .aka-item
      margin-top: 5px
  input
    width: 80%
  button
    margin-top: 10px
    font-weight: bold
  .aka-items .delete-aka
    cursor: pointer