.bulk-change-counter
  margin-left: 12px
  display: flex
  align-items: baseline
  label
    font-weight: normal
    margin-bottom: unset
  .badge-light
    background-color: #fff
    color: #777
    margin-right: 5px