.combo-group
	display: flex
	.k-widget.k-combobox
		max-width: 123px
	.fixed
		font-weight: normal
		display: flex
		justify-content: center
		align-items: center
		font-size: 10px
		input
			margin-right: 0
.combo-group-category
	font-weight: bold
.combo-group-item
	margin-left: 10px
.combo-group-open
	width: 250px