tds-datetime-control
  table
    border-collapse: collapse !important
    border-width: 1px
    border-style: solid
    border-color: #ededed
    background-color: #ededed
  td
    padding: 0 !important
  kendo-datepicker
    width: 155px !important
    .k-picker-wrap
      border: 0 !important
  kendo-timepicker
    width: auto !important
    .k-picker-wrap
      border: 0 !important
      width: auto !important
      .k-select
        height: 30px
      .k-dateinput
        visibility: hidden !important
        width: 0 !important
        height: 0 !important