tds-datetime-control
  .tds-datetime-control-component
    border-collapse: collapse !important
    border-width: 1px
    border-style: solid
    border-color: #ededed
    background-color: #ededed
    width: 184px
  kendo-datepicker
    width: 155px !important
    float: left
    .k-picker-wrap
      border: 0 !important
  kendo-timepicker
    width: 0px !important
    .k-picker-wrap
      border: 0 !important
      width: 0px !important
      .k-select
        height: 30px
      .k-dateinput
        visibility: hidden !important
        width: 0 !important
        height: 0 !important
