.tds-password-change-component
  .passwordRequirement
    font-style: italic
  .passwordRequirementGroup
    font-weight: bold
  .passRequirement
    color: rgb(0, 170, 0)
  .failRequirement
    color: rgb(204, 0, 0)