.dependents-grid
  .k-widget.form-control
    .k-input
      padding: 1.5rem 0.75rem
  .action-button-list
    width: 100px
  .k-grid-header.k-grid-dynamic-header
    position: relative
  .icon-action
    margin-left: -5px
    font-size: 8px
  .command-delete
    margin-left: 4px

