div.content-wrapper
  div.container
    div.graphContainer
      div#svgContainerId
        svg.chart
          width: initial !important
          position: initial
      &.fullscreen
        z-index: 1032
        div#svgContainerId
      div#controlPanel, div#legendDivId
        z-index: 1032 !important