.asset-entities-dialog-table-content
  .asset-tag-selector-component
    .k-widget
      li
        span:not(.k-select)
          div
            padding-top: 3px
            padding-bottom: 2px
        .k-icon
          padding-top: 13px !important
    .k-multiselect
      max-width: initial
      width: 800px
      .k-multiselect-wrap
        ul
          max-width: 98%