div.content-wrapper
  div.container
    // dependency group table styles
    div#DependencyGroupsTableId
      div#dependencyDivId
        margin-left: 0px !important
        table#dependencyTableId
          position: static
          td.labelColumn
            position: initial !important
        &.floating
          position: fixed
          top: 0px
          left: 800px
          z-index: 110
          margin-left: 0px
          border: 1px solid green
          border-top-width: 0px
          #dependencyTableId tr
            display: none
            &#dependencyGroupsRowId
              display: block
            td.labelColumn
              display: none
    
    // graph styles
    div#item1
      &.fullscreen div#filterOptionsMenuId.open
        left: 366px
        top: 20px
      
      div#graphToolbarId
        height: 26px
      
      // highlighting dropdown menu styles
      div#filterOptionsMenuId
        z-index: 1
        display: none !important
        border-top: 0px
        margin-top: -1px
        width: 235px
        &.open
          display: block !important
          position: absolute
          left: 354px
          top: 21px
          background-color: #ffffff
          cursor: auto !important
        table
          border: 0px
          tr.optionRow td
            height: 28px
            span#highlightPersonId > span
              width: 190px
            span.clearFilterIcon
              display: inline-block
              height: 20px
              width: 20px
              background-image: url(../icons/cancel.png)
              background-position: 2px 2px !important
              background-repeat: no-repeat
              opacity: 1
              &.disabled
                opacity: 0.1
                pointer-events: none;
      
      // highlighting form styles
      div#highlightFormId
        span#filterOptionsButtonId
          display: inline-block
          height: 20px
          width: 20px
          padding-top: 3px
          &.open
            svg
              transform: rotate(0deg)
          svg
            transform: rotate(-90deg)
            transform-origin: 6px 6px
            height: 12px
            width: 12px
      
      #svgTranslatorId
        padding: 0px !important
        margin: 0px !important
        width: 0px
        height: 0px
        svg.chart
          overflow: visible !important
      
      // graph region selection styles
      .selectionLayer 
        path
          stroke: rgb(80,80,255)
          stroke-width: 3px
        .selectionPath
          fill: none
        .selectionProjection
          fill: rgb(80,80,255)
          fill-opacity: 0.2
          stroke-width: 2px
          stroke-dasharray: 4,4

    .containsSpinner
      background-image: url(../images/spinner.gif)
      background-position: center
      background-repeat: no-repeat
      background-size: 32px 32px
      border: 1px solid green
      & > *
        opacity: 0
    div#item1,
    div#dependencyBundleDetailsId
      .asset-tag-selector-component
        padding-left: 0px
        .km-switch
          right: 9px
          top: 10px
          width: 52px
          padding-right: -10px
          .km-switch-wrapper
            display: none !important
          .km-switch-container
            .km-switch-handle
              vertical-align: initial
              .km-switch-label-on
                left: -219% !important
              .km-switch-label-off
                left: 146% !important
        .k-multiselect
          width: 217px !important
          .k-multiselect-wrap ul
            max-width: 159px
        ul li
          padding: inherit
          margin-right: 0px
        div
          padding: 0px
        .k-widget li span:not(.k-select) div
          padding-top: 3px !important
          padding-bottom: 3px !important
        span.k-icon
          padding-top: 13px !important
    div#dependencyBundleDetailsId
      .dependency-filters-container
        margin-left: -14px
      .asset-tag-selector-component
        .km-switch
          top: 5px
        .k-widget li span:not(.k-select) div
          padding-top: 1px !important
          padding-bottom: 0px !important
    .dependencyConsoleForm
      margin-left: 15px
      .f-column-1,
      .f-column-2,
      .f-column-3
        margin-right: 10px
      .f-column-1,
      .f-column-2
        select
          height: 34px
      .f-column-4
        padding-top: 7px
        .refresh-icon
          margin-left: 20px
      .f-column-1
        padding-top: 7px
        max-width: 240px
        label
          font-weight: bold
          margin-right: 10px
      .f-column-3
        padding-top: 1px
        label
          position: relative
          top: 6px
        #tmHighlightGroupSelector
          vertical-align: top
          display: inline-block
// styles the person highlighting kendo listbox
#personHighlightSelectId_listbox *
  cursor: pointer
