div.content-wrapper
  div.container
    div#DependencyGroupsTableId
      div#dependencyDivId
        margin-left: 0px !important
        td.labelColumn
          position: initial !important
      div.floating
        z-index: 1033 !important
    div.tabInner
      div.graphContainer
        &.fullscreen
          z-index: 1032
        div#controlPanel, div#legendDivId
          z-index: 1032 !important