div.field-not-found
  label
    color: $color-danger--red
    .popover
      position: fixed !important
    i.fa-warning
      display: inline !important
      color: $color-warning--yellow
      margin-left: 5px