<div>
	<form
		name="manualLicenseRequestForm"
		role="form"
		data-toggle="validator"
		#manualLicenseRequestForm="ngForm"
		class="left-alignment"
	>
		<div class="form-group">
			<label class="col-md-12 control-label"
				>The following text block contains the details of
				the license information in an encrypted format.
				Please click the Email Request button to send the
				request or copy the text and email to {{ licenseEmail.toEmail }}
			</label>
		</div>
		<div class="form-group">
			<div class="col-sm-12">
				<textarea
					id="detailedKeyText"
					name="detailedKeyText"
					class="form-control"
					rows="8"
					[ngModel]="licenseEmail.body"
					readonly
				></textarea>
				<ng-container #copyClipboard [copy-clipboard]="licenseEmail.body"></ng-container>
			</div>
		</div>
	</form>
</div>
