<div class="modal-content asset-explorer-view-save-component">
	<div class="modal-header">
		<button (click)="cancelCloseDialog()" type="button" class="close" aria-label="Close">
			<span aria-hidden="true">×</span>
		</button>
		<h4 class="modal-title">Save List View</h4>
	</div>
	<div class="modal-body">
		<form name="noticeForm" role="form" data-toggle="validator" class="form-horizontal left-alignment" #noticeForm='ngForm'>
			<div class="box-body">
				<div class="form-group">
					<label for="name" class="col-sm-3 control-label">View Name:
						<span class="required_field">*</span>
					</label>
					<div class="col-sm-9">
						<input type="text" (keyup)="onNameChanged()" name="name" id="name" class="form-control" placeholder="View Name" [(ngModel)]="model.name" required>
						<span *ngIf="!isUnique" class="error">{{'DATA_INGESTION.DATA_VIEW' | translate }} name must be unique</span>
					</div>
				</div>
				<div class="form-group">
                    <div *ngIf="isSystemCreatePermitted()" class="checkbox" style="padding-left:160px;">
                        <label>
                            <input type="checkbox" name="isSystem" [(ngModel)]="model.isSystem" (change)="onIsSystemChange()"> {{ 'ASSET_EXPLORER.SYSTEM_VIEW' | translate }}
                        </label>
                    </div>
					<div class="checkbox" style="padding-left:160px;">
						<label [ngClass]="{'disabled-input' : model.isSystem}">
							<input type="checkbox" [disabled]="model.isSystem" name="shared" [(ngModel)]="model.isShared">
                            <span>{{ 'GLOBAL.SHARE_WITH_USERS' | translate }}</span>
                        </label>
					</div>
				</div>
				<div class="form-group">
					<div class="checkbox" style="padding-left:160px;" (click)="onFavorite()">
						<i class="fa fa-star-o text-yellow" style="margin-left: -43px;padding:0 10px 10px 10px;font-size: 20px;top:2px;left:28px;position:relative"
						 [ngClass]="{'fa-star':model.isFavorite,'fa-star-o':!model.isFavorite}"></i>
						<label style="margin-left:5px">
							<input type="checkbox" name="favorite" style="visibility:hidden"> {{ 'GLOBAL.ADD_FAVORITES' | translate }}</label>
					</div>
				</div>
			</div>
		</form>
	</div>
	<div class="modal-footer form-group-center">
		<tds-button
			class="btn-primary pull-left"
			(click)="confirmCloseDialog()"
			[disabled]="!isValid()"
			[action]="ButtonActions.Save">
		</tds-button>

		<tds-button
				(click)="cancelCloseDialog()"
				[action]="ButtonActions.Cancel"
				class="pull-right">
		</tds-button>
	</div>
</div>