div.content-wrapper
  section.dashboard-event-wrapper
    div.general-event-info-wrapper
      max-width: 960px
      margin-top: 4px
      div.gauge-graph-wrapper
        margin-top: 22px
        text-align: center
      div.elapsed-time-wrapper
        margin-top: 35px
        text-align: center
      div.tab-items-wrapper
        margin-top: 22px
        text-align: center
        height: 190px
        ul.nav-tabs
          border-bottom: 1px solid #ddd
          li
            button.btn-add-news
              margin-left: 92px
              margin-top: 1px
        div.tab-content
          div.tab-pane
            max-height: 129px
            overflow-x: auto
            ul
              list-style-type: none
              text-align: left
              line-height: 23px
              margin-top: 11px
              li
                background-image: none
  section.dashboard-task-summary-wrapper
    div.box
      div#newssection
        background: none
        border: none
      div#bdlsection
        margin-left: 32px
        background: none
        border: none
        div#bdltabs
          border-bottom: 1px solid #ddd
          height: 32px
          span.tab-item
            border: 1px solid #ddd
            color: $black
            background: none
            border-radius: 4px 4px 0 0
            border-bottom: 0