dependency-batch-record-detail-summary
  margin-top: 15px
  .row
    margin: 0px 0px 0px 0px
  > div
    margin: 0px 10px 0px 10px
  .header
    font-weight: 700
    color: #656565
    div
      background-color: #f6f6f6
  label
    font-size: 15px
