dependency-batch-record-detail-fields

  label
    font-size: 15px

  > div.row
    margin-left: 10px

  .fields-filters
    label
      padding: 3px 0 0 0
    .fieldsFilterText
      padding: 0 0 0 0

  .fields-container
    margin-top: 30px

    .row
      margin: 0px 0px 0px 0px

    .header
      font-weight: 700
      color: #656565

      div
        background-color: #f6f6f6