<div tds-handle-escape (escPressed)="cancelCloseDialog()" class="modal-content project-view-edit-component" id="project-view-edit-component" data-backdrop="static" tabindex="-1" role="dialog">
     <div class="modal-header">
         <button (click)="cancelCloseDialog()" type="button" class="close" aria-label="Close">
             <span aria-hidden="true">×</span>
         </button>
         <h4 class="modal-title">Project {{editing ? "Edit" : "Detail"}}</h4>
     </div>
    <div class="modal-body">
        <div class="modal-body-container">
            <div *ngIf="!editing" class="body" style="width: 95%">
                <div class="steps_table">
                    <table>
                        <tbody>
                            <tr class="prop">
                                <td valign="top" class="name">Client:</td>

                                <td valign="top" class="value">
                                    {{client?.name}}
                                </td>
                            </tr>

                            <tr class="prop">
                                <td valign="top" class="name">Project Code:</td>

                                <td valign="top" class="value">
                                    {{savedModel?.projectCode}}
                                </td>
                            </tr>

                            <tr class="prop">
                                <td valign="top" class="name">Project Name:</td>

                                <td valign="top" class="value">
                                    {{savedModel?.projectName}}
                                </td>
                            </tr>

                            <tr class="prop">
                                <td valign="top" class="name">Project Type:</td>

                                <td valign="top" class="value">
                                    {{savedModel?.projectType}}
                                </td>
                            </tr>

                            <tr class="prop">
                                <td valign="top" class="name">Description:</td>

                                <td valign="top" class="value">{{savedModel?.description}}</td>

                            </tr>

                            <tr class="prop">
                                <td valign="top" class="name">Comment:</td>

                                <td valign="top" class="value">{{savedModel?.comment}}</td>

                            </tr>

                            <tr class="prop">
                                <td valign="top" class="name">Start Date:</td>

                                <td valign="top" class="value">{{savedModel?.startDate}}</td>

                            </tr>

                            <tr class="prop">
                                <td valign="top" class="name">Completion Date:</td>

                                <td valign="top" class="value">{{savedModel?.completionDate}}</td>

                            </tr>

                            <tr class="prop">
                                <td valign="top" class="name">Associated Partners:</td>

                                <td valign="top" class="value"><span *ngFor="let partner of savedModel?.partnerIds">{{availablePartners[partner]}}</span></td>
                            </tr>

                            <tr class="prop">
                                <td valign="top" class="name">Project Logo:</td>

                                <td valign="top" class="value">
                                    <img *ngIf="projectLogoId" width="30" height="30" [src]="'/tdstm/project/showImage/'+ projectLogoId"/>
                                </td>
                            </tr>

                            <tr class="prop">
                                <td valign="top" class="name">Default Bundle:</td>

                                <td valign="top" class="value">{{savedModel?.defaultBundle}}</td>

                            </tr>

                            <tr class="prop">
                                <td valign="top" class="name">Project Managers:</td>

                                <td valign="top" class="value">
                                    <ul>
                                        <li *ngFor="let manager of projectManagers">{{manager}}</li>
                                    </ul>
                                </td>

                            </tr>

                            <tr class="prop">
                                <td valign="top" class="name">Timezone:</td>

                                <td valign="top" class="value">{{savedModel?.timeZone}}</td>

                            </tr>

                            <tr class="prop">
                                <td valign="top" class="name">Collect Reporting Metrics:</td>
                                <td> <input type="checkbox" [disabled]="true" [ngModel]="savedModel?.collectReportingMetrics"/></td>
                            </tr>

                            <tr class="prop">
                                <td valign="top" class="name">Date Created:</td>

                                <td valign="top" class="value">
                                    {{dateCreated}}
                                </td>
                            </tr>

                            <tr class="prop">
                                <td valign="top" class="name">Last Updated:</td>

                                <td valign="top" class="value">
                                    {{lastUpdated}}
                                </td>
                            </tr>

                            <tr class="prop">
                                <td valign="top" class="name">Workflow Code:</td>

                                <td valign="top" class="value">{{savedModel?.workflowCode}}</td>

                            </tr>

                            <tr class="prop">
                                <td valign="top" class="name">GUID:</td>

                                <td valign="top" class="value">
                                    {{projectGUID}}
                                </td>
                            </tr>

                            <tr class="prop">
                                <td valign="top" class="name">Plan Methodology:</td>

                                <td valign="top" class="value">{{savedModel?.planMethodology}}</td>

                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="modal-footer form-group-center">
                    <div *ngIf="canEditProject">
                        <tds-button-edit class="btn-primary pull-left" (click)="switchToEdit()"></tds-button-edit>
                        <tds-button-delete class="btn-danger pull-left" (click)="confirmDeleteProject()"></tds-button-delete>
                        <button class="btn btn-action tds-action-button tds-button-delete btn-danger pull-left tds-generic-button" (click)="confirmDeleteProjectAndAssets()">
                            <div class="tds-action-button-container">
                                <i class="fa fa-fw fa-trash"></i>Delete Project & Assets
                            </div>
                        </button>
                        <tds-button-close class="btn-secondary pull-right"(click)="cancelCloseDialog()"></tds-button-close>
                    </div>
                </div>
            </div>
            <div *ngIf="editing">
                <table style="border:0">
                    <tbody>
                    <tr>
                        <td colspan="2"><div class="required"> Fields marked ( * ) are mandatory </div> </td>
                    </tr>
                    <tr class="prop">
                        <td valign="top" class="name"><b>Client:</b></td>
                        <td valign="top" class="value">
                            <kendo-dropdownlist type="text" [(ngModel)]="projectModel.clientId" [data]="clients" [valueField]="'clientId'" [textField]="'clientName'" [valuePrimitive]="true" id="client" name="client"></kendo-dropdownlist>
                        </td>
                    </tr>

                    <tr class="prop">
                        <td valign="top" class="name">Project Code:&nbsp;<span style="color: red">*</span></td>
                        <td valign="top" class="value">
                            <input id="projectCode" name="projectCode" [(ngModel)]="projectModel.projectCode"/>
                        </td>
                    </tr>

                    <tr class="prop">
                        <td valign="top" class="name">Project Name:&nbsp;<span style="color: red">*</span></td>
                        <td valign="top" class="value">
                            <input type="text" [(ngModel)]="projectModel.projectName"  id="projectName" name="projectName"/>
                        </td>
                    </tr>

                    <tr class="prop">
                        <td valign="top" class="name">Project Type:</td>
                        <td valign="top" class="value">
                            <kendo-dropdownlist id="projectType" name="projectType" [data]="projectTypes" [(ngModel)]="projectModel.projectType" ></kendo-dropdownlist>
                        </td>
                    </tr>

                    <tr class="prop">
                        <td valign="top" class="name">Description:</td>
                        <td valign="top" class="value">
                            <textarea type="text" [(ngModel)]="projectModel.description"  id="description" name="description"></textarea>
                        </td>
                    </tr>

                    <tr>
                        <td valign="top" class="name"><b>Comment:</b></td>
                        <td valign="top" class="value">
                            <textarea id="comment" name="comment" [(ngModel)]="projectModel.comment"></textarea>
                        </td>
                    </tr>

                    <tr class="prop">
                        <td valign="top" class="name">Start Date:</td>
                        <td valign="top" class="value">
                            <kendo-datepicker [(ngModel)]="projectModel.startDate"></kendo-datepicker>
                        </td>
                    </tr>

                    <tr class="prop">
                        <td valign="top" class="name">Completion Date:&nbsp;<span style="color: red">*</span></td>
                        <td valign="top" class="value">
                            <kendo-datepicker [(ngModel)]="projectModel.completionDate"></kendo-datepicker>
                        </td>
                    </tr>

                    <tr class="prop">
                        <td valign="top" class="name">Associated Partners:</td>
                        <td valign="top" class="value">
                            <kendo-dropdownlist style="display: block" *ngFor="let partnerId of projectModel.partnerIds" [data]="partners" [textField]="'name'" [valueField]="'id'"></kendo-dropdownlist>
                            <button class="btn btn-secondary" (click)="projectModel.partnerIds.push(0)">Add Partner</button>
                        </td>
                    </tr>

                    <tr>
                        <td valign="top" class="name"><b>Project Logo:</b></td>
                        <td valign="top" class="value">
                            <kendo-upload
                                    #kendoUploadInstance="kendoUpload"
                                    [restrictions]="file.uploadRestrictions"
                                    [autoUpload]="file.autoUpload"
                                    [saveUrl]="file.uploadSaveUrl"
                                    [removeUrl]="file.uploadDeleteUrl"
                                    [saveField]="file.saveField"
                                    [removeField]="file.removeField"
                                    [multiple]="file.multiple"
                                    [disabled]="false"
                                    (select)="onSelectFile($event)"
                                    (upload)="onUploadFile($event)"
                                    (remove)="onRemoveFile($event)"
                                    (success)="completeEventHandler($event)">
                                <kendo-upload-messages select="{{'GLOBAL.PLEASE_SELECT' | translate}}"></kendo-upload-messages>
                            </kendo-upload><!---->
                        </td>
                    </tr>

                    <tr>
                        <td valign="top" class="name"><b>Default Bundle:</b></td>
                        <td valign="top" class="value">
                            <input id="defaultBundle" name="defaultBundle" [(ngModel)]="projectModel.defaultBundle"/>
                        </td>
                    </tr>

                    <tr class="prop">
                        <td valign="top" class="name">Project Manager:</td>
                        <td valign="top" class="value">
                            <kendo-dropdownlist id="projectManagerId" name="projectManager" [data]="managers" [textField]="'name'" [valueField]="'id'" [(ngModel)]="projectModel.projectManagerId" ></kendo-dropdownlist>
                        </td>
                    </tr>

                    <tr>
                        <td valign="top" class="name"><b>Time Zone:</b></td>
                        <td valign="top" class="value">
                            <input id="timeZone" name="timeZone" [(ngModel)]="projectModel.timeZone"/> <button class="btn btn-secondary" (click)="openTimezoneModal()">Change</button>
                        </td>
                    </tr>

                    <tr class="prop">
                        <td valign="top" class="name">Collect Reporting Metrics:</td>
                        <td> <input type="checkbox" name="collectReportingMetrics" id="collectReportingMetrics" value="true" checked="checked" [(ngModel)]="projectModel.collectReportingMetrics"/></td>
                    </tr>

                    <td valign="top" class="name"><b>WorkFlow Code:&nbsp;<span style="color: red">*</span></b></td>
                    <td valign="top" class="value">
                        <kendo-dropdownlist id="workflowCodeId" name="workflowCode" [(ngModel)]="projectModel.workflowCode" [data]="workflowCodes" [valuePrimitive]="true"></kendo-dropdownlist>
                    </td>

                    <tr>
                        <td valign="top" class="name"><b>Plan Methodology:</b></td>
                        <td valign="top" class="value">
                            <kendo-dropdownlist id="planMethodology" name="planMethodology" [(ngModel)]="projectModel.planMethodology" [data]="planMethodologies" [valuePrimitive]="true"></kendo-dropdownlist>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="modal-footer form-group-center">
                    <tds-button-save class="btn-primary pull-left" (click)="saveForm()"></tds-button-save>
                    <tds-button-cancel class="btn-secondary pull-right" (click)="cancelEdit()"></tds-button-cancel>
                </div>
            </div>
        </div>
    </div>
</div>