<div class="plan-versus-status-component">
    <img src="/tdstm/assets/i/dials/dial-{{getImageDial(currentProgress || 0)}}.png" 
        (click)="onClickChart()" [ngStyle]="{'cursor': isDisabled ? 'text' : 'pointer' }">
    <div class="title">Event Status vs. Plan</div>
    <form  *ngIf="showEditControl" name="statusForm" role="form" data-toggle="validator" #form='ngForm' class="form-horizontal left-alignment update-controls">
        <kendo-numerictextbox
            #progressInput
            name="currentStatus"
            [format]="'n'"
            [min]="0"
            [max]="100"
            [disabled]="!hasBundleSteps || !isEditAvailable()"
            [autoCorrect]=true
            [(ngModel)]="progress">
        </kendo-numerictextbox>
        <tds-button-save [disabled]="form && !form.dirty" (click)="onSave(progressInput.value)" class="btn-primary"></tds-button-save>
    </form>
</div>