<div class="plan-versus-status-component">
    <img src="/tdstm/assets/i/dials/dial-{{currentProgress || 0}}.png" 
        (click)="onClickChart()">
    <div class="title">Event Status vs. Plan</div>

    <div *ngIf="showEditControl" class="update-controls">
       <kendo-numerictextbox
            #progressInput
            name="currentStatus"
            [format]="'n'"
            [format]="'n'"
            [min]="0"
            [max]="100"
            [autoCorrect]=true
            [(ngModel)]="progress">
        </kendo-numerictextbox>

        <tds-button-save (click)="onSave(progressInput.value)" class="btn-primary"></tds-button-save>
    </div>
</div>