.dependencies-list-component
  .bulkchange-section
    padding-left: 8px
    display: flex;
    justify-content: start;
    align-items: center;

  .dependencies
    margin-top: 10px
    .sortable-column
      display: inline
      cursor: pointer
      label
        cursor: pointer
    .k-grid-toolbar
      padding: 5px 8px
    .check-row
      display: flex
      justify-content: center
      align-items: center
      input
        cursor: pointer
