.dependencies-list-component
  .bulkchange-section
    padding-left: 8px
    display: flex;
    justify-content: start;
    align-items: center;

  .dependencies
    .check-row
      display: flex
      justify-content: center
      align-items: center
      input
        cursor: pointer
