<div class="asset-explorer-view-show-component content body">
    <section class="page-asset-explorer-config">
        <div>
            <div class="btn-group"
                 *ngIf="canShowSaveButton()">
                <tds-button
                        [action]="ButtonActions.GenericSave"
                        (click)="save(getSaveButtonId())"
                        [ngClass]="{'btn-default':!isDirty(),'btn-success':isDirty()}"
                        [title]="canSave() ? translateService.transform('GLOBAL.SAVE') : translateService.transform('GLOBAL.SAVE_AS') "
                        [attr.id]="getSaveButtonId()">
                </tds-button>

                <button type="button" class="btn dropdown-toggle"
                        [ngClass]="{'btn': true, 'btn-default': !isDirty(),'btn-success': isDirty(), 'pull-right': true }"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>

                <ul class="dropdown-menu">
                    <!-- Save Button -->
                    <li *ngIf="canSave()">
                        <a (click)="onSave()">{{ 'GLOBAL.SAVE' | translate }}</a>
                    </li>
                    <li *ngIf="canSaveAs()">
                        <a (click)="onSaveAs()">{{ 'GLOBAL.SAVE_AS' | translate }}</a>
                    </li>
                </ul>
            </div>

            <tds-button [action]="model.isFavorite ? ButtonActions.GenericIsFavorite : ButtonActions.GenericIsNotFavorite"
                        class="text-yellow"
                        isIconButton="true"
                        (click)="onFavorite()">
            </tds-button>

            <tds-button [action]="ButtonActions.GenericExport" (click)="onExport()" [id]="'btnExport'"></tds-button>

            <asset-explorer-view-selector
                    #select="assetExplorerViewSelector">
            </asset-explorer-view-selector>
            <tds-button *ngIf="isEditAvailable()"
                        isIconButton="true"
                        [action]="ButtonActions.GenericConfiguration"
                        class="pull-right"
                        (click)="onEdit()">
            </tds-button>
        </div>
        <div class="box-body">
            <asset-explorer-view-grid
                    [data]=data
                    (modelChange)="onQuery()"
                    (justPlanningChange)="onJustPlanningChange($event)"
                    [gridState]="gridState"
                    (gridStateChange)="onGridStateChange($event)"
                    [fields]="fields"
                    [edit]="false"
                    [model]="model.schema"
                    [viewId]="model.id"
                    [metadata]="metadata">
            </asset-explorer-view-grid>
        </div>
    </section>
</div>