<!-- Main content -->
<div class="content tag-list body tds-kendo-grid">
	<section>
		<div class="box-body box-with-empty-header">
			<form novalidate #myForm="ngForm">
				<kendo-grid
					class="page-height row-actions-3-children fixed-context-menu"
					[ngClass]="{'hide-filter': !showFilters}"
					*ngIf="gridSettings"
					[data]="gridSettings.gridData"
					[filter]="gridSettings.state.filter"
					[filterable]="true"
					(filterChange)="gridSettings.filterChange($event)"
					[sort]="gridSettings.state.sort"
					[sortable]="{ mode: 'single' }"
					[pageSize]="gridSettings.state.take"
					[skip]="gridSettings.state.skip"
					[pageable]="{
						pageSizes: gridSettings.defaultPageOptions,
						info: true
					}"
					(pageChange)="gridSettings.pageChange($event)"
					[resizable]="true"
					(sortChange)="gridSettings.sortChange($event)"
					(add)="addHandler($event)"
					(cancel)="cancelHandler($event)"
					(edit)="editHandler($event)"
					(save)="saveHandler($event)"
					(remove)="removeHandler($event)"
				>
					<!-- Toolbar Template -->
					<ng-template kendoGridToolbarTemplate [position]="'top'">
						<div class="clr-row">
							<div class="clr-col-12 pull-right">
								<tds-grid-header-action-buttons
										(refresh)="reloadTagList()"
										[actionButtons]="headerActionButtons"
										(clearFilters)="clearAllFilters()"
										[disableClearFilters]="disableClearFilters">
								</tds-grid-header-action-buttons>
								<!-- Use a hidden button so that we don't have to override kendo's button styles -->
								<button id="addButton"
										kendoGridAddCommand
										*ngIf="canCreate()"
										style="display: none;"
										type="button">
								</button>
							</div>
						</div>
                    </ng-template>

                    <!-- Action -->
					<kendo-grid-column
						[width]="60"
						[class]="{ 'k-custom-command-column': true }"
						[minResizableWidth]="60"
					>
						<ng-template
							kendoGridHeaderTemplate
							let-column
							let-columnIndex="columnIndex"
						>
							<tds-button [flat]="true" (click)="toggleFilters()">
								<clr-icon
									shape="filter"
									class="grid-filter-button is-solid"
								>
									<span
										*ngIf="hasFilterApplied()"
										class="badge badge-warning"
									>
										{{ filterCount() }}
									</span>
								</clr-icon>
							</tds-button>
						</ng-template>
						<ng-template
							let-dataItem
							let-isNew="isNew"
							kendoGridCellTemplate
							let-dataItem
							let-rowIndex="rowIndex"
						>
							<div class="action-button btn-link">
								<clr-dropdown>
									<tds-button
										icon="ellipsis-vertical"
										clrDropdownTrigger
									></tds-button>
									<clr-dropdown-menu
										*clrIfOpen
										clrPosition="bottom-left"
									>
										<a
											clrDropdownItem
											kendoGridEditCommand
											*ngIf="canEdit()"
										>
											Edit
										</a>
										<a
											clrDropdownItem
											kendoGridRemoveCommand
											*ngIf="canDelete()"
										>
											Delete
										</a>
										<a
											clrDropdownItem
											*ngIf="
												((!isNew && !editedTag) ||
													(editedTag &&
														editedTag.id !==
															dataItem.id)) &&
												canMerge()
											"
											(click)="onMerge(dataItem)"
										>
											Merge
										</a>
										<a
											clrDropdownItem
											kendoGridSaveCommand
											*ngIf="canCreate() || canEdit()"
											[disabled]="
												myForm.invalid || duplicateName
											"
										>
											Save
										</a>

										<a
											clrDropdownItem
											kendoGridCancelCommand
											>Cancel</a
										>
									</clr-dropdown-menu>
								</clr-dropdown>
							</div>
						</ng-template>
					</kendo-grid-column>

					<!-- Columns -->
					<kendo-grid-column
						*ngFor="let column of gridColumns.columns"
						field="{{ column.property }}"
						[locked]="column.locked"
						format="{{ column.format }}"
						[headerClass]="
							column.headerClass ? column.headerClass : ''
						"
						[headerStyle]="
							column.headerStyle ? column.headerStyle : ''
						"
						[class]="column.cellClass ? column.cellClass : ''"
						[style]="column.cellStyle ? column.cellStyle : ''"
						[width]="
							!column.width ? COLUMN_MIN_WIDTH : column.width
						"
					>
						<!-- Header Template -->
						<ng-template kendoGridHeaderTemplate>
							<label>{{ column.label }}</label>
						</ng-template>

						<!-- Cell Templates -->
						<ng-template
							kendoGridCellTemplate
							*ngIf="column.property === 'name'"
							let-dataItem
						>
							{{ dataItem[column.property] }}
						</ng-template>
						<ng-template
							kendoGridCellTemplate
							*ngIf="column.property === 'color'"
							let-dataItem
						>
							<div class="text-center">
								<span
									[ngClass]="dataItem.css"
									class="label tag"
								></span>
							</div>
						</ng-template>

						<!-- Edit Templates -->
						<ng-template
							kendoGridEditTemplate
							let-dataItem="dataItem"
							*ngIf="column.property === 'name'"
						>
							<input
								clrInput
								[(ngModel)]="dataItem.name"
								autofocus
								[ngClass]="{ 'ng-invalid': duplicateName }"
								required
								#input
								(input)="
									validateUniqueName(dataItem);
									input.value = $event.target.value
								"
								type="text"
								name="name"
							/>
						</ng-template>
						<ng-template
							kendoGridEditTemplate
							let-dataItem="dataItem"
							*ngIf="column.property === 'description'"
						>
							<input
								clrInput
								[(ngModel)]="dataItem.description"
								type="text"
								name="description"
							/>
						</ng-template>
						<ng-template
							kendoGridEditTemplate
							let-dataItem="dataItem"
							*ngIf="column.property === 'color'"
						>
							<kendo-dropdownlist
								required
								name="color"
								class="form-control"
								[data]="colorList"
								[(ngModel)]="dataItem.color"
								[textField]="'id'"
								[valueField]="'id'"
								[valuePrimitive]="true"
							>
								<ng-template
									kendoDropDownListValueTemplate
									let-dataItem
								>
									<span
										*ngIf="dataItem"
										[ngClass]="dataItem.css"
										class="label tag"
										style="margin: auto; margin-left: 10px; height: 24px;"
									></span>
								</ng-template>
								<ng-template
									kendoDropDownListItemTemplate
									let-dataItem
								>
									<span
										[ngClass]="dataItem.css"
										class="label tag"
									></span>
								</ng-template>
							</kendo-dropdownlist>
						</ng-template>

						<!-- Filter Template -->
						<ng-template kendoGridFilterCellTemplate let-filter>
							<div class="filter-input" *ngIf="column.property !== 'color'">
								<tds-filter-input
										[name]="column.property"
										[value]="column.filter || ''"
										[columnType]="column.type"
										placeholder="{{'GLOBAL.FILTER' | translate}}"
										(filter)="gridSettings.onFilterWithValue($event, column)">
								</tds-filter-input>
							</div>
						</ng-template>

					</kendo-grid-column>

					<ng-template
						kendoPagerTemplate
						let-total="total"
						let-totalPages="totalPages"
						let-currentPage="currentPage"
					>
						<div class="clr-col-12">
							<tds-grid-pager
								[total]="total"
								[totalPages]="totalPages"
								[currentPage]="currentPage"
								[pageSizes]="gridSettings.defaultPageOptions"
								(pageChange)="gridSettings.pageChange($event)"
							>
							</tds-grid-pager>
						</div>
					</ng-template>
				</kendo-grid>
			</form>
		</div>
	</section>
</div>
