<!-- Main content -->
<div class="content tag-list body tds-kendo-grid">
	<section>
		<div class="box-body box-with-empty-header">
			<form novalidate #myForm="ngForm">
				<kendo-grid
					class="page-height"
					[ngClass]="{'hide-filter': !showFilters}"
					*ngIf="gridSettings"
					[data]="gridSettings.gridData"
					[filter]="gridSettings.state.filter"
					[filterable]="true"
					(filterChange)="gridSettings.filterChange($event)"
					[sort]="gridSettings.state.sort"
					[sortable]="{ mode: 'single' }"
					[pageSize]="gridSettings.state.take"
					[skip]="gridSettings.state.skip"
					[pageable]="{
						pageSizes: gridSettings.defaultPageOptions,
						info: true
					}"
					(pageChange)="gridSettings.pageChange($event)"
					[resizable]="true"
					(sortChange)="gridSettings.sortChange($event)"
					(add)="addHandler($event)"
					(cancel)="cancelHandler($event)"
					(edit)="editHandler($event)"
					(save)="saveHandler($event)"
					(remove)="removeHandler($event)"
				>
					<!-- Toolbar Template -->
					<ng-template kendoGridToolbarTemplate [position]="'top'">
						<div class="clr-row">
							<div class="clr-col-12 pull-right">
								<tds-grid-header-action-buttons
									(refresh)="reloadTagList()"
									[actionButtons]="headerActionButtons">
								</tds-grid-header-action-buttons>
								<!-- Use a hidden button so that we don't have to override kendo's button styles -->
								<button id="addButton"
												kendoGridAddCommand
												*ngIf="canCreate()"
												style="display: none;"
												type="button">
								</button>
							</div>
						</div>
					</ng-template>

					<!-- Show Filters / Actions column -->
					<kendo-grid-column
						[field]="'_showFilters'"
						[headerClass]="'text-center'"
						[sortable]="false"
						[class]="{ 'k-custom-command-column': true }"
						[width]="55"
						[minResizableWidth]="55">
						<!-- Toggle Filters button -->
						<ng-template kendoGridHeaderTemplate>
							<tds-grid-show-hide-filters-button [filterCount]="filterCount()"
																								 (toggleFilters)="toggleFilters()">
							</tds-grid-show-hide-filters-button>
						</ng-template>
						<!-- Clear all Filters button -->
						<ng-template kendoGridFilterCellTemplate let-filter>
							<tds-grid-clear-all-filters-button [show]="filterCount()"
																								 (clearFilters)="clearAllFilters()">
							</tds-grid-clear-all-filters-button>
						</ng-template>
						<ng-template
							let-dataItem
							let-isNew="isNew"
							kendoGridCellTemplate
							let-dataItem
							let-rowIndex="rowIndex"
						>
							<div class="action-button btn-link align-ellipses-center">
								<clr-dropdown #dropdown>
									<tds-button icon="ellipsis-vertical"
															clrDropdownTrigger
															tdsGridContextMenuFixedPosition [clrDropdown]="dropdown"></tds-button>
									<clr-dropdown-menu
										*clrIfOpen
										clrPosition="bottom-left"
									>
										<a
											clrDropdownItem
											kendoGridEditCommand
											*ngIf="canEdit()"
											title="Edit"
										>
											Edit
										</a>
										<a
											clrDropdownItem
											kendoGridRemoveCommand
											*ngIf="canDelete()"
											title="Delete"
										>
											Delete
										</a>
										<a
											clrDropdownItem
											*ngIf="
												((!isNew && !editedTag) ||
													(editedTag &&
														editedTag.id !==
															dataItem.id)) &&
												canMerge()
											"
											(click)="onMerge(dataItem)"
											title="Merge"
										>
											Merge
										</a>
										<a
											clrDropdownItem
											kendoGridSaveCommand
											*ngIf="canCreate() || canEdit()"
											[disabled]="
												myForm.invalid || duplicateName
											"
											title="Save"
										>
											Save
										</a>

										<a
											clrDropdownItem
											kendoGridCancelCommand
											title="Cancel"
										>Cancel</a
										>
									</clr-dropdown-menu>
								</clr-dropdown>
							</div>
						</ng-template>
					</kendo-grid-column>

					<!-- Columns -->
					<kendo-grid-column
						*ngFor="let column of gridColumns.columns"
						field="{{ column.property }}"
						[locked]="column.locked"
						format="{{ column.format }}"
						[headerClass]="
							column.headerClass ? column.headerClass : ''
						"
						[headerStyle]="
							column.headerStyle ? column.headerStyle : ''
						"
						[class]="column.cellClass ? column.cellClass : ''"
						[style]="column.cellStyle ? column.cellStyle : ''"
						[width]="
							!column.width ? COLUMN_MIN_WIDTH : column.width
						"
					>
						<!-- Header Template -->
						<ng-template kendoGridHeaderTemplate>
							<div class="sortable-column">
								<label>{{ column.label }}</label>
							</div>
						</ng-template>

						<!-- Cell Templates -->
						<ng-template
							kendoGridCellTemplate
							*ngIf="column.property === 'name'"
							let-dataItem
						>
							{{ dataItem[column.property] }}
						</ng-template>
						<ng-template
							kendoGridCellTemplate
							*ngIf="column.property === 'color'"
							let-dataItem>
							<div class="single-line-tags text-center">
								<span
									[ngClass]="dataItem.css"
									class="label tag"
								></span>
							</div>
						</ng-template>

						<!-- Edit Templates -->
						<ng-template
							kendoGridEditTemplate
							let-dataItem="dataItem"
							*ngIf="column.property === 'name'"
						>
							<input
								clrInput
								[(ngModel)]="dataItem.name"
								[ngClass]="{ 'ng-invalid': duplicateName }"
								required
								#tagNameInput
								(input)="
									validateUniqueName(dataItem);
									tagNameInput.value = $event.target.value
								"
								type="text"
								name="name"
							/>
						</ng-template>
						<ng-template
							kendoGridEditTemplate
							let-dataItem="dataItem"
							*ngIf="column.property === 'description'"
						>
							<input
								clrInput
								[(ngModel)]="dataItem.description"
								type="text"
								name="description"
							/>
						</ng-template>
						<ng-template
							kendoGridEditTemplate
							let-dataItem="dataItem"
							*ngIf="column.property === 'color'"
						>
							<kendo-dropdownlist
								required
								name="color"
								class="form-control"
								[data]="colorList"
								[(ngModel)]="dataItem.color"
								[textField]="'id'"
								[valueField]="'id'"
								[valuePrimitive]="true"
							>
								<ng-template
									kendoDropDownListValueTemplate
									let-dataItem
								>
									<span
										*ngIf="dataItem"
										[ngClass]="dataItem.css"
										class="label tag"
										style="margin: auto; margin-left: 10px; height: 24px;"
									></span>
								</ng-template>
								<ng-template
									kendoDropDownListItemTemplate
									let-dataItem
								>
									<span
										[ngClass]="dataItem.css"
										class="label tag"
									></span>
								</ng-template>
							</kendo-dropdownlist>
						</ng-template>

						<!-- Filter Template -->
						<ng-template kendoGridFilterCellTemplate let-filter>
							<div class="filter-input" *ngIf="column.property !== 'color'">
								<tds-grid-filter-input
									[name]="column.property"
									[value]="column.filter || ''"
									[filterType]="column.type"
									[placeholder]="'GLOBAL.FILTER' | translate"
									(filter)="gridSettings.onFilterWithValue($event, column)">
								</tds-grid-filter-input>
							</div>
						</ng-template>

					</kendo-grid-column>

					<ng-template
						kendoPagerTemplate
						let-total="total"
						let-totalPages="totalPages"
						let-currentPage="currentPage"
					>
						<div class="clr-col-12">
							<tds-grid-pager
								[total]="total"
								[totalPages]="totalPages"
								[currentPage]="currentPage"
								[pageSizes]="gridSettings.defaultPageOptions"
								(pageChange)="gridSettings.pageChange($event)"
							>
							</tds-grid-pager>
						</div>
					</ng-template>
				</kendo-grid>
			</form>
		</div>
	</section>
</div>
