<div tds-autofocus class="modal-content data-script-view-edit-component" #dataScriptContainer>
	<div class="modal-header">
		<button (click)="cancelCloseDialog()" type="button" class="close" aria-label="Close">
			<span aria-hidden="true">×</span>
		</button>
		<h4 class="modal-title">{{modalTitle}}</h4>
	</div>
	<div class="modal-body">
		<form name="dataScriptForm" role="form" data-toggle="validator" #dataScriptForm='ngForm' class="form-horizontal left-alignment">
			<div class="box-body">
				<div class="row">
					<div class="col-md-12">
						<div class="form-group">
							<label for="dataScriptProvider" class="col-sm-2 control-label">Provider:
								<span class="is-required" *ngIf="modalType !== actionTypes.VIEW">*</span>
							</label>
							<div class="col-sm-9" *ngIf="modalType !== actionTypes.VIEW">
								<kendo-dropdownlist #dataScriptProvider id="dataScriptProvider" name="dataScriptProvider" class="form-control" [data]="providerList"
								 [textField]="'name'" [valueField]="'id'" [(ngModel)]="dataScriptModel.provider" required
								 class="form-control"
								 [ngClass]="{'has-error': dataScriptForm.touched && dataScriptModel.provider && !dataScriptModel.provider.id}"></kendo-dropdownlist>
							</div>
							<div class="col-sm-9" *ngIf="modalType === actionTypes.VIEW">
								<label class="control-label label-detail">{{dataScriptModel.provider.name}}</label>
							</div>
						</div>
						<div class="form-group">
							<label for="dataScriptName" class="col-sm-2 control-label">Name:
								<span class="is-required" *ngIf="modalType !== actionTypes.VIEW">*</span>
							</label>
							<div class="col-sm-9" *ngIf="modalType !== actionTypes.VIEW">
								<input type="text" (keyup)="onValidateUniqueness()" id="dataScriptName" name="dataScriptName" class="form-control" [(ngModel)]="dataScriptModel.name"
								 required
								 [ngClass]="{'has-error': (!dataScriptForm.form.valid && dataScriptForm.touched) && dataScriptModel.name.length <= 0}"
								/>
								<span *ngIf="!isUnique" style="color: red; font-weight: bold;">{{'DATA_INGESTION.DATA_SCRIPT' | translate }} name must be unique</span>
							</div>
							<div class="col-sm-9" *ngIf="modalType === actionTypes.VIEW">
								<label class="control-label label-detail">{{dataScriptModel.name}}</label>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">Mode:</label>
							<div class="col-sm-9">
								<div class="row" style="margin-top: 6px;" *ngIf="modalType !== actionTypes.VIEW">
									<div class="col-sm-3">
										<label class="label-detail">
											<input type="radio" class="radio-aligned" name="dataScriptModeType" [value]="dataScriptMode.IMPORT" [(ngModel)]="dataScriptModel.mode" checked> Import
										</label>
									</div>
									<div class="col-sm-3">
										<label class="label-detail">
											<input type="radio" class="radio-aligned" name="dataScriptModeType" [value]="dataScriptMode.EXPORT" [(ngModel)]="dataScriptModel.mode"> Export
										</label>
									</div>
								</div>
								<div class="row" style="margin-top: 6px;" *ngIf="modalType === actionTypes.VIEW">
									<div class="col-sm-3">
										<label class="label-detail" *ngIf="dataScriptModel.mode === dataScriptMode.IMPORT">Import</label>
										<label class="label-detail" *ngIf="dataScriptModel.mode === dataScriptMode.EXPORT">Export</label>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div>
					<div class="form-group">
						<label for="dataScriptDescription" class="col-sm-2 control-label">Description:</label>
						<div class="col-sm-9" *ngIf="modalType === actionTypes.VIEW">
							<label class="control-label label-detail">{{dataScriptModel.description}}</label>
						</div>
						<div class="col-sm-9" *ngIf="modalType !== actionTypes.VIEW">
							<textarea id="dataScriptDescription" name="dataScriptDescription" class="form-control" [(ngModel)]="dataScriptModel.description"></textarea>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
	<div class="modal-footer form-group-center">
		<button type="button" *ngIf="modalType === actionTypes.EDIT || modalType === actionTypes.CREATE" (click)="onSaveDataScript()"
		 class="btn btn-primary pull-left" [disabled]="!dataScriptForm.form.valid || !isUnique || !dataScriptModel.provider.id">
			<span class="fa fa-fw fa-floppy-o"></span> Save</button>
		<button type="button" *ngIf="modalType === actionTypes.VIEW" (click)="changeToEditDataScript()" class="btn btn-primary pull-left">
			<span class="glyphicon glyphicon-pencil"></span> Edit</button>
		<button type="button" *ngIf="modalType === actionTypes.VIEW" (click)="onDataScriptDesigner()" class="btn btn-primary pull-left">
			<span class="glyphicon glyphicon-eye-open"></span> {{'DATA_INGESTION.DATASCRIPT.DESIGNER.ETL_BUILDER_TITLE' | translate }}</button>
		<button type="button" *ngIf="modalType !== actionTypes.CREATE" (click)="onDeleteDataScript()" class="btn btn-danger">
			<span class="fa fa-fw fa-trash"></span> Delete</button>
		<button (click)="cancelCloseDialog()" type="button" class="btn btn-default pull-right">
			<span class="glyphicon glyphicon-ban-circle"></span>
			<span *ngIf="modalType === actionTypes.VIEW">
				{{'GLOBAL.CLOSE' | translate }}
			</span>
			<span *ngIf="modalType === actionTypes.EDIT || modalType === actionTypes.CREATE">
				{{'GLOBAL.CANCEL' | translate }}
			</span>
		</button>
	</div>
</div>
