<input type="checkbox" id="showAll" name="showAll" [(ngModel)]="showAll" />
<label for="showAll">&nbsp;View All Tasks&nbsp;&nbsp;</label>
<span id="viewUnpublishedContainerId" *ngIf="hasPublishPermission">
	<input type="checkbox" id="viewUnpublishedCheckboxId" name="viewUnpublished" [(ngModel)]="viewUnpublishedValue" />
	<label for="viewUnpublishedCheckboxId">&nbsp;View Unpublished Tasks</label>
</span>
<div class="list" style="position: relative; margin-top: 4px;">
	<button (click)="createComment()" type="button" class="btn btn-default pull-right">
		<i class="fa fa-fw fa-plus-circle"></i>
		<span>Add</span>
	</button>
	<table id="listCommentsTables">
		<thead>
			<tr>
				<!-- <th nowrap class="headerwidth3">Edit</th> -->
				<th nowrap class="headerwidth3">Task&nbsp;#</th>
				<th nowrap>Task/Comment</th>
				<th nowrap class="headerwidth12">Status</th>
				<th nowrap class="headerwidth6">Category</th>
				<th nowrap class="headerwidth20">Assigned To</th>
			</tr>
		</thead>
		<tbody id="listCommentsTbodyIds">
			<tr *ngFor="let comment of getCommentsWithFilter()">
				<td style="text-align: center;">{{comment.commentInstance.taskNumber?comment.commentInstance.taskNumber:''}}</td>
				<td (click)="openCommentDetail(comment)">{{comment.commentInstance.comment}}</td>
				<td>{{(comment.commentInstance.commentType == 'issue')?comment.commentInstance.status:((comment.commentInstance.isResolved?'Archived':''))}}</td>
				<td>{{comment.commentInstance.category}}</td>
				<td>{{getAssignedTo(comment)}}</td>
			</tr>
		</tbody>
	</table>
</div>

<!-- KENDO GRID -->
<kendo-grid
		*ngIf="dataGridTaskCommentOnHelper"
		class="dependents-grid supports-on"
		[data]="dataGridTaskCommentOnHelper.gridData"
		[sort]="dataGridTaskCommentOnHelper.state.sort"
		[sortable]="{mode:'single'}"
		[resizable]="true"
		(sortChange)="dataGridTaskCommentOnHelper.sortChange($event)">

	<!-- Toolbar Template -->
	<ng-template kendoGridToolbarTemplate [position]="'top'">
		<label class="pad-top-7 pad-left-10">Tasks and Comments</label>
		<button (click)="createComment()" class="btn btn-default float-right mar-right-15 pad-top-6" type="button">
			<i class="fa fa-fw fa-plus-circle"></i> Add
		</button>
	</ng-template>

	<!-- Columns -->
	<kendo-grid-column *ngFor="let column of taskCommentColumnModel.columns"
					   field="{{column.property}}"
					   [headerClass]="column.headerClass ? column.headerClass : ''"
					   [headerStyle]="column.headerStyle ? column.headerStyle : ''"
					   [class]="column.cellClass ? column.cellClass : ''"
					   [style]="column.cellStyle ? column.cellStyle : ''"
					   [width]="!column.width ? COLUMN_MIN_WIDTH : column.width">

		<!-- Header Template -->
		<ng-template kendoGridHeaderTemplate>
			<label>{{column.label}}</label>
		</ng-template>

		<!-- Action -->
		<ng-template kendoGridCellTemplate *ngIf="column.type === 'action'" let-dataItem>
			<div class="k-grid-ignore-click action-button-list" style="cursor: default;">
				<button (click)="onDeleteTaskComment(dataItem)"
						class="btn btn-action btn-default btn-delete"
						title="Delete">
					<span class="fa fa-fw fa-trash"></span>
				</button>
				<button (click)="openCommentDetail(dataItem)"
						class="btn btn-action btn-default btn-comment"
						title="Comments">
					<i class="fa fa-fw fa-comment-o"></i>
					<span class="glyphicon" [ngClass]="{'glyphicon-plus': dataItem.comment?.length <= 0}"></span>
					<span class="glyphicon" [ngClass]="{'glyphicon-pencil': dataItem.comment?.length > 0}"></span>
				</button>
			</div>
		</ng-template>

		<ng-template kendoGridCellTemplate *ngIf="column.property === 'type'" let-dataItem let-rowIndex="rowIndex">
			<kendo-dropdownlist
					name="{{column.property + columnIndex + rowIndex}}" class="form-control" style="width: 100%;"
					[data]="typeList"
					[(ngModel)]="dataItem.type"
					required>
			</kendo-dropdownlist>
		</ng-template>

		<ng-template kendoGridCellTemplate *ngIf="column.property === 'status'" let-dataItem let-rowIndex="rowIndex">
			<kendo-dropdownlist
					name="{{column.property + columnIndex + rowIndex}}" class="form-control" style="width: 100%;"
					[data]="statusList"
					[(ngModel)]="dataItem.status"
					required>
			</kendo-dropdownlist>
		</ng-template>
	</kendo-grid-column>
	<kendo-grid-messages noRecords="There are no Support Assets to display."> </kendo-grid-messages>
</kendo-grid>