<div class="content body">
	<section>
		<div>
			<div class="box-body box-with-empty-header">
				<div class="nav-tabs-custom">
					<ul class="nav nav-tabs">
						<li *ngFor="let value of domains; let i = index; let first = first" [ngClass]="{'active':first}">
							<a href="#tab_{{i}}" data-toggle="tab">{{'ASSETS.'+value.domain | translate}}</a>
						</li>
					</ul>
					<div class="tab-content">
						<div *ngFor="let value of domains; let i = index; let first = first" [ngClass]="{'active':first}" class="tab-pane" id="tab_{{i}}">
							<field-settings-grid [data]="value"></field-settings-grid>
						</div>
						<!-- /.tab-pane -->
					</div>
					<!-- /.tab-content -->
				</div>
			</div>
			<!-- /.box-body -->
		</div>
	</section>
</div>