<div>
	<section>
		<div class="box-body box-with-empty-header">
			<kendo-grid
				*ngIf="dataGridOperationsHelper"
				class="page-height narrow-rows clickable-rows"
				[ngClass]="{ 'hide-filter': !showFilters }"
				[data]="dataGridOperationsHelper.gridData"
				[filterable]="true"
				[sort]="dataGridOperationsHelper.state.sort"
				[sortable]="{mode:'single'}"
				(sortChange)="dataGridOperationsHelper.sortChange($event)"
				[skip]="dataGridOperationsHelper.state.skip"
				[pageable]="{pageSizes: dataGridOperationsHelper.defaultPageOptions, info: true}"
				[pageSize]="dataGridOperationsHelper.state.take"
				[resizable]="true"
				[selectable]="selectableSettings"
				[rowSelected]="dataGridOperationsHelper.isRowSelected"
				(cellClick)="openBatchDetail($event)">

				<!-- Toolbar Template -->
				<ng-template kendoGridToolbarTemplate [position]="'top'">
					<div class="clr-row">
						<div class="clr-col-12">
							<div class="pull-right header-action-buttons">
								<clr-checkbox-wrapper class="inline">
									<input
										clrCheckbox
										type="checkbox"
										name="viewArchived"
										id="viewArchived"
										[(ngModel)]="viewArchived"
										(ngModelChange)="onToggleViewArchived()"/>
									<label>{{'IMPORT_BATCH.LIST.VIEW_ARCHIVED' | translate}}</label>
								</clr-checkbox-wrapper>
								<tds-button-custom *ngIf="canBulkArchive() && !viewArchived"
																	 [disabled]="dataGridOperationsHelper.getCheckboxSelectedItems().length === 0"
																	 (click)="confirmArchive()"
																	 [icon]="'folder'"
																	 [tooltip]="'GLOBAL.ARCHIVE' | translate">
								</tds-button-custom>
								<tds-button-custom *ngIf="canBulkArchive() && viewArchived"
																	 [disabled]="dataGridOperationsHelper.getCheckboxSelectedItems().length === 0"
																	 [tooltip]="'IMPORT_BATCH.LIST.UNARCHIVE' | translate"
																	 [icon]="'folder-open'"
																	 (click)="confirmUnarchive()">
								</tds-button-custom>
								<tds-button-delete *ngIf="canBulkDelete()"
																	 [displayLabel]="false"
																	 [disabled]="dataGridOperationsHelper.getCheckboxSelectedItems().length === 0"
																	 (click)="confirmDelete()">
								</tds-button-delete>
								<tds-grid-header-action-buttons
									[actionButtons]="[]"
									(refresh)="onToggleViewArchived()">
								</tds-grid-header-action-buttons>
							</div>
						</div>
					</div>
				</ng-template>

				<!-- Select All -->
				<kendo-grid-column *ngIf="canBulkDelete() || canBulkArchive()"
													 [filterable]="false"
													 [width]="SELECT_ALL_COLUMN_WIDTH">
					<ng-template kendoGridCellTemplate let-dataItem>
						<label
							*ngIf="dataItem.status.code !== BatchStatus.RUNNING && dataItem.status.code !== BatchStatus.STALLED && dataItem.status.code !== BatchStatus.QUEUED"
							class="selectall-checkbox-column text-center k-grid-ignore-click">
							<input clrCheckbox
										 type="checkbox"
										 [(ngModel)]="dataGridOperationsHelper.bulkItems[dataItem[checkboxSelectionConfig.useColumn]]"
										 name="checkbox_{{dataItem[checkboxSelectionConfig.useColumn]}}"
										 (change)="dataGridOperationsHelper.onCheckboxChange(dataItem[checkboxSelectionConfig.useColumn])">
						</label>
					</ng-template>
				</kendo-grid-column>

				<!-- Show Filters / Actions column -->
				<kendo-grid-column *ngIf="!viewArchived"
													 [field]="'_showFilters'"
													 [headerClass]="'text-center'"
													 [sortable]="false"
													 [width]="80"
													 [class]="{ 'k-custom-command-column': true, 'actions-column': true }"
													 [minResizableWidth]="80">
					<!-- Toggle Filters button -->
					<ng-template kendoGridHeaderTemplate>
						<tds-grid-show-hide-filters-button [filterCount]="dataGridOperationsHelper.getFilterCounter()"
																							 (toggleFilters)="toggleFilter()">
						</tds-grid-show-hide-filters-button>
					</ng-template>
					<!-- Clear all Filters button -->
					<ng-template kendoGridFilterCellTemplate let-filter>
						<tds-grid-clear-all-filters-button [show]="dataGridOperationsHelper.getFilterCounter()"
																							 (clearFilters)="dataGridOperationsHelper.clearAllFilters(columnsModel.columns)">
						</tds-grid-clear-all-filters-button>
					</ng-template>
					<ng-template kendoGridCellTemplate let-dataItem>
						<div class="k-grid-ignore-click" style="cursor: default;">
							<tds-button-custom *ngIf="dataItem.status.code === 'PENDING'"
																 (click)="onPlayButton(dataItem)"
																 [icon]="'play'"
																 [iconClass]="'is-solid'"
																 [flat]="true"
																 [tooltip]="'IMPORT_BATCH.LIST.QUEUE_TO_BE_PROCESSED' | translate">
							</tds-button-custom>
							<tds-button-custom *ngIf="dataItem.status.code === 'RUNNING'"
																 (click)="onStopButton(dataItem)"
																 [icon]="'stop'"
																 [iconClass]="'is-solid'"
																 [flat]="true"
																 [tooltip]="'IMPORT_BATCH.LIST.STOP_PROCESSING' | translate">
							</tds-button-custom>
							<tds-button-custom *ngIf="dataItem.status.code === 'QUEUED'"
																 (click)="onEjectButton(dataItem)"
																 [icon]="'rewind'"
																 [iconClass]="'is-solid'"
																 [flat]="true"
																 [tooltip]="'IMPORT_BATCH.LIST.REMOVE_FROM_QUEUE' | translate">
							</tds-button-custom>
						</div>
					</ng-template>
				</kendo-grid-column>

				<!-- Columns -->
				<kendo-grid-column *ngFor="let column of columnsModel.columns"
													 field="{{column.property}}"
													 [locked]="column.locked"
													 format="{{column.format}}"
													 [headerClass]="column.headerClass ? column.headerClass : ''"
													 [headerStyle]="column.headerStyle ? column.headerStyle : ''"
													 [class]="column.cellClass ? column.cellClass : ''"
													 [style]="column.cellStyle ? column.cellStyle : ''"
													 [width]="!column.width ? COLUMN_MIN_WIDTH : column.width">

					<!-- Header Template -->
					<ng-template kendoGridHeaderTemplate>
						<div class="sortable-column" (click)="onClickTemplate($event)">
							<label>{{column.label}}</label>
						</div>
					</ng-template>

					<!-- Cell Templates -->
					<ng-template kendoGridCellTemplate *ngIf="column.type === 'datetime'" let-dataItem>
						{{dataItem[column.property] | tdsDateTime: userTimeZone }}
					</ng-template>

					<!-- Status -->
					<ng-template kendoGridCellTemplate *ngIf="column.property === 'status.label'" let-dataItem>
						<div
							*ngIf="dataItem.status.code === 'RUNNING' || dataItem.status.code === 'STALLED' ; then progressBarTemplate else statusTemplate;"></div>
						<ng-template #progressBarTemplate>
							<div>{{ dataItem.status.label }}</div>
							<div class="progress">
								<div class="progress-bar" role="progressbar" [style.width.%]="dataItem.currentProgress">
									{{dataItem.currentProgress}}%
								</div>
							</div>
						</ng-template>
						<ng-template #statusTemplate>
							<div [ngClass]="{ 'status-with-errors' : dataItem.recordsSummary.erred > 0 }" class="status-text">
								{{ dataItem.status.label | titlecase }}
							</div>
						</ng-template>
					</ng-template>

					<!-- Filter Inputs -->
					<ng-template kendoGridFilterCellTemplate let-filter>
						<div class="filter-input"
								 *ngIf="column.property && (column.type !== 'action' && column.type !== 'number' )">
							<tds-grid-filter-input
								[name]="column.property"
								[value]="column.filter || ''"
								[columnType]="column.type"
								[dateFormat]="column.format"
								[placeholder]="'GLOBAL.FILTER' | translate"
								(filter)="dataGridOperationsHelper.onFilterWithValue($event, column)">
							</tds-grid-filter-input>
						</div>
					</ng-template>

				</kendo-grid-column>

				<!-- Pagination Footer -->
				<ng-template kendoPagerTemplate let-total="total" let-totalPages="totalPages" let-currentPage="currentPage">
					<div class="clr-col-4"></div>
					<div class="clr-col-8">
						<tds-grid-pager
							[total]="total"
							[totalPages]="totalPages"
							[currentPage]="currentPage"
							[pageSize]="dataGridOperationsHelper.state.take"
							[pageSizes]="dataGridOperationsHelper.defaultPageOptions"
							(pageChange)="onPageChange($event)">
						</tds-grid-pager>
					</div>
				</ng-template>
			</kendo-grid>
		</div>
	</section>
</div>
