<div class="modal-content">
    <div class="modal-header">
        <button ng-click="editNotice.cancelCloseDialog()" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title">{{editNotice.action}} Notice</h4>
    </div>
    <div class="modal-body">
        <form name="editNoticeForm" role="form" data-toggle="validator" class="form-horizontal left-alignment">
            <div class="box-body">
                <div class="form-group">
                    <label for="inputTitle" class="col-sm-3 control-label">Title: <span class="required_field">*</span></label>
                    <div class="col-sm-9">
                        <input type="text" name="inputTitle" id="inputTitle" class="form-control" placeholder="Notice Title" ng-model="editNotice.editModel.title" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="selectType" class="col-sm-3 control-label">Type: <span class="required_field">*</span></label>
                    <div class="col-sm-9">
                        <select kendo-drop-down-list
                                k-option-label="'Select a Type'"
                                k-data-text-field="'name'"
                                k-data-value-field="'typeId'"
                                k-data-source="editNotice.typeDataSource"
                                k-ng-model="editNotice.editModel.typeId"
                                k-value-primitive="true"
                                id="selectType"
                                class="form-control"
                                required >
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="checkActive"  class="col-sm-3 control-label">Active:</label>
                    <div class="col-sm-9 checkbox">
                        <label>
                            <input id="checkActive" type="checkbox" ng-model="editNotice.editModel.active">
                        </label>
                    </div>
                </div>
                <div class="form-group" >
                    <div class="col-sm-12">
                        <textarea id="kendo-editor-create-edit" kendo-editor k-tools="editNotice.kendoEditorTools" k-ng-model="editNotice.editModel.htmlText" k-stylesheets="editNotice.kendoStylesheets" style="height: 400px;" ></textarea>
                    </div>
                </div>
            </div><!-- /.box-body -->
        </form>
    </div>
    <div class="modal-footer form-group-center">
        <button ng-click="editNotice.saveNotice()" type="submit" class="btn btn-primary pull-left" ng-disabled="editNoticeForm.$invalid || editNotice.editModel.typeId === 0"><span class="glyphicon glyphicon-ok"></span> Save</button>
        <button ng-if="editNotice.action === editNotice.actionType.EDIT" ng-click="editNotice.deleteNotice()" type="submit" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span> Delete</button>
        <button ng-click="editNotice.cancelCloseDialog()" type="button" class="btn btn-default pull-right" data-dismiss="modal"><span class="glyphicon glyphicon-ban-circle"></span> Cancel</button>
    </div>
</div>