.provider-associated-content {
  font-size: 13px;
  overflow-y: auto;

  span.associated-total {
    display: block;
    margin-bottom: 10px;

    span.associated-count {
      font-weight: bold;
    }
  }

  p {
    margin-top: 16px;
    margin-bottom: 4px;
  }
}
