<div class="modal fade in" id="dependency-batch-record-detail" data-backdrop="static" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xlg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button (click)="onCancelCloseDialog()" type="button" class="close" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">Record Detail</h4>
            </div>
            <div class="modal-body" style="height: 650px; overflow: auto;">
                <div class="modal-body-container">
                    <section>
                        <dependency-batch-record-detail-summary
                                [importBatch]="importBatch"
                                [batchRecord]="batchRecord">
                        </dependency-batch-record-detail-summary>
                        <dependency-batch-record-detail-fields
                                #detailFieldsComponent
                                *ngIf="batchRecord"
                                [importBatch]="importBatch"
                                [batchRecord]="batchRecord"
                                (onClose)="onCancelCloseDialog()"
                                (onUpdateSuccess)="onUpdateSuccess()"
                                (onBatchRecordUpdated)="onBatchRecordUpdated($event)">
                        </dependency-batch-record-detail-fields>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>

<!--
<div class="col-md-12" style="margin-top: 20px;">
    <h4 class="pull-left" style="font-weight: 700">Record Detail</h4>
</div>

<section class="col-md-12">
    <dependency-batch-record-detail-summary
            [importBatch]="importBatch"
            [batchRecord]="batchRecord">
    </dependency-batch-record-detail-summary>
    <hr>
    <dependency-batch-record-detail-fields
            *ngIf="batchRecord"
            [importBatch]="importBatch"
            [batchRecord]="batchRecord"
            (onCancel)="onCancel()">
    </dependency-batch-record-detail-fields>
</section>
-->
