<div class="bundle-view-edit-component">
	<div *ngIf="!editing">
		<div class="steps_table">
			<table>
				<tbody>
					<tr class="prop">
						<td valign="top" class="name">
							<label>Name:</label>
						</td>
						<td valign="top" class="value">
							<label>
								{{ savedModel?.name }}
								<span *ngIf="isDefaultBundle">(Default)</span>
							</label>
						</td>
					</tr>

					<tr class="prop">
						<td valign="top" class="name">
							<label>Description:</label>
						</td>
						<td valign="top" class="value">
							<label>{{ savedModel?.description }}</label>
						</td>
					</tr>

					<tr class="prop">
						<td valign="top" class="name">
							<label>From:</label>
						</td>
						<td valign="top" class="value">
							<label>
								<span *ngIf="sourceRoom != 'null'">{{
									sourceRoom
								}}</span>
							</label>
						</td>
					</tr>

					<tr class="prop">
						<td valign="top" class="name">
							<label>To:</label>
						</td>
						<td valign="top" class="value">
							<label>
								<span *ngIf="targetRoom != 'null'">{{
									targetRoom
								}}</span>
							</label>
						</td>
					</tr>

					<tr class="prop">
						<td valign="top" class="name">
							<label>Start Time:</label>
						</td>
						<td valign="top" class="value">
							<label>
								{{
									savedModel?.startTime | tdsDateTime: userTimeZone:userDateTimeFormat
								}}
							</label>
						</td>
					</tr>

					<tr class="prop">
						<td valign="top" class="name">
							<label>Completion Time:</label>
						</td>
						<td valign="top" class="value">
							<label>
								{{
									savedModel?.completionTime | tdsDateTime: userTimeZone:userDateTimeFormat
								}}
							</label>
						</td>
					</tr>

					<tr class="prop">
						<td valign="top" class="name">
							<label>Event:</label>
						</td>
						<td valign="top" class="value">
							<a
								(click)="cancelCloseDialog()"
								routerLink="event/list"
								[queryParams]="{
									show: savedModel?.moveEvent.id
								}"
							>
								{{ savedModel?.moveEvent.name }}
							</a>
						</td>
					</tr>

					<tr class="prop">
						<td valign="top" class="name">
							<label>Order:</label>
						</td>
						<td valign="top" class="value">
							<label>{{ savedModel?.operationalOrder }}</label>
						</td>
					</tr>

					<tr class="prop">
						<td valign="top" class="name">
							<label class="api-action-for-planning">Use For Planning:</label>
						</td>

						<td valign="top" class="value">
							<input
									clrCheckbox
									disabled
									type="checkbox"
									[ngModel]="savedModel?.useForPlanning"
							/>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div *ngIf="editing">
		<table style="border:0">
			<tbody>
				<tr>
					<td colspan="2">
						<div class="required">
							Fields marked ( * ) are mandatory
						</div>
					</td>
				</tr>
				<tr class="prop">
					<td class="name">
						<label for="name">Name:
							<span class="requiredProp" style="color:red">*</span>
						</label>
					</td>
					<td class="value">
						<clr-input-container>
							<input
									clrInput
									type="text"
									[(ngModel)]="bundleModel.name"
									id="name"
									name="name"
									maxlength="255"
							/>
							<clr-control-helper>{{bundleModel.name?.length}}/255</clr-control-helper>
						</clr-input-container>
					</td>
				</tr>
				<tr class="prop">
					<td class="name">
						<label for="description">Description: </label>
					</td>
					<td class="value">
						<clr-input-container>
							<input
									clrInput
									type="text"
									[(ngModel)]="bundleModel.description"
									id="description"
									name="description"
									maxlength="255"
							/>
							<clr-control-helper>{{bundleModel.description?.length}}/255</clr-control-helper>
						</clr-input-container>
					</td>
				</tr>
				<tr class="prop">
					<td class="name">
						<label for="sourceRoomId">From</label>
					</td>
					<td class="value">
						<select
								title="{{fromControlTT}}"
								class="select-fixed-width"
								clrSelect
								name="sourceRoom"
								id="sourceRoomId"
								[(ngModel)]="bundleModel.fromId"
								(change)="onFromChange()"
						>
							<option
									*ngFor="let room of rooms"
									[ngValue]="room.id"
							>{{ (room.roomName.length > 25) ? (room.roomName | slice:0:25) + '...' : room.roomName}}</option
							>
						</select>
					</td>
				</tr>
				<tr class="prop">
					<td class="name">
						<label for="targetRoomId">To:</label>
					</td>
					<td class="value">
						<select
								title="{{toControlTT}}"
								class="select-fixed-width"
								clrSelect
								name="targetRoom"
								id="targetRoomId"
								[(ngModel)]="bundleModel.toId"
								(change)="onToChange()"
						>
							<option
									*ngFor="let room of rooms"
									[ngValue]="room.id"
							>{{ (room.roomName.length > 25) ? (room.roomName | slice:0:25) + '...' : room.roomName}}</option
							>
						</select>
					</td>
				</tr>
				<tr class="prop">
					<td class="name">
						<label for="startTime">Start Time:</label>
					</td>
					<td valign="top" class="value">
						<tds-datetime-control
								#startTimePicker
								id="startTime"
								name="startTime"
								[(ngModel)]="bundleModel.startTime"
						></tds-datetime-control>
					</td>
				</tr>
				<tr class="prop">
					<td class="name">
						<label for="completionTime">Completion Time:</label>
					</td>
					<td valign="top" class="value">
						<tds-datetime-control
								#completionTimePicker
								id="completionTime"
								name="completionTime"
								[(ngModel)]="bundleModel.completionTime"
						></tds-datetime-control>
					</td>
				</tr>
				<tr class="prop">
					<td class="name">
						<label for="moveEventId">Event:</label>
					</td>
					<td class="value">
						<select
								class="select-fixed-width"
								clrSelect
								name="moveEvent"
								id="moveEventId"
								[(ngModel)]="bundleModel.moveEvent"
						>
							<option
									*ngFor="let moveEvent of moveEvents"
									[ngValue]="moveEvent"
							>{{ moveEvent.name }}</option
							>
						</select>
					</td>
				</tr>
				<tr class="prop">
					<td class="name">
						<label for="operationalOrderId">Order:</label>
					</td>
					<td class="value">
						<select
								clrSelect
								name="operationalOrder"
								id="operationalOrderId"
								[(ngModel)]="bundleModel.operationalOrder"
						>
							<option
									*ngFor="let orderNum of orderNums"
									[ngValue]="orderNum"
							>{{ orderNum }}</option
							>
						</select>
					</td>
				</tr>
				<tr class="prop">
					<td class="name">
						<label for="useForPlanning" class="api-action-for-planning">Use for Planning:</label>
					</td>
					<td class="value">
						<input
								clrCheckbox
								id="useForPlanning"
								type="checkbox"
								[(ngModel)]="bundleModel.useForPlanning"
						/>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
