<div tds-autofocus tds-handle-escape>
	<div
	class="tds-modal-content has-side-nav bundle-view-edit-component"
	id="bundle-view-edit-component"
	data-backdrop="static"
	tabindex="-1"
	role="dialog"
>
	<div class="modal-header">
		<button
			(click)="cancelCloseDialog()"
			type="button"
			class="close"
			aria-label="Close"
		>
			<clr-icon aria-hidden="true" shape="close"></clr-icon>
		</button>
		<div class="modal-title-container">
			<div class="modal-title">
				Bundle {{ editing ? 'Edit' : 'Detail' }}
			</div>
		</div>
	</div>
	<div class="modal-body">
		<div *ngIf="!editing">
			<div class="steps_table">
				<table>
					<tbody>
						<tr class="prop">
							<td valign="top" class="name">Name:</td>

							<td valign="top" class="value">
								{{ savedModel?.name }}
								<span *ngIf="isDefaultBundle">(Default)</span>
							</td>
						</tr>

						<tr class="prop">
							<td valign="top" class="name">Description:</td>

							<td valign="top" class="value">
								{{ savedModel?.description }}
							</td>
						</tr>

						<tr class="prop">
							<td valign="top" class="name">From:</td>

							<td valign="top" class="value">
								<span *ngIf="sourceRoom != 'null'">{{
									sourceRoom
								}}</span>
							</td>
						</tr>

						<tr class="prop">
							<td valign="top" class="name">To:</td>

							<td valign="top" class="value">
								<span *ngIf="targetRoom != 'null'">{{
									targetRoom
								}}</span>
							</td>
						</tr>

						<tr class="prop">
							<td valign="top" class="name">Start Time:</td>
							<td valign="top" class="value">
								{{
									savedModel?.startTime
										| tdsDateTime: userTimeZone
								}}
							</td>
						</tr>

						<tr class="prop">
							<td valign="top" class="name">
								Completion Time:
							</td>
							<td valign="top" class="value">
								{{
									savedModel?.completionTime
										| tdsDateTime: userTimeZone
								}}
							</td>
						</tr>

						<tr class="prop">
							<td valign="top" class="name">Event:</td>

							<td valign="top" class="value">
								<a
									(click)="cancelCloseDialog()"
									routerLink="event/list"
									[queryParams]="{
										show: savedModel?.moveEvent.id
									}"
								>
									{{ savedModel?.moveEvent.name }}
								</a>
							</td>
						</tr>

						<tr class="prop">
							<td valign="top" class="name">Order:</td>

							<td valign="top" class="value">
								{{ savedModel?.operationalOrder }}
							</td>
						</tr>

						<tr class="prop">
							<td valign="top" class="name">
								Use For Planning:
							</td>

							<td valign="top" class="value">
								<input
									*ngIf="savedModel?.useForPlanning"
									type="checkbox"
									id="useForPlanning"
									name="useForPlanning"
									checked="checked"
									style="margin: 0px"
									disabled="disabled"
								/>
								<input
									*ngIf="!savedModel?.useForPlanning"
									type="checkbox"
									id="useForPlanning"
									name="useForPlanning"
									style="margin: 0px"
									disabled="disabled"
								/>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div *ngIf="editing">
			<form clrForm action="save" method="post" name="bundleEditForm" clrLayout="horizontal">
				<!-- Name -->
				<clr-input-container>
					<label>Name</label>
					<input
						clrInput
						type="text"
						[(ngModel)]="bundleModel.name"
						id="name"
						name="name"
					/>
				</clr-input-container>

				<!-- Description -->
				<clr-input-container>
					<label>Description</label>
					<input
						clrInput
						type="text"
						[(ngModel)]="bundleModel.description"
						id="description"
						name="description"
					/>
				</clr-input-container>

				<!-- From -->
				<clr-select-container>
					<label>From</label>
					<select
						clrSelect
						name="sourceRoom"
						id="sourceRoomId"
						[(ngModel)]="bundleModel.fromId"
					>
						<option
							*ngFor="let room of rooms"
							[ngValue]="room.id"
							>{{ room.roomName }}</option
						>
					</select>
				</clr-select-container>

				<!-- To -->
				<clr-select-container>
					<label>To</label>
					<select
						clrSelect
						name="targetRoom"
						id="targetRoomId"
						[(ngModel)]="bundleModel.toId"
					>
						<option
							*ngFor="let room of rooms"
							[ngValue]="room.id"
							>{{ room.roomName }}</option
						>
					</select>
				</clr-select-container>

				<!-- Start Time -->
				<div class="clr-form-control clr-row">
					<div class="clr-col-2 bundle-time-picker">
						<label for="startTimePicker" class="clr-control-label">Start Time</label>
					</div>
					<div class="clr-col-6">
						<tds-datetime-control
								#startTimePicker
								name="startTime"
								[(ngModel)]="bundleModel.startTime"
						></tds-datetime-control>
					</div>
				</div>

				<!-- Completion Time -->
				<div class="clr-form-control  clr-row">
					<div class="clr-col-2 bundle-time-picker">
						<label for="completionTimePicker" class="clr-control-label">Completion Time</label>
					</div>
					<div class="clr-col-6">
						<tds-datetime-control
							#completionTimePicker
							name="completionTime"
							[(ngModel)]="bundleModel.completionTime"
						></tds-datetime-control>
					</div>
				</div>

				<!-- Event -->
				<clr-select-container>
					<label>Event</label>
					<select
						clrSelect
						name="moveEvent"
						id="moveEventId"
						[(ngModel)]="bundleModel.moveEvent"
					>
						<option
							*ngFor="let moveEvent of moveEvents"
							[ngValue]="moveEvent"
							>{{ moveEvent.name }}</option
						>
					</select>
				</clr-select-container>

				<!-- Order -->
				<clr-select-container>
					<label>Order</label>
					<select
						clrSelect
						name="operationalOrder"
						id="operationalOrderId"
						[(ngModel)]="bundleModel.operationalOrder"
					>
						<option
							*ngFor="let orderNum of orderNums"
							[ngValue]="orderNum"
							>{{ orderNum }}</option
						>
					</select>
				</clr-select-container>

				<!-- Use for Planning -->
				<clr-checkbox-container>
					<clr-checkbox-wrapper>
						<input
							clrCheckbox
							type="checkbox"
							name="useForPlanning"
							id="useForPlanning"
							value="true"
							checked="checked"
							[(ngModel)]="bundleModel.useForPlanning"
						/>
						<label>Use for Planning</label>
					</clr-checkbox-wrapper>
				</clr-checkbox-container>
			</form>
		</div>
	</div>

	<nav class="modal-sidenav btn-link">
		<tds-button-edit
			*ngIf="!editing && canEditBundle"
			icon="pencil"
			tooltip="Edit"
			(click)="switchToEdit()"
		></tds-button-edit>
		<tds-button-edit
			class="selected-button"
			*ngIf="editing"
			icon="pencil"
		></tds-button-edit>
		<tds-button-save
			*ngIf="editing"
			[disabled]="!validateRequiredFields(bundleModel) || !isDirty()"
			(click)="saveForm()"
		></tds-button-save>
		<tds-button-delete
			tooltip="Delete Bundle & Assets"
			(click)="confirmDeleteBundleAndAssets()"
		></tds-button-delete>
		<tds-button-close
			*ngIf="!editing"
			tooltip="Close"
			(click)="cancelCloseDialog()"
		></tds-button-close>
		<tds-button-cancel
			*ngIf="editing"
			(click)="cancelEdit()"
		></tds-button-cancel>
	</nav>
</div>
</div>
