div.content-wrapper
  div.container
    table.reports-discovery-table
      border-spacing: 2px
      border-collapse: initial
    div.content-power-report
      margin-top: 30px
      div#rackLayout
        position: relative !important
        top: inherit
        margin-top: 10px
        margin-left: 5px