<div class="modal-content data-script-view-edit-component">
	<div class="modal-header">
		<button (click)="cancelCloseDialog()" type="button" class="close" aria-label="Close">
			<span aria-hidden="true">×</span>
		</button>
		<h4 class="modal-title">{{modalTitle}}</h4>
	</div>
	<div class="modal-body">
		<form name="apiActionForm" role="form" data-toggle="validator" #apiActionForm='ngForm' class="form-horizontal left-alignment">
			<div class="box-body">
				<div class="row">
					<div class="col-md-7">
						<div class="form-group">
							<label for="apiActionName" class="col-sm-2 control-label">Name:
								<span style="color: red;" *ngIf="modalType !== actionTypes.VIEW">*</span>
							</label>
							<div class="col-sm-9" *ngIf="modalType !== actionTypes.VIEW">
								<input type="text" (keyup)="onValidateUniqueness()" id="apiActionName" name="apiActionName" class="form-control" [(ngModel)]="apiActionModel.name"
									   required [ngClass]="{'has-error': (!apiActionForm.form.valid && apiActionForm.touched) && apiActionModel.name.length <= 0}" />
								<span *ngIf="!isUnique" style="color: red; font-weight: bold;">Datasource name must be unique</span>
							</div>
							<div class="col-sm-9" *ngIf="modalType === actionTypes.VIEW">
								<label class="control-label label-detail">{{apiActionModel.name}}</label>
							</div>
						</div>
						<div class="form-group">
							<label for="apiActionProvider" class="col-sm-2 control-label">Provider:</label>
							<div class="col-sm-9" *ngIf="modalType !== actionTypes.VIEW">
								<kendo-dropdownlist #apiActionProvider id="apiActionProvider" name="apiActionProvider" class="form-control" [data]="providerList"
								 [textField]="'name'" [valueField]="'id'" [(ngModel)]="apiActionModel.provider" required class="form-control" [ngClass]="{'has-error':  (!apiActionForm.form.valid && apiActionForm.touched) && !apiActionModel.provider}"></kendo-dropdownlist>
							</div>
							<div class="col-sm-9" *ngIf="modalType === actionTypes.VIEW">
								<label class="control-label label-detail">{{apiActionModel.provider.name}}</label>
							</div>
						</div>
						<div class="form-group">
							<label for="apiActionDescription" class="col-sm-2 control-label">Description:</label>
							<div class="col-sm-9" *ngIf="modalType !== actionTypes.VIEW">
								<textarea type="text" id="apiActionDescription" name="apiActionDescription" class="form-control" [(ngModel)]="apiActionModel.description"></textarea>
							</div>
							<div class="col-sm-9" *ngIf="modalType === actionTypes.VIEW">
								<label class="control-label label-detail">{{apiActionModel.description}}</label>
							</div>
						</div>
						<div class="form-group">
							<label for="apiActionAgent" class="col-sm-2 control-label">Agent:
								<span style="color: red;" *ngIf="modalType !== actionTypes.VIEW">*</span>
							</label>
							<div class="col-sm-9" *ngIf="modalType !== actionTypes.VIEW">
								<kendo-dropdownlist #apiActionAgent id="apiActionAgent" name="apiActionAgent" class="form-control" [data]="providerList"
													[textField]="'name'" [valueField]="'id'" [(ngModel)]="apiActionModel.provider" required class="form-control" [ngClass]="{'has-error':  (!apiActionForm.form.valid && apiActionForm.touched) && !apiActionModel.agent}"></kendo-dropdownlist>
							</div>
							<div class="col-sm-9" *ngIf="modalType === actionTypes.VIEW">
								<label class="control-label label-detail">{{apiActionModel.provider.name}}</label>
							</div>
						</div>
						<div class="form-group">
							<label for="apiActionMethod" class="col-sm-2 control-label">Method:
								<span style="color: red;" *ngIf="modalType !== actionTypes.VIEW">*</span>
							</label>
							<div class="col-sm-9" *ngIf="modalType !== actionTypes.VIEW">
								<kendo-dropdownlist #apiActionAgent id="apiActionMethod" name="apiActionMethod" class="form-control" [data]="providerList"
													[textField]="'name'" [valueField]="'id'" [(ngModel)]="apiActionModel.method" required class="form-control" [ngClass]="{'has-error':  (!apiActionForm.form.valid && apiActionForm.touched) && !apiActionModel.method}"></kendo-dropdownlist>
							</div>
							<div class="col-sm-9" *ngIf="modalType === actionTypes.VIEW">
								<label class="control-label label-detail">{{apiActionModel.provider.name}}</label>
							</div>
						</div>
						<div class="form-group">
							<label for="apiActionCredentials" class="col-sm-2 control-label">Credentials:</label>
							<div class="col-sm-9" *ngIf="modalType !== actionTypes.VIEW">
								<kendo-dropdownlist #apiActionAgent id="apiActionCredentials" name="apiActionCredentials" class="form-control" [data]="providerList"
													[textField]="'name'" [valueField]="'id'" [(ngModel)]="apiActionModel.credential" required class="form-control" [ngClass]="{'has-error':  (!apiActionForm.form.valid && apiActionForm.touched) && !apiActionModel.credential}"></kendo-dropdownlist>
							</div>
							<div class="col-sm-9" *ngIf="modalType === actionTypes.VIEW">
								<label class="control-label label-detail">{{apiActionModel.provider.name}}</label>
							</div>
						</div>
						<div class="form-group">
							<label for="apiActionEndpointURL" class="col-sm-2 control-label">Endpoint URL:</label>
							<div class="col-sm-9" *ngIf="modalType !== actionTypes.VIEW">
								<input type="text" id="apiActionEndpointURL" name="apiActionEndpointURL" class="form-control" [(ngModel)]="apiActionModel.endpointURL" />
							</div>
							<div class="col-sm-9" *ngIf="modalType === actionTypes.VIEW">
								<label class="control-label label-detail">{{apiActionModel.endpointURL}}</label>
							</div>
						</div>
						<div class="form-group">
							<label for="apiActionEndpointPath" class="col-sm-2 control-label">Endpoint Path:</label>
							<div class="col-sm-9" *ngIf="modalType !== actionTypes.VIEW">
								<input type="text" (keyup)="onValidateUniqueness()" id="apiActionEndpointPath" name="apiActionEndpointPath" class="form-control" [(ngModel)]="apiActionModel.endpointPath" />
							</div>
							<div class="col-sm-9" *ngIf="modalType === actionTypes.VIEW">
								<label class="control-label label-detail">{{apiActionModel.endpointPath}}</label>
							</div>
						</div>
					</div>
					<div class="col-md-5">
						<div class="form-check">
							<label class="form-check-label">
								<input type="checkbox" class="form-check-input">
								Check me out
							</label>
							<popup-polling></popup-polling>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
	<div class="modal-footer form-group-center">
		<button type="button" *ngIf="modalType === actionTypes.EDIT || modalType === actionTypes.CREATE" (click)="onSaveApiAction()"
		 class="btn btn-primary pull-left" [disabled]="!apiActionForm.form.valid || !isUnique">
			<span class="fa fa-fw fa-floppy-o"></span> Save</button>
		<button type="button" *ngIf="modalType === actionTypes.VIEW" (click)="changeToEditApiAction()" class="btn btn-primary pull-left">
			<span class="glyphicon glyphicon-pencil"></span> Edit</button>
		<button type="button" *ngIf="modalType !== actionTypes.CREATE" (click)="onDeleteApiAction()" class="btn btn-danger">
			<span class="fa fa-fw fa-trash"></span> Delete</button>
		<button (click)="cancelCloseDialog()" type="button" class="btn btn-default pull-right">
			<span class="glyphicon glyphicon-ban-circle"></span>
			<span *ngIf="modalType === actionTypes.VIEW">
				{{'GLOBAL.CLOSE' | translate }}
			</span>
			<span *ngIf="modalType === actionTypes.EDIT || modalType === actionTypes.CREATE">
				{{'GLOBAL.CANCEL' | translate }}
			</span>
		</button>
	</div>
</div>