<div class="modal-content api-action-view-edit-component">
	<div class="modal-header">
		<button (click)="cancelCloseDialog()" type="button" class="close" aria-label="Close">
			<span aria-hidden="true">×</span>
		</button>
		<h4 class="modal-title">{{modalTitle}}</h4>
	</div>
	<div class="modal-body">
		<div class="nav-tabs-custom">
				<!-- Tabs within a box -->
				<ul class="nav nav-tabs">
					<li role="presentation" [ngClass]="{'active':isCurrentTab(0)}">
                        <a href="#tab_1" (click)="setCurrentTab(0)" data-toggle="tab"><span [ngClass]="{ 'invalid-form': (!validInfoForm && !isCurrentTab(0)) && modalType !== actionTypes.VIEW}">Info</span></a>
					</li>
					<li role="presentation" [ngClass]="{'active':isCurrentTab(1)}">
						<a href="#tab_2" (click)="setCurrentTab(1)" data-toggle="tab">Parameters</a>
					</li>
					<li role="presentation" [ngClass]="{'active':isCurrentTab(2)}">
						<a href="#tab_3" (click)="setCurrentTab(2)" data-toggle="tab">Reaction</a>
					</li>
					<!-- <li role="presentation" [ngClass]="{'active':isCurrentTab(3)}">
						<a href="#tab_4" (click)="setCurrentTab(3)" data-toggle="tab">Test</a>
					</li> -->
				</ul>
				<div class="tab-content" [ngClass]="{'no-padding':isCurrentTab(1)}">
					<div class="tab-pane" style="padding-left:15px" *ngIf="isCurrentTab(0)" [ngClass]="{'active':isCurrentTab(0)}" id="tab_1">
						<form name="apiActionForm" role="form" data-toggle="validator" #apiActionForm='ngForm' class="form-horizontal left-alignment">
							<div class="box-body">
								<div class="row">
									<div class="col-md-7">
										<div class="form-group">
											<label for="apiActionName" class="col-sm-3 control-label">Name:
												<span style="color: red;" *ngIf="modalType !== actionTypes.VIEW">*</span>
											</label>
											<div class="col-sm-8" *ngIf="modalType !== actionTypes.VIEW">
												<input type="text" id="apiActionName" name="apiActionName" class="form-control" [(ngModel)]="apiActionModel.name"
													   required [ngClass]="{'has-error': (!apiActionForm.form.valid && apiActionForm.touched) && apiActionModel.name.length <= 0}" />
											</div>
											<div class="col-sm-8" *ngIf="modalType === actionTypes.VIEW">
												<label class="control-label label-detail">{{apiActionModel.name}}</label>
											</div>
										</div>
										<div class="form-group">
											<label for="apiActionProvider" class="col-sm-3 control-label">Provider:
												<span style="color: red;" *ngIf="modalType !== actionTypes.VIEW">*</span>
											</label>
											<div class="col-sm-8" *ngIf="modalType !== actionTypes.VIEW">
												<kendo-dropdownlist #apiActionProvider
																	id="apiActionProvider" name="apiActionProvider" class="form-control"
                                                                    (valueChange)="onProviderValueChange($event, false)"
																	[data]="providerList"
																	[textField]="'name'"
                                                                    [valueField]="'id'"
																	[(ngModel)]="apiActionModel.provider" required class="form-control" [ngClass]="{'has-error':  (!apiActionForm.form.valid && apiActionForm.touched) && apiActionModel.provider?.id == 0}"></kendo-dropdownlist>
											</div>
											<div class="col-sm-8" *ngIf="modalType === actionTypes.VIEW">
												<label class="control-label label-detail">{{apiActionModel.provider.name}}</label>
											</div>
										</div>
										<div class="form-group">
											<label for="apiActionDescription" class="col-sm-3 control-label">Description:</label>
											<div class="col-sm-8" *ngIf="modalType !== actionTypes.VIEW">
												<textarea type="text" id="apiActionDescription" name="apiActionDescription" class="form-control" [(ngModel)]="apiActionModel.description"></textarea>
											</div>
											<div class="col-sm-8" *ngIf="modalType === actionTypes.VIEW">
												<label class="control-label label-detail">{{apiActionModel.description}}</label>
											</div>
										</div>
										<div class="form-group">
											<label for="apiActionAgent" class="col-sm-3 control-label">Agent:
												<span style="color: red;" *ngIf="modalType !== actionTypes.VIEW">*</span>
											</label>
											<div class="col-sm-8" *ngIf="modalType !== actionTypes.VIEW">
												<kendo-dropdownlist #apiActionAgent
																	id="apiActionAgent" name="apiActionAgent" class="form-control"
																	[data]="agentList"
																	(valueChange)="onAgentValueChange($event)"
																	[textField]="'name'"
																	[valueField]="'id'"
																	[(ngModel)]="apiActionModel.agentClass"
																	required class="form-control" [ngClass]="{'has-error':  (!apiActionForm.form.valid && apiActionForm.touched) && apiActionModel.agentClass?.id == 0}"></kendo-dropdownlist>
											</div>
											<div class="col-sm-8" *ngIf="modalType === actionTypes.VIEW">
												<label class="control-label label-detail">{{apiActionModel.agentClass.name}}</label>
											</div>
										</div>
										<div class="form-group">
											<label for="apiActionMethod" class="col-sm-3 control-label">Method:
												<span style="color: red;" *ngIf="modalType !== actionTypes.VIEW">*</span>
											</label>
											<div class="col-sm-8" *ngIf="modalType !== actionTypes.VIEW">
												<kendo-dropdownlist #apiActionAgentMethod
																	id="apiActionMethod" name="apiActionMethod" class="form-control"
																	[data]="agentMethodList"
																	[textField]="'name'"
																	[valueField]="'id'"
																	(open)="onOpenAgentMethod()"
																	[(ngModel)]="apiActionModel.agentMethod"
																	[disabled]="apiActionModel.agentClass.id === 0"
																	required [ngClass]="{'has-error':  (!apiActionForm.form.valid && apiActionForm.touched) && apiActionModel.agentMethod?.id == 0}">
													<ng-template kendoDropDownListItemTemplate let-dataItem>
														<span style="margin-right: 3px; min-width: 115px; font-weight: bold;">{{ dataItem?.name }}</span> <span style="margin-left: 3px;">{{ dataItem?.description }}</span>
													</ng-template>
												</kendo-dropdownlist>
											</div>
											<div class="col-sm-8" *ngIf="modalType === actionTypes.VIEW">
												<label class="control-label label-detail">{{apiActionModel.agentMethod.name}}</label>
											</div>
										</div>
										<div class="form-group">
											<label for="apiActionCredentials" class="col-sm-3 control-label">Credentials:</label>
											<div class="col-sm-8" *ngIf="modalType !== actionTypes.VIEW">
												<kendo-dropdownlist #apiActionCredential
																	id="apiActionCredentials"
																	name="apiActionCredentials" class="form-control"
																	[data]="agentCredentialList"
																	[textField]="'name'"
																	[valueField]="'id'"
                                                                    [disabled]="apiActionModel.provider.id === 0"
																	[(ngModel)]="apiActionModel.credential"></kendo-dropdownlist>
											</div>
											<div class="col-sm-8" *ngIf="modalType === actionTypes.VIEW">
												<label class="control-label label-detail">{{apiActionModel.credential?.name}}</label>
											</div>
										</div>
										<div class="form-group">
											<label for="apiActionEndpointURL" class="col-sm-3 control-label">Endpoint URL:</label>
											<div class="col-sm-8" *ngIf="modalType !== actionTypes.VIEW">
												<input type="text" id="apiActionEndpointURL" name="apiActionEndpointURL" class="form-control" [(ngModel)]="apiActionModel.endpointUrl" />
											</div>
											<div class="col-sm-8" *ngIf="modalType === actionTypes.VIEW">
												<label class="control-label label-detail">{{apiActionModel.endpointUrl}}</label>
											</div>
										</div>
										<div class="form-group">
											<label for="apiActionEndpointPath" class="col-sm-3 control-label">Endpoint Path:</label>
											<div class="col-sm-8" *ngIf="modalType !== actionTypes.VIEW">
												<input type="text" id="apiActionEndpointPath" name="apiActionEndpointPath" class="form-control" [(ngModel)]="apiActionModel.endpointPath" />
											</div>
											<div class="col-sm-8" *ngIf="modalType === actionTypes.VIEW">
												<label class="control-label label-detail">{{apiActionModel.endpointPath}}</label>
											</div>
										</div>
									</div>
									<div class="col-md-5">
										<div class="form-check">
											<label class="form-check-label" for="apiActionPollingInterval">
												<input type="checkbox" id="apiActionPollingInterval" name="apiActionPollingInterval" [(ngModel)]="apiActionModel.isPolling" [disabled]="modalType === actionTypes.VIEW" class="form-check-input">
												Polling
											</label>
											<popup-polling></popup-polling>
										</div>
										<div class="form-group intervals-content">
											<label class="col-sm-4 control-label">Interval:</label>
											<div class="col-sm-3" *ngIf="modalType !== actionTypes.VIEW">
												<kendo-numerictextbox
														name="apiActionFrequencyValue"
														[format]="'n'"
														[min]="0"
														[max]="100"
														[(ngModel)]="apiActionModel.polling.frequency.value"
														[disabled]="!apiActionModel.isPolling"
														[required]="apiActionModel.isPolling">
												</kendo-numerictextbox>
											</div>
											<div class="col-sm-3 dropdown" *ngIf="modalType !== actionTypes.VIEW">
												<kendo-dropdownlist
														name="apiActionFrequencyInterval"
														[data]="intervals"
														[(ngModel)]="selectedInterval.interval"
														[disabled]="!apiActionModel.isPolling"
														(valueChange)="onIntervalChange(selectedInterval, apiActionModel.polling.frequency)"
														[required]="apiActionModel.isPolling">
												</kendo-dropdownlist>
											</div>
											<div class="col-sm-3" *ngIf="modalType === actionTypes.VIEW">
												<label class="control-label label-detail">{{apiActionModel.polling.frequency.value}} ({{apiActionModel.polling.frequency.interval}})</label>
											</div>
										</div>
										<div class="form-group intervals-content">
											<label class="col-sm-4 control-label">Assume Lapsed After:</label>
											<div class="col-sm-3" *ngIf="modalType !== actionTypes.VIEW">
												<kendo-numerictextbox
														name="apiActionAssumeLapsedAfterValue"
														[format]="'n'"
														[min]="0"
														[max]="100"
														[(ngModel)]="apiActionModel.polling.lapsedAfter.value"
														[disabled]="!apiActionModel.isPolling"
														[required]="apiActionModel.isPolling">
												</kendo-numerictextbox>
											</div>
											<div class="col-sm-3 dropdown" *ngIf="modalType !== actionTypes.VIEW">
												<kendo-dropdownlist
														name="apiActionAssumeLapsedAfterInterval"
														[data]="intervals"
														[(ngModel)]="selectedLapsed.interval"
														[disabled]="!apiActionModel.isPolling"
														(valueChange)="onIntervalChange(selectedLapsed, apiActionModel.polling.lapsedAfter)"
														[required]="apiActionModel.isPolling">
												</kendo-dropdownlist>
											</div>
											<div class="col-sm-3" *ngIf="modalType === actionTypes.VIEW">
												<label class="control-label label-detail">{{apiActionModel.polling.lapsedAfter.value}} ({{apiActionModel.polling.lapsedAfter.interval}})</label>
											</div>
										</div>
										<div class="form-group intervals-content">
											<label class="col-sm-4 control-label">Assume Stalled After:</label>
											<div class="col-sm-3" *ngIf="modalType !== actionTypes.VIEW">
												<kendo-numerictextbox
														name="apiActionAssmeStalledAfterValue"
														[format]="'n'"
														[min]="0"
														[max]="100"
														[(ngModel)]="apiActionModel.polling.stalledAfter.value"
														[disabled]="!apiActionModel.isPolling"
														[required]="apiActionModel.isPolling">
												</kendo-numerictextbox>
											</div>
											<div class="col-sm-3 dropdown" *ngIf="modalType !== actionTypes.VIEW">
												<kendo-dropdownlist
														name="apiActionAssmeStalledAfterInterval"
														[data]="intervals"
														[(ngModel)]="selectedStalled.interval"
														[disabled]="!apiActionModel.isPolling"
														(valueChange)="onIntervalChange(selectedStalled, apiActionModel.polling.stalledAfter)"
														[required]="apiActionModel.isPolling">
												</kendo-dropdownlist>
											</div>
											<div class="col-sm-3" *ngIf="modalType === actionTypes.VIEW">
												<label class="control-label label-detail">{{apiActionModel.polling.stalledAfter.value}} ({{apiActionModel.polling.stalledAfter.interval}})</label>
											</div>
										</div>
										<div class="form-check">
											<label for="apiActionProduceData" class="form-check-label">
												<input id="apiActionProduceData" type="checkbox" name="apiActionProduceData" [(ngModel)]="apiActionModel.producesData" [disabled]="modalType === actionTypes.VIEW" class="form-check-input">
												Provides Data
											</label>
											<popup-provides-data></popup-provides-data>
										</div>
										<div class="form-group intervals-content">
											<label for="apiActionDefaultDataScript" class="col-sm-4 control-label">Default Data Script:</label>
											<div class="col-sm-7" *ngIf="modalType !== actionTypes.VIEW">
												<kendo-dropdownlist
																	id="apiActionDefaultDataScript" name="apiActionDefaultDataScript" class="form-control"
																	[data]="providerDatascriptList"
																	[textField]="'name'"
																	[valueField]="'id'"
																	[(ngModel)]="apiActionModel.defaultDataScript"
																	[disabled]="!apiActionModel.producesData || apiActionModel.provider.id === 0"
																	[required]="apiActionModel.producesData"
																	[ngClass]="{'has-error':  (!apiActionForm.form.valid && apiActionForm.touched) && apiActionModel.producesData && apiActionModel.defaultDataScript?.id == 0}"></kendo-dropdownlist>
											</div>
											<div class="col-sm-7" *ngIf="modalType === actionTypes.VIEW">
                                                <label class="control-label label-detail" *ngIf="apiActionModel.defaultDataScript?.id !== 0">{{apiActionModel.defaultDataScript.name}}</label>
											</div>
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>
					<div class="tab-pane no-padding " style="height: 430px;" *ngIf="isCurrentTab(1)" [ngClass]="{'active':isCurrentTab(1)}" id="tab_2">
						<form name="apiActionParametersForm" role="form" data-toggle="validator" #apiActionParametersForm='ngForm' class="form-horizontal left-alignment">
							<div class="box-body no-padding ">
								<kendo-grid
										[data]="parameterList"
										[sort]="state.sort"
										[sortable]="{mode:'single'}"
										[pageSize]="25"
										[height]="430"
										(sortChange)="sortChange($event)">
									<ng-template kendoGridToolbarTemplate [position]="'top'">
										<button class="btn btn-default mar-left-15" id="btnEditParameters" type="button" (click)="onEditParameters()"><i class="fa fa-fw fa-list-ul"></i> {{ 'GLOBAL.EDIT' | translate }}</button>
										<button *ngIf="isEditing" class="btn btn-default float-right mar-right-15" id="btnAddParameter" type="button" (click)="onAddParameter()"><i class="fa fa-fw fa-plus-circle"></i> {{ 'DATA_INGESTION.ADD_ARGUMENT' | translate }}</button>
									</ng-template>
									<kendo-grid-column *ngFor="let column of apiActionParameterColumnModel.columns; let columnIndex = index" field="{{column.property}}" [locked]="column.locked" format="{{column.format}}" [width]="!column.width ? COLUMN_MIN_WIDTH : column.width">
										<ng-template kendoGridHeaderTemplate>
											<label [ngClass]="{'action-header':column.type === 'action'}"> {{column.label}}</label>
										</ng-template>
										<ng-template kendoGridCellTemplate *ngIf="column.type === 'action'" let-dataItem>
											<div class="text-center">
												<button class="btn btn-default" (click)="onDelete(dataItem)"><span class="fa fa-fw fa-trash"></span></button>
											</div>
										</ng-template>
										<ng-template kendoGridCellTemplate *ngIf='isEditing' let-dataItem let-rowIndex="rowIndex">
											<div *ngIf="column.type === 'text' && column.property === 'name'">
												<input type="text" name="{{column.property + columnIndex + rowIndex}}" [(ngModel)]="dataItem.name" style="width: 100%;" />
											</div>
											<div *ngIf="column.type === 'text' && column.property === 'dataType'">
												<kendo-dropdownlist
														name="{{column.property + columnIndex + rowIndex}}" class="form-control" style="width: 100%;"
														[data]="dataTypes"
														[(ngModel)]="dataItem.dataType">
												</kendo-dropdownlist>
											</div>
											<div *ngIf="column.type === 'text' && column.property === 'context.value'">
												<kendo-dropdownlist
														name="{{column.property + columnIndex + rowIndex}}" class="form-control" style="width: 100%;"
														[data]="assetClassesForParameters"
														[textField]="'value'"
														[valueField]="'value'"
														(valueChange)="onContextValueChange(dataItem)"
														[(ngModel)]="dataItem.context">
												</kendo-dropdownlist>
											</div>
											<div *ngIf="column.type === 'text' && column.property === 'value'">
												<input *ngIf="dataItem.context.assetClass === 'USER_DEFINED' && dataItem.context.assetClass !== 'TASK'" type="text" name="{{column.property + columnIndex + rowIndex}}" [(ngModel)]="dataItem.value" style="width: 100%;" />
												<kendo-combobox *ngIf="dataItem.context.assetClass !== 'USER_DEFINED' && dataItem.context.assetClass !== 'TASK'"
																name="{{column.property + columnIndex + rowIndex}}" style="width: 100%;"
																[data]="dataItem.currentFieldList"
																[filterable]="true"
																[textField]="'field'"
																[valueField]="'field'"
																[(ngModel)]="dataItem.field">

												</kendo-combobox>
											</div>
											<div *ngIf="column.type === 'text' && column.property === 'description'">
												<input type="text" name="{{column.property + columnIndex + rowIndex}}" [(ngModel)]="dataItem.description" style="width: 100%;" />
											</div>
										</ng-template>
									</kendo-grid-column>
								</kendo-grid>
							</div>
						</form>
					</div>
					<div class="tab-pane" style="padding-left:15px" *ngIf="isCurrentTab(2)" [ngClass]="{'active':isCurrentTab(2)}" id="tab_3">
						<form name="apiActionReactionForm" role="form" data-toggle="validator" #apiActionReactionForm='ngForm' class="form-horizontal left-alignment">
							<div class="box-body">
								<div class="row">
									<div class="col-md-12 event-wrapper">
										<div class="row">
											<div class="col-md-1"><label>Events:</label></div>
											<div class="col-md-2" style="width: 70px !important;">
												<div class="checkbox">
													<label>
														<input type="checkbox" name="apiActionStatusDetermination" [(ngModel)]="apiActionModel.eventReactions[0].selected" [disabled]="true"> Status
													</label>
												</div>
											</div>
											<div class="col-md-2" style="width: 70px !important;">
												<div class="checkbox">
													<label>
														<input type="checkbox" name="apiActionSuccess" [(ngModel)]="apiActionModel.eventReactions[1].selected" [disabled]="apiActionModel.eventReactions[1].value.length > 0 || modalType === actionTypes.VIEW"> Success
													</label>
												</div>
											</div>
											<div class="col-md-2">
												<div class="checkbox">
													<label>
														<input type="checkbox" name="apiActionDefault" [(ngModel)]="apiActionModel.eventReactions[2].selected" [disabled]="apiActionModel.eventReactions[2].value.length > 0 || modalType === actionTypes.VIEW"> Default
													</label>
												</div>
											</div>
											<div class="col-md-2" style="width: 70px !important;">
												<div class="checkbox">
													<label>
														<input type="checkbox" name="apiActionError" [(ngModel)]="apiActionModel.eventReactions[3].selected" [disabled]="apiActionModel.eventReactions[3].value.length > 0 || modalType === actionTypes.VIEW"> Error
													</label>
												</div>
											</div>
											<div class="col-md-2" style="width: 70px !important;">
												<div class="checkbox">
													<label>
														<input type="checkbox" name="apiActionFailed" [(ngModel)]="apiActionModel.eventReactions[4].selected" [disabled]="apiActionModel.eventReactions[4].value.length > 0 || modalType === actionTypes.VIEW"> Failed
													</label>
												</div>
											</div>
											<div *ngIf="apiActionModel.isPolling">
												<div class="col-md-2" style="width: 70px !important;">
													<div class="checkbox">
														<label>
															<input type="checkbox" name="apiActionLapsed" [(ngModel)]="apiActionModel.eventReactions[5].selected" [disabled]="apiActionModel.eventReactions[5].value.length > 0 || modalType === actionTypes.VIEW"> Lapsed
														</label>
													</div>
												</div>
												<div class="col-md-2">
													<div class="checkbox">
														<label>
															<input type="checkbox" name="apiActionStalled" [(ngModel)]="apiActionModel.eventReactions[6].selected" [disabled]="apiActionModel.eventReactions[6].value.length > 0 || modalType === actionTypes.VIEW"> Stalled
														</label>
													</div>
												</div>
											</div>
											<div class="col-md-2 customize"><label>Customize:</label></div>
											<div class="col-md-3">
												<div class="checkbox">
													<label>
														<input type="checkbox" name="apiActionBeforeCall" [(ngModel)]="apiActionModel.eventReactions[7].selected" [disabled]="apiActionModel.eventReactions[7].value.length > 0 || modalType === actionTypes.VIEW"> Before API Call
													</label>
												</div>
											</div>
											<div class="col-md-3">
												<div class="checkbox">
													<label>
														<input type="checkbox" name="apiActionAfterCall" [(ngModel)]="apiActionModel.eventReactions[8].selected" [disabled]="apiActionModel.eventReactions[8].value.length > 0 || modalType === actionTypes.VIEW"> Post Action
													</label>
												</div>
											</div>
										</div>
									</div>
									<div class="all-codemirrors">
										<div class="col-md-12 codemirror-wrapper">
											<div class="form-group">
												<label for="apiActionStatusDetermination" class="col-sm-8 control-label">Status Determination <span class="font-normal">logic to determine the Success or other status based on API response.</span></label>
												<div class="col-sm-4 collapse-icon-wrapper">
													<button class="btn btn-default" *ngIf="modalType !== actionTypes.VIEW" (click)="verifyCode(apiActionModel.eventReactions[0])">
														<i aria-hidden="true" class="fa fa-thumbs-o-up" style="padding-right:0px;"></i>
													</button>
													<button class="btn btn-default" (click)="openCloseCodeMirror(apiActionModel.eventReactions[0])">
														<i aria-hidden="true" class="fa fa-angle-double-down" [ngClass]="{'fa-angle-double-down': apiActionModel.eventReactions[0].open, 'fa-angle-double-right': !apiActionModel.eventReactions[0].open}" style="padding-right:0px;"></i>
													</button>
												</div>
											</div>
											<div class="form-group" *ngIf="apiActionModel.eventReactions[0].open">
												<div class="col-sm-12">
													<code-mirror #codeMirror id="apiActionStatusDetermination" [mode]="codeMirror.mode" [(model)]="apiActionModel.eventReactions[0].value"></code-mirror>
													<div *ngIf="!apiActionModel.eventReactions[0].valid" style="margin-left: 50px;">
														<label class="control-label" style="color:darkred;">Syntax Error</label>
														<textarea class="form-control" name="apiActionSyntaxStatusDetermination" [ngModel]="apiActionModel.eventReactions[0].error" readonly></textarea>
													</div>
												</div>
											</div>
										</div>
										<label class="col-md-12 reaction-section-event" *ngIf="showsEventLabel()">Events:</label>
										<div class="col-md-12 codemirror-wrapper" *ngIf="apiActionModel.eventReactions[1].selected">
											<div class="form-group">
												<label for="apiActionSuccess" class="col-sm-8 control-label">Success <span class="font-normal">- logic to be performed upon the API call being successful.</span></label>
												<div class="col-sm-4 collapse-icon-wrapper">
													<button class="btn btn-default" *ngIf="modalType !== actionTypes.VIEW" (click)="verifyCode(apiActionModel.eventReactions[1])">
														<i aria-hidden="true" class="fa fa-thumbs-o-up" style="padding-right:0px;"></i>
													</button>
													<button class="btn btn-default" (click)="openCloseCodeMirror(apiActionModel.eventReactions[1])">
														<i aria-hidden="true" class="fa fa-angle-double-down" [ngClass]="{'fa-angle-double-down': apiActionModel.eventReactions[1].open, 'fa-angle-double-right': !apiActionModel.eventReactions[1].open}" style="padding-right:0px;"></i>
													</button>
												</div>
											</div>
											<div class="form-group" *ngIf="apiActionModel.eventReactions[1].open">
												<div class="col-sm-12">
													<code-mirror #codeMirror id="apiActionSuccess" [mode]="codeMirror.mode" [(model)]="apiActionModel.eventReactions[1].value"></code-mirror>
													<div *ngIf="!apiActionModel.eventReactions[1].valid" style="margin-left: 50px;">
														<label class="control-label" style="color:darkred;">Syntax Error</label>
														<textarea class="form-control" name="apiActionSyntaxStatusDetermination" [ngModel]="apiActionModel.eventReactions[1].error" readonly></textarea>
													</div>
												</div>
											</div>
										</div>
										<div class="col-md-12 codemirror-wrapper" *ngIf="apiActionModel.eventReactions[2].selected">
											<div class="form-group">
												<label for="apiActionDefault" class="col-sm-8 control-label">Default <span class="font-normal">- logic to be performed for events not explicitly defined.</span></label>
												<div class="col-sm-4 collapse-icon-wrapper">
													<button class="btn btn-default" *ngIf="modalType !== actionTypes.VIEW" (click)="verifyCode(apiActionModel.eventReactions[2])">
														<i aria-hidden="true" class="fa fa-thumbs-o-up" style="padding-right:0px;"></i>
													</button>
													<button class="btn btn-default" (click)="openCloseCodeMirror(apiActionModel.eventReactions[2])">
														<i aria-hidden="true" class="fa fa-angle-double-down" [ngClass]="{'fa-angle-double-down': apiActionModel.eventReactions[2].open, 'fa-angle-double-right': !apiActionModel.eventReactions[2].open}" style="padding-right:0px;"></i>
													</button>
												</div>
											</div>
											<div class="form-group" *ngIf="apiActionModel.eventReactions[2].open">
												<div class="col-sm-12">
													<code-mirror #codeMirror id="apiActionDefault" [mode]="codeMirror.mode" [(model)]="apiActionModel.eventReactions[2].value"></code-mirror>
													<div *ngIf="!apiActionModel.eventReactions[2].valid" style="margin-left: 50px;">
														<label class="control-label" style="color:darkred;">Syntax Error</label>
														<textarea class="form-control" name="apiActionSyntaxStatusDetermination" [ngModel]="apiActionModel.eventReactions[2].error" readonly></textarea>
													</div>
												</div>
											</div>
										</div>
										<div class="col-md-12 codemirror-wrapper" *ngIf="apiActionModel.eventReactions[3].selected">
											<div class="form-group">
												<label for="apiActionError" class="col-sm-8 control-label">Error <span class="font-normal">- logic to perform when the API call fails for any cause.</span></label>
												<div class="col-sm-4 collapse-icon-wrapper">
													<button class="btn btn-default" *ngIf="modalType !== actionTypes.VIEW" (click)="verifyCode(apiActionModel.eventReactions[3])">
														<i aria-hidden="true" class="fa fa-thumbs-o-up" style="padding-right:0px;"></i>
													</button>
													<button class="btn btn-default" (click)="openCloseCodeMirror(apiActionModel.eventReactions[3])">
														<i aria-hidden="true" class="fa fa-angle-double-down" [ngClass]="{'fa-angle-double-down': apiActionModel.eventReactions[3].open, 'fa-angle-double-right': !apiActionModel.eventReactions[3].open}" style="padding-right:0px;"></i>
													</button>
												</div>
											</div>
											<div class="form-group" *ngIf="apiActionModel.eventReactions[3].open">
												<div class="col-sm-12">
													<code-mirror #codeMirror id="apiActionError" [mode]="codeMirror.mode" [(model)]="apiActionModel.eventReactions[3].value"></code-mirror>
													<div *ngIf="!apiActionModel.eventReactions[3].valid" style="margin-left: 50px;">
														<label class="control-label" style="color:darkred;">Syntax Error</label>
														<textarea class="form-control" name="apiActionSyntaxStatusDetermination" [ngModel]="apiActionModel.eventReactions[3].error" readonly></textarea>
													</div>
												</div>
											</div>
										</div>
										<div class="col-md-12 codemirror-wrapper" *ngIf="apiActionModel.eventReactions[4].selected">
											<div class="form-group">
												<label for="apiActionFailed" class="col-sm-8 control-label">Failed <span class="font-normal">-logic to perform when API call receives 400 or 500 series HTTP error code.</span></label>
												<div class="col-sm-4 collapse-icon-wrapper">
													<button class="btn btn-default" *ngIf="modalType !== actionTypes.VIEW" (click)="verifyCode(apiActionModel.eventReactions[4])">
														<i aria-hidden="true" class="fa fa-thumbs-o-up" style="padding-right:0px;"></i>
													</button>
													<button class="btn btn-default" (click)="openCloseCodeMirror(apiActionModel.eventReactions[4])">
														<i aria-hidden="true" class="fa fa-angle-double-down" [ngClass]="{'fa-angle-double-down': apiActionModel.eventReactions[4].open, 'fa-angle-double-right': !apiActionModel.eventReactions[4].open}" style="padding-right:0px;"></i>
													</button>
												</div>
											</div>
											<div class="form-group" *ngIf="apiActionModel.eventReactions[4].open">
												<div class="col-sm-12">
													<code-mirror #codeMirror id="apiActionFailed" [mode]="codeMirror.mode" [(model)]="apiActionModel.eventReactions[4].value"></code-mirror>
													<div *ngIf="!apiActionModel.eventReactions[4].valid" style="margin-left: 50px;">
														<label class="control-label" style="color:darkred;">Syntax Error</label>
														<textarea class="form-control" name="apiActionSyntaxStatusDetermination" [ngModel]="apiActionModel.eventReactions[4].error" readonly></textarea>
													</div>
												</div>
											</div>
										</div>
										<div class="col-md-12 codemirror-wrapper" *ngIf="apiActionModel.eventReactions[5].selected && apiActionModel.isPolling">
											<div class="form-group">
												<label for="apiActionLapsed" class="col-sm-8 control-label">Lapsed <span class="font-normal">-logic to perform if a polling action did not complete in anticipated time.</span></label>
												<div class="col-sm-4 collapse-icon-wrapper">
													<button class="btn btn-default" *ngIf="modalType !== actionTypes.VIEW" (click)="verifyCode(apiActionModel.eventReactions[5])">
														<i aria-hidden="true" class="fa fa-thumbs-o-up" style="padding-right:0px;"></i>
													</button>
													<button class="btn btn-default" (click)="openCloseCodeMirror(apiActionModel.eventReactions[5])">
														<i aria-hidden="true" class="fa fa-angle-double-down" [ngClass]="{'fa-angle-double-down': apiActionModel.eventReactions[5].open, 'fa-angle-double-right': !apiActionModel.eventReactions[5].open}" style="padding-right:0px;"></i>
													</button>
												</div>
											</div>
											<div class="form-group" *ngIf="apiActionModel.eventReactions[5].open">
												<div class="col-sm-12">
													<code-mirror #codeMirror id="apiActionLapsed" [mode]="codeMirror.mode" [(model)]="apiActionModel.eventReactions[5].value"></code-mirror>
													<div *ngIf="!apiActionModel.eventReactions[5].valid" style="margin-left: 50px;">
														<label class="control-label" style="color:darkred;">Syntax Error</label>
														<textarea class="form-control" name="apiActionSyntaxStatusDetermination" [ngModel]="apiActionModel.eventReactions[5].error" readonly></textarea>
													</div>
												</div>
											</div>
										</div>
										<div class="col-md-12 codemirror-wrapper" *ngIf="apiActionModel.eventReactions[6].selected && apiActionModel.isPolling">
											<div class="form-group">
												<label for="apiActionStalled" class="col-sm-8 control-label">Stalled <span class="font-normal">-logic to perform if a polling action has not detected any progress for a period of time.</span></label>
												<div class="col-sm-4 collapse-icon-wrapper">
													<button class="btn btn-default" *ngIf="modalType !== actionTypes.VIEW" (click)="verifyCode(apiActionModel.eventReactions[6])">
														<i aria-hidden="true" class="fa fa-thumbs-o-up" style="padding-right:0px;"></i>
													</button>
													<button class="btn btn-default" (click)="openCloseCodeMirror(apiActionModel.eventReactions[6])">
														<i aria-hidden="true" class="fa fa-angle-double-down" [ngClass]="{'fa-angle-double-down': apiActionModel.eventReactions[6].open, 'fa-angle-double-right': !apiActionModel.eventReactions[6].open}" style="padding-right:0px;"></i>
													</button>
												</div>
											</div>
											<div class="form-group" *ngIf="apiActionModel.eventReactions[6].open">
												<div class="col-sm-12">
													<code-mirror #codeMirror id="apiActionStalled" [mode]="codeMirror.mode" [(model)]="apiActionModel.eventReactions[6].value"></code-mirror>
													<div *ngIf="!apiActionModel.eventReactions[6].valid" style="margin-left: 50px;">
														<label class="control-label" style="color:darkred;">Syntax Error</label>
														<textarea class="form-control" name="apiActionSyntaxStatusDetermination" [ngModel]="apiActionModel.eventReactions[6].error" readonly></textarea>
													</div>
												</div>
											</div>
										</div>
										<label class="col-md-12 reaction-section-event" *ngIf="showsCustomizeLabel()">Customize:</label>
										<div class="col-md-12 codemirror-wrapper" *ngIf="apiActionModel.eventReactions[7].selected">
											<div class="form-group">
												<label for="apiActionBeforeCall" class="col-sm-8 control-label">Before API Call <span class="font-normal">-logic to perform before the API call is invoked to customize the request.</span></label>
												<div class="col-sm-4 collapse-icon-wrapper">
													<button class="btn btn-default" *ngIf="modalType !== actionTypes.VIEW" (click)="verifyCode(apiActionModel.eventReactions[7])">
														<i aria-hidden="true" class="fa fa-thumbs-o-up" style="padding-right:0px;"></i>
													</button>
													<button class="btn btn-default" (click)="openCloseCodeMirror(apiActionModel.eventReactions[7])">
														<i aria-hidden="true" class="fa fa-angle-double-down" [ngClass]="{'fa-angle-double-down': apiActionModel.eventReactions[7].open, 'fa-angle-double-right': !apiActionModel.eventReactions[7].open}" style="padding-right:0px;"></i>
													</button>
												</div>
											</div>
											<div class="form-group" *ngIf="apiActionModel.eventReactions[7].open">
												<div class="col-sm-12">
													<code-mirror #codeMirror id="apiActionBeforeCall" [mode]="codeMirror.mode" [(model)]="apiActionModel.eventReactions[7].value"></code-mirror>
													<div *ngIf="!apiActionModel.eventReactions[7].valid" style="margin-left: 50px;">
														<label class="control-label" style="color:darkred;">Syntax Error</label>
														<textarea class="form-control" name="apiActionSyntaxStatusDetermination" [ngModel]="apiActionModel.eventReactions[7].error" readonly></textarea>
													</div>
												</div>
											</div>
										</div>
										<div class="col-md-12 codemirror-wrapper" *ngIf="apiActionModel.eventReactions[8].selected">
											<div class="form-group">
												<label for="apiActionAfterCall" class="col-sm-8 control-label">Post Action <span class="font-normal">-logic to perform after API call completes or erred and the appropriate event has been processed.</span></label>
												<div class="col-sm-4 collapse-icon-wrapper">
													<button class="btn btn-default" *ngIf="modalType !== actionTypes.VIEW" (click)="verifyCode(apiActionModel.eventReactions[8])">
														<i aria-hidden="true" class="fa fa-thumbs-o-up" style="padding-right:0px;"></i>
													</button>
													<button class="btn btn-default" (click)="openCloseCodeMirror(apiActionModel.eventReactions[8])">
														<i aria-hidden="true" class="fa fa-angle-double-down" [ngClass]="{'fa-angle-double-down': apiActionModel.eventReactions[8].open, 'fa-angle-double-right': !apiActionModel.eventReactions[8].open}" style="padding-right:0px;"></i>
													</button>
												</div>
											</div>
											<div class="form-group" *ngIf="apiActionModel.eventReactions[8].open">
												<div class="col-sm-12">
													<code-mirror #codeMirror id="apiActionAfterCall" [mode]="codeMirror.mode" [(model)]="apiActionModel.eventReactions[8].value"></code-mirror>
													<div *ngIf="!apiActionModel.eventReactions[8].valid" style="margin-left: 50px;">
														<label class="control-label" style="color:darkred;">Syntax Error</label>
														<textarea class="form-control" name="apiActionSyntaxStatusDetermination" [ngModel]="apiActionModel.eventReactions[8].error" readonly></textarea>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
	</div>
	<div class="modal-footer form-group-center">
		<button type="button" *ngIf="modalType === actionTypes.EDIT || modalType === actionTypes.CREATE" (click)="onSaveApiAction()"
		 class="btn btn-primary pull-left" [disabled]="!validInfoForm">
			<span class="fa fa-fw fa-floppy-o"></span> Save</button>
		<button type="button" *ngIf="modalType !== actionTypes.VIEW && isCurrentTab(2)" (click)="onCheckAllSyntax()" class="btn btn-primary pull-left">
			<span class="fa fa-fw fa-thumbs-o-up"></span> Check Syntax</button>
		<button type="button" *ngIf="modalType === actionTypes.VIEW" (click)="changeToEditApiAction()" class="btn btn-primary pull-left">
			<span class="glyphicon glyphicon-pencil"></span> Edit</button>
		<button type="button" *ngIf="modalType !== actionTypes.CREATE" (click)="onDeleteApiAction()" class="btn btn-danger">
			<span class="fa fa-fw fa-trash"></span> Delete</button>
		<button (click)="cancelCloseDialog()" type="button" class="btn btn-default pull-right">
			<span class="glyphicon glyphicon-ban-circle"></span>
			<span *ngIf="modalType === actionTypes.VIEW">
				{{'GLOBAL.CLOSE' | translate }}
			</span>
			<span *ngIf="modalType === actionTypes.EDIT || modalType === actionTypes.CREATE">
				{{'GLOBAL.CANCEL' | translate }}
			</span>
		</button>
	</div>
</div>