// Clarity Overrides App Wide
body,
html {
	font-family: 'Roboto', 'Metropolis', 'Avenir Next', 'Helvetica Neue', Arial,
		serif;
	background: #fff;
}

body div.content-wrapper {
	background: #fff;
}
a {
	cursor: pointer;
}
.content-header {
	> h1 {
		font-weight: bold;
		font-size: 18px;
		line-height: 24px;
		color: $primary-text-color;
	}
}

.modal {
	display: none;
}
.modal-dialog .modal-content {
	padding: 0;
	.modal-header,
	.modal-body {
		padding: 16px;
	}
	.modal-footer {
		padding: 15px;
		margin: 0;

		.btn {
			margin: 0.25rem 0.5rem 0.25rem 0;
		}
	}
}

.clr-form.is-fullwidth {
	width: 100%;

	.clr-control-container,
	.clr-select-wrapper,
	.clr-select-wrapper select,
	.clr-input-wrapper,
	.clr-input-group,
	.clr-input {
		width: 100%;
	}
	.clr-form-control.row .clr-input-wrapper,
	.clr-input-group {
		max-width: 100%;
	}

	.clr-error .clr-select-wrapper::after {
		right: 0.25rem;
	}

	clr-password-container .clr-error {
		.clr-form-control.row .clr-input-wrapper,
		.clr-input-group {
			max-width: calc(100% - 1rem);
		}
		.clr-validate-icon {
			margin-left: 20px;
		}
	}
	.btn,
	tds-button {
		width: 100%;
		max-width: 100%;
	}
}

kendo-popup {
	.clr-control-container {
		max-height: 400px;
		overflow: auto;
	}
}

clr-radio-wrapper,
clr-checkbox-wrapper {
	margin: 0px;
	padding-right: 10px;
}

// Custom styles
.clr-control-label-sm {
	font-weight: 400;
	font-size: 13px;
}

.clr-margin-top-lg {
	margin-top: 30px;
}
.grid-actions {
	text-align: right;
	.clr-radio-wrapper {
		.clr-control-label {
			display: inline-block;
		}
	}
}

.box {
  border-left: 1px solid $color-border;
  border-right: 1px solid $color-border;
  border-bottom: 1px solid $color-border;
}

.clr-checkbox-wrapper {
  .clr-control-label {
    &.disabled-input {
      opacity: .3;
      cursor: not-allowed;
    }
  }
}

table.clarity-table-grid {
  color: #656565;
  border: 0;
  thead {
    background-color: #d9e4ea;
    th {
      background-color: transparent;
      padding: 8px 12px;
      white-space: nowrap;
      word-break: break-all;
      text-overflow: ellipsis;
      border-bottom: 1px solid #e6e5e6 !important;
      font-size: 13px;
      font-weight: 400;
      vertical-align: top !important;
      text-align: left;
      .k-icon {
        font-size: 20px;
        color: $color-material--blue1;
        width: 0;
      }
      &.sortable-column, .sortable-column {
        cursor: pointer;
      }
      .filter-trigger {
        .tds-button {
          margin: 0;
          line-height: 0;
        }
      }
      .filter-input {
        .clr-form-control {
          display: inline;
          .clr-control-container {
            margin-top: 10px;
            width: calc(100% - 3em);
            .clr-input {
              background: #ffffff;
              border: 1px solid #ccc;
              border-radius: 3px;
              width: 100%;
              &:not([readonly]):focus {
                border-color: #3c8dbc;
              }
            }
          }
        }
        .tds-button {
          margin: 0;
          padding-left: 5px;
        }
      }
    }
  }
  tbody {
    td {
      text-align: left;
      padding: 4px 8px !important;
      line-height: 20px !important;
      vertical-align: middle !important;
      border: 1px solid #d9e4ea;
      border-width: 0 0 1px 0;

    .link-text {
        font-weight: bold;
        cursor: pointer;
        color: inherit;
      }
    }
  }

  &.fixed-header {
    table-layout: fixed;
    width: unset;
    thead {
      tr {
        display: block;
        position: relative;
      }
    }
    tbody {
      display: block;
      width: 100%;
      overflow: auto;
    }
  }
}
