// Clarity Overrides App Wide
body,
html {
	font-family: 'Roboto', 'Metropolis', 'Avenir Next', 'Helvetica Neue', Arial,
		serif;
	background: #fff;
}

body div.content-wrapper {
	background: #fff;
}
a {
	cursor: pointer;
}
.content-header {
	> h1 {
		font-weight: bold;
		font-size: 18px;
		line-height: 24px;
		color: $primary-text-color;
	}
}

.modal {
	display: none;
}
.modal-dialog .modal-content {
	padding: 0;
	.modal-header,
	.modal-body {
		padding: 16px;
	}
	.modal-footer {
		padding: 15px;
		margin: 0;

		.btn {
			margin: 0.25rem 0.5rem 0.25rem 0;
		}
	}
}

.clr-form-control {
	.clr-form-control {
		margin-top: unset;
	}
}

.clr-form.is-fullwidth {
	width: 100%;

	.clr-control-container,
	.clr-select-wrapper,
	.clr-select-wrapper select,
	.clr-input-wrapper,
	.clr-input-group,
	.clr-input {
		width: 100%;
	}
	.clr-form-control.row .clr-input-wrapper,
	.clr-input-group {
		max-width: 100%;
	}

	.clr-error .clr-select-wrapper::after {
		right: 0.25rem;
	}

	clr-password-container .clr-error {
		.clr-form-control.row .clr-input-wrapper,
		.clr-input-group {
			max-width: calc(100% - 1rem);
		}
		.clr-validate-icon {
			margin-left: 20px;
		}
	}
	.btn,
	tds-button {
		width: 100%;
		max-width: 100%;
	}
}

.clr-control-label {
	margin: 0px 5px;
}

// Custom styles
.clr-control-label-sm {
	font-weight: 400;
	font-size: 13px;
}

.clr-margin-top-lg {
	margin-top: 30px;
}
.grid-actions {
	text-align: right;
	.clr-radio-wrapper {
		.clr-control-label {
			display: inline-block;
		}
	}
}
