@mixin k-input {
  .k-input {
    padding: 0 0.25rem;
    height: 1rem;
    max-height: 1rem;
    font-size: 0.541667rem;
  }
}

kendo-numerictextbox {
  &.k-widget {
    ::selection {
      background-color: unset;
      color: unset;
      color: black;
    }

    &.form-control {
      @include k-input();
    }
  }

  &.form-control {
    height: unset;
  }

  &:hover {
    .k-select {
      border-color: unset;
      background-color: unset;
      background-image: unset;
      color: #0092d1;
    }
  }

  &.k-numerictextbox {
    .k-numeric-wrap {
      border: unset;
      color: black;
      border-bottom: 1px solid #999;
    }

    .k-state-focused {
      -webkit-box-shadow: unset;
      box-shadow: unset;
      border: unset;
      border-bottom: 1px solid #0092d1;
    }

    .k-select {
      border: unset;
      background-color: unset;
      background-image: unset;
      color: #0092d1;

      &:hover {
        background-color: unset;
        background-image: unset;
        color: #0092d1;
      }
    }
  }
}

kendo-grid.k-grid {
  // wrap overflow text in ellipsis mode.
  &.narrow-rows {
    td {
      padding: 0px 8px;
      line-height: 10px;
      word-break: normal;
      text-overflow: ellipsis;
      white-space: nowrap;
      &:not(.actions-column) {
        overflow: hidden !important
      }
    }
   .filter-input {
      margin-bottom: 5px;
    }
  }
  &.clickable-rows {
    tr {
      cursor: pointer;
    }
  }
  .action-button clr-dropdown-menu {
    line-height: 20px !important;
    .k-button:focus {
      box-shadow: none;
    }
  }

  // Adding the appropriate class to the grid will fix the issue with the clarity dropdown list action within the kendo-grid
  // Example if you have a action dropdown in a row with 3 actions, add the class "row-actions-3-children"
  @for $i from 1 through 10 {
    &.row-actions-#{$i}-children {
      tr:nth-last-of-type(-n + #{$i}) {
        .action-button {
          clr-dropdown-menu {
            top: auto !important;
            bottom: 0px !important;
            transform: translateY(-25px) !important;
          }
        }
      }
    }
  }

  &.fixed-context-menu {
    .k-grid-table {
      transform: none !important
    }

    @for $i from 1 through 10 {
      &.row-actions-#{$i}-children {
        tr:nth-last-of-type(-n + #{$i}) {
          &:nth-child(-n + #{$i}) {
            .action-button {
              clr-dropdown-menu {
                position: fixed !important;
                top: inherit !important;
                left: inherit !important;
                bottom: auto !important;
                transform: none !important;
              }
            }
          }
        }
      }
    }
  }

  // Adding this class and its subclasses will constrain the grid to the height of the page.
  &.page-height {
    --subtraction-height: 273px;
    --filter-height: 34px;

    // Example of needing to subtract more or change the height of the filter
    &.field-settings-grid {
      --subtraction-height: 222px;
    }

    &.data-script-list {
      --filter-height: 35px;
    }

    &.bundle-list {
      --subtraction-height: 278px;
      --filter-height: 35px;
    }

    &.task-grid {
      --subtraction-height: 290px;
      --filter-height: 33px;
    }

    // We change the filter height to 0px when it is hidden, allowing for proper calculation of the grid-body height.
    &.hide-filter {
      --filter-height: 0px;
    }

    .k-grid-container {
      display: block;
      max-height: calc(
              100vh - var(--subtraction-height) - var(--filter-height)
      );
      overflow: auto;

      .k-grid-content {
        overflow: auto;
      }
    }
  }

  .grid-header {
    margin-top: 15px;
  }

  .k-grid-header {
    background: #d9e4ea;
  }

  kendo-dropdownlist.k-dropdown,
  kendo-combobox.k-combobox {
    .k-dropdown-wrap {
      border-bottom: 0;

      &:hover {
        border-bottom: 0;
      }
    }
  }

  .k-combobox {
    .k-dropdown-wrap {
      border: unset;
      color: black;

      &.k-state-focused {
        -webkit-box-shadow: unset;
        box-shadow: unset;
        border: unset;
        border-bottom: 1px solid #0092d1;
      }
    }

    .k-select {
      background: transparent;
    }
  }

  // NOTE: This should probably be moved to the components library
  .k-filter-row {
    .filter-input {
      position: relative;

      kendo-numerictextbox,
      kendo-datepicker,
      kendo-dropdownlist {
        &.k-numerictextbox,
        &.k-datepicker,
        &.k-dropdown {
          width: calc(100% - 2em);

          .k-numeric-wrap,
          .k-dateinput-wrap,
          .k-dropdown-wrap {
            background: #ffffff !important;
            border: 1px solid #ccc;
            border-radius: 3px;
            overflow: hidden;

            &.k-state-focused {
              border-color: $color-active;
            }
          }

          .k-numeric-wrap {
            height: 1rem;
            max-height: 1rem;

            .k-input {
              height: unset;
            }
          }

          &.k-datepicker {
            .k-picker-wrap {
              border-bottom: unset;
              border-radius: 3px;
            }

            .k-select {
              bottom: 4px;
            }
          }
        }
      }
    }
  }

  kendo-dropdownlist.k-dropdown .k-dropdown-wrap,
  .k-dropdown-wrap {
    border-bottom: 1px solid #999;

    &:hover {
      border-bottom: 1px solid #999;
      border-color: rgba(222, 222, 222, 0.5);
    }
  }
}

kendo-list {
  &.ng-star-inserted {
    .k-list {
      .k-item {
        line-height: unset;
        font-weight: normal;
        white-space: pre;
        padding: 0px 2px 1px;
        min-height: 1.2em;
        overflow-x: hidden;

        &.k-state-selected {
          color: white;
          background-color: #0092d1;
        }

        &.k-state-focused {
          box-shadow: unset;
          -webkit-box-shadow: unset;
        }
      }
    }
  }
}

kendo-combobox,
kendo-dropdownlist {
  &.k-header {
    border: unset;
  }

  &.k-combobox {
    .k-select {
      background: unset;
    }
  }

  &.k-combobox,
  &.k-dropdown {
    display: block;

    .k-dropdown-wrap {
      border: unset;
      color: black;
      border-bottom: 1px solid #999;

      &.k-state-focused {
        -webkit-box-shadow: unset;
        box-shadow: unset;
        border: unset;
        border-bottom: 1px solid #0092d1;
      }

      &:hover {
        border: unset;
        border-bottom: 1px solid #999;
      }

      @include k-input();
    }
  }

  .k-select {
    .k-icon {
      color: #0092d1;
    }
  }

  &.has-error {
    border: none !important;
    .k-dropdown-wrap {
      border-bottom: 1px #f00 solid !important;
    }
  }
}

.k-timepicker {
  .k-select {
    color: #0092d1 !important;
  }
}

.k-timepicker:hover .k-select {
  background-color: inherit;
  background-image: none;
}

kendo-datepicker {
  &.k-datepicker {
    display: block;

    &:hover {
      .k-select {
        border: unset;
        background-color: unset;
        background-image: unset;
        color: #0092d1;
      }
    }

    .k-widget {
      ::selection {
        background-color: unset;
        color: unset;
        color: black;
      }
    }

    .k-dateinput {
      @include k-input();
    }

    .k-dateinput-wrap {
      border: unset;
    }

    .k-picker-wrap {
      border: unset;
      border-bottom: 1px solid #999;
    }

    .k-state-focused {
      -webkit-box-shadow: unset;
      box-shadow: unset;
      border: unset;
      border-bottom: 1px solid #0092d1;
    }

    .k-select {
      border: unset;
      background-color: unset;
      background-image: unset;
      color: #0092d1;
      position: absolute;
      right: 0px;
      bottom: 2px;

      &:hover {
        background-color: unset;
        background-image: unset;
        color: #0092d1;
      }
    }
  }
}