@mixin k-input {
	.k-input {
		padding: 0 0.25rem;
		height: 1rem;
		max-height: 1rem;
		font-size: 0.541667rem;
	}
}

kendo-numerictextbox {
	&.k-widget {
		::selection {
			background-color: unset;
			color: unset;
			color: black;
		}
		&.form-control {
			@include k-input();
		}
	}

	&.form-control {
		height: unset;
	}

	&:hover {
		.k-select {
			border-color: unset;
			background-color: unset;
			background-image: unset;
			color: #0092d1;
		}
	}

	&.k-numerictextbox {
		.k-numeric-wrap {
			border: unset;
			color: black;
			border-bottom: 1px solid #999;
		}

		.k-state-focused {
			-webkit-box-shadow: unset;
			box-shadow: unset;
			border: unset;
			border-bottom: 1px solid #0092d1;
		}

		.k-select {
			border: unset;
			background-color: unset;
			background-image: unset;
			color: #0092d1;

			&:hover {
				background-color: unset;
				background-image: unset;
				color: #0092d1;
			}
		}
	}
}

kendo-grid.k-grid {
	// Adding the appropriate class to the grid will fix the issue with the clarity dropdown list action within the kendo-grid
	// Example if you have a action dropdown in a row with 3 actions, add the class "row-actions-3-children"
	@for $i from 1 through 10 {
		&.row-actions-#{$i}-children {
			tr:nth-last-of-type(-n + #{$i}) {
				.action-button {
					clr-dropdown-menu {
						top: auto !important;
						bottom: 0px !important;
						transform: translateY(-25px) !important;
					}
				}
			}
		}
	}

	kendo-dropdownlist.k-dropdown,
	kendo-combobox.k-combobox {
		.k-dropdown-wrap {
			border-bottom: 0;
			&:hover {
				border-bottom: 0;
			}
		}
	}
	.k-combobox {
		.k-dropdown-wrap {
			border: unset;
			color: black;
			&.k-state-focused {
				-webkit-box-shadow: unset;
				box-shadow: unset;
				border: unset;
				border-bottom: 1px solid #0092d1;
			}
		}
		.k-select {
			background: transparent;
		}
	}
	.k-grid-table tr td:nth-child(-n + 2) {
		overflow: visible;
	}

	// NOTE: This should probably be moved to the components library
	.k-filter-row {
		.filter-input {
			position: relative;
			kendo-numerictextbox,
			kendo-datepicker,
			kendo-dropdownlist {
				&.k-numerictextbox,
				&.k-datepicker,
				&.k-dropdown {
					width: calc(100% - 2em);

					.k-numeric-wrap,
					.k-dateinput-wrap,
					.k-dropdown-wrap {
						background: #ffffff !important;
						border: 1px solid #ccc;
						border-radius: 3px;
						overflow: hidden;

						&.k-state-focused {
							border-color: $color-active;
						}
					}

					.k-numeric-wrap {
						height: 1rem;
						max-height: 1rem;

						.k-input {
							height: unset;
						}
					}

					&.k-datepicker {
						.k-picker-wrap {
							border-bottom: unset;
							border-radius: 3px;
						}

						.k-select {
							bottom: 4px;
						}
					}
				}
			}
		}
	}

  kendo-dropdownlist.k-dropdown .k-dropdown-wrap,
  .k-dropdown-wrap {
    border-bottom: 1px solid #999;

    &:hover {
      border-bottom: 1px solid #999;
      border-color: rgba(222,222,222,.5);
    }
  }
}

kendo-list {
	&.ng-star-inserted {
		.k-list {
			.k-item {
				line-height: unset;
				font-weight: normal;
				white-space: pre;
				padding: 0px 2px 1px;
				min-height: 1.2em;
				overflow-x: hidden;

				&.k-state-selected {
					color: white;
					background-color: #0092d1;
				}

				&.k-state-focused {
					box-shadow: unset;
					-webkit-box-shadow: unset;
				}
			}
		}
	}
}
kendo-combobox,
kendo-dropdownlist {
	&.k-header {
		border: unset;
	}

	&.k-combobox {
		.k-select {
			background: unset;
		}
	}

	&.k-combobox,
	&.k-dropdown {
		display: block;

		.k-dropdown-wrap {
			border: unset;
			color: black;
			border-bottom: 1px solid #999;

			&.k-state-focused {
				-webkit-box-shadow: unset;
				box-shadow: unset;
				border: unset;
				border-bottom: 1px solid #0092d1;
			}

			&:hover {
				border: unset;
				border-bottom: 1px solid #999;
			}

			@include k-input();
		}
	}
	.k-select {
		.k-icon {
			color: #0092d1;
		}
	}
}

.k-timepicker {
  .k-select {
    color: #0092d1 !important;
  }
}
.k-timepicker:hover .k-select {
  background-color: inherit;
  background-image: none;
}

kendo-datepicker {
	&.k-datepicker {
		display: block;

		&:hover {
			.k-select {
				border: unset;
				background-color: unset;
				background-image: unset;
				color: #0092d1;
			}
		}

		.k-widget {
			::selection {
				background-color: unset;
				color: unset;
				color: black;
			}
		}

		.k-dateinput {
			@include k-input();
		}

		.k-dateinput-wrap {
			border: unset;
		}

		.k-picker-wrap {
			border: unset;
			border-bottom: 1px solid #999;
		}

		.k-state-focused {
			-webkit-box-shadow: unset;
			box-shadow: unset;
			border: unset;
			border-bottom: 1px solid #0092d1;
		}

		.k-select {
			border: unset;
			background-color: unset;
			background-image: unset;
			color: #0092d1;
			position: absolute;
			right: 0px;
			bottom: 2px;

			&:hover {
				background-color: unset;
				background-image: unset;
				color: #0092d1;
			}
		}
	}
}
