/* Overwrites the color on the angular css for the Orange */
/* The color base for the manager color is Burnt Orange */
$baseOrangeColor: #bf5700;

$grey: #ddd;
$c_grey2: #ebebeb;
$c_grey3: #f4f4f4;
$darkgray: darkgray;

$white: #fff;
$c_white1: #f7f7f7;
$c_white2: #fafafa;

$black: #000;
$c_black2: #333;
$c_black3: #444;

$fontDisabledGray: #ccc;
$c_menuSelected: #e1e3e9;
$red: red;
$c_red2: #cd3333;
$urlElement: #2c61aa;

// KENDO MATERIAL BASE COLORS
$border-color_orange: #bc6013;
$material_c_blue2: $baseOrangeColor;
$material_c_blue3: #783600; /*KENDO DATE */
$material_c_blue1_action_toolbar_btn: #783600;
$material_c_blue1_header_text: #4d2300;

/* Alert MSG */
$info_c_blue: #5f9fcf;
$messageError: red;

/* Prelogin Message */
$warning: #c87f0a;
$warningLicense: #ffcc00;

// Header
// header.main-header {
//   nav.navbar {
//     background-color: $baseOrangeColor !important;
//   }
// }

// Kendo Grid Table Header
.k-grid .k-grid-toolbar {
  border-color: $baseOrangeColor !important;
  background-color: $baseOrangeColor !important;
}

.k-grid .k-grid-toolbar .kendo-grid-toolbar__refresh-btn {
  margin-top: 6px;
}

div.content-wrapper {
	div.container {
		tds-app {
			div.content {
				section {
					// Kendo Grid
					kendo-grid {
						kendo-grid-toolbar {
							border-color: $border-color_orange;
							background-color: $border-color_orange;
						}
					}
					kendo-pager {
						kendo-pager-numeric-buttons {
							li {
								a.k-state-selected {
									background-color: $border-color_orange;
								}
							}
						}
					}
				}
			}
		}
	}
}
// Dialog
div.modal-dialog {
	div.modal-content {
		div.modal-header {
			border-color: $border-color_orange !important;
			background-color: $border-color_orange !important;
		}
		.nav-tabs-custom {
			ul.nav {
				li.active {
					border-top-color: $border-color_orange;
				}
			}
		}
		button.btn-primary {
			border-color: $border-color_orange;
			background-color: $border-color_orange;
		}
		button {
			.glyphicon.glyphicon-ok {
				color: white;
			}
			&.btn-danger {
				.glyphicon-remove {
					color: white;
				}
			}
		}
	}
}
