<header class="main-header" *ngIf="userContext">
    <nav class="navbar navbar-static-top">
        <div class="container menu-top-container" [ngClass]="{'menu-top-container-full-menu': !userContext.licenseEnabled}">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <!-- LOGO -->
                <img *ngIf="userContext.licenseEnabled && !userContext.imageId" id="logo-header" src="/tdstm/assets/images/TMHeaderLogoManager.png" alt="TransitionManager" border="0" />
                <img *ngIf="!userContext.licenseEnabled && userContext.imageId" src="/tdstm/project/showImage/{{userContext.imageId}}" alt="${currProject.name} project" style="height: 30px;  margin-top: 8px;"/>
                <img *ngIf="!userContext.licenseEnabled && !userContext.imageId" id="logo-header" src="/tdstm/assets/images/TMHeaderLogo.png" alt="TransitionManager" border="0" />
            </div>

            <!--<g:if test="${isLicenseManagerEnabled}">-->
                <!--<g:render template="/layouts/licmanMenu" model="[currProject:currProject, partyGroup: partyGroup, room:room, moveEvent:moveEvent, isLicenseManagerEnabled:isLicenseManagerEnabled]"  />-->
            <!--</g:if>-->
            <!--<g:else>-->
                <!--<g:render template="/layouts/tranmanMenu" model="[currProject:currProject, partyGroup: partyGroup, room:room, moveBundle:moveBundle, moveEvent:moveEvent, isLicenseManagerEnabled:isLicenseManagerEnabled]"  />-->
            <tds-tranman-menu *ngIf="!userContext.licenseEnabled"></tds-tranman-menu>
            <!--</g:else>-->


            <!-- Navbar Right Menu -->
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <!-- Notifications Menu -->
                   <li class="dropdown notifications-menu">
                       <!-- Menu toggle button -->
                        <a href="#" id="nav-project-name" class="dropdown-toggle" data-toggle="dropdown">
                            <!--<g:if test="${currProject}"> ${currProject.name} </g:if>-->
                            <!--<g:if test="${moveEvent}"> : ${moveEvent.name}</g:if>-->
                            <!--<g:if test="${moveBundle}"> : ${moveBundle.name}</g:if>-->
                        </a>
                    </li>
                    <li>
                        <!--<g:if test="${!isLicenseManagerEnabled}">-->
                            <!--<tds:licenseWarning />-->
                        <!--</g:if>-->
                    </li>

                    <!-- User Account Menu -->
                    <li class="dropdown user user-menu">
                        <!-- Menu Toggle Button -->
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <!-- The user image in the navbar-->
                            <img src="/tdstm/assets/images/personIcon.png" class="user-image" alt="TDS">
                            <!-- hidden-xs hides the username on small devices so only the image appears. -->
                            <span class="hidden-xs user-name">{{userContext.userInfo.username}}</span>
                        </a>
                        <ul class="dropdown-menu user-dialog-dropdown-menu">
                            <!-- Menu Body -->
                            <li class="user-body">
                                <ul class="list-group">
                                    <li class="list-group-item"><a href="#" style="cursor: pointer;"><span class="glyphicon glyphicon-user user-menu-icon-badge"></span> Account Details</a></li>
                                    <li class="list-group-item"><a href="#" style="cursor: pointer;"><span class="glyphicon glyphicon-time user-menu-icon-badge"></span> Date and Timezone</a></li>
                                    <li class="list-group-item"><a href="#" style="cursor: pointer;"><span class="glyphicon glyphicon-pencil user-menu-icon-badge"></span> Edit Preferences</a></li>
                                </ul>
                            </li>
                            <!-- Menu Footer-->
                            <li class="user-footer">
                                <div class="pull-right">
                                    <a href="/tdstm/auth/signOut" class="btn btn-default btn-flat"><span class="glyphicon glyphicon-log-out user-menu-icon-badge"></span> Sign Out</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-custom-menu -->
        </div><!-- /.container-fluid -->
    </nav>
</header>