<header class="main-header header-component" *ngIf="(!pageMetaData.hideTopNav || !userContext) && userContext.logged">
    <nav class="navbar navbar-static-top">
        <div class="container menu-top-container" [ngClass]="{'menu-top-container-full-menu': userContext.license && !userContext.license.isManager}">
			<div class="navbar-header branding">
				<img [src]="userContext.project.logoUrl" alt="Transition Manager Logo" />
			</div>

			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mobile-nav">
				<i class="fa fa-bars"></i>
			</button>

			<div id="mobile-nav" class="navbar-item-group">
				<!-- User Menu -->
				<div class="navbar-custom-menu user-navarea">
					<ul class="nav navbar-nav">
						<!-- Notifications Menu -->
						<li class="notifications-menu">
							<span class="tds-nav-item" id="nav-project-name">
								<span *ngIf="userContext.project">{{userContext.project.name}}</span>
							</span>
						</li>
						<li *ngIf="userContext.license && !userContext.license.isManager && userContext.license.message">
							<tds-license-warning></tds-license-warning>
						</li>
						<!-- User Account Menu -->
						<li class="dropdown user user-menu">
							<!-- Menu Toggle Button -->
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" [title]="fullName | async">
								<span class="user-name">{{iconText | async}}</span>
								<span class="user-menu-text">Account Options</span>
							</a>
							<ul class="dropdown-menu">
								<li class="menu-child-item">
									<a (click)="openEditPersonModal()" style="cursor: pointer;">Account Details</a>
								</li>
								<li class="menu-child-item">
									<a (click)="openDateTimezoneModal()" style="cursor: pointer;">Date and Timezone</a>
								</li>
								<li class="menu-child-item">
									<a (click)="openPrefModal()" style="cursor: pointer;">Edit Preferences</a>
								</li>
								<li class="divider"></li>
								<li class="menu-child-item">
									<a (click)="logOut()" style="cursor: pointer;">Sign Out</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>

				<tds-tranman-menu></tds-tranman-menu>
			</div>
		</div>
	</nav>
</header>
