<div class="modal fade in" id="device-manufacturer-component" data-backdrop="static" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content resizable" [style.width.px]="500">
            <div class="modal-header">
                <button (click)="cancelCloseDialog()" type="button" class="close" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">Show Manufacturer</h4>
            </div>
            <div class="modal-body">
                <div class="modal-body-container">
                    <form name="deviceManufacturerForm" role="form" data-toggle="validator"
                          #deviceManufacturerForm='ngForm' class="form-horizontal left-alignment">
                        <div class="box-body">
                            <div class="form-group">
                                <div class="col-md-6">Name:</div>
	                            <div class="col-md-6">{{deviceManufacturer.name}}</div>
                            </div>
	                        <div class="form-group">
		                        <div class="col-md-6">AKA:</div>
		                        <div class="col-md-6">{{alias}}</div>
	                        </div>
	                        <div class="form-group">
		                        <div class="col-md-6">Description</div>
		                        <div class="col-md-6">{{deviceManufacturer.description}}</div>
	                        </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer form-group-center">
                <button type="button" class="btn btn-default pull-right" (click)="cancelCloseDialog()">
                    <span class="glyphicon glyphicon-ban-circle"></span>
                    <span>Cancel</span>
                </button>
            </div>
        </div>
    </div>
</div>
