.diagram-layout > .modal {
  display: block !important;
}

.diagram-layout > .modal-content {
  display: block !important;
}

.diagram-layout > .modal-dialog {
  display: block  !important;
}

.diagram-layout > .modal-backdrop {
  background-color: #303030 !important;
}
