<div *ngIf="getCurrentNotice(); let notice" tds-handle-escape (escPressed)="onCancel()">
    <form name="form"
          role="form"
          data-toggle="validator"
          class="form-horizontal"
          #form='ngForm'>
	        <div class="form-group agreement">
		        <div class="col-sm-12 mandatory-container">
			        <div [innerHTML]="sanitizeHTML(notice.htmlText)"></div>
		        </div>
			</div>
    </form>
	<hr/>
    <div class="form-group-center" style="display: flex">
		<div class="col-sm-12">
			<label class="pull-left agreement-checkbox"> 
				{{ (notice.acknowledgeLabel  || 'NOTICE.AGREEMENT') | translate }}
			</label>
		</div>

		<div class="col-sm-12">
			<tds-button-custom  (click)="onAccept()" 
								icon="check" 
								title="Accept" 
								class="btn-primary pull-left">
			</tds-button-custom>
			<tds-button-cancel (click)="onCancel()" 
				class="pull-right"> 
			</tds-button-cancel> 
		</div>
	</div>
</div>