<div class="planning-dashboard-component">
    <div class="phase-wrapper">
        <div class="dashboard-div discovery-phase">
            <span class="dashboard_head">Discovery Phase</span>
            <div>
                Progress bars here
            </div>
            <h4>Total Discovered</h4>
            <div>Table Here</div>
            <h4>Open Tasks</h4>
            <div>Details here</div>
        </div>
        <div class="dashboard-div analysis-phase">
            TEST
        </div>
        <div class="dashboard-div execution-phase">
            TEST
        </div>
    </div>
</div>