<div class="planning-dashboard-component">
    <div class="phase-wrapper">
        <div class="dashboard-div discovery-phase">
            <span class="dashboard-head">Discovery Phase</span>
            <div>
                <table class="percentage-bars">
                    <!-- Applications Validated Progressbar -->
                    <tbody><tr>
                        <td class="dashboard-bar-base">

                            <div class="dashboard-bar-graph" [style.width]="planningDashboardModel.discovery.appsValidatedPercentage+'%'"></div>
                            <div class="percentage-bar-text">
                                <b> {{planningDashboardModel.discovery.appsValidatedPercentage}}% </b>
                                <a href="/tdstm/application/list?filter=application&amp;toValidate=Validated">
                                    Applications Validated
                                </a>
                            </div>

                        </td>
                    </tr>
                    <!-- Applications Ready Progressbar --->
                    <tr>
                        <td class="dashboard-bar-base">

                            <div class="dashboard-bar-graph" [style.width]="planningDashboardModel.discovery.appsPlanReadyPercentage+'%'"></div>
                            <div class="percentage-bar-text">
                                <b> {{planningDashboardModel.discovery.appsPlanReadyPercentage}}% </b>
                                <a href="/tdstm/application/list?filter=application&amp;toValidate=PlanReady">Applications Plan Ready</a>
                            </div>

                        </td>
                    </tr>
                    </tbody></table>
            </div>
            <h4>Total Discovered</h4>
            <table>
                <tr *ngFor="let row of planningDashboardModel.discovery.totals">
                    <td class="dashboard-stat-icon-td"><a [href]="row.link"><img height="16px" width="16px" [src]="row.img" ></a></td>
                    <td class="dashboard-stat-desc-td"><a [href]="row.link">{{row.type}}</a></td>
                    <td class="dashboard-stat-td-l"><a [href]="row.link">{{row.total}}</a></td>
                    <td class="dashboard-stat-graph-td">
                        <div class="dashboard-bar-base-small">
                            <div class="dashboard-bar-graph-small" [style.width]="((row.total-row.toValidate)/ row.total)*100 + '%'"></div>
                        </div>
                        <a [href]="row.link">{{row.toValidate}} to validate</a>
                    </td>
                </tr>
            </table>
            <h4>Open Tasks</h4>
            <div>
                <a href="/tdstm/assetEntity/listTasks?filter=openIssue&moveEvent=0&justRemaining=1">{{planningDashboardModel.discovery.activeTasks}} Active Tasks</a>
            </div>
            <div *ngIf="planningDashboardModel.discovery.overdueTasks > 0">
                <a href="/tdstm/assetEntity/listTasks?filter=dueOpenIssue&moveEvent=0&justRemaining=1">{{planningDashboardModel.discovery.overdueTasks}} Overdue Tasks</a>
            </div>
        </div>
        <div class="dashboard-div analysis-phase">
            <span class="dashboard-head">Analysis & Planning Phase</span>
            <div><table class="percentage-bars">
                <tbody><tr>
                    <td class="dashboard-bar-base">

                        <div class="dashboard-bar-graph" [style.width]="planningDashboardModel.analysis.assignedAppPerc+'%'"></div>
                        <div class="percentage-bar-text">
                            <b> {{planningDashboardModel.analysis.assignedAppPerc}}% </b>
                            <a href="/tdstm/application/list?filter=application&amp;plannedStatus=Assigned">Applications Assigned</a>
                        </div>

                    </td>
                </tr>
                <tr>
                    <td class="dashboard-bar-base">
                        <div class="dashboard-bar-graph" [style.width]="planningDashboardModel.analysis.confirmedAppPerc+'%'"></div>
                        <div class="percentage-bar-text">
                            <b> {{planningDashboardModel.analysis.confirmedAppPerc}}% </b>
                            <a href="/tdstm/application/list?filter=application&amp;plannedStatus=Confirmed">Applications Confirmed</a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
            </div>
            <h4>Application Review Status</h4>
            <div>
                <table class="dashboard-stat-table">
                    <tr>
                        <a href="/tdstm/application/list?filter=application&toValidate=Validated"><td class="dashboard-stat-td-l">{{planningDashboardModel.analysis.validated}}</td><td>Validated</td></a>
                    </tr>
                    <tr>
                        <a href="/tdstm/application/list?filter=application&toValidate=PlanReady"><td class="dashboard-stat-td-l">{{planningDashboardModel.analysis.planReady}}</td><td>Plan Ready</td></a>
                    </tr>
                </table>
            </div>
            <h4>Dependencies</h4>
            <div>
                <table class="dashboard-stat-table">
                    <tr>
                        <td class="dashboard-stat-td-l">{{planningDashboardModel.analysis.pendingAppDependenciesCount}}</td>
                        <td>
                            <span>App dependencies to validate</span> <br/>
                            <span>({{planningDashboardModel.analysis.appDependenciesCount ? ((planningDashboardModel.analysis.pendingAppDependenciesCount/planningDashboardModel.analysis.appDependenciesCount)*100| number:'1.0-0') : 0}}% of the {{planningDashboardModel.analysis.appDependenciesCount}} total)</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="dashboard-stat-td-l">{{planningDashboardModel.analysis.pendingServerDependenciesCount}}</td>
                        <td>
                            <span>Server dependencies to validate</span> <br/>
                            <span>({{planningDashboardModel.analysis.serverDependenciesCount ? ((planningDashboardModel.analysis.pendingServerDependenciesCount/planningDashboardModel.analysis.serverDependenciesCount)*100| number:'1.0-0') : 0}}% of the {{planningDashboardModel.analysis.serverDependenciesCount}} total)</span>
                        </td>
                    </tr>
                    <tr>
                        <td><a href="/tdstm/application/list?filter=application&planMethodology=Unknown&ufp=true">{{planningDashboardModel.analysis.activeTasks}}</a></td>
                        <td><a href="/tdstm/application/list?filter=application&planMethodology=Unknown&ufp=true">Active Tasks</a></td>
                    </tr>
                    <tr *ngIf="planningDashboardModel.analysis.overdueTasks > 0">
                        <td><a href="/tdstm/application/list?filter=dueOpenIssue&planMethodology=Unknown&ufp=true">{{planningDashboardModel.analysis.overdueTasks}}</a></td>
                        <td><a href="/tdstm/application/list?filter=dueOpenIssue&planMethodology=Unknown&ufp=true">Overdue Tasks</a></td>
                    </tr>
                </table>
            </div>
            <h4>Application Plans</h4>
            <table class="dashboard-stat-table">
                <tr *ngFor="let row of planningDashboardModel.analysis.groupPlanMethodologyCount">
                    <td class="dashboard-stat-td-l"><a href="/tdstm/application/list?filter=application&planMethodology={{row.type}}&ufp=true">{{row.value}}</a></td>
                    <td><a href="/tdstm/application/list?filter=application&planMethodology={{row.type}}&ufp=true">{{row.type}}</a></td>
                </tr>
            </table>
        </div>
        <div class="dashboard-div execution-phase">
            <span class="dashboard-head">Execution Phase</span>
            <div>
                <table class="percentage-bars">
                    <tbody><tr>
                        <td class="dashboard-bar-base">

                            <div class="dashboard-bar-graph" [style.width]="planningDashboardModel.execution.movedAppPerc+'%'"></div>
                            <div class="percentage-bar-text">
                                <b> {{planningDashboardModel.execution.movedAppPerc}}% </b>
                                <a href="/tdstm/application/list?filter=application&amp;plannedStatus=Moved">Applications Completed</a>
                            </div>

                        </td>
                    </tr>


                    <tr>
                        <td class="dashboard-bar-base">

                            <div class="dashboard-bar-graph" [style.width]="planningDashboardModel.execution.movedServerPerc+'%'"> </div>
                            <div class="percentage-bar-text">
                                <b> {{planningDashboardModel.execution.movedServerPerc}}% </b>
                                <a href="/tdstm/application/list?filter=server&amp;plannedStatus=Moved">Servers Completed</a>
                            </div>

                        </td>
                    </tr>

                    </tbody></table>
            </div>
            <div class="container-fluid">
                <div class="row-fluid">
                    <div class="execution-table">
                        <table class="dashboard-right-table dashboard-stat-table">
                                <thead *ngIf="planningDashboardModel.execution.moveEventList.length > 0">
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th rowspan="3" class="dashboard-stat-exec-td "  valign="bottom">
                                        <div><b>Unassigned</b></div>
                                    </th>

                                    <th *ngFor="let event of planningDashboardModel.execution.moveEventList" class="dashboard-stat-exec-tdmc">
                                        <div class="dashboard-stat-exec-tdmc-title">
                                            <a href="/tdstm/dashboard/index?moveEvent={{event.id}}">
                                                {{event.name.length > 18 ? event.name.substring(0,15) + '...' : event.name}}
                                            </a>
                                        </div>
                                    </th>
                                    <th class="dashboard-stat-exec-tdmc-title"></th>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td *ngFor="let event of planningDashboardModel.execution.moveEventList" class="dashboard-stat-exec-tdmc" nowrap>
                                        <b>{{planningDashboardModel.execution.eventStartDate[event.id]}}</b>
                                    </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                     <td *ngFor="let event of planningDashboardModel.execution.moveEventList" class="dashboard-stat-exec-tdmc">
                                         <b> {{event.runbookStatus ? event.runbookStatus : ''}}</b>
                                     </td>
                                    <td class="dashboard-stat-exec-tdmc done-column">
                                        <b>Done</b>
                                    </td>
                                </tr>
                                </thead>
                            <tbody>
                            <tr>
                                <td class="dashboard-stat-icon-td"><img height="16px" width="16px" src="/tdstm/assets/icons/svg/application_menu.svg"/></td>
                                <td class="asset-name-column">
                                    <a>Applications</a>
                                </td>
                                <td class="execution-data-column"><a>{{planningDashboardModel.execution.unassignedAppCount}} ({{planningDashboardModel.execution.unassignedAppPerc}}%)</a></td>
                                <td *ngFor="let app of planningDashboardModel.execution.appList" class="execution-data-column">
                                    <span *ngIf="app.count==0" class='colorGrey'>0</span>
                                    <a *ngIf="app.count!=0">
                                        {{app.count}}
                                    </a>
                                </td>
                                <td class="execution-data-column"><a>{{planningDashboardModel.execution.appDonePerc}}%</a></td>
                            </tr>
                            <tr>
                                <td class="dashboard-stat-icon-td"><img height="16px" width="16px" src="/tdstm/assets/icons/svg/serverPhysical_menu.svg"/></td>
                                <td>
                                    <a>Physical Server</a>
                                </td>
                                <td class="execution-data-column"><a>{{planningDashboardModel.execution.unassignedPhyServerCount}} ({{planningDashboardModel.execution.unassignedPhyServerPerc}}%)</a></td>
                                <td *ngFor="let server of planningDashboardModel.execution.phyServerList" class="execution-data-column">
                                    <span *ngIf="server.count==0" class='colorGrey'>0</span>
                                    <a *ngIf="server.count!=0">
                                        {{server.count}}
                                    </a>
                                </td>
                                <td class="execution-data-column"><a>{{planningDashboardModel.execution.phyServerDonePerc}}%</a></td>
                            </tr>
                            <tr>
                                <td class="dashboard-stat-icon-td"><img height="16px" width="16px" src="/tdstm/assets/icons/svg/serverVirtual_menu.svg"/></td>
                                <td>
                                    <a>Virtual Server</a>
                                </td>
                                <td class="execution-data-column"><a>{{planningDashboardModel.execution.unassignedVirtServerCount}} ({{planningDashboardModel.execution.unassignedVirtServerPerc}}%)</a></td>
                                <td *ngFor="let server of planningDashboardModel.execution.virtServerList" class="execution-data-column">
                                    <span *ngIf="server.count==0" class='colorGrey'>0</span>
                                    <a *ngIf="server.count!=0">
                                        {{server.count}}
                                    </a>
                                </td>
                                <td class="execution-data-column"><a>{{planningDashboardModel.execution.virtServerDonePerc}}%</a></td>
                            </tr>
                            <tr>
                                <td class="dashboard-stat-icon-td"><img height="16px" width="16px" src="/tdstm/assets/icons/svg/database_menu.svg"/></td>
                                <td><a>Databases</a></td>
                                <td class="execution-data-column"><a>{{planningDashboardModel.execution.unassignedDbCount}} ({{planningDashboardModel.execution.unassignedDbPerc}}%)</a></td>
                                <td *ngFor="let db of planningDashboardModel.execution.dbList" class="execution-data-column">
                                    <span *ngIf="db.count==0" class='colorGrey'>0</span>
                                    <a *ngIf="db.count!=0">
                                        {{db.count}}
                                    </a>
                                </td>
                                <td class="execution-data-column"><a>{{planningDashboardModel.execution.dbDonePercentage}}%</a></td>
                            </tr>
                            <tr>
                                <td class="dashboard-stat-icon-td"><img height="16px" width="16px" src="/tdstm/assets/icons/svg/storagePhysical_menu.svg"/></td>
                                <td nowrap="nowrap"><a>Physical Storage</a>
                                </td>
                                <td class="execution-data-column"><a>{{planningDashboardModel.execution.unassignedPhyStorageCount}} ({{planningDashboardModel.execution.unassignedPhyStoragePerc}}%)</a></td>
                                <td *ngFor="let storage of planningDashboardModel.execution.phyStorageList" class="execution-data-column">
                                    <span *ngIf="storage.count==0" class='colorGrey'>0</span>
                                    <a *ngIf="storage.count!=0">
                                        {{storage.count}}
                                    </a>
                                </td>
                                <td class="execution-data-column"><a>{{planningDashboardModel.execution.phyStorageDonePerc}}%</a></td>
                            </tr>
                            <tr>
                                <td class="dashboard-stat-icon-td"><img height="16px" width="16px" src="/tdstm/assets/icons/svg/storageLogical_menu.svg"/></td>
                                <td><a>Logical Storage</a>
                                </td>
                                <td class="execution-data-column"><a>{{planningDashboardModel.execution.unassignedFilesCount}} ({{planningDashboardModel.execution.unassignedFilesPerc}}%)</a></td>
                                <td *ngFor="let file of planningDashboardModel.execution.filesList" class="execution-data-column">
                                    <span *ngIf="file.count==0" class='colorGrey'>0</span>
                                    <a *ngIf="file.count!=0">
                                        {{file.count}}
                                    </a>
                                </td>
                                <td class="execution-data-column"><a>{{planningDashboardModel.execution.filesDonePerc}}%</a></td>
                            </tr>
                            <tr>
                                <td class="dashboard-stat-icon-td"><img height="16px" width="16px" src="/tdstm/assets/icons/svg/other_menu.svg"/></td>
                                <td><a>Other</a>
                                </td>
                                <td class="execution-data-column"><a>{{planningDashboardModel.execution.unassignedOtherCount}} ({{planningDashboardModel.execution.unassignedOtherPerc}}%)</a></td>
                                <td *ngFor="let other of planningDashboardModel.execution.otherList" class="execution-data-column">
                                    <span *ngIf="other.count==0" class='colorGrey'>0</span>
                                    <a *ngIf="other.count!=0">
                                        {{other.count}}
                                    </a>
                                </td>
                                <td class="execution-data-column"><a>{{planningDashboardModel.execution.otherDonePerc}}%</a></td>
                            </tr>
                            <tr>
                                <td class="dashboard-stat-icon-td">&nbsp;</td>
                                <td><b>Open Tasks</b></td>
                                <td></td>
                                    <td *ngFor="let task of planningDashboardModel.execution.openTasks" class="execution-data-column">
                                        <span *ngIf="task.count==0" class='colorGrey'>0</span>
                                        <a *ngIf="task.count!=0">
                                            {{task.count}}
                                        </a>
                                    </td>
                                <td></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>