.user-preferences-component
  .modal-body
    padding: 6px 18px 1px 18px !important
  .modal-header
    cursor: move
  .buttons
    padding: 15px
    text-align: center
    .delete
      background: transparent url(../../../icons/database_delete.png) 5px 50% no-repeat
      width: 92px
      text-align: right
      border: none
      font-weight: 700
      font-size: 14px
      font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif
  th
    background-color: rgb(204, 204, 204)
    font-weight: bold
    padding: 0px 5px
  tbody
    display: table
    width: 100%
  table
    border: 1px solid #63a242
    width: 100%
    font-family: helvetica
    font-size: 12px
    color: #000
  td
    padding: 0px 5px
  .clear_filter
    font-size: 18px
    color: #B80000
    vertical-align: baseline
    cursor: pointer
    font-weight: bold