<div class="asset-tag-selector-component">
    <kendo-switch *ngIf="showSwitch"
            class="asset-tag"
            [(ngModel)]="assetSelectorModel.switch"
            [onLabel]="'AND'"
            [offLabel]="'OR'"
            (valueChange)="onSwitchValueChange($event)"
    ></kendo-switch>
    <kendo-multiselect
            id="asset-tag-selector-component"
            [data]="tagList"
            [(ngModel)]="assetSelectorModel.tags"
            [textField]="'name'"
            [valueField]="'id'"
            (valueChange)="onTagValueChange($event)"
            (open)="onOpen()">
        <ng-template kendoMultiSelectTagTemplate let-dataItem>
            <div class="{{dataItem.css}}">{{ dataItem.name }}</div>
        </ng-template>
        <ng-template kendoMultiSelectItemTemplate let-dataItem>
            <div class="asset-tag-selector-single-container">
                <div class="asset-tag-selector-single-item  {{dataItem.css}}">
                    <i class="fa fa-fw fa-check"></i> {{ dataItem.name }}
                </div>
            </div>
        </ng-template>
    </kendo-multiselect>
</div>