<div class="asset-tag-selector-component">
    <kendo-multiselect
            [data]="tagList"
            [(ngModel)]="value"
            [textField]="'name'"
            [valueField]="'id'"
            (open)="onOpen()">
        <ng-template kendoMultiSelectTagTemplate let-dataItem>
            <div class="{{dataItem.css}}">{{ dataItem.name }}</div>
        </ng-template>
        <ng-template kendoMultiSelectItemTemplate let-dataItem>
            <div class="asset-tag-selector-single-container">
                <div class="asset-tag-selector-single-item  {{dataItem.css}}">
                    <i class="fa fa-fw fa-check"></i> {{ dataItem.name }}
                </div>
            </div>
        </ng-template>
    </kendo-multiselect>
</div>