<div class="login-component change-password-component">
    <div class="login-box">

        <div class="login-box-body">
            <div class="login-logo">
                <a href="http://www.transitionaldata.com/service/transitionmanager" target="new">
                    <img src="/tdstm/assets/images/TMLoginLogo_v4.7.png" border="0" alt="Learn more about TransitionManager">
                </a>
            </div>

            <div>
                <h1 class="login-box-msg">{{'LOGIN.CHANGE_PASSWORD' | translate}}</h1>

                <form name="forgotPasswordForm">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" [(ngModel)]="hidePasswordFields" name="hiddenpassword" > Hide password
                        </label>
                    </div>
                    <div class="form-group has-feedback">
                        <input
                                [(ngModel)]="passwordChangeModel.newPassword"
                                (input)="validatePassword()"
                                type="{{hidePasswordFields ? 'password' : 'text'}}"
                                class="form-control passwordField"
                                name="password"
                                autocorrect="off"
                                autocapitalize="off"
                                placeholder="Enter your  password">
                    </div>

                    <em [ngClass]="{ 'error-msg': passwordChangeModel.containsUsername && passwordChangeModel.newPassword != '' }">Password must not contain the username <b class="hidden" [ngClass]="{ 'success-msg': !passwordChangeModel.containsUsername && passwordChangeModel.newPassword != '' }" >Ok</b></em><br />
                    <em [ngClass]="{ 'error-msg': !passwordChangeModel.atLeastMinimumLength && passwordChangeModel.newPassword != '' }">Password must be at least 8 characters long <b class="hidden" [ngClass]="{ 'success-msg': passwordChangeModel.atLeastMinimumLength && passwordChangeModel.newPassword != '' }" >Ok</b></em><br />
                    <em [ngClass]="{ 'error-msg': !passwordChangeModel.meetsCompositionRequirements && passwordChangeModel.newPassword != '' }">Password must contain at least 3 of these requirements: <b class="hidden" [ngClass]="{ 'success-msg': passwordChangeModel.meetsCompositionRequirements && passwordChangeModel.newPassword != '' }" >Ok</b></em>
                    <ul>
                        <li><em [ngClass]="{ 'error-msg': !passwordChangeModel.hasUppercaseChars && passwordChangeModel.newPassword != ''}">Uppercase characters <b class="hidden" [ngClass]="{ 'success-msg': passwordChangeModel.hasUppercaseChars && passwordChangeModel.newPassword != '' }" >Ok</b></em></li>
                        <li><em [ngClass]="{ 'error-msg': !passwordChangeModel.hasLowercaseChars && passwordChangeModel.newPassword != ''}">Lowercase characters <b class="hidden" [ngClass]="{ 'success-msg': passwordChangeModel.hasLowercaseChars && passwordChangeModel.newPassword != '' }" >Ok</b></em></li>
                        <li><em [ngClass]="{ 'error-msg': !passwordChangeModel.hasNumericChars && passwordChangeModel.newPassword != ''}">Numeric characters <b class="hidden" [ngClass]="{ 'success-msg': passwordChangeModel.hasNumericChars && passwordChangeModel.newPassword != '' }" >Ok</b></em></li>
                        <li><em [ngClass]="{ 'error-msg': !passwordChangeModel.hasNonAlphanumericChars && passwordChangeModel.newPassword != ''}">Nonalphanumeric characters <b class="hidden" [ngClass]="{ 'success-msg': passwordChangeModel.hasNonAlphanumericChars && passwordChangeModel.newPassword != '' }" >Ok</b></em></li>
                    </ul>
                    <div class="form-group has-feedback">
                        <input
                                [(ngModel)]="passwordChangeModel.confirmPassword"
                                type="{{hidePasswordFields ? 'password' : 'text'}}"
                                class="form-control passwordField"
                                name="confirmPassword"
                                autocorrect="off"
                                autocapitalize="off"
                                placeholder="Confirm password">
                    </div>

                    <em [ngClass]="{ 'error-msg': passwordChangeModel.confirmPassword !== passwordChangeModel.newPassword}">Password should match <b class="hidden" [ngClass]="{ 'error-msg': passwordChangeModel.confirmPassword === passwordChangeModel.newPassword}">Ok</b></em>

                    <div class="row">
                        <div class="col-xs-7">
                        </div>
                        <!-- /.col -->
                        <div class="col-xs-5">
                            <button
                                    type="button"
                                    class="btn btn-primary btn-block btn-flat"
                                    [disabled]="(!passwordChangeModel.meetsCompositionRequirements) || passwordChangeModel.confirmPassword !== passwordChangeModel.newPassword"
                                    (click)="onPasswordChange()">
                                {{'LOGIN.SAVE_PASSWORD' | translate}}
                            </button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>

                <a href="javascript:void(0)" (click)="backToLogin()" class="light back-to-login" [ngClass]="{'center': passwordSent}">{{'LOGIN.BACK_TO_LOGIN' | translate}}</a>
            </div>

        </div>
        <!-- /.login-box-body -->
    </div>
</div>
