<div class="change-password-component clr-row">
    <div class="clr-col-auto login-component-form__wrapper">
        <div class="clr-row clr-justify-content-center">
            <section class="login-component-form__section clr-col-auto clr-align-self-center">
                <div class="login-box-body">
                    <div class="login-logo">
                        <a href="http://www.transitionaldata.com/service/transitionmanager" target="new">
                            <img src="/tdstm/assets/images/TMLoginLogo_v4.7.png" border="0"
                                 alt="Learn more about TransitionManager">
                        </a>
                    </div>
                    <div>
                        <h1>{{'LOGIN.CHANGE_PASSWORD' | translate}}</h1>
                        <form clrForm clrLayout="vertical" class="login-form is-fullwidth"
                              (keyup.enter)="onPasswordChange()" [formGroup]="changePasswordForm">
                            <clr-password-container class="clr-col-12 login-password__clr-container">
                                <input clrPassword formControlName="newPassword"
                                       placeholder="Enter password"
                                       autocomplete="doNotAutoComplete"
                                       name="password" id="newPassword"
                                       [(ngModel)]="passwordChangeModel.newPassword"
                                       (input)="validatePassword()" required/>
                            </clr-password-container>
                            <div class="requirements-container">
                                <div class="clr-row">
                                    <div class="clr-col-11">
                                        <span class="label no-border responsive-text">
                                            Password must not contain the username
                                        </span>
                                    </div>
                                    <div class="clr-row-1">
                                        <clr-icon
                                                *ngIf="passwordChangeModel.containsUsername && passwordChangeModel.newPassword != ''"
                                                shape="times" class="is-error">
                                        </clr-icon>
                                        <clr-icon
                                                *ngIf="!passwordChangeModel.containsUsername && passwordChangeModel.newPassword != ''"
                                                shape="check" class="is-success">
                                        </clr-icon>
                                    </div>
                                </div>
                                <div class="clr-row">
                                    <div class="clr-col-11">
                                        <span class="label no-border responsive-text">
                                            Password must be at least 8 characters long
                                        </span>
                                    </div>
                                    <div class="clr-row-1">
                                        <clr-icon
                                                *ngIf="!passwordChangeModel.atLeastMinimumLength && passwordChangeModel.newPassword != ''"
                                                shape="times" class="is-error">
                                        </clr-icon>
                                        <clr-icon
                                                *ngIf="passwordChangeModel.atLeastMinimumLength && passwordChangeModel.newPassword != ''"
                                                shape="check" class="is-success">
                                        </clr-icon>
                                    </div>
                                </div>
                                <div class="clr-row">
                                    <div class="clr-col-11">
                                        <span class="label no-border responsive-text">
                                            Password must contain at least 3 of these requirements:
                                        </span>
                                    </div>
                                    <div class="clr-row-1">
                                        <clr-icon
                                                *ngIf="!passwordChangeModel.meetsCompositionRequirements && passwordChangeModel.newPassword != ''"
                                                shape="times" class="is-error">
                                        </clr-icon>
                                        <clr-icon
                                                *ngIf="passwordChangeModel.meetsCompositionRequirements && passwordChangeModel.newPassword != ''"
                                                shape="check" class="is-success">
                                        </clr-icon>
                                    </div>
                                </div>
                                <ul class="list">
                                    <li>
                                        <div class="clr-row">
                                            <div class="clr-col-11">
                                                <span class="label no-border responsive-text">
                                                    Uppercase characters
                                                </span>
                                            </div>
                                            <div class="clr-row-1">
                                                <clr-icon
                                                        *ngIf="!passwordChangeModel.hasUppercaseChars && passwordChangeModel.newPassword != ''"
                                                        shape="times" class="is-error">
                                                </clr-icon>
                                                <clr-icon
                                                        *ngIf="passwordChangeModel.hasUppercaseChars && passwordChangeModel.newPassword != ''"
                                                        shape="check" class="is-success">
                                                </clr-icon>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="clr-row">
                                            <div class="clr-col-11">
                                                <span class="label no-border responsive-text">
                                                    Lowercase characters
                                                </span>
                                            </div>
                                            <div class="clr-row-1">
                                                <clr-icon
                                                        *ngIf="!passwordChangeModel.hasLowercaseChars && passwordChangeModel.newPassword != ''"
                                                        shape="times" class="is-error">
                                                </clr-icon>
                                                <clr-icon
                                                        *ngIf="passwordChangeModel.hasLowercaseChars && passwordChangeModel.newPassword != ''"
                                                        shape="check" class="is-success">
                                                </clr-icon>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="clr-row">
                                            <div class="clr-col-11">
                                                <span class="label no-border responsive-text">
                                                    Numeric characters
                                                </span>
                                            </div>
                                            <div class="clr-row-1">
                                                <clr-icon
                                                        *ngIf="!passwordChangeModel.hasNumericChars && passwordChangeModel.newPassword != ''"
                                                        shape="times" class="is-error">
                                                </clr-icon>
                                                <clr-icon
                                                        *ngIf="passwordChangeModel.hasNumericChars && passwordChangeModel.newPassword != ''"
                                                        shape="check" class="is-success">
                                                </clr-icon>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="clr-row">
                                            <div class="clr-col-11">
                                                <span class="label no-border responsive-text">
                                                    Nonalphanumeric characters
                                                </span>
                                            </div>
                                            <div class="clr-row-1">
                                                <clr-icon
                                                        *ngIf="!passwordChangeModel.hasNonAlphanumericChars && passwordChangeModel.newPassword != ''"
                                                        shape="times" class="is-error">
                                                </clr-icon>
                                                <clr-icon
                                                        *ngIf="passwordChangeModel.hasNonAlphanumericChars && passwordChangeModel.newPassword != ''"
                                                        shape="check" class="is-success">
                                                </clr-icon>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <clr-password-container class="clr-col-12 login-password__clr-container">
                                <input clrPassword formControlName="confirmPassword"
                                       placeholder="Confirm password"
                                       autocomplete="doNotAutoComplete"
                                       name="confirmPassword"
                                       id="confirmPassword"
                                       [(ngModel)]="passwordChangeModel.confirmPassword" required/>
                                <clr-control-error *clrIfError="'mismatch'">Passwords do not match</clr-control-error>
                            </clr-password-container>
                            <span class="clr-subtext" *ngIf="error">{{error}}</span>
                            <div class="clr-row buttons-container">
                                <div class="clr-col-xl-7 clr-col-lg-5 clr-col-md-5 clr-col-sm-12 back-to-login-container">
                                    <a href="javascript:void(0)" (click)="backToLogin()"
                                       class="light back-to-login">{{'LOGIN.BACK_TO_LOGIN' | translate}}</a>
                                </div>
                                <div class="clr-col-xl-5 clr-col-lg-7 clr-col-md-7 clr-col-sm-12 login-button__wrapper">
                                    <tds-button
                                            id="loginBtn"
                                            class="login-button"
                                            theme="primary"
                                            title="{{'LOGIN.SAVE_PASSWORD' | translate}}"
                                            [disabled]="(!passwordChangeModel.meetsCompositionRequirements) || passwordChangeModel.confirmPassword !== passwordChangeModel.newPassword"
                                            (click)="onPasswordChange()">
                                        {{'LOGIN.SAVE_PASSWORD' | translate}}
                                    </tds-button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>