import-batch-record-dialog

  .modal-content
    min-width: 945px
    min-height: 520px
    width: 1065px

    .modal-header
      .modal-title
        float: left
      .tool-box
        float: right
    .modal-body
      height: 92%
      overflow: auto