<div id="main-loader" ng-show="progress.show">
    <div id="loader-icon">
        <div class="loader">{{ "PROCESSING_REQUEST" | translate }}</div>
    </div>
</div>
<div class="message-wrapper">
    <div class="message-wrapper-container" ng-if="alert.danger.show || alert.info.show || alert.warning.show || alert.success.show">
        <div class="alert alert-danger alert-dismissable fadeIn" ng-show="alert.danger.show">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <h4><i class="icon fa fa-ban"></i> {{"ERROR" | translate }}</h4>
            <div><span ng-if="alert.danger.status">{{alert.danger.status}} : </span> {{alert.danger.statusText}}</div>
            <div ng-if="alert.danger.errors.length > 0">
                <ul>
                    <li ng-repeat="error in alert.danger.errors">{{error}}</li>
                </ul>
            </div>
        </div>
        <div class="alert alert-info alert-dismissable fadeIn" ng-show="alert.info.show">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <h4><i class="icon fa fa-info"></i><span ng-if="alert.info.status">{{alert.info.status}} : </span>  {{alert.info.statusText}}</h4>
        </div>
        <div class="alert alert-warning alert-dismissable fadeIn" ng-show="alert.warning.show">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <h4><i class="icon fa fa-warning"></i><span ng-if="alert.warning.status">{{alert.warning.status}} : </span> {{alert.warning.statusText}}</h4>
        </div>
        <div class="alert alert-success alert-dismissable fadeIn" ng-show="alert.success.show">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <h4><i class="icon fa fa-check"></i><span ng-if="alert.success.status">{{alert.success.status}} : </span> {{alert.success.statusText}}</h4>
        </div>
    </div>
</div>