<div class="select-project-modal-component">
    <div class="modal-body">
		<div [ngSwitch]="projects.length">
			<label class="title-missing-project" *ngSwitchCase="0">{{ 'PROJECT.NO_ACTIVE_PROJECTS' | translate}} </label>
			<label class="title-missing-project" *ngSwitchDefault>{{ 'PROJECT.MISSING_PROJECT' | translate}} </label>
		</div>
        <form name="form"
              role="form"
              data-toggle="validator"
              class="form-horizontal"
			  #form='ngForm'>
			<div class="project-list-container">

				<button class="btn btn-primary change-project-status__btn" (click)="changeProjectStatus()">
					Show {{(selectedProjectStatus === projectType.COMPLETED)? 'Active': 'Completed'}} Projects
				</button>

				<ng-container *ngFor="let project of projects; let idx = index;">
					<div *ngIf="project.status == selectedProjectStatus">
						<label for="project{{project.id}}" class="select-project">
							<input id="project{{project.id}}" type="radio" value="{{project.id}}" name="projectId" [(ngModel)]="selectedProjectId" >
							<span>{{project.name}}</span>
						</label>
					</div>
				</ng-container>
			</div>
        </form>
    </div>

    <div class="modal-footer form-group-center">
		<div class="col-sm-12">
			<tds-button-custom  (click)="onContinue()" *ngIf="projects.length > 0"
				icon="check" 
				title="Continue" 
				class="btn-primary pull-left"
				[disabled]="!selectedProjectId">
			</tds-button-custom>

			<tds-button-cancel class="btn-secondary pull-right"  title="Cancel" (click)="onCancel()"></tds-button-cancel>
		</div>
	</div>
</div>
