<div class="user-dashboard-component">
    <div class="panel panel-default">
        <div class="panel-heading">
            <span>Project:</span>
            <kendo-dropdownlist [data]="projectList" [(ngModel)]="selectedProject" (ngModelChange)="onChangeProject()" textField="name" valueField="id"></kendo-dropdownlist>
        </div>
        <div class="panel-body">
            <div class="col-md-6 cell-container">
                <kendo-grid
                        [data]="eventList"
                        [selectable]="true">
                    <ng-template kendoGridToolbarTemplate>
                        <span>Events - Your assigned events and your team</span>
                        <div class="kendo-grid-toolbar__refresh-btn" (click)="fetchEventsForGrid()"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></div>
                    </ng-template>

                    <!-- Configured View Columns (*ngFor) -->
                    <kendo-grid-column *ngFor="let column of eventColumnModel.columns"
                                       field="{{column.property}}"
                                       format="{{column.format}}"
                                       [width]="!column.width ? COLUMN_MIN_WIDTH : column.width">
                        <ng-template kendoGridHeaderTemplate>
                            <div>
                                <label>{{column.label}}</label>
                            </div>
                        </ng-template>

                        <ng-template kendoGridFilterCellTemplate let-filter>
                            test
                        </ng-template>
                    </kendo-grid-column>
                </kendo-grid>
                <kendo-grid
                        [data]="taskList"
                        [selectable]="true"
                        style="max-height: 400px">
                    <ng-template kendoGridToolbarTemplate>
                        <span>Task Summary - Active tasks assigned to you</span>
                        <div class="kendo-grid-toolbar__refresh-btn" (click)="fetchTasksForGrid()"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></div>
                    </ng-template>

                    <!-- Configured View Columns (*ngFor) -->
                    <kendo-grid-column *ngFor="let column of taskColumnModel.columns"
                                       field="{{column.property}}"
                                       format="{{column.format}}"
                                       [width]="!column.width ? COLUMN_MIN_WIDTH : column.width">
                        <ng-template kendoGridHeaderTemplate>
                            <div>
                                <label>{{column.label}}</label>
                            </div>
                        </ng-template>
                        <ng-template kendoGridDetailTemplate let-dataItem let-rowIndex="rowIndex">
                            <div>
                                <div>
                                    <button *ngIf="dataItem.status!='Started' && dataItem.status!='Completed'" (click)="updateTaskStatus(dataItem.taskId,'Started')">Start</button>
                                    <button *ngIf="dataItem.status!='Completed'" (click)="updateTaskStatus(dataItem.taskId,'Completed')">Done</button>
                                    <button (click)="openTaskDetailView(dataItem)">Details...</button>
                                </div>
                                <div *ngIf="dataItem.status=='Ready' && !movedayCategories.includes(dataItem.category)">
                                    <span>Delay For: </span>
                                    <button (click)="changeTimeEst(dataItem.taskId,1)">1 day</button>
                                    <button (click)="changeTimeEst(dataItem.taskId,2)">2 day</button>
                                    <button (click)="changeTimeEst(dataItem.taskId,7)">7 day</button></div>
                                <div *ngIf="dataItem.successors > 0 || dataItem.predecessors > 0" (click)="openLinkInNewTab('../task/taskGraph?neighborhoodTaskId=' + dataItem.taskId)"><button>Neighborhood</button></div>
                                <button *ngIf="dataItem.parsedInstructions" (click)="openLinkInNewTab(dataItem.parsedInstructions[1])">{{dataItem.parsedInstructions[0]}}</button>
                            </div>
                        </ng-template>
                    </kendo-grid-column>
                </kendo-grid>
                <span>{{summaryDetail}}</span>
            </div>
            <div class="col-md-6 cell-container">
                <kendo-grid
                        [data]="eventNewsList"
                        [selectable]="true">
                    <ng-template kendoGridToolbarTemplate>
                        <span>Event News - Active news for your events</span>
                        <div class="kendo-grid-toolbar__refresh-btn" (click)="fetchEventNewsForGrid()"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></div>
                    </ng-template>

                    <!-- Configured View Columns (*ngFor) -->
                    <kendo-grid-column *ngFor="let column of eventNewsColumnModel.columns"
                                       field="{{column.property}}"
                                       format="{{column.format}}"
                                       [width]="!column.width ? COLUMN_MIN_WIDTH : column.width">
                        <ng-template kendoGridHeaderTemplate>
                            <div>
                                <label>{{column.label}}</label>
                            </div>
                        </ng-template>
                    </kendo-grid-column>
                </kendo-grid>
                <kendo-grid
                        [data]="applicationList"
                        [selectable]="true">
                    <ng-template kendoGridToolbarTemplate>
                        <span>Applications - Your applications as an SME or Owner</span>
                        <div class="kendo-grid-toolbar__refresh-btn" (click)="fetchApplicationsForGrid()"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></div>
                    </ng-template>

                    <!-- Configured View Columns (*ngFor) -->
                    <kendo-grid-column *ngFor="let column of applicationColumnModel.columns"
                                       field="{{column.property}}"
                                       format="{{column.format}}"
                                       [width]="!column.width ? COLUMN_MIN_WIDTH : column.width">
                        <ng-template kendoGridHeaderTemplate>
                            <div>
                                <label>{{column.label}}</label>
                            </div>
                        </ng-template>
                    </kendo-grid-column>
                </kendo-grid>

                <kendo-grid
                        [data] = "activePersonList"
                        [selectable]="true">
                    <ng-template kendoGridToolbarTemplate>
                        <span>Active People - Currently active people on this project</span>
                        <div class="kendo-grid-toolbar__refresh-btn" (click)="fetchPeopleForGrid()"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></div>
                    </ng-template>

                    <!-- Configured View Columns (*ngFor) -->
                    <kendo-grid-column *ngFor="let column of activePersonColumnModel.columns"
                                       field="{{column.property}}"
                                       format="{{column.format}}"
                                       [width]="!column.width ? COLUMN_MIN_WIDTH : column.width">
                        <ng-template kendoGridHeaderTemplate>
                            <div>
                                <label>{{column.label}}</label>
                            </div>
                        </ng-template>
                    </kendo-grid-column>
                </kendo-grid>
            </div>
        </div>
    </div>
</div>