<div class="import-batch-record-dialog ">
	<section>
		<import-batch-record-summary
			[importBatch]="importBatch"
			[batchRecord]="batchRecord">
		</import-batch-record-summary>
		<import-batch-record-fields
			#detailFieldsComponent
			*ngIf="batchRecord"
			[importBatch]="importBatch"
			[batchRecord]="batchRecord"
			(onClose)="onCancelCloseDialog()"
			(onUpdateSuccess)="onUpdateSuccess()"
			(onBatchRecordUpdated)="onBatchRecordUpdated($event)">
		</import-batch-record-fields>
	</section>
</div>
