<div class="summary-header">
    <label> Batch Summary <span *ngIf="importBatchPreferences[importBatchPrefEnum.TWISTIE_COLLAPSED]">...</span>
        <button (click)="toggleSummary()"
                class="btn btn-default pull-right">
            <i [ngClass]="{'fa-angle-double-right': !importBatchPreferences[importBatchPrefEnum.TWISTIE_COLLAPSED], 'fa-angle-double-down': importBatchPreferences[importBatchPrefEnum.TWISTIE_COLLAPSED]}"
               class="fa"></i>
        </button>
    </label>
</div>

<div class="{{importBatchPreferences[importBatchPrefEnum.TWISTIE_COLLAPSED] ? 'collapse':'collapse in'}} collapsible">
        <div class="row header">
            <div class="col-sm-1">Batch ID</div>
            <div class="col-sm-1">Status</div>
            <div class="col-sm-2">Domain</div>
            <div class="col-sm-2">Last Updated</div>
            <div class="col-sm-2">Imported At</div>
            <div class="col-sm-2">Imported By</div>
            <div class="col-sm-2">DataScript</div>
        </div>
        <div class="row">
            <div class="col-sm-1">{{importBatch.id}}</div>
            <div class="col-sm-1" [ngClass]="{'error': batchHasErrors()}">
                {{importBatch.status.label}}
            </div>
            <div class="col-sm-2">{{importBatch.domainClassName}}</div>
            <div class="col-sm-2">{{importBatch.lastUpdated | tdsDateTime: userTimeZone }}</div>
            <div class="col-sm-2">{{importBatch.dateCreated | tdsDateTime: userTimeZone }}</div>
            <div class="col-sm-2">{{importBatch.createdBy}}</div>
            <div class="col-sm-2">{{importBatch.dataScript?.name}}</div>
        </div>
    </div>
<div class="{{importBatchPreferences[importBatchPrefEnum.TWISTIE_COLLAPSED] ? 'collapse':'collapse in'}} collapsible">
        <label> Record Summary </label>
        <div class="row header">
            <div class="col-sm-1">Status</div>
            <div class="col-sm-1">Source&nbsp;Row</div>
            <div class="col-sm-2">Import Operation</div>
            <div class="col-sm-2">Error Count</div>
            <div class="col-sm-6 errors-header"><span>Errors</span></div>
        </div>
        <div class="row">
            <div class="col-sm-1" [ngClass]="{'error': batchHasErrors()}">
                {{batchRecord.status.label}}
            </div>
            <div class="col-sm-1">{{batchRecord.sourceRowId}}</div>
            <div class="col-sm-2">{{batchRecord.operation}}</div>
            <div class="col-sm-2" [ngClass]="{'error': batchHasErrors()}">
                {{batchRecord.errorCount}}
            </div>
            <div class="col-sm-6">
                <div class="error" *ngFor="let error of batchRecord.errorList">
                    * {{error}}
                </div>
            </div>
        </div>
    </div>