<style>
	.aka-component {
	}
		.aka-component .aka-items {
			max-height: 200px;
			overflow: auto;
		}
		.aka-component .aka-items .aka-item {
			margin-top: 5px;
		}
		.aka-component input {
			width: 80%;
		}
		.aka-component button {
			margin-top: 10px;
			font-weight: bold;
		}
		.aka-component .aka-items .delete-aka {
			cursor: pointer;
		}
</style>
<div class="aka-component">
	<div class="aka-items">
		<div class="aka-item" *ngFor="let aka of akas;let index = index;trackBy:trackByIndex;">
			<input type="text" [(ngModel)]="akas[index]" (change)="onAkaChange($event, index)" [disabled]="hasError && indexError !== index">
			<span *ngIf="!hasError || (hasError && indexError === index)" class="glyphicon glyphicon-remove delete-aka" (click)="onDelete(index)" title="Delete aka"></span>
		</div>
		<div>
			<label *ngIf="hasError" style="color: red">{{errorMessage}}</label>
		</div>
	</div>
	<button (click)="onAdd('')" [disabled]="hasError" id="btnAdAka">Add AKA</button>
</div>
