i.licensing-error-warning
  color: $warningLicense
  font-size: 18px

.licensing-banner-message
  .callout
    padding: 4px 12px 4px 12px
    margin: 0px
    position: relative
    top: -4px
    margin-right: 50px

@media (max-width: 1150px)
  .content-header>.breadcrumb.licensing-banner-message
    background: none
    .callout
      margin-right: 80px

@media (max-width: 991px)
  .content-header>.breadcrumb.licensing-banner-message
    background: none
    .callout
      margin-right: 0px
