<div class="bulk-change-edit-component modal fade in" id="bulk-change-edit-component" data-backdrop="static" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-md" role="document">
		<div tds-autocenter class="modal-content">
			<div class="modal-header">
				<button (click)="cancelCloseDialog()"  type="button" class="close" aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
				<h4 class="modal-title">Bulk Change > Edit Assets</h4>
			</div>
			<div class="modal-body">
				<div class="modal-body-container full-height">
					<form name="dependentForm" role="form" data-toggle="validator" #dependentForm='ngForm' class="form-horizontal left-alignment full-height">
						<label>{{ 'ASSET_EXPLORER.BULK_CHANGE.EDIT.EFFECTED_ASSETS' | translate:[affectedAssets] }}</label>
						<kendo-grid
								*ngIf="gridSettings"
								[data]="gridSettings.gridData"
								[pageable]="false"
								[resizable]="true"
								(add)="addHandler($event)"
								(cancel)="cancelHandler($event)"
								(edit)="editHandler($event)"
								(save)="saveHandler($event)"
								(remove)="removeHandler($event)">

							 <!-- Toolbar Template-->
							<ng-template kendoGridToolbarTemplate [position]="'top'">
								<button kendoGridAddCommand type="button" class="btn btn-default add-button pull-right" id="btnAddButton">
									<span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>  {{'ASSET_EXPLORER.BULK_CHANGE.EDIT.ADD_FIELD' | translate}}</button>
							</ng-template>

							<!-- Action Buttons Column -->
							<kendo-grid-command-column [width]="50">
								<ng-template kendoGridHeaderTemplate>
									<div class="text-center">
										<label class="action-header"></label>
									</div>
								</ng-template>
								<ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
									<div class="text-center">
										<button kendoGridRemoveCommand class="btn btn-action btn-default" title="Delete">
											<i class="fa fa-trash"></i>
										</button>
									</div>
								</ng-template>
							</kendo-grid-command-column>

                            <!-- Class -->
                            <kendo-grid-column title="Class" [width]="80">
                                <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                                    <kendo-dropdownlist
                                            name="domain" class="form-control domain"
                                            [data]="domains"
                                            [value]="editRows.selectedValues[rowIndex].domain"
                                            (valueChange)="onDomainValueChange($event, rowIndex)"
                                            [valueField]="'id'"
                                            [textField]="'text'">
                                    </kendo-dropdownlist>
                                </ng-template>
                            </kendo-grid-column>

                            <!-- Field Name -->
                            <kendo-grid-column title="Field Name" [width]="100">
                                <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                                    <kendo-dropdownlist
                                            name="field" class="form-control field"
                                            [data]="editRows.fields[rowIndex].fields"
                                            [value]="editRows.selectedValues[rowIndex].field"
                                            (valueChange)="onFieldValueChange($event, rowIndex)"
                                            [valueField]="'id'"
                                            [textField]="'text'">
                                    </kendo-dropdownlist>
                                </ng-template>
                            </kendo-grid-column>

                            <!-- Action -->
                            <kendo-grid-column title="Action" [width]="100">
                                <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                                    <kendo-dropdownlist
                                            name="action" class="form-control action"
                                            [data]="editRows.fields[rowIndex].actions"
                                            [value]="editRows.selectedValues[rowIndex].action"
                                            (valueChange)="onActionValueChange($event, rowIndex)"
                                            [valueField]="'id'"
                                            [textField]="'text'">
                                    </kendo-dropdownlist>
                                </ng-template>
                            </kendo-grid-column>

                            <!-- Value -->
                            <kendo-grid-column title="Value" [width]="100">
                                <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                                    <!-- Text Fields -->
                                    <input [(ngModel)]="editRows.selectedValues[rowIndex].value"
                                           type="text" name="actionValue" class="form-control"
                                           *ngIf="canShowControl('String', rowIndex)"/>

                                    <!-- Number Fields -->
                                    <number-control *ngIf="canShowControl('Number', rowIndex)"
                                                    [(value)]="editRows.selectedValues[rowIndex].value"></number-control>
                                    <!--<input [(ngModel)]="editRows.selectedValues[rowIndex].value"-->
                                           <!--type="number" name="actionValue" class="form-control"-->
                                           <!--*ngIf="canShowControl('Number', rowIndex)"/>-->

                                    <!-- Datetime Fields -->
                                    <date-time-control *ngIf="canShowControl('DateTime', rowIndex)"
                                                       [(value)]="editRows.selectedValues[rowIndex].value"></date-time-control>
                                    <!--<kendo-datepicker [(value)]="editRows.selectedValues[rowIndex].value"-->
                                                      <!--*ngIf="canShowControl('DateTime', rowIndex)"></kendo-datepicker>-->

                                    <!-- Yes/No List Fields -->
                                    <kendo-dropdownlist
                                            *ngIf="canShowControl('YesNo', rowIndex)"
                                            name="yeNoList"
                                            [(ngModel)]="editRows.selectedValues[rowIndex].value"
                                            [valueField]="'id'"
                                            [textField]="'text'"
                                            [data]="yesNoList">
                                    </kendo-dropdownlist>

                                    <!-- Option List Fields -->
                                    <kendo-dropdownlist
                                            *ngIf="canShowControl('Options', rowIndex)"
                                            name="optionList"
                                            [(ngModel)]="editRows.selectedValues[rowIndex].value"
                                            [valueField]="'id'"
                                            [textField]="'text'"
                                            [data]="editRows.listOptions[rowIndex]">
                                    </kendo-dropdownlist>

                                    <!-- Custom Fields - List -->
                                    <kendo-dropdownlist
                                            *ngIf="canShowControl('List', rowIndex)"
                                            name="optionList"
                                            [(ngModel)]="editRows.selectedValues[rowIndex].value"
                                            [valueField]="'id'"
                                            [textField]="'text'"
                                            [data]="editRows.listOptions[rowIndex]">
                                    </kendo-dropdownlist>

                                    <!-- Asset Tag Fields -->
                                    <tds-asset-tag-selector *ngIf="canShowControl('asset-tag-selector', rowIndex)"
                                                            [tagList]="tagList"
                                                            [showSwitch]="false"
                                                            (valueChange)="onTagFilterChange(column,rowIndex, $event)">
                                    </tds-asset-tag-selector>

                                </ng-template>
                            </kendo-grid-column>

						</kendo-grid>
					</form>
				</div>
			</div>
			<div class="modal-footer form-group-center">
				<button type="button" class="btn btn-primary pull-left" (click)="onNext()" [disabled]="!isAllInputEntered()">
					<span class="glyphicon glyphicon-step-forward"></span> Next
				</button>

				<button type="button" (click)="cancelCloseDialog()" class="btn btn-default pull-right">
					<span class="glyphicon glyphicon-ban-circle"></span>
					<span>Cancel</span>
				</button>
			</div>
		</div>
	</div>
</div>

