<style>
	.bulk-change-edit-component {
	}
		.bulk-change-edit-component .full-height {
			height: 100%;
		}
		.bulk-change-edit-component .modal-content {
			margin: 0 auto;
			width: 800px;
		}
		.bulk-change-edit-component .modal-body {
			font-size: 13px;
			height: 430px;
			padding: 5px 30px;
		}
		.bulk-change-edit-component .modal-footer {
			padding: 15px 30px;
		}
		.bulk-change-edit-component .modal-header {
			padding-left: 22px;
		}
		.bulk-change-edit-component label {
			cursor: pointer;
			font-weight: normal;
		}
		.bulk-change-edit-component input[type=radio] {
			cursor: pointer;
			margin-right: 5px;
		}
		.bulk-change-edit-component .affected-assets-number {
		}

		.bulk-change-edit-component .domain {
			text-transform: capitalize;
		}
		.bulk-change-edit-component .add-button {
			margin-right: 5px;
		}
			.bulk-change-edit-component .add-button span {
				margin-right: 5px;
			}

		.bulk-change-edit-component .k-grid {
			min-height: 95%;
			max-height: 95%;
		}


</style>

<div class="bulk-change-edit-component modal fade in" id="bulk-change-edit-component" data-backdrop="static" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-md" role="document">
		<div tds-autocenter class="modal-content">
			<div class="modal-header">
				<button (click)="cancelCloseDialog()"  type="button" class="close" aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
				<h4 class="modal-title">Bulk Change > Edit Assets</h4>
			</div>
			<div class="modal-body">
				<div class="modal-body-container full-height">
					<form name="dependentForm" role="form" data-toggle="validator" #dependentForm='ngForm' class="form-horizontal left-alignment full-height">
						<label>{{ 'ASSET_EXPLORER.BULK_CHANGE.EDIT.AFFECTED_ASSETS' | translate:[affectedAssets] }}</label>
						<kendo-grid
								*ngIf="gridSettings"
								[data]="gridSettings.gridData"
								[pageable]="false"
								[resizable]="true"
								(add)="addHandler($event)"
								(cancel)="cancelHandler($event)"
								(edit)="editHandler($event)"
								(save)="saveHandler($event)"
								(remove)="removeHandler($event)">

							 <!-- Toolbar Template-->
							<ng-template kendoGridToolbarTemplate [position]="'top'">
								<button kendoGridAddCommand type="button" class="btn btn-default add-button pull-right" id="btnAddButton">
									<span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>  {{'ASSET_EXPLORER.BULK_CHANGE.EDIT.ADD_FIELD' | translate}}</button>
							</ng-template>

							<!-- - Action-->
							<kendo-grid-command-column [width]="60">
								<ng-template kendoGridHeaderTemplate>
									<div class="text-center">
										<label class="action-header"></label>
									</div>
								</ng-template>
								<ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
									<div class="text-center">
										<button kendoGridRemoveCommand class="btn btn-action btn-default" title="Delete">
											<i class="fa fa-trash"></i>
										</button>
									</div>
								</ng-template>
							</kendo-grid-command-column>

							<!-- - Columns-->
							<kendo-grid-column *ngFor="let column of gridColumns.columns"
							                   field="{{column.property}}"
							                   [locked]="column.locked"
							                   format="{{column.format}}"
							                   [headerClass]="column.headerClass ? column.headerClass : ''"
							                   [headerStyle]="column.headerStyle ? column.headerStyle : ''"
							                   [class]="column.cellClass ? column.cellClass : ''"
							                   [style]="column.cellStyle ? column.cellStyle : ''"
							                   [width]="!column.width ? COLUMN_MIN_WIDTH : column.width">

								<!-- - Header Template-->
								<ng-template kendoGridHeaderTemplate>
									<label>{{column.label}}</label>
								</ng-template>


								<!-- - Cell Templates-->
								<!--(selectionChange)="onDomainChange($event)"-->
								<ng-template kendoGridCellTemplate *ngIf="column.property === 'domain'" let-dataItem let-rowIndex="rowIndex">
									<kendo-dropdownlist
											name="domain" class="form-control domain"
									        [data]="assetClassList"
									        [(ngModel)]="editRows.selectedValues[rowIndex].domain"
											[defaultItem]="editRows.selectedValues[rowIndex].domain"
											(selectionChange)="onDomainChange($event, rowIndex)"
									        [valueField]="'id'"
									        [textField]="'text'">
									</kendo-dropdownlist>
								</ng-template>

								<ng-template kendoGridCellTemplate *ngIf="column.property === 'field'" let-dataItem let-rowIndex="rowIndex">
									<kendo-dropdownlist
											name="field" class="form-control field"
									        [data]="editRows.actions[rowIndex].fields"
											[defaultItem]="editRows.selectedValues[rowIndex].field"
									        [(ngModel)]="editRows.selectedValues[rowIndex].field"
									        [valueField]="'id'"
									        [textField]="'text'">
									</kendo-dropdownlist>
								</ng-template>


								<ng-template kendoGridCellTemplate *ngIf="column.property === 'action'" let-dataItem let-rowIndex="rowIndex">
									<kendo-dropdownlist
											name="field" class="form-control action"
											[data]="editRows.actions[rowIndex].actions"
											[defaultItem]="editRows.selectedValues[rowIndex].action"
											[(ngModel)]="editRows.selectedValues[rowIndex].action"
											[valueField]="'id'"
											[textField]="'text'">
									</kendo-dropdownlist>
								</ng-template>

								<!--
								<ng-template kendoGridCellTemplate *ngIf="column.property === 'action'" let-dataItem let-rowIndex="rowIndex">
									<kendo-dropdownlist
											name="action" class="form-control action"
											[data]="actions"
											[(ngModel)]="editRows.selectedValues[rowIndex].action"
											[valueField]="'id'"
											[textField]="'text'">
									</kendo-dropdownlist>
								</ng-template>
								-->


								<!--
								<ng-template kendoGridCellTemplate *ngIf="column.property === 'name'" let-dataItem>
									{{dataItem[column.property]}}
								</ng-template>

								<ng-template kendoGridCellTemplate *ngIf="column.property === 'color'" let-dataItem>
									<div class="text-center">
										<span [ngClass]="dataItem.css" class="label tag"></span>
									</div>
								</ng-template>
								-->

								<!-- - Edit Templates-->
								<!--
								<ng-template kendoGridEditTemplate let-dataItem="dataItem" *ngIf="column.property === 'name'">
									<input [(ngModel)]="dataItem.name" autofocus
									       [ngClass]="{'ng-invalid': duplicateName}" required
									       #input (input)="validateUniqueName(dataItem); input.value=$event.target.value"
									       type="text" name="name" class="form-control"/>
								</ng-template>
								<ng-template kendoGridEditTemplate let-dataItem="dataItem" *ngIf="column.property === 'description'">
									<input [(ngModel)]="dataItem.description"
									       type="text" name="description" class="form-control"/>
								</ng-template>
								<ng-template kendoGridEditTemplate let-dataItem="dataItem" *ngIf="column.property === 'color'">
									<kendo-dropdownlist required name="color" class="form-control"
									                    [data]="colorList"
									                    [(ngModel)]="dataItem.color"
									                    [valueField]="'id'"
									                    [valuePrimitive]="true">
										<ng-template kendoDropDownListValueTemplate let-dataItem>
											<span *ngIf="dataItem" [ngClass]="dataItem.css" class="label tag" style="margin: auto; margin-left: 10px;"></span>
										</ng-template>
										<ng-template kendoDropDownListItemTemplate let-dataItem>
											<span [ngClass]="dataItem.css" class="label tag"></span>
										</ng-template>
									</kendo-dropdownlist>
								</ng-template>
								-->

								<!-- - Filter Template-->
								<!--
								<ng-template kendoGridFilterCellTemplate let-filter>
									<div class="has-feedback"
									     *ngIf="column.property && (column.type !== 'action' && column.type !== 'number' && column.property !== 'color' )">
										<div *ngIf="column.type === 'date'; then dateFilter else stringFilter"></div>
										<ng-template #dateFilter>
											<kendo-datepicker [format]="dateFormat"
											                  [(ngModel)]="column.filter"
											                  [ngModelOptions]="{standalone: true}"
											                  (valueChange)="gridSettings.onFilter(column)"
											                  style="width: 100%;"></kendo-datepicker>
											<span *ngIf="column.filter" (click)="gridSettings.clearFilter(column)"
											      style="margin-right: 25px" class="fa fa-times form-control-feedback"></span>
										</ng-template>
										<ng-template #stringFilter>
											<input [(ngModel)]="column.filter" (keyup)="gridSettings.onFilter(column)"
											       [ngModelOptions]="{standalone: true}"
											       type="text" class="form-control" name="{{column.property}}" placeholder="Filter">
											<span *ngIf="column.filter" (click)="gridSettings.clearValue(column)"
											      class="fa fa-times form-control-feedback"></span>
										</ng-template>
									</div>
								</ng-template>
								-->
							</kendo-grid-column>
						</kendo-grid>
					</form>
				</div>
			</div>
			<div class="modal-footer form-group-center">
				<button type="button" class="btn btn-primary pull-left" (click)="onNext()">
					<span class="glyphicon glyphicon-step-forward"></span> Next
				</button>

				<button type="button" (click)="cancelCloseDialog()" class="btn btn-default pull-right">
					<span class="glyphicon glyphicon-ban-circle"></span>
					<span>Cancel</span>
				</button>
			</div>
		</div>
	</div>
</div>

