popup-session-authentication-name {
  .fa-question {
    cursor: pointer;
  }

  kendo-popup .session-authentication {
    width: 380px;
    padding: 10px;
    text-align: left;
    min-height: 120px;
  }
}
