<div class="modal-content">
    <div class="modal-header">
        <button type="button" ng-click="manuallyRequest.cancelCloseDialog()" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title">Email License Request</h4>
    </div>
    <div class="modal-body">
        <form name="manuallyRequestForm" role="form" data-toggle="validator" class="form-horizontal left-alignment">
            <div class="form-group">
                <label class="col-md-12 control-label">The following text block contains the details of the license information in an encrypted format. Please click the Email Request button to send the request or copy the text and email to {{manuallyRequest.licenseModel.toEmail}}</label>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <textarea id="detailedKeyText" class="form-control" rows="8" ng-model="manuallyRequest.licenseEmailModel.body" readonly></textarea>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer form-group-center">
        <a style="color: #fff;" href="mailto:{{manuallyRequest.licenseEmailModel.toEmail}}?cc={{manuallyRequest.licenseEmailModel.ccEmail}}&subject={{manuallyRequest.licenseEmailModel.subject}}&body={{manuallyRequest.licenseEmailModel.body | escapeURLEncoding}}" target="_top"><button type="submit" class="btn btn-primary pull-left"><i class="fa fa-fw fa-envelope"></i> Email Request</button></a>
        <button ngclipboard data-clipboard-text="{{manuallyRequest.licenseEmailModel.body}}" type="submit" class="btn btn-primary"><i class="fa fa-fw fa-cut"></i> Copy to Clipboard</button>
        <button ng-click="manuallyRequest.cancelCloseDialog()" type="button" class="btn btn-default pull-right" data-dismiss="modal"><span class="glyphicon glyphicon-ban-circle"></span> Cancel</button>
    </div>
</div>