<span #openText (click)="onToggle()" style="cursor: pointer">
    <i class="fa fa-cog"></i>
</span>
<kendo-popup [anchor]="openText" [popupClass]="'content popup'" *ngIf="show">

    <div style="padding: 15px; background-color: #eee; border: 1px dotted grey;">
        <div class="text-right">
            <input type="text" [(ngModel)]="newItem" style="width: 100px;">
            <button class="btn btn-default" [disabled]="newItem.length === 0" (click)="onAdd()">
                <i class="fa fa-plus"></i> Add
            </button>
        </div>

        <div style="margin-top: 15px; margin-bottom: 20px; max-height: 120px; overflow-y: auto;">
            <kendo-sortable #kendoSortableInstance="kendoSortable"
                            [navigatable]="false"
                            [animation] = "false"
                            [data]="items"
                            [itemStyle]="{'cursor': 'move', 'border-bottom': '1px solid black', 'margin-bottom': '5px'}"
                            [emptyItemStyle] = "{'cursor': 'default'}"
                            [activeItemStyle] = "{'opacity': '.7'}"
            >
                <ng-template let-item="item">
                    <div>
                        <i style="margin-right: 5px; cursor: pointer;" class="fa fa-fw fa-trash" (click)="onRemove(item)"></i> {{item}}
                    </div>
                </ng-template>
            </kendo-sortable>
        </div>
        <div class="text-right">
            <button class="btn btn-default" [disabled]="items.length === 0" (click)="onSave()">
                <i class="fa fa-check"></i>Save
            </button>
        </div>
    </div>

</kendo-popup>