<kendo-grid [filter]="state.filter" [data]="gridData" [sortable]="{ mode:'single' }" [sort]="state.sort" [pageSize]="state.take"
    [pageable]="{ pageSizes: true, info: true}" (dataStateChange)="dataStateChange($event)">
    <ng-template kendoGridToolbarTemplate [position]="'top'">
        <div class="col-xs-3 col-md-2 col-lg-1">
            <button type="button" class="btn btn-default" id="btnEdit" (click)="onEdit()"><i class="fa fa-fw fa-list-ul"></i> Edit</button>
        </div>
        <div class="col-xs-6 col-md-4">
            <input type="text" class="form-control" name="search" id="search" [(ngModel)]="search" placeholder="Enter field name to filter">
        </div>
        <div class="col-xs-3 col-md-2 col-lg-1">
            <button type="button" class="btn btn-default" id="btnFilter" (click)="onFilter()"><i class="fa fa-fw fa-search"></i> Filter</button>
        </div>
    </ng-template>
    <kendo-grid-column field="field" title="Field"></kendo-grid-column>
    <kendo-grid-column field="label" title="Label"></kendo-grid-column>
    <kendo-grid-column field="shared" title="Shared" filter="boolean">
        <ng-template kendoGridCellTemplate let-dataItem>
            {{dataItem.shared | tdsUIBoolean}}
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="required" title="Required" filter="boolean">
        <ng-template kendoGridCellTemplate let-dataItem>
            {{dataItem.required | tdsUIBoolean}}
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="show" title="Display" filter="boolean">
        <ng-template kendoGridCellTemplate let-dataItem>
            {{dataItem.display | tdsUIBoolean}}
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="default" title="Default Value"></kendo-grid-column>
    <kendo-grid-column field="control" title="Control"></kendo-grid-column>
    <kendo-grid-column field="tip" title="Tooltip Help"></kendo-grid-column>
</kendo-grid>