<ng-template #filterControl>
    <div class="col-xs-2 col-md-3 col-lg-2">
        <select class="form-control" name="fieldType" id="type" [(ngModel)]="filter.fieldType">
            <option *ngFor="let t of availableyFieldType" [ngValue]="t">{{t}}</option>
        </select>
    </div>
    <div class="col-xs-3 col-md-4 col-lg-4">
        <input type="text" class="form-control" name="search" id="search" [(ngModel)]="filter.search" placeholder="{{'FIELD_SETTINGS.ENTER_FIELD_NAME_FILTER' | translate}}" value="">
    </div>
    <div class="col-xs-2 col-md-2 col-lg-1">
        <button type="button" class="btn btn-default" id="btnFilter" (click)="onFilter()"><i class="fa fa-fw fa-search"></i> {{'GLOBAL.FILTER' | translate}}</button>
    </div>
</ng-template>
<kendo-grid #fieldSettingGrid="kendoGrid" [filter]="state.filter" [skip]="state.skip" [data]="gridData" [sortable]="sortable"
    [sort]="state.sort" [pageSize]="state.take" [pageable]="{ pageSizes: [25, 100, 500, 1000], info: true}" (dataStateChange)="dataStateChange($event)">
    <ng-template kendoGridToolbarTemplate [position]="'top'" *ngIf="isEditing; else defaultToolbar">
        <div class="col-xs-9 col-md-9 col-lg-7">
            <button type="button" class="btn btn-default" id="btnSaveAll" (click)="onSaveAll()"><i class="fa fa-fw fa-floppy-o"></i> {{'GLOBAL.SAVE_ALL' | translate}}</button>
            <button type="button" class="btn btn-default" id="btnCancel" (click)="onCancel()"><i class="fa fa-fw fa-times"></i> {{'GLOBAL.CANCEL' | translate}}</button>
        </div>
        <div *ngIf="isFilterDisabled; else filterControl" class="col-xs-5 col-md-6 col-lg-5"></div>
        <div class="col-xs-3 col-md-3 col-lg-5">
            <button type="button" class="btn btn-default float-right" id="btnAddCustom" (click)="onAddCustom()"><i class="fa fa-fw fa-plus-circle"></i> {{'FIELD_SETTINGS.CREATE_CUSTOM' | translate}}</button>
        </div>
    </ng-template>
    <ng-template kendoGridToolbarTemplate [position]="'top'" #defaultToolbar>
        <div class="col-xs-4 col-md-3 col-lg-2">
            <button type="button" class="btn btn-default" id="btnEdit" (click)="onEdit()"><i class="fa fa-fw fa-list-ul"></i> {{'GLOBAL.EDIT' | translate}}</button>
        </div>
        <div *ngIf="isFilterDisabled; else filterControl"></div>
    </ng-template>
    <kendo-grid-column title="Action" *ngIf='isEditing' [width]="70">
        <ng-template kendoGridCellTemplate let-dataItem>
            <button class="btn btn-default" *ngIf="dataItem.udf" (click)="onDelete(dataItem)"><span class="fa fa-fw fa-trash"></span></button>
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="field" title="Field">
        <ng-template kendoGridCellTemplate *ngIf="isEditing" let-dataItem>
            <input type="text" disabled class="form-control" [(ngModel)]="dataItem.field" name="field">
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="order" title="Order" [width]="100">
        <ng-template kendoGridCellTemplate *ngIf="isEditing" let-dataItem>
            <input type="number" min="0" [disabled]="!dataItem.udf" class="form-control" [(ngModel)]="dataItem.order" name="order">
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="label" title="Label">
        <ng-template kendoGridCellTemplate *ngIf="isEditing" let-dataItem>
            <input type="text" [disabled]="!dataItem.udf" class="form-control" [(ngModel)]="dataItem.label" name="label">
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="shared" title="Shared" [width]="70">
        <ng-template kendoGridCellTemplate *ngIf="isEditing; else sharedTemp" let-dataItem>
            <div class="checkbox text-center">
                <label><input type="checkbox" [disabled]="!dataItem.udf" [(ngModel)]="dataItem.shared" name="required"></label>
            </div>
        </ng-template>
        <ng-template kendoGridCellTemplate let-dataItem #sharedTemp>
            {{dataItem.shared | tdsUIBoolean}}
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="imp" title="Importance" [width]="100">
        <ng-template kendoGridCellTemplate let-dataItem>
            <field-settings-imp [edit]="isEditing" [(model)]="dataItem.imp"></field-settings-imp>
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="required" title="Required" [width]="80">
        <ng-template kendoGridCellTemplate *ngIf="isEditing; else requiredTemp" let-dataItem>
            <div class="checkbox text-center">
                <label><input type="checkbox" [disabled]="!dataItem.udf" [(ngModel)]="dataItem.required" name="required"></label>
            </div>
        </ng-template>
        <ng-template kendoGridCellTemplate let-dataItem #requiredTemp>
            {{dataItem.required | tdsUIBoolean}}
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="show" title="Display" [width]="80">
        <ng-template kendoGridCellTemplate *ngIf="isEditing; else displayTemp" let-dataItem>
            <div class="checkbox text-center">
                <label><input type="checkbox" [disabled]="!dataItem.udf" [(ngModel)]="dataItem.show" name="required"></label>
            </div>
        </ng-template>
        <ng-template kendoGridCellTemplate let-dataItem #displayTemp>
            {{dataItem.display | tdsUIBoolean}}
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="type" title="Type" [width]="110">
        <ng-template kendoGridCellTemplate *ngIf="isEditing" let-dataItem>
            <select class="form-control" [disabled]="!dataItem.udf" name="type" id="type" [(ngModel)]="dataItem.type">
                <option value="" [ngValue]="null">Please select</option>
                <option *ngFor="let t of availableTypes" [ngValue]="t">{{t}}</option>
            </select>
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="default" title="Default Value">
        <ng-template kendoGridCellTemplate *ngIf="isEditing" let-dataItem>
            <input type="text" [disabled]="!dataItem.udf" class="form-control" [(ngModel)]="dataItem.default" name="default">
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="control" title="Control" [width]="110">
        <ng-template kendoGridCellTemplate *ngIf="isEditing" let-dataItem>
            <select class="form-control" [disabled]="!dataItem.udf" name="control" id="control" [(ngModel)]="dataItem.control">
                <option value="">Please select</option>
                <option *ngFor="let c of availableControls" [ngValue]="c">{{c}}</option>
            </select>
            <selectlist-configuration-popup *ngIf="dataItem.control==='Select List'" [field]="dataItem"></selectlist-configuration-popup>
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="tip" title="Tooltip Help">
        <ng-template kendoGridCellTemplate *ngIf="isEditing" let-dataItem>
            <textarea class="form-control" [(ngModel)]="dataItem.tip" name="tip" rows="2">
            </textarea>
        </ng-template>
    </kendo-grid-column>
</kendo-grid>