<!-- Main content -->
<div class="content body tds-kendo-grid license-admin-list-component">
    <section>
        <div *ngIf="noticeColumnModel">
            <div class="box-body box-with-empty-header">
                <kendo-grid
                        [data]="gridData"
                        [filter]="state.filter"
                        [filterable]="true"
                        (filterChange)="filterChange($event)"
                        [sort]="state.sort"
                        [skip]="skip"
                        [sortable]="{mode:'single'}"
                        [pageSize]="pageSize"
                        [resizable]="true"
                        (sortChange)="sortChange($event)"
                        [pageable]="{pageSizes: defaultPageOptions, pageSize: pageSize, info: true}"
                        (pageChange)="pageChange($event)"
                        (cellClick)="cellClick($event)"
                        [selectable]="true">
                    <ng-template kendoGridToolbarTemplate [position]="'top'">
                        <button [disabled]="!isCreateAvailable()" class="btn btn-default button-create-license" type="button" (click)="onCreateNotice()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> {{ 'NOTICE.CREATE_NOTICE' | translate }}</button>
                        <button class="btn btn-default button-create-license" type="button" (click)="onShowEULA()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> EULAS </button>
                        <div (click)="reloadData()" class="kendo-grid-toolbar__refresh-btn"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></div>
                    </ng-template>
                    <kendo-grid-column *ngFor="let column of noticeColumnModel.columns" field="{{column.property}}" format="{{column.format}}" [locked]="column.locked" [width]="!column.width ? COLUMN_MIN_WIDTH : column.width">
                        <ng-template kendoGridHeaderTemplate>
                            <div class="sortable-column" (click)="onClickTemplate($event)">
                                <label [ngClass]="{'action-header':column.type === 'action'}"> {{column.label}}</label>
                            </div>
                        </ng-template>

                        <ng-template kendoGridFilterCellTemplate let-filter>
                            <div class="has-feedback" *ngIf="column.property && column.type !== 'action'" style="margin-bottom:0px;">

                                <div *ngIf="column.type === 'boolean'">
                                    <kendo-dropdownlist
		                                    (valueChange)="onFilter(column)"
                                            [(ngModel)]="column.filter"
                                            name="yesNoList"
                                            [data]="['','Yes', 'No']">
                                    </kendo-dropdownlist>
                                    <span *ngIf="column.filter" (click)="clearValue(column)" style="cursor:pointer;color:#656565;pointer-events:all;margin-right: 15px;" class="fa fa-times form-control-feedback" aria-hidden="true"></span>
                                </div>

                                <div *ngIf="column.type === 'text' && column.property !== 'typeId'">
                                    <input type="text"
                                           (keyup)="onFilter(column)"
                                           class="form-control"
                                           name="{{column.property}}"
                                           [(ngModel)]="column.filter"
                                           placeholder="Filter {{column.label}}"
                                           value="">
                                    <span *ngIf="column.filter" (click)="clearValue(column)" style="cursor:pointer;color:#656565;pointer-events:all" class="fa fa-times form-control-feedback" aria-hidden="true"></span>
                                </div>

                                <div *ngIf="column.property === 'typeId'">
                                    <kendo-dropdownlist
                                        [data]="noticeTypes"
                                        [textField]="'name'"
                                        [valueField]="'typeId'"
                                        [valuePrimitive]="true"
                                        [(ngModel)]="column.filter"
                                        (valueChange)="onFilter(column)"
                                        class="form-control">
                                    </kendo-dropdownlist>
                                    <span *ngIf="column.filter"
                                          (click)="resetTypeFilter(column);"
                                          style="cursor:pointer;color:#656565;pointer-events:all;margin-right: 15px;"
                                          class="fa fa-times form-control-feedback"
                                          aria-hidden="true">
                                    </span>
                                </div>

                                <div *ngIf="column.type === 'date'">
                                    <kendo-datepicker [format]="dateFormat" [(ngModel)]="column.filter" (valueChange)="onFilter(column)" [style.width.%]="100"></kendo-datepicker>
                                    <span *ngIf="column.filter" (click)="clearValue(column)" style="right:15%;cursor:pointer;color:#656565;pointer-events:all" class="fa fa-times form-control-feedback" aria-hidden="true"></span>
                                </div>
                            </div>
                        </ng-template>

                        <ng-template kendoGridCellTemplate *ngIf="column.type === 'action'" let-dataItem>
                            <div class="text-center">
                                <button [disabled]="!isEditAvailable()" class="btn btn-default" (click)="openNoticeViewEdit(dataItem)"><span class="glyphicon glyphicon-pencil"></span></button>
                                <button class="btn btn-default" (click)="onDelete(dataItem)"><span class="fa fa-fw fa-trash"></span></button>
                            </div>
                        </ng-template>

                        <ng-template kendoGridCellTemplate *ngIf="column.property === 'typeId'" let-dataItem>
                            {{notices[dataItem.typeId]}}
                        </ng-template>

                    </kendo-grid-column>
                </kendo-grid>
            </div>
            <!-- /.box-body -->
        </div>
    </section>
</div>