<!-- Main content -->
<section>
    <div>
        <div class="box-body">
            <kendo-grid [kendoGridBinding]="noticeList" [pageSize]="10" [pageable]="{ pageSizes: true, info: true}" >
                <kendo-grid-toolbar>
                    <button type="button" class="btn btn-default kendo-grid-toolbar__add-btn" (click)="onEditCreateNotice(ActionType.Create)"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Create New Notice</button> <div (click)="reloadNoticeList()" class="kendo-grid-toolbar__refresh-btn"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></div>
                </kendo-grid-toolbar>
                <kendo-grid-column title="Action" [width]="80">
                    <template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                        <button class="btn btn-default" (click)="onEditCreateNotice(ActionType.Edit, dataItem)"><span class="glyphicon glyphicon-pencil"></span></button>
                    </template>
                </kendo-grid-column>
                <kendo-grid-column field="title" title="Title"></kendo-grid-column>
                <kendo-grid-column field="type" title="Type">
                    <template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                        {{((dataItem.typeId === 1 )? 'Prelogin' : 'Postlogin')}}
                    </template>
                </kendo-grid-column>
                <kendo-grid-column field="active" title="Active">
                    <template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                        {{dataItem.active | tdsUIBoolean}}
                    </template>
                </kendo-grid-column>
            </kendo-grid>
        </div>
        <!-- /.box-body -->
    </div>
</section>
