// Active Palette
$color-active: #3c8dbc;
$color-active-light4: #c4d0dc;
$color-active-light3: #a4bdd4;
$color-active-light2: #84abcb;
$color-active-light1: #649bc4;
$color-active-dark1: #307197;
$color-active-dark2: #245571;
$color-active-dark3: #18394b;
$color-active-dark4: #0c1c26;

// Text and Icons
$color-text-inverse: #fff;
$color-text: #333;
$color-border: #ccc;
$color-icon: #808080;
$color-header: #E5E5E5;
// More Color
$color-border: #d9e4ea;

// Alerts
$color-success: #01ab08;
$color-success-screen: #dff0d0;
$color-info: #3c8dbc;
$color-info-screen: #e1f1f6;
$color-danger: #f81414;
$color-danger-screen: #f5dbd9;
$color-warning: #f6c440;
$color-warning-screen: #feecb5;

$color-base--blue: #3c8dbc;

// BLUE
$color-url-element--blue: #2c61aa;
$color-material--blue1: #5f9fcf;
$color-material--blue2: #3c8dbc;
$color-material--blue3: #3f51b5;
$color-action-toolbar--blue: #2c61aa;
$color-header-text--blue: #1c94c4;
$color-info--blue: #5f9fcf;
$color-success--blue: #00a7d0;

// GRAY
$color--grey: #ddd;
$color--grey2: #ebebeb;
$color--grey3: #f4f4f4;
$color--grey4: #eee;
$color--darkgray: darkgray;
$color--darkgray2: #d2d6de;
$color-main--dark: #e5e5e5;
$color-font-disabled--gray: #ccc;
$color-menuSelected: #e1e3e9;
$color--grey-kendo-header: #f6f6f6;
$color--grey-kendo-border: #c5c5c5;

// GREEN
$color--green: #dff0d8;
$color--green2: #3c763d;
$color--green3: LightGreen;

// WHITE
$color--white: #fff;
$color--white1: #f7f7f7;
$color--white2: #fafafa;
$color--white3: #f9f9f9;

$color--black: #000;
$color--black2: #333;
$color--black3: #444;

// RED
$color-message-error--red: red;
$color--red: red;
$color--red2: #f2dede;
$color--red3: #a94442;
$color-danger--red: #d9534f;

// PINK
$color-lightpink: LightPink;

// YELLOW
$color-warning--yellow: #c87f0a;
$color-warning-license--yellow: #ffcc00;
$color--yellow: #f9ff90;

// FIELD SETTINGS COLORS
$color-critical-field: #f9ff90;
$color-important-field: #d4f8d4;
$color-normal-field: $color--grey;
$color-unimportant-field: $color--grey3;
$color-hidden-field: $color--white;

// NEW FIELD COLORS SCHEMA
$color-field-yellow: #faff9b;
$color-field-green: #d4f8d4;
$color-field-blue: #a9d6f2;
$color-field-pink: #ffa5b4;
$color-field-orange: #ffc65e;
$color-field-normal: $color--grey;
$color-field-unimportant: $color--grey3;

// License Warning
$warning: #c87f0a;
$warningLicense: #ffcc00;

// Clarity
$primary-text-color: #18394B;

$color-status-ready: #fff;
$color-status-started: #0092d1;
$color-status-pending: #808080;
$color-status-hold: #333;
$color-status-completed: #3c8dbc;
$color-status-unknown: #fff;
$color-status-validated: #fff;
$color-status-validated-na: #fff;
$color-status-questioned: #c72100;
$color-status-archived: #808080;
$color-status-future: #333;
$color-status-not-applicable: #808080;
$color-status-custom: #fff;

$bg-color-status-ready: #01ab08;
$bg-color-status-started: #fff;
$bg-color-status-pending: #fff;
$bg-color-status-hold: #F27113;
$bg-color-status-completed: #fff;
$bg-color-status-unknown: #808080;
$bg-color-status-validated: #01ab08;
$bg-color-status-validated-na: #fff;
$bg-color-status-questioned: #c72100;
$bg-color-status-archived: #fff;
$bg-color-status-future: #fff;
$bg-color-status-not-aplicable: #fff;
$bg-color-status-custom: #fff;