<div class="bundle-create-component">
	<form action="save" method="post" name="bundleCreateForm">
		<div class="dialog">
			<table>
				<tbody>
					<tr>
						<td colspan="2">
							<div class="required">
								Fields marked ( * ) are mandatory
							</div>
						</td>
					</tr>
					<tr class="prop">
						<td valign="top" class="name">
							<label for="name">Name:
								<span class="requiredProp" style="color: red">*</span>
							</label>
						</td>
						<td valign="top" class="value">
							<input
								class="clr-input"
								type="text"
								[(ngModel)]="bundleModel.name"
								id="name"
								name="name"
							/>
						</td>
					</tr>

					<tr class="prop">
						<td valign="top" class="name">
							<label for="description">Description: </label>
						</td>
						<td valign="top" class="value">
							<input
								type="text"
								class="clr-input"
								[(ngModel)]="bundleModel.description"
								id="description"
								name="description"
							/>
						</td>
					</tr>
					<tr class="prop">
						<td valign="top" class="name">
							<label>From:</label>
						</td>
						<td valign="top" class="value">
							<kendo-dropdownlist
								id="sourceRoomId"
								name="sourceRoom"
								[(ngModel)]="bundleModel.fromId"
								[valuePrimitive]="true"
								[textField]="'roomName'"
								[valueField]="'id'"
								[data]="rooms"
							></kendo-dropdownlist>
						</td>
					</tr>
					<tr class="prop">
						<td valign="top" class="name">
							<label>To:</label>
						</td>
						<td valign="top" class="value">
							<kendo-dropdownlist
								id="targetRoomId"
								name="targetRoom"
								[(ngModel)]="bundleModel.toId"
								[valuePrimitive]="true"
								[textField]="'roomName'"
								[valueField]="'id'"
								[data]="rooms"
							></kendo-dropdownlist>
						</td>
					</tr>

					<tr class="prop">
						<td valign="top" class="name">
							<label>Start Time:</label>
						</td>
						<td valign="top" class="value">
							<tds-datetime-control
								name="startTime"
								[(ngModel)]="bundleModel.startTime"
							></tds-datetime-control>
						</td>
					</tr>

					<tr class="prop">
						<td valign="top" class="name">
							<label>Completion Time:</label>
						</td>
						<td valign="top" class="value">
							<tds-datetime-control
								name="completionTime"
								[(ngModel)]="bundleModel.completionTime"
							></tds-datetime-control>
						</td>
					</tr>

					<tr class="prop">
						<td valign="top" class="name">
							<label>Order:</label>
						</td>
						<td valign="top" class="value">
							<kendo-dropdownlist
								id="operationalOrderId"
								name="operationalOrder"
								[(ngModel)]="
									bundleModel.operationalOrder
								"
								[data]="orderNums"
							></kendo-dropdownlist>
						</td>
					</tr>

					<tr class="prop">
						<td valign="top" class="name">
							<label class="api-action-bypass">Use for Planning:</label>
						</td>
						<td>
							<input
								clrCheckbox
								type="checkbox"
								name="useForPlanning"
								id="useForPlanning"
								value="true"
								checked="checked"
								[(ngModel)]="bundleModel.useForPlanning"
							/>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</form>
</div>
