div.clr-select-wrapper {
  max-height: 1rem;
  display: inline-block;
  position: relative;
  white-space: nowrap;
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: 0 0;
    height: 1rem;
    color: #000;
    display: inline-block;
    border-bottom: 1px solid #999;
    background: -webkit-gradient(linear,left top,left bottom,color-stop(95%,transparent),color-stop(95%,#0092d1)) no-repeat;
    background: linear-gradient(to bottom,transparent 95%,#0092d1 95%) no-repeat;
    background-size: 0 100%;
    -webkit-transition: background-size .2s ease;
    transition: background-size .2s ease;
    position: relative;
    padding: 0 .916667rem 0 .25rem;
    cursor: pointer;
    font-size: .541667rem;
    z-index: 2;
    /**/
    font-size: 13px;
    padding-left: 0;
    font-weight: 500;
    line-height: 18px;
    &:hover {
      border-color: rgba(222,222,222,.5);
      background: rgba(222,222,222,.5);
    }
  }
}


