div.modal-dialog
  padding: 0px
  div.modal-content
    -webkit-border-radius: 0px
    -moz-border-radius: 0px
    border-radius: 0px
    border: 0px
    div#listCommentsTasksPopup
      div#commentsListDialog
        div.list
          margin: 0px 5px 12px 5px
          table#listCommentsTable
            border: none
        div.buttons
          height: 40px
          padding-top: 9px
          a
            cursor: pointer
    div.modal-header
      color: $white !important
      background: $material_c_blue1 50% 50% repeat-x !important
      border-color: $material_c_blue1 !important
      -webkit-border-radius: 0px
      -moz-border-radius: 0px
      border-radius: 0px
      height: 39px
      padding-top: 10px
      button.close
        opacity: 1
        color: $white
      button.close:hover
        opacity: .5
        color: $white
      h3, h4
        font-size: 16px !important
        font-weight: bold !important
        line-height: inherit !important
        font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif !important
    div.modal-footer
      &.form-group-center
        text-align: center
div.ui-front
	z-index: 1050