form
  .form-horizontal
  &.left-alignment
    div.form-group
      input[type="text"]
        height: 34px
        padding-left: 10px
  .btn-with-close-icon
    .fa-close
      position: absolute
      right: 5px
      top: 11px
      bottom: 0
      cursor: pointer