.cookbook_recipes_editor,
.recipeDetail,
.cloneSelectors {
  .gridStyle,
  .gridStyleTasks,
  .gridStyleGroups {
    border: none;
    background: none;
    .ngTopPanel {
      background-color: #d9e4ea;
      height: 34px !important;
      border-bottom: 1px solid #c8d2d8 !important;
      .ngHeaderContainer {
        height: 34px !important;
        .ngHeaderScroller {
          height: 34px !important;
          .ngHeaderCell {
          height: 34px !important;
          .ngVerticalBar  {
            margin-top: 10px;
            height: 13px !important;
            background-color: #656565;
          }
          .ngHeaderText {
            text-align: center;
            font-weight: 400;
            font-size: 14px;
            color: #656565
          }
        }
        }
      }
    }
    .ngRow {
      border-left: 1px solid #d9e4ea;
      border-right: 1px solid #d9e4ea;
      background: none;
      .gridIcon {
        width: 88%;
        i {
          color: #0077b8;
        }
      }
      &.selected {
        background-color: #c9dde1;
      }
      .ngVerticalBar {
        width: 0px !important;
      }
    }
  }
}

.cloneSelectors {
  .gridStyle {
    .ngTopPanel {
      .ngHeaderCell {
        .ngHeaderSortColumn {
          padding-top: 4px;
        }
      }
    }
  }
}
