.cookbook_recipes_editor,
.recipeDetail {
  .gridStyle,
  .gridStyleTasks,
  .gridStyleGroups {
    border: none;
    background: none;
    .ngTopPanel {
      background: none;
      .ngHeaderCell {
        .ngVerticalBar  {
          margin-top: 10px;
          height: 13px !important;
          background-color: #656565;
        }
        .ngHeaderText {
          text-align: center;
          font-weight: 500;
          font-size: 11px;
          color: #3c8dbc;
        }
      }
    }
    .ngRow {
      border: 1px solid #d9e4ea;
      background: none;
      &.selected {
        background-color: #c9dde1;
      }
      .ngVerticalBar {
        width: 0px !important;
      }
    }
  }
}
