.nav-tabs-custom > .nav-tabs > li > a
  background-color: $c_grey3

.nav-tabs-custom>.nav-tabs>li:not(.active):hover, .nav-tabs-custom>.nav-tabs>li:not(.active):focus, .nav-tabs-custom>.nav-tabs>li:not(.active):active
  border-top: 3px solid $material_c_blue2

.nav-tabs-custom>.nav-tabs>li.active
  border-top-color: $material_c_blue2