<!-- Main content -->
<div class="content body default-list-component dependency-batch-list-component">
    <section>
        <div>
            <div class="box-body box-with-empty-header">
                <kendo-grid
                        [data]="dataGridOperationsHelper.gridData"
                        [filter]="dataGridOperationsHelper.state.filter"
                        [filterable]="true"
                        (filterChange)="dataGridOperationsHelper.filterChange($event)"
                        [sort]="dataGridOperationsHelper.state.sort"
                        [sortable]="{mode:'single'}"
                        [pageSize]="25"
                        [resizable]="true"
                        (sortChange)="dataGridOperationsHelper.sortChange($event)"
                        [pageable]="{ pageSizes:[25,50,100,500,1000], info: true}"
                        [selectable]="selectableSettings"
                        [rowSelected]="dataGridOperationsHelper.isRowSelected"
                        (cellClick)="dataGridOperationsHelper.selectCell($event); openBatchDetail($event)">
                        <!--
                             Toolbar Template
                        -->
                        <ng-template kendoGridToolbarTemplate [position]="'top'">
                            <button class="btn btn-default" id="btnBulkDelete" type="button">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> {{ 'GLOBAL.DELETE' | translate }}
                            </button>
                            <button class="btn btn-default" id="btnBulkArchive" type="button">
                                <span class="glyphicon glyphicon-folder-close" aria-hidden="true"></span> {{ 'GLOBAL.ARCHIVE' | translate }}
                            </button>
                        </ng-template>

                        <!-- Columns -->
                        <kendo-grid-column *ngFor="let column of columnsModel.columns"
                                       field="{{column.property}}"
                                       [locked]="column.locked"
                                       format="{{column.format}}"
                                       [headerClass]="column.headerClass ? column.headerClass : ''"
                                       [headerStyle]="column.headerStyle ? column.headerStyle : ''"
                                       [class]="column.cellClass ? column.cellClass : ''"
                                       [style]="column.cellStyle ? column.cellStyle : ''"
                                       [width]="!column.width ? COLUMN_MIN_WIDTH : column.width">

                            <!--
                                Header Template
                             -->
                            <ng-template kendoGridHeaderTemplate>
                                <label [ngClass]="{'action-header':column.type === 'action'}"> {{column.label}}</label>
                            </ng-template>
                            <!--
                                Cell Template
                            -->
                            <!-- Action -->
                            <ng-template kendoGridCellTemplate *ngIf="column.type === 'action'" let-dataItem>
                                <button *ngIf="dataItem.status === 'Pending'" class="btn btn-action btn-default"
                                        title="{{ 'DEPENDENCY_BATCH.LIST.PENDING_TOOLTIP' | translate }}">
                                    <i class="fa fa-play-circle-o"></i>
                                </button>
                                <button *ngIf="dataItem.status === 'Processing'" class="btn btn-action btn-default"
                                        title="{{ 'DEPENDENCY_BATCH.LIST.PROCESSING_TOOLTIP' | translate }}">
                                    <i class="fa fa-stop"></i>
                                </button>
                                <button *ngIf="dataItem.status === 'Queued'" class="btn btn-action btn-default"
                                        title="{{ 'DEPENDENCY_BATCH.LIST.QUEUED_TOOLTIP' | translate }}">
                                    <i class="fa fa-eject"></i>
                                </button>
                            </ng-template>
                            <!-- Status -->
                            <ng-template kendoGridCellTemplate *ngIf="column.property === 'status'" let-dataItem>
                                <div [ngClass]="{ 'status-with-errors' : dataItem.errors > 0 }">
                                    {{ dataItem.status }}
                                </div>
                            </ng-template>
                            <!--
                                Filter Template
                            -->
                            <ng-template kendoGridFilterCellTemplate let-filter>
                                <div class="has-feedback" *ngIf="column.property && (column.type !== 'action' && column.type !== 'number' )" style="margin-bottom:0px;">
                                    <div *ngIf="column.type === 'date'; then dateFilter else stringFilter"></div>
                                    <ng-template #dateFilter>
                                        <kendo-datepicker (valueChange)="dataGridOperationsHelper.onFilter(column)" [(ngModel)]="column.filter"></kendo-datepicker>
                                        <span *ngIf="column.filter" (click)="dataGridOperationsHelper.clearValue(column)"
                                              style="left:106px;cursor:pointer;color:#656565;pointer-events:all" class="fa fa-times form-control-feedback"></span>
                                    </ng-template>
                                    <ng-template #stringFilter>
                                        <input [(ngModel)]="column.filter" (keyup)="dataGridOperationsHelper.onFilter(column)"
                                               type="text" class="form-control" name="{{column.property}}" placeholder="Filter" value="">
                                        <span *ngIf="column.filter" (click)="dataGridOperationsHelper.clearValue(column)" style="cursor:pointer;color:#656565;pointer-events:all" class="fa fa-times form-control-feedback"></span>
                                    </ng-template>
                                </div>
                            </ng-template>
                    </kendo-grid-column>
                </kendo-grid>
            </div>
            <!-- /.box-body -->
        </div>
    </section>
</div>