<!-- Main content -->
<div class="content body default-list-component dependency-batch-list-component">
    <section>
        <div>
            <div class="box-body box-with-empty-header">
                <kendo-grid
                        *ngIf="dataGridOperationsHelper"
                        [data]="dataGridOperationsHelper.gridData"
                        [filter]="dataGridOperationsHelper.state.filter"
                        [filterable]="true"
                        (filterChange)="dataGridOperationsHelper.filterChange($event)"
                        [sort]="dataGridOperationsHelper.state.sort"
                        [sortable]="{mode:'single'}"
                        [pageSize]="dataGridOperationsHelper.defaultPageSize"
                        [skip]="dataGridOperationsHelper.skip"
                        [pageable]="{pageSizes: dataGridOperationsHelper.defaultPageOptions, info: true}"
                        (pageChange)="dataGridOperationsHelper.pageChange($event)"
                        [resizable]="true"
                        (sortChange)="dataGridOperationsHelper.sortChange($event)"
                        [selectable]="selectableSettings"
                        [rowSelected]="dataGridOperationsHelper.isRowSelected"
                        (cellClick)="dataGridOperationsHelper.selectCell($event); openBatchDetail($event)">
                        <!--
                             Toolbar Template
                        -->
                        <ng-template kendoGridToolbarTemplate [position]="'top'">
                            <button *ngIf="canBulkDelete()" [disabled]="dataGridOperationsHelper.getCheckboxSelectedItems().length === 0"
                                    class="btn btn-default" id="btnBulkDelete" type="button">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> {{ 'GLOBAL.DELETE' | translate }}
                            </button>
                            <button *ngIf="canBulkArchive()"
                                    [disabled]="dataGridOperationsHelper.getCheckboxSelectedItems().length === 0"
                                    (click)="onArchiveBatch()"
                                    class="btn btn-default" id="btnBulkArchive" type="button">
                                <span class="glyphicon glyphicon-folder-close" aria-hidden="true"></span>
                                <span *ngIf="!viewArchived"> {{ 'GLOBAL.ARCHIVE' | translate }} </span>
                                <span *ngIf="viewArchived"> {{ 'DEPENDENCY_BATCH.LIST.UNARCHIVE' | translate }} </span>
                            </button>
                                <label class="view-archived">
                                    <input name="viewArchived" type="checkbox"
                                           (change)="onViewArchived()" [(ngModel)]="viewArchived">
                                    {{'DEPENDENCY_BATCH.LIST.VIEW_ARCHIVED' | translate}}
                                </label>
                        </ng-template>

                        <!--
                            Checkbox Template (Select All & Cell Content)
                        -->
                        <kendo-grid-column *ngIf="canBulkDelete() || canBulkArchive()" title="" [locked]="true" [filterable]="false" [width]="45">
                            <ng-template kendoGridHeaderTemplate>
                                <div class="row">
                                    <div class="col-md-12 text-center">
                                        <div class="checkbox checkbox-grid">
                                            <label>
                                                <input type="checkbox" name="selectAll"
                                                       [(ngModel)]="dataGridOperationsHelper.selectAllCheckboxes"
                                                       (change)="dataGridOperationsHelper.onSelectAllCheckboxes()" >
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                            <ng-template kendoGridCellTemplate let-dataItem>
                                <div class="text-center k-grid-ignore-click">
                                    <label style="min-height: 15px;">
                                        <input type="checkbox"
                                               [(ngModel)]="dataGridOperationsHelper.bulkItems[dataItem[checkboxSelectionConfig.useColumn]]"
                                               name="checkbox_{{dataItem[checkboxSelectionConfig.useColumn]}}"
                                               (change)="dataGridOperationsHelper.onCheckboxChange(dataItem[checkboxSelectionConfig.useColumn])"
                                               [disabled]="dataItem.status === 'PROCESSING'">
                                    </label>
                                </div>
                            </ng-template>
                        </kendo-grid-column>
                        <!--
                            Columns
                        -->
                        <kendo-grid-column *ngFor="let column of columnsModel.columns"
                                       field="{{column.property}}"
                                       [locked]="column.locked"
                                       format="{{column.format}}"
                                       [headerClass]="column.headerClass ? column.headerClass : ''"
                                       [headerStyle]="column.headerStyle ? column.headerStyle : ''"
                                       [class]="column.cellClass ? column.cellClass : ''"
                                       [style]="column.cellStyle ? column.cellStyle : ''"
                                       [width]="!column.width ? COLUMN_MIN_WIDTH : column.width">

                            <!--
                                Header Template
                             -->
                            <ng-template kendoGridHeaderTemplate>
                                <label [ngClass]="{'action-header':column.type === 'action'}"> {{column.label}}</label>
                            </ng-template>
                            <!--
                                Cell Template
                            -->
                            <!-- Action -->
                            <ng-template kendoGridCellTemplate *ngIf="column.type === 'action'" let-dataItem>
                                <div class="k-grid-ignore-click" style="cursor: default;">
                                    <button *ngIf="dataItem.status === 'PENDING'"
                                            (click)="onPlayButton(dataItem)"
                                            class="btn btn-action btn-default"
                                            title="{{ 'DEPENDENCY_BATCH.LIST.PENDING_TOOLTIP' | translate }}">
                                        <i class="fa fa-play-circle-o"></i>
                                    </button>
                                    <button *ngIf="dataItem.status === 'PROCESSING'"
                                            (click)="onStopButton(dataItem)"
                                            class="btn btn-action btn-default"
                                            title="{{ 'DEPENDENCY_BATCH.LIST.PROCESSING_TOOLTIP' | translate }}">
                                        <i class="fa fa-stop"></i>
                                    </button>
                                    <button *ngIf="dataItem.status === 'QUEUED'" class="btn btn-action btn-default"
                                            title="{{ 'DEPENDENCY_BATCH.LIST.QUEUED_TOOLTIP' | translate }}">
                                        <i class="fa fa-eject"></i>
                                    </button>
                                </div>
                            </ng-template>
                            <!-- Status -->
                            <ng-template kendoGridCellTemplate *ngIf="column.property === 'status'" let-dataItem>
                                <div [ngClass]="{ 'status-with-errors' : dataItem.errors > 0 }">
                                    {{ dataItem.status }}
                                </div>
                                <div *ngIf="dataItem.status === 'Processing'">
                                    <div class="progress" style="margin-bottom: 0px;">
                                        <div class="progress-bar" role="progressbar" style="width: 50%">50%</div>
                                    </div>
                                </div>
                            </ng-template>
                            <!--
                                Filter Template
                            -->
                            <ng-template kendoGridFilterCellTemplate let-filter>
                                <div class="has-feedback" *ngIf="column.property && (column.type !== 'action' && column.type !== 'number' )" style="margin-bottom:0px;">
                                    <div *ngIf="column.type === 'date'; then dateFilter else stringFilter"></div>
                                    <ng-template #dateFilter>
                                        <kendo-datepicker (valueChange)="dataGridOperationsHelper.onFilter(column)" [(ngModel)]="column.filter"></kendo-datepicker>
                                        <span *ngIf="column.filter" (click)="dataGridOperationsHelper.clearValue(column)"
                                              style="left:106px;cursor:pointer;color:#656565;pointer-events:all" class="fa fa-times form-control-feedback"></span>
                                    </ng-template>
                                    <ng-template #stringFilter>
                                        <input [(ngModel)]="column.filter" (keyup)="dataGridOperationsHelper.onFilter(column)"
                                               type="text" class="form-control" name="{{column.property}}" placeholder="Filter" value="">
                                        <span *ngIf="column.filter" (click)="dataGridOperationsHelper.clearValue(column)" style="cursor:pointer;color:#656565;pointer-events:all" class="fa fa-times form-control-feedback"></span>
                                    </ng-template>
                                </div>
                            </ng-template>
                    </kendo-grid-column>
                </kendo-grid>
            </div>
            <!-- /.box-body -->
        </div>
    </section>
</div>