.asset-comment-list-component
  .k-grid-content-locked,
  .k-grid-header-locked
    border-right-width: 5px
    border-right-color: $color--grey2
  .k-grid tbody tr td
    overflow: hidden
    text-overflow: ellipsis
    white-space: nowrap
  .k-grid
    .k-grid-content
      table.k-grid-table
        tbody
          tr
            td.column-cursor-pointer
              cursor: pointer
  .tds-kendo-grid.without-selectabe-rows
      .k-grid-content-locked
          .k-grid-table tbody td:not(:first-child)
              cursor: pointer
  .filters-section
    margin-top: 4px
  .kendo-grid-toolbar__refresh-btn
    i
      font-size: 22px
    padding: 5px 11px
