.asset-comment-list-component
  .k-grid-content-locked,
  .k-grid-header-locked
    border-right-width: 5px
    border-right-color: $color--grey2
  .k-grid tbody tr td
    overflow: hidden
    text-overflow: ellipsis
    white-space: nowrap