.asset-comment-view-edit-component
   .clr-form-control
      margin-top: unset
      .clr-control-container
         width: 100%
         textarea
            width: 100%
   .comment-text
      margin-left: 15px
   .k-widget.form-control
      .k-input
         padding: 4px 8px
         height: unset
