.task-list
  font-family: Roboto
  padding-top: 40px
  form
    height: 12%
    padding-top: 0
  $secondary-fore-color: #18394B
  .btn-link
    .contextual-menu
  .refresh-container
    display: flex
  .page-header
    display: flex
    justify-content: space-between
    border-bottom-width: 0
    margin-bottom: 0
    padding-bottom: 0
    h1
      font-weight: bold
      font-size: 18px
      line-height: 24px
      color: #18394B
      margin-top: 5px
  .badge
    padding: 0
  .task-action-buttons
    display: inline
  .grid-container
    height: 88%
    .k-grid-header
      .k-header
        top: 3px
        overflow: unset
    .box-with-empty-header
      height: 100%
    .task-grid
      height: 100%
      max-height: 100%
      display: -webkit-box
  .label-event-list
    font-style: normal
    font-weight: 500
    font-size: 14px
    line-height: 24px
    margin: unset
  .select-event-list
    //width: 176px
    width: 150px
    max-width: 150px
    font-style: normal
    font-weight: 500
    font-size: 13px
    line-height: 18px
  .checkboxes-container
    display: flex
    align-items: flex-end
    justify-content: space-around
  .actions-primary-page-container
    display: flex
    justify-content: space-between
    align-items: flex-end
    clr-select-container
      margin-top: unset
    tds-button
      button
        color: unset
        border-color: unset
    //.left-container
    //  display: flex
    //  clr-select-container
    //    margin-top: 10px
    .check-container
      display: flex
      clr-checkbox-wrapper
        margin-right: 15px
  .actions-secondary-page-container
    display: flex
    justify-content: flex-end
    padding-top: 4px
  .buttons-container
    display: flex
    align-items: flex-end
    justify-content: flex-end
