.highlight-filter-popup {
  z-index: 70;
  border-radius: .2rem;
  padding: 0 2px 0 2px;
}

.popup-label {
  color: #3c8dbc;
}

.advanced-filter-btn {
  border-radius: 1rem;
  border: 1px solid #999;
}

.disp-table-cell {
  display: table-cell;
}

.clear-icon-button {
  cursor: pointer;
}

.k-icon {
  font-family: "WebComponentsIcons", serif !important;
}
