.task-list
  font-family: Roboto
  padding-top: 10px
  height: 90vh
  form
    padding-top: 0
  $secondary-fore-color: #18394B
  .btn-link
    .contextual-menu
      clr-icon
        color: #000
  .refresh-container
    display: flex
  .page-header
    display: flex
    justify-content: space-between
    border-bottom-width: 0
    margin-bottom: 0
    padding-bottom: 0
    h1
      font-weight: bold
      font-size: 18px
      line-height: 24px
      color: #18394B
      margin-top: 5px
  //.box-body.tds-kendo-grid.is-filtering
  //  .k-grid
  //    .k-grid-header
  //      height: unset
  .badge
    padding: 0
  .task-action-buttons
    display: inline
  .grid-container
    height: 100%
    .box-with-empty-header
      height: 90%
    .task-grid
      height: 100%
      max-height: 100%
      display: -webkit-box
  //.box-body.tds-kendo-grid
  //  height: 100%
  //  max-height: 100%
  //  kendo-grid
  //    .k-grid-toolbar
  //      padding-top: 0
  //    .k-grid-header
  //      .k-header
  //        vertical-align: middle
  //        padding: 0 12px
  //      .k-header.action-column
  //        .k-link
  //          text-overflow: unset
  //  .sortable-column
  //    label
  //      font-style: normal
  //      font-weight: 500
  //      font-size: 12px
  //      line-height: 16px
  //      color: $secondary-fore-color
  //      padding-right: unset
  //      margin-bottom: 1px
  //      margin-top: 1px
  tds-button
    button
      color: unset
      border-color: unset
  .label-event-list
    font-style: normal
    font-weight: 500
    font-size: 14px
    line-height: 24px
  .select-event-list
    width: 176px
    font-style: normal
    font-weight: 500
    font-size: 13px
    line-height: 18px
  .checkboxes-container
    display: flex
    align-items: flex-end
    justify-content: space-around
  .actions-primary-page-container
    display: flex
    justify-content: space-between
    align-items: flex-end
    .left-container
      display: flex
      clr-select-container
        margin-top: 10px
      .check-container
        display: flex
        align-items: flex-end
        clr-checkbox-wrapper
          margin-right: 15px
  .actions-secondary-page-container
    display: flex
    justify-content: flex-end
    padding-top: 4px
  .buttons-container
    display: flex
    align-items: flex-end
    justify-content: flex-end
