.task-view-toggle-btn {
  background-color: #fff !important;
  border: 1px solid #ddd !important;
  font-size: 1.2em !important;
  color: #908f8f !important;
  margin-right: .18rem;
}

.tvt-btn-disabled {
  background-color: #3c8dbc !important;
  outline: 0;
  box-shadow: inset 0 3px 5px rgba(0,0,0,.125) !important;
  font-size: 1.2em !important;
  color: #fff !important;
  opacity: 0.90 !important;
}

.tvt-tooltip {
  color: white;
  font-weight: bold;
  background-color: #0a4d85;
}
