<div class="data-script-view-edit-component">
	<form
		name="dataScriptForm"
		role="form"
		data-toggle="validator"
		#dataScriptForm="ngForm"
		class="form-horizontal left-alignment"
	>
		<div class="box-body">
			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<label
							for="dataScriptProvider"
							class="col-sm-3 control-label"
							>Provider:
							<span
								class="is-required"
								*ngIf="modalType !== actionTypes.VIEW"
								>*</span
							>
						</label>
						<div
							class="col-sm-8" *ngIf="modalType !== actionTypes.VIEW">
							<kendo-dropdownlist *ngIf="providerList && providerList.length"
												#dataScriptProvider
												id="dataScriptProvider"
												name="dataScriptProvider"
												class="form-control"
												[data]="providerList"
												[textField]="'name'"
												[valueField]="'id'"
												[defaultItem]="dataScriptModel.provider"
												[(ngModel)]="dataScriptModel.provider"
												required
												[ngClass]="{'has-error': dataScriptForm.touched && dataScriptModel.provider &&
										!dataScriptModel.provider.id
								}"
							>
							</kendo-dropdownlist>
						</div>
						<div
							class="col-sm-8"
							*ngIf="modalType === actionTypes.VIEW"
						>
							<label class="control-label label-detail">{{
								dataScriptModel.provider.name
							}}</label>
						</div>
					</div>
					<div class="form-group">
						<label
							for="dataScriptName"
							class="col-sm-3 control-label"
							>Name:
							<span
								class="is-required"
								*ngIf="modalType !== actionTypes.VIEW"
								>*</span
							>
						</label>
						<div
							class="col-sm-8"
							*ngIf="modalType !== actionTypes.VIEW"
						>
							<input
								clrInput
								type="text"
								(keyup)="onValidateUniqueness()"
								id="dataScriptName"
								name="dataScriptName"
								class="form-control"
								[(ngModel)]="dataScriptModel.name"
								required
								[ngClass]="{'has-error': isNameInvalid()}"
								#etlScriptCreateName
							/>
							<span
								*ngIf="!isUnique"
								style="color: red; font-weight: bold;"
								>{{
									'DATA_INGESTION.DATA_SCRIPT' | translate
								}}
								name must be unique</span
							>
						</div>
						<div
							class="col-sm-8"
							*ngIf="modalType === actionTypes.VIEW"
						>
							<label class="control-label label-detail">{{
								dataScriptModel.name
							}}</label>
						</div>
					</div>
				</div>
			</div>
			<div>
				<div class="form-group">
					<label
						for="dataScriptDescription"
						class="col-sm-3 control-label"
						>Description:</label
					>
					<div
						class="col-sm-8"
						*ngIf="modalType === actionTypes.VIEW"
					>
						<label class="control-label label-detail">{{
							dataScriptModel.description
						}}</label>
					</div>
					<div
						class="col-sm-8"
						*ngIf="modalType !== actionTypes.VIEW"
					>
						<textarea
							clrTextarea
							id="dataScriptDescription"
							name="dataScriptDescription"
							class="form-control"
							[(ngModel)]="dataScriptModel.description"
						></textarea>
					</div>
				</div>
			</div>
			<div>
				<div class="form-group">
					<div class="col-sm-offset-3 col-sm-8">
						<span class="checkbox">
							<clr-checkbox-wrapper>
								<input
									clrCheckbox
									type="checkbox"
									name="isAutoProcess"
									id="isAutoProcess"
									[disabled]="modalType === actionTypes.VIEW"
									[(ngModel)]="dataScriptModel.isAutoProcess"/>
								<label>Used to automatically transform, import and post data into TM</label>
							</clr-checkbox-wrapper>
						</span>
						<span class="checkbox">
							<clr-checkbox-wrapper>
								<input
									clrCheckbox
									type="checkbox"
									name="useWithAssetActions"
									id="useWithAssetActions"
									[disabled]="modalType === actionTypes.VIEW"
									[(ngModel)]="dataScriptModel.useWithAssetActions"/>
								<label>Use with asset actions</label>
							</clr-checkbox-wrapper>
						</span>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
