<!-- Main content -->
<div class="content body tds-kendo-grid project-list-component">
	<section>
		<div *ngIf="projectColumnModel">
			<div class="box-body box-with-empty-header">
				<kendo-grid
					*ngIf="dataGridOperationsHelper"
					[data]="dataGridOperationsHelper.gridData"
					[filter]="dataGridOperationsHelper.state.filter"
					[filterable]="true"
					(filterChange)="dataGridOperationsHelper.filterChange($event)"
					[sort]="dataGridOperationsHelper.state.sort"
					[skip]="skip"
					[sortable]="{ mode: 'single' }"
					[pageSize]="pageSize"
					[resizable]="true"
					(sortChange)="sortChange($event)"
					[pageable]="{
						pageSizes: defaultPageOptions,
						pageSize: pageSize,
						info: true
					}"
					(pageChange)="dataGridOperationsHelper.pageChange($event)"
					[selectable]="false"
					[ngClass]="{ 'hide-filter': !showFilters }"
					class="page-height"
				>
					<ng-template kendoGridToolbarTemplate [position]="'top'">
						<div class="clr-row">
							<div class="clr-col-4 grid-actions project-active-completed-options">
								<clr-radio-wrapper>
									<input
										type="radio"
										clrRadio
										name="active"
										required
										[checked]="showActive"
										(click)="setShowActive(true)"
									/>
									<label>Show Active Projects</label>
								</clr-radio-wrapper>
								<clr-radio-wrapper>
									<input
										type="radio"
										clrRadio
										name="complete"
										required
										[checked]="!showActive"
										(click)="setShowActive(false)"
									/>
									<label>Show Completed Projects</label>
								</clr-radio-wrapper>
							</div>
							<div class="clr-col-8 grid-actions">
								<tds-grid-header-action-buttons
										(refresh)="reloadData()"
										[actionButtons]="headerActionButtons">
								</tds-grid-header-action-buttons>
							</div>
						</div>
					</ng-template>

					<!-- Show Filters / Actions column -->
					<kendo-grid-column
						[field]="'_showFilters'"
						[headerClass]="'show-filters'"
						[sortable]="false"
						[width]="60"
						[class]="{ 'k-custom-command-column': true, 'actions-column': true }"
						[minResizableWidth]="60">
						<!-- Toggle Filters button -->
						<ng-template kendoGridHeaderTemplate>
							<tds-grid-show-hide-filters-button [filterCount]="filterCount()"
																								 (toggleFilters)="toggleFilter()">
							</tds-grid-show-hide-filters-button>
						</ng-template>
						<!-- Clear all Filters button -->
						<ng-template kendoGridFilterCellTemplate let-filter>
							<tds-grid-clear-all-filters-button [show]="filterCount()"
																								 (clearFilters)="clearAllFilters()">
							</tds-grid-clear-all-filters-button>
						</ng-template>
					</kendo-grid-column>

					<kendo-grid-column
						*ngFor="let column of projectColumnModel.columns"
						field="{{ column.property }}"
						format="{{ column.format }}"
						[locked]="column.locked"
						[width]="
							!column.width ? COLUMN_MIN_WIDTH : column.width
						"
					>
						<ng-template kendoGridHeaderTemplate>
							<div
								class="sortable-column"
								(click)="onClickTemplate($event)"
							>
								<label
									[ngClass]="{
										'action-header':
											column.type === 'action'
									}"
								>
									{{ column.label }}</label
								>
							</div>
						</ng-template>

						<ng-template
							kendoGridCellTemplate
							*ngIf="column.property == 'projectCode'"
							let-dataItem
						>
							<a
								style="color:#2C61AA;font-weight:bold"
								(click)="showProject(dataItem.id)"
								>{{ dataItem[column.property] }}</a
							>
						</ng-template>
						<ng-template
							kendoGridCellTemplate
							*ngIf="column.type === 'boolean'"
							let-dataItem
						>
							<input
								type="checkbox"
								[(ngModel)]="dataItem[column.property]"
								style="margin-left: 35%;"
								disabled
							/>
						</ng-template>
						<ng-template kendoGridFilterCellTemplate let-filter>
							<div
									class="filter-input"
									*ngIf="column.property && column.type !== 'action'"
									style="margin-bottom:0px;"
							>
								<tds-grid-filter-input
										name="{{column.property}}"
										[value]="column.filter || ''"
										[filterType]="column.type"
										(filter)="dataGridOperationsHelper.onFilterWithValue($event, column)">
								</tds-grid-filter-input>
							</div>
						</ng-template>
					</kendo-grid-column>

					<!-- PAGER COMPONENT -->
					<ng-template
						kendoPagerTemplate
						let-total="total"
						let-totalPages="totalPages"
						let-currentPage="currentPage"
					>
						<div class="clr-col-12">
							<tds-grid-pager
								[total]="total"
								[totalPages]="totalPages"
								[currentPage]="currentPage"
								[pageSizes]="defaultPageOptions"
								(pageChange)="dataGridOperationsHelper.pageChange($event)"
							>
							</tds-grid-pager>
						</div>
					</ng-template>
				</kendo-grid>
			</div>
		</div>
	</section>
</div>
