<div class="project-list-component">
	<div class="clr-col-4 grid-actions project-active-completed-options">
		<clr-radio-wrapper>
			<input
					type="radio"
					clrRadio
					name="active"
					required
					[checked]="showActive"
					(click)="setShowActive(true)"
			/>
			<label>Show Active Projects</label>
		</clr-radio-wrapper>
		<clr-radio-wrapper>
			<input
					type="radio"
					clrRadio
					name="complete"
					required
					[checked]="!showActive"
					(click)="setShowActive(false)"
			/>
			<label>Show Completed Projects</label>
		</clr-radio-wrapper>
	</div>

	<tds-grid
			[gridModel]="gridModel"
			(cellClick)="cellClick($event)">
	</tds-grid>
</div>
