<!-- Main content -->
<div class="content body tds-kendo-grid license-admin-list-component">
	<section>
		<div *ngIf="licenseColumnModel">
			<div class="box-body box-with-empty-header">
				<kendo-grid
						[data]="gridData"
						[filter]="state.filter"
						[filterable]="true"
						(filterChange)="filterChange($event)"
						[sort]="state.sort"
						[skip]="skip"
						[sortable]="{mode:'single'}"
						[pageSize]="pageSize"
						[resizable]="true"
						(sortChange)="sortChange($event)"
						[pageable]="{pageSizes: defaultPageOptions, pageSize: pageSize, info: true}"
						(pageChange)="pageChange($event)"
						(cellClick)="cellClick($event)"
						[selectable]="true">
					<ng-template kendoGridToolbarTemplate [position]="'top'">
						<button class="btn btn-default button-create-license" type="button" (click)="onCreateLicense()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> {{ 'LICENSE.CREATE_LICENSE' | translate }}</button>
						<div (click)="reloadData()" class="kendo-grid-toolbar__refresh-btn"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></div>
					</ng-template>
					<kendo-grid-column *ngFor="let column of licenseColumnModel.columns" field="{{column.property}}" format="{{column.format}}" [locked]="column.locked" [width]="!column.width ? COLUMN_MIN_WIDTH : column.width">
						<ng-template kendoGridHeaderTemplate>
							<div class="sortable-column" (click)="onClickTemplate($event)">
								<label [ngClass]="{'action-header':column.type === 'action'}"> {{column.label}}</label>
							</div>
						</ng-template>

						<ng-template kendoGridFilterCellTemplate let-filter>
							<div class="has-feedback" *ngIf="column.property && column.type !== 'action'" style="margin-bottom:0px;">
								<div *ngIf="column.type === 'date'">
									<kendo-datepicker [format]="dateFormat" [(ngModel)]="column.filter" (valueChange)="onFilter(column)" [style.width.%]="100"></kendo-datepicker>
									<span *ngIf="column.filter" (click)="clearValue(column)" style="right:15%;cursor:pointer;color:#656565;pointer-events:all" class="fa fa-times form-control-feedback" aria-hidden="true"></span>
								</div>
								<div *ngIf="column.type === 'text'">
									<input type="text" (keyup)="onFilter(column)" class="form-control" name="{{column.property}}" [(ngModel)]="column.filter" placeholder="Filter {{column.label}}" value="">
									<span *ngIf="column.filter" (click)="clearValue(column)" style="cursor:pointer;color:#656565;pointer-events:all" class="fa fa-times form-control-feedback" aria-hidden="true"></span>
								</div>
							</div>
						</ng-template>

						<ng-template kendoGridCellTemplate *ngIf="column.type === 'action'" let-dataItem>
							<div class="text-center">
								<button class="btn btn-default" (click)="onEdit(dataItem)"><span class="glyphicon glyphicon-pencil"></span></button>
								<button class="btn btn-default" (click)="onDelete(dataItem)"><span class="fa fa-fw fa-trash"></span></button>
							</div>
						</ng-template>

						<ng-template kendoGridCellTemplate *ngIf="column.property === 'type'" let-dataItem>
							<span *ngIf="dataItem.type === licenseType.MULTI_PROJECT">{{ 'LICENSE.GLOBAL' | translate }}</span>
							<span *ngIf="dataItem.type === licenseType.SINGLE_PROJECT">{{ 'LICENSE.SINGLE' | translate }}</span>
						</ng-template>

						<ng-template kendoGridCellTemplate *ngIf="column.property === 'status'" let-dataItem>
							<span *ngIf="dataItem.status === licenseStatus.PENDING">{{ 'GLOBAL.PENDING' | translate }}</span>
							<span *ngIf="dataItem.status === licenseStatus.ACTIVE">{{ 'GLOBAL.ACTIVE' | translate }}</span>
						</ng-template>

						<ng-template kendoGridCellTemplate *ngIf="column.property === 'environment'" let-dataItem>
							<span *ngIf="dataItem.environment === licenseEnvironment.ENGINEERING">{{ 'LICENSE.ENGINEERING' | translate }}</span>
							<span *ngIf="dataItem.environment === licenseEnvironment.TRAINING">{{ 'LICENSE.TRAINING' | translate }}</span>
							<span *ngIf="dataItem.environment === licenseEnvironment.DEMO">{{ 'LICENSE.DEMO' | translate }}</span>
							<span *ngIf="dataItem.environment === licenseEnvironment.PRODUCTION">{{ 'LICENSE.PRODUCTION' | translate }}</span>
						</ng-template>

					</kendo-grid-column>
				</kendo-grid>
			</div>
			<!-- /.box-body -->
		</div>
	</section>
</div>