<div class="provider-view-edit-component">
	<form
		name="providerForm"
		role="form"
		data-toggle="validator"
		#providerForm="ngForm"
		class="form-horizontal left-alignment"
		>
		<div class="box-body">
			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<label
							for="providerName"
							class="col-sm-2 control-label"
							[ngClass]="{'required-field': modalType !== actionTypes.VIEW}">
							Name:
						</label>
						<div
							class="col-sm-9"
							*ngIf="modalType !== actionTypes.VIEW"
						>
							<input
								clrInput
								#providerNameElement
								type="text"
								(keyup)="onValidateUniqueness()"
								id="providerName"
								name="providerName"
								class="form-control"
								[(ngModel)]="providerModel.name"
								required
								[ngClass]="{
									'has-error': !providerForm.form.valid
								}"
							/>
							<span
								*ngIf="!isUnique && !isEmptyValue()"
								style="color: red; font-weight: bold;"
								>Provider name must be unique</span
							>
						</div>
						<div
							class="col-sm-9"
							*ngIf="modalType === actionTypes.VIEW"
						>
							<label class="control-label label-detail">{{
								providerModel.name
							}}</label>
						</div>
					</div>
					<div class="form-group">
						<label
							for="providerDescription"
							class="col-sm-2 control-label"
							>Description:</label
						>
						<div
							class="col-sm-9"
							*ngIf="modalType !== actionTypes.VIEW"
						>
							<input
								clrInput
								type="text"
								id="providerDescription"
								name="providerDescription"
								class="form-control"
								[(ngModel)]="providerModel.description"
							/>
						</div>
						<div
							class="col-sm-9"
							*ngIf="modalType === actionTypes.VIEW"
						>
							<label class="control-label label-detail">{{
								providerModel.description
							}}</label>
						</div>
					</div>
					<div class="form-group">
						<label
							for="providerComment"
							class="col-sm-2 control-label"
							>Comment:</label
						>
						<div
							class="col-sm-9"
							*ngIf="modalType !== actionTypes.VIEW"
						>
							<textarea
								clrTextarea
								id="providerComment"
								name="providerComment"
								class="form-control"
								[(ngModel)]="providerModel.comment"
							></textarea>
						</div>
						<div
							class="col-sm-9"
							*ngIf="modalType === actionTypes.VIEW"
						>
							<label class="control-label label-detail">{{
								providerModel.comment
							}}</label>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
