<div tds-autofocus class="modal-content data-script-view-edit-component"  #providerContainer>
	<div class="modal-header">
		<button (click)="cancelCloseDialog()" type="button" class="close" aria-label="Close"><span aria-hidden="true">×</span></button>
		<h4 class="modal-title">{{modalTitle}}</h4>
	</div>
	<div class="modal-body">
		<form name="providerForm" role="form" data-toggle="validator" #providerForm='ngForm' class="form-horizontal left-alignment">
			<div class="box-body">
				<div class="row">
					<div class="col-md-12">
						<div class="form-group">
							<label for="providerName" class="col-sm-2 control-label">Name:<span style="color: red;" *ngIf="modalType !== actionTypes.VIEW">*</span></label>
							<div class="col-sm-9" *ngIf="modalType !== actionTypes.VIEW">
								<input #providerNameElement type="text"   (keyup)="onValidateUniqueness()" id="providerName" name="providerName" class="form-control" [(ngModel)]="providerModel.name" required [ngClass]="{'has-error': !providerForm.form.valid}"/>
								<span *ngIf="!isUnique && !isEmptyValue()" style="color: red; font-weight: bold;">Provider name must be unique</span>
							</div>
							<div class="col-sm-9" *ngIf="modalType === actionTypes.VIEW">
								<label class="control-label label-detail">{{providerModel.name}}</label>
							</div>
						</div>
						<div class="form-group">
							<label for="providerDescription" class="col-sm-2 control-label">Description:</label>
							<div class="col-sm-9" *ngIf="modalType !== actionTypes.VIEW">
								<input type="text"  id="providerDescription" name="providerDescription" class="form-control" [(ngModel)]="providerModel.description" />
							</div>
							<div class="col-sm-9" *ngIf="modalType === actionTypes.VIEW">
								<label class="control-label label-detail">{{providerModel.description}}</label>
							</div>
						</div>
						<div class="form-group">
							<label for="providerComment" class="col-sm-2 control-label">Comment:</label>
							<div class="col-sm-9" *ngIf="modalType !== actionTypes.VIEW">
								<textarea  id="providerComment" name="providerComment" class="form-control" [(ngModel)]="providerModel.comment"></textarea>
							</div>
							<div class="col-sm-9" *ngIf="modalType === actionTypes.VIEW">
								<label class="control-label label-detail">{{providerModel.comment}}</label>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
	<div class="modal-footer form-group-center">
		<tds-button-save *ngIf="modalType === actionTypes.EDIT || modalType === actionTypes.CREATE" 
			(click)="onSaveProvider()" class="btn-primary pull-left" [disabled]="!providerForm.form.valid || !isUnique ||  isEmptyValue()">
		</tds-button-save>

		<tds-button-edit *ngIf="modalType === actionTypes.VIEW" (click)="changeToEditProvider()" 
			class="btn-primary pull-left">
		</tds-button-edit>

		<tds-button-delete *ngIf="modalType !== actionTypes.CREATE" (click)="onDeleteProvider()" class="btn-danger">
		</tds-button-delete>

		<tds-button-close *ngIf="modalType === actionTypes.VIEW" class="pull-right" (click)="cancelCloseDialog()">
		</tds-button-close>

		<tds-button-cancel *ngIf="modalType === actionTypes.EDIT || modalType === actionTypes.CREATE" class="pull-right" (click)="cancelCloseDialog()">
		</tds-button-cancel>
	</div>
</div>