div.content-wrapper
  div.container
    .body
      div.dialog
        div.action-wrapper
          text-align: right
          display: flex
          margin-left: auto
          margin-right: 10px
          margin-bottom: 10px