
.colum_techlogin{
	width:777px;
	height:auto;
	margin:0px;
	

}

.w_techlog{
	width:777px;
	height:600px;
	float:left;
	border:1px solid #5F9FCF;
	padding:0px;

}

dt {
   font-weight: bold;
   float: left;
   margin-right: 2px;
 }  

.set_font{
	font-size:9px;
}

.asset_hold{
	background-color:#FFFF00;
	color:black;
}

.asset_ready{
	background-color:#008000;
	color:black;
}

.asset_process{
	background-color:#00FFFF;
	color:black;
}

.asset_pending{
	background-color:#FFFFFF;
	color:black;
}

.asset_done{
	background-color:#FFFFFF;
	text-decoration: line-through;
	color:black;
}