.ignoresMouse {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none !important;
}

svg {
	border: 1px solid rgb(0, 128, 0);
}


/* Graph Nodes */
.root {
	display: none !important;
}
circle {
	pointer-events: none !important;
}
circle.node {
	stroke: #fff;
	stroke-width: 1.5px;
}
use.node {
	fill: #0000ff;
	stroke: #000000;
	stroke-width: 1.5px;
}
use.node.selectedParent {
	fill: #00ff00 !important;
}
use.node.selectedChild {
	fill: #00cc99 !important;
}
use.node.cut {
	fill: #ff0000 !important;
}
use.node.blackBackground {
	stroke: #ffffff;
}
use.node.noEvent {
	stroke: red;
}
use.node.filtered {
	opacity: 0.5;
}

/* Graph Vectors */
line.link {
	stroke: #000000;
	stroke-width: 1px;
	stroke-opacity: .9;
	marker-end: url(#arrowhead);
}
line.link.selected {
	stroke: #00dd00 !important;
	stroke-width: 3px;
	marker-end: url(#arrowheadSelected);
}
line.link.redundant {
	stroke: orange !important;
	stroke-opacity: 0.8 !important;
	marker-end: url(#arrowheadRedundant);
	stroke-dasharray: 5,3;
}
line.link.hidden {
	display: none !important;
}
line.link.cyclical {
	stroke: blue !important;
	stroke-opacity: 0.3 !important;
	marker-end: url(#arrowheadCyclical);
	stroke-dasharray: 8,3;
}
line.link.cut {
	stroke: orange !important;
	stroke-opacity: 1 !important;
	stroke-width: 2px !important;
	marker-end: url(#arrowheadCut);
}
line.link.Future {
	stroke-opacity: 0.9;
	stroke-dasharray: 8,3;
}

line.link.Validated {
	stroke-opacity: 1;
}
line.link.Questioned {
	stroke: red;
}

line.link.blackBackground {
	stroke: #ffffff;
	marker-end: url(#arrowheadBlackBackground);
}
line.link.unresolved {
	stroke: red;
	marker-end: url(#arrowheadUnresolved);
}
line.link.notApplicable {
	stroke: #888888;
	stroke-opacity: 0.7;
	marker-end: url(#arrowheadNA);
}
line.link.notApplicable.blackBackground {
	marker-end: url(#arrowheadNABlackBackground);
}
line.link.bundleConflict {
	stroke: red;
	stroke-opacity: 1;
	stroke-width: 3px;
	stroke-dasharray: 8,3;
	marker-end: url(#arrowheadBundleConflict);
}
line.link.future {
	stroke-dasharray: 2,4;
}

/* Graph Arrowheads */
#arrowheadRedundant {
	opacity: 0.5 !important;
}
#arrowheadCyclical {
	opacity: 0.3;
}
#arrowheadSelected {
	opacity: 1 !important;
}
#arrowheadNA {
	opacity: 0.7;
}
#arrowheadNABlackBackground {
	opacity: 0.7;
}

/* Graph Labels */
g.label text {
	cursor: default;
	fill: #000000;
}
g.label.blackBackground text {
	fill: #ffffff;
}
g.label.selected text {
	fill: #009900;
}
g.label.selected.blackBackground text {
	fill: #ccffcc;
}
g.label text.labelBackground {
	stroke: #ffffff;
	stroke-width: 3px;
}
g.label.blackBackground text.labelBackground {
	stroke: #000000;
}
g.label.filtered text {
	opacity: 0.5;
}

.ui-resizable-helper {
	border: 2px dotted #00F;
	z-index: 90 !important;
}
.ui-resizable-helper {
	border: 2px dotted #00F;
	z-index: 90 !important;
}
.ui-resizable-helper {
	border: 2px dotted #00F;
	z-index: 90 !important;
}
#legendDivId {
	z-index: 91 !important;
}
#controlPanel {
	z-index: 91 !important;
}
#svgContainerId {
	border-width:1px;
	padding: 0px !important;
	margin: 0px !important;
}
.ui-resizable-se {
	background: none !important;
}


#databaseShapeBackgroundId {
	stroke: black !important;
}
#databaseShapeForegroundId {
	fill: black !important;
	stroke: black !important;
}
#databaseShapeId path {
	stroke-width: 1px !important;
}
#databaseShapeId circle {
	fill: black !important;
	stroke: black !important;
	stroke-width: 1px !important;
	cx: 25px !important;
	r: 1 !important;
}
#deviceShapeId path {
	stroke: black !important;
	stroke-width: 1px !important;
}
#deviceShapeId circle {
	fill: black !important;
	stroke: black !important;
	stroke-width: 1px !important;
	cx: 25px !important;
	r: 1 !important;
}

/* Custom right click context menu for graphs */
.customMenu {
	display: none;
	z-index: 1000;
	position: fixed;
	overflow: hidden;
	border: 1px solid #CCC;
	white-space: nowrap;
	font-family: sans-serif;
	background: #FFF;
	color: #333;
	border-radius: 1px;
	padding: 0;
}
.customMenu li {
	padding: 4px 24px;
	cursor: pointer;
	list-style-type: none;
	background-repeat: no-repeat !important;
	background-position: 4px 2px !important;
}
.customMenu li.show {
	background: url(../icons/database_table.png);
}
.customMenu li.edit {
	background: url(../icons/database_edit.png);
}
.customMenu li.console {
	background: url(../icons/script_add.png);
}
.customMenu li.graph {
	background: url(../icons/chart_organisation.png);
}
.customMenu li.refresh {
	background: url(../icons/arrow_refresh.png);
}

.customMenu li:hover {
	background-color: #DEF;
}


div.graphPanel:not(.openPanel) {
	display: none;
}
div.graphPanel.openPanel {
	display: block;
}
#controlPanel {
	float: left;
	border: 1px solid #008000;
	border-top: 0px;
	margin-left: 0px;
	margin-top: 0px;
	background-color: white;
	position: absolute;
	min-width: 120px;
}
#legendDivId {
	float: left;
	border: 1px solid #008000;
	border-top: 0px;
	margin-left: 0px;
	margin-top: 0px;
	background-color: white;
	position: absolute;
}

#panelLink td {
	border-bottom: 0px;
}

#scriptDivId {
	padding: 0px;
}

.controlPanelLabel {
	padding: 0px;
	text-align: right;
	white-space: nowrap;
}
.controlPanelControl {
	padding-left: 5px;
}
img.pointer {
	padding-bottom: 3px;
	vertical-align: middle;
	height: 18;
}

.graphContainer {
	background-color: none;
	position: relative;
	z-index: 95;
}
.graphContainer.fullscreen {
	background-color: #ffffff;
	width: 0px;
	padding: 0px;
	z-index: 105;
}
.fullscreen svg {
	border-width: 0px;
}
.graphContainer #toolsContainerId {
	top: 0px;
	left: 0px;
	display: block;
	position: relative;
	padding: 0px;
	z-index: 96;
}
.graphContainer.fullscreen #toolsContainerId {
	top: 0px;
	left: 0px;
	display: block;
	position: fixed;
	z-index: 106;
}

.graphContainer.fullscreen #toolsContainerId #panelLink {
	display: block;
	position: relative;
	opacity: 0.8;
	top: 0px;
	left: 0px;
}

.graphContainer.fullscreen #toolsContainerId #legendDivId,.graphContainer.fullscreen #toolsContainerId #controlPanel {
	position: relative;
	top: 0px;
	left: 0px;
}

.graphContainer.fullscreen #svgContainerId svg {
	position: fixed;
	left: 0px;
	top: 0px;
}

#controlPanel * {
	vertical-align: middle;
}
#controlPanel table.labelTree {
	border-width: 0px;
}

#controlPanel input[type=button].halfButton {
	width: 95px;
}
#controlPanel input[type=button].fullButton {
	width: 193px;
}
#controlPanel input[type=button]:hover {
	background-color: #eeeeee;
}
#controlPanel input[type=button]:active {
	background-color: #cccccc;
}

#controlPanel .labelToggleCol {
	vertical-align: middle;
	padding-top: 0px;
	padding-bottom: 0px;
}

#controlPanel .labelToggleCol  * {
	vertical-align: middle;
}
#controlPanel .labelToggleCol svg {
	padding-left: 10px;
	width: 30px;
	height: 30px;
	border-width: 0px;
}
#controlPanel .labelToggleRow td:not(.labelToggleCol) * {
	float: right;
}
#controlPanel .labelToggleRow td:not(.labelToggleCol) {
	padding-left: 4px;
}
#controlPanel #colorByFormId {
	padding-left: 4px;
}
#mapReferenceId {
	border-width: 0px;
	margin-bottom: -1px;
}
.graphContainer #mapReferenceId #fullscreenButtonId {
	border: 1px solid green;
	background-image: url(../icons/application.png);
	background-position-x: 5px;
	background-position-y: 50%;
	background-repeat: no-repeat;
	background-color: #ffffff;
	padding-bottom: 3px;
	padding-left: 12px;
	margin-bottom: 4px;
	display: block;
	position: relative;
	z-index: 101;
}
.graphContainer.fullscreen #mapReferenceId #fullscreenButtonId {
	background-image: url(../icons/layout_content.png);
	border-top-width: 0px;
}

#mapReferenceId td.graphPanelTab:not(.activeTab) {
	background-color: #cccccc;
}
#mapReferenceId td.graphPanelTab.activeTab {
	background-color: #ffffff;
}
#mapReferenceId td.graphPanelTab {
	border: 1px solid green;
}
.graphContainer.fullscreen #mapReferenceId td.graphPanelTab {
	border-top-width: 0px;
}
#mapReferenceId td:hover h4 {
	text-decoration: underline !important;
}
#mapReferenceId tr td.spacer {
	background-color: transparent !important;
}


#panelLink * {
	white-space: nowrap;
}
.plusMinusIcon:hover {
	-webkit-filter: saturate(1.5);
	filter: saturate(1.5);
}
.plusMinusIcon:active {
	-webkit-filter: saturate(10);
	filter: saturate(10);
}

.hidden {
	display: none !important;
}

.bundleColorExample {
	padding: 0px;
}
#mapReferenceId h4 {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#spinnerDivId {
	width: 800px;
	height: 300px;
	background-image: url(../images/spinner.gif);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 32px 32px;
	border: 1px solid green;
	padding: 5px;
	margin: 5px;
}
#spinnerDivId.graph {
	padding: 0px;
	margin: 0px;
}

.loading {
	opacity: 0.5;
	background-image: url(../images/spinner.gif);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 32px 32px;
}

#layoutControlContainerId {
	padding: 0px;
	margin: 0px;
}

#twistieRowId td {
	vertical-align: bottom;
}
#twistieRowId svg {
	vertical-align: bottom;
	background-color: #ffffff;
}
#twistieRowId svg:hover {
	background-color: #cccccc;
}
#twistieRowId #twistieId {
	transform-origin: 6px 6px;
}
#twistieRowId.open #twistieId {
	transform: rotate(0deg);
}
#twistieRowId.closed #twistieId {
	transform: rotate(-90deg);
}

#dependencyTableId {
	position: static;
}

#dependencyDivId.floating {
	position: fixed;
	top: 0px;
	left: 320px;
	z-index: 110;
	margin-left: 0px;
	border: 1px solid green;
	border-top-width: 0px;
}
#dependencyDivId.floating .labelColumn {
	display: none;
}
#dependencyDivId.floating #dependencyTableId tr {
	display: none;
}
#dependencyDivId.floating #dependencyTableId tr#dependencyGroupsRowId {
	display: block;
}

.ui-front {
	z-index: 120 !important;
}