
.colum_techlogin{
	width:225px;
	height:auto;
	margin:0px;
	

}

.colum_techlogin_login{
	width:240px;
	height:auto;
	margin:0px;
	

}

.w_techlog_login{
	width:240px;
	height:380px;
	float:left;
	border:1px solid #5F9FCF;
	padding:0px;

}

.w_techlog{
	width:225px;
	height:380px;
	float:left;
	border:1px solid #5F9FCF;
	padding:0px;

}

.asset_hold{
	background-color:#FFFF00;
	color:black;
}

.asset_ready{
	background-color:#008000;
	color:black;
}

.asset_process{
	background-color:#3399FF;
	color:black;
}

.asset_pending{
	background-color:#999;
	color:black;
}
.asset_select{
	background-color:#65a342;
	color:black;
}

.asset_done{
	background-color:#FFFFFF;
	text-decoration: line-through;
	color:black;
}
