body {
    background: black;
    color: white;
	font: 11px "HelveticaNeue-Light","Helvetica Neue",Helvetica,Arial,Verdana,sans-serif;
}
.mainbody {
	background: #444;
	color: white;
	font: 11px "HelveticaNeue-Light","Helvetica Neue",Helvetica,Arial,Verdana,sans-serif;
}

.border_bundle_team {
	background: #444;
}

.colum_techlogin{
	width:220px;
	height:auto;
	margin:0px;

}

.w_techlog{
	width:220px;
	height:380px;
	float:left;
	border:1px solid #5F9FCF;
	padding:0px;

}

.colum_techlogin_login{
	width:237px;
	height:auto;
	margin:0px;
}

.w_techlog_login{
	width:237px;
	height:374px;
	float:left;
	border:1px solid #5F9FCF;
	padding:0px;
}

dt {
   font-weight: bold;
   float: left;
   margin-right: 2px;
 }  

table {
	border: 1px solid black;
}

.asset_details_block{
	font-size:9px;
}

.asset_hold{
	background-color:#FFFF33;
	color:black;
	font-weight:bold;
}

.asset_ready{
	background-color:#33ff00;
	color:black;
	font-weight:bold;
}

.asset_process{
	background-color:#66ffff;
	color:black;
	font-weight:bold;
}

.asset_pending{
	background-color:#ccc;
	color:black;
	font-weight:bold;
}
.asset_select{
	background-color:#65a342;
	color:black;
	font-weight:bold;
}

.asset_done{
	background-color:#FFFFFF;
	color:black;
}
.task_pending {
	background-color: #FFFFFF;
}
.task_done{
	background-color: green;
}

th {
	background-color: #000000;
	color: #ffffff;
	font-weight:bold;
}
td {
	font: 11px "HelveticaNeue-Light","Helvetica Neue",Helvetica,Arial,Verdana,sans-serif;
}

a:link, a:visited, a:hover {
color: white;
font-weight: bold;
}

.action_button {
	background-color:#aaefb8;
	width: 200px;
	font-size: 12px;
	font-weight:bold;
}
.action_button_small {
	background-color:#aaefb8;
	width: 80px;
	font-size: 12px;
	font-weight:bold;
}
.action_button_hold {
	background-color:yellow;
	width: 100px;
	font-size: 12px;
	font-weight:bold;
}
.confirm_checkbox {
	width: 24px;
	height: 24px;
}
.button_style {
	padding-bottom: 0px;
	padding-top:0px;
	text-align: right;
}
.tech_head {
	float:left; 
	width:200px; 
	margin-left:13px;
	background-color:none;
}
#mobtitle {
	height: 31px; 
	width: 220px;
	text-align: center;
	float: left; 
	margin:auto 0px;
	color: white; 
	font-weight: bold;
	font-size: 125%;
	border:1px solid #444; 
	background-color: #444;
	margin:0px;
	padding:auto 0px;
}
.mobmenu {
	height: 21px; 
	width: 40px; 
	float: left; 
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	margin:auto 0px;
	color: white; 
	font-weight: normal;
	border:1px solid #444; 
	margin:0px;
	padding:auto 0px;
}
.mobselect {
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	color: white; 
	font-weight: bold;
	border:2px solid #507028; 
	border-top-color: #444; 
	border-left-color: #444; 
	background:#444;
	padding:auto 0px;
}
.timebar {
  width:220px;height:5px;background-Color:grey;
}

#timebar {
  width:30px;height:5px;background-Color:green;color:white;text-Align:center;
}

.mobbutton {
	color: white; 
	border:1px solid #02322A; 
	margin:2px 5px 5px 5px; 
	height:15px; 
	padding:1px 2px 1px 3px; 
	width:50px; 
	background:#507028; 
	float:left;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}
.mobbutton_deselected {
	color: white; 
	border:1px solid #02322A; 
	margin:2px 5px 5px 5px; 
	height:15px; 
	padding:1px 2px 1px 3px; 
	width:50px; 
	background:#02322A; 
	float:left;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}
.tab {
	padding-top:4px;
	padding-left:0px;
	padding-right:0px;
	padding-bottom:0px;
	width:50px;
}
.tab_search {
	padding-top:0px;
	padding-left:1px;
	padding-right:0px;
	padding-bottom:0px; 
	height:10px;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
}
.tab_search input {
	color: #5b5e5c; 
	border:1px solid #507028; 
	margin:0px; 
	padding:1px;
}
a.tab_select {
	color: white; 
	border:2px solid #507028;
	border-bottom-color: black;
	margin:2px;
	background:black;
	padding:2px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}
a.tab_deselect {
	color: grey; 
	border:2px solid #507028;
	margin:2px;
	padding:2px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}
.sort_column {
	color: #5b5e5c; 
	border:1px  solid #5b5e5c; 
	margin:2px;
	background:#CCC;
	padding:2px;
}
.sign_out {
	color: #5b5e5c; 
	border:1px solid #5b5e5c; 
	margin:2px 5px 5px 5px; 
	height:15px; 
	padding:1px 2px 1px 3px; 
	width:50px; 
	background:#aaefb8; 
	float:left;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
}

.comment_font {
	font-size: 12px;
}

.norecords_display {
	color:red;
	font-weight:bold;
}
/*
* Cabling diagram
*/

#cablingPanel {
	width: 379px;
	height: 199px;
	border: 2px solid black;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-top: 5px;
	background-color: LightGreen; 
	color:black;
	position: relative;
}
#cablingPanel div {
	position: absolute; 
	left: 0; 
	top: 0
	color:black;
}
.connector_Bottom{
	margin-top: 19px;
}
.connector_Right{
	margin-left: 19px;
}
.connector_Left{
	margin-left: -66px;
}
.connector_Top{
	margin-top: -13px;
}
#connectorModelBody{
	color: black;
}
.cabling_div {
	border:1px solid #63A242;
	height: auto;
	width:220px; 
	overflow: auto;
}
.cabling_div th {
    background: none repeat scroll 0 0 #CCCCCC;
    color: #000000;
    font-size: 11px;
    font-weight: bold;
    line-height: 17px;
    padding: 2px 6px;
   	white-space :nowrap;
}