.eventOuterDiv{
	width: 50%;
	float: left;
}

.fullWidth{
	width: 100%
}

.leftFloated {
	float: left;
}

.rightFloated{
	float: right;
}

.halfWidth {
	width: 50%
}

.49PerWidth {
	width: 50%
}

.eventScrolableTable{
	max-height: 195px; 
	overflow: auto;
}

.eventNewsDiv {
	font-size: 18px; 
	width: 49%; 
	float: right;
}

.eventNewsHeader {
	float: left;
    margin-left: 0;
    width: 18%;
    padding-bottom: 13px;
}

.eventNewsScrolableTable{
	max-height: 195px;
	overflow: auto; 
	width: 100%;
}

.taskSummaryOuterDiv {
	width: 50%; 
	float: left; 
	margin-top: 10px;
}

.taskSummaryScrolableTable {
	float: left; 
	width: 100%; 
	max-height: 348px; 
	overflow: auto;
}

#issueTable {
	width: 100%; 
	margin-left: -1px;
	position: relative;
}

.appOuterDiv {
	float: right; 
	width:49%; 
	margin-top: 10px;
}

.appScrolableTable {
	float: left; 
	width: 100%;
	max-height: 152px; 
	overflow: auto;
}

.activepplOuterDiv {
	float: right;
    font-size: 18px;
    padding-top: 10px;
    width: 100%;
}

.activepplHeader {
	float: left;
    margin-left: 0;
    margin-top: -2px;
    width: 22%;
}

.effort {
	margin-top:10px; 
	font-size: 14px
}

.cursor {
	cursor:pointer;
}