<div class="content body field-setting-component">
	<section>
		<div>
			<div class="box-body box-with-empty-header">
				<kendo-tabstrip [keepTabContent]="true">
					<kendo-tabstrip-tab
						*ngFor="let value of domains; let i = index"
						[title]="'ASSETS.' + value.domain | translate"
						[selected]="i === 0"
					>
						<ng-template kendoTabContent>
							<field-settings-grid
								#grid="fieldSettingsGrid"
								(save)="onSaveAll($event)"
								(cancel)="onCancel($event)"
								(add)="onAdd($event)"
								(share)="onShare($event)"
								(delete)="onDelete($event)"
								(filter)="onFilter()"
								[isEditable]="isEditable"
								[gridFilter]="filter"
								[domains]="domains"
								[data]="value"
							>
							</field-settings-grid>
						</ng-template>
					</kendo-tabstrip-tab>
				</kendo-tabstrip>
			</div>
		</div>
	</section>
</div>
