<div class="fields-container row" *ngIf="fieldsInfo">

    <kendo-grid
            [data]="gridData"
            [pageSize]="25">
        <ng-template kendoGridToolbarTemplate [position]="'top'">
            <label class="col-sm-1 text-left" style="margin-top: 5px; padding-right: 0px;">Fields</label>
            <div class="fieldsFilter col-sm-2" style="padding-left: 0px; padding-right: 0px;">
                <kendo-dropdownlist id="fieldsFilter" name="fieldsFilter"
                                    [data]="fieldsFilter.options"
                                    [textField]="'text'"
                                    [valueField]="'value'"
                                    [(ngModel)]="fieldsFilter.selected"
                                    (valueChange)="onFieldsFilter($event)"
                                    placeholder="Filter"
                                    class="form-control input-sm"></kendo-dropdownlist>
            </div>
            <div class="fieldsFilterText col-sm-3">
                <input [(ngModel)]="this.fieldsFilter.nameFilter.value"
                       type="text" class="form-control"
                       name="fieldsFilterText" placeholder="Filter on field name"
                       (keyup)="onTextFilter()">
                <span *ngIf="fieldsFilter.text"
                      style="cursor:pointer;color:#656565;pointer-events:all;margin-right: 25px;width: 10px;"
                      class="fa fa-times form-control-feedback" (click)="clearTextFilter()"></span>
            </div>
        </ng-template>
        <kendo-grid-column title="Name" field="name"></kendo-grid-column>
        <kendo-grid-column title="Imported Value" field="importValue"></kendo-grid-column>
        <kendo-grid-column title="Current Value" field="currentValue"></kendo-grid-column>
        <kendo-grid-column title="Override Value" *ngIf="showActionButtons()">
            <ng-template kendoGridCellTemplate let-dataItem >
                <input type="text" style="width: 100%; height: 30px;" [(ngModel)]="dataItem.overridedValue"/>
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column title="Error(s)">
            <ng-template kendoGridCellTemplate let-dataItem >
                <div *ngFor="let error of dataItem.errors" class="error">
                    * {{error}}
                </div>
            </ng-template>
        </kendo-grid-column>
    </kendo-grid>

    <style>

    </style>
    <div class="row footer" style="margin-top: 30px;">
        <button *ngIf="showActionButtons()"
                [disabled]="!areOverrideValuesDirty()"
                (click)="onUpdate()"
                class="btn btn-default btn-sm col-sm-1" type="button">
            <i class="glyphicon glyphicon-floppy-disk"></i>
            Save
        </button>
        <tds-check-action
                *ngIf="showActionButtons()"
                [disabled]="areOverrideValuesDirty()"
                [name]="'Process'"
                (onClick)="onProcess()"
                [noneStateIcon]="'glyphicon glyphicon-retweet'"
                [class]="'btn-sm col-sm-1'"
                [(model)]="processStatus">
        </tds-check-action>
        <button *ngIf="showIncludeButton()"
                (click)="onInclude()"
                class="btn btn-default btn-sm col-sm-1" type="button">
            <i class="glyphicon glyphicon-plus"></i>
            Include
        </button>
        <button *ngIf="showIgnoreButton()"
                (click)="onIgnore()"
                class="btn btn-default btn-sm col-sm-1" type="button">
            <i class="glyphicon glyphicon-eye-close"></i>
            Ignore
        </button>
        <button (click)="onCancel()"
                class="btn btn-default btn-sm col-sm-1 pull-right" type="button">
            <i class="glyphicon glyphicon-remove-circle"></i>
            <span>{{showActionButtons() ? 'Cancel' : 'Close'}}</span>
        </button>
    </div>
</div>