<div class="task-common">
	<div class="task-detail-container">
		<form #taskEditCreateForm="ngForm">
			<table *ngIf="model" style="border: 0;"
						 [ngClass]="{'has-duplicated-predecessors': modelHelper?.hasDuplicatedPredecessors(),
						   'has-duplicated-successors': modelHelper?.hasDuplicatedSuccessors(),
						   'has-double-assignment': modelHelper?.hasDoubleAssignment()}">
				<tbody class="full-height task-layout">
				<tr class="no-grow-container">
					<td class="" colspan="2">
						<div class="dialog tds-table">
							<table class="task-details">
								<tbody [ngClass]="{'collapsed-table': collapsedTaskDetail}">
								<tr class="prop">
									<td class="N edge-cell" nowrap="nowrap">
										<label class="required-field">Task # {{model.taskNumber}}</label>
									</td>
									<td class="valueNW description-container" colspan="4">
										<div class="validated-field">
											<input type="text" name="comment" class="comment" [(ngModel)]="model.comment" required>
											<div class="error-message">{{'TASK_MANAGER.EDIT.REQUIRED_FIELD' | translate}}</div>
										</div>
									</td>
									<td colspan="1" class="btn-collapsed-fixed-right">
										<!--                                                    *ngIf="!collapsedTaskDetail"-->
										<tds-button-collapse
											[displayLabel]="false"
											class="collapsed-button"
											(click)="onCollapseTaskDetail()">
										</tds-button-collapse>

										<!--                                                    *ngIf="collapsedTaskDetail"-->
										<tds-button-expand
											[displayLabel]="false"
											class="expanded-button"
											(click)="onCollapseTaskDetail()">
										</tds-button-expand>
									</td>
								</tr>

								<tr *ngIf="!collapsedTaskDetail" class="prop">
									<td class="N edge-cell" nowrap="nowrap">
										<label>Person</label>
									</td>
									<td class="valueNW">
										<kendo-dropdownlist
											name="assignedTo"
											class="form-control"
											[data]="model.personList"
											[textField]="'text'"
											[valueField]="'id'"
											[popupSettings]="{width: 300}"
											[(ngModel)]="model.assignedTo">
										</kendo-dropdownlist>
									</td>
									<td class="N edge-cell" nowrap="nowrap">
										<label>Team</label>
									</td>
									<td class="valueNW">
										<kendo-dropdownlist
											name="team"
											class="form-control"
											[data]="model.teamList"
											[textField]="'text'"
											[valueField]="'id'"
											[(ngModel)]="model.assignedTeam">
										</kendo-dropdownlist>
									</td>
									<td class="N edge-cell" nowrap="nowrap">
										<label>Event</label>
									</td>
									<td class="valueNW">
										<kendo-dropdownlist
											name="event"
											class="form-control"
											[data]="model.eventList"
											(selectionChange)="onSelectedEvent($event)"
											[textField]="'text'"
											[valueField]="'id'"
											[(ngModel)]="model.event" [disabled]="isEventLocked">
										</kendo-dropdownlist>
									</td>
								</tr>

								<tr *ngIf="!collapsedTaskDetail" class="prop">
									<td class="url N edge-cell" nowrap="nowrap">
										<label>Fixed Assignment</label>
									</td>
									<td class="valueNW">
										<kendo-dropdownlist
											name="hardAssignment"
											[(ngModel)]="model.hardAssigned"
											[data]="yesNoList">
										</kendo-dropdownlist>
									</td>
									<td class="url N edge-cell" nowrap="nowrap">
										<label>Send Notification</label>
									</td>
									<td class="valueNW">
										<kendo-dropdownlist
											name="sendNotification"
											[(ngModel)]="model.sendNotification"
											[data]="yesNoList">
										</kendo-dropdownlist>
									</td>
									<td class="N edge-cell" nowrap="nowrap">
										<label>Action</label>
									</td>
									<td class="valueNW">
										<kendo-combobox
											class="api-action-combobox"
											name="apiActionList"
											[data]="model.apiActionList"
											[textField]="'text'"
											[valueField]="'id'"
											[(ngModel)]="model.apiAction">
										</kendo-combobox>
									</td>
								</tr>

								<tr *ngIf="!collapsedTaskDetail" class="prop">
									<td class="N edge-cell" nowrap="nowrap">
										<label class="required-field">Category</label>
									</td>
									<td class="valueNW">
										<div class="validated-field">
											<kendo-dropdownlist
												class="category-list"
												name="category"
												[data]="model.categoriesList"
												[(ngModel)]="model.category" required>
											</kendo-dropdownlist>
											<div class="error-message">{{'TASK_MANAGER.EDIT.REQUIRED_FIELD' | translate}}</div>
										</div>
									</td>
									<td class="url N edge-cell" nowrap="nowrap">
										<label>Class</label>
									</td>
									<td class="valueNW">
										<kendo-dropdownlist
											name="assetClass"
											class="form-control"
											[data]="model.assetClasses"
											[textField]="'text'"
											[valueField]="'id'"
											(selectionChange)="onAssetClassChange($event)"
											[(ngModel)]="model.assetClass">
										</kendo-dropdownlist>
									</td>
									<td class="N edge-cell" nowrap="nowrap">
										<label>Asset</label>
									</td>
									<td class="valueNW asset-entity">
										<tds-combobox
											name="asset"
											[(model)]="model.asset"
											[(metaParam)]="model.assetClass.id"
											(valueChange)="onAssetEntityChange($event)"
											[required]="false"
											[serviceRequest]="getAssetList">
										</tds-combobox>
									</td>
								</tr>
								<tr *ngIf="!collapsedTaskDetail" class="prop">
									<td class="N edge-cell" nowrap="nowrap">
										<label>Instruction Link</label>
									</td>
									<td class="valueNW instructions-link">
										<div class="validated-field">
											<input type="text" name="instructionLink"
														 #instructionLink="ngModel"
														 (change)="validateLabelURL($event.target.value)"
														 placeholder="Enter URL or Label|URL"
														 [(ngModel)]="model.instructionLink"/>
											<div class="error-message">Invalid URL</div>
										</div>

									</td>
									<td class="N edge-cell" nowrap="nowrap">
										<label>Priority</label>
									</td>
									<td class="valueNW">
										<kendo-dropdownlist
											name="priority"
											class="form-control"
											[data]="model.priorityList"
											[(ngModel)]="model.priority">
										</kendo-dropdownlist>
									</td>
									<td class="N edge-cell" nowrap="nowrap">
										<label>Due Date</label>
									</td>

									<td class="valueNW">
										<kendo-datepicker
											name="dueDate"
											#dueDate
											[format]="getDateFormat()"
											(open)="onOpenDueDate($event)"
											[(ngModel)]="model.dueDate">
										</kendo-datepicker>
									</td>
								</tr>

								<tr *ngIf="!collapsedTaskDetail" class="prop">
									<td class="N edge-cell" nowrap="nowrap">
										<label>Estimated Duration</label>
									</td>
									<td class="valueNW duration-container">
										<div class="duration-controls">
											<div class="duration-value">
												<input type="number"
															 min="0"
															 (change)="updateEstimatedFinish($event.target.value,'days')"
															 [(ngModel)]="model.durationParts.days" name="durationDays" id="durationDays">
												<label for="durationDays">Days</label>
											</div>
											<div class="duration-value">
												<input type="number"
															 min="0"
															 (change)="updateEstimatedFinish($event.target.value, 'hours')"
															 [(ngModel)]="model.durationParts.hours" name="durationHours" id="durationHours">
												<label for="durationHours">Hours</label>
											</div>
											<div class="duration-value">
												<input type="number"
															 min="0"
															 (change)="updateEstimatedFinish($event.target.value, 'minutes')"
															 [(ngModel)]="model.durationParts.minutes" name="durationMinutes"
															 id="durationMinutes">
												<label for="durationMinutes">Minutes</label>
											</div>
											<label data-toggle="popover"
														 data-trigger="hover"
														 class="lock"
														 data-content="Click to toggle the lock. When locked, changes to the Estimated Start/Finish will preserve the Duration">
												<i class="fa fa-fw  lock-state"
													 [ngClass]="model.locked ? 'fa-lock' : 'fa-unlock'"
													 (click)="toggleLocked()">
												</i>
											</label>
										</div>
									</td>
									<td class="N edge-cell" nowrap="nowrap">
										<label>Estimated Start</label>
									</td>
									<td class="valueNW">
										<kendo-dateinput
											name="estimatedStart"
											class="clickable"
											(click)="openRangeDatesSelector()"
											[format]="getDateTimeFormat(model.estimatedStart)"
											[(ngModel)]="model.estimatedStart">
										</kendo-dateinput>
									</td>

									<td class="N edge-cell" nowrap="nowrap">
										<label>Estimated Finish</label>
									</td>

									<td class="valueNW">
										<div class="estimated-date-container">
											<kendo-dateinput
												name="estimatedFinish"
												class="clickable"
												[format]="getDateTimeFormat(model.estimatedFinish)"
												(click)="openRangeDatesSelector()"
												[(ngModel)]="model.estimatedFinish">
											</kendo-dateinput>
											<span (click)="cleanEstimatedDates()"
														[ngClass]="{'disabled-delete-estimated': !model.estimatedFinish && !model.estimatedStart}"
														class="glyphicon glyphicon-remove delete-command" title="Delete estimation dates">
											</span>
										</div>
									</td>
								</tr>

								<tr *ngIf="!collapsedTaskDetail && !model.apiActionInvokedAt" class="prop just-task-edit-view">
									<td class="N edge-cell" nowrap="nowrap">
										<label>Actual Start</label>
									</td>

									<td class="valueNW">
										<span class="read-only-dates">{{model.actualStart}}</span>
									</td>

									<td class="N edge-cell" nowrap="nowrap">
										<label>Actual Finish</label>
									</td>

									<td class="valueNW">
										<span class="read-only-dates">{{model.actualFinish}}</span>
									</td>

									<td class="N edge-cell" nowrap="nowrap">
										<label>TaskSpec ID</label>
									</td>

									<td class="valueNW">
										<span class="read-only-dates">{{model.taskSpec}}</span>
									</td>
								</tr>

								<tr *ngIf="!collapsedTaskDetail" class="prop">
									<td class="N status-cell" nowrap="nowrap">
										<label>Status</label>
									</td>
									<td class="valueNW task-status vertical-note-status">
										<tds-task-status-indicator
											*ngIf="model.status"
											[propertyName]="'status'"
											[displayLabel]="false"
											[value]="model.status">
										</tds-task-status-indicator>
										<kendo-dropdownlist
											name="statusList"
											[data]="model.statusList"
											[(ngModel)]="model.status">
										</kendo-dropdownlist>
									</td>
									<td colspan="4"></td>
								</tr>
								<tr *ngIf="!collapsedTaskDetail" class="prop">
									<td class="N edge-cell" nowrap="nowrap">
										<label>Completion %</label>
									</td>

									<td class="valueNW completion">
										<tds-number-control
											name="percentageComplete"
											[autoCorrect]="true"
											[(ngModel)]="model.percentageComplete"
											[format]="'n'"
											[min]="0"
											[max]="100">
										</tds-number-control>
									</td>

									<td></td>
									<td></td>
								</tr>
								</tbody>
							</table>
						</div>
					</td>
				</tr>
				<tr class="no-grow-container" *ngIf="!collapsedTaskDetail">
					<td class="dates-info-container" colspan="2">
						<table class="dates-info">
							<tbody>
							<tr>
								<td class="date-created">Created by {{model.personCreateObj}} at {{model.dtCreated}}
									{{(model.taskSpecId) ? ' with spec id ' + model.taskSpecId : ''}}
									<span *ngIf="model.recipe && hasCookbookPermission"> in recipe <a
										href="./../cookbook/index#/recipes/{{model.recipe?.id}}/gentasks/start"> {{model.recipe?.name}}</a></span>
								<td class="last-updated">Last updated: {{model.lastUpdated}}</td>
							</tr>
							</tbody>
						</table>
					</td>
				</tr>
				<tr class="deps no-grow-container">
					<table>
						<tr>
							<td valign="top">
								<kendo-grid
									*ngIf="dataGridTaskPredecessorsHelper && modelHelper"
									class="successor-predecessor-table has-duplicated-predecessors dependency-tasks"
									[data]="dataGridTaskPredecessorsHelper.gridData"
									[resizable]="false">
									<!-- Toolbar Template -->
									<ng-template kendoGridToolbarTemplate [position]="'top'">
										<div class="table-container">
											<label class="table-title">Predecessor
												({{dataGridTaskPredecessorsHelper.gridData.data.length}})</label>
											<tds-button-add class="float-right"
																			[tooltip]="modelHelper.CREATE_PREDECESSOR"
																			[displayLabel]="false"
																			[iconClass]="'is-solid'"
																			[id]="'btnAddPredecessor'"
																			(click)="onAddTaskDependency(model.predecessorList, dataGridTaskPredecessorsHelper)">
											</tds-button-add>
										</div>
									</ng-template>
									<!-- Columns -->
									<kendo-grid-column *ngFor="let column of predecessorSuccessorColumns"
																		 field="{{column.property}}"
																		 [width]="!column.width ? COLUMN_MIN_WIDTH : column.width">
										<!-- Header Template -->
										<ng-template kendoGridHeaderTemplate>
											<label>{{column.label}}</label>
										</ng-template>

										<ng-template kendoGridCellTemplate *ngIf="column.property === 'taskNumber'" let-dataItem
																 let-rowIndex="rowIndex">
											<div>{{dataItem.taskNumber}}</div>
										</ng-template>

										<ng-template kendoGridCellTemplate *ngIf="column.property === 'desc'" let-dataItem
																 let-rowIndex="rowIndex">
											<tds-combobox
												[(model)]="dataItem.model"
												[placeholder]="'Please Select'"
												[innerTemplateFormat]="innerTemplateTaskItem"
												[updateOnChanges]="true"
												[(metaParam)]="metaParam"
												(valueChange)="onModelChange($event,'predecessor', rowIndex)"
												[serviceRequest]="getTasksForComboBox"
												(selectionChange)="onDependencyTaskChange($event, 'predecessor', dataGridTaskPredecessorsHelper,  rowIndex)">
											</tds-combobox>
										</ng-template>

										<ng-template kendoGridCellTemplate
																 let-dataItem
																 let-rowIndex="rowIndex"
																 *ngIf="column.property === 'status'">
											<tds-task-status-indicator
												class=""
												[propertyName]="column.property"
												[value]="dataItem[column.property]">
											</tds-task-status-indicator>
										</ng-template>

									</kendo-grid-column>
									<kendo-grid-messages noRecords="There are no records to display."></kendo-grid-messages>
								</kendo-grid>

							</td>
							<td valign="top">
								<kendo-grid
									*ngIf="dataGridTaskSuccessorsHelper && modelHelper"
									class="successor-predecessor-table has-duplicated-successors dependency-tasks"
									[data]="dataGridTaskSuccessorsHelper.gridData"
									[resizable]="false">
									<!-- Toolbar Template -->
									<ng-template kendoGridToolbarTemplate [position]="'top'">
										<div class="table-container">
											<label class="table-title">Successors ({{dataGridTaskSuccessorsHelper.gridData.data.length}}
												)</label>
											<tds-button-add class="float-right"
																			[tooltip]="modelHelper.CREATE_SUCCESSOR"
																			[iconClass]="'is-solid'"
																			[displayLabel]="false"
																			[id]="'btnAddSuccessor'"
																			(click)="onAddTaskDependency(model.successorList, dataGridTaskSuccessorsHelper)">
											</tds-button-add>
										</div>
									</ng-template>

									<!-- Columns -->
									<kendo-grid-column *ngFor="let column of predecessorSuccessorColumns"
																		 field="{{column.property}}"
																		 [width]="!column.width ? COLUMN_MIN_WIDTH : column.width">
										<!-- Header Template -->
										<ng-template kendoGridHeaderTemplate>
											<label>{{column.label}}</label>
										</ng-template>

										<ng-template kendoGridCellTemplate *ngIf="column.property === 'desc'" let-dataItem
																 let-rowIndex="rowIndex">
											<tds-combobox
												[(model)]="dataItem.model"
												[updateOnChanges]="true"
												[placeholder]="'Please Select'"
												[innerTemplateFormat]="innerTemplateTaskItem"
												[(metaParam)]="metaParam"
												(valueChange)="onModelChange($event,'successor', rowIndex)"
												[serviceRequest]="getTasksForComboBox"
												(selectionChange)="onDependencyTaskChange($event, 'successor', dataGridTaskSuccessorsHelper,  rowIndex)">
											</tds-combobox>
										</ng-template>

										<ng-template kendoGridCellTemplate
																 let-dataItem
																 let-rowIndex="rowIndex"
																 *ngIf="column.property === 'status'">
											<tds-task-status-indicator
												class=""
												[propertyName]="column.property"
												[value]="dataItem[column.property]">
											</tds-task-status-indicator>
										</ng-template>

									</kendo-grid-column>
									<kendo-grid-messages noRecords="There are no records to display."></kendo-grid-messages>
								</kendo-grid>
							</td>
						</tr>

					</table>
				</tr>
				<tr class="dependency-error-section has-duplicated">
					<table>
						<tr>
							<td>
								<label
									class="has-duplicated-predecessors duplicate-error">{{'TASK_MANAGER.EDIT.ERROR_DUPLICATE_ENTRIES' | translate}}</label>
							</td>
							<td>
								<label
									class="has-duplicated-successors duplicate-error">{{'TASK_MANAGER.EDIT.ERROR_DUPLICATE_ENTRIES' | translate}}</label>
							</td>
						</tr>

					</table>
				</tr>
				<tr class="dependency-error-section has-double-assignment">
					<table>
						<tr>
							<td colspan="2">
								<label
									class="has-double-assignment">{{'TASK_MANAGER.EDIT.ERROR_DOUBLE_ASSIGNMENT' | translate}}</label>
							</td>
						</tr>
					</table>
				</tr>
				<tr class="deps grow-container just-task-edit-view">
					<td colspan="5">
						<tds-task-notes [dataGridTaskNotesHelper]="dataGridTaskNotesHelper"
														(create)="createNote()"></tds-task-notes>
					</td>
				</tr>
				</tbody>
			</table>
		</form>
	</div>
</div>
