<form
	name="apiActionParametersForm"
	role="form"
	data-toggle="validator"
	#apiActionParametersForm="ngForm"
	class="form-horizontal left-alignment"
>
	<kendo-grid
		[data]="parameterList"
		[pageSize]="25"
		class="row-actions-1-children"
	>
		<ng-template
			kendoGridToolbarTemplate
			[position]="'top'"
			*ngIf="modalType !== actionTypes.VIEW"
		>
			<div class="clr-row">
				<div class="clr-col-12 grid-actions">
					<tds-button
						icon="plus"
						[title]="'DATA_INGESTION.ADD_PARAMETER' | translate"
						(click)="onAddParameter()"
						[id]="'btnAddParameter'"
					></tds-button>
				</div>
			</div>
		</ng-template>

		<kendo-grid-column
			*ngFor="
				let column of apiActionParameterColumnModel.columns;
				let columnIndex = index
			"
			field="{{ column.property }}"
			[locked]="column.locked"
			format="{{ column.format }}"
			title="{{ column.label }}"
			[width]="!column.width ? COLUMN_MIN_WIDTH : column.width"
		>
			<ng-template
				kendoGridHeaderTemplate
				*ngIf="
					column.type === 'boolean' &&
					(column.property === 'readonly' ||
						column.property === 'required' ||
						column.property === 'encoded')
				"
			>
				<span
					title="Parameter is required"
					*ngIf="column.property === 'required'"
					><i class="fa fa-fw fa-asterisk api-boolean-icon"></i
				></span>
				<span
					title="Parameter value read-only"
					*ngIf="column.property === 'readonly'"
					><i class="fa fa-fw fa-eye api-boolean-icon"></i
				></span>
				<span
					title="Parameter value is already URL Encoded"
					*ngIf="column.property === 'encoded'"
					><i class="fa fa-fw fa-code api-boolean-icon"></i
				></span>
			</ng-template>
			<ng-template
				kendoGridCellTemplate
				*ngIf="
					column.type === 'action' && modalType !== actionTypes.VIEW
				"
				let-dataItem
			>
				<div
					class="action-button btn-group btn-link"
					*ngIf="
						dataItem.required === 0 || dataItem.required === false
					"
				>
					<clr-dropdown>
						<tds-button
							icon="ellipsis-vertical"
							clrDropdownTrigger
						></tds-button>

						<clr-dropdown-menu *clrIfOpen clrPosition="bottom-left">
							<a
								clrDropdownItem
								*ngIf="
									dataItem.required === 0 ||
									dataItem.required === false
								"
								(click)="onDeleteParameter($event, dataItem)"
							>
								Delete
							</a>
						</clr-dropdown-menu>
					</clr-dropdown>
				</div>
			</ng-template>
			<ng-template
				kendoGridCellTemplate
				*ngIf="modalType !== actionTypes.VIEW"
				let-dataItem
				let-rowIndex="rowIndex"
			>
				<div
					*ngIf="
						column.type === 'boolean' &&
						(column.property === 'readonly' ||
							column.property === 'required' ||
							column.property === 'encoded')
					"
				>
					<input
						(keypress)="getOnInputKey($event)"
						clrCheckbox
						type="checkbox"
						class="param-text-input-boolean"
						name="{{
							column.property + columnIndex + rowIndex
						}}-param"
						(change)="onValuesChange()"
						[(ngModel)]="dataItem[column.property]"
					/>
				</div>
				<div
					*ngIf="
						column.type === 'text' &&
						column.property === 'paramName'
					"
				>
					<!-- Name -->
					<input
						clrInput
						(keypress)="getOnInputKey($event)"
						type="text"
						required
						class="param-text-input"
						name="{{
							column.property + columnIndex + rowIndex
						}}-param"
						(change)="onValuesChange()"
						[(ngModel)]="dataItem.paramName"
						[ngClass]="{
							'has-error': dataItem.paramName?.length <= 0
						}"
					/>
				</div>
				<div
					*ngIf="
						column.type === 'text' &&
						column.property === 'context.value'
					"
				>
					<!-- Context -->
					<kendo-dropdownlist
						name="{{ column.property + columnIndex + rowIndex }}"
						class="form-control"
						style="width: 100%;"
						[data]="assetClassesForParameters"
						[textField]="'value'"
						[valueField]="'assetClass'"
						(valueChange)="onContextValueChange(dataItem)"
						[(ngModel)]="dataItem.context"
						[valuePrimitive]="true"
						required
						[ngClass]="{
							'has-error':
								dataItem.paramName?.length <= 0 &&
								(!dataItem.context ||
									dataItem.context.value === '')
						}"
					>
					</kendo-dropdownlist>
				</div>
				<div
					*ngIf="
						column.type === 'text' && column.property === 'value'
					"
				>
					<!-- Value -->
					<input
						clrInput
						(keypress)="getOnInputKey($event)"
						*ngIf="
							dataItem.context === 'USER_DEF' ||
							dataItem.context?.assetClass === 'USER_DEF'
						"
						type="text"
						class="param-text-input"
						name="{{
							column.property + columnIndex + rowIndex
						}}-user-defined"
						(change)="onValuesChange()"
						[(ngModel)]="dataItem.value"
						[disabled]="
							!dataItem.context ||
							dataItem.context.value === '' ||
							dataItem.readonly === 1 ||
							dataItem.readonly === true
						"
					/>
					<!-- Value -->
					<kendo-combobox
						*ngIf="
							dataItem.context !== 'USER_DEF' &&
							dataItem.context?.assetClass !== 'USER_DEF'
						"
						name="{{ column.property + columnIndex + rowIndex }}"
						style="width: 100%;"
						[data]="dataItem.currentFieldList"
						[filterable]="true"
						(filterChange)="filterChange($event, dataItem)"
						[textField]="'label'"
						[valueField]="'field'"
						[(ngModel)]="dataItem.fieldName"
						[valuePrimitive]="true"
						(keypress)="getOnInputKey($event)"
						(valueChange)="onValuesChange()"
						[disabled]="
							!dataItem.context ||
							dataItem.context.value === '' ||
							dataItem.readonly === 1 ||
							dataItem.readonly === true
						"
						required
						[ngClass]="{
							'has-error':
								dataItem.context &&
								dataItem.context.value !== '' &&
								!dataItem.fieldName
						}"
					>
					</kendo-combobox>
				</div>
				<!-- Description -->
				<div
					*ngIf="column.type === 'text' && column.property === 'desc'"
				>
					<input
						clrInput
						(keypress)="getOnInputKey($event)"
						type="text"
						class="param-text-input"
						name="{{
							column.property + columnIndex + rowIndex
						}}-desc"
						[(ngModel)]="dataItem.description"
					/>
				</div>
			</ng-template>
			<ng-template
				kendoGridCellTemplate
				*ngIf="modalType == actionTypes.VIEW"
				let-dataItem
				let-rowIndex="rowIndex"
			>
				<div
					class="group-boolean-fields"
					*ngIf="
						column.type === 'boolean' &&
						(column.property === 'readonly' ||
							column.property === 'required' ||
							column.property === 'encoded')
					"
				>
					<span *ngIf="column.property === 'required'"
						><span
							*ngIf="
								dataItem.required === 1 ||
								dataItem.required === true
							"
							><i class="fa fa-fw fa-check"></i></span
					></span>
					<span *ngIf="column.property === 'readonly'"
						><span
							*ngIf="
								dataItem.readonly === 1 ||
								dataItem.readonly === true
							"
							><i class="fa fa-fw fa-check"></i></span
					></span>
					<span *ngIf="column.property === 'encoded'"
						><span
							*ngIf="
								dataItem.encoded === 1 ||
								dataItem.encoded === true
							"
							><i class="fa fa-fw fa-check"></i></span
					></span>
				</div>
				<div
					*ngIf="
						column.type === 'text' &&
						column.property === 'paramName'
					"
				>
					<span>{{ dataItem.paramName }}</span>
				</div>
				<div
					*ngIf="
						column.type === 'text' &&
						column.property === 'context.value'
					"
				>
					<span>{{ getAssetClassValue(dataItem.context) }}</span>
				</div>
				<div
					*ngIf="
						column.type === 'text' && column.property === 'value'
					"
				>
					<span
						*ngIf="
							dataItem.context === 'USER_DEF' ||
							dataItem.context?.assetClass === 'USER_DEF'
						"
						>{{ dataItem.value }}</span
					>
					<span
						*ngIf="
							dataItem.context !== 'USER_DEF' &&
							dataItem.context?.assetClass !== 'USER_DEF'
						"
					>
						{{ getFieldLabel(dataItem) }}
					</span>
				</div>
				<div
					*ngIf="column.type === 'text' && column.property === 'desc'"
				>
					<span>{{ dataItem.description }}</span>
				</div>
			</ng-template>
		</kendo-grid-column>
	</kendo-grid>
</form>
