<div class="modal-content data-script-view-edit-component">
	<div class="modal-header">
		<button (click)="cancelCloseDialog()" type="button" class="close" aria-label="Close"><span aria-hidden="true">×</span></button>
		<h4 class="modal-title">{{modalTitle}} Data Script</h4>
	</div>
	<div class="modal-body">
		<form name="dataScriptForm" role="form" data-toggle="validator" #dataScriptForm='ngForm' class="form-horizontal">
			<div class="box-body">
				<div class="row">
					<div class="col-md-6 ">
						<div class="form-group">
							<label for="dataScriptProvider" class="col-sm-4 control-label">Provider:</label>
							<div class="col-sm-8">
								<kendo-dropdownlist id="dataScriptProvider" name="dataScriptProvider" class="form-control" [data]="providerList" [textField]="'name'" [valueField]="'id'" [(ngModel)]="dataScriptModel.provider"></kendo-dropdownlist>
							</div>
						</div>
						<div class="form-group">
							<label for="dataScriptName" class="col-sm-4 control-label">Name:<span style="color: red;">*</span></label>
							<div class="col-sm-8">
								<input type="text" id="dataScriptName" name="dataScriptName" class="form-control" [(ngModel)]="dataScriptModel.name" required [ngClass]="{'has-error': !dataScriptForm.form.valid}"/>
							</div>
						</div>
						<div class="form-group">
							<label for="dataScriptDescription" class="col-sm-4 control-label">Description:</label>
							<div class="col-sm-8">
								<textarea id="dataScriptDescription" name="dataScriptDescription" class="form-control" [(ngModel)]="dataScriptModel.description"></textarea>
							</div>
						</div>
					</div>
					<div class="col-md-6 ">
						<div class="form-group">
							<label class="col-sm-4 control-label">Mode:</label>
							<div class="col-sm-8">
								<div class="radio">
									<label>
										<input type="radio" name="dataScriptModeType" [value]="modeType.IMPORT" [(ngModel)]="dataScriptModel.mode" checked>
										Import
									</label>
								</div>
								<div class="radio">
									<label>
										<input type="radio" name="dataScriptModeType" [value]="modeType.EXPORT" [(ngModel)]="dataScriptModel.mode">
										Export
									</label>
								</div>
								<div style="margin-top: 10px;" >
                                    <asset-explorer-view-selector
											#assetExplorerViewSelector
											(onSelectView)="onSelectView($event)"
											[isDisabled]="dataScriptModel.mode === modeType.IMPORT"
											[nameAsUrl]="false"
											[showCreate]="false"
											[ngClass]="{'has-error-custom': dataScriptModel.mode === modeType.EXPORT && !dataScriptModel.view}">
									</asset-explorer-view-selector>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
	<div class="modal-footer form-group-center">
		<button type="button" (click)="onCreateDataScript()" class="btn btn-primary pull-left" [disabled]="!dataScriptForm.form.valid || (dataScriptModel.mode === modeType.EXPORT && !dataScriptModel.view)"><span class="fa fa-fw fa-floppy-o"></span> Save</button>

		<button (click)="cancelCloseDialog()" type="button" class="btn btn-default pull-right"><span class="glyphicon glyphicon-ban-circle"></span> {{'GLOBAL.CANCEL' | translate }}</button>
	</div>
</div>