<ng-template #filterControl>
	<div class="col-xs-2 col-md-2 col-lg-2">
		<select
			clrSelect
			(change)="onFilter()"
			name="fieldType"
			id="type"
			[(ngModel)]="gridFilter.fieldType"
		>
			<option *ngFor="let t of availableFieldTypes" [ngValue]="t">{{
				t
			}}</option>
		</select>
	</div>
	<div class="col-xs-3 col-md-3 col-lg-2">
		<div class="form-group has-feedback" style="margin-bottom:0px;">
			<input
				clrInput
				type="text"
				(keyup.enter)="onFilter()"
				name="search"
				[(ngModel)]="gridFilter.search"
				placeholder="{{
					'FIELD_SETTINGS.ENTER_FIELD_NAME_FILTER' | translate
				}}"
				value=""
			/>
			<span
				style="cursor:pointer; color:#0092d1; pointer-events:all; line-height: 26px;"
				(click)="onClearTextFilter()"
				class="fa fa-times form-control-feedback"
				aria-hidden="true"
			>
			</span>
		</div>
	</div>
	<div class="col-xs-2 col-md-2 col-lg-1">
		<tds-button-filter [id]="'btnFilter'" (click)="onFilter()">
		</tds-button-filter>
	</div>
</ng-template>

<kendo-grid
	#fieldSettingGrid="kendoGrid"
	[filter]="state.filter"
	[resizable]="true"
	[data]="gridData"
	[sortable]="sortable"
	[sort]="state.sort"
	(dataStateChange)="dataStateChange($event)"
	class="page-height field-settings-grid"
>
	<!--// toolbar editing-->
	<ng-template
		kendoGridToolbarTemplate
		[position]="'top'"
		*ngIf="isEditing; else defaultToolbar"
	>
		<div *ngIf="isFilterDisabled; else filterControl"></div>

		<div class="button-bar">
			<div class="inline float-right">
				<tds-button-save
					[displayLabel]="false"
					[id]="'btnSaveAll'"
					[disabled]="!isEditable || !isDirty || formHasError"
					(click)="onSaveAll()"
				>
				</tds-button-save>
				<tds-button-cancel
					[id]="'btnCancel'"
					(click)="onCancel()"
					[displayLabel]="false"
				>
				</tds-button-cancel>
				<tds-button-custom
					[id]="'btnAddCustom'"
					[icon]="'plus'"
					[displayLabel]="false"
					[tooltip]="'GLOBAL.CREATE' | translate"
					(click)="onAddCustom()"
				></tds-button-custom>
			</div>
		</div>
	</ng-template>

	<!--// toolbar readonly-->
	<ng-template kendoGridToolbarTemplate [position]="'top'" #defaultToolbar>
		<div class="button-bar">
			<div class="inline float-right">
				<tds-button-edit
					[displayLabel]="false"
					[id]="'btnEdit'"
					[disabled]="!isEditable"
					(click)="onEdit()"
				>
				</tds-button-edit>
			</div>
		</div>
		<div *ngIf="isFilterDisabled; else filterControl"></div>
	</ng-template>

	<!-- Show Actions column -->
	<kendo-grid-column
		[width]="80"
		[class]="{ 'k-custom-command-column': true }"
		[minResizableWidth]="80"
		title="Action"
		*ngIf="isEditing"
	>
		<ng-template
			kendoGridCellTemplate
			let-dataItem
			let-rowIndex="rowIndex"
		>
			<div class="action-button btn-link" *ngIf="dataItem.udf">
				<clr-dropdown>
					<tds-button
						icon="ellipsis-vertical"
						clrDropdownTrigger
					></tds-button>
					<clr-dropdown-menu *clrIfOpen clrPosition="bottom-left">
						<a
							clrDropdownItem
							tooltip="Deleting the custom field removes the definition but does not delete the data"
							*ngIf="dataItem.udf && !dataItem.toBeDeleted"
							[disabled]="isFieldUsedAsPlanMethodology(dataItem)"
							(click)="onDelete(dataItem)"
						>
							Delete
						</a>
						<a
							clrDropdownItem
							*ngIf="dataItem.udf && dataItem.toBeDeleted"
							(click)="undoDelete(dataItem)"
						>
							Undo Delete
						</a>
					</clr-dropdown-menu>
				</clr-dropdown>
			</div>
		</ng-template>
	</kendo-grid-column>

	<kendo-grid-column field="field" title="{{columns[columnIndex]}}">
		<ng-template
			kendoGridHeaderTemplate
			let-column
			let-columnIndex="columnIndex"
		>
			<span class="column">
				{{columns[columnIndex]}}
			</span>
		</ng-template>
		
		<ng-template kendoGridCellTemplate *ngIf="isEditing" let-dataItem>
			<input
				type="text"
				*ngIf="dataItem.udf"
				disabled
				class="form-control"
				[(ngModel)]="dataItem.field"
				(keyup)="setIsDirty(true)"
				name="field"
				[ngClass]="{
					'to-be-deleted': dataItem.toBeDeleted
				}"
				[ngStyle]="{
					'margin-top': isFieldUsedAsPlanMethodology(dataItem)
						? '15px'
						: '0'
				}"
			/>
			<div
				class="text-center text-danger"
				*ngIf="isFieldUsedAsPlanMethodology(dataItem)"
			>
				<small>{{
					'FIELD_SETTINGS.PLAN_METHODOLOGY_DELETE_WARNING' | translate
				}}</small>
			</div>
			<span *ngIf="!dataItem.udf">{{ dataItem.field }}</span>
		</ng-template>
	</kendo-grid-column>

	<kendo-grid-column field="order" title="{{columns[columnIndex]}}" [width]="100">
		<ng-template
			kendoGridHeaderTemplate
			let-column
			let-columnIndex="columnIndex"
		>
			<span class="column text-capitalize">
				{{columns[columnIndex]}}
			</span>
		</ng-template>
		<ng-template
			kendoGridCellTemplate
			*ngIf="isEditing; else orderTemp"
			let-dataItem
		>
			<kendo-numerictextbox
				*ngIf="dataItem.udf && !dataItem.toBeDeleted"
				[format]="'n'"
				[(value)]="dataItem.order"
				(valueChange)="setIsDirty(true)"
				[min]="0"
				[autoCorrect]="true"
				style="width: 70px;"
			>
			</kendo-numerictextbox>
			<div *ngIf="!dataItem.udf" style="width:45px" class="text-center">
				{{ dataItem.order }}
			</div>
			<input
				type="text"
				style="width: 70px;"
				disabled
				class="form-control to-be-deleted"
				(keyup)="setIsDirty(true)"
				[(value)]="dataItem.order"
				*ngIf="dataItem.udf && dataItem.toBeDeleted"
			/>
		</ng-template>
		<ng-template
			kendoGridCellTemplate
			class="text-center"
			let-dataItem
			#orderTemp
		>
			<div class="text-center" style="width:45px">
				{{ dataItem.order }}
			</div>
		</ng-template>
	</kendo-grid-column>

	<kendo-grid-column field="label" title="{{columns[columnIndex]}}" [width]="150">
		<ng-template
			kendoGridHeaderTemplate
			let-column
			let-columnIndex="columnIndex"
		>
			<span class="column text-capitalize">
				{{columns[columnIndex]}}
			</span>
		</ng-template>
		<ng-template kendoGridCellTemplate *ngIf="isEditing" let-dataItem>
			<!--'has-error': hasError(dataItem),-->
			<input
				clrInput
				(blur)="onLabelBlur(dataItem, $event)"
				(keyup)="onKeyPressed(dataItem, $event)"
				type="text"
				[ngClass]="{
					'has-error': dataItem.errorMessage,
					'to-be-deleted': dataItem.toBeDeleted
				}"
				*ngIf="dataItem.udf"
				[(ngModel)]="dataItem.label"
				id="{{ dataItem.field }}"
				name="{{ dataItem.field }}"
				[disabled]="dataItem.toBeDeleted"
			/>
			<div *ngIf="dataItem.errorMessage" class="error-message">
				{{ dataItem.errorMessage }}
			</div>
			<span *ngIf="!dataItem.udf">
				{{ dataItem.label }}
			</span>
		</ng-template>
	</kendo-grid-column>

	<kendo-grid-column
		field="shared"
		title="{{columns[columnIndex]}}"
		[width]="65"
		[class]="{ 'text-center': !isEditing }"
		
	>
		<ng-template
				kendoGridHeaderTemplate
				let-column
				let-columnIndex="columnIndex"
			>
			<span class="column text-capitalize">
				{{columns[columnIndex]}}
			</span>
		</ng-template>
		<ng-template
			kendoGridCellTemplate
			*ngIf="isEditing; else sharedTemp"
			let-dataItem
		>
			<input
				clrCheckbox
				type="checkbox"
				(change)="onShare(dataItem); setIsDirty(true)"
				[disabled]="!dataItem.udf || dataItem.toBeDeleted"
				[(ngModel)]="dataItem.shared"
				name="shared"
			/>
		</ng-template>
		<ng-template
			kendoGridCellTemplate
			class="text-center"
			let-dataItem
			#sharedTemp
		>
			{{ dataItem.shared | tdsUIBoolean }}
		</ng-template>
	</kendo-grid-column>

	<kendo-grid-column field="imp" title="{{columns[columnIndex]}}" [width]="155">
		<ng-template
			kendoGridHeaderTemplate
			let-column
			let-columnIndex="columnIndex"
		>
			<span class="column text-capitalize">
				{{columns[columnIndex]}}
				<popup-legends></popup-legends>
			</span>
		</ng-template>
		<ng-template kendoGridCellTemplate let-dataItem>
			<field-settings-imp
				*ngIf="!dataItem.toBeDeleted"
				[edit]="isEditing"
				(modelChange)="setIsDirty(true)"
				[(model)]="dataItem.imp"
			>
			</field-settings-imp>
			<div
				*ngIf="dataItem.toBeDeleted"
				[ngClass]="dataItem.imp"
				class="text-center to-be-deleted"
				style="cursor: not-allowed"
			>
				<span *ngFor="let color of colors">{{ color }}&nbsp;</span>
			</div>
		</ng-template>
	</kendo-grid-column>

	<kendo-grid-column
		field="constraints.required"
		title="{{columns[columnIndex]}}"
		[width]="100"
		[class]="{ 'text-center': !isEditing }"
	>
		<ng-template
				kendoGridHeaderTemplate
				let-column
				let-columnIndex="columnIndex"
			>
			<span class="column text-capitalize">
				{{columns[columnIndex]}}
			</span>
		</ng-template>
		<ng-template
			kendoGridCellTemplate
			*ngIf="isEditing; else requiredTemp"
			let-dataItem
		>
			<input
				clrCheckbox
				type="checkbox"
				(change)="onRequired(dataItem); setIsDirty(true)"
				[disabled]="!dataItem.udf || dataItem.toBeDeleted"
				[(ngModel)]="dataItem.constraints.required"
				name="required"
			/>
		</ng-template>
		<ng-template
			class="text-center"
			kendoGridCellTemplate
			let-dataItem
			#requiredTemp
		>
			{{
				(dataItem.constraints ? dataItem.constraints.required : false)
					| tdsUIBoolean
			}}
		</ng-template>
	</kendo-grid-column>

	<kendo-grid-column
		field="show"
		[width]="90"
		title="{{columns[columnIndex]}}"
		[class]="{ 'text-center': !isEditing }"
	>
		<ng-template
			kendoGridHeaderTemplate
			let-column
			let-columnIndex="columnIndex"
		>
			<span class="column text-capitalize">
				{{columns[columnIndex]}}
			</span>
		</ng-template>
		<ng-template
			kendoGridCellTemplate
			*ngIf="isEditing; else displayTemp"
			let-dataItem
		>
			<input
				clrCheckbox
				type="checkbox"
				(change)="setIsDirty(true)"
				[disabled]="!dataItem.udf || dataItem.toBeDeleted"
				[(ngModel)]="dataItem.show"
				name="required"
			/>
		</ng-template>
		<ng-template
			class="text-center"
			kendoGridCellTemplate
			let-dataItem
			#displayTemp
		>
			{{ dataItem.show | tdsUIBoolean }}
		</ng-template>
	</kendo-grid-column>

	<kendo-grid-column field="default" title="{{columns[columnIndex]}}">
		<ng-template
			kendoGridHeaderTemplate
			let-column
			let-columnIndex="columnIndex"
		>
			<span class="column text-capitalize">
				{{columns[columnIndex]}}
			</span>
		</ng-template>
		<ng-template kendoGridCellTemplate let-dataItem *ngIf="isEditing">
			<div *ngIf="isAllowedDefaultValueForField(dataItem?.control)">
				<input
					clrInput
					*ngIf="
						dataItem.udf &&
						dataItem.control != 'List' &&
						dataItem.control != 'YesNo'
					"
					type="text"
					[(ngModel)]="dataItem.default"
					(keypress)="setIsDirty(true)"
					name="default"
					[disabled]="dataItem.toBeDeleted"
					[ngClass]="{ 'to-be-deleted': dataItem.toBeDeleted }"
				/>
				<select
					clrSelect
					*ngIf="
						dataItem.control == 'List' ||
						dataItem.control == 'YesNo'
					"
					name="default"
					(change)="setIsDirty(true)"
					[(ngModel)]="dataItem.default"
					[disabled]="dataItem.toBeDeleted"
					[ngClass]="{ 'to-be-deleted': dataItem.toBeDeleted }"
				>
					<option value="">{{
						'GLOBAL.SELECT_PLACEHOLDER' | translate
					}}</option>
					<option
						*ngFor="let c of dataItem.constraints.values"
						[ngValue]="c"
						>{{ c }}</option
					>
				</select>
			</div>
		</ng-template>
	</kendo-grid-column>

	<kendo-grid-column field="control" title="{{columns[columnIndex]}}" [width]="150">
		<ng-template
			kendoGridHeaderTemplate
			let-column
			let-columnIndex="columnIndex"
		>
			<span class="column text-capitalize">
				{{columns[columnIndex]}}
				
			</span>
		</ng-template>
		<ng-template
			kendoGridCellTemplate
			*ngIf="isEditing; else controlTemp"
			let-dataItem
		>
			<div *ngIf="dataItem.udf" style="display: flex;">
				<tds-field-type-selector
					(fieldTypeChange)="onFieldTypeChange(dataItem, $event)"
					(save)="onFieldTypeChangeSave(dataItem, $event)"
					[name]="dataItem.field"
					[fieldType]="dataItem.control"
					[disabled]="dataItem.toBeDeleted"
				>
				</tds-field-type-selector>

				<span
					*ngIf="
						!dataItem.toBeDeleted &&
						isAllowedConfigurationForField(dataItem.control)
					"
				>
					<div
						(click)="openFieldSettingsPopup(dataItem)"
						class="open-close-dropdown-container text-center"
					>
						<i class="open-close-dropdown-icon fa fa-gear"></i>
					</div>
				</span>
			</div>
			<span *ngIf="!dataItem.udf">
				{{ dataItem.control }}
			</span>
		</ng-template>
		<ng-template kendoGridCellTemplate #controlTemp let-dataItem>
			{{ dataItem.control }}
		</ng-template>
	</kendo-grid-column>

	<kendo-grid-column field="tip" title="{{columns[columnIndex]}}">
		<ng-template
			kendoGridHeaderTemplate
			let-column
			let-columnIndex="columnIndex"
		>
			<span class="column text-capitalize">
				{{columns[columnIndex]}}
			</span>
		</ng-template>
		<ng-template kendoGridCellTemplate *ngIf="isEditing" let-dataItem>
			<textarea
				clrTextarea
				style="resize: vertical;"
				class="form-control"
				[(ngModel)]="dataItem.tip"
				(keyup)="setIsDirty(true)"
				name="tip"
				rows="2"
				[ngClass]="{ 'to-be-deleted': dataItem.toBeDeleted }"
				[disabled]="dataItem.toBeDeleted"
			>
			</textarea>
		</ng-template>
	</kendo-grid-column>
</kendo-grid>
