<table style="border: 0px; width:100px"><tbody>
<tr class="task-template-dependency-list" ng-repeat="dependency in ngModel">
    <td>
        <select kendo-drop-down-list ng-model="dependency.category" k-options="categoryOptions" k-on-change="updateDependencyList(dependency)"></select>
    </td>
    <td>
        <select class="kendo-drop-down-dependencies-subset dependencies-subset-dropdown" kendo-drop-down-list="dependency.dropdown" ng-model="dependency.taskId" k-options="taskOptionsDS(dependency, false)"></select>
    </td>
    <td>
        <a ng-click="deleteRow($index)" style="text-decoration:none;pointer:hover" title="Delete"><span class="clear_filter">&times;</span></a>
    </td>
</tr>
</tbody></table>
