<style>
    .tds-kendo-grid td {
        cursor: default;
    }
    .btn i.fa {
        padding-right: 0px;
    }
    .form-control.ng-invalid {
        border: 1px #f00 solid;
    }
    .k-button {
        border-color: #ddd;
        background-color: #f4f4f4;
        color: #444;
        border-radius: 3px;
        padding: 6px 12px;
        font-size: 12px;
        align-items: flex-start;
    }
</style>
<!-- Main content -->
<div class="content body tds-kendo-grid without-selectabe-rows">
    <section>
        <div class="box-body box-with-empty-header">
            <form novalidate #myForm="ngForm">
                <kendo-grid
                        *ngIf="gridSettings"
                        [data]="gridSettings.gridData"
                        [filter]="gridSettings.state.filter"
                        [filterable]="true"
                        (filterChange)="gridSettings.filterChange($event)"
                        [sort]="gridSettings.state.sort"
                        [sortable]="{mode:'single'}"
                        [pageSize]="gridSettings.state.take"
                        [skip]="gridSettings.state.skip"
                        [pageable]="{pageSizes: gridSettings.defaultPageOptions, info: true}"
                        (pageChange)="gridSettings.pageChange($event)"
                        [resizable]="true"
                        (sortChange)="gridSettings.sortChange($event)"
                        (add)="addHandler($event)"
                        (cancel)="cancelHandler($event)"
                        (edit)="editHandler($event)"
                        (save)="saveHandler($event)"
                        (remove)="removeHandler($event)">

                    <!-- Toolbar Template -->
                    <ng-template kendoGridToolbarTemplate [position]="'top'">
                        <button kendoGridAddCommand class="btn btn-default" type="button">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true" style="margin-right: 4px;"></span>
                            {{ 'GLOBAL.CREATE' | translate }} Tag
                        </button>
                        <label class="reload-grid-button pull-right" title="Reload List" (click)="reloadTagList()">
                            <span class="glyphicon glyphicon-repeat"></span>
                        </label>
                    </ng-template>

                    <!-- Action -->
                    <kendo-grid-command-column [width]="100">
                        <ng-template kendoGridHeaderTemplate>
                            <div class="text-center">
                                <label class="action-header"> {{ 'GLOBAL.ACTION' | translate }} </label>
                            </div>
                        </ng-template>
                        <ng-template kendoGridCellTemplate let-dataItem let-isNew="isNew">
                            <div class="k-grid-ignore-click text-center" style="cursor: default">
                                <button kendoGridEditCommand class="btn btn-action btn-default" title="Edit">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </button>
                                <button kendoGridRemoveCommand class="btn btn-action btn-default" title="Delete">
                                    <i class="fa fa-trash"></i>
                                </button>
                                <button kendoGridSaveCommand class="btn btn-action btn-default" title="Save"
                                        [disabled]="myForm.invalid || duplicateName">
                                    <i class="fa fa-save"></i>
                                </button>
                                <button kendoGridCancelCommand class="btn btn-action btn-default" title="Cancel">
                                    <i class="glyphicon glyphicon-ban-circle"></i>
                                </button>
                                <div *ngIf="!isNew" style="display: inline;">
                                    <button (click)="onMerge(dataItem)"
                                            class="btn btn-action btn-default" title="Merge">
                                        <i class="fa fa-exchange"></i>
                                    </button>
                                </div>
                            </div>
                        </ng-template>
                    </kendo-grid-command-column>

                    <!-- Columns -->
                    <kendo-grid-column *ngFor="let column of gridColumns.columns"
                                       field="{{column.property}}"
                                       [locked]="column.locked"
                                       format="{{column.format}}"
                                       [headerClass]="column.headerClass ? column.headerClass : ''"
                                       [headerStyle]="column.headerStyle ? column.headerStyle : ''"
                                       [class]="column.cellClass ? column.cellClass : ''"
                                       [style]="column.cellStyle ? column.cellStyle : ''"
                                       [width]="!column.width ? COLUMN_MIN_WIDTH : column.width">

                        <!-- Header Template -->
                        <ng-template kendoGridHeaderTemplate>
                            <label>{{column.label}}</label>
                        </ng-template>

                        <!-- Cell Templates -->
                        <ng-template kendoGridCellTemplate *ngIf="column.property === 'Color'" let-dataItem>
                            <div class="text-center">
                                <span [style.background-color]="dataItem[column.property]"
                                      class="label"
                                      style="width: 30px;
                                      height: 25px;
                                      display: block;
                                      margin: 0 auto 0 auto;"
                                ></span>
                            </div>
                        </ng-template>
                        <ng-template kendoGridCellTemplate *ngIf="column.type === 'date'" let-dataItem>
                            {{dataItem[column.property] | date: userPreferenceService.getUserTimeZone()}}
                        </ng-template>

                        <!-- Edit Templates -->
                        <ng-template kendoGridEditTemplate let-dataItem="dataItem" *ngIf="column.property === 'Name'">
                                <input [(ngModel)]="dataItem.Name" autofocus (input)="validateUniqueName(dataItem)"
                                       [ngClass]="{'ng-invalid': duplicateName}"
                                       type="text" name="name" class="form-control" required/>
                        </ng-template>
                        <ng-template kendoGridEditTemplate let-dataItem="dataItem" *ngIf="column.property === 'Description'">
                            <input [(ngModel)]="dataItem.Description"
                                   type="text" name="description" class="form-control"/>
                        </ng-template>
                        <ng-template kendoGridEditTemplate let-dataItem="dataItem" *ngIf="column.property === 'Color'">
                            <kendo-dropdownlist required name="color"
                                                class="form-control" style="width: 98%; margin: 0 auto 0 auto;"
                                                [data]="colorList"
                                                [(ngModel)]="dataItem.Color">
                            </kendo-dropdownlist>
                            <!--<input [(ngModel)]="dataItem.Color" required-->
                                   <!--type="text" name="color" class="form-control"/>-->
                        </ng-template>

                        <!-- Filter Template -->
                        <ng-template kendoGridFilterCellTemplate let-filter>
                            <div class="has-feedback" style="margin-bottom:0px;"
                                 *ngIf="column.property && (column.type !== 'action' && column.type !== 'number' && column.property !== 'Color' )">
                                <div *ngIf="column.type === 'date'; then dateFilter else stringFilter"></div>
                                <ng-template #dateFilter>
                                    <kendo-datepicker (valueChange)="gridSettings.onFilter(column)" [(ngModel)]="column.filter"
                                                      [ngModelOptions]="{standalone: true}"></kendo-datepicker>
                                    <span *ngIf="column.filter" (click)="gridSettings.clearValue(column)"
                                          style="left:106px;cursor:pointer;color:#656565;pointer-events:all" class="fa fa-times form-control-feedback"></span>
                                </ng-template>
                                <ng-template #stringFilter>
                                    <input [(ngModel)]="column.filter" (keyup)="gridSettings.onFilter(column)"
                                           type="text" class="form-control" name="{{column.property}}" placeholder="Filter" value="">
                                    <span *ngIf="column.filter" (click)="gridSettings.clearValue(column)" style="cursor:pointer;color:#656565;pointer-events:all" class="fa fa-times form-control-feedback"></span>
                                </ng-template>
                            </div>
                        </ng-template>

                    </kendo-grid-column>
                </kendo-grid>
            </form>
        </div>
    </section>
</div>