<!-- Main content -->
<div class="content body tds-kendo-grid without-selectabe-rows">
    <section>
        <div class="box-body box-with-empty-header">
            <form novalidate #myForm="ngForm">
                <kendo-grid
                        *ngIf="gridSettings"
                        [data]="gridSettings.gridData"
                        [filter]="gridSettings.state.filter"
                        [filterable]="true"
                        (filterChange)="gridSettings.filterChange($event)"
                        [sort]="gridSettings.state.sort"
                        [sortable]="{mode:'single'}"
                        [pageSize]="gridSettings.state.take"
                        [skip]="gridSettings.state.skip"
                        [pageable]="{pageSizes: gridSettings.defaultPageOptions, info: true}"
                        (pageChange)="gridSettings.pageChange($event)"
                        [resizable]="true"
                        (sortChange)="gridSettings.sortChange($event)"
                        (add)="addHandler($event)"
                        (cancel)="cancelHandler($event)"
                        (edit)="editHandler($event)"
                        (save)="saveHandler($event)"
                        (remove)="removeHandler($event)">

                    <!-- Toolbar Template -->
                    <ng-template kendoGridToolbarTemplate [position]="'top'">
                        <button kendoGridAddCommand *ngIf="canCreate()"
                                class="btn btn-default" type="button">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            {{ 'GLOBAL.CREATE' | translate }} {{'ASSET_TAGS.TAG' | translate}}
                        </button>
                        <label class="reload-grid-button pull-right" title="Reload List" (click)="reloadTagList()">
                            <span class="glyphicon glyphicon-repeat"></span>
                        </label>
                    </ng-template>

                    <!-- Action -->
                    <kendo-grid-command-column [width]="150" [locked]="true">
                        <ng-template kendoGridHeaderTemplate>
                            <div class="text-center">
                                <label class="action-header"> {{ 'GLOBAL.ACTION' | translate }} </label>
                            </div>
                        </ng-template>
                        <ng-template kendoGridCellTemplate let-dataItem let-isNew="isNew">
                            <div class="text-center">
                                <button kendoGridEditCommand *ngIf="canEdit()"
                                        class="btn btn-action btn-default" title="Edit">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </button>
                                <button kendoGridRemoveCommand *ngIf="canDelete()"
                                        class="btn btn-action btn-default" title="Delete">
                                    <span class="fa fa-fw fa-trash"></span>
                                </button>
                                <button kendoGridSaveCommand *ngIf="canCreate() || canEdit()"
                                        class="btn btn-action btn-default" title="Save"
                                        [disabled]="myForm.invalid || duplicateName">
                                    <span class="fa fa-fw fa-save"></span>
                                </button>
                                <button kendoGridCancelCommand class="btn btn-action btn-default" title="Cancel">
                                    <span class="glyphicon glyphicon-ban-circle"></span>
                                </button>
                                <button *ngIf="((!isNew && !editedTag) || (editedTag && editedTag.id !== dataItem.id)) && canMerge()"
                                        (click)="onMerge(dataItem)"
                                        class="btn btn-action btn-default" title="Merge">
                                    <span class="fa fa-fw fa-exchange"></span>
                                </button>
                            </div>
                        </ng-template>
                    </kendo-grid-command-column>

                    <!-- Columns -->
                    <kendo-grid-column *ngFor="let column of gridColumns.columns"
                                       field="{{column.property}}"
                                       [locked]="column.locked"
                                       format="{{column.format}}"
                                       [headerClass]="column.headerClass ? column.headerClass : ''"
                                       [headerStyle]="column.headerStyle ? column.headerStyle : ''"
                                       [class]="column.cellClass ? column.cellClass : ''"
                                       [style]="column.cellStyle ? column.cellStyle : ''"
                                       [width]="!column.width ? COLUMN_MIN_WIDTH : column.width">

                        <!-- Header Template -->
                        <ng-template kendoGridHeaderTemplate>
                            <label>{{column.label}}</label>
                        </ng-template>

                        <!-- Cell Templates -->
                        <ng-template kendoGridCellTemplate *ngIf="column.property === 'name'" let-dataItem>
                            {{dataItem[column.property]}}
                        </ng-template>
                        <ng-template kendoGridCellTemplate *ngIf="column.property === 'color'" let-dataItem>
                            <div class="text-center">
                                <span [ngClass]="dataItem.css" class="label tag"></span>
                            </div>
                        </ng-template>

                        <!-- Edit Templates -->
                        <ng-template kendoGridEditTemplate let-dataItem="dataItem" *ngIf="column.property === 'name'">
                                <input [(ngModel)]="dataItem.name" autofocus
                                       [ngClass]="{'ng-invalid': duplicateName}" required
                                       #input (input)="validateUniqueName(dataItem); input.value=$event.target.value"
                                       type="text" name="name" class="form-control"/>
                        </ng-template>
                        <ng-template kendoGridEditTemplate let-dataItem="dataItem" *ngIf="column.property === 'description'">
                            <input [(ngModel)]="dataItem.description"
                                   type="text" name="description" class="form-control"/>
                        </ng-template>
                        <ng-template kendoGridEditTemplate let-dataItem="dataItem" *ngIf="column.property === 'color'">
                            <kendo-dropdownlist required name="color" class="form-control"
                                                [data]="colorList"
                                                [(ngModel)]="dataItem.color"
                                                [textField]="'id'"
                                                [valueField]="'id'"
                                                [valuePrimitive]="true">
                                <ng-template kendoDropDownListValueTemplate let-dataItem>
                                        <span *ngIf="dataItem" [ngClass]="dataItem.css" class="label tag" style="margin: auto; margin-left: 10px;"></span>
                                </ng-template>
                                <ng-template kendoDropDownListItemTemplate let-dataItem>
                                    <span [ngClass]="dataItem.css" class="label tag"></span>
                                </ng-template>
                            </kendo-dropdownlist>
                        </ng-template>

                        <!-- Filter Template -->
                        <ng-template kendoGridFilterCellTemplate let-filter>
                            <div class="has-feedback"
                                 *ngIf="column.property && (column.type !== 'action' && column.type !== 'number' && column.property !== 'color' )">
                                <div *ngIf="column.type === 'date'; then dateFilter else stringFilter"></div>
                                <ng-template #dateFilter>
                                    <kendo-datepicker [format]="dateFormat"
                                                      [(ngModel)]="column.filter"
                                                      [ngModelOptions]="{standalone: true}"
                                                      (valueChange)="gridSettings.onFilter(column)"
                                                      style="width: 100%;"></kendo-datepicker>
                                    <span *ngIf="column.filter" (click)="gridSettings.clearFilter(column)"
                                          style="margin-right: 25px" class="fa fa-times form-control-feedback"></span>
                                    <!--<kendo-datepicker (valueChange)="gridSettings.onFilter(column)" [(ngModel)]="column.filter"-->
                                                      <!--[ngModelOptions]="{standalone: true}"></kendo-datepicker>-->
                                    <!--<span *ngIf="column.filter" (click)="gridSettings.clearValue(column)"-->
                                          <!--class="fa fa-times form-control-feedback"></span>-->
                                </ng-template>
                                <ng-template #stringFilter>
                                    <input [(ngModel)]="column.filter" (keyup)="gridSettings.onFilter(column)"
                                           [ngModelOptions]="{standalone: true}"
                                           type="text" class="form-control" name="{{column.property}}" placeholder="Filter">
                                    <span *ngIf="column.filter" (click)="gridSettings.clearValue(column)"
                                          class="fa fa-times form-control-feedback"></span>
                                </ng-template>
                            </div>
                        </ng-template>

                    </kendo-grid-column>
                </kendo-grid>
            </form>
        </div>
    </section>
</div>