div.daterangepicker.show-calendar
  div.calendar-table
    table.table-condensed
      thead
        tr
          th
            background-color: $material_c_blue3
            border-radius: 0px
            color: $white
            padding-top: 8px
            padding-bottom: 8px
        tr:nth-child(2)
          th
            background-color: $white
            color: $black
      tbody
        tr
          td
            height: 31px
            width: 31px
            border-radius: 50%
            font-weight: bold
            padding: 10px
            &.active
              background-color: $c_grey2
              color: $c_black3


div.daterangepicker_action
  display: inline-block
  position: relative
  width: 19px
  height: 19px
  text-align: center

div.daterangepicker_clear_filter
  left: -21px
  top: -1px
  span.clear_filter
    position: relative
    top: 4px

div.daterangepicker_lock_icon
  left: 3px
  top: 1px
  font-size: 15px

div.daterangepicker_lock_show
  left: 0px
  top: 1px
  font-size: 15px


div.daterangepicker_lock_icon_popup
  left: 10px
  top: 1px
  font-size: 15px