div.daterangepicker.show-calendar
  div.calendar-table
    table.table-condensed
      thead
        tr
          th
            background-color: $material_c_blue3
            border-radius: 0px
            color: $white
            padding-top: 8px
            padding-bottom: 8px
        tr:nth-child(2)
          th
            background-color: $white
            color: $black
      tbody
        tr
          td
            height: 31px
            width: 31px
            border-radius: 50%
            font-weight: bold
            padding: 10px
            &.active
              background-color: $c_grey2
              color: $c_black3
