div.modal-dialog
  z-index: 1060
  padding: 0px
  div.modal-content
    -webkit-border-radius: 0px
    -moz-border-radius: 0px
    border-radius: 0px
    border: 0px
    div.modal-header
      color: $white
      background: $material_c_blue1 50% 50% repeat-x !important
      border-color: $material_c_blue1 !important
      -webkit-border-radius: 0px
      -moz-border-radius: 0px
      border-radius: 0px
      height: 39px
      padding-top: 10px
      h3, h4
        font-size: 16px !important
        font-weight: bold !important
        line-height: inherit !important
        font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif !important