div.box-body
  div.box
    div.box-header
    form
      &.medium-size
        max-width: 500px
      div.box-body
        margin-top: 5px
        div.form-group
          margin-left: 10px
          input[type=file], div#progressbar
            width: 100%
          div.checkboxGroup
            margin-top: 10px
          ul.list-group
            &.sub-set
              margin-left: 10px
              label
                font-weight: normal
              label.sub-set-title
                font-weight: 700
          ul.sub-set
            .list-group-item
              border: none
          label
            /*font-weight: normal !important*/
      div.box-footer
        div.box-footer-url-right
          margin-top: 9px
          margin-bottom: 6px
          margin-left: 2px
          font-size: 15px
          float: right
          a
            color: $urlElement