div.box-body
  div.box
    div.box-header
    form
      &.medium-size
        max-width: 500px
      &.form-inline /* Applicable when the Form is Horizontal */
        div.form-group
          margin-bottom: 10px
          margin-left: 10px
          .form-control
            height: 26px
            padding: 0px 0px 0px 4px
      div.box-body
        margin-top: 5px
      div.form-group /* Applicable when the Form is Vertical */
        margin-left: 10px
        input[type=file], div#progressbar
          width: 100%
        div.checkboxGroup
          margin-top: 10px
        ul.list-group
          &.sub-set
            margin-left: 10px
            label
              font-weight: normal
            label.sub-set-title
              font-weight: 700
        ul.sub-set
          .list-group-item
            padding: 7px 15px
            border: none
        select.medium-height
          height: 250px
        label
          /*font-weight: normal !important*/
      div.box-footer
        div.box-footer-url-right
          margin-top: 9px
          margin-bottom: 6px
          margin-left: 2px
          font-size: 15px
          float: right
          a
            color: $urlElement
/* Applicable to All Forms */
form
  .form-horizontal
  &.left-alignment
    div.form-group
      label
        text-align: left
      &.sub-option-50
        padding-left: 50px
    table.table /* main.css is doing this annoying green border*/
      border: inherit
      th
        background: inherit
  .pad-left-20
    padding-left: 20px
  .pad-left-50
    padding-left: 50px
  .text-left
    text-align: left !important
  .text-right
    text-align: right !important
  .element-width-50
    width: 50px !important
  .element-width-60
    width: 60px !important
  .element-width-70
    width: 70px !important
  .element-width-80
    width: 80px !important
  .element-width-90
    width: 90px !important
  .element-width-100
    width: 100px !important
  .element-width-130
    width: 130px !important
  .element-width-140
    width: 140px !important
  .element-width-150
    width: 150px !important
  .element-width-200
    width: 200px !important
  .element-width-460
    width: 460px !important