div.progress-bar-container
  margin-right: -43px
  float: right
  div.refresh-button
    width: 63px
    input[type='button']
      height: 23px
  div.item-wrapper
    div.progress-bar-svg
      width: 26px
      height: 26px