div.progress-bar-container
  margin-right: -35px
  float: right
  div.refresh-button
    width: 20px
    padding-top: 6px
    height: 20px
    cursor: pointer
    span
      color: $material_c_blue2
  div.select-timer
    padding-top: 1px
    select
      border: none
  div.item-wrapper
    padding-left: 5px
    div.progress-bar-svg
      margin-left: 18px
      width: 26px
      height: 26px