.tooltip .tooltip-inner
  background-color: $c_grey2
  color: $black
  text-align: left

.tooltip.top .tooltip-arrow
  border-top-color: $c_grey2

.tooltip.bottom .tooltip-arrow
  border-bottom-color: $c_grey2

.tooltip.right .tooltip-arrow
  border-right-color: $c_grey2

.tooltip.left .tooltip-arrow
  border-left-color: $c_grey2