<div class="asset-comment-view-edit-component">
	<form
		name="dependentForm"
		role="form"
		data-toggle="validator"
		#dependentForm="ngForm"
		class="left-alignment"
	>
		<div class="box-body">
			<div class="row">
				<div class="col-md-12">
					<div class="form-group asset-component">
						<textarea
							clrTextarea
							required
							rows="8"
							id="assetComment"
							name="assetComment"
							class="form-control"
							[(ngModel)]="assetCommentModel.comment"
							*ngIf="
								assetCommentModel.modal.type !==
								modalType.VIEW
							"
							tds-autofocus
						></textarea>
						<div
							class="comment-text"
							*ngIf="
								assetCommentModel.modal.type ===
								modalType.VIEW
							"
						>
							{{ assetCommentModel.comment }}
						</div>
					</div>
				</div>
				<div class="col-md-8">
					<div class="form-group">
						<label class="col-sm-3 control-label"
							>Category:</label
						>
						<div
							class="col-sm-8"
							*ngIf="
								assetCommentModel.modal.type !==
								modalType.VIEW
							"
						>
							<kendo-dropdownlist
								id="assetCommentCategory"
								name="assetCommentCategory"
								class="form-control asset-comment-dropdown"
								[data]="commentCategories"
								[(ngModel)]="
									assetCommentModel.category
								"
							>
							</kendo-dropdownlist>
						</div>
						<div
							class="col-sm-8"
							*ngIf="
								assetCommentModel.modal.type ===
								modalType.VIEW
							"
						>
							<label
								class="control-label label-detail"
								>{{
									assetCommentModel.category
								}}</label
							>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<clr-checkbox-container
						*ngIf="
							assetCommentModel.modal.type !==
							modalType.CREATE
						"
					>
						<clr-checkbox-wrapper>
							<input
								clrCheckbox
								type="checkbox"
								id="assetCommentArchive"
								name="assetCommentArchive"
								[(ngModel)]="
									assetCommentModel.archive
								"
								[disabled]="
									assetCommentModel.modal.type ===
									modalType.VIEW
								"
							/>
							<label>Archived</label>
						</clr-checkbox-wrapper>
					</clr-checkbox-container>
				</div>
				<div
					class="col-md-12 asset-comment-date-container"
					*ngIf="
						assetCommentModel.modal.type ===
						modalType.VIEW
					"
				>
					<div class="col-md-6 pad-left-0">
						<label
							class="control-label label-detail text-capitalize"
							>Date created:
							{{
								assetCommentModel?.dateCreated | tdsDateTime: userTimeZone:userDateTimeFormat
							}}</label
						>
					</div>
					<div class="col-md-6">
						<label
							class="control-label label-detail text-capitalize pull-right"
							>Last updated:
							{{
								assetCommentModel?.lastUpdated | tdsDateTime: userTimeZone:userDateTimeFormat
							}}</label
						>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>

