<div class="event-dashboard-component">
	<!--	<div class="panel">-->
	<!--		<div class="panel-body">-->
	<!--			<div class="row">-->
	<!--				<div class="box-header">-->
	<!--					<div class="col-md-4">-->
	<!--						<div class="event-selector">-->
	<!--							<span class="event-title">{{'EVENT.EVENT' | translate}}:</span>-->
	<!--							<kendo-dropdownlist [data]="eventList" [(ngModel)]="selectedEvent"-->
	<!--												(ngModelChange)="onSelectedEvent($event.id, $event.name)"-->
	<!--												textField="name" valueField="id">-->
	<!--							</kendo-dropdownlist>-->
	<!--							<label for="agreement" class="aligned-label dontshow-again">-->
	<!--								<input type="checkbox" class="aligned-checkbox" name="agreement" id="agreement"-->
	<!--									   [(ngModel)]="includeUnpublished"> {{ 'EVENT.INCLUDE_UNPUBLISHED' | translate }}-->
	<!--							</label>-->
	<!--						</div>-->
	<!--					</div>-->
	<!--					<div class="col-md-6"></div>-->
	<!--					<div class="col-md-2 pull-right">-->
	<!--						<tds-pie-countdown (timeout)="onTimeout()"></tds-pie-countdown>-->
	<!--					</div>-->
	<!--				</div>-->
	<!--			</div>-->
	<!--		</div>-->
	<!--		<div class="panel-body">-->
	<!--			<div class="row">-->
	<!--				<div class="col-md-2">-->
	<!--					<tds-plan-versus-status-->
	<!--                        #planVersusStatus-->
	<!--						[hasBundleSteps]="hasBundleSteps"-->
	<!--						(changeProgress)="onChangeStatus($event)"-->
	<!--						[currentProgress]="eventPlanStatus.dialIndicator"-->
	<!--						[isDisabled]="!isEventSelected()">-->
	<!--					</tds-plan-versus-status>-->
	<!--				</div>-->
	<!--				<div class="col-md-4">-->
	<!--					<tds-event-resume [event]="eventPlanStatus"></tds-event-resume>-->
	<!--				</div>-->
	<!--				<div class="col-md-4">-->
	<!--					<tds-news [news]="newsList" [isDisabled]="!isEventSelected()" (create)="onCreateNews()"-->
	<!--							  (selected)="onSelectedNews($event)"></tds-news>-->
	<!--				</div>-->
	<!--				<div class="col-md-2"></div>-->
	<!--			</div>-->
	<!--		</div>-->
	<!--	</div>-->

	<div class="panel">
		<div class="panel-body">
			<div class="box-header">
				{{'DASHBOARD.INSIGHT_DATA' | translate}}
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div>
					<!--	add table here-->
					<tds-button-collapse [title]="'DASHBOARD.ASSETS_BY_VENDOR' | translate"
										 (click)="toggleTableFor('ASSETS_BY_VENDOR')"></tds-button-collapse>
					<div class="table" *ngIf="showAssetsByVendorTable">
						<kendo-grid [data]="insightData?.assetsByVendor" [height]="200">
							<kendo-grid-column field="name" title="Name" width="30">
							</kendo-grid-column>
							<kendo-grid-column field="count" title="Count" width="10">
							</kendo-grid-column>
						</kendo-grid>
					</div>
					<kendo-chart>
						<kendo-chart-title text="{{'DASHBOARD.ASSETS_BY_VENDOR' | translate}}"></kendo-chart-title>
						<kendo-chart-series>
							<kendo-chart-series-item
								type="column" [data]="insightData?.assetsByVendor"
								field="count" categoryField="name">
							</kendo-chart-series-item>
						</kendo-chart-series>
					</kendo-chart>
				</div>
			</div>
			<div class="col-md-4">
				<div>
					<tds-button-collapse [title]="'DASHBOARD.APPLICATION_GROUPED_BY_DEPENDENCIES' | translate"
										 (click)="toggleTableFor('APPLICATION_GROUPED_BY_DEPENDENCIES')"></tds-button-collapse>
					<div class="table" *ngIf="showApplicationGroupedByDependencies">
						<kendo-grid [data]="insightData?.applicationsGroupedByDependencies" [height]="200">
							<kendo-grid-column field="level" title="Level" width="30">
							</kendo-grid-column>
							<kendo-grid-column field="count" title="Count" width="10">
							</kendo-grid-column>
						</kendo-grid>
					</div>
					<kendo-chart>
						<kendo-chart-title
							text="{{'DASHBOARD.APPLICATION_GROUPED_BY_DEPENDENCIES' | translate}}"></kendo-chart-title>
						<kendo-chart-series>
							<kendo-chart-series-item
								type="bar" [data]="insightData?.applicationsGroupedByDependencies"
								field="count" categoryField="level">
							</kendo-chart-series-item>
						</kendo-chart-series>
					</kendo-chart>
				</div>
			</div>
			<div class="col-md-4">
				<div>
					<tds-button-collapse [title]="'DASHBOARD.DEPENDENCIES_BY_VENDOR' | translate"
										 (click)="toggleTableFor('DEPENDENCIES_BY_VENDOR')"></tds-button-collapse>
					<div class="table" *ngIf="showDependenciesByVendor">
						<kendo-grid [data]="insightData?.dependenciesByVendor" [height]="200">
							<kendo-grid-column field="name" title="Name" width="30">
							</kendo-grid-column>
							<kendo-grid-column field="count" title="Count" width="10">
							</kendo-grid-column>
						</kendo-grid>
					</div>
					<kendo-chart>
						<kendo-chart-title
							text="{{'DASHBOARD.DEPENDENCIES_BY_VENDOR' | translate}}"></kendo-chart-title>
						<kendo-chart-series>
							<kendo-chart-series-item
								type="column" [data]="insightData?.dependenciesByVendor"
								field="count" categoryField="name">
							</kendo-chart-series-item>
						</kendo-chart-series>
					</kendo-chart>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div>
					<tds-button-collapse [title]="'DASHBOARD.TOP_TAGS' | translate"
										 (click)="toggleTableFor('TOP_TAGS')"></tds-button-collapse>
					<div class="table" *ngIf="showTopTags">
						<kendo-grid [data]="insightData?.topTags" [height]="200">
							<kendo-grid-column field="name" title="Name" width="30">
							</kendo-grid-column>
							<kendo-grid-column field="count" title="Count" width="10">
							</kendo-grid-column>
						</kendo-grid>
					</div>
					<kendo-chart [pannable]="true" [zoomable]="true">
						<kendo-chart-title text="{{'DASHBOARD.TOP_TAGS' | translate}}"></kendo-chart-title>
						<kendo-chart-series>
							<kendo-chart-series-item
								type="donut"
								[data]="insightData?.topTags"
								field="count"
								categoryField="name">
							</kendo-chart-series-item>
						</kendo-chart-series>
					</kendo-chart>
				</div>
			</div>
			<div class="col-md-4"></div>
			<div class="col-md-4"></div>
		</div>
	</div>

</div>
