<div class="modal-content">
	<div class="modal-header">
		<button (click)="cancelCloseDialog()" type="button" class="close" aria-label="Close"><span aria-hidden="true">×</span></button>
		<h4 class="modal-title">Export to Excel</h4>
	</div>
	<div class="modal-body">
		<form name="exportForm" role="form" data-toggle="validator" #exportForm='ngForm'>
			<div class="box-body">
				<div class="form-group">
					<label for="fileName" class="control-label">File Name </label>
					<input type="text" class="form-control" id="fileName" [(ngModel)]="fileName" name="fileName" required [ngClass]="{'has-error': !exportForm.form.valid}"/>
				</div>
			</div>
		</form>
	</div>
	<div class="modal-footer form-group-center">
		<button type="button" (click)="getExportData()" class="btn btn-primary pull-left" [disabled]="!exportForm.form.valid"><span class="fa fa-download"></span> Export</button>
		<kendo-excelexport [data]="dataToExport" fileName="{{exportFileName + '.xlsx'}}" #excelexport>
			<kendo-excelexport-column *ngFor="let column of columns" [field]="column.name" [title]="column.title" [locked]="column.locked" [cellOptions]="column.cell"></kendo-excelexport-column>
		</kendo-excelexport>
		<button (click)="cancelCloseDialog()" type="button" class="btn btn-default pull-right"><span class="glyphicon glyphicon-ban-circle"></span> {{'GLOBAL.CANCEL' | translate }}</button>
	</div>
</div>