$messageError: red
$white: #fff
$c_white2: #fafafa

$black: #000
$c_black2: #333

$fontDisabledGray: #ccc
$c_menuSelected: #e1e3e9
$red: red

/*KENDO MATERIAL BASE COLORS */
$material_c_blue1: #5f9fcf