<div class="modal-content">
	<div class="modal-header">
		<button (click)="cancelCloseDialog()" type="button" class="close" aria-label="Close"><span aria-hidden="true">×</span></button>
		<h4 class="modal-title">Export to Excel</h4>
	</div>
	<div class="modal-body">
		<form name="noticeForm" role="form" data-toggle="validator" class="form-horizontal left-alignment" #noticeForm='ngForm'>
			<div class="box-body">
				<div class="form-group">
					<label for="export" class="control-label">Properties to include in export:</label>
					<div class="radio" style="padding-left:20px;">
						<label><input type="radio" id="exp1" checked name="export">Properties in List</label>
					</div>
					<div class="radio" style="padding-left:20px;">
						<label><input type="radio" id="exp1" checked name="export">All Properties</label>
					</div>
				</div>

			</div>
		</form>
	</div>
	<div class="modal-footer form-group-center">
		<button type="submit" class="btn btn-primary pull-left"><span class="fa fa-download"></span> Export</button>
		<button (click)="cancelCloseDialog()" type="button" class="btn btn-default pull-right"><span class="glyphicon glyphicon-ban-circle"></span> {{'GLOBAL.CANCEL' | translate }}</button>
	</div>
</div>