<!-- Collect the nav links, forms, and other content for toggling -->
<div class="tranman-menu-component collapse navbar-collapse pull-left navbar-ul-container navbar-ul-container-full-menu" id="navbar-collapse">
    <ul class="nav navbar-nav" *ngIf="userContext.project">
        <li *ngIf="hasPermission(permission.AdminMenuView)" class="dropdown menu-parent-admin">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu menu-item-expand" role="menu">
                <li class="menu-parent-item">Administration</li>
                <li class="menu-child-item menu-admin-portal">
                    <a href="/tdstm/admin/home">Admin Portal</a>
                </li>
                <li *ngIf="hasPermission(permission.LicenseAdministration)" class="menu-child-item menu-admin-license-admin">
                    <a [routerLink]="['/license','admin','list']">License Admin</a>
                </li>
                <li *ngIf="userContext.licenseInfo.license.isManager" class="menu-child-item menu-admin-license-manager">
                    <a [routerLink]="['/license','manager','list']">License Manager</a>
                </li>
                <li class="menu-child-item menu-admin-notice-manager">
                    <a [routerLink]="['/notice','list']">Notices</a>
                </li>
                <li *ngIf="hasPermission(permission.RolePermissionView)" class="menu-child-item menu-admin-role">
                    <a href="/tdstm/permissions/show">Role Permissions</a>
                </li>
                <li *ngIf="!userContext.licenseInfo.license.isManager" class="menu-child-item menu-admin-asset-options">
                    <a href="/tdstm/assetEntity/assetOptions">Asset Options</a>
                </li>
                <li class="divider"></li>
                <li class="menu-parent-item">Manage Clients</li>
                <li class="menu-child-item menu-list-companies">
                    <a href="/tdstm/partyGroup/list">List Companies</a>
                </li>
                <li class="menu-child-item menu-list-staff">
                    <a href="/tdstm/person/list">List Staff</a>
                </li>
                <li *ngIf="hasPermission(permission.UserView)" class="menu-child-item menu-list-users">
                    <a href="/tdstm/userLogin/list">List Users</a>
                </li>
                <li *ngIf="hasPermission(permission.PersonImport)" class="menu-child-item menu-client-import-accounts">
                    <a href="/tdstm/admin/importAccounts" class="mmlink">Import Accounts</a>
                </li>
                <li *ngIf="hasPermission(permission.PersonExport)" class="menu-child-item menu-client-export-accounts">
                    <a href="/tdstm/admin/exportAccounts">Export Accounts</a>
                </li>
                <ng-container *ngIf="!userContext.licenseInfo.license.isManager">
                    <li class="divider"></li>
                    <li class="menu-parent-item">Manage Workflows</li>
                    <li class="menu-child-item menu-list-workflows">
                        <a href="/tdstm/workflow/home">List Workflows </a>
                    </li>
                    <li class="divider"></li>
                    <li class="menu-parent-item">Manage Model Library</li>
                    <li class="menu-child-item menu-list-manufacturers">
                        <a href="/tdstm/manufacturer/list">List Manufacturers</a>
                    </li>
                    <li class="menu-child-item menu-list-models">
                        <a href="/tdstm/model/list">List Models</a>
                    </li>
                    <li class="menu-child-item menu-sync-libraries">
                        <a href="/tdstm/model/importExport">Export Mfg &amp; Models</a>
                    </li>
                </ng-container>
            </ul>
        </li>
        <ng-container *ngIf="!userContext.licenseInfo.license.isManager">
            <li class="dropdown menu-parent-projects">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Projects
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu menu-item-expand" role="menu">
                    <li class="menu-child-item menu-projects-active-projects">
                        <a href="/tdstm/project/list?active=active" class="mmlink">Active Projects</a>
                    </li>
                    <li class="menu-child-item menu-projects-current-project">
                        <a href="/tdstm/projectUtil/index" class="mmlink">
                            <span class="menu-link-project-name">{{userContext.project.name}}</span>
                        </a>
                    </li>
                    <li class="menu-child-item menu-projects-project-staff">
                        <a href="/tdstm/person/manageProjectStaff" class="mmlink">Project Staff</a>
                    </li>
                    <li *ngIf="hasPermission(permission.UserSendActivations)" class="menu-child-item menu-projects-user-activation">
                        <a href="/tdstm/project/userActivationEmailsForm" class="mmlink">User Activation Emails</a>
                    </li>
                    <li class="menu-child-item menu-projects-field-settings">
                        <a [routerLink]="['/fieldsettings','list']">Asset Field Settings</a>
                    </li>
                    <li class="menu-child-item menu-projects-tags">
                        <a [routerLink]="['/tag','list']">Tags</a>
                    </li>
                    <li class="divider"></li>
                    <li class="menu-parent-item">Integrations</li>
                    <li class="menu-child-item ">
                        <a [routerLink]="['/provider','list']">Providers</a>
                    </li>
                    <li class="menu-child-item ">
                        <a [routerLink]="['/credential','list']">Credentials</a>
                    </li>
                    <li class="menu-child-item ">
                        <a [routerLink]="['/datascript','list']">ETL Scripts</a>
                    </li>
                    <li class="menu-child-item ">
                        <a [routerLink]="['/action','list']">Actions</a>
                    </li>
                </ul>
            </li>
            <li class="dropdown menu-parent-data-centers">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Locations
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu menu-item-expand" role="menu">
                    <li class="menu-child-item menu-parent-data-centers-list-rooms">
                        <a href="/tdstm/room/list?viewType=list">List Locations</a>
                    </li>
                    <li *ngIf="hasPermission(permission.RackView)" class="menu-child-item menu-parent-data-centers-rack-elevation">
                        <a href="/tdstm/rackLayouts/create">Rack Elevations</a>
                    </li>
                </ul>
            </li>
            <li *ngIf="hasPermission(permission.AssetMenuView)" class="dropdown menu-parent-assets">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Assets
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu menu-item-expand" role="menu">
                    <li class="menu-parent-item">Assets</li>
                    <li class="menu-child-item menu-parent-assets-summary-table">
                        <a href="/tdstm/assetEntity/assetSummary" class="mmlink">
                            <img src="/tdstm/assets/icons/application_view_columns.png" width="16" height="16" alt="Summary Table"> Summary Table
                        </a>
                    </li>
                    <li class="menu-child-item menu-parent-assets-asset-manager">
                        <a [routerLink]="['/asset','views']">
                            <i class="fa fa-cog" style="font-size:20px; margin-right: 0px;"></i> View Manager
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li class="menu-child-item menu-parent-assets-asset-explorer assets-asset-explorer-child">
                        <a [routerLink]="['/asset','views',1,'show']" id="1">
                            <img src="/tdstm/assets/icons/magnifier.png" width="16" height="16">All Assets
                        </a>
                    </li>
                    <li class="menu-child-item menu-parent-assets-application-list assets-asset-explorer-child">
                        <a [routerLink]="['/asset','views',7,'show']" id="7">
                            <svg style="height: 16px; width: 16px;" class="tds-svg-icons " viewBox="0 0 115 115" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"> <image x="0" y="0" height="110px" width="110px" fill="#1f77b4" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/tdstm/assets/icons/svg/application_menu.svg"></image></svg> Applications
                        </a>
                    </li>
                    <li class="menu-child-item menu-parent-assets-all-list assets-asset-explorer-child">
                        <a [routerLink]="['/asset','views',3,'show']" id="3">
                            <svg style="height: 16px; width: 16px;" class="tds-svg-icons " viewBox="0 0 115 115" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"> <image x="0" y="0" height="110px" width="110px" fill="#1f77b4" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/tdstm/assets/icons/svg/other_menu.svg"></image></svg> Devices
                        </a>
                    </li>
                    <li class="menu-child-item menu-parent-assets-server-list assets-asset-explorer-child">
                        <a [routerLink]="['/asset','views',4,'show']" id="4">
                            <svg style="height: 16px; width: 16px;" class="tds-svg-icons " viewBox="0 0 115 115" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"> <image x="0" y="0" height="110px" width="110px" fill="#1f77b4" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/tdstm/assets/icons/svg/serverPhysical_menu.svg"></image></svg> Servers
                        </a>
                    </li>
                    <li class="menu-child-item menu-parent-assets-database-list assets-asset-explorer-child">
                        <a [routerLink]="['/asset','views',2,'show']" id="2">
                            <svg style="height: 16px; width: 16px;" class="tds-svg-icons " viewBox="0 0 115 115" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"> <image x="0" y="0" height="110px" width="110px" fill="#1f77b4" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/tdstm/assets/icons/svg/database_menu.svg"></image></svg> Databases
                        </a>
                    </li>
                    <li class="menu-child-item menu-parent-assets-storage-list assets-asset-explorer-child">
                        <a [routerLink]="['/asset','views',5,'show']" id="5">
                            <svg style="height: 16px; width: 16px;" class="tds-svg-icons " viewBox="0 0 115 115" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"> <image x="0" y="0" height="110px" width="110px" fill="#1f77b4" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/tdstm/assets/icons/svg/storagePhysical_menu.svg"></image></svg> Physical Storage
                        </a>
                    </li>
                    <li class="menu-child-item menu-parent-assets-storage-logical-list assets-asset-explorer-child">
                        <a [routerLink]="['/asset','views',6,'show']" id="6">
                            <svg style="height: 16px; width: 16px;" class="tds-svg-icons " viewBox="0 0 115 115" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"> <image x="0" y="0" height="110px" width="110px" fill="#1f77b4" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/tdstm/assets/icons/svg/storageLogical_menu.svg"></image></svg> Logical Storage
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li class="menu-child-item menu-parent-assets-dependencies-list">
                        <a [routerLink]="['dependencies','list']">
                            <img src="/tdstm/assets/icons/bricks.png" width="16" height="16" alt="Dependencies"> Dependencies
                        </a>
                    </li>
                    <li class="menu-child-item menu-parent-assets-comments-list">
                        <a [routerLink]="['/assetcomment','list']">
                            <img src="/tdstm/assets/icons/comments.png" width="16" height="16" alt="Comments"> Comments
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li *ngIf="hasPermission(permission.DepAnalyzerView)" class="menu-child-item menu-parent-assets-dependency-analyzer">
                        <a href="/tdstm/moveBundle/dependencyConsole" class="mmlink">
                            <img src="/tdstm/assets/icons/brick_magnify.png" width="16" height="16" alt="Dependency Analyzer"> Dependency Analyzer
                        </a>
                    </li>
                    <li *ngIf="hasPermission(permission.ArchitectureView)" class="menu-child-item menu-parent-assets-architecture-graph">
                        <a href="/tdstm/assetEntity/architectureViewer" class="mmlink">
                            <img src="/tdstm/assets/icons/chart_organisation.png" width="16" height="16" alt="Architecture Graph"> Architecture Graph
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li *ngIf="hasPermission(permission.AssetExport)" class="menu-child-item menu-parent-assets-export-assets">
                        <a href="/tdstm/assetEntity/exportAssets">Export Assets</a>
                    </li>
                    <li class="menu-child-item menu-parent-assets-import-assets-etl">
                        <a [routerLink]="['/importbatch','assets']">Import Assets (ETL)</a>
                    </li>
                    <li *ngIf="hasPermission(permission.AssetImport)" class="menu-child-item menu-parent-assets-import-assets">
                        <a href="/tdstm/assetEntity/assetImport">Import Assets (TM Excel)</a>
                    </li>
                    <li *ngIf="hasPermission(permission.DataTransferBatchView)" class="menu-child-item menu-parent-assets-manage-dep-batches">
                        <a [routerLink]="['/importbatch','list']">
                            Manage Import Batches (ETL)
                        </a>
                    </li>
                    <li *ngIf="hasPermission(permission.AssetImport)" class="menu-child-item menu-parent-assets-manage-batches">
                        <a href="/tdstm/dataTransferBatch/list">Manage Import Batches (Excel)</a>
                    </li>
                </ul>
            </li>
            <li *ngIf="hasPermission(permission.EventMenuView)" class="dropdown menu-parent-planning">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Planning
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu menu-item-expand" role="menu">
                    <li class="menu-parent-item">Events</li>
                    <li class="menu-child-item menu-parent-planning-event-list">
                        <a href="/tdstm/moveEvent/list">List Events</a>
                    </li>
                    <li *ngIf="userContext.event" class="menu-child-item menu-parent-planning-event-detail-list">
                        <a href="/tdstm/moveEvent/show/{{userContext.event.id}}">{{userContext.event.name}} Event Details</a>
                    </li>
                    <li *ngIf="hasPermission(permission.NewsEdit)" class="menu-child-item menu-parent-planning-event-news">
                        <a href="/tdstm/newsEditor/newsEditorList">List Event News</a>
                    </li>
                    <li *ngIf="hasPermission(permission.ReportViewEventPrep)" class="menu-child-item menu-planning-pre-checklist">
                        <a href="/tdstm/module/reports/preEventCheckList">Pre-Event Checklist</a>
                    </li>
                    <li class="menu-child-item menu-parent-planning-export-runbook">
                        <a href="/tdstm/moveEvent/exportRunbook">Export Runbook</a>
                    </li>
                    <li class="divider"></li>
                    <li class="menu-parent-item">Bundles</li>
                    <li class="menu-child-item menu-parent-planning-list-bundles">
                        <a href="/tdstm/moveBundle/list">List Bundles</a>
                    </li>
                    <li *ngIf="userContext.bundle" class="menu-child-item menu-parent-planning-selected-bundle">
                        <a href="/tdstm/moveBundle/show/{{userContext.bundle.id}}">{{userContext.bundle.name}} Bundle Details</a>
                    </li>
                </ul>
            </li>
            <li *ngIf="hasPermission(permission.TaskView)" class="dropdown menu-parent-tasks">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Tasks
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu menu-item-expand" role="menu">
                    <li class="menu-parent-item">Tasks</li>
                    <li class="menu-child-item menu-parent-tasks-my-tasks">
                        <a href="/tdstm/task/listUserTasks">My Tasks (<span id="todoCountProjectId">&nbsp;</span>)</a>
                    </li>
                    <li *ngIf="hasPermission(permission.TaskManagerView)" class="menu-child-item menu-parent-tasks-task-manager">
                        <a href="/tdstm/assetEntity/listTasks?initSession=true">Task Manager</a>
                    </li>
                    <li *ngIf="hasPermission(permission.TaskGraphView)" class="menu-child-item menu-parent-tasks-task-graph">
                        <a href="/tdstm/task/taskGraph?initSession=true">Task Graph</a>
                    </li>
                    <li *ngIf="hasPermission(permission.TaskGraphView)" class="menu-child-item menu-parent-tasks-task-timeline">
                        <a href="/tdstm/task/taskTimeline">Task Timeline</a>
                    </li>
                    <li *ngIf="hasPermission(permission.RecipeView)" class="menu-child-item menu-parent-tasks-cookbook">
                        <a href="/tdstm/cookbook/index">Cookbook</a>
                    </li>
                    <li *ngIf="hasPermission(permission.RecipeGenerateTasks)" class="menu-child-item menu-parent-tasks-generation-history">
                        <a href="/tdstm/cookbook/index#/generationHistory">Generation History</a>
                    </li>
                    <li *ngIf="hasPermission(permission.RecipeGenerateTasks)" class="menu-child-item menu-parent-tasks-import-tasks">
                        <a href="/tdstm/assetEntity/importTask" class="mmlink">Import Tasks</a>
                    </li>
                </ul>
            </li>
            <li *ngIf="hasPermission(permission.DashboardMenuView)" class="dropdown menu-parent-dashboard">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dashboards
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu menu-item-expand" role="menu">
                    <li class="menu-parent-item">Live Dashboards</li>
                    <li class="menu-child-item menu-parent-dashboard-user-dashboard">
                        <a href="/tdstm/module/user/dashboard">User Dashboard</a>
                    </li>
                    <li *ngIf="hasPermission(permission.ReportViewPlanning)" class="menu-child-item menu-parent-dashboard-planning-dashboard">
                        <a href="/tdstm/moveBundle/planningStats">Planning Dashboard</a>
                    </li>
                    <li class="menu-child-item menu-parent-dashboard-event-dashboard">
                        <a href="/tdstm/dashboard/index">Event Dashboard</a>
                    </li>
                </ul>
            </li>
            <li *ngIf="hasPermission(permission.ReportMenuView)" class="dropdown menu-parent-reports">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Reports
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu menu-item-expand" role="menu">
                    <li class="menu-parent-item">Planning</li>
                    <li class="menu-child-item menu-reports-application-profiles">
                        <a href="/tdstm/reports/applicationProfiles">Application Profiles</a>
                    </li>
                    <li class="menu-child-item menu-reports-application-conflicts">
                        <a href="/tdstm/reports/applicationConflicts">Application Conflicts</a>
                    </li>
                    <li class="menu-child-item menu-reports-server-conflicts">
											<a [routerLink]="['reports','serverConflicts']" >Server Conflicts</a>
                    </li>
                    <li class="menu-child-item menu-reports-database-conflicts">
                        <a href="/tdstm/reports/databaseConflicts">Database Conflicts</a>
                    </li>
                    <li *ngIf="hasPermission(permission.ReportViewPlanning)" class="menu-child-item menu-reports-task-report">
												<a [routerLink]="['reports','taskReport']" >Task Report</a>
                    </li>
                    <li *ngIf="hasPermission(permission.ReportViewProjectDailyMetrics)" class="menu-child-item menu-reports-activity-metrics">
                        <a href="/tdstm/reports/projectActivityMetrics">Activity Metrics</a>
                    </li>
                    <ng-template [ngIf]="hasPermission(permission.ReportViewEventDay)">
                        <li class="divider"></li>
                        <li class="menu-parent-item">Event Day</li>
												<li class="menu-child-item menu-reports-application-migration">
													<a [routerLink]="['reports','applicationEventResults']" >Application Event Results</a>
												</li>
                    </ng-template>
                </ul>
            </li>
        </ng-container>
    </ul>
</div>
<!-- /.navbar-collapse -->
