<div class="api-action-view-edit-component" tabflow="vertical">
	<form
		name="credentialForm"
		role="form"
		data-toggle="validator"
		#credentialForm="ngForm"
		class="form-horizontal left-alignment"
	>
		<div class="row">
			<div class="col-md-5">
				<div class="form-group">
					<label for="credentialName" class="col-sm-3 control-label">Name:
						<span style="color: red;" *ngIf="modalType !== actionTypes.VIEW">*</span>
					</label>
					<div
						class="col-sm-8"
						*ngIf="modalType !== actionTypes.VIEW"
					>
						<input
							clrInput
							type="text"
							id="credentialName"
							name="credentialName"
							class="form-control"
							[(ngModel)]="credentialModel.name"
							required
							[ngClass]="{ 'has-error': !credentialForm.form.valid && credentialForm.form.touched && credentialModel?.name?.length <= 0 }"
							#credentialName
						/>
					</div>
					<div
						class="col-sm-8"
						*ngIf="modalType === actionTypes.VIEW"
					>
						<label class="control-label label-detail">{{
							credentialModel.name
						}}</label>
					</div>
				</div>
				<div class="form-group">
					<label
						for="credentialDescription"
						class="col-sm-3 control-label"
						>Description:</label
					>
					<div
						class="col-sm-8"
						*ngIf="modalType !== actionTypes.VIEW"
					>
						<textarea
							clrTextarea
							type="text"
							id="credentialDescription"
							name="credentialDescription"
							class="form-control"
							[(ngModel)]="credentialModel.description"
						></textarea>
					</div>
					<div
						class="col-sm-8"
						*ngIf="modalType === actionTypes.VIEW"
					>
						<label class="control-label label-detail">{{
							credentialModel.description
						}}</label>
					</div>
				</div>
				<div class="form-group">
					<label
						for="credentialProvider"
						class="col-sm-3 control-label"
						>Provider:
						<span
							style="color: red;"
							*ngIf="modalType !== actionTypes.VIEW"
							>*</span
						>
					</label>
					<div
						class="col-sm-8"
						*ngIf="modalType !== actionTypes.VIEW"
					>
						<kendo-dropdownlist
							#credentialProvider
							id="credentialProvider"
							name="credentialProvider"
							class="form-control"
							[data]="providerList"
							[textField]="'name'"
							[valueField]="'id'"
							[disabled]="modalType === actionTypes.EDIT"
							[(ngModel)]="credentialModel.provider"
							required
							class="form-control"
							[ngClass]="{
								'has-error':
									credentialForm.form.touched &&
									credentialModel.provider.id == 0
							}"
						></kendo-dropdownlist>
					</div>
					<div
						class="col-sm-8"
						*ngIf="modalType === actionTypes.VIEW"
					>
						<label class="control-label label-detail">{{
							credentialModel.provider.name
						}}</label>
					</div>
				</div>
				<div class="form-group">
					<label
						for="credentialStatus"
						class="col-sm-3 control-label"
						>Status:</label
					>
					<div
						class="col-sm-8"
						*ngIf="modalType !== actionTypes.VIEW"
					>
						<kendo-dropdownlist
							id="credentialStatus"
							name="credentialStatus"
							class="form-control"
							[data]="statusList"
							[(ngModel)]="credentialModel.status"
							class="form-control"
						></kendo-dropdownlist>
					</div>
					<div
						class="col-sm-8"
						*ngIf="modalType === actionTypes.VIEW"
					>
						<label class="control-label label-detail">{{
							credentialModel.status
						}}</label>
					</div>
				</div>
				<div class="form-group">
					<label
						for="credentialEnvironment"
						class="col-sm-3 control-label"
						>Environment:</label
					>
					<div
						class="col-sm-8"
						*ngIf="modalType !== actionTypes.VIEW"
					>
						<kendo-dropdownlist
							#credentialEnvironment
							id="credentialEnvironment"
							name="credentialEnvironment"
							class="form-control"
							[data]="environmentList"
							[(ngModel)]="credentialModel.environment"
						></kendo-dropdownlist>
					</div>
					<div
						class="col-sm-8"
						*ngIf="modalType === actionTypes.VIEW"
					>
						<label class="control-label label-detail">{{
							credentialModel.environment
						}}</label>
					</div>
				</div>
			</div>
			<div class="col-md-7">
				<div class="form-group">
					<label
						for="credentialAuthMethod"
						class="col-sm-4 control-label"
						>Authentication Method:</label
					>
					<div
						class="col-sm-7"
						*ngIf="modalType !== actionTypes.VIEW"
					>
						<kendo-dropdownlist
							id="credentialAuthMethod"
							name="credentialAuthMethod"
							class="form-control"
							[data]="authMethodList"
							[(ngModel)]="credentialModel.authMethod"
						></kendo-dropdownlist>
					</div>
					<div
						class="col-sm-7"
						*ngIf="modalType === actionTypes.VIEW"
					>
						<label class="control-label label-detail">{{
							credentialModel.authMethod
						}}</label>
					</div>
				</div>
				<!-- Authentication Method Fields -->
				<div class="form-group">
					<label
						for="authUN"
						class="col-sm-4 control-label"
						>Username:
						<span
							style="color: red;"
							*ngIf="modalType !== actionTypes.VIEW"
							>*</span
						>
					</label>
					<div
						class="col-sm-7"
						*ngIf="modalType !== actionTypes.VIEW"
					>
						<input
							clrInput
							type="text"
							id="authUN"
							name="authUN"
							class="form-control"
							[(ngModel)]="credentialModel.username"
							required
							[ngClass]="{
								'has-error':
									!credentialForm.form.valid &&
									credentialForm.form.touched &&
									credentialModel?.username?.length <=
										0
							}"
						/>
					</div>
					<div
						class="col-sm-7"
						*ngIf="modalType === actionTypes.VIEW"
					>
						<label class="control-label label-detail">{{
							credentialModel.username
						}}</label>
					</div>
				</div>
				<div
					class="form-group"
					*ngIf="modalType !== actionTypes.VIEW"
				>
					<label
						for="authPW"
						class="col-sm-4 control-label"
						>Password:
						<span
							*ngIf="modalType === actionTypes.CREATE"
							style="color: red;"
							>*</span
						>
					</label>
					<div class="col-sm-7">
						<input
							clrInput
							type="password"
							id="authPW"
							name="authPW"
							class="form-control"
							[(ngModel)]="credentialModel.password"
							[required]="modalType === actionTypes.CREATE"
							[ngClass]="{
								'has-error':
									!credentialForm.form.valid &&
									credentialForm.form.touched &&
									credentialModel?.password?.length <=
										0 &&
									modalType === actionTypes.CREATE
							}"
						/>
					</div>
				</div>
				<div>
					<div class="form-group">
						<label
							for="authTestUrl"
							class="col-sm-4 control-label"
							>Authentication
							{{
								credentialModel.authMethod ===
								authMethods.BASIC_AUTH
									? 'Test'
									: ''
							}}
							URL:
							<span
								style="color: red;"
								*ngIf="modalType !== actionTypes.VIEW"
								>*</span
							>
						</label>
						<div
							class="col-sm-7"
							*ngIf="modalType !== actionTypes.VIEW"
						>
							<input
								clrInput
								type="text"
								id="authTestUrl"
								name="authTestUrl"
								class="form-control"
								[(ngModel)]="
									credentialModel.authenticationUrl
								"
								required
								[ngClass]="{
									'has-error':
										!credentialForm.form.valid &&
										credentialForm.form.touched &&
										credentialModel
											?.authenticationUrl
											?.length <= 0
								}"
							/>
						</div>
						<div
							class="col-sm-7"
							*ngIf="modalType === actionTypes.VIEW"
						>
							<label class="control-label label-detail">{{
								credentialModel?.authenticationUrl
							}}</label>
						</div>
					</div>
				</div>
				<!-- Basic Auth fields -->
				<div
					*ngIf="
						credentialModel.authMethod ===
						authMethods.BASIC_AUTH
					"
				>
					<!-- HTTP Method -->
					<div class="form-group">
						<label
							for="httpMethod"
							class="col-sm-4 control-label"
							>HTTP Method:
							<span
								style="color: red;"
								*ngIf="modalType !== actionTypes.VIEW"
								>*</span
							>
						</label>
						<div
							class="col-sm-7"
							*ngIf="modalType !== actionTypes.VIEW"
						>
							<kendo-dropdownlist
								id="httpMethod"
								name="httpMethod"
								class="form-control"
								[data]="httpMethodList"
								[(ngModel)]="credentialModel.httpMethod"
							></kendo-dropdownlist>
						</div>
						<div
							class="col-sm-7"
							*ngIf="modalType === actionTypes.VIEW"
						>
							<label class="control-label label-detail">{{
								credentialModel?.httpMethod
							}}</label>
						</div>
					</div>
					<!-- Validation Expression -->
					<div class="form-group">
						<label
							for="validationExpression"
							class="col-sm-4 control-label"
							>Validation Expression:
							<popup-validate-expression></popup-validate-expression>
							<span
								style="color: red;"
								*ngIf="modalType !== actionTypes.VIEW"
								>*</span
							>
						</label>
						<div
							class="col-sm-7"
							*ngIf="modalType !== actionTypes.VIEW"
						>
							<input
								clrInput
								type="text"
								id="validationExpression"
								name="validationExpression"
								class="form-control"
								[(ngModel)]="
									credentialModel.validationExpression
								"
								(blur)="onValidateExpression()"
								required
								[ngClass]="{
									'has-error':
										!credentialForm.form.valid &&
										credentialForm.form.touched &&
										credentialModel
											?.validationExpression
											?.length <= 0
								}"
							/>
							<div *ngIf="!validExpressionResult.valid">
								<label
									class="control-label"
									style="color:darkred;"
									>Syntax Error</label
								>
								<textarea
									clrTextarea
									class="form-control script-error syntax-errors-box"
									name="apiActionSyntaxStatusDetermination"
									[ngModel]="
										validExpressionResult.error
									"
									readonly
								></textarea>
							</div>
						</div>
						<div
							class="col-sm-7"
							*ngIf="modalType === actionTypes.VIEW"
						>
							<label class="control-label label-detail">{{
								credentialModel?.validationExpression
							}}</label>
						</div>
					</div>
				</div>
				<div
					*ngIf="
						credentialModel.authMethod === authMethods.JWT
					"
				>
					<div class="form-group">
						<label
							for="authRenewTokenURL"
							class="col-sm-4 control-label"
							>Renew Token URL:
							<span
								style="color: red;"
								*ngIf="modalType !== actionTypes.VIEW"
								>*</span
							>
						</label>
						<div
							class="col-sm-7"
							*ngIf="modalType !== actionTypes.VIEW"
						>
							<input
								clrInput
								type="text"
								id="authRenewTokenURL"
								name="authRenewTokenURL"
								class="form-control"
								[(ngModel)]="
									credentialModel.renewTokenUrl
								"
								required
								[ngClass]="{
									'has-error':
										!credentialForm.form.valid &&
										credentialForm.form.touched &&
										credentialModel?.renewTokenUrl
											?.length <= 0
								}"
							/>
						</div>
						<div
							class="col-sm-7"
							*ngIf="modalType === actionTypes.VIEW"
						>
							<label class="control-label label-detail">{{
								credentialModel?.renewTokenUrl
							}}</label>
						</div>
					</div>
				</div>
				<div
					*ngIf="
						credentialModel.authMethod ===
							authMethods.COOKIE ||
						credentialModel.authMethod ===
							authMethods.HEADER
					"
				>
					<div class="form-group">
						<label
							for="authTerminateSesionUrl"
							class="col-sm-4 control-label"
						>
							Terminate Session URL:
						</label>
						<div
							class="col-sm-7"
							*ngIf="modalType !== actionTypes.VIEW"
						>
							<input
								clrInput
								type="text"
								id="authTerminateSesionUrl"
								name="authTerminateSesionUrl"
								class="form-control"
								[(ngModel)]="
									credentialModel.terminateUrl
								"
							/>
						</div>
						<div
							class="col-sm-7"
							*ngIf="modalType === actionTypes.VIEW"
						>
							<label class="control-label label-detail">{{
								credentialModel?.terminateUrl
							}}</label>
						</div>
					</div>
					<div class="form-group">
						<label
							for="httpMethod"
							class="col-sm-4 control-label"
							>HTTP Method:
							<span
								style="color: red;"
								*ngIf="modalType !== actionTypes.VIEW"
								>*</span
							>
						</label>
						<div
							class="col-sm-7"
							*ngIf="modalType !== actionTypes.VIEW"
						>
							<kendo-dropdownlist
								id="httpMethod"
								name="httpMethod"
								class="form-control"
								[data]="httpMethodList"
								[(ngModel)]="credentialModel.httpMethod"
							></kendo-dropdownlist>
						</div>
						<div
							class="col-sm-7"
							*ngIf="modalType === actionTypes.VIEW"
						>
							<label class="control-label label-detail">{{
								credentialModel?.httpMethod
							}}</label>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-4 control-label"
							>Request Mode:
							<span
								style="color: red;"
								*ngIf="modalType !== actionTypes.VIEW"
								>*</span
							>
						</label>
						<div class="col-sm-7">
							<div
								class="row"
								style="margin-top: 6px;"
								*ngIf="modalType !== actionTypes.VIEW"
							>
								<div class="col-sm-4">
									<label class="label-detail">
										<input
											type="radio"
											class="radio-aligned"
											name="authRequestMode"
											[value]="
												requestMode.BASIC_AUTH
											"
											[(ngModel)]="
												credentialModel.requestMode
											"
											checked
										/>
										Basic Auth
									</label>
								</div>
								<div class="col-sm-6">
									<label class="label-detail">
										<input
											type="radio"
											class="radio-aligned"
											name="authRequestMode"
											[value]="
												requestMode.FORM_VARS
											"
											[(ngModel)]="
												credentialModel.requestMode
											"
										/>
										Form Variables
									</label>
								</div>
							</div>
							<div
								class="row"
								style="margin-top: 6px;"
								*ngIf="modalType === actionTypes.VIEW"
							>
								<div class="col-sm-6">
									<label
										class="label-detail"
										*ngIf="
											credentialModel.requestMode ===
											requestMode.BASIC_AUTH
										"
										>Basic Auth</label
									>
									<label
										class="label-detail"
										*ngIf="
											credentialModel.requestMode ===
											requestMode.FORM_VARS
										"
										>Form Variables</label
									>
								</div>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label
							for="validationExpression"
							class="col-sm-4 control-label"
							>Validation Expression:
							<popup-validate-expression></popup-validate-expression>
							<span
								style="color: red;"
								*ngIf="modalType !== actionTypes.VIEW"
								>*</span
							>
						</label>
						<div
							class="col-sm-7"
							*ngIf="modalType !== actionTypes.VIEW"
						>
							<input
								clrInput
								type="text"
								id="validationExpression"
								name="validationExpression"
								class="form-control"
								[(ngModel)]="
									credentialModel.validationExpression
								"
								(blur)="onValidateExpression()"
								required
								[ngClass]="{
									'has-error':
										!credentialForm.form.valid &&
										credentialForm.form.touched &&
										credentialModel
											?.validationExpression
											?.length <= 0
								}"
							/>
							<div *ngIf="!validExpressionResult.valid">
								<label
									class="control-label"
									style="color:darkred;"
									>Syntax Error</label
								>
								<textarea
									class="form-control script-error"
									name="apiActionSyntaxStatusDetermination"
									[ngModel]="
										validExpressionResult.error
									"
									readonly
								></textarea>
							</div>
						</div>
						<div
							class="col-sm-7"
							*ngIf="modalType === actionTypes.VIEW"
						>
							<label class="control-label label-detail">{{
								credentialModel?.validationExpression
							}}</label>
						</div>
					</div>
					<div class="form-group">
						<label
							for="sessionName"
							class="col-sm-4 control-label"
							>{{
								credentialModel.authMethod ===
								authMethods.COOKIE
									? 'Cookie Name'
									: credentialModel.authMethod ===
									  authMethods.HEADER
									? 'Header Name'
									: 'Meta Param:'
							}}
							<popup-session-authentication-name></popup-session-authentication-name>
							<span
								style="color: red;"
								*ngIf="modalType !== actionTypes.VIEW"
								>*</span
							>
						</label>
						<div
							class="col-sm-7"
							*ngIf="modalType !== actionTypes.VIEW"
						>
							<input
								clrInput
								type="text"
								id="sessionName"
								name="sessionName"
								class="form-control"
								[(ngModel)]="
									credentialModel.sessionName
								"
								required
								[ngClass]="{
									'has-error':
										!credentialForm.form.valid &&
										credentialForm.form.touched &&
										credentialModel?.sessionName
											?.length <= 0
								}"
							/>
						</div>
						<div
							class="col-sm-7"
							*ngIf="modalType === actionTypes.VIEW"
						>
							<label class="control-label label-detail">{{
								credentialModel?.sessionName
							}}</label>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>

	<tds-check-action
			class="pull-left check-action"
			[name]="'Test Authentication'"
			*ngIf="modalType === actionTypes.VIEW"
			[(model)]="operationStatusModel"
			(onClick)="verifyCode(operationStatusModel)"
			[disabled]="isCheckSyntaxDisabled()"
	></tds-check-action>

</div>
