<div class="dependency-analyzer-container content body">
	<div class="row task-manager-sub-header">
		<div class="col-md-2  ">
			<label class="dependency-analyzer-control-label">{{'DEPENDENCY_ANALYZER.DEPENDENCY_GROUPS' | translate}}:</label>
			<tds-button>{{ 'DEPENDENCY_ANALYZER.REGENERATE' | translate}}</tds-button>
		</div>
		<div class="col-md-2 ">
			<label class="dependency-analyzer-control-label" for="dependency-analyzer-teams-dropdown">{{'DEPENDENCY_ANALYZER.BUNDLE' | translate}}:</label>
			<kendo-dropdownlist
				id="dependency-analyzer-teams-dropdown"
				textField="name"
				valueField="id"
				[ngClass]="'dependency-analyzer-custom-dropdown'"
				[value]="selectedBundle"
				[data]="allMoveBundles"
				(selectionChange)="onBundleSelect($event)"
				[(ngModel)]="selectedBundle"
                #teamHighlightDropdown>
			</kendo-dropdownlist>
		</div>

		<div class="col-md-2 " *ngIf="allTags">
			<label class="dependency-analyzer-control-label" for="dependency-analyzer-teams-dropdown">{{'DEPENDENCY_ANALYZER.TAGS' | translate}}:</label>
			<tds-asset-tag-selector
				[tagList]="allTags"
				[model]="selectedTags"
				[showSwitch]="true"
				(valueChange)="onAssetTagChange($event)"
			></tds-asset-tag-selector>
		</div>

		<div class="col-md-4 chk-filter-container">
			<clr-checkbox-wrapper class="inline">
				<input
					clrCheckbox
					id="showWIPonly"
					type="checkbox"
					name="showWIPonly"
					class="component-action-just-planning"
					[(ngModel)]="showOnlyWIP"
					(change)="onShowOnlyWIPChange($event)"/>
				<label
					class="clr-control-label clr-control-label-sm inline"
					for="showWIPonly"
				>{{'DEPENDENCY_ANALYZER.SHOW_ONLY_WIP' | translate}}</label>
			</clr-checkbox-wrapper>
		</div>

		<div class="col-md-2">
			<button class="refresh-container-btn btn" (click)="refreshDiagram()">
				<fa-icon [icon]="icons.faSyncAlt" size="lg"></fa-icon>
			</button>
		</div>

<!--			<label class="task-chk-container">-->
<!--				<input  type="checkbox" [(ngModel)]="minimizeAutoTasks" (ngModelChange)="onMinimizeAutoTasksFilterChange()" />-->
<!--				<span class="checkmark"></span>-->
<!--				Minimize Auto Tasks-->
<!--			</label>-->
	</div>
	<kendo-grid
		#dependencyAnalizerGrid="kendoGrid"
		[data]="finalData">

<!--		<kendo-grid-column field="field" title="Group">-->
<!--			<ng-template-->
<!--				kendoGridHeaderTemplate-->
<!--				let-column-->
<!--				let-columnIndex="columnIndex"-->
<!--			>-->
<!--			<span class="column">-->
<!--				Group-->
<!--			</span>-->
<!--			</ng-template>-->
<!--		</kendo-grid-column>-->
<!--		<kendo-grid-column field="field" title="All">-->
<!--			<ng-template-->
<!--				kendoGridHeaderTemplate-->
<!--				let-column-->
<!--				let-columnIndex="columnIndex"-->
<!--			>-->
<!--			<span class="column">-->
<!--				All-->
<!--			</span>-->
<!--			</ng-template>-->
<!--		</kendo-grid-column>-->
<!--		<kendo-grid-column field="field" title="Remnants">-->
<!--			<ng-template-->
<!--				kendoGridHeaderTemplate-->
<!--				let-column-->
<!--				let-columnIndex="columnIndex"-->
<!--			>-->
<!--			<span class="column">-->
<!--				Remnants-->
<!--			</span>-->
<!--			</ng-template>-->
<!--		</kendo-grid-column>-->
<!--		<kendo-grid-column field="field" title="Grouped">-->
<!--			<ng-template-->
<!--				kendoGridHeaderTemplate-->
<!--				let-column-->
<!--				let-columnIndex="columnIndex"-->
<!--			>-->
<!--			<span class="column">-->
<!--				Grouped-->
<!--			</span>-->
<!--			</ng-template>-->
<!--		</kendo-grid-column>-->
<!--		<kendo-grid-column *ngFor="let col of dependencyConsoleList" [title]="col.dependencyBundle" [width]="50">-->
<!--		</kendo-grid-column>-->
	</kendo-grid>
</div>
