<div class="dependency-analyzer-container content body">
	<div class="row task-manager-sub-header">
		<div class="col-md-12  ">
			<label class="">{{'DEPENDENCY_ANALYZER.DEPENDENCY_GROUPS' | translate}}
				:</label>
			<tds-button>{{ 'DEPENDENCY_ANALYZER.REGENERATE' | translate}}</tds-button>
			<label class="dependency-analyzer-control-label"
				   for="dependency-analyzer-teams-dropdown">{{'DEPENDENCY_ANALYZER.BUNDLE' | translate}}:</label>
			<kendo-dropdownlist
				id="dependency-analyzer-teams-dropdown"
				[ngClass]="'dependency-analyzer-custom-dropdown'"
				[textField]="'name'"
				[valueField]="'id'"
				[defaultItem]="defaultBundleItem"
				[data]="allMoveBundles"
				(selectionChange)="onBundleSelect($event)"
                #teamHighlightDropdown>
			</kendo-dropdownlist>

			<label class="dependency-analyzer-control-label "
				   for="dependency-analyzer-teams-dropdown">{{'DEPENDENCY_ANALYZER.TAGS' | translate}}:</label>
			<tds-asset-tag-selector *ngIf="allTags"
				[tagList]="allTags"
				[model]="selectedTags"
				[showSwitch]="true"
				class="tag-selector-for-da"
				(valueChange)="onAssetTagChange($event)"
			></tds-asset-tag-selector>

			<clr-checkbox-wrapper class="inline dependency-analyzer-control-label ">
				<input
					clrCheckbox
					id="showWIPonly"
					type="checkbox"
					name="showWIPonly"
					class="component-action-just-planning"
					[(ngModel)]="isAssigned"
					(change)="onShowOnlyWIPChange($event)"/>
				<label
					class="clr-control-label clr-control-label-sm inline"
					for="showWIPonly"
				>{{'DEPENDENCY_ANALYZER.SHOW_ONLY_WIP' | translate}}</label>
			</clr-checkbox-wrapper>

			<button class="refresh-container-btn btn dependency-analyzer-control-btn " (click)="onRefeshData()" title="Refresh Data">
				<fa-icon [icon]="icons.faSyncAlt" size="lg"></fa-icon>
			</button>
		</div>
	</div>
	<kendo-grid
        #grid
		[data]="gridData">
		<kendo-grid-column *ngFor="let col of columns; let i = index" [title]="col" [headerClass]="classes[i]"
						   [width]="i < 4 ? '70' : '30'">
			<ng-template kendoGridHeaderTemplate>
				<div *ngIf="col === 'Groups'" class="group-column" (click)="openGroupInfoModal($event)">
					{{col}}
					<fa-icon [icon]="icons.faQuestion" size="md"></fa-icon>
				</div>
				<div *ngIf="col !== 'Groups'" class="data-columns" (click)="columnClicked($event, i)">
					{{col}}
				</div>
			</ng-template>
			<ng-template kendoGridCellTemplate let-dataItem>
				<div *ngIf="i === 0">
					{{dataItem[i]}}
				</div>
				<div class="data-item-columns" *ngIf="i > 0">
					{{dataItem[i] !== 0 ? dataItem[i] : ' ' }}
				</div>
			</ng-template>
		</kendo-grid-column>
	</kendo-grid>

	<form *ngIf="showBottomGrid" style="margin-top: 50px;">
		<kendo-tabstrip [keepTabContent]="true">
			<kendo-tabstrip-tab [title]="'Tab 1'" [selected]="true">
				<ng-template kendoTabContent>
					<p>First Tab Form Content</p>
				</ng-template>
			</kendo-tabstrip-tab>
			<kendo-tabstrip-tab [title]="'Tab 2'">
				<ng-template kendoTabContent>
					<p>Second Tab Form Content</p>
				</ng-template>
			</kendo-tabstrip-tab>
			<kendo-tabstrip-tab [title]="'Tab 3'">
				<ng-template kendoTabContent>
					<p>Third Tab Form Content</p>
				</ng-template>
			</kendo-tabstrip-tab>
		</kendo-tabstrip>
	</form>
</div>
