.api-action-list-component {
  height: 83vh;
  display: flex;
  flex-direction: column;
  padding-bottom: 0;
  .k-datepicker.is-filtered {
    span.k-select {
      display: none;
    }
  }

  .page-header {
    display: flex;
    justify-content: space-between;
    border-bottom-width: 0;
    h1 {
      font-weight: bold;
      font-size: 18px;
      line-height: 24px;
      color: #18394B;
      margin-top: 5px;
    }
  }
  input[type="checkbox"]:disabled + label {
    cursor: not-allowed
  }

  .box-body {
    height: 92%;
    padding-bottom: 0;
    padding-top: 0;

    .k-grid {
      height: 100%;
    }
  }

  .button-create-action {
    margin-right: 4px;
  }

  .checkbox-container {
    display: flex;
    justify-content: center;
  }
}

@media (min-height: 980px)  {
  .api-action-list-component {
    height: 88vh;
  }
}

