.data-script-etl-builder-component
  min-width: 580px
  min-height: 600px
  i.field-info-icon
    cursor: pointer
    font-size: 17px
  .modal-dialog
    width: 100%
    display: flex
    align-items: center
    margin: 30px auto
    .sample-preview
      margin: 10px auto
    .modal-content
      .modal-header
        display: flex
        flex-direction: row
        justify-content: space-between
        padding-bottom: 5px
        height: auto
        .tool-box
          align-items: baseline
  .btn-resize
    font-size: 14px
  hr
    margin: 10px 0px 10px 0px
  .modal-body h4
    margin-top: 0px
  .modal-body
    overflow: auto
    padding: 0
    .modal-body-container
      margin: 10px 15px 20px
      height: 100%


  .data-preview
    label:not(.fields-info-popup-label)
      margin-bottom: 0px
      width: 100%
      cursor: pointer
  .test-results
    height: 600px
    .test-results-row
      i
        visibility: hidden
      .has-init
        font-style: italic
        cursor: pointer
        display: flex
        align-items: center
        justify-content: space-between
        i
          margin-right: 5px
          cursor: pointer
          visibility: visible

    button i
      padding-right: 0px !important

  kendo-grid-list td
    padding: 6px 8px !important
  button
    pointer-events: auto
    font-size: 12px
    line-height: 24px
    min-width: 1rem
    height: unset
    overflow: visible
    outline: 0
    &.btn-collapsable
      i.fa
        padding-right: 0px !important

