.data-script-view-edit-component
  .k-widget.form-control .k-input, .form-control.k-block .k-input
    height: 2.9rem
  .has-error-custom
    kendo-dropdownlist
      border: 1px solid red
  .asset-explorer-view-selector-component
    width: 214px !important
  .label-detail
    text-align: left
    font-weight: normal
  .radio-aligned
    margin: 4px 4px 0
    vertical-align: top
  .is-required  
    color: red
