.provider-list-component
  .page-header
    display: flex
    justify-content: space-between
    border-bottom-width: 0
    margin-bottom: 0
    padding-bottom: 0
    h1
      font-weight: bold
      font-size: 18px
      line-height: 24px
      color: $table-header-title-color
      margin-top: 5px
  .button-create-provider
    margin-right: 4px
