<style>
    .bundle-steps-component {
    }

    .bundle-steps-component img {
       position: absolute;
       border: 0px; 
       width: 16px;
       height: 23px;
       cursor: pointer;
    }

    .bundle-steps-component img.back {
        position: absolute;
        left: -20px;
    }

    .bundle-steps-component img.next {
        position: absolute;
        right: 0;
    }

    .bundle-steps-component .step_statusbar_yellow {
        color: rgb(25, 25, 25);
        border-top-color: rgb(97, 99, 101);
        border-right-color: rgb(97, 99, 101);
        border-bottom-color: rgb(97, 99, 101);
        border-left-color: rgb(97, 99, 101);
        background-color: rgb(255, 202, 86);
        font-size: 14px;
        font-weight: bold;
        text-align: center;
        line-height: 24px;
        display: block;
        border: 2px solid #595959;
    }

</style>

<div class="container bundle-steps-component" *ngIf="bundleSteps">
    <div class="row" *ngFor="let row of bundleSteps.steps; let rowIndex = index;">
        <div class="col-md-2">{{bundleSteps.categories[rowIndex]}}</div>
        <div *ngFor="let column of getColumns(row); let first = first; let last = last;" 
                class="col-md-{{colSize}}" [ngClass]="column.classes">
                <img *ngIf="rowIndex == 0 && first" src="/tdstm/assets/images/left_arrow.png" 
                    alt="back" 
                    (click)="onBack()"
                    class="disabled back"> 
                {{column.text}} 
                <img  *ngIf="rowIndex == 0 && last " src="/tdstm/assets/images/right_arrow.png" 
                    alt="back" 
                    (click)="onNext()"
                    class="disabled next">
        </div>
    </div>
</div>