<style>
    .bundle-steps-component {
    }

    .bundle-steps-component img {
       position: absolute;
       border: 0px; 
       width: 16px;
       height: 23px;
       cursor: pointer;
    }

    .bundle-steps-component img.back {
        left: -10px;
    }

    .bundle-steps-component img.next {
        margin-left: 7px;
    }

</style>

<div class="container bundle-steps-component" *ngIf="bundleSteps">
    <div class="row" *ngFor="let row of bundleSteps.steps; let rowIndex = index;">
        <div class="col-md-2">{{categories[rowIndex]}}</div>
        <div *ngFor="let column of getColumns(row); let first = first; let last = last;" 
                class="col-md-{{colSize}}">
                <img *ngIf="rowIndex == 0 && first" src="/tdstm/assets/images/left_arrow.png" 
                    alt="back" 
                    (click)="onBack()"
                    class="disabled back"> 
                {{column.text}} 
                <img  *ngIf="rowIndex == 0 && last " src="/tdstm/assets/images/right_arrow.png" 
                    alt="back" 
                    (click)="onNext()"
                    class="disabled next">
        </div>
    </div>
</div>