<style>
    .bundle-steps-component {
        padding-right: 30px;
    }

    .bundle-steps-component img {
       position: absolute;
       border: 0px; 
       width: 16px;
       height: 23px;
       cursor: pointer;
    }

    .bundle-steps-component img.back {
        position: absolute;
        left: -20px;
    }

    .bundle-steps-component img.next {
        position: absolute;
        right: 0;
    }

    .bundle-steps-component .step_statusbar_good {
        font-size: 14px;
        font-weight: bold;
        text-align: center;
        color: #ffffff;
        line-height: 24px;
        display: block;
        border: 2px solid #595959;
        background-color: #669900;
        color: rgb(241, 238, 232);
        border-top-color: rgb(97, 99, 101);
        border-right-color: rgb(97, 99, 101);
        border-bottom-color: rgb(97, 99, 101);
        border-left-color: rgb(97, 99, 101);
        background-color: rgb(110, 152, 25);
    }

    .bundle-steps-component .step_statusbar_yellow {
        color: rgb(25, 25, 25);
        border-top-color: rgb(97, 99, 101);
        border-right-color: rgb(97, 99, 101);
        border-bottom-color: rgb(97, 99, 101);
        border-left-color: rgb(97, 99, 101);
        background-color: rgb(255, 202, 86);
        font-size: 14px;
        font-weight: bold;
        text-align: center;
        line-height: 24px;
        display: block;
        border: 2px solid #595959;
    }

    .bundle-steps-component .category-description {
        background-position: right;
        background-repeat: no-repeat;
        font-weight: bold;
        min-height: 31px;
        padding-right: 30px;
        text-align: right;
    }

    .bundle-steps-component .heading {
        color: #63a242;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
    }

    .bundle-steps-component .primary {
        background-color: #D3D7DC;
        border: 2px solid white;
        color: #000000;
        display: block;
        font-size: 11px;
        line-height: 24px;
        margin-top: 1px;
        text-align: center;
        height: 32px;
    }

    .bundle-steps-component .secondary {
        color: #000000;
        background-color: #b5bdc6;
        border: 2px solid white;
        line-height: 28px;
        margin-top: 1px;
        display: block;
        font-size: 11px;
        text-align: center;
        height: 32px;
    }

</style>

<div class="container bundle-steps-component" *ngIf="bundleSteps">
    <div class="row">
        <div class="col-md-2">Empty Space</div>
        <div class="col-md-10">

            <kendo-tabstrip>
                <kendo-tabstrip-tab [title]="bundle.name" 
                    *ngFor="let bundle of bundleSteps.moveBundleList">
                </kendo-tabstrip-tab>

            </kendo-tabstrip>
        </div>
    </div>
    <div class="row" *ngFor="let row of bundleSteps.steps; let rowIndex = index;">
        <div class="col-md-2 category-description">{{bundleSteps.categories[rowIndex]}}</div>
        <div *ngFor="let column of getColumns(row); let first = first; let last = last;" 
                class="col-md-{{colSize}} {{column.classes}}" 
                [ngClass]="{'heading': rowIndex === 0}">
                <img *ngIf="rowIndex == 0 && first" src="/tdstm/assets/images/left_arrow.png" 
                    alt="back" 
                    (click)="onBack()"
                    class="disabled back"> 
                <span [innerHtml]="column.text"></span>
                <img  *ngIf="rowIndex == 0 && last " src="/tdstm/assets/images/right_arrow.png" 
                    alt="back" 
                    (click)="onNext()"
                    class="disabled next">
        </div>
    </div>
</div>