<plugin name='functional-test' version='1.2.3'>
  <author>Marc Palmer</author>
  <authorEmail>marc@anyware.co.uk</authorEmail>
  <title>Functional Testing</title>
  <description>Simple 'pure grails' functional testing for your web applications
</description>
  <documentation>http://grails.org/Grails+Functional+Testing</documentation>
  <resources>
    <resource>UrlMappings</resource>
  </resources>
</plugin>