<div tds-autofocus tds-handle-escape (escPressed)="cancelCloseDialog()" class="modal-content notice-edit-content">
    <div class="modal-header">
        <button (click)="cancelCloseDialog()" type="button" class="close" aria-label="Close"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title">{{ (action === 0 ? 'NOTICE.CREATE_NOTICE':'NOTICE.EDIT_NOTICE') | translate }}</h4>
    </div>
    <div class="modal-body">
        <form name="noticeForm" role="form" data-toggle="validator" class="form-horizontal left-alignment" #noticeForm='ngForm'>
            <div class="box-body">
                <div class="form-group">
                    <label for="inputTitle" class="col-sm-3 control-label">Title: <span class="required_field">*</span></label>
                    <div class="col-sm-9">
                        <input type="text" name="title" id="inputTitle" class="form-control" placeholder="Notice Title" [(ngModel)]="model.title"
                            required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="selectType" class="col-sm-3 control-label">Type: <span class="required_field">*</span></label>
                    <div class="col-sm-9">
                        <!--[valuePrimitive]="true"-->
                        <kendo-dropdownlist
                                name="noticeType"
		                        #typeIdField="kendoDropDownList"
                                [defaultItem]="defaultItem"
                                [data]="typeDataSource"
                                [textField]="'name'"
                                [valueField]="'typeId'"
                                id="selectType"
                                class="form-control"
                                [(ngModel)]="model.noticeType"
                                requiredComplexValue propertyName="typeId" required>
                        </kendo-dropdownlist>
                    </div>
                </div>
                <div class="form-group">
                    <label for="checkActive" class="col-sm-3 control-label">Active:</label>
                    <div class="col-sm-9 checkbox">
                        <label>
                            <input id="checkActive" name="active" type="checkbox" [(ngModel)]="model.active">
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="activationDate" class="col-sm-3 control-label">Activation Date:</label>
                    <div class="col-sm-9">
                        <tds-date-control
                               id="activationDate"
                               name="activationDate"
                               [(ngModel)]="model.activationDate">
                        </tds-date-control>
                    </div>
                </div>
                <div class="form-group">
                    <label for="expirationDate" class="col-sm-3 control-label">Expiration Date:</label>
                    <div class="col-sm-9">
                        <tds-date-control
		                        id="expirationDate"
                               name="expirationDate"
                               [(ngModel)]="model.expirationDate">
                        </tds-date-control>
                    </div>
                </div>

                <div class="form-group">
                    <label for="sequence" class="col-sm-3 control-label">Sequence:</label>
                    <div class="col-sm-1">
                        <kendo-numerictextbox
                                name="sequence" [value]="model.sequence" [format]="'n0'" [min]="0" [autoCorrect]="true">
                        </kendo-numerictextbox>
                    </div>
	                <div class="col-sm-2">
	                </div>
	                <div class="col-sm-6 locked-container">
		                <label for="locked" class="control-label">Locked:</label>
		                <input id="locked" name="locked" type="checkbox" [(ngModel)]="model.locked">
	                </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-12 control-label">Message: <span class="required_field">*</span> </label>
                    <div class="col-sm-12">
                        <rich-text-editor
                            #htmlTextField="richTextEditor"
                            [elementId]="'htmlText'"
                            [required]="true"
                            [name]="'htmlText'"
                            [(rawValue)]="model.rawText"
                            [(value)]="model.htmlText">
                        </rich-text-editor>
                    </div>
                </div>
                <div class="form-group"
                     *ngIf="model.noticeType && model.noticeType.typeId == EnumNoticeType.Mandatory">
                    <label for="postMessageText" class="col-sm-12 control-label">Post Message Text: <span class="required_field">*</span></label>
	                <div class="col-sm-12">
                        <input type="text" class="form-control"
                               required
                               name="postMessageText" id="postMessageText"
                               [(ngModel)]="model.title">
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer form-group-center">
        <button (click)="saveNotice()" [disabled]="!formValid() && !isCreateEditAvailable()" type="button" class="btn btn-primary pull-left"><span class="fa fa-fw fa-floppy-o"></span>{{ 'GLOBAL.SAVE' | translate }}</button>
        <button (click)="viewHTML()" type="button" class="btn btn-primary pull-left"><span class="fa fa-fw fa-code"></span>{{ 'NOTICE.VIEW_HTML' | translate }}</button>
        <button (click)="deleteNotice()" [disabled]="!isDeleteAvailable()" *ngIf="action===1" type="button" class="btn btn-danger"><span class="fa fa-fw fa-trash"></span> {{ 'GLOBAL.DELETE' | translate }}</button>
        <button (click)="cancelCloseDialog()" type="button" class="btn btn-default pull-right"><span class="glyphicon glyphicon-ban-circle"></span> {{'GLOBAL.CANCEL' | translate }}</button>
    </div>
</div>