.has-danger .form-control-feedback,
.has-danger .form-control-label,
.has-danger .control-label,
.has-danger .col-form-label,
.has-danger .form-check-label,
.has-danger .custom-control
  color: $color__danger--red

.has-danger .form-control
  border-color: $color__danger--red

.has-danger .input-group-addon
  color: $color__danger--red
  border-color: $color__danger--red