// Some elements are not always inside a form, this allow to workaround some scenarios
.has-danger .form-control-feedback,
.has-danger .form-control-label,
.has-danger .control-label,
.has-danger .col-form-label,
.has-danger .form-check-label,
.has-danger .custom-control
    color: $color-danger--red

.has-danger .form-control
    border-color: $color-danger--red

.has-danger .input-group-addon
    color: $color-danger--red
    border-color: $color-danger--red

.form-control
    height: 31px

/* Applicable to All Forms */
form
    .form-horizontal
    &.left-alignment
        div.form-group
            label
                text-align: left
            &.sub-option-50
                padding-left: 50px
      border: inherit
      th
        background: inherit
    .pad-left-20
        padding-left: 20px
    .pad-left-50
        padding-left: 50px
    .text-left
        text-align: left !important
    .text-right
        text-align: right !important
    .element-width-50
        width: 50px !important
    .element-width-60
        width: 60px !important
    .element-width-70
        width: 70px !important
    .element-width-80
        width: 80px !important
    .element-width-90
        width: 90px !important
    .element-width-100
        width: 100px !important
    .element-width-130
        width: 130px !important
    .element-width-140
        width: 140px !important
    .element-width-150
        width: 150px !important
    .element-width-200
        width: 200px !important
    .element-width-460
        width: 460px !important