<span id="actionBarId" class="slide">
	<span class="slide" style=" margin-top: 4px;">
		<span ng-repeat="button in buttons" width="8%" nowrap="nowrap" ng-if="!button.disabled">
			<a ng-if="button.icon" ng-disabled="button.disabled" class="task_action ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-primary" ng-click="doAction(button)" ng-class="{'button_task_disabled': button.disabled}"
			   ng-attr-data-toggle="{{ button.tooltipText? 'popover': ''}}" ng-attr-data-trigger="{{ button.tooltipText? 'hover': ''}}" ng-attr-data-content="{{ button.tooltipText? button.tooltipText: ''}}">
				<span class="ui-button-icon-primary ui-icon task_icon {{button.icon}}" ng-class="{'task_icon_button_disabled': button.disabled}"></span>
				<span id="start_text_205966" ng-class="{task_button_disabled: (button.disabled), task_button: (!button.disabled)}">{{button.label}}</span>
			</a>
			<span ng-if="!button.icon" style="float:left; padding-left:20px;" class="task_action">{{button.label}}</span>
		</span>
	</span>
</span>
