.modal-comment .modal-dialog {
	width: 700px;
}
.modal-task .modal-dialog {
	width: 1000px;
}
.modal-comment-task-list .modal-dialog {
	width: 700px;
}

.list .comments-table-row:hover {
	background: #FFFFFF;
}
.modal-backdrop.in {
	display: none;
}
.angular-center-container {
	position: fixed;
	top:0;
	left:0;
	height:100%;
	width:100%;
	display:table;
	pointer-events: none;
	z-index:9999;
}
.angular-centered {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
#commentsListDialog .buttons {
	height: 22px;
	padding-top: 5px;
}
.comment-create-button {
	margin-left: 5px;
	font-weight: bold;
}
.save:disabled {
	opacity: 0.3;
	color: #333;
	cursor: default;
}
form .error-msg{
	margin:0.5em 0 0 0;
	color: #CD3333;
}

.alert {
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
}

.alert h4 {
	margin-top: 0;
	color: inherit;
}

.alert .alert-link {
	font-weight: bold;
}

.alert > p,
.alert > ul {
	margin-bottom: 0;
}

.alert > p + p {
	margin-top: 5px;
}

.alert-dismissable {
	padding-right: 35px;
}

.alert-dismissable .close {
	position: relative;
	top: -2px;
	right: -21px;
	color: inherit;
}

.alert-success {
	color: #3c763d;
	background-color: #dff0d8;
	border-color: #d6e9c6;
}

.alert-success hr {
	border-top-color: #c9e2b3;
}

.alert-success .alert-link {
	color: #2b542c;
}

.alert-info {
	color: #31708f;
	background-color: #d9edf7;
	border-color: #bce8f1;
}

.alert-info hr {
	border-top-color: #a6e1ec;
}

.alert-info .alert-link {
	color: #245269;
}

.alert-warning {
	color: #8a6d3b;
	background-color: #fcf8e3;
	border-color: #faebcc;
}

.alert-warning hr {
	border-top-color: #f7e1b5;
}

.alert-warning .alert-link {
	color: #66512c;
}

.alert-danger {
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
}

.alert-danger hr {
	border-top-color: #e4b9c0;
}

.alert-danger .alert-link {
	color: #843534;
}

.alert-close {
	float: right;
	font-size: 21px;
	font-weight: bold;
	line-height: 1;
	color: #000000;
	text-shadow: 0 1px 0 #ffffff;
	opacity: 0.2;
	filter: alpha(opacity=20);
}

.alert-close:hover,
.alert-close:focus {
	color: #000000;
	text-decoration: none;
	cursor: pointer;
	opacity: 0.5;
	filter: alpha(opacity=50);
}

button.alert-close {
	padding: 0;
	cursor: pointer;
	background: transparent;
	border: 0;
	-webkit-appearance: none;
}
.comment-dialog-content {
	position: relative;
}
#actionLookupModal {
    width: 1000px;
    top: 40px;
    left: -190px;
}
#updateCommentTable, #updateCommentTableInnerTable {
    table-layout: fixed;
}
#updateCommentTableInnerTable td{
    word-break: break-all;
}

.buttons input.edit-comment {
    background: transparent url(../../icons/comment_edit.png) 5px 50% no-repeat;
    padding-left: 28px;
}
.buttons input.delete-comment {
    background: transparent url(../../icons/comment_delete.png) 5px 50% no-repeat;
    padding-left: 28px;
}
.modal:focus {
	outline: none;  
}
.modal-dialog:focus {
	outline: none;  
}
.modal-content:focus {
	outline: none;  
}
.comment-buttons {
	white-space: normal;
}
.modal {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1055;
	display: none;
	overflow: auto;
	overflow-y: scroll;
}
.modal-content {
	position: relative;
	background-color: #ffffff;
	border: none;
	border-radius: 6px;
	outline: none;
	-webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
	box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
	background-clip: padding-box;
}

.modal-dialog-fullscreen{
	width:100% !important;
	height:100% !important;
	margin:0px !important;
}

.modal-body-fullscreen{
	height:85% !important;
}

.sourceCode-fullscreen{
	height:100% !important;
}

.CodeMirror-wrap-fullscreen{
	height:100% !important;
}

.modal-content-fullscreen{
	height:100% !important;
	margin:0px;
}

.modal-dialog {
	margin: 30px auto;
	position: relative;
	z-index: 1050;
}
