<span class="comment-buttons">
<a ng-if="(hasTasks=='tasks') && canViewTasks" ng-click="listBy('issue')" id="icon_task_{{assetId}}" title="Create Task or Show Tasks">
	<img ng-src="{{applyRootPath('/images/task_exists.png')}}" border="0px"/>
</a>
<a ng-if="(hasTasks=='noTasks') && canCreateTasks" ng-click="createCommentBy('issue')" id="icon_task_{{assetId}}" title="Create Task or Show Tasks">
	<img ng-src="{{applyRootPath('/assets/icons/table_add.png')}}" border="0px"/>
</a>
<a ng-if="(hasComments=='comments') && canViewComments" ng-click="listBy('comment')" id="icon_comment_{{assetId}}" title="Create Comment or Show Comments">
	<img ng-src="{{applyRootPath('/assets/icons/comment_exists.png')}}" border="0px"/>
</a>
<a ng-if="(hasComments=='noComments') && canCreateComments" ng-click="createCommentBy('comment')" id="icon_comment_{{assetId}}" title="Create Comment or Show Comments">
	<img ng-src="{{applyRootPath('/assets/icons/comment_add.png')}}" border="0px"/>
</a>
</span>