<div class="combo-group">
    <kendo-combobox #innerComboBoxGroup
                        [data]="data"
                        [(ngModel)]="model"
                        [textField]="'text'"
                        [valueField]="'id'"
                        [filterable]="true"
                        (filterChange)="onFilterChange($event)"
                        (valueChange)="onValueChange($event)"
                        [popupSettings]="{popupClass: 'combo-group-open'}"
                        name="comboGroup">
            <ng-template kendoComboBoxItemTemplate let-dataItem>
                <div *ngIf="dataItem.category === CATEGORY_BY_REFERENCE" >
                    <div class="combo-group-category" *ngIf="dataItem.index === 0">{{ dataItem.category }}</div>
                    <div class="combo-group-item">{{dataItem.text}}</div>
                </div>
                <div *ngIf="dataItem.category === CATEGORY_BY_TEAM" >
                    <div class="combo-group-category" *ngIf="dataItem.index === 0">{{ dataItem.category }}</div>
                    <div class="combo-group-item">{{dataItem.text}}</div>
                </div>
                <div *ngIf="dataItem.category === CATEGORY_BY_NAMED_STAFF" >
                    <div class="combo-group-category" *ngIf="dataItem.index === 0">{{ dataItem.category }}</div>
                    <div class="combo-group-item">{{dataItem.text}}</div>
                </div>
            </ng-template>
    </kendo-combobox>
    <label class="fixed"><input type="checkbox" [checked]="!!isFixed" [disabled]="!model || isTeamItemSelected()" (change)="onChangeFixed($event)" />Fixed</label>
</div>
