<div class="data-script-view-edit-component">
	<form
		role="form"
		data-toggle="validator"
		class="form-horizontal left-alignment"
	>
	<blockquote>
		<p>
			Congratulations! Your License request has been submitted
			successfully.
		</p>
		<p>
			The request has been sent to TDS for processing, and a
			license will be issued soon. The license key will be
			emailed to the email contact ({{requestLicenseModel?.email}})
			specified in the request. The email with the license
			key will contain the instructions for applying the
			license and unlocking all of the features of
			TransitionManager.
		</p>
		<p>
			The license process typically takes one (1) business day
			to complete.
		</p>
	</blockquote>
	</form>
</div>
