<div class="modal fade in"
     tds-handle-escape (escPressed)="cancelCloseDialog()"
     id="model-device-edit-component"
     data-backdrop="static"
     tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button (click)="cancelCloseDialog()" type="button" class="close" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">Edit Model</h4>
            </div>
            <div class="modal-body">
                <form name="editModelForm" role="form" class="form-horizontal left-alignment" #form="ngForm">
                    <div class="modal-body-container">
                        <div class="box-body">
                            <div class="form-group">
                                <div class="col-md-3">Manufacturer:</div>
                                <div class="col-md-3">
                                    <tds-combobox
                                            [(model)]="manufacturer"
                                            [serviceRequest]="searchManufacturers"
                                            [searchOnScroll]="false"
                                            [reloadOnOpen]="true"
                                            (valueChange)="onManufacturerValueChange($event)" >
                                    </tds-combobox>
                                </div>
                                <div class="col-md-3">Model Name:</div>
                                <div class="col-md-3">
                                    <input type="text" name="modelName" [(ngModel)]="model.modelName">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3">AKA:</div>
                                <div class="col-md-3">---</div>
                                <div class="col-md-3">Asset Type:</div>
                                <div class="col-md-3">---</div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3">Usize:</div>
                                <div class="col-md-3">---</div>
                                <div class="col-md-3">Dimensions (inches):</div>
                                <div class="col-md-3">---</div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3">Weight (pounds):</div>
                                <div class="col-md-3">
                                    <input type="text" name="modelName" [(ngModel)]="model.modelWeight">
                                </div>
                                <div class="col-md-3">Layout Style:</div>
                                <div class="col-md-3">
                                    <input type="text" name="layoutStyle" [(ngModel)]="model.layoutStyle">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3">Product Line:</div>
                                <div class="col-md-3">
                                    <input type="text" name="productLine" [(ngModel)]="model.productLine">
                                </div>
                                <div class="col-md-3">Model Family:</div>
                                <div class="col-md-3">
                                    <input type="text" name="modelFamily" [(ngModel)]="model.modelFamily">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3">End of Life Date:</div>
                                <div class="col-md-3">
                                    <input type="text" name="endOfLifeDate" [(ngModel)]="model.endOfLifeDate">
                                 </div>
                                <div class="col-md-3">End of Life Status:</div>
                                <div class="col-md-3">
                                    <input type="text" name="endOfLifeStatus" [(ngModel)]="model.endOfLifeStatus">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3">Power (Max/Design/Avg):</div>
                                <div class="col-md-3">---</div>
                                <div class="col-md-3">Notes:</div>
                                <div class="col-md-3">---</div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3">Room Object:</div>
                                <div class="col-md-3">---</div>
                                <div class="col-md-3"></div>
                                <div class="col-md-3"></div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3">Created by:</div>
                                <div class="col-md-3">---</div>
                                <div class="col-md-3">Source TDS:</div>
                                <div class="col-md-3">---</div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3">Updated by:</div>
                                <div class="col-md-3">---</div>
                                <div class="col-md-3">Source URL:</div>
                                <div class="col-md-3">
                                    <input type="text" name="sourceURL" [(ngModel)]="model.sourceURL">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3">Validated by:</div>
                                <div class="col-md-3">---</div>
                                <div class="col-md-3">Model Status:</div>
                                <div class="col-md-3">---</div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">Connectors:</div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary pull-left"><span
                        class="fa fa-fw fa-floppy-o"></span> Save
                </button>
                <button type="button" class="btn btn-default pull-right" (click)="cancelCloseDialog()">
                    <span class="glyphicon glyphicon-ban-circle"></span>
                    <span>Cancel</span>
                </button>
            </div>
        </div>
    </div>
</div>
