.notice-eula-html-content,
.notice-standard-html-content
  .notices-container
    max-height: 550px
    overflow: auto
  .standard-notice-card
    min-height: 100px
    font-size: 13px
    margin: 10px auto
    background-color: white
    border: 1px solid #ccc
    padding: 10px 14px 0 14px

  input[type='checkbox']
    cursor: pointer

  .agreement
    margin-bottom: 0

  .dontshow-again
    font-weight: normal

  .mandatory-container
    max-height: 450px
    overflow: auto

  form
    padding-left: 20px
    padding-right: 20px
  .html-container
    height: 200px
    overflow: auto
    margin-top: 15px
  .agreement-container
    display: flex
    margin-top: 20px
    input[type=checkbox]
      cursor: pointer
    label
      font-weight: normal
      margin-left: 5px


