.notice-eula-html-content,
.notice-standard-html-content
  form
    padding-left: 20px
    padding-right: 20px
  .html-container
    height: 200px
    overflow: auto
    margin-top: 15px
  .agreement-container
    display: flex
    margin-top: 20px
    input[type=checkbox]
      cursor: pointer
    label
      font-weight: normal
      margin-left: 5px

