.notice-edit-content
  .locked-container
    display: flex
    flex-direction: row
    justify-content: flex-end
    align-items: center
    label
      margin-right: 10px
    input
      cursor: pointer
  .k-dropdown
    span
      background-color: white
  .k-dropdown.ng-invalid
    span
      color: unset
      border: unset
  .required-field::after
    content: "*"
    color: $color-message-error--red
    margin-left: 4px

