.asset-explorer-view-grid-component
  .kendo-grid-toolbar__refresh-btn
    margin-top: unset!important

  .asset-detail-link
    font-weight: bold
    cursor: pointer

  .asset-tag.k-switch
    top: 5.6px !important

  .btnClear
    margin-right: 20px !important

  .btnReload
    padding-top: 7px

  .grid-message
    width: 60vw
    text-align: center
    label
      font-weight: normal

  .application
    .device, .database, .storage
      background-color: #f4f4f4

  .device
    .application, .database, .storage
      background-color: #f4f4f4

  .database
    .device, .application, .storage
      background-color: #f4f4f4

  .storage
    .device, .database, .application
      background-color: #f4f4f4

  .k-grid-content-locked, .k-grid-header-locked
    border-right-width: 5px
    border-right-color: #ebebeb

  .k-grid-header .k-header
    vertical-align: top

  .sortable-column
    width: 90%

  .text-delimited
    white-space: normal
    word-wrap: break-word
  .k-grid-toolbar
    display: flex
    justify-content: space-between

    .bulkchange-section,
    .filters-section
      display: flex
      align-items: center

    .filters-section
      justify-content: flex-end
      padding-right: 8px
      .component-action-reload
        margin-left: 12px
        cursor: pointer

    .bulkchange-section
      padding-left: 8px
      .just-planning
        margin-left: 12px
        display: flex
        align-items: center
        input
          position: relative
          margin: unset
          cursor: pointer
        label
          min-height: unset
          padding-left: unset
          font-weight: normal
          margin-bottom: unset
      .selected-assets
        margin-left: 12px
        display: flex
        align-items: baseline
        label
          font-weight: normal
          margin-bottom: unset
        .badge-light
          background-color: #fff
          color: #777
          margin-right: 5px
      .dropdown-menu
        .create-selected
          background-color: #e1e3e9

  .btn-between-space-5
    margin-right: 5px
