.model-device-show-component
  $initial-width: 320px
  .modal-dialog
    width: $initial-width
    .modal-content
      width: $initial-width
    .modal-body
      padding: 15px 20px
      .box-body
        padding: unset
      .row
        margin-bottom: 5px
    .modal-footer
      padding: 15px 20px
