section.page-asset-explorer-config
  .invalid-columns-selection
    color: $color-message-error--red
    font-weight: normal
  div.asset-view-title
    h3
      margin-top: 8px
      margin-right: 19px
  div.box-body
    padding: 0px
  div.nav-tabs-custom
    ul.nav-tabs
      li.active
        a
