<div tds-autofocus tds-handle-escape (escPressed)="cancelCloseDialog()" class="modal-content data-script-view-edit-component">
	<div class="modal-header">
		<button (click)="cancelCloseDialog()" type="button" class="close" aria-label="Close"><span aria-hidden="true">×</span></button>
		<h4 class="modal-title">{{ 'LICENSE.REQUEST_NEW_LICENSE' | translate }}</h4>
	</div>
	<div class="modal-body">
		<form name="licenseRequestForm" role="form" data-toggle="validator" #licenseRequestForm='ngForm' class="form-horizontal left-alignment">
			<div class="box-body">
				<div class="form-group">
					<label for="inputContactEmail" class="col-sm-3 control-label">Contact Email: <span style="color: red;">*</span></label>
					<div class="col-sm-9">
						<input type="email" name="inputContactEmail" id="inputContactEmail" class="form-control" placeholder="Contact Email" [(ngModel)]="requestLicense.email" email required>
					</div>
				</div>
				<div class="form-group">
					<label for="licenseEnvironment" class="col-sm-3 control-label">Environment: <span style="color: red;">*</span></label>
					<div class="col-sm-9">
						<kendo-dropdownlist #licenseEnvironment
							id="licenseEnvironment"
							name="licenseEnvironment"
							class="form-control"
							[data]="environmentList"
							[(ngModel)]="requestLicense.environment"
							required
							[ngClass]="{'has-error':  (licenseRequestForm.touched) && requestLicense.environment == 0}">
						</kendo-dropdownlist>
					</div>
				</div>
				<div class="form-group">
					<label for="licenseProject" class="col-sm-3 control-label">Project: <span style="color: red;">*</span></label>
					<div class="col-sm-9">
						<kendo-dropdownlist #licenseEnvironment
							id="licenseProject"
							name="licenseProject"
							class="form-control"
							[data]="projectList"
							[(ngModel)]="requestLicense.project"
							[textField]="'name'"
							[valueField]="'id'"
							(valueChange)="onProjectSelect($event)"
							required
							[ngClass]="{'has-error':  (licenseRequestForm.touched) && requestLicense.project == 0}">
						</kendo-dropdownlist>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">Client Name:</label>
					<div class="col-sm-9">
						<label class="control-label">{{requestLicense.clientName}}</label>
					</div>
				</div>
				<div class="form-group">
					<label for="selectSpecialInstructions" class="col-sm-12 control-label">Special Instructions and/or PO# reference:</label>
				</div>
				<div class="form-group">
					<div class="col-sm-12">
						<textarea id="selectSpecialInstructions" class="form-control" rows="3" placeholder="" ng-model="requestLicense.specialInstruction"></textarea>
					</div>
				</div>
			</div><!-- /.box-body -->
		</form>
	</div>
	<div class="modal-footer form-group-center">
		<button type="button" (click)="onCreateRequestLicense()" class="btn btn-primary pull-left" [disabled]="!licenseRequestForm.form.valid">
			<span class="glyphicon glyphicon-share-alt"></span> Submit Request
		</button>
		<button (click)="cancelCloseDialog()" type="button" class="btn btn-default pull-right">
			<span class="glyphicon glyphicon-ban-circle"></span>
			<span>{{'GLOBAL.CANCEL' | translate }}</span>
		</button>
	</div>
</div>