/* This will be only used to override buttons elements in certain dialogs */
div.ui-dialog-content
  div.buttons
    .btn.btn-default
      margin-left: 10px
      font-weight: 600
      padding-right: 21px
      img
        border: 0px
        margin-right: 5px
    a.btn.btn-default
      height: 34px
      input[type='button']
        margin-top: 0px
