div.content-wrapper
  div.container
    .body
      table.admin-home
        border-spacing: 2px
        border-collapse: initial

h1.table-clarity-header
  margin-right: 0px
  font-family: 'Roboto', Metropolis, 'Avenir Next', 'Helvetica Neue', Arial, sans-serif, 'Glyphicons Halflings', FontAwesome, 'WebComponentsIcons' !important
  font-weight: 200
  line-height: 2rem
  font-size: x-large
  color: #000
  letter-spacing: normal