/* Overwrites the color on the angular css for the Orange */
/* The color base for the manager color is Burnt Orange */
$baseOrangeColor: #BF5700;

$grey: #ddd;
$c_grey2: #ebebeb;
$c_grey3: #F4F4F4;
$darkgray: darkgray;

$white: #fff;
$c_white1: #f7f7f7;
$c_white2: #fafafa;

$black: #000;
$c_black2: #333;
$c_black3: #444;

$fontDisabledGray: #ccc;
$c_menuSelected: #e1e3e9;
$red: red;
$c_red2: #CD3333;
$urlElement: #2C61AA;


// KENDO MATERIAL BASE COLORS
$border-color_orange: #BC6013;
$material_c_blue2: $baseOrangeColor;
$material_c_blue3: #783600; /*KENDO DATE */
$material_c_blue1_action_toolbar_btn: #783600;
$material_c_blue1_header_text: #4D2300;

/* Alert MSG */
$info_c_blue: #5f9fcf;
$messageError: red;

/* Prelogin Message */
$warning: #c87f0a;
$warningLicense: #FFCC00;

// Header
header.main-header {
  nav.navbar {
    background-color: $baseOrangeColor !important;
  }
}

div.content-wrapper {
  div.container {
    tds-app {
      div.content {
        section {
          // Kendo Grid
          kendo-grid {
            kendo-grid-toolbar {
              border-color: $border-color_orange;
              background-color: $border-color_orange;
            }
          }
          kendo-pager {
            kendo-pager-numeric-buttons {
              li {
                a.k-state-selected {
                  background-color: $border-color_orange
                }
              }
            }
          }
        }
      }
    }
  }
}
// Dialog
div.modal-dialog {
  div.modal-content {
    div.modal-header {
      border-color: $border-color_orange !important;
      background-color: $border-color_orange !important;
    }
    button.btn-primary {
      border-color: $border-color_orange;
      background-color: $border-color_orange;
    }
  }
}