/* Cookbook */
.taskGeneration
  .container-fluid
    padding-left: 0px
  .tm-asset-tag-selector-container
    width: 350px
    label
      display: block
  .settings-container
    padding-top: 28px
  .settings-container.recipe-editor
    height: 82px
    padding-top: 23px