/* Cookbook */
.taskGeneration
  .task-generation-container
    .col-md-3
      max-width: 366px
      label
        min-width: 45px
      select
        max-width: 280px
        min-width: 280px
      .asset-tag-selector-component
        max-width: 350px
        .k-multiselect
          width: 263px
    .tm-asset-tag-selector-container
      vertical-align: top
      text-align: right
      label
        vertical-align: top
        padding-top: 6px
        padding-right: 2px

