<!-- Main content -->
<div class="content body tds-kendo-grid api-action-list-component">
	<section>
		<div *ngIf="dependenciesColumnModel">
			<div class="box-body box-with-empty-header">
				<kendo-grid
						[data]="gridData"
						[sort]="state.sort"
						[skip]="state.skip"
						[pageSize]="state.take"
						[sortable]="{mode:'single'}"
						[resizable]="true"
						[pageable]="{ pageSizes: maxOptions, info: true}"
						(dataStateChange)="dataStateChange($event)"
						[selectable]="true">

					<kendo-grid-column *ngFor="let column of dependenciesColumnModel.columns" field="{{column.property}}"
					                   format="{{column.format}}"
					                   [locked]="column.locked"
					                   [width]="!column.width ? COLUMN_MIN_WIDTH : column.width">

						<ng-template kendoGridHeaderTemplate>
							<div class="sortable-column" (click)="onClickTemplate($event)">
								<label [ngClass]="{'action-header':column.type === 'action'}"> {{column.label}}</label>
							</div>
						</ng-template>

						<ng-template kendoGridCellTemplate *ngIf="column.type === 'action'" let-dataItem>
							<div class="text-center">
								<button class="btn btn-default" (click)="onEdit(dataItem)">
									<span class="glyphicon glyphicon-pencil"></span>
								</button>
								<button class="btn btn-default" (click)="onDelete(dataItem)">
									<span class="fa fa-fw fa-trash"></span>
								</button>
							</div>
						</ng-template>
					</kendo-grid-column>

					<!-- Pagination Footer -->
					<ng-template kendoPagerTemplate let-totalPages="totalPages" let-pageSize="pageSize" let-currentPage="currentPage">
						<kendo-pager-prev-buttons></kendo-pager-prev-buttons>
						<kendo-pager-next-buttons></kendo-pager-next-buttons>
						<kendo-pager-page-sizes [pageSizes]="maxOptions"></kendo-pager-page-sizes>
						<kendo-pager-info></kendo-pager-info>
					</ng-template>

				</kendo-grid>
			</div>
		</div>
	</section>
</div>
