<!-- Main content -->
<div class="content body tds-kendo-grid api-action-list-component">
	<section>
		<div *ngIf="dependenciesColumnModel">
			<div class="box-body box-with-empty-header">
				<kendo-grid
						[data]="gridData"
						[sort]="state.sort"
						[skip]="state.skip"
						[pageSize]="state.take"
						[sortable]="{mode:'single'}"
						[resizable]="true"
						[pageable]="{ pageSizes: maxOptions, info: true}"
						(dataStateChange)="dataStateChange($event)"
						[selectable]="true">

					<!-- Select All column -->
					<kendo-grid-column [width]="55" [filterable]="false">
						<ng-template kendoGridHeaderTemplate>
							<div>
							</div>
							<!--
							<div class="row">
								<div class="col-md-12 text-center">
									<tds-checkbox name="assetsSelector"
									              [hasThirdState]="true"
									              (changeState)="onChangeBulkCheckbox($event)"
									              id="assetSelector"
									              [setStateSubject]="bulkCheckboxService.setStateSubject"></tds-checkbox>
								</div>
							</div>
							-->
						</ng-template>

						<ng-template kendoGridCellTemplate let-dataItem>
							<label class="selectall-checkbox-column text-center">
								<input type="checkbox" />
							</label>
						</ng-template>
					</kendo-grid-column>

					<kendo-grid-column *ngFor="let column of dependenciesColumnModel.columns" field="{{column.property}}"
					                   format="{{column.format}}"
					                   [locked]="column.locked"
					                   [width]="!column.width ? COLUMN_MIN_WIDTH : column.width">
						<ng-template kendoGridHeaderTemplate>
							<div class="sortable-column" (click)="onClickTemplate($event)">
								<label [ngClass]="{'action-header':column.type === 'action'}">{{column.label}}</label>
							</div>
						</ng-template>
					</kendo-grid-column>

					<!-- Pagination Footer -->
					<ng-template kendoPagerTemplate let-totalPages="totalPages" let-pageSize="pageSize" let-currentPage="currentPage">
						<kendo-pager-prev-buttons></kendo-pager-prev-buttons>
						<kendo-pager-next-buttons></kendo-pager-next-buttons>
						<kendo-pager-page-sizes [pageSizes]="maxOptions"></kendo-pager-page-sizes>
						<kendo-pager-info></kendo-pager-info>
					</ng-template>

				</kendo-grid>
			</div>
		</div>
	</section>
</div>
