<div class="container task-category-component" *ngIf="taskCategories.hasInfo">
    <div class="row">
        <div class="col-lg-2">
            <div class="row" *ngFor="let row of taskCategories.tasks; let rowIndex = index;" >
                <div class="category-description category-name{{rowIndex === 0 ? '-first' : ''}}">{{categories[rowIndex]}}</div>
            </div>
        </div>
        <div class="col-lg-7 category-container" (scroll)="handleScroll($event)" #categoryContainer>
            <div class="row" *ngFor="let row of taskCategories.tasks; let rowIndex = index;" >
                    <div class="col-md-10">
                        <div class="row">
                            <div *ngFor="let column of row;"
                                    class="col-md-{{colSize}} category-column {{column.classes}}"
                                    [ngClass]="{'heading': rowIndex === RowType.Header}"
                                    [style.background-color]="rowIndex === RowType.Percents && column.compose ? column.compose.color : ''">
                                    <a *ngIf="rowIndex === RowType.Header; else categoryValue"
                                       [routerLink]="['/taskManager', 'list']"
                                       [queryParams]="{category: column.text, justRemaining: 0}">
                                        <span [innerHtml]="column.text"></span>
                                    </a>

                                    <ng-template #categoryValue>
                                        <div *ngIf="rowIndex === RowType.Tasks && column.compose; else simpleValue">
                                            <a [routerLink]="['/taskManager', 'list']"
                                                [queryParams]="{category: column.compose.category, justRemaining: 0}">
                                                <span [innerHtml]="column.compose.completedTasks + ' of ' + column.compose.totalTasks "></span>
                                            </a>
                                        </div>
                                    </ng-template>

                                    <ng-template #simpleValue>
                                        <div *ngIf="rowIndex  <= RowType.Tasks; else dateValue">
                                            <span [innerHtml]="column.text"></span>
                                        </div>
                                   </ng-template>

                                    <ng-template #dateValue>
                                        <span>{{column.text | tdsDateTime: userTimeZone: dateTimeFormat}}</span>
                                    </ng-template>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
        <div class="col-lg-offset-2"></div>
    </div>
</div>