.k-grid {

  .k-grid-header-wrap, .k-grid-header-locked, .k-filter-row > td {
    background: #d9e4ea; //$color-head in component library
  }

  .k-header {
    margin-top: 0;
    vertical-align: middle;

    .sortable-column {
      display: inline-block;
      cursor: pointer;
      label {
        cursor: pointer;
        font-weight: inherit;
      }
    }
  }

  .grid-filter-button {
    .badge.badge-warning {
      position: absolute;
      top: -3px;
    }
  }

  tds-grid-pager {
    .grid-paging {
      font-size: 11px;
      font-weight: 400;
    }
  }
}
