$font-size: 13px
$accent: $color-material--blue1
$table-header-title-color: #18394B

.table-container
  display: flex
  align-items: center
  justify-content: space-between
  .table-title
    color: $table-header-title-color
    font-weight: bold
    font-size: 14px
    line-height: 24px
    margin-bottom: 0
