<kendo-grid>
	<kendo-grid-column [sortable]="{mode:'multiple'}"  *ngFor="let column of model.columns" [locked]="column.locked" field="{{column.domain}}.{{column.property}}"
	[width]="column.width">
		<ng-template kendoGridHeaderTemplate>
			<div>
				<label for=""> {{column.label}}</label>
			</div>
			<div class=" has-feedback" style="margin-bottom:0px;">
				<input type="text" class="form-control" name="{{column.domain}}.{{column.property}}" [(ngModel)]="column.filter" placeholder="Default Filter"
				 value="">
				<span style="cursor:pointer;color:#656565;pointer-events:all" class="fa fa-times form-control-feedback" aria-hidden="true"></span>
			</div>
		</ng-template>
	</kendo-grid-column>
</kendo-grid>