<tds-ui-floating-header-k-grid></tds-ui-floating-header-k-grid>

<kendo-grid class="tds-kendo-grid without-selectabe-rows asset-explorer-view-grid-component" #kendoGridComponent="kendoGrid" [filterable]="true" [sortable]="{ mode:'single' }" [data]="gridData" [skip]="state.skip" [sort]="state.sort"
 [pageSize]="state.take" [resizable]="true" [pageable]="{ pageSizes: maxOptions, info: true}" (dataStateChange)="dataStateChange($event)"
 (columnResize)="onWidthChange($event)" (pageChange)="clearSelectAll()" (cellClick)="cellClick($event)" [rowClass]="rowCallbackClass">

    <!-- Header Toolbar -->
    <ng-template kendoGridToolbarTemplate [position]="'top'">
		<div class="col-sm-6">
			<div class="checkbox pull-left">
				<label>
					<input type="checkbox" (change)="onChangeJustPlanning($event.currentTarget.checked)" [(ngModel)]="justPlanning" name="justPlanning"> Just Planning</label>
			</div>
			<tds-bulk-change-button [selectedItems]="checkboxHelper.getBulkSelectedItems()" (operationResult)="onBulkOperationResult($event)"></tds-bulk-change-button>
		</div>
	    <div class="col-sm-6">
		    <div (click)="onReload()" class="kendo-grid-toolbar__refresh-btn btnReload">
			    <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
		    </div>
		    <div class="kendo-grid-toolbar__refresh-btn btnClear">
			    <button type="button" class="btn btn-default" id="btnClear" [disabled]="!hasFilterApplied()" (click)="onClearFilters()">
				    <i class="fa fa-fw fa-times"></i> {{'GLOBAL.CLEAR_FILTERS' | translate}}</button>
		    </div>
	    </div>
	</ng-template>

    <!-- Select All column -->
    <kendo-grid-column title="" [locked]="true" [filterable]="false" [width]="55">
		<ng-template kendoGridHeaderTemplate>
			<div class="row">
				<div class="col-md-12 text-center">
					<tds-checkbox name="assetsSelector" [hasThirdState]="true" (changeState)="onChangeAssetsSelector($event)" [overrideState]="overrideCheckboxState"></tds-checkbox>
				</div>
			</div>
		</ng-template>
		<ng-template kendoGridCellTemplate let-dataItem>
            <label class="selectall-checkbox-column text-center">
	            <input type="checkbox" [checked]="checkboxHelper.getValueBulkItem(dataItem.common_id)" (change)="setSelectedItem(dataItem.common_id, $event.target.checked)" name="checkbox_{{dataItem.common_id}}">
            </label>
			<!--<div class="row">-->
				<!--<div class="col-md-12 text-center">-->
					<!--<div class="checkbox checkbox-grid">-->

					<!--</div>-->
				<!--</div>-->
			<!--</div>-->
		</ng-template>
	</kendo-grid-column>

    <!-- Configured View Columns (*ngFor) -->
	<kendo-grid-column *ngFor="let column of model.columns; let i = index" [locked]="column.locked" field="{{column.domain}}_{{column.property}}"
	 [minResizableWidth]="VIEW_COLUMN_MIN_WIDTH" [width]="column.width" [class]="column.domain">
		<ng-template kendoGridHeaderTemplate>
			<div class="sortable-column" (click)="onClickTemplate($event)">
				<div [ngClass]="{'field-not-found': column?.notFound }">
					<label for=""> {{getPropertyLabel(column)}} <i class="fa fa-fw fa-warning" style="display: none;" attr.data-content="{{ 'FIELD_SETTINGS.FIELD_NOT_LONGER_EXIST_ON_DOMAIN' | translate}} {{column.domain}} ({{column.property}})" data-toggle="popover" data-trigger="hover"></i> </label>
				</div>
			</div>
		</ng-template>

        <!-- Default Generic Filter Template -->
        <ng-template kendoGridFilterCellTemplate *ngIf="column.property !== 'tagAssets'">
            <div class=" has-feedback" style="margin-bottom:0px;">
                <input type="text" class="form-control" name="{{column.domain}}.{{column.property}}" placeholder="Filter" value="" tabindex="{{i+1}}"
                       [(ngModel)]="column.filter"  (keyup)="onFilterKeyUp($event, column)" (keydown)="onFilterKeyDown($event)">
                <span *ngIf="column.filter" (click)="clearText(column)" style="cursor:pointer;color:#656565;pointer-events:all" class="fa fa-times form-control-feedback"
                      aria-hidden="true"></span>
            </div>
        </ng-template>
        <!-- Asset Tags Filter Template -->
        <ng-template kendoGridFilterCellTemplate *ngIf="column.property === 'tagAssets'">
            <tds-asset-tag-selector #tagSelector
                                    [tagList]="metadata.tagList"
                                    [viewFilterModel]="column.filter"
                                    (valueChange)="onTagFilterChange(column, $event)">
            </tds-asset-tag-selector>
        </ng-template>

        <!-- Default Generic Cell Template -->
        <ng-template kendoGridCellTemplate let-dataItem *ngIf="column.property !== 'tagAssets'">
           <span [ngClass]="getCellClass(column)">
               {{dataItem[column.domain+'_'+column.property]}}
           </span>
        </ng-template>
        <!-- Asset Tags Cell Template -->
        <ng-template kendoGridCellTemplate let-dataItem *ngIf="column.property === 'tagAssets'">
            <div>
               <span *ngFor="let tag of dataItem[column.domain+'_'+column.property]" class="label tag" style="display: inline-block"
                     [ngClass]="tag.css">{{tag.name}}</span>
            </div>
        </ng-template>

    </kendo-grid-column>

    <!-- No Records -->
	<ng-template kendoGridNoRecordsTemplate>
	</ng-template>

    <!-- Pagination Footer -->
    <ng-template kendoPagerTemplate let-totalPages="totalPages" let-pageSize="pageSize" let-currentPage="currentPage">
		<kendo-pager-prev-buttons></kendo-pager-prev-buttons>
		<kendo-pager-next-buttons></kendo-pager-next-buttons>
		<kendo-pager-page-sizes [pageSizes]="maxOptions"></kendo-pager-page-sizes>
		<div *ngIf="showMessage" class="grid-message">
			<label>{{ gridMessage | translate }}</label>
		</div>
		<kendo-pager-info></kendo-pager-info>
	</ng-template>
</kendo-grid>
