<div class="content body">
	<section>
		<div>
			<div class="box-body box-with-empty-header">
				<div class="error-page">
					<h2 class="headline text-red"><span class="fa fa-fw fa-chain-broken"></span></h2>
					<div class="error-content">
						<h3><i class="fa fa-warning text-red"></i> {{'PAGES.NOT_FOUND_TITLE' | translate}}</h3>
						<p style="font-size:15px;">
							{{ 'PAGES.NOT_FOUND_MESSAGE' | translate }} Meanwhile, <a href="/tdstm">click here</a> to return.
						</p>
						<hr>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>