<div class="datetime-modal-component">
	<form id="userTimezoneForm">
		<div class="filters">
			<div class="clr-row">
				<div class="clr-col-6 clr-displ">
					<label>Time Zone:</label>
					<kendo-combobox
							name="timezone"
							[data]="timezonesList"
							[(ngModel)]="selectedTimezone"
							[valueField]="'code'"
							[textField]="'label'"
							(valueChange)="onTimezoneSelected($event)"
							[virtual]="virtualizationSettings"
							[style.display]="'inline-block'"
							#timezoneCombobox>
					</kendo-combobox>
				</div>
				<div class="clr-col-6">
					<label *ngIf="!shouldReturnData">
						{{ 'GLOBAL.DATE_FORMAT' | translate }}:
					</label>
					<kendo-dropdownlist
							*ngIf="!shouldReturnData"
							id="dateTimeFormat"
							name="dateTimeFormat"
							[(ngModel)]="selectedTimeFormat"
							[data]="timeFormatList"
					>
					</kendo-dropdownlist>
				</div>
			</div>
		</div>

		<map name="timezoneMap" id="timezoneMap">
			<div *ngFor="let area of mapAreaList">
				<area
					*ngFor="let poly of area.polys"
					[attr.data-timezone]="area['name']"
					[attr.data-country]="area['country']"
					[attr.data-pin]="area['pin']?.join(',')"
					[attr.data-offset]="area['offset']"
					shape="poly"
					coords="{{ poly?.join(',') }}"
				/>
				<area
					*ngFor="let rect of area.rects"
					[attr.data-timezone]="area['name']"
					[attr.data-country]="area['country']"
					[attr.data-pin]="area['pin']?.join(',')"
					[attr.data-offset]="area['offset']"
					shape="rect"
					coords="{{ rect?.join(',') }}"
				/>
			</div>
		</map>

		<img
			id="timezoneImage"
			src="/tdstm/assets/images/world_map_800.jpg"
			width="800"
			height="400"
			usemap="#timezoneMap"
		/>
		<img
			class="timezone-pin"
			src="/tdstm/assets/images/pin.png"
			style="padding-top: 4px;"
			[ngClass]="{ 'timezone-pin-hidden': !timezonePinShow }"
		/>
	</form>
</div>
