<div
	tds-autofocus
	tds-handle-escape
	(escPressed)="cancelCloseDialog()"
	id="datetime-modal"
	class="modal fade in datetime-modal-component"
>
	<div
		class="modal-dialog tds-modal-content has-side-nav modal-lg"
		role="document"
		style="width: fit-content; padding-bottom: 24px"
	>
		<div class="tds-modal-content" tds-ui-modal-decorator="">
			<div class="modal-header">
				<button (click)="cancelCloseDialog()" type="button" class="close" aria-label="Close">
					<clr-icon aria-hidden="true" shape="close"></clr-icon>
				</button>
				<h4 class="modal-title">
					<div *ngIf="!shouldReturnData">
						{{ 'GLOBAL.DATE_TIMEZONE' | translate }}
					</div>
					<div *ngIf="shouldReturnData">
						{{ 'GLOBAL.TIMEZONE' | translate }}
					</div>
				</h4>
			</div>
			<div class="modal-body">
				<form id="userTimezoneForm">
					<div class="filters">
						<label>Time Zone:</label>
						<kendo-dropdownlist
							id="dateTimezone"
							name="timezone"
							[(ngModel)]="selectedTimezone"
							[data]="timezonesList"
							[textField]="'label'"
							[valueField]="'code'"
							(valueChange)="onTimezoneSelected($event)"
						>
						</kendo-dropdownlist>
						<label *ngIf="!shouldReturnData">
							{{ 'GLOBAL.DATE_FORMAT' | translate }}:
						</label>
						<kendo-dropdownlist
							*ngIf="!shouldReturnData"
							id="dateTimeFormat"
							name="dateTimeFormat"
							[(ngModel)]="selectedTimeFormat"
							[data]="timeFormatList"
						>
						</kendo-dropdownlist>
					</div>

					<map name="timezoneMap" id="timezoneMap">
						<div *ngFor="let area of mapAreaList">
							<area
								*ngFor="let poly of area.polys"
								[attr.data-timezone]="area['name']"
								[attr.data-country]="area['country']"
								[attr.data-pin]="area['pin']?.join(',')"
								[attr.data-offset]="area['offset']"
								shape="poly"
								coords="{{ poly?.join(',') }}"
							/>
							<area
								*ngFor="let rect of area.rects"
								[attr.data-timezone]="area['name']"
								[attr.data-country]="area['country']"
								[attr.data-pin]="area['pin']?.join(',')"
								[attr.data-offset]="area['offset']"
								shape="rect"
								coords="{{ rect?.join(',') }}"
							/>
						</div>
					</map>

					<img
						id="timezoneImage"
						src="/tdstm/assets/images/world_map_800.jpg"
						width="800"
						height="400"
						usemap="#timezoneMap"
					/>
					<img
						class="timezone-pin"
						src="/tdstm/assets/images/pin.png"
						style="padding-top: 4px;"
						[ngClass]="{ 'timezone-pin-hidden': !timezonePinShow }"
					/>
				</form>
			</div>
			<div class="modal-sidenav btn-link">
				<tds-button-save
					(click)="onSave()"
					[type]="'button'"
					[tooltip]="'GLOBAL.SAVE' | translate"
				></tds-button-save>

				<tds-button-cancel
					(click)="cancelCloseDialog()"
					[type]="'button'"
					[tooltip]="'GLOBAL.CLOSE' | translate"
				></tds-button-cancel>
			</div>
		</div>
	</div>
</div>
