div.alert.animateShow
    text-align: left
    h4
        font-size: 15px !important
        font-weight: bold !important
        i.icon
            margin-right: 0px

div.alert-message-text
    padding-top: 3px
    float: left
    margin-left: 12px

div.alert-message-icon
    float: left

div.alert.alert-success
    background-color: $color-success--blue !important
    border-color: $color-info--blue !important

div.alert.alert-danger
    background-color: $color-danger--red !important