tds-ui-dialog {
	#tdsUiDialog {
		padding: 0 !important;
		margin: 0;
		.modal-dialog {
			background: $color-text-inverse;
			position: fixed !important;
			top: 45px !important;
			left: 0 !important;
			right: 0 !important;
			bottom: 0 !important;
			overflow: hidden !important;
			width: unset !important;
			padding-left: 40px !important;
			.modal-header {
			}
			.modal-body {
				max-height: calc(100vh - 119px);
				height: calc(100vh - 119px);
				width: calc(100vw - 55px);
				padding:15px 15px 24px 15px;

				.tdr-detail-list {
					border-collapse: collapse;
					width: 100%;
					tr {
						border: 1px solid $color-border;
						border-width: 0 0 1px 0;
						line-height: 16px;
						th {
							text-align: right;
							background-color: transparent;
							font-size: 14px;
							color: $color-active-dark3;
							width: 20%;
							min-width: 100px;
							text-overflow: ellipsis;
						}

						td {
							font-size: 14px;
							color: $color--black;
						}
					}
					&:not(.all-details) {
						tr{
							display: none;
						}
						tr:not(.nodata):nth-child(-n+16){
							display:block;
						}
					}
					

				}
			}
			.modal-sidenav {
				position: absolute;
				top: 0;
				width: 40px;
				bottom: 0;
				left: 0;
				padding-top: 24px;
				border: solid 1px $color-border;
				border-width: 0 1px 0 0;
				.btn {
					color: $color-icon;
				}
				.button-label {
					display: none;
				}
			}
		}
	}
	.close {
		opacity: 1;
		.btn {
			color: $color-icon;
		}
		.button-label {
			display: none;
		}
	}
}

.tds-modal-content {
	background: $color-text-inverse;
	.modal-header {
		padding: 24px;
		.modal-title {
			font-style: normal;
			font-weight: 500;
			font-size: 22px;
			line-height: 26px;
		}
	}
}
