.data-script-etl-builder-component
  overflow-y: hidden!important
  .modal-dialog
    .resizable
      resize: both
      overflow: auto
      min-width: 250px
      min-height: 300px
      max-width: 2000px
      max-height: 2000px
      width: 1055px
      height: 600px

  .btn-resize
    font-size: 14px
  hr
    margin: 10px 0px 10px 0px
  .modal-body h4
    margin-top: 0px
  .modal-body
    height: 600px
