data-script-etl-builder
  overflow-y: hidden!important
  .modal-dialog
    width: 100%
    display: flex
    align-items: center
    .resizable
      resize: both
      overflow: auto
      min-width: 1120px
      min-height: 600px
      position: absolute
      margin: auto
      left: 0
      top: 0
      right: 0
    .sample-preview
      margin: 10px auto

  .btn-resize
    font-size: 14px
  hr
    margin: 10px 0px 10px 0px
  .modal-body h4
    margin-top: 0px
  .modal-body
    padding: 0
    .modal-body-container
      margin: 10px 15px 20px

  .data-preview
    label
      margin-bottom: 0px
      width: 100%
      cursor: pointer

    button i
      padding-right: 0px !important