div.data-script-console-component
	overflow-y: hidden!important
	.modal-dialog
		width: 100%
		display: flex
		align-items: center
	.resizable
	  min-width: 580px
	  min-height: 680px
	textarea.console
		color: white
		background-color: #000
		resize: none
		width: 100%
		height: 100%

