div.data-script-console-component
  textarea.console
    color: white
    background-color: #000
  textarea.console[disabled]
    cursor: auto
  div.ui-resizable-se.ui-icon
    width: 14px
    height: 12px
    right: 25px
    bottom: 20px