.data-script-etl-builder-component
  overflow-y: hidden!important
  .modal-dialog
    display: flex
    align-items: center
    justify-content: center
    width: 100%
    .resizable
      resize: both
      overflow: auto
      min-width: 1120px
      min-height: 600px
      max-width: 2500px
      max-height: 3000px
      width: 1120px
      height: 600px

  .btn-resize
    font-size: 14px
  hr
    margin: 10px 0px 10px 0px
  .modal-body h4
    margin-top: 0px
  .modal-body
    height: 600px
