<div class="login-component forgot-password-component">
    <div class="login-box">

        <div class="login-box-body">
            <div class="login-logo">
                <a href="http://www.transitionaldata.com/service/transitionmanager" target="new">
                    <img src="/tdstm/assets/images/TMLoginLogo_v4.7.png" border="0" alt="Learn more about TransitionManager">
                </a>
            </div>

            <div *ngIf="!passwordSent; else passwordSentTemplate">
                <h1 class="login-box-msg">{{'LOGIN.PASSWORD_ASSISTANT' | translate}}</h1>

                <form name="forgotPasswordForm">
                    <p>{{'LOGIN.WE_WILL_SEND_EMAIL' | translate}}</p>
                    <div class="form-group has-feedback">
                        <input type="email" class="form-control" name="email" [(ngModel)]="email" placeholder="Enter your email address" title="Enter your email address" value="">
                        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                        <span class="error-msg">{{error}}</span>
                    </div>

                    <div class="row">
                        <div class="col-xs-8">
                        </div>
                        <!-- /.col -->
                        <div class="col-xs-4">
                            <button type="button" class="btn btn-primary btn-block btn-flat" (click)="onSendEmail()">{{'LOGIN.SEND' | translate}}</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>

                <a  [routerLink]="['/auth','login']" class="light back-to-login" [ngClass]="{'center': passwordSent}">{{'LOGIN.BACK_TO_LOGIN' | translate}}</a>
            </div>

            <ng-template #passwordSentTemplate>
                <h2 class="emailStatus">{{'LOGIN.CHECK_YOUR_EMAIL' | translate}}</h2>
                <p class="instructions">{{'LOGIN.THANKS_FOR_REQUEST' | translate}}</p>
                <div class="centered">
                    <a [routerLink]="['/auth','login']" class="light back-to-login">{{'LOGIN.BACK_TO_LOGIN' | translate}}</a>
                </div>
            </ng-template>

        </div>
        <!-- /.login-box-body -->
    </div>
</div>