<div
	tds-autofocus
	tds-handle-escape
	(escPressed)="cancelCloseDialog()"
	class="tds-modal-content data-script-view-edit-component"
>
	<div class="modal-header">
		<tds-button-custom
			class="close"
			[icon]="'close'"
			(click)="cancelCloseDialog()"
			[displayLabel]="false"
			[flat]="true"
		></tds-button-custom>
		<div class="modal-title-container">
			<div class="modal-title">
				{{ 'LICENSE.REQUEST_NEW_LICENSE' | translate }}
			</div>
		</div>
	</div>
	<div class="modal-body">
		<form
			name="licenseRequestForm"
			role="form"
			data-toggle="validator"
			#licenseRequestForm="ngForm"
			class="form-horizontal left-alignment"
		>
			<div class="box-body">
				<div class="form-group">
					<label
						for="inputContactEmail"
						class="col-sm-3 control-label"
						>Contact Email:
						<span style="color: red;">*</span></label
					>
					<div class="col-sm-9">
						<input
							clrInput
							type="email"
							name="inputContactEmail"
							id="inputContactEmail"
							class="form-control"
							placeholder="Contact Email"
							[(ngModel)]="requestLicense.email"
							email
							required
						/>
					</div>
				</div>
				<div class="form-group">
					<label
						for="licenseEnvironment"
						class="col-sm-3 control-label"
						>Environment: <span style="color: red;">*</span></label
					>
					<div class="col-sm-9">
						<kendo-dropdownlist
							#licenseEnvironment
							id="licenseEnvironment"
							name="licenseEnvironment"
							class="form-control"
							[data]="environmentList"
							[(ngModel)]="requestLicense.environment"
							required
							[ngClass]="{
								'has-error':
									licenseRequestForm.touched &&
									requestLicense.environment == 0
							}"
						>
						</kendo-dropdownlist>
					</div>
				</div>
				<div class="form-group">
					<label for="licenseProject" class="col-sm-3 control-label"
						>Project: <span style="color: red;">*</span></label
					>
					<div class="col-sm-9">
						<kendo-dropdownlist
							#licenseEnvironment
							id="licenseProject"
							name="licenseProject"
							class="form-control"
							[data]="projectList"
							[(ngModel)]="requestLicense.project"
							[textField]="'name'"
							[valueField]="'id'"
							(valueChange)="onProjectSelect($event)"
							required
							[ngClass]="{
								'has-error':
									licenseRequestForm.touched &&
									requestLicense.project == 0
							}"
						>
						</kendo-dropdownlist>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">Client Name:</label>
					<div class="col-sm-9">
						<label class="control-label">{{
							requestLicense.clientName
						}}</label>
					</div>
				</div>
				<div class="form-group">
					<label
						for="selectSpecialInstructions"
						class="col-sm-12 control-label"
						>Special Instructions and/or PO# reference:</label
					>
				</div>
				<div class="form-group">
					<div class="col-sm-12">
						<textarea
							clrTextarea
							id="selectSpecialInstructions"
							class="form-control"
							rows="3"
							placeholder=""
							name="specialInstructions"
							[(ngModel)]="requestLicense.specialInstruction"
						></textarea>
					</div>
				</div>
			</div>
		</form>
	</div>
	<div class="modal-footer content-end">
		<button
			type="button"
			(click)="onCreateRequestLicense()"
			class="btn btn-primary btn-sm"
			[disabled]="!licenseRequestForm.form.valid"
		>
			<span class="glyphicon glyphicon-share-alt"></span> Submit Request
		</button>
	</div>
</div>
