<div class="data-script-view-edit-component" tdsPreventEsc>
	<form
		name="licenseRequestForm"
		role="form"
		data-toggle="validator"
		#licenseRequestForm="ngForm"
		class="form-horizontal left-alignment"
	>

		<div class="form-group">
			<label
				for="inputContactEmail"
				class="col-sm-3 control-label"
				>Contact Email:
				<span style="color: red;">*</span></label
			>
			<div class="col-sm-9 input-section">
				<input
					clrInput
					type="email"
					name="inputContactEmail"
					id="inputContactEmail"
					class="form-control"
					placeholder="Contact Email"
					[(ngModel)]="requestLicense.email"
					email
					required
					#contactEmailInput
				/>
			</div>
		</div>
		<div class="form-group">
			<label
				for="licenseEnvironment"
				class="col-sm-3 control-label"
				>Environment: <span style="color: red;">*</span></label
			>
			<div class="col-sm-9 input-section">
				<kendo-dropdownlist
					#licenseEnvironment
					id="licenseEnvironment"
					name="licenseEnvironment"
					class="form-control"
					[data]="environmentList"
					[(ngModel)]="requestLicense.environment"
					required
					[ngClass]="{
						'has-error':
							licenseRequestForm.touched &&
							requestLicense.environment == 0
					}"
				>
				</kendo-dropdownlist>
			</div>
		</div>
		<div class="form-group">
			<label for="licenseProject" class="col-sm-3 control-label"
				>Project: <span style="color: red;">*</span></label
			>
			<div class="col-sm-9 input-section">
				<kendo-dropdownlist
					#licenseEnvironment
					id="licenseProject"
					name="licenseProject"
					class="form-control"
					[data]="projectList"
					[(ngModel)]="requestLicense.project"
					[textField]="'name'"
					[valueField]="'id'"
					(valueChange)="onProjectSelect($event)"
					required
					[ngClass]="{
						'has-error':
							licenseRequestForm.touched &&
							requestLicense.project == 0
					}"
				>
				</kendo-dropdownlist>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">Client Name:</label>
			<div class="col-sm-9 input-section">
				<label class="control-label">{{
					requestLicense.clientName
				}}</label>
			</div>
		</div>
		<div class="form-group">
			<label
				for="selectSpecialInstructions"
				class="col-sm-12 control-label"
				>Special Instructions and/or PO# reference:</label
			>
		</div>
		<div class="form-group">
			<div class="col-sm-12">
				<textarea
					clrTextarea
					id="selectSpecialInstructions"
					class="form-control"
					rows="3"
					placeholder=""
					name="specialInstructions"
					[(ngModel)]="requestLicense.specialInstruction"
				></textarea>
			</div>
		</div>
	</form>
</div>
