<span style="cursor:pointer;" #popUpPolling (click)="onToggle()"><i class="fa  fa-question"></i></span>
<kendo-popup [anchor]="popUpPolling" [popupClass]="'content popup'" *ngIf="show">
    <div>
        <label>
            Used to identify where the Session ID is located in the Authentication Response.
        </label>
        <br/>
        <label>
            Format:
        </label>
        <ul>
            <li>SessionIdName@SourceObject:PropertyName</li>
        </ul>
        <label>
            Examples:
        </label>
        <ul>
            <li>vmware-api-session-id@cookie:vmware-api-session-id</li>
            <li>acme-api-session@json:sesionID</li>
            <li>Authentication@header:Authentication</li>
        </ul>
        <label>
            Note that no spaces are allowed.
        </label>
    </div>
</kendo-popup>