<div id="user-preferences-modal"
		 tds-autofocus
		 tds-handle-escape
		 (escPressed)="dismiss()"
		 class="modal">
	<div
		class="modal-dialog tds-modal-content has-side-nav modal-lg"
		role="document">
		<div class="tds-modal-content user-preferences-component">
			<div class="modal-header">
				<button (click)="dismiss()" type="button" class="close" aria-label="Close">
					<clr-icon aria-hidden="true" shape="close"></clr-icon>
				</button>
				<h4 class="modal-title">{{personName}} Preferences</h4>
			</div>
			<div class="modal-body">
				<table class="table clarity-table-grid fixed-header">
					<thead>
						<tr>
							<th class="pref-label">Preference</th>
							<th class="pref-value">Value</th>
							<th class="pref-remove">Remove</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngIf="preferenceList?.length === 0">
							<td colspan="3">No preferences</td>
						</tr>
						<ng-template [ngIf]="preferenceList && preferenceList.length > 0">
							<tr *ngFor="let preference of preferenceList">
								<td class="pref-label">{{preference.label}}</td>
								<td class="pref-value">{{preference.value}}</td>
								<td class="pref-remove">
									<tds-button-custom
										*ngIf="fixedPreferenceCodes.indexOf(preference.code) === -1"
										(click)="removePreference(preference.code)"
										[flat]="true"
										[icon]="'trash'"
										[tooltip]="'Remove Preference'">
									</tds-button-custom>
								</td>
							</tr>
						</ng-template>
					</tbody>
				</table>
			</div>
			<div class="modal-sidenav btn-link">
				<tds-button-custom
					(click)="resetPreferences()"
					[type]="'button'"
					[icon]="'eraser'"
					[title]="'Reset All'"
					[tooltip]="'Reset All'">
				</tds-button-custom>
				<tds-button-cancel
					(click)="dismiss()"
					[type]="'button'"
					[tooltip]="'GLOBAL.CLOSE' | translate">
				</tds-button-cancel>
			</div>
		</div>
	</div>
</div>
