.project-list-component
  .project-active-completed-options
    text-align: left
    position: absolute
    top: 119px
    z-index: 5
    .clr-radio-wrapper
      margin-right: 16px
  .form-control
    margin-bottom: 3px
  .action-toolbar-btn
    height: 28px
    margin-left: 8px
    padding: 6px 12px
    color: #2C61AA
    font-weight: bold
  .kendo-grid-toolbar__refresh-btn
    margin-top: 5px !important
