<div class="content body">
	<section>
		<div>
			<div class="box-body box-with-empty-header">
				<div class="row">
					<button type="button" class="btn btn-default" id="btnSaveAs" (click)="onSaveAs()"><i class="fa fa-fw fa-floppy-o"></i> Save As</button>
					<span class="btn" (click)="onFavorite()" style="margin:0 10px;padding:0 10px;"><i style="font-size:20px;" class="fa fa-star-o" [ngClass]="{'fa-star':model.favorite,'fa-star-o':!model.favorite}"></i></span>
					<button type="button" class="btn btn-default" id="btnExport" (click)="onExport()"><i class="fa fa-fw fa-download"></i> Export</button>
					<asset-explorer-report-selector [create-new]="false"></asset-explorer-report-selector>
				</div>
				<br>
				<div class="row">
					<div class="nav-tabs-custom">
						<ul class="nav nav-tabs">
							<li role="presentation" class="active">
								<a href="#tab_1" data-toggle="tab">Asset Classes</a>
							</li>
							<li role="presentation" [ngClass]="{'disabled':!isAssetSelected()}">
								<a *ngIf="!isAssetSelected();else selected">Columns</a>
								<ng-template #selected>
									<a href="#tab_2" (click)="onLoadAssetFields()" data-toggle="tab">Columns</a>
								</ng-template>
							</li>
						</ul>
						<div class="tab-content">
							<div class="tab-pane active" id="tab_1">
								<div class="checkbox" *ngFor="let asset of assetClasses">
									<label>
										<input type="checkbox" name="{{asset}}" [(ngModel)]="filterModel.assets[asset]"> {{ 'ASSETS.'+asset  | translate }}
									</label>
								</div>
							</div>
							<div class="tab-pane" id="tab_2">
								<div class="row">
									<div class="col-md-4">
										<div class="col-md-9">
											<div class="form-group has-feedback" style="margin-bottom:0px;">
												<input type="text" class="form-control" name="search" [(ngModel)]="filterModel.search" (keyup.enter)="ApplyFilters()">
												<span style="cursor:pointer;color:#000;pointer-events:all" (click)="onClearTextFilter()" class="fa fa-times form-control-feedback"
												 aria-hidden="true"></span>
											</div>
										</div>
										<div class="col-md-3">
											<button type="button" class="btn btn-default" id="btnFilter" (click)="ApplyFilters()"><i class="fa fa-fw fa-filter"></i> {{'GLOBAL.FILTER' | translate}}</button>
										</div>
									</div>
									<div class="col-md-8">
										<div class="col-md-2">
											<span class="btn" (click)="onSelectToggle()">
												<i class="fa" [ngClass]="toggleClass()"></i> Selected
											</span>
										</div>
										<div class="col-md-5">
											<div class="form-group">
												<label for="show" class="control-label col-sm-3 pd-top-5">Show:</label>
												<div class="col-sm-9">
													<select name="show" (change)="ApplyFilters()" id="show" class="form-control pd-top-5" [(ngModel)]="filterModel.asset">
														<option value="all">All Fields</option>
														<option *ngFor="let asset of selectedAssetClasses" value="asset"> {{ 'ASSETS.'+asset  | translate }} Fields</option>
													</select>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-4" *ngFor="let domain of filteredData;">
										<div class="form-group">
											<div class="row">
												<div class="col-md-12">
													<label style="text-decoration:underline;" class="control-label pd-top-5">{{ 'ASSETS.'+domain.domain | translate}} Fields</label>
												</div>
											</div>
											<div class="row">
												<div class="col-md-3 col-lg-3" style="padding-right:0px;" *ngFor="let field of domain.fields;">
													<div class="checkbox {{field.imp}}">
														<label><input type="checkbox"  name="{{domain.domain+ '.' +field.field}}" [(ngModel)]="field.selected"> {{ field.label }}</label>
													</div>
												</div>
											</div>
										</div>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>
				<a (click)="onBackToStart()" class="btn"><i class="fa fa-chevron-left"></i> Back to Start</a>
			</div>
		</div>
	</section>
</div>