<div class="news-create-edit-component">
	<form
		name="newsForm"
		role="form"
		class="form-horizontal left-alignment"
		#newsForm="ngForm"
	>
		<div class="box-body">
			<div *ngIf="!isCreate()">
				<div class="form-group">
					<label class="col-sm-4 control-label"
						>Created At:</label
					>
					<div class="col-sm-8 label-value">
						<label>{{ model.dtCreated }}</label>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-4 control-label"
						>Created By:</label
					>
					<div class="col-sm-8 label-value">
						<label>{{ model.personCreateObj }}</label>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-4 control-label"
						>Comment Type:</label
					>
					<div class="col-sm-8 label-value">
						<label>{{ commentType }}</label>
					</div>
				</div>
				<div class="form-group" *ngIf="model.assetName">
					<label class="col-sm-4 control-label required-field"
						>Asset:</label
					>
					<div class="col-sm-8 label-value">
						<label>{{ model.assetName }}</label>
					</div>
				</div>
				<div
					class="form-group"
					*ngIf="model.commentObject.displayOption"
				>
					<label class="col-sm-4 control-label required-field"
						>User/Generic comment:</label
					>
					<div class="col-sm-8 label-value user-generic">
						<label class="label-detail">
							<input
								type="radio"
								class="radio-aligned"
								name="displayOption"
								[value]="optionUser"
								[(ngModel)]="
									model.commentObject.displayOption
								"
								checked
							/>
							User Comment
						</label>
						<label class="label-detail">
							<input
								type="radio"
								class="radio-aligned"
								name="displayOption"
								[value]="optionGeneric"
								[(ngModel)]="
									model.commentObject.displayOption
								"
								checked
							/>
							Generic Comment
						</label>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-4 control-label required-field"
					>Message:</label
				>
				<div class="col-sm-8 label-value">
					<textarea
						#messageTextArea
						name="message"
						rows="3"
						required
						#message="ngModel"
						[(ngModel)]="model.commentObject.message"
					>
					</textarea>
					<div [hidden]="message.valid || message.pristine">
						Message is required
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-4 control-label"
					>Resolved / Archived:</label
				>
				<div class="col-sm-8 label-value">
					<input
						type="checkbox"
						name="isArchived"
						[(ngModel)]="model.commentObject.isArchived"
					/>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-4 control-label"
					>Resolution:</label
				>
				<div class="col-sm-8 label-value">
					<textarea
						name="resolution"
						rows="3"
						[(ngModel)]="model.commentObject.resolution"
					>
					</textarea>
				</div>
			</div>
		</div>
	</form>
</div>
