div.ui-dialog
  padding: 0px
  -webkit-border-radius: 0px
  -moz-border-radius: 0px
  border-radius: 0px
  border: 0px
  top: 30px
  -webkit-box-sizing: content-box
  -moz-box-sizing: content-box
  box-sizing: content-box
  background-color: $white
  background: $white
  > div
    -webkit-box-sizing: content-box
    -moz-box-sizing: content-box
    box-sizing: content-box
  div.ui-dialog-content
    background-color: $white
    border: 0px !important
    padding-left: 18px
    padding-right: 18px
    padding-top: 6px
    padding-bottom: 1px
  div.dialog
    background-color: $white
    border: 0px !important
  div.footer_buttons
    margin-top: 15px
    margin-bottom: 15px
  div.buttons
    padding: 15px 15px 15px 15px
    font-size: 14px
    /*text-align: right*/
    border: 0px
    border-top: 1px solid #e5e5e5
    margin-top: 0px
    -webkit-border-radius: 0px
    -moz-border-radius: 0px
    border-radius: 0px
    background: white none
  div.ui-widget-header
    background: $material_c_blue1 50% 50% repeat-x !important
    border-color: $material_c_blue1 !important
    -webkit-border-radius: 0px
    -moz-border-radius: 0px
    border-radius: 0px
    padding-top: 7px
    font-size: 16px
    button.ui-dialog-titlebar-close
      -webkit-appearance: none
      padding: 0
      cursor: pointer !important
      background: 0 0 !important
      border: 0 !important
      font-size: 17px !important
      margin-right: 5px !important
      color: $material_c_blue1
      span.ui-icon
        background-image: url(../../../images/ui-icons_ffffff_256x240.png)
        font-size: 17px !important
        margin-right: 2px !important
    button.ui-dialog-titlebar-close:hover
      text-decoration: none !important
      cursor: pointer !important
      filter: alpha(opacity=50) !important
      opacity: .5 !important
  table
    border-spacing: 2px
    border-collapse: separate
    div
      .rackLabel
        span.useRackS, span.newRackS
          input
            font-size: 12px !important
            color: $black
      .label
        display: table-cell
        text-align: initial
        vertical-align: inherit
        color: inherit
        font-weight: inherit
        font-size: 12px
        label
          color: $c_black2
          font-size: 12px
          font-style: normal
          font-weight: normal !important
      .highField
        label
          color: $red !important
          font-weight: 700 !important
      .U // unimportant Field
        label
          background-color: #f3f4f6 !important
  div#createEntityView, div#checkBoxDiv, div#createStaffDialog, div#personGeneralViewId, div#personDialog
    background-color: $white
  div#checkBoxDiv
    div.checkboxdiv_control
      margin-left: 12px
      margin-top: 5px
    div.checkboxdiv_default
      margin-top: 25px
      font-weight: 600
    div.buttonR
      margin-top: 5px
      margin-bottom: 12px
      text-align: right
  table#updateCommentTable, table#updateResolveTable
    padding: 20px
    tbody
      tr
        td
          label
            color: $c_black2
            font-size: 12px
            font-style: normal
            font-weight: normal

div.ui-widget-overlay
  position: fixed !important
  opacity: 1
  filter: Alpha(Opacity=50)
  background: rgba(0,0,0,0.3)
  /*z-index: 1050*/
