div.content-wrapper
  div.ui-jqgrid-view
    span
      input
        color: $black
      input:disabled
        color: $fontDisabledGray
  table.ui-jqgrid-htable
    border-collapse: inherit
    thead
      box-sizing: initial !important
      tr
        box-sizing: initial !important
        th
          box-sizing: initial !important
  table.ui-jqgrid-btable
    border-collapse: inherit
    tbody
      box-sizing: initial !important
      tr
        box-sizing: initial !important
        td
          box-sizing: initial !important
          span
            box-sizing: initial !important