/* GENERAL */

.spinner {
	padding: 5px;
	position: absolute;
	right: 0;
}

body {
	background: #fff;
}

a:link, a:visited, a:hover {
	color: #666;
	font-weight: bold;
	text-decoration: none;
}
.links {
	color: #000 !important;
	font-weight: bold;
	text-decoration: none;
}
.links:hover {
	text-decoration: underline;
}
h1 {
	color: #214aa0 !important;
	font-weight: normal !important;
	font-size: 16px !important;
	margin: .8em 0 .3em 0 !important;
}
h4 {
	/*font: 12px helvetica,arial,sans-serif !important;*/
}
.heading {
	color: #63a242;
	font-weight: bold;
	font-size: 13px;
	margin: .0em 0 .0em 0;
}

ul {
	/*padding-left: 15px;*/
}

input, select, textarea {
	background-color: #fcfcfc;
	border: 1px solid #ccc;
	font: 13px helvetica, arial, sans-serif;
	margin: 2px 0;
	padding: 2px 4px;
}
select {
	padding: 2px 2px 2px 0;
}

.body {
	float: left;
	margin: 0 15px 10px 15px;
}

/* NAVIGATION MENU */

.menuButton {
	font-size: 13px;
	padding: 0 5px;
}
.menuButton a {
	color: #333;
	padding: 4px 6px;
}
.menuButton a.home {
	background: url(../../../images/icons/house.png) center left no-repeat;
	color: #333;
	padding-left: 25px;
}
.menuButton a.list {
	background: url(../../../images/icons/database_table.png) center left no-repeat;
	color: #333;
	padding-left: 25px;
}
.menuButton a.create {
	background: url(../../../images/icons/database_add.png) center left no-repeat;
	color: #333;
	padding-left: 25px;
}

/* MESSAGES AND ERRORS */

.message {
	background: #f3f8fc url(../../../images/icons/information.png) 8px 50% no-repeat;
	border: 1px solid #C7E693;
	color: #006dba;
	margin: 10px 0 5px 0;
	padding: 5px 5px 5px 30px;
	text-align: left;
}

div.errors {
	border: 0px solid red;
	color: #cc0000;
	margin: 1px 0 1px 0;
	padding: 1px 0 1px 0;
}
div.errors ul {
	list-style: none;
	padding: 0;	
}
div.errors li {
	background: url(../../../images/icons/exclamation.png) 8px 0% no-repeat;
	line-height: 16px;
	padding-left: 30px;
}

td.errors select {
	border: 1px solid red;
}
td.errors input {
	border: 1px solid red;
}

/* TABLES */

table {
	border: 1px solid #63a242;
	width: 100%;
	/*float:left */
}
tr {
	border: 0;
}
#editDialog td {
	padding: 0px 6px;
}
#createDialog td {
	padding: 0px 6px;
}
td, th { 
	font: 12px helvetica, arial, sans-serif;
	line-height: 12px;
	padding: 4px 5px;
	text-align: left;
}
th {
	background: #CCCCCC;
	color: #000;
	font-size: 12px;
	font-weight: bold;
	line-height: 16px;
	padding: 2px 6px;
}
th a:link, th a:visited, th a:hover {
	color: #333;
	display: block;
	font-size: 12px;
	text-decoration: none;
}
th.asc a, th.desc a {
	background-position: right;
	background-repeat: no-repeat;
}
th.asc a {
	background-image: url(../../../images/images/skin/sorted_asc.gif);
}
th.desc a {
	background-image: url(../../../images/images/skin/sorted_desc.gif);
}

table.inner {
	border: 0px;
	border-spacing:0;
}

.teamstatus_pending {
	color: black;
	background-color:#ccc;
}
.teamstatus_ready {
	color: black;
	background-color:#33ff00;
}
.teamstatus_process {
	color: black;
	background-color:#66ffff;
}
.teamstatus_done {
	color: black;
	background-color:#fff;
}

.odd {
	background: #e0e0e0;
}
.even {
	background: #fff;
}

/* LIST */

.list table {
	border-collapse: collapse;
}
.list th, .list td {
	border-left: 0px solid #ddd;
}
.list th:hover, .list tr:hover {
	background: #87CEEB;
}

/* PAGINATION */

.paginateButtons {
	background: #fff url(../../../images/images/skin/shadow.jpg) bottom repeat-x;
	border: 1px solid #ccc;
	border-top: 0;
	color: #666;
	font-size: 12px;
	overflow: hidden;
	padding: 10px 3px;
}
.paginateButtons a {
	background: #fff;
	border: 1px solid #ccc;
	border-color: #ccc #aaa #aaa #ccc;
	color: #666;
	margin: 0 3px;
	padding: 2px 6px;
}
.paginateButtons span {
	padding: 2px 3px;
}
/* for PMO*/
.pmo_paginateButtons {
	color: #666;
	font-size: 12px;
	overflow: hidden;
	padding: 10px 3px;
}
.pmo_paginateButtons a {
	background: #fff;
	border: 1px solid #ccc;
	border-color: #ccc #aaa #aaa #ccc;
	color: #666;
	margin: 0 3px;
	padding: 2px 6px;
}
.pmo_paginateButtons span {
	padding: 2px 3px;
}
/* DIALOG */

.dialog table {
	padding: 5px 0;
}

.prop {
	padding: 5px;
}
.prop .name {
	text-align: left;
	white-space: nowrap;
	vertical-align: top;
	width: 15%;
}
.prop .nameNW {
	text-align: left;
	white-space: nowrap;
	vertical-align: top;
}
.prop .value {
	text-align: left;
	vertical-align: top;
	width: 85%;
}
.prop .valueNW {
	text-align: left;
	vertical-align: top;
}

.prop .bundle {
	text-align: left;
	width: 50%;
}

.prop a {
	/* #5f9fcf */
	color:#00E;
}


/**
 * Fix bootstrap and jquery collision issue.
 */
.ui-dialog-titlebar .ui-dialog-titlebar-close {
	width: 16px;
	height: 16px;
	background-position: -97px -129px;
	background-image: url(../../../images/images/ui-icons_ef8c08_256x240.png);
	border-width: 1px;
}

/**
* Fix bundle max size and classes
*/
tr#applicationDependentId select.depBundle {
    width: 100%;
}

tr#applicationDependentId td.class-wrap-depend {
    width: 14%;
}

/**
* Fix Event Table inception...
* Now it will behaves per media queries
*/

#eventDataTableId table {
	width: inherit;
}
@media (min-width: 1554px) {
	div.execution-phase{
		width: 63%;
	}

	div#eventDataTableId {
		margin-left: 0px;
	}
}

@media (min-width: 1346px) and (max-width: 1555px) {
	div.execution-phase {
		width: 60%;
	}
}

@media (min-width: 1083px) and (max-width: 1345px) {
	div.execution-phase {
		width: 50%;
	}
	div#eventDataTableId {
		margin-left: 40px;
	}
}

@media (min-width: 914px) and (max-width: 1082px) {
	div.execution-phase {
		width: 40%;
	}

	div#eventDataTableId {
		margin-left: 65px;
	}
}

@media (min-width: 400px) and (max-width: 913px) {
	div.execution-phase {
		width: 95%;
	}

	div#eventDataTableId {
		margin-left: 5px;
	}
}

@media (max-width: 750px) {
	div#eventDataTableId {
		margin-left: 40px;
	}
}

.dashboard_stat_exec_tdmc_title {
    background-color: transparent;
}
div.dashboard_stat_exec_tdmc_title {
    min-height: 45px;
}

/* ACTION BUTTONS */

.buttons {
	background: #fff url(../../../images/images/skin/shadow.jpg) bottom repeat-x;
	border: 1px solid #ccc;
	color: #666;
	font-size: 12px;
	margin-top: 5px;
	overflow: hidden;
	padding: 0;
	/*float:left */
}

.buttons input {
	background: #fff;
	border: 0;
	color: #333;
	cursor: pointer;
	font-size: 13px;
	font-weight: bold;
	margin-left: 3px;
	overflow: visible;
	padding: 2px 6px;
}
td.buttonR .powerIcon {
	background: url(../../../images/images/power-off.png) 5px 50%,
		url(../../../images/images/button_highlight.png) !important;
	background-repeat: no-repeat, repeat-x !important;
	font: 12px helvetica, arial, sans-serif !important;
	background-color:#5F9FCF !important;
	font-weight:bold !important;
	padding-left: 22px !important;
}
.buttons input.delete {
	background: transparent url(../../../images/icons/database_delete.png) 5px 50% no-repeat;
	padding-left: 28px;
}
.buttons input.tabledelete {
	background: transparent url(../../../images/icons/table_delete.png) 5px 50% no-repeat;
	padding-left: 28px;
}
.buttons input.cancel {
	background: transparent;
	padding-left: 10px;
	color: #214aa0 !important
}
.buttons input.show {
	background: transparent url(../../../images/icons/database_table.png) 5px 50% no-repeat;
	padding-left: 28px;
}
.buttons input.edit {
	background: transparent url(../../../images/icons/database_edit.png) 5px 50% no-repeat;
	padding-left: 28px;
}
.buttons input.tableedit {
	background: transparent url(../../../images/icons/table_edit.png) 5px 50% no-repeat;
	padding-left: 28px;
}
.buttons input.cableedit {
	background: transparent url(../../../images/icons/disconnect.png) 5px 50% no-repeat;
	padding-left: 28px;
}
.buttons input.create {
	background: transparent url(../../../images/icons/database_add.png) 5px 50% no-repeat;
	padding-left: 28px;
}
.buttons input.select {
	background: transparent;
}
.buttons input.save {
	background: transparent url(../../../images/icons/database_save.png) 5px 50% no-repeat;
	padding-left: 28px;
}
.buttons input.tablesave {
	background: transparent url(../../../images/icons/table_save.png) 5px 50% no-repeat;
	padding-left: 28px;
}
.buttons input.architectureGraph {
	background: transparent url(../../../images/icons/chart_organisation.png) 5px 50% no-repeat;
	padding-left: 28px;
}
.onhold_button {
	background-color:#FFFF33;
}

.clear {
	float:left;
	clear:both;
}

.menuButton a.save {
	background: transparent url(../../../images/icons/database_save.png) 5px 50% no-repeat;
	color: #333;
	padding-left: 25px;
}

.completed {
	background-color:#FFFFFF;
}
.pending {
	background-color:#7FFF00;
}
.inProgress {
	background-color:#0000FF;
}

.spanAnchor{
	font-weight: bold;
	cursor: pointer
}

.ui-widget-header a {
	color: #000000 !important;
}

span.cellWithoutBackground
{
	display:block;
	background-image:none;
	margin-right:-2px;
	margin-left:-2px;
	height:14px;
	padding:4px;
	cursor:pointer;
}
.pointer {
	cursor:pointer;
}
.disableButton{
	color: #A6A2A2 !important;
}
.capBtn{
	margin:15px;
}
.depSpin{
	text-align: center;
}
.Arrowcursor{
	cursor: pointer;
}
.predArrow{
	vertical-align: middle;
}
.cleanProcessDiv{
	display: none;
	height: 500px;
	overflow-x: auto;
}
.headClass{
	background: none repeat scroll 0 0 #CCCCCC;
	color: #000000;
	font-size: 13px;
	font-weight: bold;
	line-height: 16px;
	padding: 2px 6px;
}
.willRemain{
	background-color: lightgreen;
}
.willDelete{
	background-color: yellow;
}
.assetSelect{
	width:135px;
}
.assetConnectSelect{
	width:100px;
}
#viewGraphSpanId{
	position:relative;
	float: right !important;
	margin: 0px !important;
}
.ellipsis{
	white-space:nowrap; 
	width:200px; 
	overflow:hidden; 
	text-overflow:ellipsis;
}

.fieldTable{
	border: 0 none;
	margin-left: 27px;
	margin-top: 21px;
	position: absolute;
	width: auto;
}

.assetFieldHeader1 {
	margin-left: 10px;
}
td[data-for].Y,
td[data-for].G,
td[data-for].B,
td[data-for].P,
td[data-for].O,
td[data-for].H,
td[data-for].U,
td[data-for].N {
	background-color:#FFF !important;
}
/* YELLOW */
td[data-for].Y .select2-choice,
.Y{
	background-color:#FAFF9B !important;
	background-image: none !important;
}
/* GREEN */
td[data-for].G .select2-choice,
.G{
	background-color:#D4F8D4 !important;
	background-image: none !important;
}

/* BLUE */
td[data-for].B .select2-choice,
.B {
	background-color:#A9D6F2 !important;
	background-image: none !important;
}

/* PINK */
td[data-for].P .select2-choice,
.P {
	background-color:#FFA5B4 !important;
	background-image: none !important;
}

/* ORANGE */
td[data-for].O .select2-choice,
.O {
	background-color:#FFC65E !important;
	background-image: none !important;
}

/* NORMAL */
td[data-for].N.label,
td.N.label {
	background-color: #ddd !important;
	background-image: none !important;
}
/* UNIMPORTANT */
td[data-for].U.label,
td.U.label {
    background-color: #F4F4F4 !important;
    background-image: none !important;
}
/* HIDDEN */
td[data-for].H .select2-choice,
.H{
	background-color:#fff !important;
	background-image: none !important;
}

.legend{
	z-index:1 !important;
	position:absolute;
	margin-top:-5px;
	width:350px;
}
.legendTable{
	background-color: white !important;
}
div.field_list{
	border: 1px solid #63A242;
	display: none;
}
div.field_list table {
	border: 0px;
}
.assetImage{
	cursor: pointer;
}
.assetFieldTable{
	width :auto;
	margin-left: 100px;
}
.pickbox { 
	text-align:center;
	display:block;
	float:left;
	width:30px;
	cursor:pointer;
}
.assetTd{
	vertical-align: top;
}
.crudTable{
	margin-top: 12px;
}
td.buttons{
	padding: 0px;
	margin-top: 0px !important;
}

.ui-jqgrid-htable {
	border-width: 0px !important;
}

.ui-jqgrid-btable {
	border-width: 0px !important;
}

.ui-pg-selbox {
	line-height:normal;
	padding:0px;
}

.ui-search-input {
	padding:1px 0px;
}

.ui-th-column div {
	padding:0px;
}

.fluid {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	width: 100% !important;
	margin: 0px !important;
	padding-top: 0px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
}
#gridTableId tbody tr td {
	padding:0px;
}
#outerBodyId {
	padding: 0px !important;
	margin: 0px !important;
	width: 100% !important;
}
.headRow {
	font-weight: bold !important;
	text-decoration:underline !important;
	background-color:#ffffff !important;
	width:100px;
}
.leftCells {
	width: 4% !important;
	background-color:#ffffff;
}
.conflictApp {
	margin-top: 20px;
	padding-bottom: 20px;
	border-width: 0px;
}
.conflictAppBody {
	padding-right:20px !important;
	border-width: 0px;
}
.inlineLink {
	display: inline !important;
	
}
.inlineLink:hover {
	text-decoration: underline !important;
}

svg {
	border: 1px solid blue;
	padding: 0px !important;
	margin: 0px !important;
}

.ynselect{
	max-width: 50px !important;
}
.iFrame {
	display : none;
	visibility : hidden;
	height: 1px;
}

#staffFilterId {
	max-width: 1000px;
}
.uncheckedStaff {
	background: yellow !important;
}
.checkedStaff {
	background: #99ff99;
}
.checkedStaffTemp {
	background: #00ff00;
}
.unavailibleStaff {
	background: #ffaaaa;
}
.ui-dialog .ui-dialog-titlebar-close span {
	display: block;
	margin: -8px !important;
}
.ui-widget-content{
	color: black !important;
	font-weight:normal !important;
	width:105px;
}
.assetDependent .ui-widget-content{
	color: black !important;
	font-weight:normal !important;
	width:85px !important;
}
.ui-autocomplete{
	width:132px !important;
}
.custom-combobox-input {
	padding:3px !important;
}
.combo-td {
	width: 180px !important;
}
.combo-td .select2-container {
	width: inherit !important;
}
.depSelect {
	width: 135px
}
.modelSelect {
	width: 140px !important;
}

/* TM-4614 see jqgrid-support.js line 70*/
.thForceTableFixed {
	display: block;
	width: initial !important;
}

.thForceTableFixed .ui-jqgrid-sortable {
	padding-top: 1px;
}

.ui-jqgrid-htable thead {
	z-index: 15 !important;
	border-bottom: 1px solid #CCCCCC !important;
	background-color: white !important;
}
.SuffleImage {
	height: 16px;
	margin-left: 60px;
	margin-top: -10px;
	position: absolute;
	width: 16px;
	z-index: 1;
	cursor:pointer;
}
.suffleSelect{
	margin-top:10px !important;
}
.suffleTd{
	position:relative !important;
}

.suffleTd div.popover {
	top: 7px !important;
	width: 212px  !important;
}

.planBundleSel{
	margin-left: 274px;
	margin-top: -28px;
	position: absolute;
}
.assetLink{
	color : blue;
	cursor: pointer;
}
.ui-dialog.ui-widget.ui-draggable.ui-resizable{
	max-width: 90vw;
}
.ui-dialog th {
	background: #CCCCCC !important;
	color: #000 !important;
}
th.asc{
	background-image: url(../../../images/images/skin/sorted_asc.gif);
	background-position: right;
	background-repeat: no-repeat;
}
th.desc{
	background-image: url(../../../images/images/skin/sorted_desc.gif);
	background-position: right;
	background-repeat: no-repeat;
}

.ui-tooltip {
	padding: 10px 20px;
	color: white;
	border-radius: 20px !important;
	font: bold 14px Helvetica, Sans-Serif;
	box-shadow: 0 0 7px black;
}
.depBundle {
	width: 70px
}
/* --- Tooltip end---*/
.controlPanelprop {
	width: 37px;
	margin-left: -4px;
	border: 0px;
	background-color: #FFF;
	text-align: center;
}

.power {
	display: block;
}

.nonPower {
	display: none;
}
br.page-break-after {
	page-break-after: always;
}
.colorGrey{
	color: grey;
}
.nodisplay{
	display: none;
}
.prefButton{
	margin-left:15px;
	cursor: pointer;
}
.customizeSelect{
	position:relative;
	float:right;
	margin-top: -15px;
}
.customizeDiv{
	background-color: #F8F8F8 ;
	height: 300px !important;
	position: fixed !important; 
	margin-top: 4px;
	width:auto;
	z-index: 100; 
	overflow-y: scroll !important;
	text-align: left;
}
.highField{
	color:red;
	font-weight: bold;
}

/* fix for the field selects on the asset list views for older versions of firefox */
.ui-jqgrid-hdiv {
	overflow: visible !important;
}

.tabs {
	white-space: nowrap;
}
.tabs div * {
	vertical-align: middle;
}
.tabs #depConsoleTabsId {
	display: inline;
	width: 500px;
	height: 20px;
}
.tabs #viewTypeDivId {
	display: inline;
	width: 300px;
	height: 20px;
}
.tabs .tabControls {
	display: inline;
	width: 100px;
	height: 20px;
}

.disabledButton input{
	color:gray;
}

/* handles basic styles for a checkbox + label pair */
span.checkboxContainer {
	display: inline;
	vertical-align: middle;
	font-size: 0;
}
span.checkboxContainer label {
	display: inline;
}
span.checkboxContainer * {
	vertical-align: middle;
	font-size: 12px;
}
span.checkboxContainer input {
	margin-top: 0px;
}
.checkboxContainer:hover input {
	filter: brightness(90%);
	-webkit-filter: brightness(90%);
}

div.checkboxContainer {
	height: 35px;
	padding: 5px;
}

span#controlRowId {
	display: block;
	vertical-align: middle;
	margin-bottom: 10px;
}

div.ui-jqgrid-hbox {
	padding-right: 0px !important;
}

table.ui-pg-table.navtable,table.ui-pg-table {
	border: 0px;
}
table#issueTable {
	border: 0px;
}
a#taskLinkId,a#taskLinkAllId {
	vertical-align: middle;
}
a#taskLinkId * {
	vertical-align: middle;
}
a#taskLinkAllId * {
	vertical-align: middle;
}


.btn {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.428571429;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.btn:focus {

}

.btn:active,
.btn.active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
	box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
	pointer-events: none;
	cursor: not-allowed;
	opacity: 0.65;
	filter: alpha(opacity=65);
	-webkit-box-shadow: none;
	box-shadow: none;
}

.btn-default {
	color: #333333;
	background-color: #ffffff;
	border-color: #cccccc;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
	color: #333333;
	background-color: #ebebeb;
	border-color: #adadad;
}

.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
	background-image: none;
}

.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
	background-color: #ffffff;
	border-color: #cccccc;
}

#unlockButtonId {
	background-position: 5px 50%;
	background-repeat: no-repeat;
	background-image: url(../../../images/icons/lock_delete.png);
	padding-left: 25px;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-right: 8px;
	margin-bottom: 4px;
	margin-left: 10px;
	display: inline-block;
	position: relative;
	z-index: 101;
	vertical-align: middle;
	cursor: pointer;
}

/*Down here, should be revisited when implementing new ui, so are safe to delete later on */

.create-project-partner-container#partnersContainer abbr.select2-search-choice-close {
	display: none;
}

table.dashboard_stat_table tbody td {
	height: 27px;
}

#eventHeaderTableId tbody td {
	height: 27px;
}

.tds-svg-icons  {
	border: 0px;
	width: 17px;
	height: 17px;
}

/* CUSTOM Field Responsive CSS - TODO: This will be removed and included on SASS compilation later on */

div.dialog input#assetName {
    width: 98%;
}

div.dialog input#description {
    width: 98%;
}

.k-list-container .k-list .k-item
{
	padding-right: 25px;
}

/* Modify the right border*/

#dependencyTableId .labelColumn {
	position: static !important;
}

.k-grid-content tr td {
	padding: 2px 6px;
}

span#addAkaId.addAkaDisabled {
	color: grey !important;
	cursor: not-allowed;
}
span#addAkaId:not(.addAkaDisabled) {
	cursor: pointer;
}
