div.content-wrapper
  div.container
    .body
      table.show-project-table
        border-spacing: 2px
        border-collapse: initial
      .nav
        box-sizing: content-box !important
      .buttons
        form
          span.button
            input.show
              display: inherit !important