tds-application-event-results-report
  .form-group
    label
      padding-left: 5px
      padding-right: 5px

  .report-content
    .event-day-table
      border-spacing: 2px
      border-collapse: initial
      border: 1px solid #63a242
      width: 100%
      background-color: transparent

      tr
        border: 0

      th
        background: #CCCCCC
        color: #000
        font-size: 12px
        font-weight: bold
        line-height: 16px
        padding: 2px 6px

      td, th
        font: 12px helvetica, arial, sans-serif
        line-height: 12px
        padding: 4px 5px
        text-align: left

      .odd
        background: #e0e0e0
      .even
        background: #fff
