.application-conflicts
  margin-left: 15px
  margin-top: 10px
  widht: 100%
  .settings
    width: 40%
  .application-section
    display: flex
    justify-content: center
    align-items: center
    margin-top: 10px
    .section-title
      width: 35%
    .section-control
      width: 65%
      label
        font-weight: normal



