.database-conflicts
  padding: 0 
  .form-group.checkboxes
    margin-bottom: 0
  .inlineLink
    cursor: pointer
  .field-error
    color: red
    font-weight: bold
  .filters-wrapper
    padding-bottom: 20px
    hr
      margin: 10px
  .database-container
    margin-top: 20px
    margin-bottom: 20px
    padding: 0
  .results
    font-size: 13px
    background: white
    .report-output
      border: 1px solid #63a242
      margin-bottom: 20px
  .header
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    font-size: 20px
    margin-top: 10px
    .main-title
      font-weight: bold
  .odd,
  .even
    display: flex
    margin-right: 5px
    margin-left: 5px
    div.data-item
      padding: 4px 2px
      border-right: 2px solid white
  .odd
    div.data-item
      background: white
  .even
    div.data-item
      background: #e0e0e0
  .database-header
    background: #cccccc 
    font-weight: bold
    padding: 2px 6px
  .item-header
    margin-left: 5px
    margin-right: 5px
    div
      padding-left: 2px
      text-decoration: underline
  .database-header,
  .support-header,
  .dependency-header
    margin-left: 5px
    margin-right: 5px
    padding: 4px 0 
  .settings
    width: 40%
  .support-header,
  .dependency-header
    div.title
      padding-left: 40px
  .database-section
    display: flex
    justify-content: center
    align-items: center
    margin-bottom: 20px
    .section-title
      width: 35%
    .section-control
      width: 65%
      label
        font-weight: normal



