.database-conflicts
  .inlineLink
    cursor: pointer
  .field-error
    color: red
    font-weight: bold
  .database-container
    margin-top: 20px
    margin-bottom: 20px
  .results
    font-size: 13px
    background: white
    .report-output
      border: 1px solid #63a242
      margin-bottom: 20px
    .header
      display: flex
      justify-content: center
      align-items: center
      flex-direction: column
      font-size: 20px
      padding: 20px
      .main-title
        font-weight: bold
  .odd
    padding: 5px
    margin-right: 5px
    display: flex
    div.data-item
      background: white
      border-right: 2px solid white
  .even
    padding: 5px
    margin-right: 5px
    display: flex
    div.data-item
      background: lightgray
      border-right: 2px solid white
  .database-header
    background: lightgray
    font-weight: bold
    margin-right: 5px
    margin-left: 5px
    div
      padding-left: unset
  .item-header
    padding: 0
    div
      text-decoration: underline
  .database-header,
  .support-header,
  .dependency-header
    padding: 5px
  .settings
    width: 40%
  .support-header,
  .dependency-header
    div.title
      padding-left: 40px
  .database-section
    display: flex
    justify-content: center
    align-items: center
    margin-bottom: 20px
    .section-title
      width: 35%
    .section-control
      width: 65%
      label
        font-weight: normal



