.pre-event-checklist
  background-color: #fff
  .report-controls
    margin-left: 15px
    padding-top: 10px
    margin-top: 5px
    .k-dropdown
      span
        background-color: #fff
    .actions
      display: flex
      flex-direction: row
      width: 100%
      justify-content: space-between
      margin-top: 10px
  table
    background-color: transparent;
    border-spacing: 2px;
    border-collapse: initial;
  th
    background: #CCCCCC
    color: #000
    font-size: 12px
    font-weight: bold
    line-height: 16px
    padding: 2px 6px
  td
    padding: 2px 6px

  .odd
    background: #e0e0e0

  .generated-check-list
    padding: 0 15px
