.pre-event-checklist
  background-color: #fff
  .k-dropdown
    span
      background-color: #fff
  th
    background: #CCCCCC
    color: #000
    font-size: 12px
    font-weight: bold
    line-height: 16px
    padding: 2px 6px

  .odd
    background: #e0e0e0

  div.content-wrapper
    div.container
      .generated-check-list
        table
          border-spacing: 2px
          border-collapse: initial
