tds-server-conflicts-report
  .form-group.checkboxes
    margin-bottom: 0px

  .report-content
    table
      border: 1px solid #63a242
      width: 100%

      &.planning-application-table
        border-spacing: 2px
        border-collapse: initial

      td, th
        font: 12px helvetica, arial, sans-serif
        line-height: 12px
        padding: 4px 5px
        text-align: left

      th
        background: #CCCCCC
        color: #000
        font-size: 12px
        font-weight: bold
        line-height: 16px
        padding: 2px 6px

    .conflictApp
      margin-top: 20px
      padding-bottom: 20px
      border-width: 0px

      .conflictAppBody
        padding-right: 20px !important
        border-width: 0px

      .headRow
        font-weight: bold !important
        text-decoration: underline !important
        background-color: #ffffff !important
        width: 100px

      .odd
        background: #e0e0e0

      .leftCells
        width: 4% !important
        background-color: #ffffff
