tds-task-report
  .form-group.checkboxes
    margin-bottom: 0px
    label
      margin-right: 20px
  .form-group
    .buttons
      tds-button-custom
        margin-right: 10px
  .event-multiselect
    height: 100%
  .report-content
    height: 70vh
    overflow: scroll
  table
    border: 1px solid #63a242
    display: block
    th, td
      font: 12px helvetica, arial, sans-serif
    th
      text-align: left
      background: #CCCCCC
      color: #000
      font-size: 12px
      font-weight: bold
      line-height: 16px
      padding: 2px 6px
    tr.even
      background: #fff
    tr.odd
      background: #e0e0e0
    td
      line-height: 12px
      padding: 4px 5px
      text-align: left
