.custom-add-person-dialog
  width: 22rem !important
.add-person-component
  $initial-width: 390px
  padding: 15px 20px
  .box-body
    padding: unset
  .required-field::after
    content: "*"
    color: red
  .box-body .form-group
    margin-bottom: 6px
    .label-description
      font-weight: bold
      padding-right: 0
    input
      width: 100%
    .person-salary, .person-active, .person-company
      width: 100%
      height: 23px
      .k-input
        margin-top: -2px
  p.error-msg
    color: $color-message-error--red
  .mandatory
    color: red
    text-align: right
    padding: 0 15px 0 0
  .clickable
    font-weight: bold
    cursor: pointer
  .middle-name, .add-team
    padding-right: 0
  .mobile
    padding-left: 0
  .active-container
    padding-left: 0
  .team-container
    display: flex
    flex-direction: row
    .team-selector
      margin-bottom: 7px
    .team-selector-delete
      padding-top: 4px
      padding-left: 13px
