.asset-explorer-view-show-component
  padding-top: 8px

  .no-action-button
    button
      cursor: initial

  .view-override-button
    font-size: 19px
    margin: 0
    padding: 0

  .asset-view-show-caret
    margin-left: -2px
  .asset-explorer-view-selector-component
    height: 31px

  .header-buttons
    display: flex
    align-items: baseline

  tds-asset-show-save-button
    margin-left: 12px

  tds-asset-view-selector
    display: inline-block

  tds-button-custom.favorite-button
    margin-left: -10px
    button
      color: #f39c12
      &:hover
        color: inherit

  tds-asset-show-create-button
    margin-left: 12px

  .button-bar
    margin-top: 5px
