.asset-explorer-view-save-component
  .error
    color: $color-message-error--red
    font-weight: bold
  .clr-checkbox-wrapper
    .clr-control-label
      color: inherit
      font-size: inherit
  .checkbox.favorite
    i
      font-size: 20px
      cursor: pointer
    label
      margin-left: 5px
      padding-left: 0

  .my-views-child
    padding-left: 30px

  .save-views-container
    padding: 0 100px

  .no-margin-bottom
    margin-bottom: 0

  .clr-radio-wrapper
    &.disabled
      input[type=radio] + label::before
        cursor: not-allowed
        opacity: .2
      label
        cursor: not-allowed
