.asset-explorer-view-save-component
  .error
    color: $color-message-error--red
    font-weight: bold
  .clr-checkbox-wrapper
    .clr-control-label
      color: inherit
      font-size: inherit
  .checkbox.favorite
    i
      margin-left: 5px
      font-size: 20px
      cursor: pointer
    label
      margin-left: 5px
      padding-left: 0
