.asset-explorer-view-show-component
  padding-top: 8px

  .no-action-button
    button
      cursor: initial

  .asset-view-show-caret
    margin-left: -2px
  .asset-explorer-view-selector-component
    height: 31px

  .header-buttons
    display: flex
    align-items: baseline

  tds-asset-show-save-button
    margin-left: 12px

  tds-asset-viewselector
    display: inline-block

  tds-button-custom.favorite-button
    margin-left: -10px
    button
      color: #f39c12
      &:hover
        color: inherit

  .button-bar
    margin-top: 5px

  .filter-input
    padding-bottom: 5px
