tds-bulk-change-button
  button.btnBulkChange
    margin-left: 0

  .btnBulkChange
    .tds-button
      min-width: 0 !important
      min-height: 0
      width: 20px
      height: 21px !important
      bottom: 3px

  .tds-generic-button tds-button.action-button button.tds-button span clr-icon
    margin-top: 0
    height: 12px
    position: relative
    bottom: 3px
