.bulk-change-edit-component
  .full-height
    height: 100%
  .modal-content
    margin: 0 auto
    width: 870px
  .modal-body
    font-size: 13px
    height: 380px
    padding: 10px 15px
  .modal-footer
    padding: 15px 30px
  .modal-header
    padding-left: 22px
  label
    cursor: pointer
    font-weight: normal
  input[type=radio]
    cursor: pointer
    margin-right: 5px
  .affected-assets-number
  .domain
    text-transform: capitalize
  .add-button
    span
      margin-right: 5px
  .k-grid
    min-height: 95%
    max-height: 95%
    td
      vertical-align: top