.bulk-change-edit-component
  .bulk-instructions
    padding-top: 7px
  .add-button
    button
      margin-right: 0
  .remove-field-button
    position: relative
    left: -15px
    .tds-button
      margin: 0
  input[type="text"]
    width: 98%
  kendo-dropdownlist
    width: 100%
  tds-date-control
    kendo-datepicker
      width: 100%
  label
    cursor: pointer
    font-weight: normal
  input[type=radio]
    cursor: pointer
    margin-right: 5px
  .affected-assets-number
  .domain
    text-transform: capitalize
  .k-grid
    min-height: 95%
    max-height: 95%
    margin-bottom: 20px
    td
      vertical-align: top
