.bulk-change-actions-component
  .modal-content
    margin: 0 auto
    width: 352px
  .modal-body
    font-size: 13px
    padding: 5px 30px
  .modal-footer
    padding: 15px 30px
  .modal-header
    padding-left: 22px
  label
    cursor: pointer
    font-weight: normal
  input[type=radio]
    cursor: pointer
    margin-right: 5px
  .affected-assets-number