.model-device-edit-component
	input[type=text]
		width: 100%
	input[type=checkbox]
		cursor: pointer
		min-height: unset
		padding-left: 0
		margin-left: 0
	.dimensions
		display: flex
		justify-content: center
		align-items: center
		input
			width: 80%
		div
			padding-right: 5px
	input
		border: 1px solid #ebebeb
		padding: 5px
	.custom-controls
		visibility: hidden

