
<div class="col-md-12" style="margin-top: 20px;">
    <h4 class="pull-left" style="font-weight: 700">Record Detail</h4>
</div>

<section class="col-md-12">
    <dependency-batch-record-detail-summary
            [importBatch]="importBatch"
            [batchRecord]="batchRecord">
    </dependency-batch-record-detail-summary>
    <hr>
    <dependency-batch-record-detail-fields
            *ngIf="batchRecord"
            [batchRecord]="batchRecord">
    </dependency-batch-record-detail-fields>
</section>
