
<div class="col-md-12">
    <h4 class="pull-left">Record Detail</h4>
    <button class="pull-right btn btn-default" (click)="toggleSection()">
        <i class="fa" [ngClass]="{'fa-angle-double-down':!collapsed, 'fa-angle-double-up':collapsed}" style="padding-right:0px"></i>
    </button>
</div>

<section class="col-md-12" *ngIf="!collapsed">
    <dependency-batch-record-detail-summary
            [importBatch]="importBatch"
            [batchRecord]="batchRecord">
    </dependency-batch-record-detail-summary>
    <hr>
    <dependency-batch-record-detail-fields>
    </dependency-batch-record-detail-fields>
</section>
