<!-- Main content -->
<div class="content body tds-kendo-grid data-script-list-component">
	<section>
		<div *ngIf="dataScriptColumnModel">
			<div class="box-body box-with-empty-header">
				<kendo-grid
						[data]="gridData"
						[filter]="state.filter"
						[filterable]="true"
						(filterChange)="filterChange($event)"
						[sort]="state.sort"
						[skip]="skip"
						[sortable]="{mode:'single'}"
						[pageSize]="pageSize"
						[resizable]="true"
						(sortChange)="sortChange($event)"
						[pageable]="{ pageSizes: defaultPageOptions , pageSize: pageSize, info: true}"
						(cellClick)="cellClick($event)"
						[selectable]="true"
						(pageChange)="pageChange($event)"
						[rowSelected]="isRowSelected">
					<ng-template kendoGridToolbarTemplate [position]="'top'">
						<button class="btn btn-default" id="btnCreateDataScript" type="button"
                                (click)="onCreateDataScript()">
                            <span class="glyphicon glyphicon-plus button-create-data-script" aria-hidden="true"></span>
                            {{ 'DATA_INGESTION.CREATE_ETL_SCRIPT' | translate }}
                        </button>
						<div (click)="reloadDataScripts()" class="kendo-grid-toolbar__refresh-btn"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></div>
					</ng-template>

					<!-- Action -->
					<kendo-grid-command-column [width]="108" [locked]="true">
						<ng-template kendoGridHeaderTemplate>
							<div class="text-center">
								<label class="action-header"> {{ 'GLOBAL.ACTION' | translate }} </label>
							</div>
						</ng-template>
						<ng-template kendoGridCellTemplate
						             let-dataItem
						             let-rowIndex="rowIndex">
							<div class="text-center">
								<button class="btn btn-default" (click)="onEditDataScript(dataItem)"><span class="glyphicon glyphicon-pencil"></span></button>
								<button class="btn btn-default" (click)="onDeleteDataScript(dataItem)"><span class="fa fa-fw fa-trash"></span></button>
							</div>
						</ng-template>
					</kendo-grid-command-column>


					<!-- Configured View Columns (*ngFor) -->
					<kendo-grid-column *ngFor="let column of gridColumns" field="{{column.property}}" format="{{column.format}}" [width]="!column.width ? COLUMN_MIN_WIDTH : column.width">
						<ng-template kendoGridHeaderTemplate>
							<label> {{column.label}}</label>
						</ng-template>

						<ng-template kendoGridFilterCellTemplate let-filter>
							<div class="has-feedback" *ngIf="column.property && column.type !== 'action'" style="margin-bottom:0px;">
								<div *ngIf="column.type === 'date'; then dateFilter else stringFilter"></div>
								<ng-template #dateFilter>
									<div class="sortable-column" (click)="onClickTemplate($event)">
										<kendo-datepicker [format]="dateFormat" [(ngModel)]="column.filter" (valueChange)="onFilter(column)" [style.width.%]="100"></kendo-datepicker>
										<span *ngIf="column.filter" (click)="clearValue(column)" style="left:106px;cursor:pointer;color:#656565;pointer-events:all" class="fa fa-times form-control-feedback" aria-hidden="true"></span>
									</div>
								</ng-template>
								<ng-template #stringFilter>
									<div class="sortable-column with-filter" (click)="onClickTemplate($event)">
										<input type="text" (keyup)="onFilter(column)" class="form-control column-filter-input" name="{{column.property}}" [(ngModel)]="column.filter" placeholder="Filter {{column.label}}" value="">
										<span *ngIf="column.filter" (click)="clearValue(column)" style="cursor:pointer;color:#656565;pointer-events:all" class="fa fa-times form-control-feedback" aria-hidden="true"></span>
									</div>
								</ng-template>
							</div>
						</ng-template>
					</kendo-grid-column>
				</kendo-grid>
			</div>
			<!-- /.box-body -->
		</div>
	</section>
</div>
