.tds-ui-prompt
  padding-left: 0
  padding-right: 0
  .modal-dialog
    margin: 100px auto
    .tds-modal-content
      min-width: 340px
      border-color: rgb(204, 204, 204)
      border-width: 1px
      box-shadow: 0 5px 15px $color--darkgray
      .modal-body
        form
          padding: 0 10px
          .box-body
            padding-top: 0
            p
              margin-top: 0
      .modal-footer
        padding: 24px
        justify-content: space-around

