.tds-ui-prompt
  .modal-dialog
    margin: 100px auto
    .tds-modal-content
      border-color: rgb(204, 204, 204)
      border-width: 1px
      box-shadow: 0 5px 15px $color--darkgray
      min-height: 200px
      .modal-body
        form
          padding: 0 10px
          .box-body
            padding-top: 0
            p
              margin-top: 0
      .modal-footer
        padding-right: 15px

