.tds-ui-modal-decorator
	overflow-y: hidden!important
	.modal-dialog
		width: 100%
		display: flex
		align-items: center
		.ui-resizable-se
			width: 0
			height: 0
			border-style: solid
			border-width: 0 0 16px 16px
			border-color: transparent transparent #AAA transparent
			background: none