import-assets {
  .clr-form-control {
    margin-top: unset;
  }

  .btn {
    margin: unset;
  }

	.form-group {
		margin-bottom: 40px;
	}

	span {
		&.control-label {
			text-align: left !important;
			padding-top: 0;
		}
	}

	a {
		&.control-label {
			text-align: left !important;
		}
	}

	.progressBar-row {
		margin-bottom: 40px;
		.progressBar-container {
			padding-right: 0px;
		}
	}

	.k-grid {
		td {
			padding-left: 10px;
		}
		a {
			color: #3c8dbc !important;
		}
	}
	.aligned-row {
		display: flex;
		align-items: baseline;
	}
	.k-upload-button {
		width: 100%;
		display: flex;
		justify-content: start;
		align-items: center;
	}

	.k-upload-files,
	.k-dropzone-hint {
		padding: 8px;
	}

	.k-upload-status {
		margin-left: 5px;
	}
	.file-icon {
		clr-icon {
          height: 32px;
          width: 32px;
		}
	}
  	clr-icon {
		cursor: pointer;
	}
}
