import-batch-list
  .btn-action i
    padding-right: 0px !important
  .status-with-errors
    color: red
  label.view-archived
    vertical-align: bottom
    display: inline-flex
    margin-left: 10px
    span
      margin-left: 5px

  .status-text
    text-transform: lowercase
  .status-text:first-letter
      text-transform: uppercase