import-batch-detail-dialog

  .toolbar-button
    padding-left: 0px
    padding-right: 0px
    width: 85px

  .toolbar-dropdown
    padding-left: 0px

  .has-init
    font-style: italic

  kendo-dropdownlist, .k-dropdown
    background-color: #fff
    .k-input
      padding-top: 12px !important
