<div class="content body">
	<section>
		<div>
			<div class="box-body box-with-empty-header">
				<div class="error-page">
					<h2 class="headline text-red"><span class="glyphicon glyphicon-ban-circle"></span></h2>
					<div class="error-content">
						<h3><i class="fa fa-warning text-red"></i> {{'PAGES.CSRF_UNAUTHORIZED_MESSAGE' | translate}}
						</h3>
						<p style="font-size:15px;">
							{{'PAGES.CSRF_INVALID' | translate}} Please, <a href="#" (click)="logOut()" >Log out</a>.
						</p>
						<hr>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
