manual-import
  .form-group
    margin-bottom: 40px
  span.control-label
    text-align: left !important
    padding-top: 0
  a.control-label
    text-align: left !important

  .progressBar-row
    margin-top: 5px
    margin-bottom: 10px
    .progressBar-container
      height: 7px
      padding-right: 0px
      .progress
        margin-bottom: 0px
        height: 7px