<input style="width: 50px; text-align: right;" type="number" min="0" step="1" class="input_duration_days" ng-model="durationpicker.day" value="" size="3" >&nbsp;<label class="duration_days duration_label">Days</label>&nbsp;&nbsp;
<input style="width: 50px; text-align: right;"  type="number" min="0" step="1" class="input_duration_hours" ng-model="durationpicker.hour" value="" size="3" >&nbsp;<label class="duration_hours duration_label">Hours</label>&nbsp;&nbsp;
<input style="width: 50px; text-align: right;" type="number" min="0" step="1" class="input_duration_minutes" ng-model="durationpicker.minutes" value="" size="3" >&nbsp;<label class="duration_minutes duration_label">Minutes</label>&nbsp;&nbsp;

<input type="hidden" ng-model="duration" name="duration" value="">

<!--
<input type="value" ng-model="duration" id="duration" name="duration" value="" size="3" ng-readonly="readonly" ng-click="onDurationClick()">
<select style="width:50px;" ng-model="scale" ng-options="item.id as item.name for item in scales" ng-disabled="readonly"></select>

-->