<div class="task-comment-component dialog-container" >
	<div *ngIf="(!showTask && !showComment) || showTask" class="task-content"
		 [ngClass]="{'has-not-task-manager-permission': !hasTaskManagerViewPermission}">
		<kendo-grid
			*ngIf="dataGridTaskHelper"
			class="tds-table tds-task-grid"
			[data]="dataGridTaskHelper.gridData"
			[sort]="dataGridTaskHelper.state.sort"
			[sortable]="{ mode: 'single' }"
			[resizable]="true"
			(sortChange)="dataGridTaskHelper.sortChange($event)"
		>
			<!-- Toolbar Template -->
			<ng-template kendoGridToolbarTemplate [position]="'top'">
				<div class="clr-row tool-bar-wrapper">
					<div class="grid-label clr-col-4">
						<strong>Tasks</strong>
					</div>
					<div class="grid-actions clr-col-8">
						<clr-checkbox-wrapper>
							<input
								clrCheckbox
								name="showAllTasks"
								type="checkbox"
								[(ngModel)]="showAllTasks"
								(change)="reloadTasksGrid()"
							/>
							<label>View All Tasks</label>
						</clr-checkbox-wrapper>
						<clr-checkbox-wrapper>
							<input
								clrCheckbox
								name="viewUnpublished"
								type="checkbox"
								[(ngModel)]="viewUnpublished"
								(change)="onViewUnpublishedChange()"
							/>
							<label>View Unpublished Tasks</label>
						</clr-checkbox-wrapper>
						<div class="btn-sm">
							<tds-button-add
								[disabled]="!isTaskCreateAvailable()"
								iconClass="is-solid"
                                [displayLabel]="false"
								tooltip="Create Task"
								(click)="openTaskCreate()">
							</tds-button-add>
						</div>
					</div>
				</div>
			</ng-template>

			<!-- Columns -->
			<kendo-grid-column
				*ngFor="let column of taskColumnModel.columns"
				field="{{ column.property }}"
				[headerClass]="column.headerClass ? column.headerClass : ''"
				[headerStyle]="column.headerStyle ? column.headerStyle : ''"
				[class]="column.cellClass ? column.cellClass : ''"
				[style]="column.cellStyle ? column.cellStyle : ''"
				[width]="!column.width ? COLUMN_MIN_WIDTH : column.width"
				[sortable]="column.type !== 'action'"
			>
				<!-- Header Template -->
				<ng-template kendoGridHeaderTemplate>
					{{ column.label }}
				</ng-template>

				<!-- Action -->
				<ng-template
					kendoGridCellTemplate
					*ngIf="column.type === 'action'"
					let-dataItem
				>
					<div class="action-button btn-link">
						<clr-dropdown #dropdown>
							<tds-button icon="ellipsis-vertical"
													title="Actions"
													clrDropdownTrigger
													tdsGridContextMenuFixedPosition [clrDropdown]="dropdown">
							</tds-button>
							<clr-dropdown-menu *clrIfOpen clr-dropdown-menu>
								<a
									clrDropdownItem
									(click)="isTaskEditAvailable() && openTaskEdit(dataItem)"
									[disabled]="!isTaskEditAvailable() || !hasTaskManagerViewPermission"
									>Edit Task</a
								>
								<a
									clrDropdownItem
									(click)="isTaskDeleteAvailable() && onDelete(dataItem)"
									[disabled]="!isTaskDeleteAvailable()"
									>Delete Task</a
								>
							</clr-dropdown-menu>
						</clr-dropdown>
					</div>
				</ng-template>

				<ng-template
					kendoGridCellTemplate
					*ngIf="column.property === 'commentInstance.taskNumber'"
					let-dataItem
					let-rowIndex="rowIndex"
				>
					<a (click)="openTaskComment(dataItem, modalType.VIEW)">{{
						dataItem.commentInstance.taskNumber
					}}</a>
				</ng-template>

				<ng-template
					kendoGridCellTemplate
					*ngIf="column.property === 'commentInstance.comment'"
					let-dataItem
					let-rowIndex="rowIndex"
				>
					<a (click)="openTaskComment(dataItem, modalType.VIEW)">{{
						dataItem.commentInstance.comment
					}}</a>
				</ng-template>
			</kendo-grid-column>
			<kendo-grid-messages noRecords="There are no records to display.">
			</kendo-grid-messages>
		</kendo-grid>
	</div>
	<div
		*ngIf="(!showTask && !showComment) || showComment"
		class="comment-content"
	>
		<kendo-grid
			*ngIf="dataGridCommentHelper"
			class="tds-table"
			[data]="dataGridCommentHelper.gridData"
			[sort]="dataGridCommentHelper.state.sort"
			[sortable]="{ mode: 'single' }"
			[resizable]="true"
			(sortChange)="dataGridCommentHelper.sortChange($event)"
		>
			<!-- Toolbar Template -->
			<ng-template kendoGridToolbarTemplate [position]="'top'">
				<div class="clr-row tool-bar-wrapper">
					<div class="grid-label clr-col-4">
						<strong>Comments</strong>
					</div>
					<div class="grid-actions clr-col-8">
						<clr-checkbox-wrapper>
							<input
								clrCheckbox
								name="showAllComments"
								type="checkbox"
								[(ngModel)]="showAllComments"
								(change)="reloadCommentsGrid()"
							/>
							<label>View All Comments</label>
						</clr-checkbox-wrapper>
						<div class="btn-sm">
							<tds-button-add
									[disabled]="!isCommentCreateAvailable()"
									iconClass="is-solid"
									[displayLabel]="false"
									tooltip="Create comment"
									(click)="createComment()">
							</tds-button-add>
						</div>
					</div>
				</div>
			</ng-template>

			<!-- Columns -->
			<kendo-grid-column
				*ngFor="let column of commentColumnModel.columns"
				field="{{ column.property }}"
				[headerClass]="column.headerClass ? column.headerClass : ''"
				[headerStyle]="column.headerStyle ? column.headerStyle : ''"
				[class]="column.cellClass ? column.cellClass : ''"
				[style]="column.cellStyle ? column.cellStyle : ''"
				[width]="!column.width ? COLUMN_MIN_WIDTH : column.width"
				[sortable]="column.type !== 'action'"
			>
				<!-- Header Template -->
				<ng-template kendoGridHeaderTemplate>
					{{ column.label }}
				</ng-template>

				<!-- Action -->
				<ng-template
					kendoGridCellTemplate
					*ngIf="column.type === 'action'"
					let-dataItem
				>
					<div class="action-button btn-link">
						<clr-dropdown #dropdown>
							<tds-button icon="ellipsis-vertical"
													clrDropdownTrigger
													tdsGridContextMenuFixedPosition [clrDropdown]="dropdown"></tds-button>
							<clr-dropdown-menu *clrIfOpen>
								<a
									clrDropdownItem
									(click)="
										isCommentEditAvailable() && openTaskComment(
											dataItem,
											modalType.EDIT
										)
									"
									[disabled]="!isCommentEditAvailable()"
									>Edit Comment</a
								>
								<a
									clrDropdownItem
									(click)="isCommentDeleteAvailable() && onDelete(dataItem)"
									[disabled]="!isCommentDeleteAvailable()"
									>Delete Comment</a
								>
							</clr-dropdown-menu>
						</clr-dropdown>
					</div>
				</ng-template>

				<ng-template
					kendoGridCellTemplate
					*ngIf="column.property === 'commentInstance.comment'"
					let-dataItem
					let-rowIndex="rowIndex"
				>
					<a (click)="openTaskComment(dataItem, modalType.VIEW)">{{
						dataItem.commentInstance.comment
					}}</a>
				</ng-template>

				<ng-template
					kendoGridCellTemplate
					*ngIf="column.property === 'commentInstance.status'"
					let-dataItem
					let-rowIndex="rowIndex"
				>
					<div class="text-capitalize">
						{{ dataItem.commentInstance.status }}
					</div>
				</ng-template>
			</kendo-grid-column>
			<kendo-grid-messages noRecords="There are no records to display.">
		</kendo-grid-messages>
		</kendo-grid>
	</div>
</div>
