div.box-body div.box form div.form-group
  select.medium-height
    height: 300px
  ul.list-group.sub-set
    margin-left: 10px
    li
      border: none
      font-weight: normal
div.content.body .box-body
  label
    font-size: 14px
    font-weight: normal