.bundle-steps-component 
	padding-right: 30px 
	.k-tabstrip 
		margin-bottom: 10px 
	img 
		position: absolute 
		border: 0px 
		width: 16px 
		height: 23px 
		cursor: pointer 
		&.back 
			position: absolute 
			left: -20px 
			cursor: pointer 
		&.next 
			position: absolute 
			right: 0 
			cursor: pointer 
	.step_statusbar_good 
		font-size: 14px 
		font-weight: bold 
		text-align: center 
		color: #ffffff 
		line-height: 24px 
		display: block 
		border: 2px solid #595959 
		background-color: #669900 
		color: rgb(241, 238, 232) 
		border-top-color: rgb(97, 99, 101) 
		border-right-color: rgb(97, 99, 101) 
		border-bottom-color: rgb(97, 99, 101) 
		border-left-color: rgb(97, 99, 101) 
		background-color: rgb(110, 152, 25) 
	.step_statusbar_yellow 
		color: rgb(25, 25, 25) 
		border-top-color: rgb(97, 99, 101) 
		border-right-color: rgb(97, 99, 101) 
		border-bottom-color: rgb(97, 99, 101) 
		border-left-color: rgb(97, 99, 101) 
		background-color: rgb(255, 202, 86) 
		font-size: 14px 
		font-weight: bold 
		text-align: center 
		line-height: 24px 
		display: block 
		border: 2px solid #595959 
	.category-description 
		background-position: right 
		background-repeat: no-repeat 
		font-weight: bold 
		min-height: 31px 
		padding-right: 30px 
		text-align: right 
	.heading 
		color: #63a242 
		font-size: 16px 
		font-weight: bold 
		text-align: center 
	.primary 
		background-color: #D3D7DC 
		border: 2px solid white 
		color: #000000 
		display: block 
		font-size: 11px 
		line-height: 24px 
		margin-top: 1px 
		text-align: center 
		height: 32px 
	.secondary 
		color: #000000 
		background-color: #b5bdc6 
		border: 2px solid white 
		line-height: 28px 
		margin-top: 1px 
		display: block 
		font-size: 11px 
		text-align: center 
		height: 32px 
	.right-arrow 
		position: absolute 
		margin-left: 25px 
		margin-top: 5px 
	.tab-item 
		color: red 
		text-decoration: none 
	.k-tabstrip-items 
		background: red !important 
	.k-item 
		background: green !important 

	.left-arrow,
		.bundle-steps-component .right-arrow 
		color: #000 
		cursor: pointer 

	.left-arrow.disabled,
		.bundle-steps-component .right-arrow.disabled 
		color: lightgrey 
		cursor: none 

	.k-tabstrip-items 
		.k-link 
			color: red !important 
