.bundle-steps-component 
	padding-right: 30px 
	.column-navigation
		width: 10px
	.k-tabstrip 
		margin-bottom: 10px 
	.step_statusbar_good 
		font-size: 14px 
		font-weight: bold 
		text-align: center 
		color: #ffffff 
		line-height: 24px 
		display: block 
		border: 2px solid #595959 
		background-color: #669900 
		color: rgb(241, 238, 232) 
		border-top-color: rgb(97, 99, 101) 
		border-right-color: rgb(97, 99, 101) 
		border-bottom-color: rgb(97, 99, 101) 
		border-left-color: rgb(97, 99, 101) 
		background-color: rgb(110, 152, 25) 
		margin: 1px
	.step_statusbar_yellow 
		color: rgb(25, 25, 25) 
		border-top-color: rgb(97, 99, 101) 
		border-right-color: rgb(97, 99, 101) 
		border-bottom-color: rgb(97, 99, 101) 
		border-left-color: rgb(97, 99, 101) 
		background-color: rgb(255, 202, 86) 
		font-size: 14px 
		font-weight: bold 
		text-align: center 
		line-height: 24px 
		display: block 
		border: 2px solid #595959 
		margin: 1px
	.category-description 
		background-position: right 
		background-repeat: no-repeat 
		font-weight: bold 
		font-size: 14px
		min-height: 31px 
		padding-right: 30px 
		text-align: right 
	.empty-column
		height: 24px
		margin: 1px
	.heading 
		color: #63a242 
		// padding-left: 2px
		// padding-right: 2px
		font-weight: bold 
		text-align: center 
		margin: 1px
		span
			max-width: 150px
			white-space: nowrap
			overflow: hidden
			text-overflow: ellipsis
			display: block
			font-size: 16px
	.primary 
		background-color: #D3D7DC 
		// border: 2px solid white 
		color: #000000 
		font-size: 11px 
		height: 32px 
		display: flex
		justify-content: center
		align-items: center
		padding: 0
		margin: 1px
	.secondary 
		color: #000000 
		background-color: #b5bdc6 
		// border: 2px solid white 
		font-size: 11px 
		height: 32px 
		display: flex
		justify-content: center
		align-items: center
		padding: 0
		margin: 1px
	.primary,
	.secondary
		a
			color: #000
			font-weight: bold
	.left-arrow,
	.right-arrow 
		color: #000 
		cursor: pointer 

	.left-arrow.disabled,
	.right-arrow.disabled 
		color: lightgrey 
		cursor: none 

	.k-tabstrip
		div[role=tabpanel]
			visibility: hidden

	.k-tabstrip-items 
		.k-link 
			color: #000 
			cursor: pointer
			max-width: 150px
			white-space: nowrap
			overflow: hidden
			text-overflow: ellipsis
			display: block
