.event-view-edit-component
  font-size: 12px
  font-family: helvetica, arial, sans-serif
  .clr-form-control
    margin-top: unset
  .modal-body-container
    .assetTag
      padding: 5px
      margin-right: 4px
    select
      width: 180px
    .required
      float: right
      font-size: 9px
      color: red
    table
      width: 100%
      .name
        white-space: nowrap
        width: 15%
        font-weight: bold
      .value
        width: 85%
        .k-dateinput-wrap input
          font-size: 12px !important
        input[type=text]
          width: 180px
        ul
          padding-left: 0px
        .k-switch.asset-tag
          display: none
      td
        line-height: 12px
        padding: 4px 5px
        text-align: left
        vertical-align: top
  .btn
    margin-right: 4px
  input[type=checkbox]
    margin-top: 0px !important