.event-news-component
	.event-news
		margin-top: 5px
		position: relative
		.date
			font-weight: bold
			cursor: pointer
		.description
			cursor: pointer
	div[role=tabpanel]
		overflow: hidden
		border-left: 0
		border-right: 0
		border-bottom: 0
	.tds-generic-button
		position: absolute
		top: 0
		right: 0
	.k-tabstrip
		.k-link
			color: #000
			cursor: pointer