.event-create-component
  font-size: 12px
  .clr-form-control
    margin-top: unset
  select
    width: 180px
  .field
    width: 180px
  .required
    float: right
    font-size: 9px
    color: red
  table
    width: 100%
    .name
      white-space: nowrap
      width: 15%
      font-weight: bold
    .value
      width: 85%
      .k-dateinput-wrap input
        font-size: 12px !important
      input[type=text]
        width: 180px
      .k-switch.asset-tag
        display: none
    td
      line-height: 12px
      padding: 4px 5px
      text-align: left
      vertical-align: top
      label, ul
        margin-top: 10px
      label.api-action-bypass
        margin-top: 15px
  input[type=checkbox]
        margin-top: 0px !important
