.event-dashboard-component
	.task-effort-container
		display: flex
		width: 100%
		.task-title
			width: 20%
			display: flex
			justify-content: center
			align-items: center
			font-weight: bold
		.task-graph-section
			width: 80%
			.task-graph-container
				display: flex
				box-shadow: 2px 3px 3px lightgrey inset
				line-height: 26px
				width: 100%
				.task-item
					overflow: hidden
	.bundle-steps-container
		margin-top: 20px

