.event-resume-component
	text-align: center
	.event-units
		display: flex
		justify-content: center
		div
			margin: auto 6px
	.event-description
    	font-size: 21px 
	.event-daytime
		font-size: 42px
	.event-start-date
		// text-align: center
    	font-size: 18px 