.event-list-component
  .form-control
    margin-bottom: 3px
  tds-button-create button
    height: 25px
    margin-left: 8px
    margin-top: 2px
    margin-bottom: 2px
    padding: 3px 11px 11px 8px !important
    color: #2C61AA
    font-weight: bold
  td
    cursor: default !important
  .kendo-grid-toolbar__refresh-btn
    margin-top: 6px !important