.plan-versus-status-component
	display: flex
	flex-direction: column
	justify-content: space-around
	align-items: center
	width: 100%
	.update-controls
		display: flex
		width: 100%
		justify-content: space-around
		align-items: center
		margin-top: 10px
		.k-widget
			width: 70px
	img
		border: 0
		cursor: pointer
		width: 190px
	.title
		font-size: 14px
		text-align: center