.plan-versus-status-component
	display: flex
	flex-direction: column
	justify-content: space-around
	align-items: center
	width: 100%
	.update-controls
		display: flex
		width: 80%
		justify-content: space-around
		align-items: center
		margin-top: 10px
		input
			width: 60px
	img
		border: 0
		cursor: pointer
		width: 190px
	.title
		font-size: 14px
		text-align: center