.task-category-component 
	padding-right: 30px 
	padding-top: 10px
	.column-navigation
		width: 10px
	.column-percents
		color: #fff
		border: 1px solid black
		height: 30px
		font-weight: bold
		display: flex
		justify-content: center
		align-items: center
	.k-tabstrip
		margin-bottom: 10px
	.step_statusbar_bad 
		font-size: 14px
		font-weight: bold
		text-align: center
		color: #ffffff
		line-height: 24px
		display: block
		border: 1px solid #fff;
		background-color: #CD3333
		// margin: 1px
	.step_statusbar_good 
		font-size: 14px
		font-weight: bold
		text-align: center
		color: #ffffff
		line-height: 24px
		display: block
		border: 1px solid #fff;
		background-color: #669900
		// margin: 1px
	.step_statusbar_yellow 
		font-size: 14px
		font-weight: bold
		text-align: center
		color: #000
		line-height: 24px
		display: block
		border: 1px solid #fff;
		background-color: #FFCC66
		// margin: 1px
	.category-description
		background-position: right 
		background-repeat: no-repeat 
		font-weight: bold 
		font-size: 14px
		min-height: 31px 
		padding-right: 30px 
		text-align: right 
	.empty-column
		height: 25px
		text-transform: capitalize
		// margin: 1px
	.heading 
		color: #63a242
		display: flex
		justify-content: center
		font-weight: bold 
		text-align: center 
		// margin: 1px
		span
			max-width: 100px
			white-space: nowrap
			overflow: hidden
			text-overflow: ellipsis
			display: block
			font-size: 16px
	.primary 
		background-color: #D3D7DC 
		color: #000000 
		font-size: 11px 
		height: 32px 
		display: flex
		justify-content: center
		align-items: center
		padding: 0
		border: 1px solid #fff
	.secondary 
		color: #000000 
		background-color: #b5bdc6 
		font-size: 11px 
		height: 32px 
		display: flex
		justify-content: center
		align-items: center
		padding: 0
		border: 1px solid #fff;
	.primary,
	.secondary
		a
			color: #000
			font-weight: bold
	.left-arrow,
	.right-arrow 
		color: #000 
		cursor: pointer 

	.left-arrow.disabled,
	.right-arrow.disabled 
		color: lightgrey 
		cursor: none 

	.k-tabstrip
		div[role=tabpanel]
			visibility: hidden

	.k-tabstrip-items 
		.k-link 
			color: #000 
			cursor: pointer
			max-width: 150px
			white-space: nowrap
			overflow: hidden
			text-overflow: ellipsis
			display: block
