.team-task-percents
	display: flex
	flex-direction: column
	flex-wrap: wrap
	max-height: 200px
	table
		border: none

	.teamBreakdown 
		margin-top: 5px 
		margin-left: 10px 
		overflow: auto 
		&.toprightcontent 
			width: 630px 
			overflow-y: hidden 
			&.smallTable 
				width: 250px 
				overflow-y: hidden 
	.toprightcontent 
		// float: left 
		// text-align: center 
		width: 180px 
		// margin-top: 25px 
		font-size: 13px 
		// line-height: 21px 
	.teamcol 
		width: 130px 
		padding: 2px 
	// .teamcol a,
	// 	.teamcountcolumn a 
	// 	color: #000 
	// 	font-weight: bold 
	.teamcountcolumn 
		width: 30px 
	.teambarcolumn 
		width: 70px 
		text-align: center 
	.team_bar_base_small 
		padding: 0px 
		padding-right: 5px 
		width: 85% 
		height: 5px 
		background-color: lightyellow 
		box-shadow: 0px 0px 0px 
		border: 1px solid #24488A 
	.team_bar_graph_small 
		background-color: #24488A 
		z-index: -1 
		height: 5px 
		border-right-width: 3px 
		border-color: lightgray 
		border-right-style: inset 
	.small_text 
		font: 10px helvetica, arial, sans-serif 
	a
		color: #000 
		font-weight: bold 