body > .wrapper {
  padding-top: 0 !important;
}

div.change-password-component {
  display: flex;
  justify-content: center;
  position: fixed;
  overflow: scroll;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff url('/tdstm/tds/web-app/assets/images/login-background.jpg') no-repeat;
  background-size: cover;

  .login-component-form__wrapper {
    .login-component-form__section {
      .login-box-body {
        width: 20rem;
        .login-logo {
          img {
            width: 100%;
          }
        }

        .login-box-msg {
          line-height: 1rem;
          word-break: break-word;
        }
      }

      @media (max-width: 500px) {
        .login-box-body {
          width: 15rem;
        }
      }

      @media (max-width: 390px) {
        .login-box-body {
          width: 13rem;
        }
      }

      .login-form {
        .requirements-container  {
          .list {
            padding-top: 10px;
          }
        }
      }
    }
  }

  .clr-justify-content-center {
    height: 100%;

    .requirements-container {
      padding: 15px 15px 0 15px;

      .label {
        padding-left: 0;
      }

      .responsive-text {
        white-space: normal;
        text-align: left;
      }
    }

    .buttons-container {
      padding: 12px 12px 0 12px;
    }

    .back-to-login-container {
      display: flex; align-items: flex-end;
    }

    .clr-subtext {
      padding: .5rem 0;
      color: red;
    }
  }

  .login-component-form__wrapper {
    .login-component-form__section {
      h1 {
        text-align: center;
        margin: 0;
        padding: 0;

        img {
          width: 90%;
          height: auto;
          margin: 3.5rem 0 1rem;
        }
      }

      form.login-form {
        // To destroy the autofill background color
        input:-webkit-autofill {
          -webkit-box-shadow: 0 0 0 1000px white inset;
        }

        .login-password__clr-container {
          .clr-input-group {
            padding-right: 0;
            max-width: inherit;

            .clr-input-group-icon-action {
              right: 31px;
              position: relative;
            }

            .clr-input {
              border-bottom: 1px solid #999;
            }

            .clr-input.clr-focus, .clr-input:focus {
              border-bottom: 1px solid #0092d1;
            }
          }

          .clr-error {
            .clr-input {
              border-bottom-color: #c72100 !important;
            }

            .clr-validate-icon {
              margin-left: -3px;
            }
          }
        }

        .login-button__wrapper,
        .login-button__wrapper {
          .login-button {
            width: 100%;
            max-width: 100%;
          }
        }
      }

      .login-box-body {
        border: 1px solid gray;
      }
    }
  }

  @media (min-width: 768px) {
    div.login-box.login-notice {
      min-width: 540px;
    }
  }

  @media (max-width: 500px) {
    div.login-box.login-box-body {
      width: 15rem;
      background-color: red;
    }
  }
}
