div.change-password-component {
  overflow: hidden;
  .hidden {
    display: none;
  }
  .error-msg {
    color: $color-message-error--red !important;
  }
  .success-msg {
    color: $color--green2 !important;
    font-weight: bold;
    display: inline !important;
  }
}
