div.forgot-password-component {
  display: flex;
  justify-content: center;
  align-content: center;

  .forgot-password-component-form__wrapper {
    .clr-justify-content-center {
      height: 100%;

      .message {
        padding: 0 0 0 12px;
      }

      .centered-text-container {
        text-align: center;
      }

      .buttons-container {
        padding: 12px 12px 0 12px;
      }

      .back-to-login-container {
        display: flex;
        align-items: flex-end;
      }

      .top-gap {
        padding-top: 1rem;
      }

      .login-component-form__section {
        .login-box-body {
          width: 60%;
          margin: auto;

          .login-logo {
            img {
              width: 100%;
            }
          }

          .login-box-msg {
            line-height: 1rem;
            word-break: break-word;
          }
        }
      }
    }
  }
}