div.content-wrapper
  div.container
    .body
      table#gridTableId
        border: none !important
        div#bundleGridIdWrapper
          div.ui-state-default
            border: none !important
            table.ui-jqgrid-htable
              border-collapse: initial !important
          table#bundleGridIdGrid
            border-collapse: initial
            border: none