<div class="asset-explorer-view-show-component">
	<section
		*ngIf="getDynamicConfiguration(); let config"
		class="page-asset-explorer-config">
		<div class="button-bar">
			<div class="inline">
				<!-- Asset Views dropdown -->
				<tds-asset-view-selector #select="tdsAssetViewSelector">
				</tds-asset-view-selector>

				<!-- Save / Save As button -->
				<tds-asset-show-save-button
					[config]="config"
					(save)="onSave()"
					(saveAs)="onSaveAs()"
				>
				</tds-asset-show-save-button>

				<!-- Favorite button -->
				<tds-button-custom
					[flat]="true"
					[icon]="'star'"
					[iconClass]="model.isFavorite ? 'is-solid' : ''"
					[tooltip]="
						model.isFavorite
							? 'Remove from Favorites'
							: 'Add to Favorites'
					"
					class="favorite-button text-yellow"
					(click)="onFavorite()"
				>
				</tds-button-custom>

				<!-- Just Planning checkbox -->
				<clr-checkbox-wrapper class="inline">
					<input
						clrCheckbox
						id="justPlanning"
						type="checkbox"
						name="justPlanning"
						class="component-action-just-planning"
						[(ngModel)]="justPlanning"
						(change)="
							onJustPlanningChange($event.currentTarget.checked)
						"
					/>
					<label
						class="clr-control-label clr-control-label-sm inline"
						for="justPlanning"
					>
						Just Planning
					</label>
				</clr-checkbox-wrapper>
			</div>

			<div class="float-right header-buttons">
				<!-- Create button -->
				<tds-asset-show-create-button
					*ngIf="assetExplorerViewGrid"
					[createButtonState]="
						assetExplorerViewGrid.createButtonState
					"
					(createAsset)="onCreateAsset($event)">
				</tds-asset-show-create-button>

				<!-- All other buttons -->
				<tds-grid-header-action-buttons
						(refresh)="onQuery()"
						[actionButtons]="headerActionButtons">
				</tds-grid-header-action-buttons>
			</div>
		</div>
		<div class="box-body">
			<asset-explorer-view-grid
				#assetExplorerViewGrid
				[hiddenFilters]="hiddenFilters"
				[data]="data"
				(modelChange)="onQuery()"
				[gridState]="gridState"
				(gridStateChange)="onGridStateChange($event)"
				[fields]="fields"
				[edit]="false"
				[model]="model.schema"
				[viewId]="model.id"
				[metadata]="metadata"
				[justPlanning]="justPlanning">
			</asset-explorer-view-grid>
		</div>
	</section>
</div>
