.datetime-modal-component
  .modal-body
    padding: 6px 18px 1px 18px !important
    .timezone-pin-hidden
      display: none !important
    .filters
      margin: 10px 5px
      label
        margin-right: 5px
        &:not(:nth-child(1))
          margin-left: 30px
      kendo-dropdownlist
        display: inline-block
  .modal-header
    cursor: move
