.custom-time-zone-dialog
  width: 35rem !important
  .datetime-modal-component
    .timezone-pin-hidden
      display: none !important
    .filters
      margin: 10px 5px
      label
        margin-right: 5px
        &:not(:nth-child(1))
          margin-left: 30px
      kendo-dropdownlist
        display: inline-block
