.user-preferences-component
  .modal
    width: 80%
  .modal-body
    overflow: hidden
    padding: 6px 18px 1px 18px !important
    table.clarity-table-grid
      width: 100%
      tbody
        height: 65vh
      .pref-label
        width: 200px
        max-width: 200px
      .pref-value
        text-overflow: ellipsis
        overflow: hidden
        width: 500px
        max-width: 500px
      .pref-remove
        width: 10%
        button
          margin: 0
      td
        padding-top: 5px !important
        padding-bottom: 5px !important
        padding-left: 10px !important
        overflow: auto

  .modal-header
    cursor: move
