.custom-user-manage-dialog
  width: 22rem !important
.user-manage-staff-component
  table
    width: 100%
  .buttons
    padding: 15px
    text-align: center
  .btn
    margin-right: 3px
  .name
    font-weight: bold
    padding: 4px 5px
    width: 15%
    vertical-align: top
  .value
    font: 12px/19px helvetica, arial, sans-serif
    padding: 5px 6px
  .clickable
    font-weight: bold
    cursor: pointer
  .team-container
    display: flex
    flex-direction: row
    .team-selector
      margin-bottom: 7px
    .team-selector-delete
      padding-top: 4px
      padding-left: 13px
