<div class="license-warning-component">
    <a class='licensing-error-warning btn' href="#"
       data-html="true"
       data-toggle="popover"
       tabindex="0"
       data-trigger="focus"
       data-content="
            <div class='license-warning-message' style='word-wrap: break-word;'>
                <p>  </p>
            </div>
            <div class='license-warning-message-button'>
                <button type='button' class='btn btn-primary' onClick='location.href=&quot;/tdstm/module/license/admin/list&quot;'>Administer License</button>
            </div>
        ">
        <i class="fa fa-fw fa-warning licensing-error-warning"></i>
    </a>
</div>