<div tds-handle-escape (escPressed)="cancelCloseDialog()" class="single-note-component modal fade in" id="single-note-component" data-backdrop="static" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-md" role="document">
		<div class="modal-content resizable" [style.width.px]="500">
			<div class="modal-header">
				<button (click)="cancelCloseDialog()" type="button" class="close" aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
				<h4 class="modal-title">{{singleNoteModel.modal.title}}</h4>
			</div>
			<div class="modal-body">
				<div class="modal-body-container">
					<form name="dependentForm" role="form" data-toggle="validator" #dependentForm='ngForm' class="form-horizontal left-alignment">
						<div class="box-body">
							<div class="row">
								<div class="col-md-12">
									<div class="form-group single-component">
										<textarea rows="8" id="singleNote" name="singleNote" class="form-control"
										          [(ngModel)]="note"
										          *ngIf="singleNoteModel.modal.type !== modalType.VIEW" tds-autofocus>
										</textarea>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="modal-footer form-group-center">

				<button type="button" (click)="onSave()" class="btn btn-primary pull-left"
				        *ngIf="singleNoteModel.modal.type !== modalType.VIEW"
				        [disabled]="note.trim() === ''">
					<span class="fa fa-fw fa-floppy-o"></span> Save
				</button>

				<button (click)="cancelCloseDialog()" type="button" class="btn btn-default pull-right">
					<span class="glyphicon glyphicon-ban-circle"></span>
					<span>Cancel</span>
				</button>

			</div>
		</div>
	</div>
</div>
