<!-- -->
<form name="providerForm" class="form-horizontal left-alignment">
    <div class="box-body">
        <div class="row">
            <div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">{{ 'GLOBAL.NAME' | translate}}: </label>
                    <div class="col-sm-9">
                        <label class="control-label label-detail">{{tagModel.name}}</label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="mergeTag" class="col-sm-3 control-label">
                        {{ 'ASSET_TAGS.TAG_LIST.MERGE_INTO' | translate}}:
                        <span class="error">*</span>
                    </label>
                    <div class="col-sm-9">
                        <kendo-dropdownlist required name="mergeTag" id="mergeTag"
                                            class="form-control"
                                            [data]="tagList"
                                            [textField]="'name'"
                                            [valueField]="'id'"
                                            [(ngModel)]="mergeToTag"
                                            [ngClass]="{'error': !mergeToTag || !mergeToTag.id}">
                        </kendo-dropdownlist>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
