<style>
    .sample-data-cell-max-line-height {
        display: block;
        text-overflow: ellipsis;
        max-height: 9.8em;
        line-height: 1.4em;
        word-break: break-word;
    }
</style>

<div class="modal fade in data-script-etl-builder-component tds-ui-modal-decorator" id="etlBuilder" data-backdrop="static" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-lg" role="document">
		<div #resizableForm class="modal-content resizable"
             tds-ui-modal-decorator=""
             [isWindowMaximized]="isWindowMaximized"
             [options]="modalOptions">

            <div class="modal-header">
                <h4 class="modal-title">{{ 'DATA_INGESTION.DATASCRIPT.DESIGNER.ETL_BUILDER_TITLE' | translate}} - {{ dataScriptModel.provider.name }} / {{ dataScriptModel.name }}</h4>
                <div class="tool-box">
                    <button id="btnMaximizeModal" *ngIf="!isWindowMaximized" (click)="maximizeWindow()" type="button"  class="full-screen" aria-label="Full screen">
                        <span class="glyphicon glyphicon-fullscreen" title="Full screen"></span>
                    </button>

                    <button id="btnRestoreModal" *ngIf="isWindowMaximized" (click)="restoreWindow()" type="button"  class="restore-screen" aria-label="Restore window size">
                        <span class="glyphicon glyphicon-resize-full" title="Restore window size"></span>
                    </button>

                    <button id="btnCloseDialog" (click)="cancelCloseDialog()" type="button" class="close-screen" aria-label="Close" title="Close">
                        <span class="glyphicon glyphicon-remove" title="Close"></span>
                    </button>
                </div>
			</div>

            <div class="modal-body">
                <div class="modal-body-container">
                    <!-- Action buttons bar -->
                    <div class="row">
                        <div class="col-md-12">
                            <tds-check-action
                                [disabled]="isTestDisabled()"
                                [name]="'Test'"
                                (onClick)="onTestScript()"
                                [(model)]="operationStatus.test">
                            </tds-check-action>
                            <tds-check-action
                                    [disabled]="isCheckSyntaxDisabled()"
                                    [name]="'Check Syntax'"
                                    (onClick)="onCheckScriptSyntax()"
                                    [(model)]="operationStatus.syntax">
                            </tds-check-action>
                            <button type="button" (click)="onLoadSampleData()" class="btn btn-default">
                                {{ 'DATA_INGESTION.DATASCRIPT.DESIGNER.LOAD_SAMPLE_DATA' | translate}}
                            </button>
                            <button type="button" [disabled]="!scriptTestResult.consoleLog" (click)="onViewConsole()" class="btn btn-default">
                                {{ 'DATA_INGESTION.DATASCRIPT.DESIGNER.VIEW_CONSOLE' | translate}}
                            </button>
                            <button class="pull-right btn btn-default" (click)="toggleSection('code')">
                                <i class="fa " [ngClass]="{'fa-angle-double-down':!collapsed.code,'fa-angle-double-right':collapsed.code}" style="padding-right:0px"></i>
                            </button>
                        </div>
                    </div>
                    <!-- Progress bar-->
                    <div class="row progressBar-row">
                        <div class="col-md-12 progressBar-container">
                            <div *ngIf="operationStatus.test.state === CHECK_ACTION.IN_PROGRESS"
                                 class="progress">
                                <div class="progress-bar progress-bar-striped active"
                                     [style.width.%]="testScriptProgress.currentProgress"></div>
                            </div>
                        </div>
                    </div>
                    <!-- Textarea code -->
                    <div class="row" *ngIf="!collapsed.code">
                        <div class="col-md-12">
                            <code-mirror *ngIf="!script || script.length === 0" #codeMirror [mode]="'groovy'" [(model)]="script" (change)="onScriptChange($event)" ></code-mirror>
                            <code-mirror *ngIf="script.length > 0" #codeMirror [mode]="'groovy'" [(model)]="script" (change)="onScriptChange($event)" ></code-mirror>
                        </div>
                    </div>
                    <!-- Save / Cancel buttons -->
                    <div class="row">
                        <div class="col-md-12">
                            <button [disabled]="script.length === 0 || !isScriptDirty() || (operationStatus.save && operationStatus.save !== 'success')" (click)="onSave()"
                                    type="button" class="btn btn-primary btn-resize pull-left">
                                <span class="fa fa-fw fa-floppy-o"></span>
                                {{'GLOBAL.SAVE' | translate }}
                                <i *ngIf="operationStatus.save === 'fail'" class="glyphicon glyphicon-remove" style="margin-left: 3px;"></i>
                            </button>
                            <button (click)="cancelCloseDialog()"
                                    type="button" class="btn btn-default btn-resize pull-right">
                                <span class="glyphicon glyphicon-ban-circle"></span> {{'GLOBAL.CANCEL' | translate }}</button>
                        </div>
                    </div>
                    <!-- Errors Panel -->
                    <div *ngIf="(testHasErrors() || syntaxHasErrors() ) && !closeErrorsSection" class="row" style="margin-top: 10px;">
                        <div class="col-md-12">
                            <span class="pull-left" style="color: #a94442;"><b>{{ 'DATA_INGESTION.DATASCRIPT.DESIGNER.SYNTAX_ERRORS' | translate }}</b></span>
                            <span class="pull-right" style="cursor: pointer;" (click)="closeErrors()">
                                <button aria-label="Close" class="close" type="button" style="margin-right: 5px; opacity: unset;">
					                <span aria-hidden="true">×</span>
				                </button>
                            </span>
                            <textarea *ngIf="testHasErrors()" class="form-control console"
                                      [(ngModel)]="scriptTestResult.error"
                                      cols="30" rows="3" readonly
                                      style="cursor: default; resize: vertical;"></textarea>
                            <textarea *ngIf="syntaxHasErrors()"
                                      class="form-control console"
                                      cols="30" rows="3" readonly
                                      style="cursor: default; resize: vertical;">{{getSyntaxErrors()}}</textarea>
                        </div>
                    </div>
                    <hr>
                    <!-- Sample Preview Panels -->
                    <div class="data-preview">
                        <div class="row">
                            <div class="col-md-12 sample-preview" >
                                <h4 class="pull-left">{{ 'DATA_INGESTION.DATASCRIPT.DESIGNER.SAMPLE_DATA_PREVIEW' | translate }}</h4>
                                <!-- <span *ngIf="showSampleDataRefresh()" -->
                                <span
                                      class="glyphicon glyphicon-refresh"
                                      style="margin-left: 5px; margin-top: 3px; cursor: pointer; color: #5e9fcf; font-weight: bold;"
                                      (click)="reloadSampleData()"
                                ></span>
                                <button class="pull-right btn btn-default" (click)="toggleSection('sample')">
                                    <i class="fa" [ngClass]="collapsed.sample ? 'fa-angle-double-right' : 'fa-angle-double-down'"></i>
                                </button>
                            </div>
                            <div class="col-md-12" *ngIf="!collapsed.sample && sampleDataModel && sampleDataModel.data" style="">
                                <kendo-grid [data]="sampleDataModel.data" [height]="sampleDataModel.gridHeight" [resizable]="true">
                                    <kendo-grid-column *ngFor="let column of sampleDataModel.columns" field="{{column.property}}" title="{{column.label}}" [width]="column.width">
                                        <ng-template kendoGridHeaderTemplate>
                                            <label>{{column.label}}</label>
                                        </ng-template>
                                        <ng-template kendoGridCellTemplate let-dataItem>
                                            <div class="sample-data-cell-max-line-height" title="{{dataItem[column.property] | utils: OBJECT_OR_LIST_PIPE}}">
                                                {{ dataItem[column.property] | utils: OBJECT_OR_LIST_PIPE }}
                                            </div>
                                        </ng-template>
                                    </kendo-grid-column>
                                </kendo-grid>
                            </div>
                        </div>
                        <hr>
                        <div class="row" *ngIf="scriptTestResult.domains.length > 0">
                            <label class="col-md-12">
                                <h4 class="pull-left">{{ 'DATA_INGESTION.DATASCRIPT.DESIGNER.TRANSFORMED_DATA_PREVIEW' | translate }}</h4>
                                <button data-toggle="collapse" data-target=".collapsible"
                                        (click)="toggleSection('transform')"
                                        class="btn btn-default pull-right">
                                    <i [ngClass]="collapsed.transform ? 'fa-angle-double-right' : 'fa-angle-double-down'"
                                       class="fa"></i>
                                </button>
                            </label>
                            <div class="col-md-12 collapse in collapsible">
                                <kendo-tabstrip>
                                    <kendo-tabstrip-tab [title]="domain.domain" [selected]="i===0" *ngFor="let domain of scriptTestResult.domains; let i = index;">
                                        <ng-template kendoTabContent>
                                            <div *ngIf="scriptTestResult.domains && (!testHasErrors() || !syntaxHasErrors())">
                                               <kendo-grid [data]="domain.data" [resizable]="true" class="test-results">
                                                    <kendo-grid-column class="test-results-row" *ngFor="let column of domain.fieldNames;
                                                               let columnIndex = index;"
                                                                       title="{{(domain.fieldLabelMap && domain.fieldLabelMap[column]) || column}}">
                                                        <ng-template kendoGridCellTemplate let-dataItem>
	                                                        <div *ngIf="dataItem.fields && dataItem.fields[column]"
	                                                             [ngClass]="{'has-init': !dataItem.fields[column].value && dataItem.fields[column].init}">
		                                                        {{getInitOrValue(dataItem.fields[column])}}
		                                                        <i [title]="MESSAGE_FIELD_WILL_BE_INITIALIZED" class="fa fa-w fa-info"></i>
	                                                        </div>
                                                        </ng-template>
                                                    </kendo-grid-column>
                                                </kendo-grid>
                                            </div>
                                        </ng-template>
                                    </kendo-tabstrip-tab>
                                </kendo-tabstrip>
                            </div>
                        </div>
                    </div>
                </div>
			</div>
		</div>
	</div>
</div>
