<div class="modal fade in" id="etlBuilder" data-backdrop="static" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button (click)="cancelCloseDialog()" type="button" class="close" aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
				<h4 class="modal-title">{{ 'DATA_INGESTION.ETL_BUILDER_TITLE' | translate}}</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-12">
						<button type="button" class="btn btn-default">{{ 'DATA_INGESTION.ETL_BUILDER.TEST' | translate}}</button>
						<button type="button" class="btn btn-default">{{ 'DATA_INGESTION.ETL_BUILDER.CHECK_SYNTAX' | translate}}</button>
						<button type="button" (click)="onLoadSampleData()" class="btn btn-default">{{ 'DATA_INGESTION.ETL_BUILDER.LOAD_SAMPLE_DATA' | translate}}</button>
						<button type="button" (click)="onViewConsole()" class="btn btn-default">{{ 'DATA_INGESTION.ETL_BUILDER.VIEW_CONSOLE' | translate}}</button>
					</div>
				</div>
				<div class="row">

				</div>
				<div class="row">
					<div class="col-md-12">
						<button type="button" class="btn btn-primary pull-left">
							<span class="fa fa-fw fa-floppy-o"></span> {{'GLOBAL.SAVE' | translate }}</button>
						<button (click)="cancelCloseDialog()" type="button" class="btn btn-default pull-right">
							<span class="glyphicon glyphicon-ban-circle"></span> {{'GLOBAL.CANCEL' | translate }}</button>
					</div>
				</div>
				<hr>
				<div class="row">
					<div class="col-md-12">
						<h4>Sample Data Preview</h4>
						<kendo-grid>

						</kendo-grid>
					</div>
				</div>
				<hr>
				<div class="row">
					<div class="col-md-12">
						<h4>Transformed Data Review</h4>
						<kendo-grid>

						</kendo-grid>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>