<div class="modal fade in data-script-etl-builder-component" id="etlBuilder" data-backdrop="static" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content resizable" #resizableForm  [style.width.px]="width" [style.height.px]="height">
			<div class="modal-header">
				<button (click)="cancelCloseDialog()" type="button" class="close" aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
				<h4 class="modal-title">{{ 'DATA_INGESTION.DATASCRIPT.DESIGNER.ETL_BUILDER_TITLE' | translate}} - {{ dataScriptModel.provider.name }} / {{ dataScriptModel.name }}</h4>
			</div>
			<div class="modal-body">
                <div class="modal-body-container">
                    <div class="row">
                        <div class="col-md-12">
                            <tds-check-action
                                    [disabled]="isTestDisabled()"
                                    [name]="'Test'"
                                    (onClick)="onTestScript()"
                                    [(model)]="operationStatus.test">
                            </tds-check-action>
                            <tds-check-action
                                    [disabled]="isCheckSyntaxDisabled()"
                                    [name]="'Check Syntax'"
                                    (onClick)="onCheckScriptSyntax()"
                                    [(model)]="operationStatus.syntax">
                            </tds-check-action>
                            <button type="button" (click)="onLoadSampleData()" class="btn btn-default">
                                {{ 'DATA_INGESTION.DATASCRIPT.DESIGNER.LOAD_SAMPLE_DATA' | translate}}
                            </button>
                            <button type="button" [disabled]="!scriptTestResult.consoleLog" (click)="onViewConsole()" class="btn btn-default">
                                {{ 'DATA_INGESTION.DATASCRIPT.DESIGNER.VIEW_CONSOLE' | translate}}
                            </button>
                            <button class="pull-right btn btn-default" (click)="toggleSection('code')">
                                <i class="fa " [ngClass]="{'fa-angle-double-down':!collapsed.code,'fa-angle-double-right':collapsed.code}" style="padding-right:0px"></i>
                            </button>
                        </div>
                    </div>
                    <div class="row" *ngIf="!collapsed.code">
                        <div class="col-md-12">
                            <code-mirror #codeMirror [mode]="'groovy'" [(model)]="script" (change)="onScriptChange($event)" ></code-mirror>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <button [disabled]="!isScriptDirty() || (operationStatus.save && operationStatus.save !== 'success')" (click)="onSave()"
                                    type="button" class="btn btn-primary btn-resize pull-left">
                                <span class="fa fa-fw fa-floppy-o"></span>
                                {{'GLOBAL.SAVE' | translate }}
                                <i *ngIf="operationStatus.save === 'fail'" class="glyphicon glyphicon-remove" style="margin-left: 3px;"></i>
                            </button>
                            <button (click)="cancelCloseDialog()"
                                    type="button" class="btn btn-default btn-resize pull-right">
                                <span class="glyphicon glyphicon-ban-circle"></span> {{'GLOBAL.CANCEL' | translate }}</button>
                        </div>
                    </div>
                    <div *ngIf="(testHasErrors() || syntaxHasErrors() ) && !closeErrorsSection" class="row" style="margin-top: 10px;">
                        <div class="col-md-12">
                            <span class="pull-left" style="color: #a94442;"><b>{{ 'DATA_INGESTION.DATASCRIPT.DESIGNER.SYNTAX_ERRORS' | translate }}</b></span>
                            <span class="pull-right" style="cursor: pointer;" (click)="closeErrors()">
                                <button aria-label="Close" class="close" type="button" style="margin-right: 5px; opacity: unset;">
					                <span aria-hidden="true">×</span>
				                </button>
                            </span>
                            <textarea *ngIf="testHasErrors()" class="form-control console"
                                      [(ngModel)]="scriptTestResult.error"
                                      cols="30" rows="3" readonly
                                      style="cursor: default; resize: vertical;"></textarea>
                            <textarea *ngIf="syntaxHasErrors()"
                                      class="form-control console"
                                      cols="30" rows="3" readonly
                                      style="cursor: default; resize: vertical;">{{getSyntaxErrors()}}</textarea>
                        </div>
                    </div>

                    <hr>
                    <div class="row">
                        <div class="col-md-12 sample-preview" >
                            <h4 class="pull-left">{{ 'DATA_INGESTION.DATASCRIPT.DESIGNER.SAMPLE_DATA_PREVIEW' | translate }}</h4>
                            <button class="pull-right btn btn-default" (click)="toggleSection('sample')">
                                <i class="fa" [ngClass]="{'fa-angle-double-down':!collapsed.sample,'fa-angle-double-right':collapsed.sample}" style="padding-right:0px"></i>
                            </button>
                        </div>
                        <div class="col-md-12" *ngIf="!collapsed.sample && sampleDataModel && sampleDataModel.data" style="">
                            <kendo-grid [data]="sampleDataModel.data" [height]="sampleDataModel.gridHeight" [resizable]="true">
                                <kendo-grid-column *ngFor="let column of sampleDataModel.columns" field="{{column.property}}" title="{{column.label}}" [width]="column.width">
                                    <ng-template kendoGridHeaderTemplate>
                                        <label> {{column.label}}</label>
                                    </ng-template>
                                </kendo-grid-column>
                            </kendo-grid>
                        </div>
                    </div>
                    <hr>
                    <div class="row" *ngIf="scriptTestResult.domains.length > 0">
                        <label class="col-md-12">
                            <h4 class="pull-left">{{ 'DATA_INGESTION.DATASCRIPT.DESIGNER.TRANSFORMED_DATA_PREVIEW' | translate }}</h4>
                            <button data-toggle="collapse" data-target=".collapsible"
                                    (click)="toggleSummary()"
                                    class="btn btn-default pull-right">
                                <i [ngClass]="{'fa-angle-double-right': !summaryCollapsed, 'fa-angle-double-down': summaryCollapsed}"
                                   class="fa"></i>
                            </button>
                        </label>
                        <!--<div class="col-md-12">
                            <h4 class="pull-left">{{ 'DATA_INGESTION.DATASCRIPT.DESIGNER.TRANSFORMED_DATA_PREVIEW' | translate }}</h4>
                        </div>-->
                        <div class="col-md-12">
                            <kendo-tabstrip>
                                <kendo-tabstrip-tab [title]="domain.domain" [selected]="i===0" *ngFor="let domain of scriptTestResult.domains; let i = index;">
                                    <ng-template kendoTabContent>
                                        <div *ngIf="scriptTestResult.domains && (!testHasErrors() || !syntaxHasErrors())">
                                           <kendo-grid [data]="domain.data" [resizable]="true">
                                                <kendo-grid-column *ngFor="let column of domain.fieldNames;
                                                           let columnIndex = index;"
                                                                   title="{{column}}">
                                                    <ng-template kendoGridCellTemplate let-dataItem>
                                                        {{dataItem.fields[column] ? dataItem.fields[column].value : '' }}
                                                    </ng-template>
                                                </kendo-grid-column>
                                            </kendo-grid>
                                        </div>
                                    </ng-template>
                                </kendo-tabstrip-tab>
                            </kendo-tabstrip>
                        </div>
                    </div>
                </div>
			</div>
		</div>
	</div>
</div>
