.field-setting-component
  .nav-tabs-custom
    .nav-tabs
     cursor: pointer
  field-settings-grid
    span.k-icon
      margin-left: 0px !important
  .text-delimited
    text-overflow: ellipsis
    white-space: nowrap
    overflow: hidden