tds-tranman-menu
  @media (max-width: 768px)
    margin-top: 49px
    position: relative
    display: block
.header-component
  @media (min-width: 768px)
    .container
      width: inherit
  @media (max-width: 991px)
    .navbar-custom-menu
      display: block
      position: absolute
      top: 0
      right: 40px