.header-component {
	background: #18394b;
}
.header-component .menu-top-container {
	margin: 0;
	padding: 0;
}
.header-component .branding {
	border: 2px solid #3c8dbc;
	height: 45px;
	width: 93px;
	overflow: hidden;
	min-width: 0;
	background: #fff;
}
.header-component .branding img {
	width: auto;
	height: 100%;
	margin: 0;
	padding: 0;
	border: 0;
}
.header-component .nav-icon-text {
	font-size: 14px;
	line-height: 14px;
}
.header-component .nav-icon-text clr-icon {
	margin: 0;
}
.header-component .user-account clr-icon {
	margin-top: -2px;
	color: #000;
	background: #ccc;
	border: #ccc solid 4px;
	border-radius: 50%;
}
@media (min-width: 768px) {
	.header-component .container {
		width: inherit;
	}
}
@media (max-width: 991px) {
	.header-component .navbar-custom-menu {
		display: block;
		position: absolute;
		top: 0;
		right: 40px;
	}
}
