div.license-warning-component
  .btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus
    outline: none
    outline: none
    box-shadow: none
  a.licensing-error-warning
    i
      margin-top: 8px