<div
  id="editTaskPopup"
  tabindex="-1"
  data-keyboard="false"
  class="asset-dependency-component"
  ng-class="{'dependency-show': !actionTypeEdit, 
            'dependency-edit': actionTypeEdit, 
            'uni-directional': !(assetDependency.assetA.dependency.id && assetDependency.assetB.dependency.id),
            'bi-directional': assetDependency.assetA.dependency.id && assetDependency.assetB.dependency.id}"
>
  <div class="tds-modal-content has-side-nav">
    <div class="modal-header">
      <button
        type="button"
        class="btn btn-icon close-button"
        ng-click="close()"
      >
        <i class="fas fa-times"></i>
      </button>
      <div class="modal-title-container">
        <h4 class="modal-title" style="padding:unset; margin:unset;">
          {{(!actionTypeEdit ? "Dependency Detail" : "Dependency Edit")}}
        </h4>
      </div>
    </div>
    <div class="modal-body">
      <div id="editCommentDialog">
        <loading-indicator></loading-indicator>
        <div>
          <div class="tds-table">
            <table style="border:unset;">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Class</th>
                  <th>Environment</th>
                  <th>Bundle</th>
                  <th>Plan Status</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{ assetDependency.assetA.name }}</td>
                  <td>{{ assetDependency.assetA.assetClass }}</td>
                  <td>{{ assetDependency.assetA.environment }}</td>
                  <td>{{ assetDependency.assetA.bundle }}</td>
                  <td>{{ assetDependency.assetA.planStatus }}</td>
                </tr>
                <tr>
                  <td
                    style="border-width: 1px;"
                    colspan="5"
                    class="lbl-asset-dependency-direction"
                  >
                    <span
                      ng-if="assetDependency.assetA.dependency.id && !assetDependency.assetB.dependency.id"
                      ><i class="fas fa-arrow-down"></i> Depends On</span
                    >
                    <span
                      ng-if="assetDependency.assetA.dependency.id && assetDependency.assetB.dependency.id"
                      ><i class="fas fa-arrows-alt-v"></i> Bi-Directional
                      Dependencies</span
                    >
                    <span
                      ng-if="!assetDependency.assetA.dependency.id && !assetDependency.assetB.dependency.id"
                      style="color: darkred;"
                      ><i class="fas fa-times"></i> Dependency was not
                      found.</span
                    >
                  </td>
                </tr>
                <tr>
                  <td>{{ assetDependency.assetB.name }}</td>
                  <td>{{ assetDependency.assetB.assetClass }}</td>
                  <td>{{ assetDependency.assetB.environment }}</td>
                  <td>{{ assetDependency.assetB.bundle }}</td>
                  <td>{{ assetDependency.assetB.planStatus }}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <form
            class="form-horizontal dependency-edit-fields"
            ng-if="assetDependency.assetA.dependency.id || assetDependency.assetB.dependency.id"
          >
            <div
              class="dependencies"
              ng-if="assetDependency.assetA.dependency.id || assetDependency.assetB.dependency.id"
            >
              <div
                class="dependency-row has-both-dependencies"
                ng-if="assetDependency.assetA.dependency.id && assetDependency.assetB.dependency.id"
              >
                <div class="dependency-a" style="grid-column-start: 2;">
                  {{ assetDependency.assetA.name }} <br />
                  <i style="margin-left: -6px;" class="fas fa-arrow-down"></i>
                  <span style="color: #D1B9EE;">Depends On</span><br />
                  {{ assetDependency.assetB.name }}
                </div>
                <div class="dependency-b" style="grid-column-start: 3;">
                  {{ assetDependency.assetB.name }} <br />
                  <i style="margin-left: -6px;" class="fas fa-arrow-down"></i>
                  <span style="color: #D1B9EE;">Depends On</span><br />
                  {{ assetDependency.assetA.name }}
                </div>
              </div>

              <div class="dependency-row">
                <div class="dependency-row-legend">Frequency</div>
                <div class="dependency-a">
                  <label ng-if="!actionTypeEdit" class="dependency-label"
                    >{{ assetDependency.assetA.dependency.dataFlowFreq }}</label
                  >
                  <div ng-if="actionTypeEdit" class="clr-select-wrapper">
                    <select
                      class="clr-select"
                      ng-change="changeData()"
                      ng-class="{'delete-property': assetDependency.assetA.delete}"
                      ng-model="assetDependency.assetA.dependency.dataFlowFreq"
                      ng-options="frequency as frequency for frequency in assetDependency.dataFlowFreq"
                    ></select>
                  </div>
                </div>
                <div class="dependency-b">
                  <label ng-if="!actionTypeEdit" class="dependency-label"
                    >{{ assetDependency.assetB.dependency.dataFlowFreq }}</label
                  >
                  <div ng-if="actionTypeEdit" class="clr-select-wrapper">
                    <select
                      class="clr-select"
                      ng-class="{'delete-property': assetDependency.assetB.delete}"
                      ng-change="changeData()"
                      class="form-control"
                      ng-model="assetDependency.assetB.dependency.dataFlowFreq"
                      ng-options="frequency as frequency for frequency in assetDependency.dataFlowFreq"
                    ></select>
                  </div>
                </div>
              </div>
              <div class="dependency-row">
                <div class="dependency-row-legend">Type</div>
                <div class="dependency-a">
                  <label ng-if="!actionTypeEdit" class="dependency-label"
                    >{{ assetDependency.assetA.dependency.type }}</label
                  >
                  <div ng-if="actionTypeEdit" class="clr-select-wrapper">
                    <select
                      class="clr-select"
                      ng-change="changeData()"
                      ng-class="{'delete-property': assetDependency.assetA.delete}"
                      class="form-control"
                      ng-model="assetDependency.assetA.dependency.type"
                      ng-options="type as type for type in assetDependency.dependencyType"
                    ></select>
                  </div>
                </div>
                <div class="dependency-b">
                  <label ng-if="!actionTypeEdit" class="dependency-label"
                    >{{ assetDependency.assetB.dependency.type }}</label
                  >
                  <div ng-if="actionTypeEdit" class="clr-select-wrapper">
                    <select
                      class="clr-select"
                      ng-class="{'delete-property': assetDependency.assetB.delete}"
                      ng-change="changeData()"
                      class="form-control"
                      ng-model="assetDependency.assetB.dependency.type"
                      ng-options="type as type for type in assetDependency.dependencyType"
                    ></select>
                  </div>
                </div>
              </div>
              <div class="dependency-row">
                <div class="dependency-row-legend">Status</div>
                <div class="dependency-a">
                  <label ng-if="!actionTypeEdit" class="dependency-label"
                    >{{ assetDependency.assetA.dependency.status }}</label
                  >
                  <div ng-if="actionTypeEdit" class="clr-select-wrapper">
                    <select
                      class="clr-select"
                      ng-change="changeData()"
                      ng-class="{'delete-property': assetDependency.assetA.delete}"
                      class="form-control"
                      ng-model="assetDependency.assetA.dependency.status"
                      ng-options="status as status for status in assetDependency.dependencyStatus"
                    ></select>
                  </div>
                </div>
                <div class="dependency-b">
                  <label ng-if="!actionTypeEdit" class="dependency-label"
                    >{{ assetDependency.assetB.dependency.status }}</label
                  >
                  <div ng-if="actionTypeEdit" class="clr-select-wrapper">
                    <select
                      class="clr-select"
                      ng-class="{'delete-property': assetDependency.assetB.delete}"
                      ng-change="changeData()"
                      class="form-control"
                      ng-model="assetDependency.assetB.dependency.status"
                      ng-options="status as status for status in assetDependency.dependencyStatus"
                    ></select>
                  </div>
                </div>
              </div>
              <div class="dependency-row">
                <div class="dependency-row-legend">Direction</div>
                <div class="dependency-a">
                  <label ng-if="!actionTypeEdit" class="dependency-label"
                    >{{ assetDependency.assetA.dependency.dataFlowDirection
                    }}</label
                  >

                  <div ng-if="actionTypeEdit" class="clr-select-wrapper">
                    <select
                      class="clr-select"
                      ng-change="changeData()"
                      ng-class="{'delete-property': assetDependency.assetA.delete}"
                      class="form-control"
                      ng-model="assetDependency.assetA.dependency.dataFlowDirection"
                      ng-options="status as status for status in dataFlowDirection"
                    ></select>
                  </div>
                </div>
                <div class="dependency-b">
                  <label ng-if="!actionTypeEdit" class="dependency-label"
                    >{{ assetDependency.assetB.dependency.dataFlowDirection
                    }}</label
                  >
                  <div ng-if="actionTypeEdit" class="clr-select-wrapper">
                    <select
                      class="clr-select"
                      ng-change="changeData()"
                      ng-class="{'delete-property': assetDependency.assetB.delete}"
                      class="form-control"
                      ng-model="assetDependency.assetB.dependency.dataFlowDirection"
                      ng-options="status as status for status in dataFlowDirection"
                    ></select>
                  </div>
                </div>
              </div>
              <div class="dependency-row">
                <div class="dependency-row-legend">C1</div>
                <div class="dependency-a">
                  <label ng-if="!actionTypeEdit" class="dependency-label"
                    >{{ assetDependency.assetA.dependency.c1 }}</label
                  >
                  <input
                    ng-if="actionTypeEdit"
                    ng-change="changeData()"
                    type="text"
                    ng-class="{'delete-property': assetDependency.assetA.delete}"
                    class="clr-input"
                    ng-model="assetDependency.assetA.dependency.c1"
                  />
                </div>
                <div class="dependency-b">
                  <label ng-if="!actionTypeEdit" class="dependency-label"
                    >{{ assetDependency.assetB.dependency.c1 }}</label
                  >
                  <input
                    ng-if="actionTypeEdit"
                    ng-change="changeData()"
                    type="text"
                    ng-class="{'delete-property': assetDependency.assetB.delete}"
                    class="clr-input"
                    ng-model="assetDependency.assetB.dependency.c1"
                  />
                </div>
              </div>
              <div class="dependency-row">
                <div class="dependency-row-legend">C2</div>
                <div class="dependency-a">
                  <label ng-if="!actionTypeEdit" class="dependency-label"
                    >{{ assetDependency.assetA.dependency.c2 }}</label
                  >
                  <input
                    ng-if="actionTypeEdit"
                    ng-change="changeData()"
                    type="text"
                    ng-class="{'delete-property': assetDependency.assetA.delete}"
                    class="clr-input"
                    ng-model="assetDependency.assetA.dependency.c2"
                  />
                </div>
                <div class="dependency-b">
                  <label ng-if="!actionTypeEdit" class="dependency-label"
                    >{{ assetDependency.assetB.dependency.c2 }}</label
                  >
                  <input
                    ng-if="actionTypeEdit"
                    ng-change="changeData()"
                    type="text"
                    ng-class="{'delete-property': assetDependency.assetB.delete}"
                    class="clr-input"
                    ng-model="assetDependency.assetB.dependency.c2"
                  />
                </div>
              </div>
              <div class="dependency-row">
                <div class="dependency-row-legend">C3</div>
                <div class="dependency-a">
                  <label ng-if="!actionTypeEdit" class="dependency-label"
                    >{{ assetDependency.assetA.dependency.c3 }}</label
                  >
                  <input
                    ng-if="actionTypeEdit"
                    ng-change="changeData()"
                    type="text"
                    ng-class="{'delete-property': assetDependency.assetA.delete}"
                    class="clr-input"
                    ng-model="assetDependency.assetA.dependency.c3"
                  />
                </div>
                <div class="dependency-b">
                  <label ng-if="!actionTypeEdit" class="dependency-label"
                    >{{ assetDependency.assetB.dependency.c3 }}</label
                  >
                  <input
                    ng-if="actionTypeEdit"
                    ng-change="changeData()"
                    type="text"
                    ng-class="{'delete-property': assetDependency.assetB.delete}"
                    class="clr-input"
                    ng-model="assetDependency.assetB.dependency.c3"
                  />
                </div>
              </div>
              <div class="dependency-row">
                <div class="dependency-row-legend">C4</div>
                <div class="dependency-a">
                  <label ng-if="!actionTypeEdit" class="dependency-label"
                    >{{ assetDependency.assetA.dependency.c4 }}</label
                  >
                  <input
                    ng-if="actionTypeEdit"
                    ng-change="changeData()"
                    type="text"
                    ng-class="{'delete-property': assetDependency.assetA.delete}"
                    class="clr-input"
                    ng-model="assetDependency.assetA.dependency.c4"
                  />
                </div>
                <div class="dependency-b">
                  <label ng-if="!actionTypeEdit" class="dependency-label"
                    >{{ assetDependency.assetB.dependency.c4 }}</label
                  >
                  <input
                    ng-if="actionTypeEdit"
                    ng-change="changeData()"
                    type="text"
                    ng-class="{'delete-property': assetDependency.assetB.delete}"
                    class="clr-input"
                    ng-model="assetDependency.assetB.dependency.c4"
                  />
                </div>
              </div>
              <div class="dependency-row">
                <div class="dependency-row-legend">Comment</div>
                <div class="dependency-a">
                  <label
                    ng-if="!actionTypeEdit"
                    class="dependency-label-comment"
                    >{{ assetDependency.assetA.dependency.comment }}</label
                  >
                  <div
                    ng-if="!actionTypeEdit && (assetDependency.assetA.dependency.id && assetDependency.assetB.dependency.id) && assetDependency.editPermission"
                  >
                    <button
                      type="button"
                      ng-click="toDeleteDependency('assetA', false)"
                      class="btn btn-icon btn-danger"
                    >
                      <i class="far fa-trash-alt"></i>
                      Delete
                    </button>
                  </div>

                  <div ng-if="actionTypeEdit" class="clr-control-container">
                    <textarea
                      maxlength="65535"
                      ng-class="{'delete-property': assetDependency.assetA.delete}"
                      ng-change="changeData()"
                      class="clr-textarea"
                      rows="2"
                      ng-model="assetDependency.assetA.dependency.comment"
                    ></textarea>
                  </div>
                </div>
                <div class="dependency-b">
                  <label
                    ng-if="!actionTypeEdit"
                    class="dependency-label-comment"
                    >{{ assetDependency.assetB.dependency.comment }}</label
                  >

                  <div
                    ng-if="!actionTypeEdit && assetDependency.editPermission"
                  >
                    <button
                      type="button"
                      ng-click="toDeleteDependency('assetB', false)"
                      class="btn btn-icon btn-danger"
                    >
                      <i class="far fa-trash-alt"></i>
                      Delete
                    </button>
                  </div>
                  <div ng-if="actionTypeEdit" class="clr-control-container">
                    <textarea
                      maxlength="65535"
                      ng-class="{'delete-property': assetDependency.assetB.delete}"
                      ng-change="changeData()"
                      class="clr-textarea"
                      rows="2"
                      ng-model="assetDependency.assetB.dependency.comment"
                    ></textarea>
                  </div>
                </div>
              </div>
            </div>

            <div class="dependencies">
              <div class="dependency-row">
                <div class="dependency-row-legend">Date Created</div>
                <div class="dependency-a">
                  <label class="dependency-label"
                    >{{ assetDependency.assetA.dateCreated }}</label
                  >
                </div>
                <div class="dependency-b">
                  <label class="dependency-label"
                    >{{ assetDependency.assetB.dateCreated }}</label
                  >
                </div>
              </div>
              <div class="dependency-row">
                <div class="dependency-row-legend">Date Updated</div>
                <div class="dependency-a">
                  <label class="dependency-label"
                    >{{ assetDependency.assetA.lastUpdated }}</label
                  >
                </div>
                <div class="dependency-b">
                  <label class="dependency-label"
                    >{{ assetDependency.assetB.lastUpdated }}</label
                  >
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="modal-sidenav form-group-center">
      <nav class="modal-sidenav btn-link">
        <button
          type="button"
          id="editDependency"
          class="btn btn-icon"
          ng-click="onEditDependency(true)"
          ng-if="(!actionTypeEdit && assetDependency.editPermission) && (assetDependency.assetA.dependency.id || assetDependency.assetB.dependency.id)"
        >
          <i class="fas fa-edit"></i>
        </button>

        <button
          type="button"
          id="editDependency"
          class="btn btn-icon selected-button"
          ng-if="(actionTypeEdit) && (assetDependency.assetA.dependency.id || assetDependency.assetB.dependency.id)"
        >
          <i class="fas fa-edit"></i>
        </button>

        <button
          type="button"
          id="saveAndCloseDependency"
          ng-click="onClickUpdate()"
          ng-disabled="!isDirty"
          class="btn btn-icon"
          ng-if="actionTypeEdit"
        >
          <i class="far fa-save"></i>
        </button>

        <button
          type="button"
          id="deleteDependency"
          class="btn btn-icon"
          ng-click="toDeleteDependency('assetA', true)"
          ng-if="(assetDependency.assetA.dependency.id && !assetDependency.assetB.dependency.id) && assetDependency.editPermission"
        >
          <i class="far fa-trash-alt"></i>
        </button>

        <button
          type="button"
          class="btn btn-icon"
          ng-click="close()"
          ng-if="!actionTypeEdit"
        >
          <i class="fas fa-ban"></i>
        </button>

        <button
          type="button"
          class="btn btn-icon"
          ng-click="onEditDependency(false)"
          ng-if="actionTypeEdit"
        >
          <i class="fas fa-ban"></i>
        </button>

        <tds-button-close tooltip="Close" (click)="cancelCloseDialog()">
        </tds-button-close>
      </nav>
    </div>
  </div>

  <style>
    .tds-table .lbl-asset-dependency-direction,
    form.dependency-edit-fields td.legend-fields {
      font-weight: bold;
      color: green;
      font: 12px helvetica, arial, sans-serif !important;
    }

    form.dependency-edit-fields table {
      border: 0px;
    }

    form.dependency-edit-fields div.form-group {
      height: 24px;
      font: 12px helvetica, arial, sans-serif !important;
    }

    form.dependency-edit-fields label.control-label {
      text-align: left;
      font-weight: inherit;
    }

    form.dependency-edit-fields label.control-label-title {
      font-weight: bold;
    }

    .delete-property {
      text-decoration: line-through;
    }

    .dependency-label {
      max-width: 200px;
      overflow: hidden;
    }

    .dependency-label-comment {
      height: 70px;
      overflow: auto;
      width: 200px;
    }

    .dependency-text-comment {
      resize: none;
      height: 65px;
      width: 200px;
    }

    .separator-table {
      border-top: 2px solid #f4f4f4 !important;
      margin-top: 10px !important;
    }
  </style>
</div>
