.notice-view-edit 
    .modal-footer 
        tds-button-custom 
            margin-left: 5px


kendo-dropdownlist
    .k-dropdown-wrap, .k-dropdown-wrap:hover
        background-image: none !important
        background-color: transparent !important