.notice-edit-content
  .clr-row
    label
      margin-top: 6px
  .label-detail
    text-align: left 
    font-weight: normal
  .form-control[readonly],
  .readonly-control
    background-color: unset
    cursor: not-allowed
  input[type='checkbox']
    cursor: pointer
  input[type='checkbox'].is-disabled
    cursor: not-allowed
  .vertical-label
    margin-bottom: 4px
  .locked-container
    display: flex
    flex-direction: row
    align-items: center
    label
      margin-right: 10px
    input.is-disabled
      cursor: not-allowed
  .k-widget.form-control
    .k-input
      height: unset
  .k-dropdown.ng-invalid
    span
      color: unset
      border: unset
  .required-field::after
    content: "*"
    color: $color-message-error--red
    margin-left: 4px
  kendo-editor
    height: 350px
    kendo-editor-format-dropdownlist
      kendo-dropdownlist
        width: 150px


