.notice-list-component {
  .button-create-license {
    margin-left: 16px
  }

  .k-grid-norecords td {
    cursor: inherit !important;
  }
}

.notice-view-html-content {
  .modal-body {
    min-height: 282px;
    max-height: 282px;
    overflow-y: auto;
  }
}