.notice-list-component {
  .button-create-license {
    margin-left: 16px
  }

  .k-grid-norecords td {
    cursor: inherit !important;
  }
}

.notice-view-html-content {
  .modal-dialog {
    left: 0 !important;
    .tds-modal-content {
      width: 517px;
      border: solid 1px #0077b8;
      margin: 0 auto;
      left: 0 !important;
      top: 1rem !important;
      position: relative !important;
      margin-left: auto !important;
    }
  }
  
  .modal-body {
    min-height: 282px;
    max-height: 282px;
    overflow-y: auto;
  }

  .modal-header {
    border-bottom: 1px solid #e5e5e5;
  }
}

.modal {
  padding: 0 !important;
}