.notice-list-component {
  .button-create-license {
    margin-left: 16px
  }

  .k-grid-norecords td {
    cursor: inherit !important;
  }
}

.custom-notice-view-html-dialog {
  width: 25.5rem !important;
  .modal-content {
    min-height: 412px;
  }
}

.notice-view-html-content {

}

.modal {
  padding: 0 !important;
}
