.event-news-view-edit-component
    .control-label
        padding-right: 2px
        text-align: left
    .label-detail
        text-align: left
        font-weight: normal
    .clr-form-control
        margin-top: unset
    .clr-control-container
        width: 100%
        textarea
          width: 100%
        .clr-textarea
          max-width: unset
    .modal-footer
      tds-button-custom
        margin-left: 5px
    .clarity-checkbox-margin-top
      margin-top: 7px