
<div class="modal-header legacy-modal-header-s">
	<h3>Create a recipe</h3>
</div>
<div class="modal-body legacy-modal-body-s">
	<form class="form-horizontal create-recipe-form" id="createRecipeForm" name="createRecipeForm" role="form" novalidate >
	<tabset class="create-recipe-tabs">
		<tab heading="Brand New Recipe" active="clone.activeTabs.newRecipe">
			<div class="form-group">
				<label for="inputName" class="col-sm-2 control-label">Name*</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="inputName" placeholder="" name="inputName" ng-model="newRecipe.name" required>
					<div ng-show="createRecipeForm.inputName.$dirty && createRecipeForm.inputName.$invalid">
						<pre class="error-msg" ng-show="createRecipeForm.inputName.$error.required">Recipe Name is required.</pre>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label for="textareaDescription" class="col-sm-2 control-label">Description</label>
				<div class="col-sm-10">
					<textarea class="form-control" rows="3" id="textareaDescription" placeholder="" ng-model="newRecipe.description"></textarea>
				</div>
			</div>
		</tab>

		<tab heading="Clone An Existing Recipe" active="clone.activeTabs.clone" ng-click="refreshGrid()">
			<div class="cloneSelectors">
				<div class="form-group">
					<label class="col-sm-2 control-label" for="projectSelect">Project</label>
					<div class="col-sm-10">
						<div class="clr-select-wrapper">
							<select class="form-control" name="projectSelect" id="cloneprojectSelect" ng-model="clone.selectedProject" ng-change="optionsSelected('project')">
								<option value="">Please select</option>
								<option ng-value="$index" ng-repeat="item in clone.projectsArray">{{item.name}}</option>
							</select>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Recipe to clone</label>
					<div class="col-sm-10">
						<div class="gridStyle form-control" ng-grid="clone.projectsGrid" style="padding:0"></div>
					</div>
				</div>
				<div class="form-group">
					<label for="recipeName" class="col-sm-2 control-label">Name</label>
					<div class="col-sm-10">
						<input type="text" id="recipeName" name="recipeName" ng-model="clone.newRecipe.name" class="form-control">
					</div>
				</div>
				<div class="form-group">
					<label for="recipeDescription" class="col-sm-2 control-label">Description</label>
					<div class="col-sm-10">
						<input type="text" id="recipeDescription" name="recipeDescription" ng-model="clone.newRecipe.description" class="form-control">
					</div>
				</div>
			</div>
		</tab>
	</tabset>
	</form>
</div>
<div class="modal-sidenav form-group-center">
	<nav class="modal-sidenav btn-link">
		<button type="button" class="btn btn-icon" name="save-button" value="Save" ng-disabled="(clone.activeTabs.newRecipe && (createRecipeForm.$invalid || isUnchanged(newRecipe))) || (!clone.activeTabs.newRecipe && (!clone.newRecipe.name || !clone.projectsGrid.selectedItems[0]))" ng-click="save()">
			<i class="far fa-save"></i>
		</button>
		<button type="button" class="btn btn-icon" name="cancel-button" value="Cancel" ng-click="cancel()">
			<i class="fas fa-ban"></i>
		</button>
	</nav>
</div>
