.page-asset-explorer-config
  div.item
    max-width: 200px
    display: inline-block
    padding-left: 15px
    padding-right: 20px
    cursor: pointer
    margin-bottom: 1px
    height: 35px
    border: 1px solid #3c8dbc
  i.freeze-column
    color: #222
  i.not-freeze-column
    color: #b0b1b5