.data-script-list-component
  .k-grid-table tbody td:not(:first-child)
    cursor: pointer
  .k-grid
    tr.k-state-selected  td:first-child
      background-color: white !important
    kendo-datepicker
      height: 31px