.default-list-component
  .k-grid-content-locked .k-grid-table tbody td:not(:first-child)
    cursor: pointer
  .k-grid-content .k-grid-table tbody td
    cursor: pointer
  .k-grid
    tr.k-state-selected
      background-color: rgba(95, 159, 207, 0.25) !important
    kendo-datepicker
      height: 31px

  .reload-grid-button
    margin: 0px 13px 0px 13px
    cursor: pointer
    color: #f6f6f6
    .glyphicon
      top: 3px
      font-weight: bold