@import "../../base/taskstatus-mixins"

.task-detail-component
  .tds-angular-component-content
    .successor-predecessor-table
      max-height: 200px
  .modal-content
    min-height: 760px
    min-width: 769px
    @-moz-document url-prefix()
      display: inline-block
    .modal-body
      height: 86%
      form
        .duplicate-error
          font-weight: normal
          color: $color-message-error--red
          float: right
        td.valueNW
          width: 160px
          max-width: 160px
          .read-only-dates
            padding-left: 5px
          kendo-dropdownlist
            span.k-dropdown-wrap
              background: white
          kendo-dropdownlist.status
            margin: 0;
            padding: 0;
            border: 0;
            display: inline-flex
            outline-style: none
            span.k-dropdown-wrap
              background: inherit
              color: inherit
              span.k-select
                border-left: 0
        td.description-container
          max-width: 100%
          input
            width: 92%
          button
            float: right
        kendo-dropdownlist.k-widget.k-dropdown,
        kendo-datepicker.k-widget.k-datepicker,
        kendo-dateinput.k-widget.k-dateinput,
        .instructions-link  input,
        textarea
          width: 100%
        .estimated-finish
          display: flex
          justify-content: space-between
          width: 100%
          align-items: center
          .estimated-date-container
            width: 90%
          .delete-command
            cursor: pointer
        .clickable
          input
            cursor: pointer
        .duration-controls
          display: flex
          align-items: center
          justify-content: space-between
          .duration-value
            flex: 32%
            display: flex
            flex-direction: column
            input
              width: 95%
              text-align: center
            label
              font-weight: normal
              margin-bottom: 0
              width: 85%
              text-align: center
          .lock-state
            cursor: pointer;

      .task-layout
        display: flex
        flex-direction: column
      .full-height
        height: 100%
        display: inline-flex
      .grow-container
        display: flex
        flex: 1
        td
          flex: 1
          position: relative
          .k-grid
            position: relative
            min-height: 100%
            max-height: 150px;
      .no-grow-container
        flex: 0
        .task-details
          display: flex
          flex-direction: column
        .dates-info-container
          display: flex
    .modal-footer
      padding: 15px 18px

  .successor-predecessor-table
    .k-grid-content
      td
        label
          font-weight: normal
    thead
      th.k-header
        a
          text-align: left
    td
      padding-top: 8px !important
      padding-bottom: 4px !important
  .btn-collapsed-fixed-right
    position: absolute
    right: 20px
    button.btn
      padding: 4px 9px
      i
        padding-right: 0px

.task-detail-component.tds-ui-modal-decorator
  overflow-y: auto!important


// Give more specificity to status rules in order to avoid the use of important in task-status.sass
.task-detail-component
  .task-status
    .task-hold
      @include task-hold

    .task-hold_overtime
      @include task-hold_overtime

    .task-planned
      @include task-planned

    .task-pending
      @include task-pending

    .task-ready
      @include task-ready

    .task-started
      @include task-started

    .task-completed2
      @include task-completed2

    .task-completed5
      @include task-completed5

    .task-completed
      @include task-completed

    .task-done2
      @include task-done2

    .task-done5
      @include task-done5

    .task-done
      @include task-done

    .task-na
      @include task-na

    .task-term
      @include task-term

    .task-tardy
      @include task-tardy

    .task-late
      @include task-late

    .task-overdue
      @include task-overdue