.task-detail-component
  .tds-angular-component-content
    .successor-predecessor-table
      max-height: 200px
  .modal-content
    min-height: 760px
    min-width: 769px
    @-moz-document url-prefix()
      display: inline-block
    .modal-body
      height: 86%
      form
        .duplicate-error
          font-weight: normal
          color: $color-message-error--red
          float: right
        td.valueNW
          width: 160px
          max-width: 160px
          .read-only-dates
            padding-left: 5px
          kendo-dropdownlist
            span.k-dropdown-wrap
              background: white
          kendo-dropdownlist.status
            margin: 0;
            padding: 0;
            border: 0;
            span.k-dropdown-wrap
              background: inherit
              color: inherit
        td.description-container
          max-width: 100%
          input
            width: 92%
          button
            float: right
        kendo-dropdownlist.k-widget.k-dropdown,
        kendo-datepicker.k-widget.k-datepicker,
        kendo-dateinput.k-widget.k-dateinput,
        .instructions-link  input,
        textarea
          width: 100%
        .estimated-finish
          display: flex
          justify-content: space-between
          width: 100%
          align-items: center
          .k-dateinput
            width: 90%
          .delete-command
            cursor: pointer
        .clickable
          input
            cursor: pointer
        .duration-controls
          display: flex
          align-items: center
          justify-content: space-between
          .duration-value
            flex: 32%
            display: flex
            flex-direction: column
            input
              width: 95%
              text-align: center
            label
              font-weight: normal
              margin-bottom: 0
              width: 85%
              text-align: center
          .lock-state
            cursor: pointer;

      .task-layout
        display: flex
        flex-direction: column
      .full-height
        height: 100%
        display: inline-flex
      .grow-container
        display: flex
        flex: 1
        td
          flex: 1
          position: relative
          .k-grid
            position: relative
            min-height: 100%
            max-height: 150px;
      .no-grow-container
        flex: 0
        .task-details
          display: flex
          flex-direction: column
        .dates-info-container
          display: flex
    .modal-footer
      padding: 15px 18px

  .successor-predecessor-table
    .k-grid-content
      td
        label
          font-weight: normal
    thead
      th.k-header
        a
          text-align: left
    td
      padding-top: 8px !important
      padding-bottom: 4px !important
  .btn-collapsed-fixed-right
    position: absolute
    right: 20px
    button.btn
      padding: 4px 9px
      i
        padding-right: 0px

.task-detail-component.tds-ui-modal-decorator
  overflow-y: auto!important
