.task-detail-component
  .successor-predecessor-table
    thead
      th.k-header
        a
          text-align: left
    td
      padding-top: 8px !important
      padding-bottom: 8px !important
  .btn-collapsed-fixed-right
    position: fixed
    right: 20px
    button.btn
      i
        padding-right: 0px