.task-comment-component
  .task
    margin-right: 30px
  .form-check-label
    margin-bottom: 0px
    font-size: 12px
    cursor: pointer
    input
      height: inherit !important
  .form-check-label
    margin-left: 15px
  .btn-add
    height: 24px
    width: 59px
    .fa
      width: 17px
      margin-left: -6px
    span
      position: relative
      top: -1px
  .btn-action
    height: 28px
    width: 59px
    .fa,
    .glyphicon
      font-size: 14px
  .single-right-btn-action
    text-align: right
    margin-right: 3px
  .k-grid-ignore-click
    display: inline-grid
    grid-template-columns: 45px 45px
    margin-left: 9px
    [hidden]
      visibility: hidden

