div.content-wrapper
  font-size: 12px
  background-color: $color-main--dark
  div.container
    margin-right: 0
    margin-left: 0
    width: 100% !important
    section.content-header
      padding: 8px 15px 0px 15px
    section
      div.box-body
        div.box
          ul.nav
            background: inherit
            border: inherit
            margin-top: inherit
            padding: inherit
      div.box-with-empty-header
        padding: 0px

input[type=text]::-ms-clear
  display: none
  
@media (max-width: 991px)
  section.content-header
    > .licensing-banner-message
      right: 0px !important
