body > .wrapper {
	padding-top: 45px;
}
.main-header {
	-webkit-font-smoothing: antialiased !important;
	-moz-osx-font-smoothing: grayscale !important;
	font-family: 'Roboto', 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial,
		sans-serif !important;
	font-weight: 500;
	font-size: 14px !important;
	z-index: 80 !important;
	position: relative;
	top: 0;
	left: 0;
	right: 0;

	.navbar {
		background-color: $color-active-dark3 !important;
		min-height: 45px;
	}

	.navbar-header {
		float: left;

		.navbar-toggle {
			float: left !important;
		}
	}

	.dropdown-menu {
		left: -1px;
	}
	.dropdown-menu .active {
		> a,
		> a:focus,
		> a:hover {
			position: relative;
			color: $color-text;
			background-color: transparent;
		}
		> a:after {
			content: '';
			background-color: $color-active;
			display: block;
			position: absolute;
			bottom: 5px;
			left: 15px;
			right: 15px;
			height: 3px;
		}
		> a:hover:after {
			background-color: $color-text-inverse;
		}
	}

	.container-fluid > .navbar-collapse,
	.container-fluid > .navbar-header,
	.container > .navbar-collapse,
	.container > .navbar-header {
		margin-left: 0px !important;
	}

	.menu-top-container {
		padding: 0 15px 0 0;
		margin: 0;
		width: 100%;

		.navbar-brand {
			padding: 0px !important;
		}

		#nav-project-name {
			font-size: 75%;
			padding: 0 10px;
		}

		.nav > li > a,
		.nav > li > .tds-nav-item {
			color: $color-text-inverse;
			background: $color-active-dark3;
			padding: 0 20px;
			line-height: 45px;
			display: inline-block;
		}
		.nav > li > a:hover {
			background: mix(black, $color-active-dark3, 10%);
		}

		.navbar-toggle {
			padding: 0 10px;
			line-height: 45px;
		}

		.user-navarea {
			position: absolute;
			right: 0;
			top: 0;

			i.licensing-error-warning {
				color: $color-warning-license--yellow;
				font-size: 18px;
			}
		}

		.tranman-menu-component {
			display: inline-block;
			.nav > li > a:hover:after {
				content: '';
				height: 3px;
				display: block;
				background-color: $color-active;
				position: absolute;
				bottom: 5px;
				left: 10px;
				right: 10px;
			}
		}
		.user-menu .user-menu-text {
			display: none;
		}

		.dropdown-menu > li > a:hover {
			color: $color-text-inverse;
			background: $color-active-light1;
		}
		li.user-menu {
			height: 45px;
			a {
				display: block;
				overflow: hidden;
				text-align: left;
				padding: 0 10px;

				.user-name {
					display: inline-block;
					border-radius: 50%;
					height: 30px;
					width: 30px;
					line-height: 32px;
					white-space: nowrap;
					background: #fff;
					color: $color-active;
					text-align: center;
				}
			}
			a:hover {
				.user-name {
					color: $color-active-dark1;
				}
			}
		}

		li.open > a {
			// override blue-skin css theme
			background: $color-active;
			color: $color-text-inverse;
		}

		.notifications-menu > a {
			padding: 10px;
		}
		.search-dialog-dropdown-menu {
			width: 400px;
		}
		.navbar-collapse {
			li.dropdown {
				div.menu-context-wrapper {
					margin-left: 5px;
					margin-right: 5px;
				}
			}
		}
		#mobile-nav {
			display: block;
		}

		@media (max-width: 1150px) {
			.nav > li > a {
				padding: 0 15px;
			}
		}
		@media (max-width: 1020px) {
			.nav > li > a {
				font-size: 90%;
			}
		}

		// mobile nav active
		@media (max-width: 991px) {
			.navbar-toggle {
				display: block;
			}
			#mobile-nav {
				display: none;
				position: fixed;
				width: 30%;
				min-width: 300px;
				bottom: 0;
				top: 45px;
				right: 0;
				text-align: right;
				overflow: auto;
				background-color: $color-active-dark3;
				font-weight: 400;

				.dropdown-menu {
					width: 100%;
					font-size: 85%;
					border: 0;
					border-radius: 0;
					padding: 0 0 10px 0;
					margin: 0;
					left: 0;
					right: 0;
					background: #fff;

					.divider {
						height: 1px;
						margin: 4px 0;
						background-color: #eee;
					}
				}
				.navbar-nav {
					margin: 0;
				}
				.user-navarea,
				.navbar-ul-container {
					position: relative;
					float: none;
					display: block;
				}

				.user-navarea {
					> ul {
						height: auto;
						text-align: right;
						padding: 0;
						float: none;

						li {
							height: auto;
							display: block;
							float: none;
							a {
								text-align: right;
								.user-menu-text {
									display: inline;
								}
								.user-name {
									display: none;
								}
							}
						}
						li.notifications-menu {
							display: none;
						}
						.dropdown-menu {
							position: relative;
						}
					}
				}

				li.dropdown {
					float: none;
					a {
						display: block;
						padding: 0 30px;
						line-height: 35px;
					}
					> .dropdown-menu {
						display: none;
						position: relative;
						float: none;
						text-align: right;
						a {
							line-height: 30px;
						}
					}
				}
				li.dropdown.open {
					> .dropdown-menu {
						display: block;
					}
				}
			}

			#mobile-nav.collapse.in {
				display: block;
			}
		}
	}
}
