<div>
	<div class="dependency-row">
		<div class="dependency-row-legend">Frequency</div>
		<div class="dependency-a">
			<kendo-dropdownlist
				(valueChange)="notifyChanges($event, DependencyType.dependencyA)"
				name="frequencyListA"
				[valuePrimitive]="true"
				[data]="frequencyList"
				[(ngModel)]="dependencies.a.dataFlowFreq"
			>
			</kendo-dropdownlist>
		</div>
		<div class="dependency-b">
			<kendo-dropdownlist
				(valueChange)="notifyChanges($event, DependencyType.dependencyB)"
				name="frequencyListB"
				[valuePrimitive]="true"
				[data]="frequencyList"
				[(ngModel)]="dependencies.b.dataFlowFreq"
			>
			</kendo-dropdownlist>
		</div>
	</div>
	<div class="dependency-row ">
		<div class="dependency-row-legend">Type</div>
		<div class="dependency-a">
			<kendo-dropdownlist
				name="typeListA"
				(valueChange)="notifyChanges($event, DependencyType.dependencyA)"
				[valuePrimitive]="true"
				[data]="typeList"
				[(ngModel)]="dependencies.a.type"
			>
			</kendo-dropdownlist>
		</div>
		<div class="dependency-b">
			<kendo-dropdownlist
				name="typeListB"
				(valueChange)="notifyChanges($event, DependencyType.dependencyB)"
				[valuePrimitive]="true"
				[data]="typeList"
				[(ngModel)]="dependencies.b.type"
			>
			</kendo-dropdownlist>
		</div>
	</div>
	<div class="dependency-row ">
		<div class="dependency-row-legend">Status</div>
		<div class="dependency-a">
			<kendo-dropdownlist
				(valueChange)="notifyChanges($event, DependencyType.dependencyA)"
				name="statusListA"
				[valuePrimitive]="true"
				[data]="statusList"
				[(ngModel)]="dependencies.a.status"
			>
			</kendo-dropdownlist>
		</div>
		<div class="dependency-b">
			<kendo-dropdownlist
				(valueChange)="notifyChanges($event, DependencyType.dependencyB)"
				name="statusListB"
				[valuePrimitive]="true"
				[data]="statusList"
				[(ngModel)]="dependencies.b.status"
			>
			</kendo-dropdownlist>
		</div>
	</div>
	<div class="dependency-row ">
		<div class="dependency-row-legend">Direction</div>
		<div class="dependency-a">
			<kendo-dropdownlist
				(valueChange)="notifyChanges($event, DependencyType.dependencyA)"
				name="directionListA"
				[valuePrimitive]="true"
				[data]="directionList"
				[(ngModel)]="dependencies.a.dataFlowDirection"
			>
			</kendo-dropdownlist>
		</div>
		<div class="dependency-b">
			<kendo-dropdownlist
				(valueChange)="notifyChanges($event, DependencyType.dependencyB)"
				name="directionListB"
				[valuePrimitive]="true"
				[data]="directionList"
				[(ngModel)]="dependencies.b.dataFlowDirection"
			>
			</kendo-dropdownlist>
		</div>
	</div>
	<div class="dependency-row ">
		<div class="dependency-row-legend">c1</div>
		<div class="dependency-a">
			<input
				clrInput
				type="text"
				name="c1A"
				[(ngModel)]="dependencies.a.c1"
				(ngModelChange)="notifyChanges($event, DependencyType.dependencyA)"
			/>
		</div>
		<div class="dependency-b">
			<input
				clrInput
				type="text"
				name="c1B"
				[(ngModel)]="dependencies.b.c1"
				(ngModelChange)="notifyChanges($event, DependencyType.dependencyB)"
			/>
		</div>
	</div>
	<div class="dependency-row ">
		<div class="dependency-row-legend">c2</div>
		<div class="dependency-a">
			<input
				clrInput
				type="text"
				name="c2A"
				[(ngModel)]="dependencies.a.c2"
				(ngModelChange)="notifyChanges($event, DependencyType.dependencyA)"
			/>
		</div>
		<div class="dependency-b">
			<input
				clrInput
				type="text"
				name="c2B"
				[(ngModel)]="dependencies.b.c2"
				(ngModelChange)="notifyChanges($event, DependencyType.dependencyB)"
			/>
		</div>
	</div>
	<div class="dependency-row ">
		<div class="dependency-row-legend">c3</div>
		<div class="dependency-a">
			<input
				clrInput
				type="text"
				name="c3A"
				[(ngModel)]="dependencies.a.c3"
				(ngModelChange)="notifyChanges($event, DependencyType.dependencyA)"
			/>
		</div>
		<div class="dependency-b">
			<input
				clrInput
				type="text"
				name="c3B"
				[(ngModel)]="dependencies.b.c3"
				(ngModelChange)="notifyChanges($event, DependencyType.dependencyB)"
			/>
		</div>
	</div>
	<div class="dependency-row">
		<div class="dependency-row-legend">c4</div>
		<div class="dependency-a">
			<input
				clrInput
				type="text"
				name="c4A"
				[(ngModel)]="dependencies.a.c4"
				(ngModelChange)="notifyChanges($event, DependencyType.dependencyA)"
			/>
		</div>
		<div class="dependency-b">
			<input
				clrInput
				type="text"
				name="c4B"
				[(ngModel)]="dependencies.b.c4"
				(ngModelChange)="notifyChanges($event, DependencyType.dependencyB)"
			/>
		</div>
	</div>
	<div class="dependency-row">
		<div class="dependency-row-legend">comment</div>
		<div class="dependency-a">
			<textarea
				clrTextarea
				name="commentA"
				[(ngModel)]="dependencies.a.comment"
				(ngModelChange)="notifyChanges($event, DependencyType.dependencyA)"
			></textarea>
		</div>
		<div class="dependency-b">
			<textarea
				clrTextarea
				name="commentB"
				[(ngModel)]="dependencies.b.comment"
				(ngModelChange)="notifyChanges($event, DependencyType.dependencyB)"
			></textarea>
		</div>
	</div>
</div>
