<div class="asset-explorer-view-show-component content body">
    <section class="page-asset-explorer-config">
        <div>
            <div class="btn-group"
                 *ngIf="canShowSaveButton()">
                <button tds-button
                        icon="floppy-o" class="btn"
                        (click)="save(getSaveButtonId())"
                        [ngClass]="{'btn-default':!isDirty(),'btn-success':isDirty()}"
                        [attr.id]="getSaveButtonId()">
                    {{ canSave() ? 'GLOBAL.SAVE' : 'GLOBAL.SAVE_AS' | translate }}
                </button>

                <button type="button" class="btn dropdown-toggle"
                        [ngClass]="{'btn-default':!isDirty(),'btn-success':isDirty()}"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>

                <ul class="dropdown-menu">
                    <!-- Save Button -->
                    <li *ngIf="canSave()">
                        <a (click)="onSave()">{{ 'GLOBAL.SAVE' | translate }}</a>
                    </li>
                    <li *ngIf="canSaveAs()">
                        <a (click)="onSaveAs()">{{ 'GLOBAL.SAVE_AS' | translate }}</a>
                    </li>
                </ul>
            </div>
            <button tds-button
                    [attr.icon]="model.isFavorite? 'star' : 'star-o'"
                    class="text-yellow tds-button-icon"
                    (click)="onFavorite()">
            </button>
            <button tds-button
                    icon="download"
                    class="btn btn-default"
                    (click)="onExport()"
                    id="btnExport">Export</button>
            <asset-explorer-view-selector
                    #select="assetExplorerViewSelector">
            </asset-explorer-view-selector>
            <button tds-button
                    icon="cog"
                    class="tds-button-icon pull-right"
                    *ngIf="isEditAvailable()"
                    (click)="onEdit()">
            </button>
        </div>
        <div class="box-body">
            <asset-explorer-view-grid
                    [data]=data
                    (modelChange)="onQuery()"
                    (justPlanningChange)="onJustPlanningChange($event)"
                    [gridState]="gridState"
                    (gridStateChange)="onGridStateChange($event)"
                    [fields]="fields"
                    [edit]="false"
                    [model]="model.schema"
                    [viewId]="model.id"
                    [metadata]="metadata">
            </asset-explorer-view-grid>
        </div>
    </section>
</div>