<div class="content body">
    <section class="page-asset-explorer-config">
        <div>
            <div class="btn-group"
                 *ngIf="model.id && (model.isOwner || (model.isSystem && (isSystemSaveAvailable(true) && isSystemSaveAvailable(false))));else saveButton">
                <button tds-button
                        icon="floppy-o"
                        (click)="save()"
                        [ngClass]="{'btn': true, 'btn-default':!isDirty() || !isSaveAsAvailable(),'btn-success':isDirty() && isSaveAsAvailable()}"
                        [attr.id]="getSaveButtonId()">
                    {{ (model.isOwner ? 'GLOBAL.SAVE' : 'GLOBAL.SAVE_AS') | translate }}
                </button>

                <button type="button" class="btn dropdown-toggle"
                        [ngClass]="{'btn-default':!isDirty() || !isSaveAsAvailable(),'btn-success':isDirty() && isSaveAsAvailable()}"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>

                <ul class="dropdown-menu">
                    <li *ngIf="isSystemSaveAvailable(true)">
                        <a (click)="onSave()">{{ 'GLOBAL.SAVE' | translate }}</a>
                    </li>
                    <li>
                        <a (click)="onSaveAs()">{{ 'GLOBAL.SAVE_AS' | translate }}</a>
                    </li>
                </ul>
            </div>
            <ng-template #saveButton>
	            <!--
                <button type="button" id="btnSave" *ngIf="model.isOwner || (model.isSystem && isSystemSaveAvailable(true))" [disabled]="!isSaveAvailable()"
                    class="btn" [ngClass]="{'btn-default':!isDirty() || !isSaveAsAvailable(),'btn-success':isDirty()}"
                    (click)="onSave()">
                    <i class="fa fa-fw fa-floppy-o"></i> {{ 'GLOBAL.SAVE' | translate }}</button>
                <button type="button" id="btnSaveAs" *ngIf="model.id && ((model.isSystem && isSystemSaveAvailable(false)) || (!model.isOwner && !model.isSystem))"
                    [disabled]="!isSaveAsAvailable()" class="btn" [ngClass]="{'btn-default':!isDirty() || !isSaveAsAvailable(),'btn-success':isDirty()}"
                    (click)="onSaveAs()">
                    <i class="fa fa-fw fa-floppy-o"></i> {{ 'GLOBAL.SAVE_AS' | translate }}</button>
                -->
            </ng-template>
            <span class="btn" (click)="onFavorite()" style="margin:0 10px;padding:0 10px;">
                <i style="font-size:20px;" [ngClass]="model.isFavorite? 'fa-star' : 'fa-star-o'" class="fa text-yellow"></i>
            </span>
            <button tds-button
                    icon="download"
                    class="btn btn-default"
                    (click)="onExport()"
                    [attr.id]="getSaveButtonId()">Export</button>
            <asset-explorer-view-selector
                    #select="assetExplorerViewSelector">
            </asset-explorer-view-selector>
            <span class="btn" (click)="onEdit()" *ngIf="isEditAvailable()" style="margin:0 10px;padding:5px 10px;float:right;">
                <i style="font-size:20px;" class="fa fa-cog"></i>
            </span>
        </div>
        <div class="box-body">
                <asset-explorer-view-grid
                                          [data]=data
                                          (modelChange)="onQuery()"
                                          (justPlanningChange)="onJustPlanningChange($event)"
                                          [gridState]="gridState"
                                          (gridStateChange)="onGridStateChange($event)"
                                          [fields]="fields"
                                          [edit]="false"
                                          [model]="model.schema"
                                          [viewId]="model.id"
                                          [metadata]="metadata">
                </asset-explorer-view-grid>
        </div>
    </section>
</div>