<div class="modal-content">
    <div class="modal-header">
        <button ng-click="requestLicense.cancelCloseDialog()" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title">Request New License</h4>
    </div>
    <div class="modal-body">
        <form name="newLicenseRequest" role="form" data-toggle="validator" class="form-horizontal left-alignment">
            <div class="box-body">
                <div class="form-group">
                    <label for="inputContactEmail" class="col-sm-3 control-label">Contact Email: <span class="required_field">*</span></label>
                    <div class="col-sm-9">
                        <input type="email" name="inputContactEmail" id="inputContactEmail" class="form-control" placeholder="Contact Email" ng-model="requestLicense.newLicenseModel.email" required autofocus>
                    </div>
                </div>
                <div class="form-group">
                    <label for="selectEnvironment" class="col-sm-3 control-label">Environment: <span class="required_field">*</span></label>
                    <div class="col-sm-9">
                        <select kendo-drop-down-list
                                k-placeholder="'Select an Environment'"
                                k-value-primitive="true"
                                k-value-template="'<span style=\'text-transform: capitalize;\'>#:((data)? data.toLowerCase(): \'\' )#</span>'"
                                k-template="'<span style=\'text-transform: capitalize;\'>#:((data)? data.toLowerCase(): \'\' )#</span>'"
                                k-data-source="requestLicense.environmentDataSource"
                                k-ng-model="requestLicense.newLicenseModel.environment"
                                id="selectEnvironment"
                                class="form-control"
                                required >
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="selectProject" class="col-sm-3 control-label">Project: <span class="required_field">*</span></label>
                    <div class="col-sm-9">
                        <select kendo-drop-down-list="requestLicense.selectProject"
                                k-options="requestLicense.selectProjectListOptions"
                                k-ng-model="requestLicense.newLicenseModel.projectId"
                                id="selectProject"
                                class="form-control"
                                required >
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Client Name:</label>
                    <div class="col-sm-9">
                        <label class="control-label">{{requestLicense.newLicenseModel.clientName}}</label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="selectSpecialInstructions" class="col-sm-12 control-label">Special Instructions and/or PO# reference:</label>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <textarea id="selectSpecialInstructions" class="form-control" rows="3" placeholder="" ng-model="requestLicense.newLicenseModel.requestNote"></textarea>
                    </div>
                </div>
            </div><!-- /.box-body -->
        </form>
    </div>
    <div class="modal-footer" class="form-group">
        <button ng-click="requestLicense.saveLicenseRequest()" type="submit" class="btn btn-primary pull-left" ng-disabled="newLicenseRequest.$invalid || requestLicense.newLicenseModel.environmentId === 0 || requestLicense.newLicenseModel.projectId === 0"><span class="glyphicon glyphicon-share-alt"></span> Submit Request</button>
        <button ng-click="requestLicense.cancelCloseDialog()" type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-ban-circle"></span> Cancel</button>
    </div>
</div>