<div class="modal fade in model-device-show-component" tds-handle-escape (escPressed)="cancelCloseDialog()" id="model-device-show-component" data-backdrop="static"
     tabindex="-1" role="dialog">
		<div class="modal-dialog modal-sm" role="document">
			<div class="tds-modal-content">
				<div class="modal-header">
					<button (click)="cancelCloseDialog()" type="button" class="close" aria-label="Close">
						<clr-icon aria-hidden="true" shape="close"></clr-icon>
					</button>
					<h4 class="modal-title">Model Detail</h4>
				</div>
				<div class="modal-body">
					<div class="modal-body-container">
						<div class="box-body">
							<div class="row">
								<div class="form-group">
									<div class="col-md-6">Manufacturer:</div>
									<div class="col-md-6">{{deviceModel.manufacturer}}</div>
								</div>
							</div>
							<div class="row">
								<div class="form-group">
									<div class="col-md-6">Model Name:</div>
									<div class="col-md-6">{{deviceModel.modelName}}</div>
								</div>
							</div>
							<div class="row">
								<div class="form-group">
									<div class="col-md-6">AKA:</div>
									<div class="col-md-6">{{deviceModel.aka}}</div>
								</div>
							</div>
							<div class="row">
								<div class="form-group">
									<div class="col-md-6">Asset Type:</div>
									<div class="col-md-6">{{deviceModel.assetType}}</div>
								</div>
							</div>
							<div class="row">
								<div class="form-group">
									<div class="col-md-6">Usize:</div>
									<div class="col-md-6">{{deviceModel.usize}}</div>
								</div>
							</div>
							<div class="row">
								<div class="form-group">
									<div class="col-md-6">Power(max/design/avg):</div>
									<div class="col-md-6">
										{{deviceModel.powerNameplate}}/{{deviceModel.powerUse}}/{{deviceModel.powerDesign}}
									</div>
								</div>
							</div>
							<div class="row">
								<div class="form-group">
									<div class="col-md-6">CPU Type:</div>
									<div class="col-md-6">{{deviceModel.cpuType}}</div>
								</div>
							</div>
							<div class="row">
								<div class="form-group">
									<div class="col-md-6">CPU Count:</div>
									<div class="col-md-6">{{deviceModel.cpuCount}}</div>
								</div>
							</div>
							<div class="row">
								<div class="form-group">
									<div class="col-md-6">Memory Size:</div>
									<div class="col-md-6">{{deviceModel.memorySize}}</div>
								</div>
							</div>
							<div class="row">
								<div class="form-group">
									<div class="col-md-6">Storage Size:</div>
									<div class="col-md-6">{{deviceModel.storageSize}}</div>
								</div>
							</div>
							<div class="row">
								<div class="form-group">
									<div class="col-md-6">Source TDS:</div>
									<div class="col-md-6">										
										<clr-checkbox-wrapper class="inline">
											<input
												clrCheckbox
												type="checkbox"
												name="sourceTDS"
												disabled="disabled"
												[checked]="deviceModel.sourceTDS"
											/>
										</clr-checkbox-wrapper>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer form-group-center">
					<input name="id" type="hidden" id="show_modelId" value="{{deviceModel.id}}">
					<tds-button theme="primary" [disabled]="!canEditModel()" (click)="onEditModel()" icon="edit">Edit</tds-button>
					<tds-button (click)="cancelCloseDialog()" icon="ban">Close</tds-button>
				</div>
			</div>
		</div>
</div>
